Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2018-09, with the labels that each got.

#27 add rsource of alarm rule
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_ces_alarmrule.go
  huaweicloud/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/utils.go
  vendor/github.com/huaweicloud/golangsdk/.gitignore
  vendor/github.com/huaweicloud/golangsdk/.travis.yml
  vendor/github.com/huaweicloud/golangsdk/.zuul.yaml
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/auth_option_provider.go
  vendor/github.com/huaweicloud/golangsdk/auth_options.go
  vendor/github.com/huaweicloud/golangsdk/errors.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cloudeyeservice/alarmrule/urls.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/github.com/huaweicloud/golangsdk/results.go
  vendor/github.com/huaweicloud/golangsdk/signer_helper.go
  vendor/vendor.json
  website/docs/r/ces_alarmrule.html.markdown
  website/huaweicloud.erb
Labels: size/XXL

#29 add resource of as config
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_as_configuration_v1.go
  huaweicloud/resource_huaweicloud_as_configuration_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/.gitignore
  vendor/github.com/huaweicloud/golangsdk/.travis.yml
  vendor/github.com/huaweicloud/golangsdk/.zuul.yaml
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/configurations/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/urls.go
  vendor/vendor.json
  website/docs/r/as_configuration_v1.html.markdown
  website/huaweicloud.erb
Labels: size/XL

#30 add resource of as group
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_as_group_v1.go
  huaweicloud/resource_huaweicloud_as_group_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/instances/urls.go
  vendor/vendor.json
  website/docs/r/as_group_v1.html.markdown
  website/huaweicloud.erb
Labels: size/XL

#32 remove validate func of alarm rule
  huaweicloud/resource_huaweicloud_ces_alarmrule.go
Labels: size/L

#34 fix acc test of as
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_as_configuration_v1.go
  huaweicloud/resource_huaweicloud_as_configuration_v1_test.go
  huaweicloud/resource_huaweicloud_as_group_v1_test.go
  huaweicloud/resource_huaweicloud_as_policy_v1_test.go
Labels: size/S

#36 Add tenant_name config when AKSK authentication
  README.md
  huaweicloud/config.go
  vendor/github.com/huaweicloud/golangsdk/.gitignore
  vendor/github.com/huaweicloud/golangsdk/.travis.yml
  vendor/github.com/huaweicloud/golangsdk/.zuul.yaml
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: size/M

#39 [Bug-Fix] cannot find the global service bug
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: size/XS

#40 Update CHANGELOG for 1.2.0
  CHANGELOG.md
Labels: size/XS

#43 Modify Volume delete interface
  huaweicloud/import_huaweicloud_blockstorage_volume_v2_test.go
  huaweicloud/resource_huaweicloud_blockstorage_volume_v2.go
  vendor/github.com/huaweicloud/golangsdk/openstack/blockstorage/v2/volumes/requests.go
  vendor/vendor.json
  website/docs/r/blockstorage_volume_v2.html.markdown
Labels: size/M
