Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2019-12, with the labels that each got.

#241 Add validation for some resource attributes and optimize example usage
  huaweicloud/data_source_huaweicloud_images_image_v2.go
  huaweicloud/resource_huaweicloud_networking_secgroup_rule_v2.go
  website/docs/d/images_image_v2.html.markdown
  website/docs/r/networking_network_v2.html.markdown
  website/docs/r/rds_instance_v1.html.markdown
Labels: documentation, size/M

#240 Add availability zones data source
  huaweicloud/data_source_huaweicloud_compute_availability_zones_v2.go
  huaweicloud/data_source_huaweicloud_compute_availability_zones_v2_test.go
  huaweicloud/provider.go
  website/docs/d/compute_availability_zones_v2.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/L

#243 Add kms_id to as configuration
  huaweicloud/resource_huaweicloud_as_configuration_v1.go
  website/docs/r/as_configuration_v1.html.markdown
Labels: documentation, size/S

#248 [Feature]Support new RDS resources and data sources with API v3
  huaweicloud/config.go
  huaweicloud/custom_functions.go
  huaweicloud/data_source_huaweicloud_rds_flavors_v3.go
  huaweicloud/data_source_huaweicloud_rds_flavors_v3_test.go
  huaweicloud/import_huaweicloud_rds_instance_v3_test.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_rds_configuration_v3.go
  huaweicloud/resource_huaweicloud_rds_configuration_v3_test.go
  huaweicloud/resource_huaweicloud_rds_instance_v3.go
  huaweicloud/resource_huaweicloud_rds_instance_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v3/backups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v3/backups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v3/backups/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v3/configurations/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v3/configurations/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/rds/v3/configurations/urls.go
  website/docs/d/rds_flavors_v3.html.markdown
  website/docs/r/rds_instance_v3.html.markdown
  website/docs/r/rds_parametergroup_v3.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XXL

#249 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#251 Add pci_address to compute_volume_attach_v2
  huaweicloud/resource_huaweicloud_compute_volume_attach_v2.go
  website/docs/r/compute_volume_attach_v2.html.markdown
Labels: documentation, size/XS

#250 Pull Request form as-bugfix to master
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_as_group_v1.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/requests.go
  website/docs/r/as_group_v1.html.markdown
Labels: dependencies, documentation, size/S

#253 Add support for compute_instance to specify deh host
  huaweicloud/resource_huaweicloud_compute_instance_v2.go
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/XS

#254 Update usages of huaweicloud_as_group
  website/docs/r/as_group_v1.html.markdown
  website/docs/r/lb_monitor_v2.html.markdown
  website/docs/r/networking_vip_associate_v2.html.markdown
Labels: documentation, size/M

#256 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#257 updage ubuntu dist and go version in travis ci
  .travis.yml
Labels: size/XS
