Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2019-05, with the labels that each got.

#115 Fix cce node eip_count issue
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: size/XS

#116 Add pre check of DWS env for acc tests
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_dws_cluster_test.go
Labels: size/XS

#117 Add pre check of MRS env for acc tests
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_mls_instance_test.go
  huaweicloud/resource_huaweicloud_mrs_cluster_v1_test.go
  huaweicloud/resource_huaweicloud_mrs_job_v1_test.go
Labels: size/XS

#119 Add pre check of DMS env for acc tests
  huaweicloud/data_source_huaweicloud_dms_az_v1_test.go
  huaweicloud/data_source_huaweicloud_dms_maintainwindow_v1_test.go
  huaweicloud/data_source_huaweicloud_dms_product_v1_test.go
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_dms_group_v1_test.go
  huaweicloud/resource_huaweicloud_dms_instance_v1_test.go
  huaweicloud/resource_huaweicloud_dms_queue_v1_test.go
Labels: size/XS

#120 Add pre check of NAT env for acc tests
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_nat_gateway_v2_test.go
  huaweicloud/resource_huaweicloud_nat_snat_rule_v2_test.go
Labels: size/XS

#121 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#122 Fix images test issue in ak/sk scenario
  huaweicloud/data_source_huaweicloud_images_image_v2_test.go
  huaweicloud/import_huaweicloud_images_image_v2_test.go
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_images_image_v2_test.go
Labels: size/XS

#123 Add pre check of KMS env for acc tests
  huaweicloud/data_source_huaweicloud_kms_data_key_v1_test.go
  huaweicloud/data_source_huaweicloud_kms_key_v1_test.go
  huaweicloud/import_huaweicloud_kms_key_v1_test.go
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_kms_key_v1_test.go
Labels: size/XS

#124 Fix OBS bucket domain name
  huaweicloud/resource_huaweicloud_s3_bucket.go
  huaweicloud/resource_huaweicloud_s3_bucket_test.go
Labels: size/XS

#125 Fix CCE cluster wait state error
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
Labels: size/XS

#126 Fix acc tests
  huaweicloud/data_source_huaweicloud_dms_az_v1_test.go
  huaweicloud/data_source_huaweicloud_rds_flavors_v1_test.go
  huaweicloud/resource_huaweicloud_mls_instance_test.go
  huaweicloud/resource_huaweicloud_rds_instance_v1_test.go
Labels: size/XS

#127 Add private/public IP attributes to CCE node
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
Labels: size/XS

#129 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#130 Update docs of the CCE node
  website/docs/r/cce_nodes_v3.html.md
Labels: documentation, size/XS

#128 add resource of cdm cluster
  huaweicloud/config.go
  huaweicloud/custom_functions.go
  huaweicloud/data_source_huaweicloud_cdm_flavors_v1.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_cdm_cluster_v1.go
  huaweicloud/resource_huaweicloud_cdm_cluster_v1_test.go
  huaweicloud/resource_huaweicloud_dws_cluster.go
  huaweicloud/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/resource_huaweicloud_mls_instance.go
  huaweicloud/resource_huaweicloud_mls_instance_test.go
  huaweicloud/transport.go
  website/docs/d/cdm_flavors_v1.html.markdown
  website/docs/r/cdm_cluster_v1.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XXL

#131 add resource of Ges graph
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_ges_graph_v1.go
  huaweicloud/resource_huaweicloud_ges_graph_v1_test.go
  website/docs/r/ges_graph_v1.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XXL

#133 Cts cluster
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_cloudtable_cluster_v2.go
  huaweicloud/resource_huaweicloud_cloudtable_cluster_v2_test.go
  huaweicloud/transport.go
  website/docs/r/cloudtable_cluster_v2.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XXL
