Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2019-09, with the labels that each got.

#200 Add DNS Ptr record support
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_dns_ptrrecord_v2.go
  huaweicloud/resource_huaweicloud_dns_ptrrecord_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/ptrrecords/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/ptrrecords/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/ptrrecords/urls.go
  vendor/modules.txt
  website/docs/r/dns_ptrrecord_v2.html.markdown
Labels: dependencies, documentation, size/XL

#201 Update CCE node docs
  website/docs/r/cce_nodes_v3.html.md
Labels: documentation, size/XS

#202 Make ECS instance prePaid auto pay
  huaweicloud/resource_huaweicloud_ecs_instance_v1.go
Labels: size/XS

#204 Update ELB v1 client
  huaweicloud/config.go
Labels: size/XS

#205 Revert "Update ELB v1 client"
  huaweicloud/config.go
Labels: size/XS

#203 Add Shared Bandwidth V2 support
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_vpc_bandwidth_v2.go
  huaweicloud/resource_huaweicloud_vpc_bandwidth_v2_test.go
  huaweicloud/validators.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/bandwidths/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/bandwidths/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/bandwidths/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/bandwidths/urls.go
  vendor/modules.txt
  website/docs/r/vpc_bandwidth_v2.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XL

#206 Update ELB v1 client
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/modules.txt
Labels: dependencies, size/XS

#207 Fix ELB job issue
  go.mod
  go.sum
  huaweicloud/elb_utils.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/elb/job.go
  vendor/modules.txt
Labels: dependencies, size/XS

#208 Add share bandwidth support for EIP
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_vpc_eip_v1.go
  huaweicloud/resource_huaweicloud_vpc_eip_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/eips/requests.go
  vendor/modules.txt
  website/docs/r/vpc_eip_v1.html.markdown
Labels: dependencies, documentation, size/M

#210 Fix argument reference description in bandwidth block
  website/docs/r/vpc_eip_v1.html.markdown
Labels: documentation, size/XS

#211 Add LB certificates
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_lb_certificate_v2.go
  huaweicloud/resource_huaweicloud_lb_certificate_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dcs/v1/instances/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dms/v1/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dms/v1/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dms/v1/instances/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/subnets/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/subnets/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/natgateways/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/natgateways/results.go
  vendor/modules.txt
  website/docs/r/lb_certificate_v2.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XXL

#212 Add Networking vip resource
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_networking_port_v2.go
  huaweicloud/resource_huaweicloud_networking_vip_associate_v2.go
  huaweicloud/resource_huaweicloud_networking_vip_associate_v2_test.go
  huaweicloud/resource_huaweicloud_networking_vip_v2.go
  huaweicloud/resource_huaweicloud_networking_vip_v2_test.go
  website/docs/r/networking_vip_associate_v2.html.markdown
  website/docs/r/networking_vip_v2.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XL

#213 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
