Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2019-11, with the labels that each got.

#222 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#223 Add huaweicloud_cdn_domain_v1 resource and docs
  go.mod
  go.sum
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_cdn_domain.go
  huaweicloud/resource_huaweicloud_cdn_domain_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cdn/v1/domains/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cdn/v1/domains/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cdn/v1/domains/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  website/docs/r/cdn_domain_v1.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XL

#224 Support update for cdn domain
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cdn_domain.go
  huaweicloud/resource_huaweicloud_cdn_domain_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cdn/v1/domains/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cdn/v1/domains/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cdn/v1/domains/urls.go
  website/docs/r/cdn_domain_v1.html.markdown
Labels: dependencies, documentation, size/L

#225 Fix two bugs for terraform-provider-huaweicloud
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_compute_instance_v2.go
  huaweicloud/util.go
  vendor/github.com/Unknwon/com/.travis.yml
  vendor/github.com/unknwon/com/.gitignore
  vendor/github.com/unknwon/com/.travis.yml
  vendor/github.com/unknwon/com/LICENSE
  vendor/github.com/unknwon/com/README.md
  vendor/github.com/unknwon/com/cmd.go
  vendor/github.com/unknwon/com/convert.go
  vendor/github.com/unknwon/com/dir.go
  vendor/github.com/unknwon/com/file.go
  vendor/github.com/unknwon/com/go.mod
  vendor/github.com/unknwon/com/go.sum
  vendor/github.com/unknwon/com/html.go
  vendor/github.com/unknwon/com/http.go
  vendor/github.com/unknwon/com/math.go
  vendor/github.com/unknwon/com/path.go
  vendor/github.com/unknwon/com/regex.go
  vendor/github.com/unknwon/com/slice.go
  vendor/github.com/unknwon/com/string.go
  vendor/github.com/unknwon/com/time.go
  vendor/github.com/unknwon/com/url.go
  vendor/modules.txt
Labels: dependencies, size/L

#226 Fix PrePaid ECS instance issue
  go.mod
  go.sum
  huaweicloud/config.go
  huaweicloud/resource_huaweicloud_ecs_instance_v1.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/clusters/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/results_order.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/urls.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/modules.txt
Labels: dependencies, size/XL

#227 Fix lb_member example
  website/docs/r/lb_member_v2.html.markdown
Labels: documentation, size/XS

#228 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#231 Fix ecs instance prepaid issue
  go.mod
  go.sum
  huaweicloud/config.go
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/modules.txt
Labels: dependencies, size/XS

#233 Add VPC ids data source
  huaweicloud/data_source_huaweicloud_vpc_ids_v1.go
  huaweicloud/data_source_huaweicloud_vpc_ids_v1_test.go
  huaweicloud/provider.go
Labels: size/M

#234 Fix KMS client issue
  huaweicloud/config.go
Labels: size/XS

#237 Clean up unsupported availability_zone_hints
  huaweicloud/data_source_huaweicloud_networking_network_v2.go
  huaweicloud/resource_huaweicloud_networking_network_v2.go
  huaweicloud/resource_huaweicloud_networking_router_v2.go
  huaweicloud/util.go
  website/docs/d/networking_network_v2.html.markdown
  website/docs/r/networking_network_v2.html.markdown
  website/docs/r/networking_router_v2.html.markdown
Labels: documentation, size/M

#238 Add lbaas_listeners to as_group_v1
  huaweicloud/resource_huaweicloud_as_group_v1.go
  huaweicloud/resource_huaweicloud_as_group_v1_test.go
  website/docs/r/as_group_v1.html.markdown
Labels: documentation, size/M

#239 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
