Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2019-06, with the labels that each got.

#132 Css cluster
  huaweicloud/custom_functions.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_css_cluster_v1.go
  huaweicloud/resource_huaweicloud_css_cluster_v1_test.go
  website/docs/r/css_cluster_v1.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XXL

#134 Dis stream
  huaweicloud/custom_functions.go
  huaweicloud/data_source_huaweicloud_dis_partition_v2.go
  huaweicloud/data_source_huaweicloud_dis_partition_v2_test.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_dis_stream_v2.go
  huaweicloud/resource_huaweicloud_dis_stream_v2_test.go
  website/docs/d/dis_partition_v2.html.markdown
  website/docs/r/dis_stream_v2.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XXL

#135 fix test and update cdm
  huaweicloud/resource_huaweicloud_cdm_cluster_v1.go
  huaweicloud/resource_huaweicloud_cloudtable_cluster_v2_test.go
Labels: size/M

#136 Fix role assignment bug
  huaweicloud/resource_huaweicloud_identity_role_assignment_v3.go
  huaweicloud/resource_huaweicloud_identity_role_assignment_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/results.go
  vendor/vendor.json
Labels: dependencies, size/M

#139 Update README for terraform 0.12
  README.md
Labels: size/XS

#140 Use new RDS v1 client
  huaweicloud/config.go
  huaweicloud/resource_huaweicloud_rds_instance_v1_test.go
Labels: size/XS

#141 Use new SMN v2 client
  huaweicloud/config.go
Labels: size/XS

#142 Update CCE client
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/modules.txt
Labels: dependencies, size/XS

#143 Update SFS client
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/modules.txt
Labels: dependencies, size/XS

#144 Update CSBS client
  huaweicloud/config.go
Labels: size/XS

#145 Fix cce node os option issue
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: size/XS

#146 Update ELB client
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/modules.txt
Labels: dependencies, size/XS

#147 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#148 Fix vpc subnet delete issue
  huaweicloud/resource_huaweicloud_vpc_subnet_v1.go
Labels: size/XS

#149 Terraform v0.12 TypeMap Fixes
  huaweicloud/data_source_huaweicloud_csbs_backup_policy_v1_test.go
  huaweicloud/data_source_huaweicloud_csbs_backup_v1_test.go
  huaweicloud/resource_huaweicloud_blockstorage_volume_v2_test.go
  huaweicloud/resource_huaweicloud_compute_instance_v2_test.go
  huaweicloud/resource_huaweicloud_csbs_backup_policy_v1_test.go
  huaweicloud/resource_huaweicloud_csbs_backup_v1_test.go
  huaweicloud/resource_huaweicloud_s3_bucket_test.go
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/S

#150 Fix arguments/attributes declaration with terraform 0.12
  huaweicloud/data_source_huaweicloud_cce_nodes_v3_test.go
  huaweicloud/resource_huaweicloud_as_configuration_v1_test.go
  huaweicloud/resource_huaweicloud_as_group_v1_test.go
  huaweicloud/resource_huaweicloud_as_policy_v1_test.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
  huaweicloud/resource_huaweicloud_css_cluster_v1_test.go
  website/docs/r/as_configuration_v1.html.markdown
  website/docs/r/as_policy_v1.html.markdown
  website/docs/r/cce_nodes_v3.html.md
  website/docs/r/css_cluster_v1.html.markdown
  website/docs/r/rds_instance_v1.html.markdown
  website/docs/r/rts_stack_v1.html.md
Labels: documentation, size/L

#151 Add Link for DMS in SideBar Navigation
  website/huaweicloud.erb
Labels: documentation, size/XS

#152 Add networking_port data source
  huaweicloud/data_source_huaweicloud_networking_port_v2.go
  huaweicloud/data_source_huaweicloud_networking_port_v2_test.go
  huaweicloud/provider.go
  huaweicloud/util.go
  website/docs/d/networking_port_v2.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XL
