Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2019-01, with the labels that each got.

#69 add resource of dws
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_dws_cluster.go
  huaweicloud/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/transport.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
  website/docs/r/dws_cluster.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XXL

#71 support using agency authorized by AKSK
  huaweicloud/config.go
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/auth_options.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/agency/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/roles/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/identity/v3/tokens/requests.go
  vendor/vendor.json
Labels: dependencies, size/XL

#70 add resource of mls instance
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_mls_instance.go
  huaweicloud/resource_huaweicloud_mls_instance_test.go
  website/docs/r/mls_instance.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XL

#72 Update CHANGELOG
  CHANGELOG.md
Labels: size/S

#73 Modify cce cluster and node parameters name
  huaweicloud/data_source_huaweicloud_cce_cluster_v3.go
  huaweicloud/data_source_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/data_source_huaweicloud_cce_nodes_v3.go
  huaweicloud/data_source_huaweicloud_cce_nodes_v3_test.go
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/resource_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
  website/docs/d/cce_cluster_v3.html.md
  website/docs/d/cce_nodes_v3.html.md
  website/docs/r/cce_cluster_v3.html.md
  website/docs/r/cce_nodes_v3.html.md
Labels: documentation, size/M

#76 Update golangsdk vendor
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/vendor.json
Labels: dependencies, size/XS

#77 fix don't check authored by token
  vendor/github.com/huaweicloud/golangsdk/auth_options.go
  vendor/vendor.json
Labels: dependencies, size/XS

#78 support authorized by token + agency
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/vendor.json
Labels: dependencies, size/M

#79 Add forcenew flag in dcs resource.
  huaweicloud/resource_huaweicloud_dcs_instance_v1.go
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/S
