Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2019-02, with the labels that each got.

#80 add multi router support for dns zone
  huaweicloud/resource_huaweicloud_dns_zone_v2.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/zones/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/zones/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/zones/urls.go
  website/docs/r/dns_zone_v2.html.markdown
Labels: dependencies, documentation, size/XL

#86 Fix default security group error
  huaweicloud/resource_huaweicloud_compute_instance_v2.go
Labels: size/XS

#87 Fix dns records update error
  huaweicloud/resource_huaweicloud_dns_recordset_v2.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dns/v2/recordsets/requests.go
  vendor/vendor.json
Labels: dependencies, size/XS

#85 refactor the way of authentication
  huaweicloud/config.go
  vendor/github.com/huaweicloud/golangsdk/auth_aksk_options.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/endpoint_location.go
  vendor/github.com/huaweicloud/golangsdk/provider_client.go
  vendor/github.com/huaweicloud/golangsdk/signer_helper.go
  vendor/vendor.json
  website/docs/index.html.markdown
  website/docs/r/identity_group_membership_v3.html.markdown
  website/docs/r/identity_group_v3.html.markdown
  website/docs/r/identity_project_v3.html.markdown
  website/docs/r/identity_role_assignment_v3.html.markdown
  website/docs/r/identity_user_v3.html.markdown
Labels: dependencies, documentation, size/XL

#89 Update CCE cluster docs
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/S

#90 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
