Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2020-03, with the labels that each got.

#269 Bugfix for cce_node and data.huaweicloud_networking_network_v2
  go.mod
  go.sum
  huaweicloud/data_source_huaweicloud_networking_network_v2_test.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/modules.txt
  website/docs/r/cce_nodes_v3.html.md
Labels: dependencies, documentation, size/L

#270 Add huaweicloud_api_gateway_group and huaweicloud_api_gateway_api resources
  go.mod
  go.sum
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_api_gateway_api.go
  huaweicloud/resource_huaweicloud_api_gateway_api_test.go
  huaweicloud/resource_huaweicloud_api_gateway_group.go
  huaweicloud/resource_huaweicloud_api_gateway_group_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/apigw/apis/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/apigw/apis/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/apigw/apis/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/apigw/groups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/apigw/groups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/apigw/groups/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/cluster/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/mrs/v1/cluster/results.go
  vendor/modules.txt
  website/docs/r/api_gateway_api.html.markdown
  website/docs/r/api_gateway_group.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XXL

#271 Add Function resource support
  go.sum
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_fgs_function_v2.go
  huaweicloud/resource_huaweicloud_fgs_function_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/fgs/v2/function/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/fgs/v2/function/urls.go
  vendor/modules.txt
  website/docs/r/fgs_function_v2.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XL

#272 Update Website
  website/huaweicloud.erb
Labels: documentation, size/XXL

#273 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#274 Suppress diffs for snat rule floating_ip_id
  huaweicloud/diff_suppress_funcs.go
  huaweicloud/resource_huaweicloud_nat_snat_rule_v2.go
Labels: size/XS

#275 Fix removing FW rule assigned to FW policy
  huaweicloud/resource_huaweicloud_fw_rule_v2.go
Labels: size/S

#276 Fix ecs instance delete issue
  huaweicloud/resource_huaweicloud_ecs_instance_v1.go
Labels: size/XS

#279 Add authenticatingProxy.ca support for CCE cluster
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#280 Add subnet_id support to CCE node
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/modules.txt
  website/docs/r/cce_nodes_v3.html.md
Labels: dependencies, documentation, size/S

#289 Add huaweicloud_evs_snapshot resource and docs
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_evs_snapshot.go
  huaweicloud/resource_huaweicloud_evs_snapshot_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v2/snapshots/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v2/snapshots/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v2/snapshots/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/evs/v2/snapshots/util.go
  vendor/modules.txt
  website/docs/r/evs_snapshot.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XL

#282 password param of cce_node must be salted
  website/docs/r/cce_nodes_v3.html.md
Labels: documentation, size/XS
