Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2020-05, with the labels that each got.

#314 set sensitive flag for password parameter
  huaweicloud/resource_huaweicloud_dcs_instance_v1.go
  huaweicloud/resource_huaweicloud_dds_instance_v3.go
  huaweicloud/resource_huaweicloud_dms_instance_v1.go
  huaweicloud/resource_huaweicloud_mls_instance.go
  huaweicloud/resource_huaweicloud_rds_instance_v3.go
Labels: size/S

#318 Update example for image data source
  website/docs/d/images_image_v2.html.markdown
Labels: documentation, size/XS

#315 support tags in vpc resource and subnet resource
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_vpc_subnet_v1.go
  huaweicloud/resource_huaweicloud_vpc_subnet_v1_test.go
  huaweicloud/resource_huaweicloud_vpc_v1.go
  huaweicloud/resource_huaweicloud_vpc_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v1/tags/urls.go
  website/docs/r/vpc_subnet_v1.html.md
  website/docs/r/vpc_v1.html.markdown
Labels: dependencies, documentation, size/XL

#319 Fix cdn resource missing issue
  huaweicloud/provider.go
Labels: size/XS

#320 make resource tags as a common method in provider
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_vpc_subnet_v1.go
  huaweicloud/resource_huaweicloud_vpc_subnet_v1_test.go
  huaweicloud/resource_huaweicloud_vpc_v1.go
  huaweicloud/resource_huaweicloud_vpc_v1_test.go
  huaweicloud/tags.go
  vendor/github.com/huaweicloud/golangsdk/openstack/common/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/common/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/common/tags/urls.go
  vendor/modules.txt
Labels: dependencies, size/L

#324 Clean up unneeded parameters
  huaweicloud/config.go
  huaweicloud/lb_v2_shared.go
  huaweicloud/provider.go
  website/docs/index.html.markdown
Labels: documentation, size/M

#328 Make auth_url optional
  huaweicloud/provider.go
  website/docs/index.html.markdown
Labels: documentation, size/XS

#329 Following up patch of e5d9a6779289bf9ddcd95000403c5e778b8f038c
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/provider_test.go
Labels: size/XS

#330 Use region as tenant_name if not set
  huaweicloud/provider.go
Labels: size/XS

#333 Update docs for Authentication
  huaweicloud/provider.go
  website/docs/index.html.markdown
Labels: documentation, size/L
