Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2020-06, with the labels that each got.

#332 ignore error when fetching tags failed in ReadFunc
  huaweicloud/resource_huaweicloud_vpc_subnet_v1.go
  huaweicloud/resource_huaweicloud_vpc_v1.go
Labels: size/S

#334 Following up patch of 7323c4d75f79bcc7a59ab591a0cb7d78d6d49fe7
  website/docs/index.html.markdown
Labels: documentation, size/S

#336 Fix DCS document issue
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/XS

#335 Validate parameters of huaweicloud provider
  huaweicloud/config.go
  huaweicloud/provider.go
Labels: size/S

#338 Update documentation of binding EIP to LB
  website/docs/r/lb_loadbalancer_v2.html.markdown
Labels: documentation, size/XS

#339 make OS_DEBUG together with TF_LOG
  huaweicloud/config.go
  website/docs/index.html.markdown
Labels: documentation, size/S

#340 Update DCS documentations
  huaweicloud/data_source_huaweicloud_dcs_az_v1_test.go
  website/docs/d/dcs_az_v1.html.markdown
  website/docs/d/dcs_product_v1.html.markdown
  website/docs/index.html.markdown
Labels: documentation, size/S

#341 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#342 support routes attribute in vpc resource
  huaweicloud/resource_huaweicloud_vpc_v1.go
  website/docs/r/vpc_v1.html.markdown
Labels: documentation, size/S

#344 Support some attributes in as group
  huaweicloud/resource_huaweicloud_as_group_v1.go
  website/docs/r/as_group_v1.html.markdown
Labels: documentation, size/XS

#343 support ssl parameter in dds instance resource
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_dds_instance_v3.go
  huaweicloud/resource_huaweicloud_dds_instance_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/common/tags/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/instances/results.go
  vendor/modules.txt
  website/docs/r/dds_instance_v3.html.markdown
Labels: dependencies, documentation, size/M

#345 Remove Computed from annotations of cce node
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: size/XS

#348 fix document bug for rds instance v3
  website/docs/r/rds_instance_v3.html.markdown
Labels: documentation, size/XS

#347 Add geminidb_instance resource and docs
  go.mod
  go.sum
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_geminidb_instance_v3.go
  huaweicloud/resource_huaweicloud_geminidb_instance_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/common/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/geminidb/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/geminidb/v3/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/geminidb/v3/instances/urls.go
  vendor/modules.txt
  website/docs/r/geminidb_instance.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XXL

#349 add port and nodes attributes for dds instance
  huaweicloud/resource_huaweicloud_dds_instance_v3.go
  website/docs/r/dds_instance_v3.html.markdown
Labels: documentation, size/M

#350 Add gaussdb instance resource and docs
  go.mod
  go.sum
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/common/structs/structs.go
  vendor/github.com/huaweicloud/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/taurusdb/v3/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/taurusdb/v3/instances/urls.go
  vendor/modules.txt
  website/docs/r/gaussdb_instance.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XXL
