Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2020-07, with the labels that each got.

#353 Add OpenGauss instance support
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_opengaussdb_instance_v3.go
  huaweicloud/resource_huaweicloud_opengaussdb_instance_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/.travis.yml
  vendor/github.com/huaweicloud/golangsdk/openstack/opengauss/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/opengauss/v3/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/opengauss/v3/instances/urls.go
  vendor/modules.txt
  website/docs/r/opengaussdb_instance.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XXL

#356 Add volume size update support for OpenGauss instance
  go.mod
  go.sum
  huaweicloud/config.go
  huaweicloud/resource_huaweicloud_opengaussdb_instance_v3.go
  vendor/github.com/huaweicloud/golangsdk/openstack/opengauss/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/opengauss/v3/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/opengauss/v3/instances/urls.go
  vendor/modules.txt
  website/docs/r/opengaussdb_instance.html.markdown
Labels: dependencies, documentation, size/M

#352 improve usage of data source vpc_subnet_ids_v1
  website/docs/d/vpc_subnet_ids_v1.html.md
Labels: documentation, size/XS

#355 improvement on dds flavors data source
  huaweicloud/data_source_huaweicloud_dds_flavors_v3.go
  huaweicloud/data_source_huaweicloud_dds_flavors_v3_test.go
  website/docs/d/dds_flavors_v3.html.markdown
Labels: documentation, size/L

#358 Add opengauss instance expand cluster support
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/resource_huaweicloud_opengaussdb_instance_v3.go
  huaweicloud/resource_huaweicloud_opengaussdb_instance_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/opengauss/v3/instances/requests.go
  website/docs/r/opengaussdb_instance.html.markdown
Labels: dependencies, documentation, size/M

#357 [ecs] management tags with common/tags in golangsdk
  huaweicloud/ecs_tag_v1.go
  huaweicloud/resource_huaweicloud_ecs_instance_v1.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/tags/urls.go
  vendor/modules.txt
Labels: dependencies, size/L

#354 add gaussdb instance data resource
  huaweicloud/data_source_huaweicloud_gaussdb_mysql_flavors.go
  huaweicloud/data_source_huaweicloud_gaussdb_mysql_flavors_test.go
  huaweicloud/provider.go
  website/docs/d/gaussdb_mysql_flavors.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/L

#359 Add auto_renew for ECS instance
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_ecs_instance_v1.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/pagination/linked.go
  vendor/modules.txt
  website/docs/r/ecs_instance_v1.html.markdown
Labels: dependencies, documentation, size/S

#360 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#361 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#362 Fix website docs
  website/docs/r/gaussdb_mysql_instance.html.markdown
  website/docs/r/gaussdb_opengauss_instance.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/M

#363 Update README
  README.md
Labels: size/M

#364 Update CCE cluster website docs
  huaweicloud/resource_huaweicloud_cce_cluster_v3_test.go
  website/docs/r/cce_cluster_v3.html.md
Labels: documentation, size/XS

#365 Update CCE node website docs
  website/docs/r/cce_nodes_v3.html.md
Labels: documentation, size/XS

#366 Update CCE node resource
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  website/docs/r/cce_nodes_v3.html.md
Labels: documentation, size/M

#367 Update CCE node tests
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
Labels: size/L

#368 Ignore eip unbind error during deleting
  huaweicloud/resource_huaweicloud_vpc_eip_v1.go
Labels: size/XS

#369 Fix max_pods issue of cce node
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: size/XS

#370 Add Sensitive to admin_pass of compute_instance_v2
  huaweicloud/resource_huaweicloud_compute_instance_v2.go
Labels: size/XS

#371 Update website
  website/docs/r/identity_role_assignment_v3.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/M

#372 Update README
  README.md
Labels: size/XS

#373 Update CCE acc tests
  huaweicloud/data_source_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/data_source_huaweicloud_cce_node_v3.go
  huaweicloud/data_source_huaweicloud_cce_node_v3_test.go
  huaweicloud/data_source_huaweicloud_cce_nodes_v3_test.go
  huaweicloud/import_huaweicloud_cce_cluster_test.go
  huaweicloud/provider.go
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/resource_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
  website/docs/d/cce_cluster_v3.html.md
  website/docs/d/cce_node_v3.html.md
  website/docs/r/cce_cluster_v3.html.md
  website/docs/r/cce_node_v3.html.md
  website/huaweicloud.erb
Labels: documentation, size/XL

#374 Replace Openstack with HuaweiCloud in logs
  huaweicloud/types.go
Labels: size/XS

#375 Add address attribute to VPC eip
  huaweicloud/resource_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/resource_huaweicloud_vpc_eip_v1.go
  website/docs/r/vpc_eip_v1.html.markdown
Labels: documentation, size/XS

#377 Deprecate floatingip_v2
  huaweicloud/resource_huaweicloud_compute_floatingip_v2.go
  huaweicloud/resource_huaweicloud_networking_floatingip_v2.go
  website/docs/r/compute_floatingip_v2.html.markdown
  website/docs/r/networking_floatingip_v2.html.markdown
Labels: documentation, size/XS

#378 Remove deprecated compute related resources from website
  website/huaweicloud.erb
Labels: documentation, size/XS

#379 Add DeprecationMessage to compute_secgroup_v2
  huaweicloud/resource_huaweicloud_compute_secgroup_v2.go
Labels: size/XS

#380 Add eip_id argument to cce_node
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
  website/docs/r/cce_node_v3.html.md
Labels: documentation, size/XS

#381 Rename floatingip_associate to eip_associate
  huaweicloud/import_huaweicloud_compute_floatingip_associate_v2_test.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
  huaweicloud/resource_huaweicloud_compute_eip_associate_v2.go
  huaweicloud/resource_huaweicloud_compute_eip_associate_v2_test.go
  huaweicloud/resource_huaweicloud_compute_floatingip_associate_v2_test.go
  huaweicloud/resource_huaweicloud_networking_eip_associate_v2.go
  huaweicloud/resource_huaweicloud_networking_eip_associate_v2_test.go
  huaweicloud/resource_huaweicloud_networking_floatingip_associate_v2_test.go
  huaweicloud/resource_huaweicloud_networking_floatingip_v2_test.go
  huaweicloud/resource_huaweicloud_vpc_eip_v1_test.go
  website/docs/r/compute_eip_associate_v2.html.markdown
  website/docs/r/compute_floatingip_associate_v2.html.markdown
  website/docs/r/networking_eip_associate_v2.html.markdown
  website/docs/r/networking_floatingip_associate_v2.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XXL

#384 Add public_ip to compute_eip_associate_v2
  huaweicloud/resource_huaweicloud_compute_eip_associate_v2.go
  huaweicloud/resource_huaweicloud_compute_eip_associate_v2_test.go
  website/docs/r/compute_eip_associate_v2.html.markdown
Labels: documentation, size/S

#385 Add public_ip to networking_eip_associate_v2
  huaweicloud/resource_huaweicloud_compute_eip_associate_v2.go
  huaweicloud/resource_huaweicloud_networking_eip_associate_v2.go
  huaweicloud/resource_huaweicloud_networking_eip_associate_v2_test.go
  website/docs/r/networking_eip_associate_v2.html.markdown
Labels: documentation, size/S

#386 Deprecate router/network/subnet/interface resources
  huaweicloud/data_source_huaweicloud_networking_network_v2.go
  huaweicloud/data_source_huaweicloud_networking_subnet_v2.go
  huaweicloud/resource_huaweicloud_networking_network_v2.go
  huaweicloud/resource_huaweicloud_networking_router_interface_v2.go
  huaweicloud/resource_huaweicloud_networking_router_v2.go
  huaweicloud/resource_huaweicloud_networking_subnet_v2.go
  website/docs/d/networking_network_v2.html.markdown
  website/docs/d/networking_subnet_v2.html.markdown
  website/docs/r/networking_network_v2.html.markdown
  website/docs/r/networking_router_interface_v2.html.markdown
  website/docs/r/networking_router_v2.html.markdown
  website/docs/r/networking_subnet_v2.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/M

#387 Deprecate Classic ELB resources
  huaweicloud/resource_huaweicloud_elb_backendecs.go
  huaweicloud/resource_huaweicloud_elb_healthcheck.go
  huaweicloud/resource_huaweicloud_elb_listener.go
  huaweicloud/resource_huaweicloud_elb_loadbalancer.go
  website/docs/r/elb_backendecs.html.markdown
  website/docs/r/elb_healthcheck.html.markdown
  website/docs/r/elb_listener.html.markdown
  website/docs/r/elb_loadbalancer.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/S

#389 rename geminidb_instance to gaussdb_cassandra_instance
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance_test.go
  website/docs/r/gaussdb_cassandra_instance.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/M

#388 Rename eip_associate_v2 to eip_associate
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_compute_eip_associate.go
  huaweicloud/resource_huaweicloud_compute_eip_associate_test.go
  huaweicloud/resource_huaweicloud_networking_eip_associate.go
  huaweicloud/resource_huaweicloud_networking_eip_associate_test.go
  website/docs/r/compute_eip_associate.html.markdown
  website/docs/r/compute_instance_v2.html.markdown
  website/docs/r/ecs_instance_v1.html.markdown
  website/docs/r/lb_loadbalancer_v2.html.markdown
  website/docs/r/networking_eip_associate.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/S

#390 Following up patch of 18f3d0b702421a464cca0c545b9ef9367e3bdeaf
  huaweicloud/resource_huaweicloud_compute_eip_associate_test.go
  huaweicloud/resource_huaweicloud_networking_eip_associate_test.go
Labels: size/XS

#391 Skip the deprecated resources tests
  huaweicloud/data_source_huaweicloud_networking_network_v2_test.go
  huaweicloud/data_source_huaweicloud_networking_subnet_v2_test.go
  huaweicloud/import_huaweicloud_compute_floatingip_v2_test.go
  huaweicloud/import_huaweicloud_compute_secgroup_v2_test.go
  huaweicloud/import_huaweicloud_networking_network_v2_test.go
  huaweicloud/import_huaweicloud_networking_router_interface_v2_test.go
  huaweicloud/import_huaweicloud_networking_router_v2_test.go
  huaweicloud/import_huaweicloud_networking_subnet_v2_test.go
  huaweicloud/resource_huaweicloud_compute_floatingip_v2_test.go
  huaweicloud/resource_huaweicloud_compute_secgroup_v2_test.go
  huaweicloud/resource_huaweicloud_elb_backend_test.go
  huaweicloud/resource_huaweicloud_elb_healthcheck_test.go
  huaweicloud/resource_huaweicloud_elb_listener_test.go
  huaweicloud/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/resource_huaweicloud_networking_network_v2_test.go
  huaweicloud/resource_huaweicloud_networking_router_interface_v2_test.go
  huaweicloud/resource_huaweicloud_networking_router_v2_test.go
  huaweicloud/resource_huaweicloud_networking_subnet_v2_test.go
Labels: size/XL

#392 Update GeminiDB client
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/groups/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/modules.txt
Labels: dependencies, size/XS

#393 Rename opengauss db files
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance_test.go
Labels: size/XS

#394 update endpoint for gaussdb nosql
  huaweicloud/config.go
Labels: size/XS

#395 Deprecate S3 resources
  huaweicloud/data_source_huaweicloud_s3_bucket_object.go
  huaweicloud/data_source_huaweicloud_s3_bucket_object_test.go
  huaweicloud/resource_huaweicloud_s3_bucket.go
  huaweicloud/resource_huaweicloud_s3_bucket_object.go
  huaweicloud/resource_huaweicloud_s3_bucket_object_test.go
  huaweicloud/resource_huaweicloud_s3_bucket_policy.go
  huaweicloud/resource_huaweicloud_s3_bucket_policy_test.go
  huaweicloud/resource_huaweicloud_s3_bucket_test.go
  website/docs/d/s3_bucket_object.html.markdown
  website/docs/r/s3_bucket.html.markdown
  website/docs/r/s3_bucket_object.html.markdown
  website/docs/r/s3_bucket_policy.html.markdown
Labels: documentation, size/M

#397 Add CheckDeleted for Gaussdb Cassandra
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
Labels: size/XS

#396 support az mode and configuration_id for gaussdb mysql
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/huaweicloud/golangsdk/openstack/client.go
  vendor/github.com/huaweicloud/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/modules.txt
  website/docs/r/gaussdb_mysql_instance.html.markdown
Labels: dependencies, documentation, size/M

#398 Set ID to empty after deleted for Cassandra
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
Labels: size/XS

#399 Add some new arguments to gaussdb_cassandra
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/geminidb/v3/instances/requests.go
  vendor/modules.txt
  website/docs/r/gaussdb_cassandra_instance.html.markdown
Labels: dependencies, documentation, size/M

#400 Add configuration_id to gaussdb_cassandra
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
  vendor/github.com/huaweicloud/golangsdk/openstack/geminidb/v3/instances/requests.go
  vendor/modules.txt
Labels: dependencies, size/XS

#401 Set security_group_id to Optional for mysql/cassandra
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/huaweicloud/golangsdk/openstack/geminidb/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/modules.txt
  website/docs/r/gaussdb_cassandra_instance.html.markdown
  website/docs/r/gaussdb_mysql_instance.html.markdown
Labels: dependencies, documentation, size/XS

#402 Update Test for gaussdb_mysql
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance_test.go
Labels: size/S

#403 Update volume.size to single DN node size
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  website/docs/r/gaussdb_opengauss_instance.html.markdown
Labels: size/XS

#404 Update test for gaussdb_opengauss
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance_test.go
Labels: size/S

#406 Add private_ips list to gaussdb_mysql
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
  website/docs/r/gaussdb_cassandra_instance.html.markdown
Labels: documentation, size/XS

#407 Add obs bucket policy resource and docs
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_obs_bucket.go
  huaweicloud/resource_huaweicloud_obs_bucket_policy.go
  huaweicloud/resource_huaweicloud_obs_bucket_policy_test.go
  website/docs/r/obs_bucket.html.markdown
  website/docs/r/obs_bucket_policy.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XL

#409 Update private/public ips of gaussdb_opengauss
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/XS

#408 Make some parameters updatable in dds instance resource
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/instances/urls.go
  vendor/modules.txt
  website/docs/r/dds_instance_v3.html.markdown
Labels: dependencies, documentation, size/M

#411 Update CCE node create Job result check
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: size/XS

#412 support type parameter into lb certificate
  go.mod
  go.sum
  huaweicloud/diff_suppress_funcs.go
  huaweicloud/resource_huaweicloud_lb_certificate_v2.go
  huaweicloud/resource_huaweicloud_lb_certificate_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/requests.go
  vendor/modules.txt
  website/docs/r/lb_certificate_v2.html.markdown
Labels: dependencies, documentation, size/M

#413 support tags and backup_strategy parameter in css cluster
  huaweicloud/resource_huaweicloud_css_cluster_v1.go
  huaweicloud/resource_huaweicloud_css_cluster_v1_test.go
  website/docs/r/css_cluster_v1.html.markdown
Labels: documentation, size/L

#414 Following up patch of 1f7ae12aa54a4a3ef5ee9aabc421917373b7911c
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/XS

#416 Fix update of gaussdb_opengauss
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance.go
  website/docs/r/gaussdb_opengauss_instance.html.markdown
Labels: documentation, size/XS

#417 Make volume size and backup_strategy updatable in css cluster
  go.mod
  go.sum
  huaweicloud/custom_functions.go
  huaweicloud/resource_huaweicloud_css_cluster_v1.go
  vendor/github.com/huaweicloud/golangsdk/openstack/css/v1/snapshots/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/css/v1/snapshots/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/css/v1/snapshots/urls.go
  vendor/modules.txt
  website/docs/r/css_cluster_v1.html.markdown
Labels: dependencies, documentation, size/XL

#418 Clean up unneeded arguments from gaussdb_opengauss
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance.go
  website/docs/r/gaussdb_opengauss_instance.html.markdown
Labels: documentation, size/XS

#420 Update backup_strategy for gaussdb_opengauss
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance.go
  website/docs/r/gaussdb_opengauss_instance.html.markdown
Labels: documentation, size/XS

#419 update golangsdk to fix css issue
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/css/v1/snapshots/requests.go
  vendor/modules.txt
Labels: dependencies, size/XS

#415 Update DCS doc
  huaweicloud/resource_huaweicloud_dcs_instance_v1_test.go
  website/docs/r/dcs_instance_v1.html.markdown
Labels: documentation, size/M

#421 Add read_replicas update for gaussdb_mysql
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression_vars_gen.go
  vendor/github.com/huaweicloud/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/taurusdb/v3/instances/results_job.go
  vendor/github.com/huaweicloud/golangsdk/openstack/taurusdb/v3/instances/urls.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkmerge.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
  website/docs/r/gaussdb_mysql_instance.html.markdown
Labels: dependencies, size/XXL

#422 Add az mode support for gaussdb_mysql_flavors data source
  huaweicloud/data_source_huaweicloud_gaussdb_mysql_flavors.go
  huaweicloud/data_source_huaweicloud_gaussdb_mysql_flavors_test.go
  website/docs/d/gaussdb_mysql_flavors.html.markdown
  website/docs/r/gaussdb_mysql_instance.html.markdown
Labels: documentation, size/XS

#423 Update private_ips of gaussdb_opengauss
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  website/docs/r/gaussdb_opengauss_instance.html.markdown
Labels: documentation, size/XS

#426 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
