Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2020-04, with the labels that each got.

#291 Fix Snat Rule issue
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_nat_snat_rule_v2.go
  huaweicloud/resource_huaweicloud_nat_snat_rule_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/hw_snatrules/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/hw_snatrules/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/hw_snatrules/urls.go
  vendor/modules.txt
Labels: dependencies, size/S

#296 fix some document issues
  website/docs/r/ces_alarmrule.html.markdown
  website/docs/r/compute_interface_attach_v2.html.markdown
  website/docs/r/vbs_backup_policy_v2.html.markdown
  website/docs/r/vbs_backup_v2.html.markdown
Labels: documentation, size/M

#294 Add CCI Resource
  huaweicloud/config.go
  huaweicloud/provider.go
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_cci_network_v1.go
  huaweicloud/resource_huaweicloud_cci_network_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cci/v1/networks/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cci/v1/networks/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cci/v1/networks/urls.go
  vendor/modules.txt
  website/docs/r/cci_network_v1.html.md
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XL

#293 [vpnaas] set admin_state_up default to true
  huaweicloud/resource_huaweicloud_vpnaas_service_v2_test.go
  huaweicloud/resource_huaweicloud_vpnaas_site_connection.go
  huaweicloud/resource_huaweicloud_vpnaas_site_connection_test.go
  website/docs/r/vpnaas_service_v2.html.markdown
  website/docs/r/vpnaas_site_connection_v2.html.markdown
Labels: documentation, size/XS

#292 [obs] use the region by provider if not specified
  huaweicloud/resource_huaweicloud_obs_bucket.go
  website/docs/r/obs_bucket.html.markdown
Labels: documentation, size/XS

#299 raising an exception when creating client failed
  huaweicloud/data_source_huaweicloud_antiddos_v1.go
  huaweicloud/data_source_huaweicloud_cce_cluster_v3.go
  huaweicloud/data_source_huaweicloud_csbs_backup_policy_v1.go
  huaweicloud/data_source_huaweicloud_csbs_backup_v1.go
  huaweicloud/data_source_huaweicloud_cts_tracker_v1.go
  huaweicloud/data_source_huaweicloud_networking_network_v2.go
  huaweicloud/data_source_huaweicloud_networking_secgroup_v2.go
  huaweicloud/data_source_huaweicloud_networking_subnet_v2.go
  huaweicloud/data_source_huaweicloud_rts_software_config_v1.go
  huaweicloud/data_source_huaweicloud_rts_stack_resource_v1.go
  huaweicloud/data_source_huaweicloud_sfs_file_system_v2.go
  huaweicloud/data_source_huaweicloud_vbs_backup_policy_v2.go
  huaweicloud/data_source_huaweicloud_vbs_backup_v2.go
  huaweicloud/data_source_huaweicloud_vpc_ids_v1.go
  huaweicloud/data_source_huaweicloud_vpc_peering_connection_v2.go
  huaweicloud/data_source_huaweicloud_vpc_route_ids_v2.go
  huaweicloud/data_source_huaweicloud_vpc_route_v2_.go
  huaweicloud/data_source_huaweicloud_vpc_subnet_ids_v1.go
  huaweicloud/data_source_huaweicloud_vpc_subnet_v1.go
  huaweicloud/data_source_huaweicloud_vpc_v1.go
Labels: size/S

#300 update docs for huaweicloud_dns_ptrrecord_v2
  website/docs/r/dns_ptrrecord_v2.html.markdown
  website/huaweicloud.erb
Labels: documentation, size/XS

#301 Make huaweicloud_compute_instance_v2 importable
  huaweicloud/import_huaweicloud_compute_instance_v2_test.go
  huaweicloud/resource_huaweicloud_compute_instance_v2.go
  website/docs/r/compute_instance_v2.html.markdown
Labels: documentation, size/L

#304 Fix PrePaid ECS instance issue
  go.mod
  go.sum
  vendor/github.com/huaweicloud/golangsdk/openstack/cloudeyeservice/alarmrule/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/cloudeyeservice/alarmrule/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/ecs/v1/cloudservers/results_order.go
  vendor/modules.txt
Labels: dependencies, size/XS

#307 Add http2_enable parameter in lb_listener_v2 resource
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_lb_listener_v2.go
  huaweicloud/resource_huaweicloud_lb_listener_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/results.go
  vendor/modules.txt
  website/docs/r/lb_listener_v2.html.markdown
Labels: dependencies, documentation, size/M

#305 Add huaweicloud_dds_instance_v3 resource and data source
  huaweicloud/config.go
  huaweicloud/data_source_huaweicloud_dds_flavors_v3.go
  huaweicloud/data_source_huaweicloud_dds_flavors_v3_test.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_dds_instance_v3.go
  huaweicloud/resource_huaweicloud_dds_instance_v3_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/flavors/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/flavors/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/flavors/urls.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/instances/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/dds/v3/instances/urls.go
  vendor/modules.txt
  website/docs/d/dds_flavors_v3.html.markdown
  website/docs/r/dds_instance_v3.html.markdown
  website/huaweicloud.erb
Labels: dependencies, documentation, size/XXL

#306 support tags in autoscaling group resource
  huaweicloud/resource_huaweicloud_as_group_v1.go
  huaweicloud/resource_huaweicloud_as_group_v1_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/tags/requests.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/tags/results.go
  vendor/github.com/huaweicloud/golangsdk/openstack/autoscaling/v1/tags/urls.go
  vendor/modules.txt
  website/docs/r/as_group_v1.html.markdown
Labels: dependencies, documentation, size/L

#308 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#309 Add week_frequency and rentention_day to vbs policy
  go.mod
  go.sum
  huaweicloud/data_source_huaweicloud_dms_maintainwindow_v1.go
  huaweicloud/resource_huaweicloud_vbs_backup_policy_v2.go
  huaweicloud/resource_huaweicloud_vbs_backup_policy_v2_test.go
  vendor/github.com/huaweicloud/golangsdk/openstack/vbs/v2/policies/requests.go
  vendor/modules.txt
  website/docs/r/vbs_backup_policy_v2.html.markdown
Labels: dependencies, documentation, size/XL

#310 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS
