Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2021-10, with the labels that each got.

#1572 refactor(cce/pvc): update with k8s API
  docs/resources/cce_pvc.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_pvc_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_pvc.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v1/persistentvolumeclaims/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v1/persistentvolumeclaims/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v1/persistentvolumeclaims/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/urls.go
  vendor/modules.txt
Labels: refactor, dependencies

#1623 feat(DLI): add new resource: dli sql job
  docs/resources/dli_sql_job.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_sql_job_test.go
  huaweicloud/services/dli/huaweicloud_dli_sql_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_table.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/sqljob/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/sqljob/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/sqljob/urls.go
  vendor/modules.txt
Labels: help wanted, size/XL, feature, LGTM

#1638 feat(waf/instance): support create ELB mode WAF dedicated instances
  docs/resources/waf_dedicated_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_instance_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
Labels: help wanted, size/M, feature, LGTM

#1650 feat(cce/namespace): add resource cce namespace
  docs/resources/cce_namespace.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_namespace_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_namespace.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v1/namespaces/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v1/namespaces/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v1/namespaces/urls.go
  vendor/modules.txt
Labels: help wanted, size/L, feature, LGTM

#1660 docs(swr/organization): fix a doc problem of swr organization permissions
  docs/resources/swr_organization_permissions.md
Labels: documentation, size/XS

#1661 fix(elb): set computed to true for l4_flavor_id and l7_flavor_id in schema
  huaweicloud/resource_huaweicloud_elb_loadbalancer.go
Labels: help wanted, size/XS, bugfix, LGTM

#1645 feat(ecs/instance): add new data source for multiple instance obtains
  docs/data-sources/compute_instances.md
  huaweicloud/data_source_huaweicloud_compute_instances.go
  huaweicloud/data_source_huaweicloud_compute_instances_test.go
  huaweicloud/provider.go
Labels: help wanted, size/L, feature

#1658 feat(swr/repository): add resource swr repository
  docs/resources/swr_repository.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_repository_test.go
  huaweicloud/services/swr/resource_huaweicloud_swr_repository.go
  vendor/github.com/chnsz/golangsdk/openstack/swr/v2/repositories/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/swr/v2/repositories/results.go
  vendor/github.com/chnsz/golangsdk/openstack/swr/v2/repositories/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#1651 feat(dli/job): add new spark job resource support
  docs/resources/dli_spark_job.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_spark_job_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_spark_job.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v2/batches/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v2/batches/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v2/batches/urls.go
  vendor/modules.txt
Labels: help wanted, size/L, feature, dependencies

#1659 feat(DLI): add new resource: flink job
  docs/resources/dli_flinksql_job.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_flinksql_job_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinksql_job.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/flinkjob/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/flinkjob/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/flinkjob/urls.go
  vendor/modules.txt
Labels: help wanted, size/XL, feature

#1663 update CHANGELOG for v1.30.0
  CHANGELOG.md
Labels: size/S
