Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2021-11, with the labels that each got.

#1632 fix(scm): for security, do not print the private key in the log
  huaweicloud/provider.go
  huaweicloud/provider_test.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/scm/resource_huaweicloud_scm_certificate_test.go
  huaweicloud/services/scm/resource_huaweicloud_scm_certificate.go
Labels: size/M, bugfix

#1662 refactor(data/ecs): refactor data source of compute instance
  huaweicloud/data_source_huaweicloud_compute_instance.go
  huaweicloud/data_source_huaweicloud_compute_instances.go
Labels: size/M, refactor, LGTM

#1609 refactor(iam): refactor iam resources to new SDK
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_custom_role_test.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_group_test.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_role_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_access_key_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_acl_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_agency_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_group_membership_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_group_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_project_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_role_assignment_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_role_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_custom_role.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_group.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_role.go
  huaweicloud/services/iam/resource_huaweicloud_identity_access_key.go
  huaweicloud/services/iam/resource_huaweicloud_identity_acl.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
  huaweicloud/services/iam/resource_huaweicloud_identity_group.go
  huaweicloud/services/iam/resource_huaweicloud_identity_group_membership.go
  huaweicloud/services/iam/resource_huaweicloud_identity_project.go
  huaweicloud/services/iam/resource_huaweicloud_identity_role.go
  huaweicloud/services/iam/resource_huaweicloud_identity_role_assignment.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user.go
Labels: size/XL, refactor, LGTM

#1648 feat(cci/namespace): Add new CCI namespace resource support
  docs/resources/cci_namespace.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_namespace_test.go
  huaweicloud/services/cci/resource_huaweicloud_cci_namespace.go
  vendor/github.com/chnsz/golangsdk/openstack/cci/v1/namespaces/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cci/v1/namespaces/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cci/v1/namespaces/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#1688 doc(DLI): fix arguments name
  docs/resources/dli_table.md
Labels: size/S, LGTM

#1671 feat(swr/domian): add resource swr repository sharing
  docs/resources/swr_repository_sharing.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_repository_sharing_test.go
  huaweicloud/services/swr/resource_huaweicloud_swr_repository_sharing.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/flinkjob/results.go
  vendor/github.com/chnsz/golangsdk/openstack/swr/v2/domains/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/swr/v2/domains/results.go
  vendor/github.com/chnsz/golangsdk/openstack/swr/v2/domains/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#1685 feat(acceptance): update func CheckResourceExists to get resource object
  huaweicloud/services/acceptance/acceptance.go
Labels: size/XS, feature, LGTM

#1692 fix(dli/job): rename file and reorder providers mapping
  huaweicloud/provider.go
  huaweicloud/services/dli/resource_huaweicloud_dli_sql_job.go
Labels: size/XS, bugfix

#1698 docs(apig/group): rename apig group document
  docs/resources/apig_group.md
Labels: documentation, size/XS, LGTM

#1686 fix(iam): add warning message when deleting project failed
  docs/resources/identity_project.md
  huaweicloud/services/iam/resource_huaweicloud_identity_project.go
Labels: size/XS, bugfix

#1683 feat(dds): move dds resources to services path
  huaweicloud/data_source_huaweicloud_dds_flavors_v3_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_flavors_v3_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_flavors_v3.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/L, feature, LGTM

#1701 doc: fix the wrong doc name of vpc peering connection accepter
  docs/resources/vpc_peering_connection.md
  docs/resources/vpc_peering_connection_accepter.md
  huaweicloud/services/vpc/resource_huaweicloud_vpc_peering_connection_accepter.go
Labels: size/S

#1702 chore(gaussdb): fix some lint warnings
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_redis_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_redis_instance_test.go
Labels: size/S, chore, LGTM

#1709 feat(gaussdb/mysql): add configuration_name and dedicated_resource_name
  docs/resources/gaussdb_mysql_instance.md
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/S, feature, LGTM

#1700 fix(sfs): fix the wrong doc name and update schema
  docs/data-sources/sfs_file_system.md
  huaweicloud/data_source_huaweicloud_sfs_file_system_v2.go
  huaweicloud/data_source_huaweicloud_sfs_file_system_v2_test.go
Labels: size/M, bugfix

#1716 doc(swr/repository_sharing): add description of import in doc of repository_sharing
  docs/resources/swr_repository_sharing.md
Labels: size/XS

#1714 refactor(cce/node): remove useless code in data source cce node
  huaweicloud/data_source_huaweicloud_cce_node_v3.go
Labels: size/XS, refactor

#1717 fix(readme): fix image not found issue
  README.md
Labels: size/XS, bugfix

#1705 fix(EVS): fix the tag update logic
  huaweicloud/resource_huaweicloud_evs_tag_v2.go
  huaweicloud/resource_huaweicloud_evs_volume.go
Labels: size/S, bugfix, LGTM

#1715 fix(elb/pool): add HTTPS and QUIC as options to protocol
  docs/resources/elb_pool.md
  huaweicloud/resource_huaweicloud_elb_pool.go
Labels: size/XS, bugfix, LGTM

#1719 chore: add extend schema attributes with Description field
  huaweicloud/resource_huaweicloud_compute_instance.go
Labels: size/XS, chore

#1720 json: update schema json based on v1.30.0
  docs/json/resources/as_configuration.json
  docs/json/resources/as_group.json
  docs/json/resources/as_policy.json
  docs/json/resources/cce_cluster.json
  docs/json/resources/cce_node.json
  docs/json/resources/compute_instance.json
  docs/json/resources/compute_servergroup.json
  docs/json/resources/evs_volume.json
  docs/json/resources/lb_certificate.json
  docs/json/resources/lb_l7policy.json
  docs/json/resources/lb_l7rule.json
  docs/json/resources/lb_listener.json
  docs/json/resources/lb_loadbalancer.json
  docs/json/resources/lb_member.json
  docs/json/resources/lb_monitor.json
  docs/json/resources/lb_pool.json
  docs/json/resources/lb_whitelist.json
  docs/json/resources/nat_dnat_rule.json
  docs/json/resources/nat_gateway.json
  docs/json/resources/nat_snat_rule.json
  docs/json/resources/obs_bucket.json
  docs/json/resources/obs_bucket_object.json
  docs/json/resources/obs_bucket_policy.json
  docs/json/resources/rds_instance.json
  docs/json/resources/rds_read_replica_instance.json
  docs/json/resources/sfs_access_rule.json
  docs/json/resources/sfs_file_system.json
  docs/json/resources/sfs_turbo.json
  docs/json/resources/vpc.json
  docs/json/resources/vpc_secgroup.json
  docs/json/resources/vpc_secgroup_rule.json
  docs/json/resources/vpc_subnet.json
  docs/json/resources/vpcep_approval.json
  docs/json/resources/vpcep_endpoint.json
  docs/json/resources/vpcep_service.json
Labels: size/L

#1721 json: add schema json files for apig, swr and gaussdb service
  docs/json/resources/apig_api.json
  docs/json/resources/apig_api_publishment.json
  docs/json/resources/apig_application.json
  docs/json/resources/apig_custom_authorizer.json
  docs/json/resources/apig_environment.json
  docs/json/resources/apig_group.json
  docs/json/resources/apig_instance.json
  docs/json/resources/apig_response.json
  docs/json/resources/apig_throttling_policy.json
  docs/json/resources/apig_vpc_channel.json
  docs/json/resources/gaussdb_cassandra_instance.json
  docs/json/resources/gaussdb_mysql_instance.json
  docs/json/resources/gaussdb_mysql_proxy.json
  docs/json/resources/gaussdb_opengauss_instance.json
  docs/json/resources/gaussdb_redis_instance.json
  docs/json/resources/swr_organization.json
  docs/json/resources/swr_organization_permissions.json
  docs/json/resources/swr_repository.json
Labels: size/XL

#1712 feat(kms): add key_algorithm support
  docs/resources/kms_key.md
  go.mod
  go.sum
  huaweicloud/data_source_huaweicloud_kms_key_v1.go
  huaweicloud/resource_huaweicloud_kms_key_v1.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/flinkjob/results.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/keys/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/keys/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#1723 fix(obs): ignore FsNotSupport error when refreshing
  huaweicloud/resource_huaweicloud_obs_bucket.go
Labels: size/XS, bugfix

#1724 json: add more json files with product field
  docs/json/resources/cce_addon.json
  docs/json/resources/cce_node_pool.json
  docs/json/resources/networking_secgroup.json
  docs/json/resources/networking_secgroup_rule.json
  docs/json/resources/vpc_bandwidth.json
  docs/json/resources/vpc_eip.json
  docs/json/resources/vpc_peering_connection.json
  docs/json/resources/vpc_peering_connection_accepter.json
  docs/json/resources/vpc_route.json
  docs/json/resources/vpc_route_table.json
Labels: size/L, LGTM

#1730 feat(gaussdb/mysql): add dedicated_resource_name and configration_nam…
  docs/resources/gaussdb_mysql_instance.md
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/S, feature

#1733 feat(iec): add lines attribute into site data source
  docs/data-sources/iec_sites.md
  huaweicloud/data_source_huaweicloud_iec_sites.go
  huaweicloud/data_source_huaweicloud_iec_sites_test.go
Labels: size/M, feature

#1727 feat(ecs): support to configure source/destination check for ECS nic
  docs/resources/compute_instance.md
  docs/resources/compute_interface_attach.md
  huaweicloud/compute_instance_v2_networking.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
  huaweicloud/resource_huaweicloud_compute_interface_attach.go
  huaweicloud/resource_huaweicloud_compute_interface_attach_test.go
Labels: size/M, feature, LGTM

#1735 bugfix(config): mask security fields when logging
  huaweicloud/config/logger.go
Labels: size/S, LGTM

#1736 feat(iec): support to specify ip address for vip
  docs/resources/iec_vip.md
  huaweicloud/resource_huaweicloud_iec_server_test.go
  huaweicloud/resource_huaweicloud_iec_vip.go
  huaweicloud/resource_huaweicloud_iec_vip_test.go
Labels: size/S, feature, test

#1740 fix(gaussdb/mysql): update public_ips type
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cci/v1/networks/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/eps/v1/enterpriseprojects/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/eps/v1/enterpriseprojects/results.go
  vendor/github.com/chnsz/golangsdk/openstack/eps/v1/enterpriseprojects/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/tags/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/tags/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/tags/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/results.go
  vendor/modules.txt
Labels: size/L, bugfix, dependencies

#1741 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#1742 json: remove redundant security group json files
  docs/json/resources/vpc_secgroup.json
  docs/json/resources/vpc_secgroup_rule.json
Labels: size/M

#1710 feat(cce): add new data_source cce_clusters
  docs/data-sources/cce_clusters.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_clusters_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_clusters.go
Labels: help wanted, size/L, feature

#1713 feat(cce): add new data source cce_nodes
  docs/data-sources/cce_nodes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_nodes_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_nodes.go
Labels: help wanted, size/L, feature

#1739 docs(dcs/example): add some examples for the DCS redis instances
  examples/dcs/redis-instance/README.md
  examples/dcs/redis-instance/main.tf
  examples/dcs/redis-instance/variables.tf
Labels: size/M, documentation, LGTM

#1729 feat(rds/engine): add new rds engine data source support
  docs/data-sources/rds_engine_versions.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_engine_versions_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_engine_versions.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#1731 feat(eps): add resource enterprise_ project
  docs/resources/enterprise_project.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eps/resource_huaweicloud_enterprise_project_test.go
  huaweicloud/services/eps/resource_huaweicloud_enterprise_project.go
Labels: help wanted, size/L, feature

#1694 feat(VPC): add new data source: vpcs
  docs/data-sources/vpcs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpcs_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpcs.go
Labels: size/L, feature, LGTM

#1734 docs(rds/sql server): add new example support for rds instance
  examples/rds/sqlserver/README.md
  examples/rds/sqlserver/main.tf
  examples/rds/sqlserver/variables.tf
Labels: size/M, documentation, LGTM

#1725 feat(iam): add pwd_reset to disable password reset
  docs/resources/identity_user.md
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user.go
Labels: size/S, feature

#1707 feat(VPC): add new data source: subnets
  docs/data-sources/vpc_subnets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_subnets_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnets.go
Labels: size/L, feature, LGTM

#1726 refactor: docs(cci/network): readjust cci network resource support
  docs/resources/cci_network.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_cci_network_v1.go
  huaweicloud/resource_huaweicloud_cci_network_v1_test.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_network_test.go
  huaweicloud/services/cci/resource_huaweicloud_cci_network.go
  vendor/github.com/chnsz/golangsdk/openstack/cci/v1/networks/requests.go
Labels: size/L, breaking-change, refactor

#1745 fix(tag): remove the wrong validation about format
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_ecs_instance_v1.go
  huaweicloud/resource_huaweicloud_kms_key_v1.go
  huaweicloud/utils/validators.go
Labels: size/S, bugfix
