Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2021-12, with the labels that each got.

#1746 Update CHANGELOG
  CHANGELOG.md
Labels: size/XS

#1666 feat(DLI): add new resource: flink jar job
  docs/resources/dli_flinkjob_jar.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_flinkjar_job_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinkjar_job.go
Labels: size/L, feature, LGTM

#1753 docs(ims/image): remove redundant parameter
  docs/data-sources/images_image.md
Labels: documentation, size/XS, LGTM

#1754 docs(cce/cluster): supplementary structure description
  docs/resources/cce_cluster.md
Labels: documentation, size/XS, LGTM

#1752 fix(gaussdb/cassandra): get rid of db version validation
  docs/resources/gaussdb_cassandra_instance.md
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
Labels: size/XS, bugfix, LGTM

#1755 feat(iec): support multi line for eip
  docs/resources/iec_eip.md
  huaweicloud/resource_huaweicloud_iec_eip.go
  huaweicloud/resource_huaweicloud_iec_eip_test.go
Labels: size/XS, feature, LGTM

#1760 fix(waf/group): fix argument load_balances to load_balancers
  docs/data-sources/waf_instance_groups.md
  docs/resources/waf_instance_group.md
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_instance_groups_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_instance_group_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_instance_groups.go
  huaweicloud/services/waf/resource_huaweicloud_waf_instance_group.go
Labels: size/S, bugfix

#1761 fix(waf): fix the printed error message
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
Labels: size/XS, bugfix

#1759 refactor(eps): move data_source enterprise project to services path
  huaweicloud/data_source_huaweicloud_enterprise_project_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eps/data_source_huaweicloud_enterprise_project_test.go
  huaweicloud/services/eps/data_source_huaweicloud_enterprise_project.go
Labels: size/M, refactor, LGTM

#1768 refactor(DIS):remove huaweicloud_dis_partition
  docs/data-sources/dis_partition.md
  huaweicloud/data_source_huaweicloud_dis_partition_v2.go
  huaweicloud/data_source_huaweicloud_dis_partition_v2_test.go
  huaweicloud/provider.go
Labels: size/M, refactor

#1695 feat(DLI): add new resource: DLI permission
  docs/resources/dli_permission.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_permission_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_permission.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/auth/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/auth/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/auth/urls.go
  vendor/modules.txt
Labels: size/XL, feature, LGTM

#1764 refactor(ecs/instance): update availability zone behavior to optional
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/modules.txt
Labels: size/XS, refactor, dependencies, LGTM

#1751 fix(security group): Add new validation of the protocol type setting
  docs/resources/networking_secgroup_rule.md
  huaweicloud/resource_huaweicloud_networking_secgroup_rule_v2.go
Labels: size/S, bugfix, LGTM

#1625 feat(iam/provider): add a resource for managing IAM providers in HuaweiCloud
  docs/resources/identity_provider.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_provider_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_provider.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/mappings/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/mappings/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/mappings/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/metadatas/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/metadatas/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/metadatas/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/oidcconfig/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/oidcconfig/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/oidcconfig/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/protocols/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/protocols/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/protocols/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/providers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/providers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/providers/urls.go
  vendor/modules.txt
Labels: size/XL, bugfix, chore, feature, LGTM

#1684 feat(waf/group): add a resource to manage ELB instances bound to the WAF instance group
  docs/resources/waf_instance_group_associcate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_instance_group_associate_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_instance_group_associate.go
Labels: size/L, feature

#1756 fix(template): fix case support for parameters
  huaweicloud/common/common.go
  huaweicloud/resource_huaweicloud_rds_configuration_v3.go
Labels: size/XS, bugfix, LGTM

#1758 refactor(dms): move the files to the service directory and fix the deprecated methods and parameters
  huaweicloud/data_source_huaweicloud_dms_az_v1_test.go
  huaweicloud/data_source_huaweicloud_dms_maintainwindow_v1_test.go
  huaweicloud/data_source_huaweicloud_dms_product_v1_test.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_bcs_instance.go
  huaweicloud/resource_huaweicloud_dms_group_v1_test.go
  huaweicloud/resource_huaweicloud_dms_queue_v1_test.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_dms_instance_v1_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_az_v1_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_maintainwindow_v1_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_product_v1_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_group_v1_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_topic_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_queue_v1_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_dms_instance_v1.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_az_v1.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_maintainwindow_v1.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_product_v1.go
  huaweicloud/services/dms/resource_huaweicloud_dms_group_v1.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_topic.go
  huaweicloud/services/dms/resource_huaweicloud_dms_queue_v1.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/XL, refactor, LGTM

#1766 feat(fgs/function): add encrypted user data support
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/config/logger.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#1770 fix(node pool): redesign the initial node count
  docs/resources/cce_node_pool.md
  huaweicloud/resource_huaweicloud_cce_node_pool.go
  huaweicloud/resource_huaweicloud_cce_node_pool_test.go
Labels: size/XS, bugfix, LGTM

#1771 refactor(DIS): add an attributes: partitions
  docs/resources/dis_stream.md
  huaweicloud/services/acceptance/dis/resource_huaweicloud_dis_streams_test.go
  huaweicloud/services/dis/resource_huaweicloud_dis_stream.go
Labels: size/S, refactor, LGTM

#1773 refactor(bcs/instance): update kafka obtain and status check methods
  huaweicloud/resource_huaweicloud_bcs_instance.go
Labels: size/XS, refactor, LGTM

#1744 chore(EIP): Change two parameters in the List API from string to arrays
  go.mod
  go.sum
  huaweicloud/common/common.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_compute_eip_associate.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_eip.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/iec/v1/common/common.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v1/cluster/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/eips/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/eips/results.go
  vendor/modules.txt
Labels: size/M, chore, dependencies

#1772 doc(cce/addon): update docs of cce addon
  docs/resources/cce_addon.md
  examples/cce/basic/cce-addon-templates.md
Labels: size/S, LGTM

#1737 feat(iam/provider): add a resource to manage the conversion rules of identity provider
  docs/resources/identity_provider_conversion.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_provider_conversion_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_provider_conversion.go
Labels: size/L, feature, LGTM

#1691 feat(obs/buckets): add a data source to listing all buckets in OBS
  docs/data-sources/obs_buckets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/obs/data_source_huaweicloud_obs_buckets_test.go
  huaweicloud/services/obs/data_source_huaweicloud_obs_buckets.go
Labels: size/M, bugfix, feature, LGTM

#1784 chore: move encoding functions into utils package
  huaweicloud/resource_huaweicloud_as_configuration_v1.go
  huaweicloud/resource_huaweicloud_cce_node_attach.go
  huaweicloud/resource_huaweicloud_cce_node_pool.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_ecs_instance_v1.go
  huaweicloud/resource_huaweicloud_iec_server.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/utils/encoding.go
Labels: size/M, chore, LGTM

#1785 fix(EIP): ignore the paramter if it is empty
  go.mod
  go.sum
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_eip.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/eips/results.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies

#1787 fix(iam/provider): store metadata with SHA1
  docs/resources/identity_provider.md
  huaweicloud/services/iam/resource_huaweicloud_identity_provider.go
Labels: size/XS, bugfix

#1788 feat(config): skip logging large json field
  huaweicloud/config/logger.go
Labels: size/XS, feature

#1687 feat(cbr/vault): add a new vaults data source support for cbr service
  docs/data-sources/cbr_vaults.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_vaults.go
Labels: size/L, feature, LGTM

#1789 json: add json files for data source
  docs/json/data-sources/availability_zones.json
  docs/json/data-sources/bms_flavors.json
  docs/json/data-sources/cce_addon_template.json
  docs/json/data-sources/cce_cluster.json
  docs/json/data-sources/cce_node.json
  docs/json/data-sources/cce_node_pool.json
  docs/json/data-sources/compute_flavors.json
  docs/json/data-sources/compute_instance.json
  docs/json/data-sources/dcs_product.json
  docs/json/data-sources/dds_flavors.json
  docs/json/data-sources/dms_product.json
  docs/json/data-sources/dws_flavors.json
  docs/json/data-sources/elb_flavors.json
  docs/json/data-sources/enterprise_project.json
  docs/json/data-sources/gaussdb_cassandra_flavors.json
  docs/json/data-sources/gaussdb_mysql_flavors.json
  docs/json/data-sources/identity_custom_role.json
  docs/json/data-sources/identity_group.json
  docs/json/data-sources/identity_role.json
  docs/json/data-sources/iec_flavors.json
  docs/json/data-sources/iec_images.json
  docs/json/data-sources/iec_sites.json
  docs/json/data-sources/images_image.json
  docs/json/data-sources/kms_key.json
  docs/json/data-sources/nat_gateway.json
  docs/json/data-sources/networking_port.json
  docs/json/data-sources/networking_secgroup.json
  docs/json/data-sources/obs_bucket_object.json
  docs/json/data-sources/rds_flavors.json
  docs/json/data-sources/sfs_file_system.json
  docs/json/data-sources/vpc.json
  docs/json/data-sources/vpc_subnet.json
Labels: size/XL

#1765 feat(MRS): add a new parameter: public_ip
  docs/resources/mapreduce_cluster.md
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
Labels: size/L, feature, LGTM

#1776 feat(dms/kafka): support to change the storage capacity and bandwidth of Kafka instance
  docs/resources/dms_kafka_instance.md
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_product_v1_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_product_v1.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
Labels: size/L, feature, LGTM

#1790 Update CHANGELOG for v1.31.1
  CHANGELOG.md
Labels: size/S

#1791 fix(dms/kafka): fix the problem that the product_id queried is still the original value due to caching after the storage capacity is resized
  docs/resources/dms_kafka_instance.md
  examples/dms/kafka-instance/README.md
  examples/dms/kafka-instance/main.tf
  examples/dms/kafka-instance/variables.tf
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
Labels: size/M, bugfix, LGTM

#1795 fix(compute/instance): fix CheckDeleted issue
  huaweicloud/data_source_huaweicloud_compute_instance_test.go
  huaweicloud/data_source_huaweicloud_compute_instances_test.go
  huaweicloud/resource_huaweicloud_compute_eip_associate_test.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
  huaweicloud/resource_huaweicloud_compute_servergroup_test.go
  huaweicloud/resource_huaweicloud_networking_vip_associate_v2_test.go
Labels: size/S, bugfix, LGTM

#1777 refactor(CDM): refactor to new SDK
  docs/resources/cdm_cluster.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_cdm_cluster_v1.go
  huaweicloud/resource_huaweicloud_cdm_cluster_v1_test.go
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_cluster_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/clusters/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/clusters/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, LGTM

#1799 docs(rds): update the parameter format and description
  docs/resources/rds_read_replica_instance.md
Labels: documentation, size/XS, LGTM

#1810 docs: fix the wrong parameter name
  docs/data-sources/cce_node.md
Labels: documentation, size/XS

#1812 fix(rds/network):fix the index out of bound panic
  huaweicloud/resource_huaweicloud_rds_instance_v3.go
Labels: size/XS, bugfix, LGTM

#1816 fix(elb/pool): make name and description can be updated to empty
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_elb_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/pools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/eips/results.go
  vendor/modules.txt
Labels: size/XS, bugfix, dependencies, LGTM

#1798 fix(cbr/vault): Fix the problem that resources cannot be removed
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/M, bugfix, LGTM

#1792 feat(EIP): add a new resource: vpc_eips
  docs/data-sources/vpc_eips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_eips_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_eips.go
Labels: size/L, feature

#1824 fix(LTS): Fix the type of filter_count
  huaweicloud/resource_huaweicloud_lts_stream.go
  huaweicloud/resource_huaweicloud_lts_stream_test.go
Labels: size/XS, bugfix, LGTM

#1802 feat(DMS): upgrade the API version of the querying DMS products to V2
  docs/data-sources/dms_product.md
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_product_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_product.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_product_v1.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/products/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/products/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/products/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/products/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/products/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/products/urls.go
Labels: size/L, bugfix, feature, LGTM

#1801 feat(DMS): upgrade the API version of the query maintain window to V2
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_maintainwindow_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_maintainwindow.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/maintainwindows/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/maintainwindows/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/maintainwindows/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/maintainwindows/urls.go
  vendor/modules.txt
Labels: size/M, bugfix, feature

#1804 feat(DMS): upgrade the API version of the querying DMS availability zones to V2
  docs/data-sources/dms_az.md
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_az_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_az.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/availablezones/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/availablezones/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/availablezones/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/availablezones/urls.go
  vendor/modules.txt
Labels: size/M, bugfix, feature

#1818 feat: support ipv6 for vpc vip
  docs/resources/networking_vip.md
  huaweicloud/resource_huaweicloud_networking_vip_v2.go
  huaweicloud/resource_huaweicloud_networking_vip_v2_test.go
  huaweicloud/utils/utils.go
Labels: size/M, feature

#1834 feat: support ipv6 for compute instance
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/compute_instance_v2_networking.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#1828 feat(DMS/az): deprecate the data source: data_source_huaweicloud_dms_az
  docs/data-sources/dms_az.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/data_source_huaweicloud_dms_az_test.go
  huaweicloud/services/deprecated/data_source_huaweicloud_dms_az.go
Labels: size/XS, bugfix, feature, LGTM

#1832 fix(acceptance): use TestAccPreCheckDeprecated for deprecated resources or data sources
  huaweicloud/services/acceptance/deprecated/data_source_huaweicloud_dcs_az_v1_test.go
  huaweicloud/services/acceptance/deprecated/data_source_huaweicloud_dcs_product_v1_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_endpoint_group_v2_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_ike_policy_v2_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_ipsec_policy_v2_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_service_v2_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_site_connection_test.go
Labels: size/XS, bugfix, LGTM

#1826 feat(rds/instances): add instances listing data source
  docs/data-sources/rds_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_instances_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_instances.go
Labels: size/L, feature, LGTM

#1836 fix(elb): fix elb test eps precheck issue
  huaweicloud/resource_huaweicloud_elb_certificate_test.go
  huaweicloud/resource_huaweicloud_elb_ipgroup_test.go
Labels: size/XS, bugfix, LGTM

#1821 feat: support ipv6 for vpc EIP
  docs/data-sources/vpc_eip.md
  docs/resources/vpc_eip.md
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_eip_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_eip.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_eip.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/eips/requests.go
Labels: size/M, feature

#1831 refactor(util): turn the map filter function into a public function
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_eips.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnets.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpcs.go
  huaweicloud/utils/testing/utils_test.go
  huaweicloud/utils/utils.go
Labels: size/M, refactor, LGTM

#1827 refactor(evs): refactor api version of evs volume from v3 to v2
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_cci_pvc_test.go
  huaweicloud/resource_huaweicloud_evs_snapshot_test.go
  huaweicloud/resource_huaweicloud_evs_volume.go
  huaweicloud/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, LGTM

#1843 fix(elb/listener): fix ca_certificate update issue
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
Labels: size/XS, bugfix, LGTM

#1845 fix(evs): fix the wrong package definition of evs test
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
Labels: size/XS, bugfix

#1819 feat(CDM): add a new resource: CDM link
  docs/resources/cdm_link.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_cluster_test.go
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_link_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_link.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/link/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/link/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/link/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#1769 refactor(cce): updae cce resources with sdk v2
  huaweicloud/data_source_huaweicloud_cce_addon_template.go
  huaweicloud/data_source_huaweicloud_cce_cluster_v3.go
  huaweicloud/data_source_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/data_source_huaweicloud_cce_node_pool_v3.go
  huaweicloud/data_source_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_addon_v3.go
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/resource_huaweicloud_cce_node_attach.go
  huaweicloud/resource_huaweicloud_cce_node_pool.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: size/L, refactor, feature, LGTM

#1794 feat(evs/volume): add new data source to get disks
  docs/data-sources/evs_volumes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_volumes_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_volumes.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v3/volumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v3/volumes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v3/volumes/results_job.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v3/volumes/urls.go
  vendor/modules.txt
Labels: size/L, feature

#1822 feat(DLI): Support to modify CIDR
  docs/resources/dli_queue.md
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
Labels: size/M, feature

#1841 fix(vpc/subnet): add error code 403 in delete retry
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/S, bugfix, refactor, LGTM

#1842 fix(lb): don't retry to create resources when an error occurs
  huaweicloud/resource_huaweicloud_lb_l7policy.go
  huaweicloud/resource_huaweicloud_lb_l7rule.go
  huaweicloud/resource_huaweicloud_lb_listener.go
  huaweicloud/resource_huaweicloud_lb_member.go
  huaweicloud/resource_huaweicloud_lb_monitor.go
  huaweicloud/resource_huaweicloud_lb_pool.go
Labels: size/S, bugfix, LGTM

#1838 feat(DLI): add status check when job is async mode
  docs/resources/dli_sql_job.md
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_sql_job_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_sql_job.go
Labels: size/M, feature

#1800 feat(DMS) support to modify product_id and some optimizations
  docs/resources/dms_kafka_instance.md
  docs/resources/dms_rabbitmq_instance.md
  examples/dms/rabbitMQ-instance/README.md
  examples/dms/rabbitMQ-instance/main.tf
  examples/dms/rabbitMQ-instance/variables.tf
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/L, documentation, feature, LGTM

#1840 feat(CDM):add a new resource CDM job
  docs/resources/cdm_job.md
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_job_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_job.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/job/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/job/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/job/urls.go
  vendor/modules.txt
Labels: size/XL, feature, LGTM

#1848 docs: update docs of lb l7policy
  docs/resources/lb_l7policy.md
  huaweicloud/resource_huaweicloud_lb_l7policy.go
Labels: size/S, documentation

#1849 json: update schema for compute instance
  docs/json/resources/compute_instance.json
Labels: size/XS

#1850 Update CHANGELOG for v1.32.0
  CHANGELOG.md
Labels: size/XS
