Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2021-09, with the labels that each got.

#1468 chore(common): copy resource_schema.go from huaweilcoud to common
  huaweicloud/common/common.go
  huaweicloud/common/resource_schema.go
Labels: chore

#1462 chore(sdkv2): use context aware CRUD operations for vpc resources
  huaweicloud/common/common.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_subnet_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
  huaweicloud/utils/fmtp/errors.go
Labels: chore

#1394 Provides test tool functions to make it easier to write unit tests.
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_certificate_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
Labels: feature

#1463 refactor(tags): ignore system tags when transferring tags to map
  huaweicloud/data_source_huaweicloud_cce_node_pool_v3.go
  huaweicloud/data_source_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_node_pool.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/utils/tags.go
Labels: refactor

#1464 fix(cce): fix prePaid cce node Unsubscribe
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
Labels: bugfix

#1471 docs(fgs_function): Update description of the vpc access configuration
  docs/resources/fgs_function.md
Labels: documentation

#1473 docs(waf/instance): add timeout description for creating dedicated instance
  docs/resources/waf_dedicated_instance.md
Labels: documentation

#1474 fix: use Summary rather than Detail field in Diagnostic struct
  huaweicloud/endpoints_test.go
  huaweicloud/provider_test.go
Labels: bugfix, chore

#1475 feat(cdn/domain): add service_area argument support
  docs/resources/cdn_domain.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cdn_domain.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/requests.go
  vendor/modules.txt
Labels: feature, dependencies

#1477 chore: add a periodic workflow to run ci with Actions
  .github/workflows/cron-ci.yml
Labels: chore

#1480 feat: make domain_name optional for IAM resources
  docs/index.md
  huaweicloud/config/config.go
  huaweicloud/provider_test.go
Labels: feature

#1486 style(ecs): correct spelling error of func name waitForServerTargetState
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_compute_instance.go
Labels: lgtm

#1491 fix(cdn): add a new available type
  docs/resources/cdn_domain.md
  huaweicloud/resource_huaweicloud_cdn_domain.go
  huaweicloud/resource_huaweicloud_cdn_domain_test.go
Labels: bugfix, lgtm

#1484 feat(rds/flavors): add vcpus and memory arguments
  docs/data-sources/rds_flavors.md
  huaweicloud/data_source_huaweicloud_rds_flavors_v3.go
Labels: feature, lgtm

#1487 fix(cdn/domain): clean up unsupported arguments
  huaweicloud/resource_huaweicloud_cdn_domain.go
Labels: breaking-change, bugfix, lgtm

#1488 chore: modify "CheckResourceExists" make it suitable for unit testing of data sources
  huaweicloud/services/acceptance/acceptance.go
Labels: chore, lgtm

#1490 fix(gaussdb): fix data source test depends_on issue
  huaweicloud/data_source_huaweicloud_gaussdb_cassandra_instance_test.go
  huaweicloud/data_source_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/data_source_huaweicloud_gaussdb_mysql_instances_test.go
  huaweicloud/data_source_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/data_source_huaweicloud_gaussdb_redis_instance_test.go
Labels: bugfix, lgtm

#1481 chore(utils): add a function to change schema.List to int[]
  huaweicloud/utils/utils.go
Labels: chore

#1483 feat(gaussdb/opengauss): add instances data source
  docs/data-sources/gaussdb_opengauss_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances.go
Labels: feature, LGTM

#1511 chore: add LGTM label with /lgtm comment
  .github/labeler.yml
  .github/workflows/pull-request.yml
Labels: chore

#1494 fix(docs): fix some inappropriate descriptions in the docs
  docs/data-sources/dcs_product.md
  docs/data-sources/waf_reference_tables.md
Labels: bugfix

#1510 [refactor][fix](evs/volume): Add multierror validation and delete expired param setting
  huaweicloud/resource_huaweicloud_evs_volume.go
Labels: bugfix, refactor, LGTM

#1518 feat(obs): support default encryption for a bucket
  docs/resources/obs_bucket.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_obs_bucket.go
  huaweicloud/resource_huaweicloud_obs_bucket_test.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/CHANGELOG
  vendor/github.com/chnsz/golangsdk/openstack/obs/README.MD
  vendor/github.com/chnsz/golangsdk/openstack/obs/client.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/conf.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/const.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/convert.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/temporary.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait.go
  vendor/modules.txt
Labels: feature, dependencies

#1485 feat(iam): add data source for identity group
  docs/data-sources/identity_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_group_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_group.go
  vendor/github.com/chnsz/golangsdk/.gitignore
  vendor/github.com/chnsz/golangsdk/CONTRIBUTING.md
  vendor/github.com/chnsz/golangsdk/MIGRATING.md
  vendor/github.com/chnsz/golangsdk/STYLEGUIDE.md
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/groups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/groups/urls.go
  vendor/github.com/chnsz/golangsdk/provider_client.go
Labels: feature, LGTM

#1523 chore: update github workflow
  .github/workflows/cron-ci.yml
  .github/workflows/release.yml
Labels: chore

#1514 feat(cce/addon): support json string in values
  docs/resources/cce_addon.md
  docs/resources/cce_cluster.md
  examples/cce/basic/cce-addon-templates.md
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_cce_addon_v3.go
  huaweicloud/resource_huaweicloud_cce_addon_v3_test.go
Labels: feature

#1512 feat(CSS): refactor CSS cluster resources to new sdk
  docs/resources/css_cluster.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/utils/tags.go
  vendor/github.com/chnsz/golangsdk/openstack/css/v1/cluster/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/css/v1/cluster/results.go
  vendor/github.com/chnsz/golangsdk/openstack/css/v1/cluster/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/css/v1/snapshots/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/css/v1/thesaurus/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/css/v1/thesaurus/results.go
  vendor/github.com/chnsz/golangsdk/openstack/css/v1/thesaurus/urls.go
  vendor/modules.txt
Labels: bugfix, feature

#1522 feat(vpc/eip): check whether the eip exists before delete
  huaweicloud/resource_huaweicloud_vpc_eip.go
Labels: feature

#1529 feat: add huaweicloud_vpc_route_table resource and docs
  docs/resources/vpc_route_table.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_vpc_route_table.go
  huaweicloud/resource_huaweicloud_vpc_route_table_test.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/routables/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/routables/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/routables/urls.go
  vendor/modules.txt
Labels: feature, dependencies

#1530 refactor(fgs/function): move fgs funciton to services dir
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: refactor, LGTM

#1534 test(cce/node): fix test cases of cce node
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
Labels: LGTM, test

#1531 fix(sfs): delete invalid parameter setting
  docs/resources/sfs_file_system.md
  huaweicloud/resource_huaweicloud_sfs_file_system_v2.go
Labels: bugfix, LGTM

#1540 doc(cce/node): fix a doc problem of cce node
  docs/data-sources/cce_node.md
Labels: LGTM

#1517 refactor(cbr/policy): move cbr policy to services directory
  docs/resources/cbr_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_policy_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_policy.go
Labels: refactor, LGTM

#1542 refactor(ecs): use cloudimage api
  huaweicloud/resource_huaweicloud_compute_instance.go
Labels: refactor, LGTM

#1492 feat: add rules attribute into networking secgroup resource and data source
  docs/data-sources/networking_secgroup.md
  docs/resources/networking_secgroup.md
  huaweicloud/data_source_huaweicloud_networking_secgroup_v2.go
  huaweicloud/data_source_huaweicloud_networking_secgroup_v2_test.go
  huaweicloud/resource_huaweicloud_networking_secgroup_v2.go
  huaweicloud/resource_huaweicloud_networking_secgroup_v2_test.go
Labels: feature, LGTM

#1493 feat: add huaweicloud_vpc_route_table data source and docs
  docs/data-sources/vpc_route_table.md
  huaweicloud/data_source_huaweicloud_vpc_route_table.go
  huaweicloud/data_source_huaweicloud_vpc_route_table_test.go
  huaweicloud/provider.go
Labels: feature

#1532 docs(identity/role): update descriptions of example and import
  docs/resources/identity_role.md
Labels: documentation, LGTM

#1543 refactor(cce): wait for job success before get cce resources
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/resource_huaweicloud_cce_node_attach.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: refactor, LGTM

#1498 feat(dcs/flavors): add a data source to query a list of available DCS flavors
  docs/data-sources/dcs_flavors.md
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_flavors_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_flavors.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/flavors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/flavors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/flavors/urls.go
  vendor/modules.txt
Labels: feature, LGTM

#1549 chore(ci/tfproviderlint) ignore the R019 analyzer which based on threshold analysis
  .github/workflows/ci.yml
  .github/workflows/cron-ci.yml
Labels: chore, LGTM

#1533 fix(iam/group_membership): check whether the user exists before remove it from the group
  huaweicloud/resource_huaweicloud_identity_group_membership.go
Labels: bugfix, LGTM

#1525 docs(ecs/provisioners): update provisioners example
  examples/ecs/provisioners/README.md
  examples/ecs/provisioners/main.tf
  examples/ecs/provisioners/test.txt
  examples/ecs/provisioners/variables.tf
Labels: documentation, LGTM

#1545 docs: update arguments of compute flavors data source
  docs/data-sources/compute_flavors.md
Labels: documentation

#1373 docs(examples/trigger):Add new trigger example support
  examples/fgs/obs-download/README.md
  examples/fgs/obs-download/main.tf
  examples/fgs/obs-download/variables.tf
Labels: documentation, LGTM

#1515 refactor(cbr/vault): refactor vault resoruces structure
  docs/resources/cbr_vault.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_cbr_vault.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: breaking-change, refactor, LGTM

#1559 fix(dcs/flavors): change the specification code to name
  docs/data-sources/dcs_flavors.md
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_flavors.go
Labels: breaking-change, bugfix, LGTM

#1524 refactor:docs:Add key_file parameter and update the behavior of public_key
  .gitignore
  docs/resources/compute_keypair.md
  huaweicloud/resource_huaweicloud_compute_keypair.go
  huaweicloud/resource_huaweicloud_compute_keypair_test.go
Labels: chore, refactor, feature, LGTM

#1558 feat(cce/job): add reason of failure in waiting job error message
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: feature, LGTM

#1516 refactor(CSS):refactor CSS snapshot to a new SDK
  docs/resources/css_snapshot.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_css_cluster_v1.go
  huaweicloud/resource_huaweicloud_css_cluster_v1_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_snapshot_test.go
  huaweicloud/services/css/resource_huaweicloud_css_snapshot.go
Labels: refactor, feature, LGTM

#1535 fix: make user_id optional when charging_mode is prePaid and use ssh key
  huaweicloud/config/config.go
  huaweicloud/resource_huaweicloud_compute_instance.go
Labels: bugfix, LGTM

#1536 fix(MRS): fix the type error when handling assigned_roles of node
  go.mod
  go.sum
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v1/cluster/results.go
  vendor/modules.txt
Labels: bugfix, dependencies, LGTM

#1546 feat(DWS): refactor resource_huaweicloud_dws_cluster to new SDK
  docs/resources/dws_cluster.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_dws_cluster.go
  huaweicloud/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/dws/cluster/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dws/cluster/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dws/cluster/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/subnets/requests.go
  vendor/modules.txt
Labels: feature, dependencies, LGTM

#1550 refactor(vpn): move vpn resources to deprecated
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_endpoint_group_v2_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_ike_policy_v2_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_ipsec_policy_v2_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_service_v2_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpnaas_site_connection_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_vpnaas_endpoint_group_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_vpnaas_ike_policy_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_vpnaas_ipsec_policy_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_vpnaas_service_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_vpnaas_site_connection.go
  huaweicloud/services/deprecated/value_specs.go
  huaweicloud/value_specs.go
Labels: refactor, LGTM

#1551 refactor(iam): move iam resouces to service/iam directory
  huaweicloud/common/common.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_custom_role_test.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_role_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_access_key_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_acl_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_agency_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_group_membership_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_group_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_project_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_role_assignment_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_role_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_custom_role.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_role.go
  huaweicloud/services/iam/resource_huaweicloud_identity_access_key.go
  huaweicloud/services/iam/resource_huaweicloud_identity_acl.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
  huaweicloud/services/iam/resource_huaweicloud_identity_group.go
  huaweicloud/services/iam/resource_huaweicloud_identity_group_membership.go
  huaweicloud/services/iam/resource_huaweicloud_identity_project.go
  huaweicloud/services/iam/resource_huaweicloud_identity_role.go
  huaweicloud/services/iam/resource_huaweicloud_identity_role_assignment.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user.go
Labels: refactor, LGTM

#1557 feat(bms): add a data source to get available BMS flavors
  docs/data-sources/bms_flavors.md
  go.mod
  go.sum
  huaweicloud/data_source_huaweicloud_bms_flavors.go
  huaweicloud/data_source_huaweicloud_bms_flavors_test.go
  huaweicloud/provider.go
  huaweicloud/utils/filter.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/flavors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/flavors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/flavors/urls.go
  vendor/modules.txt
Labels: feature, dependencies

#1562 feat(gaussdb/mysql): add validation for volume_size
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: feature, LGTM

#1521 refactor(dcs): discard old DCS resources
  docs/data-sources/dcs_az.md
  docs/data-sources/dcs_product.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_dcs_instance_v1.go
  huaweicloud/resource_huaweicloud_dcs_instance_v1_test.go
  huaweicloud/services/acceptance/deprecated/data_source_huaweicloud_dcs_az_v1_test.go
  huaweicloud/services/acceptance/deprecated/data_source_huaweicloud_dcs_product_v1_test.go
  huaweicloud/services/deprecated/data_source_huaweicloud_dcs_az_v1.go
  huaweicloud/services/deprecated/data_source_huaweicloud_dcs_product_v1.go
Labels: refactor, LGTM

#1564 fix(sign/resign): add region to sign headers
  huaweicloud/config/config.go
  huaweicloud/resource_huaweicloud_dis_stream_v2.go
  huaweicloud/resource_huaweicloud_dis_stream_v2_test.go
  vendor/modules.txt
Labels: bugfix, LGTM

#1567 fix(gaussdb/mysql): remove sensitive information from log
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: bugfix, LGTM

#1547 feat(dcs/instances): upgrade DCS API version to V2
  docs/resources/dcs_instance.md
  go.sum
  huaweicloud/common/common.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_dcs_instance_v1.go
  huaweicloud/resource_huaweicloud_dcs_instance_v1_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v1/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v1/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v1/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/availablezones/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/availablezones/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/availablezones/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/tags/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/tags/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/tags/urls.go
  vendor/modules.txt
Labels: bugfix, feature

#1565 doc(MRS): add an argument: assigned_roles
  docs/resources/mapreduce_cluster.md
Labels: LGTM

#1569 chore: remove ElasticLBClient and change the key for LoadBalancerClient
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
Labels: chore, LGTM

#1555 feat(cce/node_attach): support reset in node_attach
  docs/resources/cce_node_attach.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cce_node_attach.go
  huaweicloud/resource_huaweicloud_cce_node_attach_test.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/trigger/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/swr/v2/namespaces/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/swr/v2/namespaces/results.go
  vendor/github.com/chnsz/golangsdk/openstack/swr/v2/namespaces/urls.go
  vendor/modules.txt
Labels: feature, dependencies
