Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-06, with the labels that each got.

#2174 feat(IoTDA): add a new resource to manage product
  docs/resources/iotda_product.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_product_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_product.go
  huaweicloud/utils/type_convert.go
Labels: size/XL, feature, LGTM, safe to test

#2176 feat(vod): add new resource watermark template
  docs/resources/vod_watermark_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vod/resource_huaweicloud_vod_watermark_template_test.go
  huaweicloud/services/vod/resource_huaweicloud_vod_watermark_template.go
Labels: size/L, feature, LGTM, safe to test

#2169 feat(cse): add new microservice resource support
  docs/resources/cse_microservice.md
  docs/resources/cse_microservice_engine.md
  docs/resources/cse_microservice_instance.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_instance_test.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_test.go
  huaweicloud/services/cse/config.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v4/auth/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v4/auth/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v4/auth/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v4/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v4/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v4/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v4/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v4/services/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v4/services/urls.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies, LGTM

#2178 feat(mpc/vod): flatten common block
  docs/resources/mpc_transcoding_template.md
  docs/resources/mpc_transcoding_template_group.md
  docs/resources/vod_transcoding_template_group.md
  huaweicloud/services/acceptance/mpc/resource_huaweicloud_mpc_transcoding_template_group_test.go
  huaweicloud/services/acceptance/mpc/resource_huaweicloud_mpc_transcoding_template_test.go
  huaweicloud/services/acceptance/vod/resource_huaweicloud_vod_transcoding_template_group_test.go
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template.go
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template_group.go
  huaweicloud/services/vod/resource_huaweicloud_vod_transcoding_template_group.go
Labels: size/L, feature, LGTM

#2179 bugfix(sms): add bandwidth_size param to support public IP
  docs/resources/sms_server_template.md
  huaweicloud/services/acceptance/sms/resource_huaweicloud_sms_server_template_test.go
  huaweicloud/services/sms/resource_huaweicloud_sms_server_template.go
Labels: size/S

#2180 feat(iam/projects): add new projcets query resource
  docs/data-sources/identity_projects.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_projects_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_projects.go
Labels: size/M, feature, LGTM

#2177 feat(sms): add migration task resource
  docs/data-sources/sms_source_servers.md
  docs/resources/sms_task.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sms/resource_huaweicloud_sms_task_test.go
  huaweicloud/services/sms/data_source_huaweicloud_sms_source_servers.go
  huaweicloud/services/sms/resource_huaweicloud_sms_task.go
  vendor/github.com/chnsz/golangsdk/openstack/sms/v3/sources/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sms/v3/sources/results.go
  vendor/github.com/chnsz/golangsdk/openstack/sms/v3/sources/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/sms/v3/tasks/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sms/v3/tasks/results.go
  vendor/github.com/chnsz/golangsdk/openstack/sms/v3/tasks/urls.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies

#2181 Update CHANGELOG for v1.37.0
  CHANGELOG.md
Labels: size/S

#2184 fix(DLI): fix some acc test
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_spark_job_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinksql_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_table.go
Labels: size/S, bugfix, LGTM

#2188 fix(cci/namespace): fix the index out of range panic
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cci_namespaces_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cci_namespaces.go
Labels: size/S, bugfix, LGTM, safe to test

#2185 docs(eip/associate): rename associate resource
  docs/resources/lb_loadbalancer.md
  examples/elb/basic/main.tf
  examples/rds/mysql-with-eip/main.tf
Labels: documentation, size/XS, LGTM

#2186 bugfix(mrs): SetNewComputed does not support nested attributes
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
Labels: size/XS, LGTM

#2191 fix(RDS): read replica resource does not support autopay
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
Labels: size/XS, bugfix, LGTM, safe to test

#2193 test(OpenGauss): add required security group ports
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances_test.go
Labels: size/S, LGTM, test

#2196 acceptance/ci: use ProviderFactories instead of Providers in service dir
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_custom_authorizer_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_environment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_response_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_vpc_channel_test.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_test.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_policy_test.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_pvc_test.go
  huaweicloud/services/acceptance/cloudtable/resource_huaweicloud_cloudtable_cluster_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_certificate_test.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_dependencies_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_trigger_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances_test.go
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_job_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_route_table_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_route_table_test.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_certificate_test.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_policies_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_certificate_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_policy_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_reference_table_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_blacklist_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_data_masking_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_web_tamper_protection_test.go
Labels: size/M, LGTM

#2197 test(gaussdb_mysql_proxy): add timeout for subnet in the test case
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_test.go
Labels: size/XS, LGTM, test

#2192 acceptance: delete CheckDestroy for data source
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_test.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_flavors_test.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eip_test.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eips_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_nosql_flavors_test.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_dataset_versions_test.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_datasets_test.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_notebook_images_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_engine_versions_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_flavors_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_instances_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_ids_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_peering_connection_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_route_ids_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_route_table_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_subnet_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_subnets_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpcs_test.go
Labels: size/S, LGTM

#2198 fix(DCS): check the attr with regxp
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_maintainwindow_test.go
Labels: size/XS, bugfix, LGTM

#2199 acceptance: ignore HW_AVAILABILITY_ZONE environment variable
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_network_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_nosql_flavors_test.go
Labels: size/S, LGTM

#2200 docs(iam): fix usage issue and add note messages
  docs/data-sources/identity_custom_role.md
  docs/data-sources/identity_group.md
  docs/data-sources/identity_projects.md
  docs/data-sources/identity_role.md
Labels: documentation, size/XS, LGTM

#2195 fix(evs/attach): add error parsing for delete check function
  go.mod
  go.sum
  huaweicloud/services/ecs/resource_huaweicloud_compute_volume_attach.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_trigger.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/block_devices/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/trigger/results.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies

#2202 acceptance: export ResourceCheck and no restriction with huaweicloud_ type
  huaweicloud/services/acceptance/acceptance.go
Labels: size/S, LGTM

#2190 fix(sfs/file_system): remove multiple delete logic
  huaweicloud/resource_huaweicloud_sfs_file_system_v2.go
Labels: size/S, bugfix, LGTM

#2203 Update CHANGELOG for v1.37.1
  CHANGELOG.md
Labels: size/XS

#2183 feat: refactor(cbr/vault): support the prepaid mode creation
  docs/resources/cbr_vault.md
  huaweicloud/common/common.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_test.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_vaults.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/results.go
Labels: size/L, refactor, feature

#2205 refactor: improve on ResourceCheck functions
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/resource_check.go
  huaweicloud/services/acceptance/resource_check_test.go
Labels: size/L, refactor, LGTM, test, safe to test, ready for review

#2207 chore(kms): update docs and wrap error with CheckDeleted
  docs/resources/kms_key.md
  huaweicloud/resource_huaweicloud_kms_key_v1.go
  huaweicloud/resource_huaweicloud_kms_key_v1_test.go
Labels: size/S, bugfix, chore, LGTM, ready for review

#2209 fix(IEC): prevent delete failure
  huaweicloud/resource_huaweicloud_iec_vpc.go
Labels: size/XS, bugfix, LGTM, safe to test

#2212 style(IoTDA): rename the space to space_id
  docs/resources/iotda_device.md
  docs/resources/iotda_product.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_product_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_product.go
Labels: size/S, LGTM, safe to test

#2210 feat(kms): support to config key rotation
  docs/data-sources/kms_key.md
  docs/resources/kms_key.md
  go.mod
  go.sum
  huaweicloud/data_source_huaweicloud_kms_key_v1.go
  huaweicloud/data_source_huaweicloud_kms_key_v1_test.go
  huaweicloud/resource_huaweicloud_kms_key_v1.go
  huaweicloud/resource_huaweicloud_kms_key_v1_test.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/rotation/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/rotation/results.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/rotation/urls.go
  vendor/modules.txt
Labels: size/L, chore, feature, dependencies, LGTM, ready for review

#2215 docs: fix typos
  docs/resources/cbr_vault.md
  docs/resources/cce_cluster.md
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
  docs/resources/cce_pvc.md
  docs/resources/cdm_cluster.md
  docs/resources/cloudtable_cluster.md
  docs/resources/compute_instance.md
  docs/resources/cse_microservice_engine.md
  docs/resources/dli_sql_job.md
  docs/resources/dms_kafka_instance.md
  docs/resources/dms_rabbitmq_instance.md
  docs/resources/drs_job.md
  docs/resources/dws_cluster.md
  docs/resources/elb_certificate.md
  docs/resources/elb_ipgroup.md
  docs/resources/elb_loadbalancer.md
  docs/resources/evs_volume.md
  docs/resources/kps_keypair.md
  docs/resources/lb_certificate.md
  docs/resources/mapreduce_cluster.md
  docs/resources/modelarts_dataset.md
  docs/resources/modelarts_dataset_version.md
  docs/resources/obs_bucket.md
  docs/resources/obs_bucket_object.md
  docs/resources/rds_instance.md
  docs/resources/sms_task.md
  docs/resources/vod_media_category.md
  docs/resources/vod_watermark_template.md
Labels: size/S, documentation

#2201 feat(vod): add new resource media asset
  docs/resources/vod_media_asset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vod/resource_huaweicloud_vod_media_asset_test.go
  huaweicloud/services/vod/resource_huaweicloud_vod_media_asset.go
  huaweicloud/utils/type_convert.go
  huaweicloud/utils/utils.go
Labels: size/L, feature, LGTM, ready for review

#2206 feat(IoTDA): add a new resource to manage group
  docs/resources/iotda_device_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_group_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_group.go
Labels: size/L, feature, LGTM, ready for review

#2204 Add new example for csvdecode Functions
  examples/csvdecode-with-for_each/RDS-with-DRS/README.md
  examples/csvdecode-with-for_each/RDS-with-DRS/main.tf
  examples/csvdecode-with-for_each/RDS-with-DRS/mysql.csv
Labels: size/M

#2211 feat(IoTDA): add a resource to manage data forwarding rule
  docs/resources/iotda_dataforwarding_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_dataforwarding_rule_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_dataforwarding_rule.go
Labels: size/XL, feature, ready for review

#2220 feat(rds): add new resource rds database
  docs/resources/rds_database.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_database.go
Labels: size/L, feature, LGTM, safe to test, ready for review

#2216 feat(IoTDA): add a resource to manage AMQP queue
  docs/resources/iotda_amqp.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_amqp_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_amqp.go
Labels: size/M, feature, LGTM, ready for review

#2222 feat(apig/environment): add new data source support
  docs/data-sources/apig_environments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_environments_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_environments.go
Labels: size/M, feature, LGTM, ready for review

#2223 fix(cbr/policy): update require validate method
  docs/resources/cbr_policy.md
  huaweicloud/services/cbr/resource_huaweicloud_cbr_policy.go
Labels: size/XS, bugfix, LGTM, safe to test

#2224 fix(apig/validate): update validate message
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy.go
  huaweicloud/services/apig/resource_huaweicloud_apig_vpc_channel.go
Labels: size/XS, bugfix, LGTM

#2226 refactor(client): move client function to public package
  huaweicloud/common/config.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_instance_test.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_test.go
  huaweicloud/services/cse/config.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_instance.go
Labels: size/S, chore, refactor, LGTM

#2219 feat(IoTDA): add a resource to manage device certificate
  docs/resources/iotda_device_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_certificate_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_certificate.go
Labels: size/L, feature, LGTM, safe to test, ready for review

#2221 feat(apig): support a new throttling policy associate resource
  docs/resources/apig_api_publishment.md
  docs/resources/apig_throttling_policy_associate.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_publishment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_associate_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api_publishment.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy_associate.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/throttles/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/throttles/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/throttles/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM
