Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-10, with the labels that each got.

#2414 feat(config): add a method to get service catalog
  huaweicloud/config/endpoints.go
Labels: size/XS, feature, LGTM

#2413 chore: get version from CHANGELOG
  .github/workflows/scan-api.yml
Labels: size/XS, chore, LGTM

#2415 fix(gaussdb/refresh): update the logic of 404 check
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
Labels: size/XS, bugfix, LGTM

#2416 fix(gaussdb/opengauss): extend the check cycle of backup status
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/XS, bugfix, LGTM

#2417 fix(evs): add continuous check to work around inconsistent APIs
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/XS, bugfix, LGTM

#2406 feat(gaussdb/opengauss): support new payment for instance resource
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/L, feature, LGTM, test, ready for review

#2418 feat(cce/cluster): support updating eip in cce cluster
  docs/resources/cce_cluster.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/resource_huaweicloud_cce_cluster_v3_test.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, ready for review

#2409 fix(serviceStage): fix acc test
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_environment_test.go
Labels: size/XS, bugfix, LGTM

#2427 refactor(ims): move ims's codes to services
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
Labels: size/S, refactor, LGTM, ready for review

#2422 docs: add usage for ECS metadata authentication
  docs/index.md
Labels: documentation, size/XS, LGTM

#2424 docs(network/secgroup): correct document description
  docs/resources/networking_secgroup_rule.md
Labels: size/S, documentation, LGTM

#2420 feat(workspace/desktop): add new resource support
  docs/resources/workspace_desktop.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/jobs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/jobs/urls.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies, LGTM, ready for review

#2421 feat(cdn/domain): support range-based interival
  docs/resources/cdn_domain.md
  huaweicloud/resource_huaweicloud_cdn_domain.go
  huaweicloud/resource_huaweicloud_cdn_domain_test.go
Labels: size/S, feature, LGTM, ready for review

#2425 feat(cdn/domain): support tags in cdn domain
  docs/resources/cdn_domain.md
  huaweicloud/resource_huaweicloud_cdn_domain.go
  huaweicloud/resource_huaweicloud_cdn_domain_test.go
Labels: size/S, feature, LGTM, ready for review

#2428 feat(config/logger): support masking map field
  huaweicloud/config/logger.go
Labels: size/XS, chore, feature, LGTM

#2429 fix(dli): enhance the acceptance test of DLI
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_permission_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_sql_job_test.go
Labels: size/XS, bugfix, LGTM

#2432 fix(cce/node): fix a bug of node storage
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
Labels: size/XS, bugfix, LGTM

#2433 Update CHANGELOG for v1.41.1
  CHANGELOG.md
Labels: size/XS

#2436 fix(aom/schema): the type of Elem should be *schema.Schema in Map
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_policy.go
Labels: size/XS, bugfix

#2434 chore(workflow): move acc-test to pre-release
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: size/M, chore, LGTM

#2437 chore: keep internal used and deprecated resources together
  huaweicloud/provider.go
Labels: size/M, chore

#2438 feat(workflow): export schemas by Terraform dev mode
  .github/workflows/pre-release.yml
Labels: size/XS, feature, LGTM

#2439 chore: remove huaweicloud_mls_instance resource
  docs/api/resource_huaweicloud_mls_instance.yaml
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_mls_instance.go
  huaweicloud/resource_huaweicloud_mls_instance_test.go
Labels: size/L, chore, LGTM

#2442 refactor(log): remove tflog package
  go.mod
  go.sum
  huaweicloud/services/aad/resource_huaweicloud_aad_forward_rule.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_role_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_user_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_database_user.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_database_privilege.go
  huaweicloud/services/sfs/data_source_huaweicloud_sfs_turbos.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
  vendor/modules.txt
Labels: size/S, refactor, dependencies, LGTM

#2444 fix(docs): rename file name of dli_flinkjar_job
  docs/resources/dli_flinkjar_job.md
Labels: size/XS, bugfix

#2449 chore: bump Go version to 1.18+
  go.mod
  go.sum
  vendor/github.com/agext/levenshtein/go.mod
  vendor/github.com/chnsz/golangsdk/go.mod
  vendor/github.com/chnsz/golangsdk/go.sum
  vendor/github.com/hashicorp/errwrap/go.mod
  vendor/github.com/hashicorp/go-checkpoint/go.mod
  vendor/github.com/hashicorp/go-checkpoint/go.sum
  vendor/github.com/hashicorp/go-cleanhttp/go.mod
  vendor/github.com/hashicorp/go-hclog/go.mod
  vendor/github.com/hashicorp/go-hclog/go.sum
  vendor/github.com/hashicorp/go-multierror/go.mod
  vendor/github.com/hashicorp/go-multierror/go.sum
  vendor/github.com/hashicorp/go-plugin/go.mod
  vendor/github.com/hashicorp/go-plugin/go.sum
  vendor/github.com/hashicorp/go-uuid/go.mod
  vendor/github.com/hashicorp/go-version/go.mod
  vendor/github.com/hashicorp/hc-install/go.mod
  vendor/github.com/hashicorp/hc-install/go.sum
  vendor/github.com/hashicorp/hcl/v2/go.mod
  vendor/github.com/hashicorp/hcl/v2/go.sum
  vendor/github.com/hashicorp/logutils/go.mod
  vendor/github.com/hashicorp/terraform-json/go.mod
  vendor/github.com/hashicorp/terraform-json/go.sum
  vendor/github.com/hashicorp/terraform-registry-address/go.mod
  vendor/github.com/hashicorp/terraform-registry-address/go.sum
  vendor/github.com/hashicorp/terraform-svchost/go.mod
  vendor/github.com/hashicorp/terraform-svchost/go.sum
  vendor/github.com/hashicorp/yamux/go.mod
  vendor/github.com/jen20/awspolicyequivalence/go.mod
  vendor/github.com/jen20/awspolicyequivalence/go.sum
  vendor/github.com/jmespath/go-jmespath/go.mod
  vendor/github.com/jmespath/go-jmespath/go.sum
  vendor/github.com/json-iterator/go/go.mod
  vendor/github.com/json-iterator/go/go.sum
  vendor/github.com/mattn/go-colorable/go.mod
  vendor/github.com/mattn/go-colorable/go.sum
  vendor/github.com/mattn/go-isatty/go.mod
  vendor/github.com/mattn/go-isatty/go.sum
  vendor/github.com/mitchellh/copystructure/go.mod
  vendor/github.com/mitchellh/copystructure/go.sum
  vendor/github.com/mitchellh/go-homedir/go.mod
  vendor/github.com/mitchellh/go-testing-interface/go.mod
  vendor/github.com/mitchellh/go-wordwrap/go.mod
  vendor/github.com/mitchellh/mapstructure/go.mod
  vendor/github.com/mitchellh/reflectwalk/go.mod
  vendor/github.com/modern-go/reflect2/go.mod
  vendor/google.golang.org/appengine/go.mod
  vendor/google.golang.org/appengine/go.sum
  vendor/google.golang.org/grpc/go.mod
  vendor/google.golang.org/grpc/go.sum
  vendor/gopkg.in/yaml.v3/go.mod
  vendor/modules.txt
Labels: size/L, chore, dependencies, LGTM

#2446 feat(workflow): add a job to auto-generate schema json files
  .github/workflows/pre-release.yml
Labels: size/S, feature, LGTM

#2454 chore(workflows): upgrade version of checkout and setup-go actions
  .github/workflows/acc-test.yml
  .github/workflows/ci.yml
  .github/workflows/cron-ci.yml
  .github/workflows/doc-lint.yml
  .github/workflows/mirror_to_codehub.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: size/S, chore

#2431 feat(ecs): support updting keypair without rebuilding
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/compute_instance_keypair.go
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v3/keypairs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v3/keypairs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v3/keypairs/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, ready for review

#2452 doc(cce/cluster): add cce turbo example in the doc
  docs/resources/cce_cluster.md
Labels: size/S, LGTM

#2423 feat(SCM): support filter by name
  docs/data-sources/scm_certificates.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/scm/data_source_huaweicloud_scm_certificates_test.go
  huaweicloud/services/scm/data_source_huaweicloud_scm_certificates.go
Labels: size/S, feature, LGTM, ready for review

#2451 docs(ims): Fix example usage.
  docs/resources/images_image.md
Labels: documentation, size/XS, LGTM

#2455 fix(gaussdb/proxy): unset all parameters because no response
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
Labels: size/XS, bugfix, LGTM, api-issue

#2459 fix(workflows): set up go 1.18+ before running acceptance test
  .github/workflows/ci.yml
  .github/workflows/cron-ci.yml
  .github/workflows/pre-release.yml
Labels: size/XS, bugfix

#2460 refactor(cce): move cce resources to services path
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_addon_template_test.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_clusters_test.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_node_pool_v3_test.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_node_v3_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_addon_v3_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_attach_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_v3_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_addon_template.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_cluster_v3.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_node_pool_v3.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_node_v3.go
  huaweicloud/services/cce/resource_huaweicloud_cce_addon_v3.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_v3.go
Labels: size/L, refactor

#2453 feat(workspace/service): add new resource support
  docs/resources/workspace_service.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_service_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_service.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/urls.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies, LGTM, ready for review

#2458 fix:test(workspace/desktop): combine two delete status and update test
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/S, bugfix, LGTM, safe to test

#2426 feat(workspace/user): add new resource support
  docs/resources/workspace_user.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_user_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  huaweicloud/services/dli/resource_huaweicloud_dli_sql_job.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_user.go
  huaweicloud/utils/utils.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/users/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/users/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/users/urls.go
  vendor/modules.txt
Labels: size/L, refactor, feature, LGTM, ready for review

#2463 fix(css/cluster): add the charging_mode parameter
  docs/resources/css_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/XS, bugfix, LGTM

#2456 fix(dms/rabbitmq): fix crash when creating Rabbitmq instance
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_instances_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/M, bugfix, LGTM

#2462 feat(servicestage/component): add new repository parameters
  docs/resources/servicestage_component.md
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component.go
Labels: size/S, feature, LGTM, safe to test, ready for review

#2472 fix(apig/instance): append new status to pending array of refresh method
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
Labels: size/XS, bugfix, LGTM

#2475 feat(cce/node_attach): fix the error when attaching a prePaid ECS
  docs/resources/cce_node_attach.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_attach_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
Labels: size/M, feature, LGTM

#2477 chore(vpc): add ipv4_subnet_id attribute in vpc_subnet resource and d…
  docs/data-sources/vpc_subnet.md
  docs/data-sources/vpc_subnets.md
  docs/resources/vpc_subnet.md
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_subnet_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_subnets_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_subnet_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnet.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnets.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/S, chore, LGTM

#2476 feat: add DataArts studio instance resource
  docs/resources/dataarts_studio_instance.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_instance_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dayu/v1/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dayu/v1/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dayu/v1/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v1/products/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/flavors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, ready for review

#2478 Update CHANGELOG for v1.42.0
  CHANGELOG.md
Labels: size/XS

#2479 chore: update api files manually
  docs/api/data_source_huaweicloud_cdm_flavors.yaml
  docs/api/data_source_huaweicloud_csms_secret_version.yaml
  docs/api/data_source_huaweicloud_er_availability_zones.yaml
  docs/api/data_source_huaweicloud_gaussdb_mysql_flavors.yaml
  docs/api/data_source_huaweicloud_obs_bucket_object.yaml
  docs/api/data_source_huaweicloud_obs_buckets.yaml
  docs/api/resource_huaweicloud_er_instance.yaml
  docs/api/resource_huaweicloud_nat_dnat_rule.yaml
  docs/api/resource_huaweicloud_obs_bucket.yaml
  docs/api/resource_huaweicloud_obs_bucket_object.yaml
  docs/api/resource_huaweicloud_obs_bucket_policy.yaml
  docs/api/resource_huaweicloud_rds_backup.yaml
  docs/resources/dataarts_studio_instance.md
Labels: size/M, chore
