Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-02, with the labels that each got.

#1940 docs: chore(doc-lint): add new rules support
  .markdownlint.json
  docs/data-sources/dms_product.md
  docs/data-sources/evs_volumes.md
  docs/data-sources/identity_custom_role.md
  docs/resources/apig_api.md
  docs/resources/compute_instance.md
  docs/resources/compute_interface_attach.md
  docs/resources/compute_volume_attach.md
  docs/resources/dli_queue.md
  docs/resources/identity_access_key.md
  docs/resources/identity_acl.md
  docs/resources/identity_agency.md
  docs/resources/identity_group.md
  docs/resources/identity_group_membership.md
  docs/resources/identity_project.md
  docs/resources/identity_role.md
  docs/resources/identity_role_assignment.md
  docs/resources/identity_user.md
  docs/resources/iec_security_group_rule.md
  docs/resources/iec_vpc_subnet.md
  docs/resources/mapreduce_job.md
  docs/resources/networking_secgroup_rule.md
  docs/resources/scm_certificate.md
  docs/resources/vpcep_service.md
Labels: size/M, documentation, chore

#1938 docs(dew/kms): update kms subcategory
  docs/data-sources/kms_data_key.md
  docs/data-sources/kms_key.md
  docs/index.md
  docs/resources/identity_acl.md
  docs/resources/kms_key.md
Labels: documentation, size/XS, LGTM

#1942 refactor(lb): move lb resources to services path
  huaweicloud/data_source_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lb/data_source_huaweicloud_lb_certificate_test.go
  huaweicloud/services/acceptance/lb/data_source_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_certificate_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_l7policy_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_l7rule_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_listener_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_member_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_monitor_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_pool_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_whitelist_test.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/lb/lb_v2_shared.go
  huaweicloud/services/lb/resource_huaweicloud_lb_certificate.go
  huaweicloud/services/lb/resource_huaweicloud_lb_l7policy.go
  huaweicloud/services/lb/resource_huaweicloud_lb_l7rule.go
  huaweicloud/services/lb/resource_huaweicloud_lb_listener.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/lb/resource_huaweicloud_lb_member.go
  huaweicloud/services/lb/resource_huaweicloud_lb_monitor.go
  huaweicloud/services/lb/resource_huaweicloud_lb_pool.go
  huaweicloud/services/lb/resource_huaweicloud_lb_whitelist.go
Labels: size/XL, refactor

#1892 feat(trigger): add new apig types for trigger
  docs/resources/fgs_trigger.md
  huaweicloud/services/fgs/resource_huaweicloud_fgs_trigger.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/environments/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/environments/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/environments/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#1913 refactor: fix(secgroup): The security group and rules support eps authorization
  docs/data-sources/networking_secgroup.md
  docs/resources/networking_secgroup.md
  docs/resources/networking_secgroup_rule.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/data_source_huaweicloud_networking_secgroup.go
  huaweicloud/data_source_huaweicloud_networking_secgroup_test.go
  huaweicloud/data_source_huaweicloud_networking_secgroup_v2.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_networking_secgroup.go
  huaweicloud/resource_huaweicloud_networking_secgroup_rule.go
  huaweicloud/resource_huaweicloud_networking_secgroup_rule_test.go
  huaweicloud/resource_huaweicloud_networking_secgroup_rule_v2.go
  huaweicloud/resource_huaweicloud_networking_secgroup_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_loadbalancer_test.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/securitygroups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/securitygroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/securitygroups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/groups/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/groups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/groups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/rules/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/rules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/rules/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/rules/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/groups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/groups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/rules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/rules/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/rules/urls.go
  vendor/modules.txt
Labels: size/XL, breaking-change, bugfix, refactor, dependencies, LGTM

#1943 feat(IMS/image): support enterprise_project_id in image data_source
  docs/data-sources/images_image.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_image_test.go
  huaweicloud/services/ims/data_source_huaweicloud_images_image.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/CHANGELOG
  vendor/github.com/chnsz/golangsdk/openstack/obs/README.MD
  vendor/github.com/chnsz/golangsdk/openstack/obs/auth.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/authV2.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/authV4.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_base.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_object.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_other.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_part.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_resume.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/const.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/convert.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/extension.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_base.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_header.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_object.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_other.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_part.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_response.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/temporary_createSignedUrl.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/temporary_other.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/temporary_signedUrl.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait.go
  vendor/github.com/chnsz/golangsdk/pagination/offset.go
Labels: size/XL, refactor, feature, LGTM

#1957 fix: do not update other fields when only tags was changed
  huaweicloud/resource_huaweicloud_dns_recordset_v2.go
  huaweicloud/resource_huaweicloud_dns_recordset_v2_test.go
  huaweicloud/resource_huaweicloud_dns_zone_v2.go
  huaweicloud/resource_huaweicloud_vpcep_service.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_subnet_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/L, bugfix, LGTM

#1962 fix(opengauss): update to use new endpoint url
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
Labels: size/XS, bugfix, LGTM

#1946 docs(fgs/trigger): fix wrong param type and missing description
  docs/resources/fgs_trigger.md
Labels: documentation, size/XS, LGTM

#1955 fix(evs/volume): fix the problem that client version does not match
  go.sum
  huaweicloud/config/config.go
  huaweicloud/data_source_huaweicloud_compute_instance.go
  huaweicloud/endpoints_test.go
  huaweicloud/resource_huaweicloud_compute_instance.go
Labels: size/XS, bugfix, LGTM

#1958 refactor(vpc/data_source): set enterprise_project_id to all_granted_eps if it's not specified
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpcs_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpcs.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/vpcs/requests.go
  vendor/modules.txt
Labels: size/M, refactor, dependencies

#1920 feat(ModelArts): add a resource to manage notebook
  docs/resources/modelarts_notebook.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_notebook_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_notebook.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v1/notebook/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v1/notebook/results.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v1/notebook/urls.go
  vendor/modules.txt
Labels: size/XL, chore, feature, LGTM

#1945 feat(evs/volume): support prepaid resource creation
  docs/resources/evs_volume.md
  huaweicloud/common/common.go
  huaweicloud/config/config.go
  huaweicloud/endpoints_test.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/requests.go
  vendor/modules.txt
Labels: size/M, feature, LGTM

#1968 refactor(eip): set enterprise_project_id to all_granted_eps if it's not specified
  huaweicloud/services/eip/data_source_huaweicloud_vpc_bandwidth.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eip.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eips.go
Labels: size/S, refactor, LGTM

#1921 feat(ModelArts): add a data-source to get notebook images
  docs/data-sources/modelarts_notebook_images.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_notebook_images_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_notebook_images.go
Labels: size/M, feature, LGTM

#1964 fix(util): fix regexp error for IsIPv4Address
  huaweicloud/utils/testing/utils_test.go
  huaweicloud/utils/utils.go
Labels: size/S, bugfix, LGTM

#1967 feat: update all versions for a specified customizing service endpoint
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
Labels: size/M, chore, feature, LGTM

#1969 fix(elb): be able to remove a description
  go.mod
  go.sum
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_listener_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
  huaweicloud/services/lb/resource_huaweicloud_lb_listener.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/listeners/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/listeners/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/urls.go
  vendor/github.com/chnsz/golangsdk/pagination/marker.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM

#1982 refactor(lb/loadbalancer): update client to get port
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
Labels: size/XS, refactor, LGTM

#1949 feat(cloudtable): add new cluster resource support
  docs/incubating/cloudtable_cluster.md
  docs/resources/cloudtable_cluster.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_cloudtable_cluster_v2.go
  huaweicloud/resource_huaweicloud_cloudtable_cluster_v2_test.go
  huaweicloud/services/acceptance/cloudtable/resource_huaweicloud_cloudtable_cluster_test.go
  huaweicloud/services/cloudtable/resource_huaweicloud_cloudtable_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudtable/v2/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudtable/v2/clusters/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudtable/v2/clusters/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, feature, LGTM

#1979 feat(ces/alarmrule): support event monitoring in alarmrule
  docs/resources/ces_alarmrule.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/alarmrule/requests.go
  vendor/modules.txt
Labels: size/M, refactor, feature, dependencies

#1984 fix(ptr/update): fix the syntax error of null value passing of string pointer
  huaweicloud/data_source_huaweicloud_compute_instance.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  huaweicloud/services/dli/resource_huaweicloud_dli_spark_job.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/XS, bugfix, LGTM

#1975 feat(cbr/retention): support long term retention settings for backup quantity
  docs/resources/cbr_policy.md
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_policy_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_policy.go
Labels: size/M, feature, LGTM

#1986 docs(modelarts): move modlearts to beta
  docs/data-sources/modelarts_notebook_images.md
  docs/resources/modelarts_notebook.md
Labels: documentation, size/XS

#1988 chore(ci): add HW_ENTERPRISE_PROJECT_ID env for testing
  .github/workflows/ci.yml
  .github/workflows/cron-ci.yml
  .github/workflows/release.yml
Labels: size/XS, chore

#1989 fix(defer): adjust the posistion of the defer declaration
  huaweicloud/resource_huaweicloud_compute_keypair.go
Labels: size/XS, bugfix

#1978 feat(DRS): add a new resources to manage DRS
  docs/resources/drs_job.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
  huaweicloud/utils/tags.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/urls.go
  vendor/modules.txt
Labels: size/XL, feature

#1941 feat(ModelArts): add new resource to manage notebook mount
  docs/resources/modelarts_notebook_mount_storage.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_notebook_mount_storage_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_notebook_mount_storage.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v1/notebook/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v1/notebook/results.go
  vendor/github.com/chnsz/golangsdk/pagination/offset.go
  vendor/modules.txt
Labels: size/L, feature, dependencies

#1987 fix(cloudtable/test): fix the problems that caused the acc test to fail
  huaweicloud/services/acceptance/cloudtable/resource_huaweicloud_cloudtable_cluster_test.go
Labels: size/XS, bugfix

#1990 Update CHANGELOG for v1.34.0
  CHANGELOG.md
Labels: size/XS
