Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-04, with the labels that each got.

#2075 fix(secgroup): fix a bug in security group
  go.mod
  go.sum
  huaweicloud/data_source_huaweicloud_networking_secgroup.go
  huaweicloud/resource_huaweicloud_networking_secgroup.go
  huaweicloud/resource_huaweicloud_networking_secgroup_rule_test.go
  huaweicloud/resource_huaweicloud_networking_secgroup_test.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/rules/requests.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM

#2078 chore: add product name to endpoints
  huaweicloud/config/endpoints.go
Labels: size/S, chore, LGTM

#2074 fix(gaussdb/cassandra): fix reducing nodes issue for prepaid resource
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
Labels: size/S, bugfix, LGTM

#2079 chore(modelarts): add the datasource-datasets
  huaweicloud/provider.go
Labels: size/XS, chore, LGTM

#2081 fix(iam and tms): update iam and tms client
  huaweicloud/config/auth.go
  huaweicloud/config/hc_config.go
  huaweicloud/services/acceptance/tms/resource_huaweicloud_tms_tags_test.go
  huaweicloud/services/tms/resource_huaweicloud_tms_tags.go
Labels: size/XS, bugfix, LGTM

#2045 chore: refactor auto scaling resources
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_lifecycle_hook_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
  huaweicloud/services/as/resource_huaweicloud_as_lifecycle_hook.go
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
Labels: size/L, chore, refactor, LGTM, test

#2077 test(as): make acceptance happy
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_lifecycle_hook_test.go
Labels: size/XS, LGTM, test

#2082 examples: format style with terraform fmt
  examples/apig/api-custom-authorizer/main.tf
  examples/auto-scaling/alarm_policy/main.tf
  examples/cce/basic/variables.tf
  examples/cce/nat-writekubeconfig/main.tf
  examples/dcs/redis-instance/main.tf
  examples/ecs/attached-interface/main.tf
  examples/ecs/userdata/main.tf
  examples/elb/dedicated/main.tf
  examples/fgs/obs-download/main.tf
  examples/iam/basic/main.tf
  examples/iam/basic/variables.tf
  examples/nat/dnat-basic/main.tf
  examples/nat/dnat-basic/variables.tf
  examples/rds/mysql-with-eip/main.tf
  examples/rds/mysql-with-network/main.tf
  examples/rds/mysql/main.tf
  examples/rds/read-replica/main.tf
  examples/rds/sqlserver/main.tf
Labels: size/M, LGTM

#2083 feat(as/configuration): add ForceNew in schema and make instance_config.0.flavor be optional
  docs/resources/as_configuration.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
Labels: size/M, bugfix, feature, LGTM

#2080 doc(provider): fix shared config file parameter issue
  docs/index.md
Labels: size/XS, LGTM

#2076 refactor(ecs): update API version of stopping server and getting server in ecs delete func
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
  huaweicloud/resource_huaweicloud_ecs_instance_v1.go
  huaweicloud/resource_huaweicloud_ecs_instance_v1_test.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/results.go
  vendor/modules.txt
Labels: size/M, refactor, dependencies, LGTM

#2089 fix: test(secgroup/rule): fix the problem of the empty value
  docs/resources/networking_secgroup_rule.md
  huaweicloud/resource_huaweicloud_networking_secgroup_rule_test.go
Labels: size/S, bugfix, LGTM

#2091 Update CHANGELOG for v1.35.1
  CHANGELOG.md
Labels: size/XS

#2092 docs(cts): fix usage issue
  docs/resources/cts_tracker.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/S, documentation, refactor, LGTM

#2056 chore: add client without Project
  go.mod
  go.sum
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/floatingips/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/startstop/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/startstop/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/startstop/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v1/availablezones/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v1/products/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/availablezones/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/flavors/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/maintainwindows/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/tags/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/whitelists/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/groups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/queues/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/availablezones/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/topics/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/maintainwindows/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/products/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/urls.go
  vendor/modules.txt
Labels: size/M, chore, dependencies, LGTM, test

#2094 common: Add diag when resource was not found
  huaweicloud/common/common.go
Labels: size/XS, LGTM

#2085 chore(ECS/volumeAttach): change to context and add checks in the test case
  docs/resources/compute_volume_attach.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_blockstorage_volume_v2.go
  huaweicloud/resource_huaweicloud_compute_volume_attach_test.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_volume_attach_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_volume_attach.go
Labels: size/L, chore

#2084 feat(servicestage): add new authorization resource support
  docs/resources/servicestage_repo_password_authorization.md
  docs/resources/servicestage_repo_token_authorization.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/config/logger.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_repo_password_authorization_test.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_repo_token_authorization_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_repo_password_authorization.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_repo_token_authorization.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v1/repositories/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v1/repositories/results.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v1/repositories/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#2093 feat: add CTS data tracker resource
  docs/resources/cts_data_tracker.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_data_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
Labels: size/L, feature, LGTM

#2088 feat: support to add a secondary CIDR into a VPC
  docs/resources/vpc.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
Labels: size/M, feature, LGTM

#2097 fix(apig/egress): fix the panic caused by the wrong type assertion
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/instances/results.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM

#2096 test(acc): Adjust the environment variable and tests for enterprise project ID
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_publishment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_custom_authorizer_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_environment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_response_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_vpc_channel_test.go
  huaweicloud/services/acceptance/bms/resource_huaweicloud_bms_instance_test.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_test.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_namespace_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_database_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpcs_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_test.go
Labels: size/M, LGTM, test

#2087 refactor(esc/compute_instance): update the api version of extending system disk
  huaweicloud/common/common.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/M, refactor, LGTM

#2101 refactor(common): unify CheckDeleted function
  huaweicloud/common/common.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair.go
  huaweicloud/services/rds/resource_huaweicloud_rds_account.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_address_group.go
Labels: size/S, refactor, LGTM

#2104 scehma: update json files
  docs/json/resources/as_configuration.json
  docs/json/resources/cbr_policy.json
  docs/json/resources/cbr_vault.json
  docs/json/resources/cce_cluster.json
  docs/json/resources/cci_namespace.json
  docs/json/resources/cci_network.json
  docs/json/resources/cci_pvc.json
  docs/json/resources/compute_eip_associate.json
  docs/json/resources/compute_interface_attach.json
  docs/json/resources/elb_loadbalancer.json
  docs/json/resources/fgs_function.json
  docs/json/resources/fgs_trigger.json
  docs/json/resources/gaussdb_mysql_instance.json
  docs/json/resources/network_acl.json
  docs/json/resources/network_acl_rule.json
  docs/json/resources/networking_secgroup.json
  docs/json/resources/networking_secgroup_rule.json
  docs/json/resources/vpc_eip_associate.json
Labels: size/M

#2105 fix(ecs/instance): replace ver.3 security group API with ver.1 API
  huaweicloud/resource_huaweicloud_compute_instance.go
Labels: size/S, bugfix, LGTM

#2100 refactor(rds): migrate rds resources into services dir
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_configuration_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_read_replica_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_configuration.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
Labels: size/L, refactor, LGTM

#2102 fix(elb/loadbalancer): add prepaid in Update func
  go.mod
  go.sum
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/requests.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM

#2107 fix(mrs/cluster): fix a bug in Read func
  huaweicloud/resource_huaweicloud_mrs_cluster_v1.go
  huaweicloud/resource_huaweicloud_mrs_cluster_v1_test.go
Labels: size/S, bugfix, LGTM

#2112 doc(cts): fix a tiny bug in import section
  docs/resources/cts_data_tracker.md
  docs/resources/cts_tracker.md
Labels: size/XS, LGTM

#2106 fix: test(evs/attach): fixed the disk bug that multiple ecs bind
  huaweicloud/config/config.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_networking_router_route_v2.go
  huaweicloud/resource_huaweicloud_networking_router_v2.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_volume_attach_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_volume_attach.go
Labels: size/M, bugfix, refactor, LGTM

#2111 fix(eip/associate): add check logic to check if resource exists
  huaweicloud/resource_huaweicloud_compute_eip_associate.go
Labels: size/XS, bugfix, LGTM

#2117 fix(cce/node): fix a bug in prepaid cce node Unsubscribe
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: size/XS, bugfix, LGTM

#2119 feat(DRS): enhance DRS, export a new attribute
  docs/resources/drs_job.md
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/XS, feature, LGTM

#2116 fix(ecs/instance): fix a bug of source_dest_check in ecs instance
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
Labels: size/S, bugfix

#2122 Update CHANGELOG for v1.35.2
  CHANGELOG.md
Labels: size/XS

#2064 feat(servicestage): add new environment resource support
  docs/resources/servicestage_environment.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_environment_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_environment.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/environments/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/environments/results.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/environments/urls.go
  vendor/modules.txt
Labels: size/XL, feature, LGTM

#2125 chore(workflow): Automatically execute acc test when opening a pr
  .github/workflows/acc-test.yml
  .github/workflows/ci.yml
  .github/workflows/mirror_to_codehub.yml
  .github/workflows/pull-request.yml
  .github/workflows/reviewdog.yml
  scripts/acc-test.sh
Labels: size/M, chore, LGTM, test

#2099 feat(servicestage): add new application resource support
  docs/resources/servicestage_application.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_application_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_application.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/applications/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/applications/results.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/applications/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/components/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/components/results.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/components/urls.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies, LGTM, safe to test

#2128 docs(ecs): update description of delete_disks_on_termination
  docs/resources/compute_instance.md
Labels: documentation, size/XS, LGTM, safe to test

#2131 chore(workflow): add eps and timeout to golangCI
  .github/workflows/acc-test.yml
  .github/workflows/ci.yml
Labels: size/XS, chore

#2123 feat(gaussdb/mysql): support tags in gaussdb mysql instance
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/resource_huaweicloud_gaussdb_mysql_instance_test.go
Labels: size/M, feature, LGTM

#2121 feat(modelarts):add a new resource dataset version
  docs/resources/modelarts_dataset_version.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_dataset_version_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_dataset_version.go
  vendor/github.com/chnsz/golangsdk/openstack/antiddos/v1/antiddos/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/antiddos/v1/antiddos/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cts/v1/tracker/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v2/version/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v2/version/results.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v2/version/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/subscriptions/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/subscriptions/results.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/subscriptions/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/topics/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/topics/results.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/topics/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2130 fix: add validation for secgroup rule remote_ip_prefix
  huaweicloud/resource_huaweicloud_networking_secgroup_rule.go
  huaweicloud/utils/validators.go
Labels: size/XS, bugfix, LGTM, safe to test

#2114 feat(cts): support CTS key event notification resource
  docs/resources/cts_notification.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_notification_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_notification.go
Labels: size/L, feature, LGTM, safe to test
