Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-08, with the labels that each got.

#2267 feat(iam): add new data source to query users
  docs/data-sources/identity_users.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_users_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_users.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/users/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2268 fix(iam): save all ids to generate the data source ID
  huaweicloud/services/iam/data_source_huaweicloud_identity_projects.go
Labels: size/XS, bugfix, LGTM

#2271 docs: fix some docs issue
  docs/data-sources/enterprise_project.md
  docs/resources/cbr_vault.md
Labels: documentation, size/XS, LGTM

#2272 fix(rds): avoid BACKING_UP state issue
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XS, bugfix, LGTM

#2273 fix: address format issue
  huaweicloud/common/common.go
  huaweicloud/resource_huaweicloud_blockstorage_volume_v2_test.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_sql_job_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_table_test.go
  huaweicloud/services/acceptance/resource_check.go
  huaweicloud/services/deprecated/resource_huaweicloud_cs_peering_connect_v1.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinksql_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip_associate.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_job.go
  huaweicloud/utils/tags.go
  huaweicloud/utils/utils.go
  huaweicloud/utils/validators.go
Labels: size/M, bugfix, LGTM

#2269 refactor(log): fix incorrect log level setting
  huaweicloud/common/config.go
  huaweicloud/config/auth.go
  huaweicloud/config/config.go
  huaweicloud/config/hc_config.go
  huaweicloud/config/logger.go
  huaweicloud/utils/utils.go
  main.go
Labels: size/S, refactor, LGTM

#2277 fix(rds): add case diff suppress for engine
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XS, bugfix, safe to test

#2278 chore(utils): add FlattenResponse and JMESPath
  huaweicloud/utils/type_convert.go
  huaweicloud/utils/utils.go
Labels: size/S, chore, LGTM

#2270 feat(dds): add new database role resource
  docs/resources/dds_database_role.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_role_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_database_role.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/roles/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/roles/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/roles/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2281 test(route): deprecate route test
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpc_route_test.go
Labels: size/XS, LGTM, test

#2282 [2/4]schema: support more cloud services
  docs/json/resources/iec_eip.json
  docs/json/resources/iec_keypair.json
  docs/json/resources/iec_network_acl.json
  docs/json/resources/iec_network_acl_rule.json
  docs/json/resources/iec_security_group.json
  docs/json/resources/iec_security_group_rule.json
  docs/json/resources/iec_server.json
  docs/json/resources/iec_vip.json
  docs/json/resources/iec_vpc.json
  docs/json/resources/iec_vpc_subnet.json
  docs/json/resources/iotda_amqp.json
  docs/json/resources/iotda_dataforwarding_rule.json
  docs/json/resources/iotda_device.json
  docs/json/resources/iotda_device_certificate.json
  docs/json/resources/iotda_device_group.json
  docs/json/resources/iotda_device_linkage_rule.json
  docs/json/resources/iotda_product.json
  docs/json/resources/iotda_space.json
  docs/json/resources/servicestage_application.json
  docs/json/resources/servicestage_component.json
  docs/json/resources/servicestage_component_instance.json
  docs/json/resources/servicestage_environment.json
  docs/json/resources/servicestage_repo_password_authorization.json
  docs/json/resources/servicestage_repo_token_authorization.json
  docs/json/resources/vod_media_asset.json
  docs/json/resources/vod_media_category.json
  docs/json/resources/vod_transcoding_template_group.json
  docs/json/resources/vod_watermark_template.json
  docs/json/resources/waf_certificate.json
  docs/json/resources/waf_dedicated_domain.json
  docs/json/resources/waf_dedicated_instance.json
  docs/json/resources/waf_domain.json
  docs/json/resources/waf_instance_group.json
  docs/json/resources/waf_instance_group_associcate.json
  docs/json/resources/waf_policy.json
  docs/json/resources/waf_reference_table.json
  docs/json/resources/waf_rule_blacklist.json
  docs/json/resources/waf_rule_data_masking.json
  docs/json/resources/waf_rule_web_tamper_protection.json
Labels: size/XL

#2283 [3/4]schema: support more cloud services
  docs/json/resources/csms_secret.json
  docs/json/resources/css_cluster.json
  docs/json/resources/css_snapshot.json
  docs/json/resources/css_thesaurus.json
  docs/json/resources/cts_data_tracker.json
  docs/json/resources/cts_notification.json
  docs/json/resources/cts_tracker.json
  docs/json/resources/dli_database.json
  docs/json/resources/dli_flinkjob_jar.json
  docs/json/resources/dli_flinksql_job.json
  docs/json/resources/dli_package.json
  docs/json/resources/dli_permission.json
  docs/json/resources/dli_queue.json
  docs/json/resources/dli_spark_job.json
  docs/json/resources/dli_sql_job.json
  docs/json/resources/dli_table.json
  docs/json/resources/live_domain.json
  docs/json/resources/live_record_callback.json
  docs/json/resources/live_recording.json
  docs/json/resources/live_transcoding.json
  docs/json/resources/modelarts_dataset.json
  docs/json/resources/modelarts_dataset_version.json
  docs/json/resources/modelarts_notebook.json
  docs/json/resources/modelarts_notebook_mount_storage.json
  docs/json/resources/mpc_transcoding_template.json
  docs/json/resources/mpc_transcoding_template_group.json
Labels: size/XL

#2284 [4/4]schema: support more cloud services
  docs/json/resources/dis_stream.json
  docs/json/resources/drs_job.json
  docs/json/resources/dws_cluster.json
  docs/json/resources/enterprise_project.json
  docs/json/resources/fgs_dependency.json
  docs/json/resources/identity_project.json
  docs/json/resources/identity_provider.json
  docs/json/resources/identity_provider_conversion.json
  docs/json/resources/kps_keypair.json
  docs/json/resources/meeting_conference.json
  docs/json/resources/mrs_cluster.json
  docs/json/resources/mrs_job.json
  docs/json/resources/oms_migration_task.json
  docs/json/resources/rds_account.json
  docs/json/resources/rds_database.json
  docs/json/resources/rds_parametergroup.json
  docs/json/resources/scm_certificate.json
  docs/json/resources/sms_server_template.json
  docs/json/resources/sms_task.json
  docs/json/resources/swr_repository_sharing.json
  docs/json/resources/tms_tags.json
  docs/json/resources/vpc_address_group.json
Labels: size/XL

#2290 fix(param/setting): add the id parameter of kms key to schema
  huaweicloud/resource_huaweicloud_cce_node_attach.go
  huaweicloud/resource_huaweicloud_cce_node_pool.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
Labels: size/XS, bugfix, LGTM, safe to test

#2292 refactor(networking): move data_source networking port to services path
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_networking_port_v2_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_networking_port_v2.go
Labels: size/XS, refactor, LGTM

#2286 feat(dds): add new user resource support
  docs/resources/dds_database_role.md
  docs/resources/dds_database_user.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_role_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_user_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_database_role.go
  huaweicloud/services/dds/resource_huaweicloud_dds_database_user.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/users/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/users/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/users/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, safe to test

#2288 fix(cce/node_pool): change type of extend_param elements before setting
  huaweicloud/resource_huaweicloud_cce_node_pool.go
Labels: size/XS, bugfix, LGTM

#2289 feat(secgroup): support the new parameters
  docs/data-sources/networking_secgroup.md
  docs/resources/networking_secgroup.md
  docs/resources/networking_secgroup_rule.md
  go.mod
  go.sum
  huaweicloud/data_source_huaweicloud_networking_secgroup_test.go
  huaweicloud/resource_huaweicloud_networking_secgroup.go
  huaweicloud/resource_huaweicloud_networking_secgroup_rule.go
  huaweicloud/resource_huaweicloud_networking_secgroup_rule_test.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/groups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/rules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/security/rules/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies

#2276 feat(instance): support collection policy parameter
  docs/resources/servicestage_component_instance.md
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_instance_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/instances/results.go
Labels: size/M, feature

#2295 Update CHANGELOG for v1.39.0
  CHANGELOG.md
Labels: size/XS

#2298 fix(test/mrs_job): make acceptance happy
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_job_test.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/snapshots/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/snapshots/results.go
Labels: size/S, bugfix

#2299 schema: update json files based on v1.39.0
  docs/json/resources/dds_database_role.json
  docs/json/resources/dds_database_user.json
  docs/json/resources/meeting_admin_assignment.json
  docs/json/resources/meeting_user.json
Labels: size/L

#2300 feat(cse/engine): add a new parameter 'version'
  docs/resources/cse_microservice_engine.md
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_engine.go
Labels: size/XS, feature, LGTM

#2301 fix(cse/instance): ignore internal parameters
  docs/resources/cse_microservice_instance.md
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_instance.go
Labels: size/XS, bugfix, LGTM

#2303 fix(servicestage/storage): fix wrong param name and logic
  docs/resources/servicestage_component_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_instance_test.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/instances/results.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM, safe to test

#2304 test(acc/param): use subnet id to create turbo cluster
  huaweicloud/resource_huaweicloud_cce_cluster_v3_test.go
Labels: size/XS, test

#2305 schema: update json files
  docs/json/resources/cce_node.json
  docs/json/resources/cce_node_attach.json
  docs/json/resources/cce_node_pool.json
  docs/json/resources/cdn_domain.json
  docs/json/resources/networking_secgroup.json
  docs/json/resources/networking_secgroup_rule.json
  docs/json/resources/servicestage_component_instance.json
Labels: size/L

#2307 refacotr(config): export a function to get service endpoint
  huaweicloud/config/endpoints.go
  huaweicloud/config/hc_config.go
Labels: size/S

#2296 feat(resource):add application, component, environment resource provi…
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_application_test.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_component_test.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_environment_test.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_application.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_component.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_environment.go
  huaweicloud/services/internal/entity/model_aom_application_params.go
  huaweicloud/services/internal/entity/model_aom_component_params.go
  huaweicloud/services/internal/entity/model_aom_environment_params.go
  huaweicloud/services/internal/httpclient_go/escape.go
  huaweicloud/services/internal/httpclient_go/httpclient_go.go
  huaweicloud/services/internal/httpclient_go/signer.go
Labels: size/XL, feature

#2309 feat(test): add precheck for internal acceptance tests
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_application_test.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_component_test.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_environment_test.go
Labels: size/S, feature

#2310 refactor:move directory cmdb to aom
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_application_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_component_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_environment_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_application.go
  huaweicloud/services/aom/resource_huaweicloud_aom_component.go
  huaweicloud/services/aom/resource_huaweicloud_aom_environment.go
Labels: size/XS, refactor, feature, LGTM

#2306 feat: fix(servicestage): support enterprise projcet parameter and add missing forceNew label
  docs/resources/servicestage_environment.md
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_environment_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_application.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_environment.go
Labels: size/S, bugfix, feature, LGTM

#2314 fix:fix the error if the statecode is 200 and the body is contained err message in the response.
  huaweicloud/services/aom/resource_huaweicloud_aom_application.go
  huaweicloud/services/aom/resource_huaweicloud_aom_component.go
  huaweicloud/services/aom/resource_huaweicloud_aom_environment.go
  huaweicloud/services/internal/httpclient_go/httpclient_go.go
  huaweicloud/services/internal/httpclient_go/signer.go
Labels: size/M, bugfix, refactor, feature, LGTM

#2319 feat(aad/apm-aksk): add new forward aksk resource
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apm/resource_huaweicloud_apm_aksk_test.go
  huaweicloud/services/apm/resource_huaweicloud_apm_aksk.go
  huaweicloud/services/internal/entity/model_apm_aksk_parames.go
Labels: size/L, bugfix, feature, LGTM

#2321 refactor(vpc/vip): move vip associate to services path
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_networking_vip_associate_test.go
  huaweicloud/services/vpc/resource_huaweicloud_networking_vip_associate.go
Labels: size/S, refactor, LGTM

#2327 cmdb新增资源绑定到环境
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_resource_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_resource.go
  huaweicloud/services/internal/entity/model_aom_resource_params.go
Labels: size/L, LGTM

#2315 docs(cce): add note when using kms_key_id
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
Labels: documentation, size/XS

#2322 fix(port/query): fix the wrong client usage
  huaweicloud/compute_instance_v2_networking.go
Labels: size/XS, bugfix, LGTM

#2324 feat(lb/pool): add persistence.timeout support
  docs/resources/lb_pool.md
  huaweicloud/services/lb/resource_huaweicloud_lb_pool.go
Labels: size/XS, feature, LGTM, safe to test

#2325 feat(eps): add skip_disable_on_destory support
  docs/resources/enterprise_project.md
  huaweicloud/services/eps/resource_huaweicloud_enterprise_project.go
Labels: size/XS, feature, LGTM, safe to test

#2331 feat(config): support to get the project ID by region
  huaweicloud/config/config.go
Labels: size/XS, feature

#2330 add aom resource
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_policy_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_prometheus_instance_test.go
  huaweicloud/services/aom/resource_hauweicloud_aom_prometheus_instance.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_policy.go
  huaweicloud/services/internal/entity/model_add_alarm_policy_params.go
  huaweicloud/services/internal/entity/model_prometheus_instance_params.go
Labels: size/XL, bugfix, LGTM

#2317 fix(ecs/password): use v1 api to reset the password
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_compute_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/snapshots/results.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM

#2328 add lts_access_rule,lts_dashboard,elb_log,lts_struct_template resourc…
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_access_rule_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_dashboard_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_elb_log_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_struct_template_test.go
  huaweicloud/services/internal/entity/model_lts_access_rule_params.go
  huaweicloud/services/internal/entity/model_lts_dashboard_params.go
  huaweicloud/services/internal/entity/model_lts_elb_log_params.go
  huaweicloud/services/internal/entity/model_lts_struct_template_params.go
  huaweicloud/services/internal/httpclient_go/httpclient_go.go
  huaweicloud/services/lts/resource_hauweicloud_lts_struct_template.go
  huaweicloud/services/lts/resource_huaweicloud_lts_access_rule.go
  huaweicloud/services/lts/resource_huaweicloud_lts_dashboard.go
  huaweicloud/services/lts/resource_huaweicloud_lts_elb_log.go
Labels: size/XL, LGTM

#2312 feat(aad/rules): add new forward rule resource
  docs/resources/aad_forward_rule.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/aad/resource_huaweicloud_aad_forward_rule.go
  huaweicloud/services/acceptance/aad/resource_huaweicloud_add_forward_configuration_test.go
  huaweicloud/services/acceptance/acceptance.go
  vendor/github.com/chnsz/golangsdk/openstack/aad/v1/rules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/aad/v1/rules/results.go
  vendor/github.com/chnsz/golangsdk/openstack/aad/v1/rules/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, ready for review

#2318 feat(rds/flavors): support group type parameter
  docs/data-sources/rds_flavors.md
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_flavors_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_flavors.go
Labels: size/S, feature, LGTM, safe to test

#2326 feat(sfs/turbos): add new data source support
  docs/data-sources/sfs_turbos.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfs/data_source_huaweicloud_sfs_turbos_test.go
  huaweicloud/services/sfs/data_source_huaweicloud_sfs_turbos.go
Labels: size/L, feature, LGTM, ready for review

#2332 fix(apig/instance): ignore the error if ingress address is not found
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
Labels: size/XS, bugfix, LGTM

#2308 refactor: get rid of unused utils
  huaweicloud/utils/build_param_util.go
Labels: size/L, refactor, LGTM

#2302 refactor(eip/list): set enterprise_project_id to all_granted_eps if it's not specified
  huaweicloud/common/common.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_compute_eip_associate.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip_associate.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
Labels: size/S, refactor, LGTM, safe to test

#2311 feat(dew): add new data source keypairs
  docs/data-sources/kps_keypairs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kps_keypairs_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kps_keypairs.go
  huaweicloud/utils/filter.go
Labels: size/M, feature, LGTM, ready for review

#2333 fix(acceptance): ignore delete_eip_on_termination to make test happy
  huaweicloud/resource_huaweicloud_compute_instance_test.go
Labels: size/XS, bugfix, LGTM

#2334 feat(lb): add new data_source lb pools
  docs/data-sources/lb_pools.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lb/data_source_huaweicloud_lb_pools_test.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_pools.go
  vendor/github.com/chnsz/golangsdk/pagination/list_all.go
  vendor/github.com/chnsz/golangsdk/pagination/marker.go
  vendor/github.com/chnsz/golangsdk/pagination/offset.go
  vendor/github.com/chnsz/golangsdk/pagination/pagesize.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2336 chore(utils): return default value when catch null
  huaweicloud/utils/utils.go
Labels: size/XS, chore, LGTM

#2337 feat(lb/listeners): add new data source support
  docs/data-sources/lb_listeners.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lb/data_source_huaweicloud_lb_listeners_test.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_listeners.go
Labels: size/L, feature

#2339 fix(aom/relationships): do DELETE request method when destroy
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_resource_relationships_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_resource_relationships.go
Labels: size/XS, bugfix

#2335 Update CHANGELOG for v1.40.0
  CHANGELOG.md
Labels: size/XS

#2344 feat(obs/bucket): add a new parameter kms_key_project_id
  docs/resources/obs_bucket.md
  huaweicloud/resource_huaweicloud_obs_bucket.go
Labels: size/XS, feature

#2342 refactor(test/doc): remove op account from the tests and docs for safty reason
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
  docs/resources/fgs_function.md
  docs/resources/identity_agency.md
  examples/fgs/obs-download/main.tf
  examples/fgs/obs-download/variables.tf
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_trigger_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_agency_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
Labels: size/L, refactor

#2340 feat(ecs/instance): the auto-renew param can be updated
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/common/common.go
  huaweicloud/common/resource_schema.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
  vendor/github.com/chnsz/golangsdk/openstack/bss/v2/resources/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/bss/v2/resources/results.go
  vendor/github.com/chnsz/golangsdk/openstack/bss/v2/resources/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2341 feat(elb): add new data_source elb pools
  docs/data-sources/elb_pools.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_pools_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_pools.go
Labels: size/L, feature, LGTM, safe to test

#2345 feat(obs): use kms in encryption request
  huaweicloud/resource_huaweicloud_obs_bucket.go
Labels: size/XS, feature, LGTM

#2348 fix:add temporary aksk authentication
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_policy_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_application_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_component_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_environment_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_prometheus_instance_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_resource_relationships_test.go
  huaweicloud/services/acceptance/apm/resource_huaweicloud_apm_aksk_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_access_rule_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_dashboard_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_elb_log_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_struct_template_test.go
  huaweicloud/services/aom/resource_hauweicloud_aom_prometheus_instance.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_policy.go
  huaweicloud/services/aom/resource_huaweicloud_aom_application.go
  huaweicloud/services/aom/resource_huaweicloud_aom_component.go
  huaweicloud/services/aom/resource_huaweicloud_aom_environment.go
  huaweicloud/services/aom/resource_huaweicloud_aom_resource_relationships.go
  huaweicloud/services/apm/resource_huaweicloud_apm_aksk.go
  huaweicloud/services/internal/httpclient_go/httpclient_go.go
  huaweicloud/services/lts/resource_hauweicloud_lts_struct_template.go
  huaweicloud/services/lts/resource_huaweicloud_lts_access_rule.go
  huaweicloud/services/lts/resource_huaweicloud_lts_dashboard.go
  huaweicloud/services/lts/resource_huaweicloud_lts_elb_log.go
Labels: size/L, bugfix, refactor, feature, LGTM

#2349 Update CHANGELOG for v1.40.1
  CHANGELOG.md
Labels: size/XS
