Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-09, with the labels that each got.

#2363 refactor(elb): move data_source elb flavors to service path
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_flavors_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_flavors.go
Labels: size/XS, refactor, LGTM

#2351 fix:edit resource apm's default host
  huaweicloud/config/endpoints.go
  huaweicloud/services/aom/resource_hauweicloud_aom_prometheus_instance.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_policy.go
  huaweicloud/services/aom/resource_huaweicloud_aom_application.go
  huaweicloud/services/aom/resource_huaweicloud_aom_component.go
  huaweicloud/services/aom/resource_huaweicloud_aom_environment.go
  huaweicloud/services/aom/resource_huaweicloud_aom_resource_relationships.go
  huaweicloud/services/apm/resource_huaweicloud_apm_aksk.go
  huaweicloud/services/internal/entity/model_aom_application_params.go
  huaweicloud/services/internal/entity/model_aom_component_params.go
  huaweicloud/services/internal/entity/model_aom_environment_params.go
  huaweicloud/services/lts/resource_hauweicloud_lts_struct_template.go
  huaweicloud/services/lts/resource_huaweicloud_lts_access_rule.go
  huaweicloud/services/lts/resource_huaweicloud_lts_dashboard.go
  huaweicloud/services/lts/resource_huaweicloud_lts_elb_log.go
Labels: size/L, bugfix, refactor, feature, LGTM

#2356 feat(gaussdb/redis): support auto_pay in redis
  docs/resources/gaussdb_redis_instance.md
  huaweicloud/resource_huaweicloud_gaussdb_redis_instance.go
Labels: size/XS, feature, LGTM

#2364 refactor(obs): move resources and data sources to services dir
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_cci_pvc_test.go
  huaweicloud/services/acceptance/obs/data_source_huaweicloud_obs_bucket_object_test.go
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_object_test.go
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_policy_test.go
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
  huaweicloud/services/obs/data_source_huaweicloud_obs_bucket_object.go
  huaweicloud/services/obs/data_source_huaweicloud_obs_buckets.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_object.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_policy.go
Labels: size/L, bugfix, refactor, LGTM, safe to test

#2365 fix(cdm/cluster): fix the wrong error parsing
  huaweicloud/services/cdm/resource_huaweicloud_cdm_cluster.go
Labels: size/XS, bugfix, LGTM

#2367 chore(tflint): ignore required version check and providers check
  examples/.tflint.hcl
Labels: size/XS, chore

#2362 fix(eip/prepaid): fix parsing error when updating
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
Labels: size/S, bugfix, LGTM, safe to test

#2372 region获取方式修改
  huaweicloud/services/aom/resource_huaweicloud_aom_resource_relationships.go
Labels: size/XS, bugfix, refactor, feature, LGTM

#2377 Chore(log): ignore case of field `pwd`
  huaweicloud/config/logger.go
Labels: size/XS

#2376 cmdb的endpoint修改
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_application_test.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_component_test.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_environment_test.go
  huaweicloud/services/acceptance/cmdb/resource_huaweicloud_aom_resource_relationships_test.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_application.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_component.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_environment.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_resource_relationships.go
Labels: size/S, LGTM

#2380 fix(dcs): ignore the error of ShowIpWhitelist API when reading
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/XS, bugfix, LGTM

#2383 feat(rds/lock): add lock for instanceId in huaweicloud_rds_account and huaweicloud_rds_database
  huaweicloud/services/rds/resource_huaweicloud_rds_account.go
  huaweicloud/services/rds/resource_huaweicloud_rds_database.go
Labels: size/S, feature, LGTM

#2361 feat(dds): support prePaid in dds instance
  docs/resources/dds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2279 feat(projectman): add a new resource to manage project
  docs/resources/projectman_project.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/projectman/resource_huaweicloud_projectman_project_test.go
  huaweicloud/services/projectman/resource_huaweicloud_projectman_project.go
  huaweicloud/utils/type_convert.go
Labels: size/L, chore, feature, LGTM

#2378 cmdb域名改成全局域名
  huaweicloud/config/endpoints.go
Labels: size/XS

#2379 feat(fgs/function): support for creating functions by image
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/results.go
  vendor/modules.txt
Labels: size/M, documentation, feature, dependencies, LGTM, safe to test

#2381 fix(cce/node): fix node can't loggin problem
  huaweicloud/utils/password_encrypt.go
Labels: size/XS, bugfix

#2384 Update CHANGELOG for v1.40.2
  CHANGELOG.md
Labels: size/XS

#2368 feat: support to display content of an object data source with body field
  docs/data-sources/obs_bucket_object.md
  docs/resources/obs_bucket_object.md
  huaweicloud/services/acceptance/obs/data_source_huaweicloud_obs_bucket_object_test.go
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_object_test.go
  huaweicloud/services/obs/data_source_huaweicloud_obs_bucket_object.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_object.go
Labels: size/M, refactor, feature, LGTM

#2355 feat(cdn/domain): support retrieval host in cdn domain
  docs/resources/cdn_domain.md
  huaweicloud/resource_huaweicloud_cdn_domain.go
  huaweicloud/resource_huaweicloud_cdn_domain_test.go
Labels: size/M, feature, LGTM, safe to test

#2386 add field tags
  huaweicloud/services/aom/resource_hauweicloud_aom_prometheus_instance.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_policy.go
Labels: size/S, bugfix, LGTM

#2352 feat(cdn): add new data_source cdn domain statistics
  docs/data-sources/cdn_domain_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_domain_statistics_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_domain_statistics.go
Labels: size/L, feature, LGTM

#2388 refactor(gaussdb): move gaussdb resources to services path
  huaweicloud/common/common.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_cassandra_dedicated_resource_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instances_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_configuration_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_dedicated_resource_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_flavors_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_instances_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_dedicated_resource.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instances.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_configuration.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_dedicated_resource.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_flavors.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instances.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_redis_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
Labels: size/L, refactor, LGTM

#2389 chore: reduce the length of the random name for test resource
  huaweicloud/services/acceptance/acceptance.go
Labels: size/XS, chore

#2399 docs: remove auto_pay support from docs
  docs/resources/cbr_vault.md
  docs/resources/cce_cluster.md
  docs/resources/cce_node.md
  docs/resources/compute_instance.md
  docs/resources/dcs_instance.md
  docs/resources/dds_instance.md
  docs/resources/elb_loadbalancer.md
  docs/resources/evs_volume.md
  docs/resources/gaussdb_mysql_instance.md
  docs/resources/gaussdb_redis_instance.md
  docs/resources/rds_instance.md
  docs/resources/vpc_eip.md
Labels: size/S, documentation, LGTM

#2374 feat(rds): add new resource database privilege
  docs/resources/rds_database_privilege.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_database_privilege_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_database_privilege.go
Labels: size/L, feature, LGTM, ready for review

#2390 refactor: feat(common/func): add new wait method and refactor another
  huaweicloud/common/common.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  vendor/github.com/chnsz/golangsdk/openstack/bss/v2/resources/requests.go
Labels: size/M, refactor, LGTM

#2394 chore: add a function to flattern tags for AUTO
  huaweicloud/utils/tags.go
Labels: size/XS, chore, LGTM

#2397 fix(lts): check the resource deleted when refreshing
  huaweicloud/common/common.go
  huaweicloud/resource_huaweicloud_lts_group.go
  huaweicloud/resource_huaweicloud_lts_stream.go
Labels: size/S, bugfix, LGTM

#2375 feat(as): support to scale bandwidths
  docs/resources/as_bandwidth_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_bandwidth_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_bandwidth_policy.go
Labels: size/L, feature, LGTM, ready for review

#2391 Chore vpcep
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpcep/data_source_huaweicloud_vpcep_public_services_test.go
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_approval_test.go
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_endpoint_test.go
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_service_test.go
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_public_services.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_approval.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
Labels: size/L, chore, LGTM

#2405 docs(cce/pvc): clean up unsupported sfs-turbo
  docs/resources/cce_pvc.md
Labels: documentation, size/XS, LGTM

#2393 feat(gaussdb/nosql): add new resource influx and mongo
  docs/resources/gaussdb_influx_instance.md
  docs/resources/gaussdb_mongo_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_influx_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mongo_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_influx_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mongo_instance.go
Labels: size/XL, feature, LGTM

#2410 feat(fgs/trigger): add LTS trigger type support
  docs/resources/fgs_trigger.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_trigger_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_trigger.go
Labels: size/M, feature, LGTM

#2404 feat(rds/instance): add collation support
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/geminidb/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/opengauss/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/opengauss/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sfs_turbo/v1/shares/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sfs_turbo/v1/shares/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2398 refactor(gaussdb/opengauss): refactor instance resource
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/XL, refactor, LGTM

#2387 feat(gaussdb/opengauss): support new ha mode for centralized type
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/M, documentation, bugfix, chore, refactor, feature, LGTM

#2407 feat(CC): add two CC resource
  docs/resources/cc_connection.md
  docs/resources/cc_network_instance.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_connection_test.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_network_instance_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_connection.go
  huaweicloud/services/cc/resource_huaweicloud_cc_network_instance.go
Labels: size/XL, feature, LGTM, safe to test

#2411 feat(lts): improve on struct template resource and add docs
  docs/resources/lts_struct_template.md
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_struct_template_test.go
  huaweicloud/services/lts/resource_hauweicloud_lts_struct_template.go
Labels: size/M, feature, LGTM

#2402 chore(workflows): add a workflow to parse the APIs which resources depends-on
  .github/workflows/scan-api.yml
Labels: size/S, chore

#2412 Update CHANGELOG for v1.41.0
  CHANGELOG.md
Labels: size/S
