Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-07, with the labels that each got.

#2227 fix(servicestage/instance): fix what causes ecs deployment to fail
  docs/resources/servicestage_component_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_instance_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/instances/results.go
  vendor/modules.txt
Labels: size/L, bugfix, dependencies, LGTM, safe to test

#2228 chore(IoTDA): remove the project_id from dataforward rule
  docs/resources/iotda_dataforwarding_rule.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_dataforwarding_rule_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_dataforwarding_rule.go
Labels: size/M, chore, LGTM, safe to test

#2229 chore(config): specifies the minimum TLS version to 1.2
  huaweicloud/config/auth.go
Labels: size/XS, chore, LGTM

#2218 feat(meeting): add new conference resource support
  docs/resources/meeting_conferences.md
  go.mod
  go.sum
  huaweicloud/config/logger.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/meeting/resource_huaweicloud_meeting_conference_test.go
  huaweicloud/services/meeting/config.go
  huaweicloud/services/meeting/resource_huaweicloud_meeting_conference.go
  huaweicloud/utils/type_convert.go
  huaweicloud/utils/utils.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/auth/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/auth/results.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/auth/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/conferences/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/conferences/results.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/conferences/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v2/auth/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v2/auth/results.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v2/auth/urls.go
  vendor/github.com/chnsz/golangsdk/params.go
  vendor/github.com/unknwon/com/.gitignore
  vendor/github.com/unknwon/com/.travis.yml
  vendor/github.com/unknwon/com/LICENSE
  vendor/github.com/unknwon/com/README.md
  vendor/github.com/unknwon/com/cmd.go
  vendor/github.com/unknwon/com/convert.go
  vendor/github.com/unknwon/com/dir.go
  vendor/github.com/unknwon/com/file.go
  vendor/github.com/unknwon/com/go.mod
  vendor/github.com/unknwon/com/go.sum
  vendor/github.com/unknwon/com/html.go
  vendor/github.com/unknwon/com/http.go
  vendor/github.com/unknwon/com/math.go
  vendor/github.com/unknwon/com/path.go
  vendor/github.com/unknwon/com/regex.go
  vendor/github.com/unknwon/com/slice.go
  vendor/github.com/unknwon/com/string.go
  vendor/github.com/unknwon/com/time.go
  vendor/github.com/unknwon/com/url.go
  vendor/modules.txt
Labels: size/XL, refactor, feature, dependencies

#2230 Update CHANGELOG for v1.38.0
  CHANGELOG.md
Labels: size/XS

#2233 fix(servicestage): fix the problem of missing return
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_application.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component_instance.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_environment.go
Labels: size/XS, bugfix, LGTM

#2234 fix(servicestage/job): fix index out of bound error
  go.mod
  go.sum
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/jobs/results.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM

#2241 chore(json): update json schema files with v1.38.0
  docs/json/resources/apig_api_publishment.json
  docs/json/resources/apig_custom_authorizer.json
  docs/json/resources/apig_throttling_policy.json
  docs/json/resources/apig_vpc_channel.json
  docs/json/resources/as_group.json
  docs/json/resources/cbr_vault.json
  docs/json/resources/compute_instance.json
  docs/json/resources/dms_kafka_instance.json
  docs/json/resources/dms_rabbitmq_instance.json
  docs/json/resources/elb_pool.json
  docs/json/resources/gaussdb_cassandra_instance.json
  docs/json/resources/gaussdb_mysql_instance.json
  docs/json/resources/gaussdb_mysql_proxy.json
  docs/json/resources/gaussdb_opengauss_instance.json
  docs/json/resources/gaussdb_redis_instance.json
  docs/json/resources/images_image.json
  docs/json/resources/kms_key.json
  docs/json/resources/lb_pool.json
  docs/json/resources/nat_dnat_rule.json
  docs/json/resources/nat_snat_rule.json
  docs/json/resources/swr_organization.json
  docs/json/resources/swr_organization_permissions.json
  docs/json/resources/swr_repository.json
  docs/json/resources/vpc.json
  docs/json/resources/vpc_subnet.json
Labels: size/M, chore

#2237 feat(smn): add new data source smn topics
  docs/data-sources/smn_topics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/data_source_huaweicloud_smn_topics_test.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_subscription_test.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_topic_test.go
  huaweicloud/services/smn/data_source_huaweicloud_smn_topics.go
Labels: size/M, feature, LGTM, ready for review

#2238 feat: refactor: test(dms/kafka): support new product format
  docs/data-sources/dms_kafka_flavors.md
  docs/resources/dms_kafka_instance.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_flavors_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_instances_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_topic_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_flavors.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/utils/utils.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/products/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/products/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/products/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, feature, dependencies, LGTM, safe to test

#2239 feat: support new region in Europe
  huaweicloud/provider.go
Labels: size/S, refactor, feature, ready for review

#2242 chore(json): add schema files for more services
  docs/json/resources/cdn_domain.json
  docs/json/resources/ces_alarmrule.json
  docs/json/resources/dns_ptrrecord.json
  docs/json/resources/dns_recordset.json
  docs/json/resources/dns_zone.json
  docs/json/resources/identity_access_key.json
  docs/json/resources/identity_acl.json
  docs/json/resources/identity_agency.json
  docs/json/resources/identity_group.json
  docs/json/resources/identity_group_membership.json
  docs/json/resources/identity_role.json
  docs/json/resources/identity_role_assignment.json
  docs/json/resources/identity_user.json
  docs/json/resources/lts_group.json
  docs/json/resources/lts_stream.json
  docs/json/resources/mapreduce_cluster.json
  docs/json/resources/mapreduce_job.json
  docs/json/resources/smn_subscription.json
  docs/json/resources/smn_topic.json
Labels: size/XL, chore

#2243 feat(subnet): update default DNS server
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/XS, feature

#2244 Update CHANGELOG for v1.38.1
  CHANGELOG.md
Labels: size/XS

#2246 fix(rds/database): update validatefunc of database name
  docs/resources/rds_database.md
  huaweicloud/services/rds/resource_huaweicloud_rds_database.go
Labels: size/XS, bugfix

#2250 fix(doclint): fix the MD051 and the MD052 problems
  CHANGELOG.md
  docs/data-sources/cbr_vaults.md
  docs/resources/smn_subscription.md
Labels: size/XS, bugfix

#2248 fix(schema/behavior): fix the problem that may cause the plan error
  huaweicloud/data_source_huaweicloud_cce_cluster_v3.go
  huaweicloud/data_source_huaweicloud_cce_node_pool_v3.go
  huaweicloud/data_source_huaweicloud_cce_node_v3.go
  huaweicloud/data_source_huaweicloud_compute_instance.go
  huaweicloud/data_source_huaweicloud_csbs_backup_v1.go
  huaweicloud/data_source_huaweicloud_gaussdb_cassandra_dedicated_resource.go
  huaweicloud/data_source_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/data_source_huaweicloud_gaussdb_mysql_configuration.go
  huaweicloud/data_source_huaweicloud_gaussdb_mysql_dedicated_resource.go
  huaweicloud/data_source_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/data_source_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/data_source_huaweicloud_gaussdb_redis_instance.go
  huaweicloud/data_source_huaweicloud_iec_network_acl.go
  huaweicloud/data_source_huaweicloud_iec_port.go
  huaweicloud/data_source_huaweicloud_iec_vpc.go
  huaweicloud/data_source_huaweicloud_kms_data_key_v1.go
  huaweicloud/data_source_huaweicloud_kms_key_v1.go
  huaweicloud/data_source_huaweicloud_nat_gateway_v2.go
  huaweicloud/data_source_huaweicloud_networking_network_v2.go
  huaweicloud/data_source_huaweicloud_networking_port_v2.go
  huaweicloud/data_source_huaweicloud_networking_secgroup.go
  huaweicloud/data_source_huaweicloud_sfs_file_system_v2.go
  huaweicloud/data_source_huaweicloud_vbs_backup_policy_v2.go
  huaweicloud/data_source_huaweicloud_vbs_backup_v2.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_product.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_bandwidth.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eip.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_custom_role.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_group.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_role.go
  huaweicloud/services/ims/data_source_huaweicloud_images_image.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/sms/data_source_huaweicloud_sms_source_servers.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_peering_connection.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_route.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_route_table.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnet.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpcs.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_dedicated_instances.go
Labels: size/M, bugfix, LGTM, ready for review

#2258 fix(cbr/vault): add delete check
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/XS, bugfix, LGTM

#2260 fix(apig): add delete check
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api_publishment.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application.go
  huaweicloud/services/apig/resource_huaweicloud_apig_custom_authorizer.go
  huaweicloud/services/apig/resource_huaweicloud_apig_environment.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  huaweicloud/services/apig/resource_huaweicloud_apig_response.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy_associate.go
  huaweicloud/services/apig/resource_huaweicloud_apig_vpc_channel.go
Labels: size/S, bugfix, LGTM

#2252 feat(cbr/vault): add auto_bind support
  docs/resources/cbr_vault.md
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/M, feature, LGTM

#2263 fix(cce/namespace): add Computed to labels and annotations
  huaweicloud/services/cce/resource_huaweicloud_cce_namespace.go
Labels: size/XS, bugfix, LGTM

#2256 fix(eip/associate): add state refresh block and refactor the test content
  huaweicloud/resource_huaweicloud_compute_eip_associate.go
  huaweicloud/resource_huaweicloud_compute_eip_associate_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_eip_associate_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip_associate.go
Labels: size/M, bugfix, LGTM, safe to test

#2259 fix(dms/rabbitmq): fix the problem that single instance query is empty
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/M, bugfix, LGTM, safe to test

#2261 docs(as): add missing attribute and computed behavior
  docs/resources/as_group.md
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
Labels: documentation, size/XS, bugfix, LGTM, safe to test

#2265 fix(secgroup): replace default group with resource reference
  docs/resources/compute_interface_attach.md
  docs/resources/compute_volume_attach.md
  docs/resources/ecs_instance_v1.md
  docs/resources/images_image.md
  huaweicloud/resource_huaweicloud_compute_eip_associate_test.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_image_test.go
Labels: size/M, bugfix, LGTM

#2266 Update CHANGELOG for v1.38.2
  CHANGELOG.md
Labels: size/XS

#2249 feat: fix(meeting): add new resource and fix naming problems
  docs/resources/meeting_conference.md
  docs/resources/meeting_user.md
  go.mod
  go.sum
  huaweicloud/config/logger.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/meeting/resource_huaweicloud_meeting_conference_test.go
  huaweicloud/services/acceptance/meeting/resource_huaweicloud_meeting_user_test.go
  huaweicloud/services/meeting/resource_huaweicloud_meeting_user.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/assignments/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/assignments/results.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/assignments/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/users/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/users/results.go
  vendor/github.com/chnsz/golangsdk/openstack/meeting/v1/users/urls.go
  vendor/modules.txt
Labels: size/XL, bugfix, feature, dependencies, LGTM, safe to test

#2251 feat(meeting): add new resource support
  docs/resources/meeting_admin_assignment.md
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/meeting/resoruce_huaweicloud_meeting_admin_assignment_test.go
  huaweicloud/services/meeting/config.go
  huaweicloud/services/meeting/resource_huaweicloud_meeting_admin_assignment.go
Labels: size/L, feature, LGTM
