Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-12, with the labels that each got.

#2563 fix: fix rocketmq instance test
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
Labels: size/XS, bugfix, LGTM

#2567 refactor(vpc): refactor for vpc resources.
  huaweicloud/services/vpc/data_source_huaweicloud_networking_port_v2.go
  huaweicloud/services/vpc/data_source_huaweicloud_networking_secgroups.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_ids.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_peering_connection.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnet.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnet_ids.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnets.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpcs.go
  huaweicloud/services/vpc/resource_huaweicloud_networking_vip.go
  huaweicloud/services/vpc/resource_huaweicloud_networking_vip_associate.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_address_group.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_peering_connection.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_peering_connection_accepter.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_route.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_route_table.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_route_table_route.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/L, refactor, LGTM

#2570 fix(serviceStage): add secretName to add secret_name to the storage of…
  docs/resources/servicestage_component_instance.md
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component_instance.go
Labels: size/XS, bugfix, safe to test

#2545 feat(GA): add new resource ga_accelerator
  docs/resources/ga_accelerator.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_accelerator_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_accelerator.go
  huaweicloud/utils/tags.go
Labels: size/L, refactor, feature, LGTM, ready for review

#2566 refactor(apig): refactor environment resource
  docs/resources/apig_environment.md
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_environments_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_environment_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_environment.go
Labels: size/L, refactor

#2571 feat(GA): add new resource listener
  docs/resources/ga_listener.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_listener_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_accelerator.go
  huaweicloud/services/ga/resource_huaweicloud_ga_listener.go
Labels: size/L, bugfix, feature, LGTM

#2575 feat(dc/gateway): add new resource support
  docs/resources/dc_virtual_gateway.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_gateway_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_gateway.go
  vendor/github.com/chnsz/golangsdk/openstack/dc/v3/gateways/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dc/v3/gateways/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dc/v3/gateways/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2580 fix(resource/obs_bucket): fix ci lint obs bucket and obs bucket object
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_object_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_object.go
Labels: size/XS, bugfix, LGTM

#2565 refactor(apig): refactor group resource
  docs/resources/apig_group.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
Labels: size/L, refactor, LGTM

#2584 feat(GA): add new resources endpoint and endpoint group
  docs/resources/ga_endpoint.md
  docs/resources/ga_endpoint_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_endpoint_group_test.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_endpoint_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint_group.go
Labels: size/XL, feature, LGTM

#2579 refactor(VPC): Fix some test case and add some validation for paramters.
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_route_table_test.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpcs_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_route_table.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpcs.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_address_group.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_peering_connection.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_route_table.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_route_table_route.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/M, refactor, LGTM

#2569 refactor(apig): refactor vpc channel resource
  docs/resources/apig_vpc_channel.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_custom_authorizer_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_vpc_channel_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_vpc_channel.go
Labels: size/L, refactor, LGTM

#2586 fix: fix code warning, and do the code format
  huaweicloud/services/obs/data_source_huaweicloud_obs_buckets.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_object.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_policy.go
Labels: size/M, bugfix, LGTM

#2592 docs(ims): add missing flavor_id for images data source
  docs/data-sources/images_image.md
  docs/data-sources/images_images.md
Labels: documentation, size/XS, LGTM

#2597 fix(workflows): add github_token to increase the tflint API rate limit
  .github/workflows/doc-lint.yml
Labels: size/XS, bugfix, LGTM

#2582 fix: update obs sdk and obs sdk support roundTripper
  go.mod
  go.sum
  huaweicloud/config/config.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/README.MD
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_base.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_object.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_other.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_part.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/conf.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/const.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/convert.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/http.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/log.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_object.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/temporary_createSignedUrl.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/transfer.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/premium_instances/requests.go
  vendor/modules.txt
Labels: size/L, bugfix, dependencies, LGTM

#2600 fix(aom): all parameters should be set when updating due to the API i…
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_rule.go
Labels: size/S, bugfix, LGTM

#2591 feat(ecs): add server groups data source
  docs/data-sources/compute_servergroups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_servergroups_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_servergroups.go
Labels: size/M, feature, LGTM

#2593 feat(DBSS): add new resource dbss_instance
  docs/resources/dbss_instance.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
Labels: size/L, feature, LGTM

#2595 feat: add dcs instances data source
  docs/data-sources/dcs_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_instances_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_instances.go
Labels: size/L, feature, LGTM

#2594 feat: add dds instances data source
  docs/data-sources/dds_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_instances_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_instances.go
Labels: size/L, feature, LGTM

#2596 feat(GA): add new resource health_check
  docs/resources/ga_accelerator.md
  docs/resources/ga_endpoint.md
  docs/resources/ga_endpoint_group.md
  docs/resources/ga_health_check.md
  docs/resources/ga_listener.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_health_check_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_accelerator.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint_group.go
  huaweicloud/services/ga/resource_huaweicloud_ga_health_check.go
  huaweicloud/services/ga/resource_huaweicloud_ga_listener.go
Labels: size/L, refactor, feature, LGTM

#2572 feat: add dms rocketmq consumer group resource
  docs/resources/dms_rocketmq_consumer_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_consumer_group_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_consumer_group.go
Labels: size/L, feature, LGTM, safe to test

#2573 feat: add dms rocket mq topic resource
  docs/resources/dms_rocketmq_topic.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rockeetmq_topic_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_topic.go
Labels: size/L, feature, LGTM

#2583 feat(dc/interface): add new resource support
  docs/resources/dc_virtual_interface.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
  vendor/github.com/chnsz/golangsdk/openstack/dc/v3/interfaces/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dc/v3/interfaces/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dc/v3/interfaces/urls.go
  vendor/modules.txt
Labels: size/XL, feature, LGTM

#2603 fix(apig/instance): add computed behavior to optional arguments
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
Labels: size/XS, bugfix, LGTM

#2598 feat(codecheck): check HuaweiCloud keyword in error and log message
  scripts/codecheck.sh
Labels: size/XS, feature, LGTM

#2587 feat(DSC): support a new resource to manage DSC
  docs/resources/dsc_instance.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dsc/resource_huaweicloud_dsc_instance_test.go
  huaweicloud/services/dsc/resource_huaweicloud_dsc_instance.go
Labels: size/L, feature, LGTM

#2601 feat(waf/cloud): add new resource support
  docs/resources/waf_cloud_instance.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_cloud_instance_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_cloud_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/waf/v1/clouds/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/waf/v1/clouds/results.go
  vendor/github.com/chnsz/golangsdk/openstack/waf/v1/clouds/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2585 feat(CFW): add new data_source firewalls and new resource protection_rule
  docs/data-sources/cfw_firewalls.md
  docs/resources/cfw_protection_rule.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_firewalls_test.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_protection_rule_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_firewalls.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_protection_rule.go
Labels: size/XL, feature, LGTM, ready for review

#2602 feat(cce): support root volume encryption in node and node pool
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_v3_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_v3.go
Labels: size/S, feature, LGTM

#2606 feat: support user agent for sdk-go-v3 client
  huaweicloud/config/auth.go
  huaweicloud/config/config.go
  huaweicloud/config/hc_config.go
Labels: size/S, feature, LGTM

#2605 fix: fix rocketmq instance updata param
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/M, bugfix, LGTM

#2599 feat(DSC): add a resource to manage obs Asset
  docs/resources/dsc_asset_obs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dsc/resource_huaweicloud_dsc_asset_obs_test.go
  huaweicloud/services/dsc/resource_huaweicloud_dsc_asset_obs.go
Labels: size/L, feature, LGTM

#2588 feat: add cbh instance resource and instances data source
  docs/data-sources/cbh_instances.md
  docs/resources/cbh_instance.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_instance_test.go
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_instance.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/XL, feature, LGTM

#2611 changelog: Update CHANGELOG for v1.44.0
  CHANGELOG.md
Labels: size/S

#2613 Update APIs that resources depend-on v1.44.0
  docs/api/data_source_huaweicloud_cbh_instances.yaml
  docs/api/data_source_huaweicloud_cfw_firewalls.yaml
  docs/api/data_source_huaweicloud_compute_servergroups.yaml
  docs/api/data_source_huaweicloud_dcs_instances.yaml
  docs/api/data_source_huaweicloud_dds_instances.yaml
  docs/api/data_source_huaweicloud_dms_kafka_flavors.yaml
  docs/api/data_source_huaweicloud_dms_kafka_instances.yaml
  docs/api/data_source_huaweicloud_gaussdb_mysql_configuration.yaml
  docs/api/data_source_huaweicloud_gaussdb_mysql_dedicated_resource.yaml
  docs/api/data_source_huaweicloud_gaussdb_mysql_instance.yaml
  docs/api/data_source_huaweicloud_gaussdb_mysql_instances.yaml
  docs/api/data_source_huaweicloud_gaussdb_opengauss_instance.yaml
  docs/api/data_source_huaweicloud_gaussdb_opengauss_instances.yaml
  docs/api/data_source_huaweicloud_rds_backups.yaml
  docs/api/data_source_huaweicloud_rds_storage_types.yaml
  docs/api/resource_huaweicloud_cbh_instance.yaml
  docs/api/resource_huaweicloud_cfw_protection_rule.yaml
  docs/api/resource_huaweicloud_dbss_instance.yaml
  docs/api/resource_huaweicloud_dc_virtual_gateway.yaml
  docs/api/resource_huaweicloud_dc_virtual_interface.yaml
  docs/api/resource_huaweicloud_dms_kafka_permissions.yaml
  docs/api/resource_huaweicloud_dms_kafka_user.yaml
  docs/api/resource_huaweicloud_dms_rocketmq_consumer_group.yaml
  docs/api/resource_huaweicloud_dms_rocketmq_instance.yaml
  docs/api/resource_huaweicloud_dms_rocketmq_topic.yaml
  docs/api/resource_huaweicloud_dsc_instance.yaml
  docs/api/resource_huaweicloud_elb_security_policy.yaml
  docs/api/resource_huaweicloud_er_instance.yaml
  docs/api/resource_huaweicloud_ga_accelerator.yaml
  docs/api/resource_huaweicloud_ga_endpoint.yaml
  docs/api/resource_huaweicloud_ga_endpoint_group.yaml
  docs/api/resource_huaweicloud_ga_health_check.yaml
  docs/api/resource_huaweicloud_ga_listener.yaml
  docs/api/resource_huaweicloud_gaussdb_mysql_instance.yaml
  docs/api/resource_huaweicloud_gaussdb_mysql_proxy.yaml
  docs/api/resource_huaweicloud_gaussdb_opengauss_instance.yaml
  docs/api/resource_huaweicloud_gaussdb_redis_instance.yaml
  docs/api/resource_huaweicloud_hss_host_group.yaml
  docs/api/resource_huaweicloud_mapreduce_cluster.yaml
  docs/api/resource_huaweicloud_waf_cloud_instance.yaml
Labels: size/L

#2614 fix: unset validation to fix overflows
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_gateway.go
Labels: size/XS, bugfix

#2615 chore(goreleaser): support auto-publish
  .goreleaser.yml
Labels: size/XS, chore
