Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-01, with the labels that each got.

#1852 fix(evs): fix incorrect device type configuration
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/XS, bugfix, LGTM

#1853 fix(cce/nodepool): add missing attribute 'current_node_count'
  huaweicloud/resource_huaweicloud_cce_node_pool.go
Labels: size/XS, bugfix, LGTM

#1855 test(cce/addon): update test cases of resource cce addon
  huaweicloud/resource_huaweicloud_cce_addon_v3_test.go
Labels: size/S, LGTM, test

#1856 fix(EIP): set port_id to computed and Deprecated
  docs/resources/vpc_eip.md
  huaweicloud/services/vpc/resource_huaweicloud_vpc_eip.go
Labels: size/XS, bugfix, LGTM

#1823 refactor(LB/certificate): update lb_certificate with v2 api
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_lb_certificate.go
  huaweicloud/resource_huaweicloud_lb_certificate_test.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/certificates/request.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/certificates/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/certificates/urls.go
  vendor/modules.txt
Labels: size/M, refactor, dependencies

#1866 fix: fix URL splicing error when specifying endpoint for service without version number
  huaweicloud/config/config.go
Labels: size/XS, bugfix, LGTM

#1864 feat: add port_id attribute into compute eip associate resource
  docs/resources/compute_eip_associate.md
  huaweicloud/resource_huaweicloud_compute_eip_associate.go
  huaweicloud/resource_huaweicloud_compute_eip_associate_test.go
Labels: size/S, feature, LGTM

#1846 refactor(lb/pool): update lb_pool and lb_member with v2 api
  go.mod
  go.sum
  huaweicloud/lb_v2_shared.go
  huaweicloud/resource_huaweicloud_lb_member.go
  huaweicloud/resource_huaweicloud_lb_member_test.go
  huaweicloud/resource_huaweicloud_lb_pool.go
  huaweicloud/resource_huaweicloud_lb_pool_test.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/pools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/pools/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/pools/urls.go
  vendor/modules.txt
Labels: size/L, refactor, dependencies, LGTM

#1865 feat(lb/certificate): support enterprise project id in lb certificate
  docs/resources/lb_certificate.md
  huaweicloud/resource_huaweicloud_lb_certificate.go
  huaweicloud/resource_huaweicloud_lb_certificate_test.go
Labels: size/M, feature, LGTM

#1859 docs(cce): Correct the descriptions of the CCE documents
  docs/data-sources/cce_addon_template.md
  docs/data-sources/cce_cluster.md
  docs/data-sources/cce_clusters.md
  docs/data-sources/cce_node.md
  docs/data-sources/cce_node_pool.md
  docs/data-sources/cce_nodes.md
  docs/resources/cce_addon.md
  docs/resources/cce_cluster.md
  docs/resources/cce_namespace.md
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  docs/resources/cce_pvc.md
Labels: size/L, documentation, LGTM

#1868 refactor: vpc bandwidth resource and data source with sdk v2
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_bandwidth.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_bandwidth.go
Labels: size/M, refactor, LGTM

#1870 chore: add summary message in acceptance basic test job
  .github/workflows/ci.yml
  .github/workflows/cron-ci.yml
  .github/workflows/release.yml
Labels: size/XS, chore, LGTM

#1857 chore: test(acc test): Support multi-resource acceptance check
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
Labels: size/M, chore, test

#1874 fix(kafak/topic): fixed an issue where the API returned an error when modifying part fields
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_topic_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_topic.go
Labels: size/S, bugfix, LGTM

#1882 Update CHANGELOG for v1.32.1
  CHANGELOG.md
Labels: size/XS

#1887 chore: get rid of unused vendor code after 8768426
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/certificates/urls.go
  vendor/modules.txt
Labels: size/M, chore

#1878 fix(dms/group): deprecate huaweicloud_dms_group
  docs/resources/dms_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_dms_group_v1_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_dms_group_v1.go
Labels: size/XS, bugfix, feature

#1884 fix(gaussdb/geminidb): fix multi custom endpoints issue
  huaweicloud/provider.go
Labels: size/XS, bugfix, LGTM

#1889 feat(csms): add a resource to manage CSMS secrets
  docs/resources/csms_secret.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_csms_secret_test.go
  huaweicloud/services/dew/resource_huaweicloud_csms_secret.go
  vendor/github.com/chnsz/golangsdk/openstack/csms/v1/secrets/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/csms/v1/secrets/results.go
  vendor/github.com/chnsz/golangsdk/openstack/csms/v1/secrets/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#1888 feat(eip/bandWidth): make charge_mode as an argument and add publicips attribute
  docs/data-sources/vpc_bandwidth.md
  docs/resources/vpc_bandwidth.md
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_bandwidth.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_bandwidth.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/bandwidths/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/bandwidths/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/bandwidths/requests.go
Labels: size/M, feature

#1901 refactor(lb/monitor): update lb monitor with v2 api
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_lb_monitor.go
  huaweicloud/resource_huaweicloud_lb_monitor_test.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/monitors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/monitors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/monitors/urls.go
  vendor/modules.txt
Labels: help wanted, size/L, refactor, dependencies

#1902 feat(NAT): add checkDeleted in read function
  huaweicloud/resource_huaweicloud_nat_dnat_rule_v2.go
Labels: size/XS, feature, LGTM

#1904 docs(DNAT): fix port_id desc and add an Example
  docs/resources/nat_dnat_rule.md
Labels: size/S, documentation, LGTM

#1862 feat: fix(gaussdb): add new data source to obtain all gaussdb nosql flavors
  docs/data-sources/gaussdb_nosql_flavors.md
  huaweicloud/data_source_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_nosql_flavors_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_nosql_flavors.go
Labels: size/L, bugfix, feature, LGTM

#1895 feat(CSS): support cluster flavors data-source
  docs/data-sources/css_flavors.md
  go.mod
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_flavors_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_flavors.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#1903 fix(VPC): add checkDeleted in route_table_route
  huaweicloud/services/vpc/resource_huaweicloud_vpc_route_table_route.go
Labels: size/XS, bugfix, LGTM

#1905 chore: move eip and bandwidth out of vpc directory
  huaweicloud/data_source_huaweicloud_iec_eips.go
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_iec_eip.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eip_test.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eips_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_bandwidth.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eip.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eips.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
Labels: size/S, chore, LGTM

#1906 refactor(lb/whitelist): update lb whitelist with v2 api
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_lb_whitelist.go
  huaweicloud/resource_huaweicloud_lb_whitelist_test.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/whitelists/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/whitelists/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/whitelists/urls.go
  vendor/modules.txt
Labels: help wanted, size/S, refactor, dependencies

#1909 refactor(lb/shared): update functions in lb_v2_shared
  go.mod
  go.sum
  huaweicloud/lb_v2_shared.go
  huaweicloud/resource_huaweicloud_lb_l7policy.go
  huaweicloud/resource_huaweicloud_lb_l7rule.go
  huaweicloud/resource_huaweicloud_lb_listener.go
  huaweicloud/resource_huaweicloud_lb_loadbalancer.go
  huaweicloud/resource_huaweicloud_lb_member.go
  huaweicloud/resource_huaweicloud_lb_monitor.go
  huaweicloud/resource_huaweicloud_lb_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/listeners/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/loadbalancers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/monitors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/pools/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/l7policies/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/l7policies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/l7policies/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/l7policies/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/listeners/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/loadbalancers/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/loadbalancers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/loadbalancers/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/monitors/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/monitors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/monitors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/monitors/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/pools/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/pools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/pools/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/lbaas_v2/pools/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, dependencies

#1911 style(apig): reimport apig packages
  huaweicloud/resource_huaweicloud_api_gateway_api.go
  huaweicloud/resource_huaweicloud_api_gateway_api_test.go
  huaweicloud/resource_huaweicloud_api_gateway_group.go
  huaweicloud/resource_huaweicloud_api_gateway_group_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_publishment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_custom_authorizer_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_environment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_response_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_vpc_channel_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api_publishment.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application.go
  huaweicloud/services/apig/resource_huaweicloud_apig_custom_authorizer.go
  huaweicloud/services/apig/resource_huaweicloud_apig_environment.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  huaweicloud/services/apig/resource_huaweicloud_apig_response.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy.go
  huaweicloud/services/apig/resource_huaweicloud_apig_vpc_channel.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/applications/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/applications/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/applications/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/authorizers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/authorizers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/authorizers/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/environments/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/environments/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/environments/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/responses/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/responses/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/responses/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/throttles/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/throttles/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/throttles/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/apis/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/apis/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/apis/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/groups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/groups/urls.go
  vendor/modules.txt
Labels: size/S, LGTM

#1898 feat(csms): add a data source to query the CSMS secret version
  docs/data-sources/csms_secret_version.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_csms_secret_version_test.go
  huaweicloud/services/dew/data_source_huaweicloud_csms_secret_version.go
Labels: size/M, feature, LGTM

#1908 feat: add vpc_eip_associate resource and hide networking_eip_associate resource
  docs/resources/vpc_eip_associate.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_networking_eip_associate.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_eip_associate_test.go
  huaweicloud/services/eip/resource_huaweicloud_eip_associate.go
Labels: help wanted, size/L, feature, LGTM

#1914 docs(gaussdb): add charging info parameters
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_mysql_instance.md
Labels: size/S, documentation

#1924 lint: fix tfprovider lint error
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_job.go
Labels: size/XS

#1916 feat(eip): Add port_id attribute and make publicip.0.port_id be deprecated only in schema
  docs/resources/vpc_eip.md
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
Labels: size/M, feature, LGTM

#1918 feat(cce/node): support password encryption in cce node, node_pool and node_attach
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cce_node_attach.go
  huaweicloud/resource_huaweicloud_cce_node_pool.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
  huaweicloud/utils/password_encrypt.go
  vendor/github.com/amoghe/go-crypt/.gitignore
  vendor/github.com/amoghe/go-crypt/.travis.yml
  vendor/github.com/amoghe/go-crypt/LICENSE
  vendor/github.com/amoghe/go-crypt/README.md
  vendor/github.com/amoghe/go-crypt/crypt.go
  vendor/github.com/amoghe/go-crypt/crypt_r.go
  vendor/github.com/amoghe/go-crypt/version.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#1925 feat(gaussdb/cassandra): add dedicated_resource_name support
  docs/resources/gaussdb_cassandra_instance.md
  huaweicloud/resource_huaweicloud_gaussdb_cassandra_instance.go
Labels: size/S, feature, LGTM

#1915 remove networking_floatingip_associate_v2 resource
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_networking_eip_associate.go
  huaweicloud/resource_huaweicloud_networking_eip_associate_test.go
Labels: size/M

#1917 feat(cce/node): add parameter storage in cce node
  docs/resources/cce_node.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#1919 feat(ecs): support to associate IPv6 address to a specified shared bandwidth
  docs/resources/compute_eip_associate.md
  huaweicloud/resource_huaweicloud_compute_eip_associate.go
  huaweicloud/resource_huaweicloud_compute_eip_associate_test.go
  huaweicloud/utils/diff_suppress_funcs.go
Labels: size/L, refactor, feature

#1923 fix(elb): release eip when deleting the ELB loadbalancer
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
Labels: size/M, bugfix

#1926 docs: remove unused resource documents
  docs/incubating/cloudtable_cluster.md
  docs/incubating/ges_graph.md
  docs/incubating/oms_task.md
Labels: documentation, size/XS, LGTM

#1927 add new cce example
  examples/cce/nat-writekubeconfig/README.md
  examples/cce/nat-writekubeconfig/main.tf
Labels: size/M, bugfix, LGTM

#1928 refactor: get rid of unused testing files
  huaweicloud/resource_huaweicloud_dis_stream_v2_test.go
Labels: size/M, refactor, LGTM

#1931 schema: update schema json files
  docs/json/resources/compute_eip_associate.json
  docs/json/resources/lb_certificate.json
  docs/json/resources/vpc_bandwidth.json
  docs/json/resources/vpc_eip.json
  docs/json/resources/vpc_eip_associate.json
Labels: size/M

#1930 Update CHANGELOG for v1.33.0
  CHANGELOG.md
Labels: size/S

#1934 fix: update password encrypt method for cce node
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cce_node_v3_test.go
  huaweicloud/utils/password_encrypt.go
  vendor/github.com/GehirnInc/crypt/.travis.yml
  vendor/github.com/GehirnInc/crypt/AUTHORS.md
  vendor/github.com/GehirnInc/crypt/LICENSE
  vendor/github.com/GehirnInc/crypt/README.rst
  vendor/github.com/GehirnInc/crypt/common/base64.go
  vendor/github.com/GehirnInc/crypt/common/doc.go
  vendor/github.com/GehirnInc/crypt/common/salt.go
  vendor/github.com/GehirnInc/crypt/crypt.go
  vendor/github.com/GehirnInc/crypt/internal/utils.go
  vendor/github.com/GehirnInc/crypt/sha512_crypt/sha512_crypt.go
  vendor/github.com/amoghe/go-crypt/.gitignore
  vendor/github.com/amoghe/go-crypt/.travis.yml
  vendor/github.com/amoghe/go-crypt/LICENSE
  vendor/github.com/amoghe/go-crypt/README.md
  vendor/github.com/amoghe/go-crypt/crypt.go
  vendor/github.com/amoghe/go-crypt/crypt_r.go
  vendor/github.com/amoghe/go-crypt/version.go
  vendor/modules.txt
Labels: size/L, bugfix, dependencies, LGTM

#1935 feat(cce/node_pool): update Delay in node pool Update function
  huaweicloud/resource_huaweicloud_cce_node_pool.go
  huaweicloud/resource_huaweicloud_cce_node_pool_test.go
Labels: size/S, feature

#1933 chore: update go version for ci
  .github/workflows/ci.yml
  .github/workflows/cron-ci.yml
  .github/workflows/release.yml
  .go-version
  README.md
Labels: size/XS, chore
