Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-03, with the labels that each got.

#1994 chore(workflow): add a shedule task to mirror to codehub
  .github/workflows/mirror_to_codehub.yml
Labels: size/XS, chore

#1991 chore(json): update json files based on v1.34.0
  docs/json/resources/cce_node.json
  docs/json/resources/cce_node_pool.json
  docs/json/resources/evs_volume.json
  docs/json/resources/gaussdb_cassandra_instance.json
  docs/json/resources/gaussdb_mysql_instance.json
  docs/json/resources/networking_secgroup.json
  docs/json/resources/networking_secgroup_rule.json
Labels: size/M, chore

#1995 refactor(evs/data_source_volumes): set enterprise_project_id to all_granted_eps if it's not specified
  huaweicloud/services/evs/data_source_huaweicloud_evs_volumes.go
Labels: size/XS, refactor, LGTM

#1983 feat(as/configuration): set EnterpriseProjectID to all_granted_eps in func getASGroupsByConfiguration
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_v1_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_v1_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_lifecycle_hook_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_v1_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration_v1.go
  huaweicloud/services/as/resource_huaweicloud_as_group_v1.go
  huaweicloud/services/as/resource_huaweicloud_as_lifecycle_hook.go
  huaweicloud/services/as/resource_huaweicloud_as_policy_v1.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/groups/requests.go
  vendor/modules.txt
Labels: size/M, refactor, feature, dependencies, LGTM

#1992 feat(vpc/data): support new data source of security groups
  docs/data-sources/networking_secgroups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_networking_secgroups_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_networking_secgroups.go
Labels: size/M, feature

#1997 docs(example/elb): add dedicated elb creation reference
  examples/elb/dedicated/README.md
  examples/elb/dedicated/main.tf
  examples/elb/dedicated/variables.tf
Labels: size/M, documentation, LGTM

#2000 fix(cluster/test): replace az environment with data source query
  huaweicloud/services/acceptance/cloudtable/resource_huaweicloud_cloudtable_cluster_test.go
Labels: size/XS, bugfix, LGTM

#1999 feat:(fgs/dependency): add new dependency package resource support
  docs/resources/fgs_dependency.md
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_dependency_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/dependencies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/dependencies/urls.go
  vendor/modules.txt
Labels: size/L, documentation, feature, dependencies

#2001 chore(json): add schema files for DCS and DMS
  docs/json/resources/dcs_instance.json
  docs/json/resources/dms_kafka_instance.json
  docs/json/resources/dms_kafka_topic.json
  docs/json/resources/dms_rabbitmq_instance.json
Labels: size/L, chore

#2002 Update CHANGELOG for v1.34.1
  CHANGELOG.md
Labels: size/XS

#2015 fix(dms/product): fix the problem of vm_specification parameter
  docs/data-sources/dms_product.md
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_product_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_product.go
Labels: size/S, bugfix, LGTM

#1993 refactor: remove functions which is unused
  huaweicloud/custom_functions.go
  huaweicloud/networking_port_v2.go
  huaweicloud/transport.go
Labels: size/M, refactor, LGTM

#2011 feat(cce/cluster): support tags in cce cluster
  docs/resources/cce_cluster.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/resource_huaweicloud_cce_cluster_v3_test.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cci/v1/networks/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/block_devices/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/block_devices/results.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/block_devices/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/jobs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/jobs/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies

#2004 feat(cci/namespace): add new data source support for namespace list querying
  docs/data-sources/cci_namespaces.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cci_namespaces_test.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_namespace_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cci_namespaces.go
  huaweicloud/services/cci/resource_huaweicloud_cci_namespace.go
  vendor/modules.txt
Labels: size/L, refactor, feature, dependencies

#2013 fix bugs on csbs and vbs
  huaweicloud/resource_huaweicloud_vbs_backup_v2.go
  huaweicloud/resource_huaweicloud_vbs_backup_v2_test.go
  vendor/github.com/chnsz/golangsdk/openstack/csbs/v1/backup/results.go
Labels: size/S, bugfix

#2018 fix(dms/kafka): fix the force replacement problem
  docs/resources/dms_kafka_instance.md
  docs/resources/dms_rabbitmq_instance.md
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/XS, bugfix

#2010 feat(ModelArts): Add a resource to manage dataset
  docs/resources/modelarts_dataset.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_dataset_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_dataset.go
  huaweicloud/utils/utils.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v2/dataset/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v2/dataset/results.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v2/dataset/urls.go
  vendor/modules.txt
Labels: size/XL, chore, feature, dependencies, LGTM

#2007 feat(tms/tag): add tms tag support
  docs/resources/tms_tags.md
  go.mod
  go.sum
  huaweicloud/config/endpoints.go
  huaweicloud/config/hc_config.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/tms/resource_huaweicloud_tms_tags_test.go
  huaweicloud/services/tms/resource_huaweicloud_tms_tags.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_create_predefine_tags_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_create_predefine_tags_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_delete_predefine_tags_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_delete_predefine_tags_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_link.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_list_api_versions_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_list_api_versions_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_list_predefine_tags_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_list_predefine_tags_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_modify_prefine_tag.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_predefine_tag.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_predefine_tag_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_req_create_predefine_tag.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_req_delete_predefine_tag.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_show_api_version_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_show_api_version_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_show_tag_quota_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_show_tag_quota_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_tag_quota.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_update_predefine_tags_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_update_predefine_tags_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/model/model_version_detail.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/tms_client.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/tms/v1/tms_meta.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies

#2028 fix(dms/test): fix the problem of import state verification
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
Labels: size/XS, bugfix, LGTM

#2012 test(DRS): set different name for db
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
Labels: size/XS, LGTM, test

#2023 fix(modeArts): remove the type of labels
  docs/resources/modelarts_dataset.md
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_dataset_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_dataset.go
Labels: size/XS, bugfix, LGTM

#2025 feat(auth): add shared config profile support
  docs/index.md
  huaweicloud/config/config.go
  huaweicloud/provider.go
Labels: size/M, feature, LGTM

#2003 fix(volume/attach): fix the problems of volume attachment and detachment
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_blockstorage_volume_v2.go
  huaweicloud/resource_huaweicloud_compute_volume_attach.go
  huaweicloud/resource_huaweicloud_compute_volume_attach_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/volumeattach/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/volumeattach/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/volumeattach/results.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/volumeattach/urls.go
  vendor/modules.txt
Labels: size/L, bugfix, LGTM

#2017 feat(ModelArts): add new dataSource to get datasets
  docs/data-sources/modelarts_datasets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_datasets_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_datasets.go
Labels: size/L, feature, LGTM

#2026 refactor(networking/vip): replace openstack api with huaweicloud v1 api
  docs/resources/networking_vip.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_networking_vip_associate_v2_test.go
  huaweicloud/resource_huaweicloud_networking_vip_v2.go
  huaweicloud/resource_huaweicloud_networking_vip_v2_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_networking_vip_test.go
  huaweicloud/services/vpc/resource_huaweicloud_networking_vip.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, dependencies, LGTM

#2029 feat(cce/cluster): add DiffSuppressFunc for cluster_version
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/utils/diff_suppress_funcs.go
  huaweicloud/utils/testing/utils_test.go
Labels: size/S, feature, LGTM

#2044 doc(ModelArts): update the subcategory of modelarts
  docs/data-sources/modelarts_notebook_images.md
  docs/resources/modelarts_dataset.md
  docs/resources/modelarts_notebook.md
  docs/resources/modelarts_notebook_mount_storage.md
Labels: size/XS, LGTM

#2038 chore(workflow): add reviewdog to run golangci-lint
  .github/workflows/reviewdog.yml
Labels: size/XS, chore

#2046 feat(ecs/eip): add auto_pay support
  docs/resources/compute_instance.md
  docs/resources/vpc_eip.md
  huaweicloud/common/resource_schema.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_schema.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
Labels: size/S, feature, LGTM

#2041 refactor(auth): make authentication code more clear
  huaweicloud/config/auth.go
  huaweicloud/config/config.go
Labels: size/L, refactor, LGTM

#2054 fix(config/logger): skip to parse empty body
  huaweicloud/config/logger.go
Labels: size/XS, bugfix, LGTM

#2055 docs(gaussdb): group gaussdb docs as Cloud category
  docs/data-sources/gaussdb_cassandra_dedicated_resource.md
  docs/data-sources/gaussdb_cassandra_flavors.md
  docs/data-sources/gaussdb_cassandra_instance.md
  docs/data-sources/gaussdb_cassandra_instances.md
  docs/data-sources/gaussdb_nosql_flavors.md
  docs/data-sources/gaussdb_opengauss_instance.md
  docs/data-sources/gaussdb_opengauss_instances.md
  docs/data-sources/gaussdb_redis_instance.md
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_opengauss_instance.md
  docs/resources/gaussdb_redis_instance.md
Labels: documentation, size/XS, LGTM

#2057 refactor(vpc/client): remove sercurity group client
  go.mod
  go.sum
  huaweicloud/compute_instance_v2_networking.go
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/urls.go
  vendor/modules.txt
Labels: size/S, refactor, dependencies, LGTM

#2058 fix(ecs/eip): update auto_pay parameter to string
  docs/resources/compute_instance.md
  docs/resources/vpc_eip.md
  huaweicloud/common/resource_schema.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_schema.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
Labels: size/S, bugfix, LGTM

#2043 feat(fgs/function): support param specified of functiongraph version
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/results.go
Labels: size/XS, feature, LGTM

#2049 fix(secgroup): crud compatibility based on the ver.1
  huaweicloud/data_source_huaweicloud_networking_secgroup.go
  huaweicloud/resource_huaweicloud_networking_secgroup.go
  huaweicloud/resource_huaweicloud_networking_secgroup_rule.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_networking_secgroups_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_networking_secgroups.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/rules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/rules/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/rules/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/securitygroups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/securitygroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/securitygroups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/groups/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/groups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/groups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/rules/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/rules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/rules/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/security/rules/urls.go
  vendor/modules.txt
Labels: size/XL, bugfix, LGTM, test

#2053 refactor(ces/alarmrule): refactor resource ces_alarmrule
  docs/resources/ces_alarmrule.md
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/alarmrule/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/alarmrule/results.go
Labels: size/M, refactor, feature, LGTM

#2061 fix(ecs/eip): fix update non auto_pay resource issue
  huaweicloud/common/resource_schema.go
  huaweicloud/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/resource_huaweicloud_cce_node_v3.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_rds_instance_v3.go
  huaweicloud/resource_schema.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/S, bugfix, LGTM

#2059 feat(eip/associate): support to associate an EIP with network_id and fixed_ip
  docs/resources/vpc_eip_associate.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/eip/resource_huaweicloud_eip_associate_test.go
  huaweicloud/services/eip/resource_huaweicloud_eip_associate.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/responses/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/responses/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/throttles/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/css/v1/cluster/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/groups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/queues/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/queues/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v2/jobs/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/results_job.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/urls.go
  vendor/modules.txt
Labels: size/L, bugfix, feature, dependencies, LGTM

#2065 chore: rename hc client function,fix bug
  huaweicloud/config/auth.go
  huaweicloud/config/endpoints.go
  huaweicloud/config/hc_config.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kps_keypair_test.go
  huaweicloud/services/acceptance/tms/resource_huaweicloud_tms_tags_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_address_group_test.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair.go
  huaweicloud/services/tms/resource_huaweicloud_tms_tags.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_address_group.go
Labels: size/M, chore, LGTM

#2070 feat(config): add NatV2Client for Joint-Operation cloud
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
Labels: size/XS, feature, LGTM

#2068 fix(dns/zone): add computed behavior to email parameter
  huaweicloud/resource_huaweicloud_dns_zone_v2.go
  huaweicloud/resource_huaweicloud_dns_zone_v2_test.go
Labels: size/XS, bugfix, LGTM, test

#2066 feat(cts): add system tracker support
  docs/resources/cts_tracker.md
  huaweicloud/config/hc_config.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/cts_client.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/cts_meta.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_base_user.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_create_notification_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_create_notification_request_body.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_create_notification_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_create_tracker_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_create_tracker_request_body.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_create_tracker_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_data_bucket.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_data_bucket_query.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_delete_notification_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_delete_notification_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_delete_tracker_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_delete_tracker_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_list_notifications_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_list_notifications_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_list_quotas_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_list_quotas_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_list_traces_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_list_traces_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_list_trackers_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_list_trackers_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_lts.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_meta_data.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_notification_users.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_notifications_response_body.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_obs_info.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_operations.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_quota.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_traces.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_tracker_obs_info.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_tracker_response_body.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_update_notification_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_update_notification_request_body.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_update_notification_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_update_tracker_request.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_update_tracker_request_body.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_update_tracker_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/cts/v3/model/model_user_info.go
  vendor/modules.txt
Labels: size/XL, feature, LGTM

#2072 docs(dcs/instance): fix the wrong special characters
  docs/resources/dcs_instance.md
Labels: documentation, size/XS

#2073 chore(json): add json schema files
  docs/json/resources/cbr_policy.json
  docs/json/resources/cbr_vault.json
  docs/json/resources/cce_namespace.json
  docs/json/resources/cce_pvc.json
  docs/json/resources/cci_namespace.json
  docs/json/resources/cci_network.json
  docs/json/resources/cci_pvc.json
  docs/json/resources/compute_interface_attach.json
  docs/json/resources/dds_instance.json
  docs/json/resources/elb_certificate.json
  docs/json/resources/elb_ipgroup.json
  docs/json/resources/elb_l7policy.json
  docs/json/resources/elb_l7rule.json
  docs/json/resources/elb_listener.json
  docs/json/resources/elb_loadbalancer.json
  docs/json/resources/elb_member.json
  docs/json/resources/elb_monitor.json
  docs/json/resources/elb_pool.json
  docs/json/resources/fgs_function.json
  docs/json/resources/fgs_trigger.json
  docs/json/resources/network_acl.json
  docs/json/resources/network_acl_rule.json
Labels: size/XL, chore
