Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2022-11, with the labels that each got.

#2483 fix(cce/cluster): append hibernating status to refresh pending array
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_v3.go
Labels: size/XS, bugfix, LGTM

#2354 feat(codehub/repository): add new resource support
  docs/resources/codehub_repository.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codehub/resource_huaweicloud_codehub_repository_test.go
  huaweicloud/services/codehub/resource_huaweicloud_codehub_repository.go
Labels: size/L, feature, LGTM, ready for review

#2486 chore(workflow): update pre-release ci
  .github/workflows/pre-release.yml
Labels: size/XS, chore, LGTM

#2473 feat(resource/obs_bucket): add new parameter storage info
  docs/resources/obs_bucket.md
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
Labels: size/S, feature, safe to test, ready for review

#2488 chore: add Meeting service catalog for API scanning
  huaweicloud/config/endpoints.go
Labels: size/XS, chore, LGTM

#2487 refactor:fix(dds/instance): refactor prepaid creation and acc test
  go.mod
  go.sum
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/results.go
  vendor/modules.txt
Labels: size/L, refactor, dependencies, LGTM

#2495 chore(workflow): upload artifact
  .github/workflows/acc-test.yml
  .gitignore
  scripts/acc-test.sh
Labels: size/S, chore, feature

#2482 add replica charge mode
  docs/resources/rds_read_replica_instance.md
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
Labels: size/S, bugfix, LGTM

#2489 docs: fix some docs issue
  docs/resources/cce_node.md
  docs/resources/ces_alarmrule.md
  docs/resources/networking_secgroup_rule.md
  docs/resources/rds_instance.md
Labels: documentation, size/XS, LGTM

#2494 ci(pr/title): PR title support new check list
  .github/workflows/pr_title.yml
Labels: size/S, LGTM

#2497 feat(workflow): filter unexported tf resource
  .github/workflows/pre-release.yml
Labels: size/XS, feature, LGTM

#2467 feat(RDS): add a new resource: rds backup
  docs/resources/rds_backup.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_backup_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_backup.go
Labels: size/L, feature, LGTM, safe to test, ready for review

#2471 feat(er/instance): add new router instance resource support
  docs/resources/er_instance.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_instance_test.go
  huaweicloud/services/er/resource_huaweicloud_er_instance.go
Labels: size/L, feature, ready for review

#2490 chore(cbc): Auto-renew parameter is support update for prepaid resources
  docs/resources/bms_instance.md
  docs/resources/cbr_vault.md
  docs/resources/cce_cluster.md
  docs/resources/cce_node.md
  docs/resources/css_cluster.md
  docs/resources/dataarts_studio_instance.md
  docs/resources/dcs_instance.md
  docs/resources/dds_instance.md
  docs/resources/ecs_instance_v1.md
  docs/resources/elb_loadbalancer.md
  docs/resources/evs_volume.md
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_influx_instance.md
  docs/resources/gaussdb_mongo_instance.md
  docs/resources/gaussdb_mysql_instance.md
  docs/resources/rds_instance.md
  docs/resources/vpc_eip.md
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/acceptance/bms/resource_huaweicloud_bms_instance_test.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_v3_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_influx_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mongo_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_v3.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_influx_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mongo_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XL, chore

#2504 ci(title): ignore semantic pull request check
  .github/workflows/pr_title.yml
Labels: size/XS

#2506 chore(ci): add more linters
  .golangci.yml
Labels: size/S, chore

#2510 chore: add code static check
  scripts/0001-deprecate-fmtp-and-logp.patch
  scripts/codecheck.sh
Labels: size/M, chore

#2508 chore(lint): fix misspell in codes and docs
  docs/resources/bcs_instance.md
  docs/resources/cbr_policy.md
  docs/resources/identity_acl.md
  docs/resources/iotda_dataforwarding_rule.md
  docs/resources/iotda_device.md
  docs/resources/iotda_device_group.md
  docs/resources/iotda_product.md
  docs/resources/iotda_space.md
  docs/resources/mapreduce_cluster.md
  docs/resources/modelarts_dataset.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_permissions_test.go
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/dli/resource_huaweicloud_dli_package.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
  huaweicloud/services/dli/resource_huaweicloud_dli_spark_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_sql_job.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_instances.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_permissions.go
  huaweicloud/services/eps/data_source_huaweicloud_enterprise_project.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_trigger.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_custom_role.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_role.go
  huaweicloud/services/iam/resource_huaweicloud_identity_role.go
  huaweicloud/services/internal/entity/model_lts_struct_template_params.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_product.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_space.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/lts/resource_huaweicloud_lts_elb_log.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_dataset.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/M, chore

#2511 chore: support misspell and gosec check
  .github/workflows/doc-lint.yml
  .golangci.yml
Labels: size/XS, chore

#2509 refactor(dms): add a lock to DMS resources
  docs/resources/dms_kafka_instance.md
  docs/resources/dms_rabbitmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/S, refactor, LGTM, ready for review

#2503 refactor(eip): adjust resource codes of the EIP and update related test
  docs/resources/vpc_eip.md
  huaweicloud/data_source_huaweicloud_iec_eips.go
  huaweicloud/resource_huaweicloud_iec_eip.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eips_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eip.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eips.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip_associate.go
Labels: size/XL, refactor, ready for review

#2501 fix(iam): downgrade to warning when saving secret key failed
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_access_key_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_access_key.go
Labels: size/S, bugfix, LGTM

#2512 feat(ims): support query market image
  docs/data-sources/images_image.md
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_image_test.go
  huaweicloud/services/ims/data_source_huaweicloud_images_image.go
Labels: size/S, feature, LGTM

#2513 chore: check whether multierror package is used
  scripts/codecheck.sh
Labels: size/XS, chore

#2502 refactor(apig/instance): refactor resource codes and related test
  docs/resources/apig_instance.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/instances/results.go
  vendor/modules.txt
Labels: size/XL, refactor, dependencies, safe to test

#2498 feat(eip): The auto_renew parameter supports update
  docs/resources/vpc_eip.md
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
Labels: size/S, feature, LGTM

#2517 chore: add checks for TF features in code-check
  scripts/codecheck.sh
Labels: size/XS, chore

#2493 fix: add elb autoscaling
  docs/resources/elb_loadbalancer.md
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
Labels: size/S, bugfix, LGTM

#2514 feat(ecs): support spot price charging mode
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
  vendor/github.com/chnsz/golangsdk/.gitignore
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/subnets/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/vpcs/requests.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, ready for review

#2491 feat(RDS): add a datasource to get backup
  docs/data-sources/rds_backups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_backups_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_backups.go
Labels: size/L, feature, LGTM, ready for review

#2515 feat(RDS): support resetting the password of root user
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/S, feature, dependencies

#2523 chore(codecheck): use gocyclo to show the topN most complex functions
  scripts/codecheck.sh
Labels: size/XS, chore

#2516 chore(as): fix ci lint and set attributes with multierror
  docs/resources/as_group.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_bandwidth_policy_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_lifecycle_hook_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_bandwidth_policy.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
  huaweicloud/services/as/resource_huaweicloud_as_lifecycle_hook.go
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
Labels: size/L, chore, LGTM

#2518 fix(ces): update condition.value to float for alarmrule
  docs/resources/ces_alarmrule.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/alarmrule/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/alarmrule/results.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies

#2524 fix: support ipv6 addresses in an address group
  docs/resources/vpc_address_group.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_address_group_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_address_group.go
Labels: size/M, bugfix, LGTM, safe to test

#2525 feat(er/attachment): Support new resource for ER service
  docs/resources/er_vpc_attachment.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_vpc_attachment_test.go
  huaweicloud/services/er/resource_huaweicloud_er_vpc_attachment.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/vpcattachments/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/vpcattachments/results.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/vpcattachments/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies

#2530 fix: gofmtcheck empty file list
  .gitignore
  scripts/gofmtcheck.sh
Labels: size/XS, bugfix, LGTM

#2527 feat: Add allowed ips in networking port datasource output
  docs/data-sources/networking_port.md
  huaweicloud/services/vpc/data_source_huaweicloud_networking_port_v2.go
Labels: size/XS, feature, LGTM, safe to test

#2521 feat: add elb security policy
  docs/resources/elb_security_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_security_policy_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_security_policy.go
Labels: size/L, feature, LGTM, safe to test, ready for review

#2535 feat: add image flavor id
  docs/data-sources/images_image.md
  go.mod
  go.sum
  huaweicloud/services/ims/data_source_huaweicloud_images_image.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/results.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/results.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/instances/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#2519 feat(VPN): add new resource vpn gateway
  docs/resources/vpn_gateway.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/XL, feature, LGTM, ready for review

#2526 feat(cce): support prePaid in node pool
  docs/resources/cce_node_pool.md
  huaweicloud/common/common.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/M, feature, LGTM, safe to test

#2496 feat(RDS): add a datasource to get storageTypes
  docs/data-sources/rds_storage_types.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_storage_types_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_storage_types.go
Labels: size/M, feature, LGTM, ready for review

#2528 feat(VPN): add new resource vpn customer gateway
  docs/resources/vpn_customer_gateway.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_customer_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_customer_gateway.go
Labels: size/L, feature, LGTM

#2540 feat(gaussdb/nosql): add lb_ip_address and lb_port attributes
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_influx_instance.md
  docs/resources/gaussdb_mongo_instance.md
  docs/resources/gaussdb_redis_instance.md
  go.mod
  go.sum
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_influx_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mongo_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/configurations/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/configurations/results.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/groups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/geminidb/v3/instances/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2529 feat(er/routetable): Support route table resource
  docs/data-sources/er_route_tables.md
  docs/resources/er_route_table.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_route_table_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_route_table_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_route_tables.go
  huaweicloud/services/er/resource_huaweicloud_er_route_table.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/associations/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/associations/results.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/associations/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/propagations/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/propagations/results.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/propagations/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/routes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/routes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/routes/utls.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/routetables/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/routetables/results.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/routetables/urls.go
  vendor/modules.txt
Labels: size/XL, feature, LGTM, ready for review

#2532 feat(er/association): add new resource support
  docs/resources/er_association.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_association_test.go
  huaweicloud/services/er/resource_huaweicloud_er_association.go
Labels: size/L, feature, ready for review

#2533 feat(er/propagation): add new resource support
  docs/resources/er_propagation.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_propagation_test.go
  huaweicloud/services/er/resource_huaweicloud_er_propagation.go
Labels: size/L, feature, ready for review

#2541 chore(as): improve on lifecycle_hook reesource
  docs/resources/as_lifecycle_hook.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_lifecycle_hook_test.go
  huaweicloud/services/as/resource_huaweicloud_as_lifecycle_hook.go
Labels: size/S, chore, LGTM

#2547 chore: move ecs data sources to services dir
  huaweicloud/data_source_huaweicloud_compute_flavors_test.go
  huaweicloud/data_source_huaweicloud_compute_instance_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_flavors_test.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_instance_test.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_instances_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_flavors.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instance.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instances.go
Labels: size/L, bugfix, chore, LGTM

#2543 feat(ecs): enhance the tags support
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_ecs_instance_v1.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies

#2539 feat(as/group): add more parameters and depreacate notifications param
  docs/resources/as_group.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/M, chore, feature, LGTM

#2537 feat(as/configuration): add more parameters and support importing
  docs/resources/as_configuration.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
  huaweicloud/utils/diff_suppress_funcs.go
Labels: size/L, feature, LGTM, safe to test

#2549 feat: add network attribute in compute_instances data source
  docs/data-sources/compute_instance.md
  docs/data-sources/compute_instances.md
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_instances_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instance.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instances.go
Labels: size/L, feature, LGTM

#2534 feat(cce): support pod_security_groups in node pool
  docs/resources/cce_node_pool.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/M, feature

#2544 feat(ua): make custom user agent possible
  huaweicloud/config/auth.go
Labels: size/XS, feature, LGTM

#2531 feat(as/policy): add status attribute and support importing
  docs/resources/as_policy.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
Labels: size/L, documentation, bugfix, chore, feature, LGTM, safe to test

#2552 chore: use ipv4_subent_id instead of subnet_id
  docs/data-sources/cce_cluster.md
  docs/data-sources/cce_clusters.md
  docs/data-sources/lb_loadbalancer.md
  docs/resources/cce_cluster.md
  docs/resources/elb_loadbalancer.md
  docs/resources/elb_member.md
  docs/resources/lb_loadbalancer.md
  docs/resources/lb_member.md
  examples/elb/basic/main.tf
  examples/elb/dedicated/main.tf
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_l7policy_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_l7rule_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_listener_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_logtank_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_member_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_monitor_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_pool_test.go
  huaweicloud/services/acceptance/lb/data_source_huaweicloud_lb_listeners_test.go
  huaweicloud/services/acceptance/lb/data_source_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_l7policy_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_l7rule_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_listener_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_member_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_monitor_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_pool_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_whitelist_test.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_environment_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_instance_group_associate_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  huaweicloud/services/elb/resource_huaweicloud_elb_member.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/lb/resource_huaweicloud_lb_member.go
Labels: size/M, chore, LGTM

#2554 fix(cse/engine): fix the issue of the jobs query failure
  go.mod
  go.sum
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_engine.go
  vendor/github.com/chnsz/golangsdk/openstack/cse/dedicated/v2/engines/requests.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM

#2555 feat(ecs): support filtering instances by ID
  docs/data-sources/compute_instance.md
  docs/data-sources/compute_instances.md
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_instance_test.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_instances_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instance.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instances.go
Labels: size/S, feature, LGTM

#2536 feat: add ims image images
  docs/data-sources/images_images.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_images_test.go
  huaweicloud/services/ims/data_source_huaweicloud_images_images.go
Labels: size/L, feature, LGTM, safe to test, ready for review

#2550 feat(VPN): add new resource vpn_connection
  docs/resources/vpn_connection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_connection_test.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_customer_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
Labels: size/XL, feature, LGTM, ready for review

#2551 feat(rf/stack): add new resource support
  docs/resources/rf_stack.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rf/resource_huaweicloud_rf_stack_test.go
  huaweicloud/services/rf/resource_huaweicloud_rf_stack.go
  vendor/github.com/chnsz/golangsdk/openstack/rf/v1/stacks/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rf/v1/stacks/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rf/v1/stacks/urls.go
  vendor/modules.txt
Labels: size/XL, feature, LGTM, ready for review

#2558 fix(cc/network): Fix the problem for update method
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_network_instance_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_network_instance.go
Labels: size/M, bugfix, LGTM, test

#2559 ci(pr/title): append the changelog to the type list
  .github/workflows/pr_title.yml
Labels: size/XS

#2556 feat: add dms rocketmq instance
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/L, feature

#2557 changelog: Update CHANGELOG for v1.43.0
  CHANGELOG.md
Labels: size/S, chore

#2560 chore: remove project-bot action
  .github/workflows/project-bot.yml
Labels: size/XS, chore

#2561 fix(api): update apis manually
  docs/api/data_source_huaweicloud_compute_instance.yaml
  docs/api/resource_huaweicloud_antiddos_basic.yaml
  docs/api/resource_huaweicloud_apig_instance.yaml
  docs/api/resource_huaweicloud_compute_eip_associate.yaml
  docs/api/resource_huaweicloud_compute_instance.yaml
  docs/api/resource_huaweicloud_compute_interface_attach.yaml
  docs/api/resource_huaweicloud_elb_loadbalancer.yaml
  docs/api/resource_huaweicloud_lb_loadbalancer.yaml
  docs/api/resource_huaweicloud_mapreduce_cluster.yaml
  docs/api/resource_huaweicloud_nat_snat_rule.yaml
  docs/api/resource_huaweicloud_vpc_eip_associate.yaml
Labels: size/S, bugfix

#2562 fix(vpn): unset validation to fix overflows
  huaweicloud/services/vpn/resource_huaweicloud_vpn_customer_gateway.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/XS
