Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-07, with the labels that each got.

#3157 chore(ecs): refactor servergroup and update acceptance
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_servergroup_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_servergroup.go
Labels: size/M, chore, LGTM

#3168 feat(Organizations): organizations account associate support import
  docs/resources/organizations_account_associate.md
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_associate_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_associate.go
Labels: size/S, feature, LGTM

#3170 docs(Organizations): fix organizations doc
  docs/resources/organizations_account.md
  docs/resources/organizations_account_invite.md
  docs/resources/organizations_account_invite_accepter.md
Labels: documentation, size/XS, bugfix

#3172 fix(GES): fix the subcategory
  docs/resources/ges_backup.md
  docs/resources/ges_metadata.md
Labels: size/XS, bugfix

#3169 fix(Organizations): fix organizations account state refresh function
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account.go
Labels: size/S, bugfix, LGTM

#3096 feat(CNAD): add a new data source cnad advanced available protected o…
  docs/data-sources/cnad_advanced_available_objects.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cnad/data_source_huaweicloud_cnad_advanced_available_objects_test.go
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_available_objects.go
  vendor/github.com/chnsz/golangsdk/pagination/list_all.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3175 docs(DDS): fix dds doc
  docs/resources/dds_instance.md
Labels: documentation, size/XS, bugfix

#3158 feat(CNAD): add a new resource cnad advanced policy
  docs/resources/cnad_advanced_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_policy_test.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_policy.go
Labels: size/L, feature, LGTM

#3177 fix(cbr/vault): replace the wrong code for parse include volumes
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/XS, bugfix, LGTM

#3159 feat(er/route): add static route resource
  docs/resources/er_static_route.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_static_route_test.go
  huaweicloud/services/er/resource_huaweicloud_er_static_route.go
Labels: size/L, feature, LGTM

#3152 feat(er/instance): support data source to query instances
  docs/data-sources/er_instances.md
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/data_source_hauweicloud_er_instances_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_instances.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/instances/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3182 fix(RDS): fix rds instance read policy
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XS, bugfix, LGTM

#3094 feat(CNAD): add a new resource cnad advanced protected object
  docs/resources/cnad_advanced_protected_object.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_protected_object_test.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_protected_object.go
Labels: size/L, feature, LGTM

#3180 docs(ecs): update the description of snapshot_id
  docs/resources/compute_instance.md
Labels: documentation, size/XS, LGTM

#3171 feat(Modelarts): add a new resource to manage model
  docs/resources/modelarts_model.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_model_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_model.go
Labels: size/XL, feature, LGTM, safe to test

#3151 feat(ModelArts): add a new resource to manage service
  docs/resources/modelarts_service.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_service_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_service.go
Labels: size/XL, feature, LGTM

#3184 docs(codearts): rename codearts subcategory
  docs/api/resource_huaweicloud_codearts_project.yaml
  docs/api/resource_huaweicloud_codearts_repository.yaml
  docs/resources/codearts_project.md
  docs/resources/codearts_repository.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codearts/resource_huaweicloud_codearts_project_test.go
  huaweicloud/services/acceptance/codearts/resource_huaweicloud_codearts_repository_test.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_project.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_repository.go
Labels: size/S, documentation, safe to test

#3176 feat(DCS): dcs instance support template id, and support update password and rename_commands
  docs/resources/dcs_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_backup.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3173 feat(CNAD): add a new data source cnad advanced protected objects
  docs/data-sources/cnad_advanced_protected_objects.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cnad/data_source_huaweicloud_cnad_advanced_protected_objects_test.go
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_protected_objects.go
Labels: size/L, feature

#3164 feat(CNAD): add a new resource cnad advanced policy associate
  docs/resources/cnad_advanced_policy_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_policy_associate_test.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_policy_associate.go
Labels: size/L, feature, LGTM

#3178 refactor(cce/node): refactor the cce node for code review check
  docs/resources/cce_node.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
Labels: size/L, refactor, LGTM

#3141 refactor(Kafka): optimize the code of wait for
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
Labels: size/S, refactor, LGTM

#3188 chore: add deprecation message in vpc_route_v2 resource
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_vpc_route_v2_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_route_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_vpc_route_v2.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_route.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_route_table_route.go
Labels: size/L, bugfix, chore, LGTM

#3189 chore: rename the file of rds_parametergroup resource
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_parametergroup_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_parametergroup.go
Labels: size/XS, chore

#3183 feat(ELB): add param action, redirect_listener_id to ELB l7 policy
  docs/resources/elb_l7policy.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_l7policy_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7policy.go
Labels: size/L, feature, LGTM

#3190 feat(RDS): fix rds retry
  huaweicloud/common/common.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/common.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
Labels: size/L, bugfix, feature, safe to test

#3193 changelog: Update CHANGELOG for v1.52.0
  CHANGELOG.md
Labels: size/XS

#3194 chore: add api yaml of er_static_route
  docs/api/resource_huaweicloud_er_static_route.yaml
Labels: size/XS, chore

#3126 feat(ucs): add new resource policy
  docs/resources/ucs_policy.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ucs/resource_huaweicloud_ucs_policy_test.go
  huaweicloud/services/ucs/resource_huaweicloud_ucs_policy.go
Labels: size/L, feature, LGTM

#3196 fix(DCS): fix dcs operate error code
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/XS, bugfix, LGTM

#3185 feat(DCS): fix dcs instance resize
  docs/resources/dcs_instance.md
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/XL, bugfix, feature, LGTM

#3198 feat(vpc/subnet): try to get the DNS list through API
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_iec_vpc_subnet.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/environments/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/environments/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/shared/v1/environments/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/nameservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/nameservers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/nameservers/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies

#3200 fix(RDS): fix rds test
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/common.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/M, bugfix, LGTM

#3201 fix(vpc/secgroup): update the error message for creating security group rule
  huaweicloud/resource_huaweicloud_networking_secgroup_rule.go
Labels: size/XS, bugfix, LGTM

#3202 fix(iam): update the endpoint of IAM client in password_policy
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_password_policy_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_password_policy.go
Labels: size/XS, bugfix, LGTM

#3204 fix(er/vendor): rename the url file
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/routes/urls.go
  vendor/modules.txt
Labels: size/XS, bugfix, dependencies

#3205 fix(EPS): eps migrate client add project
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
Labels: size/XS, bugfix

#3206 changelog: Update CHANGELOG for v1.52.1
  CHANGELOG.md
Labels: size/XS

#3197 feat(ucs): add new resource fleet
  docs/resources/ucs_fleet.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ucs/resource_huaweicloud_ucs_fleet_test.go
  huaweicloud/services/ucs/resource_huaweicloud_ucs_fleet.go
Labels: size/L, feature, LGTM, safe to test

#3214 fix(RDS): fix rds backup test
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_backups_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_backup_test.go
  huaweicloud/services/rds/common.go
Labels: size/M, bugfix, LGTM

#3192 feat(CC): add a new resource to manage bandwidth package
  docs/resources/cc_bandwidth_package.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_bandwidth_package_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_bandwidth_package.go
Labels: size/L, feature, LGTM, safe to test

#3203 feat(CC): add a new resource to manage inter-region bandwidth
  docs/resources/cc_inter_region_bandwidth.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_inter_region_bandwidth_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_inter_region_bandwidth.go
Labels: size/L, feature, LGTM, safe to test

#3213 feat(ucs): add new resource cluster
  docs/resources/ucs_cluster.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ucs/resource_huaweicloud_ucs_cluster_test.go
  huaweicloud/services/ucs/resource_huaweicloud_ucs_cluster.go
Labels: size/L, feature, LGTM

#3207 fix(RAM): support update principals and resource_urns
  docs/resources/ram_resource_share.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ram/resource_huaweicloud_ram_resource_share_test.go
  huaweicloud/services/ram/resource_huaweicloud_ram_resource_share.go
Labels: size/M, bugfix, LGTM

#3208 feat(er/attachment): support new data source
  docs/data-sources/er_attachments.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/data_source_hauweicloud_er_attachments_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_attachments.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/attachments/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/attachments/results.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/attachments/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3215 feat(MRS): add a new resource to manage data connection
  docs/resources/mapreduce_data_connection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_data_connection_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_data_connection.go
Labels: size/L, feature, LGTM, safe to test

#3210 refactor(cce): refactor extend_param in node and node pool
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_test.go
  huaweicloud/services/cce/common.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/L, refactor, LGTM

#3221 chore(ci/lint): ignore s018 rule for tflint
  .github/workflows/ci.yml
Labels: size/XS, chore

#3219 feat(iam): add protection policy resource
  docs/resources/identity_protection_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_protection_policy_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_protection_policy.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/l7policies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/l7policies/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/security/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/security/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/security/urls.go
Labels: size/L, feature, LGTM

#3138 feat(MRS): support external data sources
  docs/resources/mapreduce_cluster.md
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
Labels: size/M, feature, LGTM

#3186 feat(apig/env): add a resources to manage the environment for the shared APIG
  docs/resources/api_gateway_environment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apigateway/resource_api_gateway_environment_test.go
  huaweicloud/services/apigateway/resource_api_gateway_environment.go
Labels: size/M, feature, LGTM, safe to test

#3231 fix(er/filter): fix the incorrect variable reference
  huaweicloud/services/er/resource_huaweicloud_er_propagation.go
Labels: size/XS, bugfix

#3222 refactor(cce): refactor cce resource codes
  docs/resources/cce_node_pool.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_node_pool_v3_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_addon_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/XL, refactor, LGTM

#3216 feat(fgs/function): support version aliases management
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/aliases/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/aliases/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/aliases/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/versions/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/versions/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/versions/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3223 chore(Modelarts): fix lint errors and documents
  docs/resources/modelarts_dataset.md
  docs/resources/modelarts_dataset_version.md
  docs/resources/modelarts_notebook.md
  docs/resources/modelarts_notebook_mount_storage.md
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_dataset_versions_test.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_datasets_test.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_notebook_images_test.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_dataset_test.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_dataset_version_test.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_notebook_mount_storage_test.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_notebook_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_dataset_versions.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_datasets.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_notebook_images.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_dataset.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_dataset_version.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_notebook.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_notebook_mount_storage.go
Labels: size/L, chore, LGTM

#3224 chore(workflow): upload debug file in cron-ci and pre-release
  .github/workflows/cron-ci.yml
  .github/workflows/pre-release.yml
Labels: size/S, chore, LGTM

#3226 feat(WAF): add a new resource waf geolocation access control rule
  docs/resources/waf_rule_geolocation_access_control.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_geolocation_access_control_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_geolocation_access_control.go
Labels: size/L, feature, LGTM

#3227 feat(WAF): add a new resource waf known attack source rule
  docs/resources/waf_rule_known_attack_source.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_known_attack_source_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_known_attack_source.go
Labels: size/L, feature, LGTM

#3228 feat(IdentityCenter): add Identity Center user resource and instance data source
  docs/incubating/identitycenter_instance.md
  docs/incubating/identitycenter_user.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_instance_test.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_user_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_instance.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_user.go
Labels: size/L, feature, LGTM

#3230 chore: fix lint issues for IAM group
  docs/data-sources/identity_group.md
  docs/data-sources/identity_users.md
  docs/resources/identity_group.md
  docs/resources/identity_group_membership.md
  docs/resources/identity_user.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_group_test.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_users_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_group_membership_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_group_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_group.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_users.go
  huaweicloud/services/iam/resource_huaweicloud_identity_group.go
  huaweicloud/services/iam/resource_huaweicloud_identity_group_membership.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user.go
Labels: size/L, chore, LGTM

#3238 refactor: feat(apig/resp): reorder error types and support three values
  docs/resources/apig_response.md
  huaweicloud/services/apig/resource_huaweicloud_apig_response.go
Labels: size/S, refactor, feature, LGTM

#3239 docs(fgs): update enum list of runtime parameter
  docs/resources/fgs_dependency.md
  docs/resources/fgs_function.md
Labels: size/S, documentation, LGTM

#3237 chore(cce): refactor state refresh functions
  huaweicloud/services/cce/resource_huaweicloud_cce_addon.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  huaweicloud/services/cce/resource_huaweicloud_cce_partition.go
Labels: size/M, chore, LGTM

#3229 feat(lts): add new resource host group
  docs/resources/lts_host_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_access_rule_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_dashboard_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_elb_log_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_host_group_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_struct_template_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_host_group.go
Labels: size/L, feature, safe to test

#3235 refactor(cce/addon): refactor add-on resource and related test
  docs/resources/cce_addon.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_addon_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_addon.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
Labels: size/L, refactor, LGTM

#3242 fix(cce/node): fix the keypair reference
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_node_pool_v3_test.go
Labels: size/XS, bugfix

#3243 fix(VPC): change vpc subnet resource delete timeouts
  docs/resources/vpc_subnet.md
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/XS, bugfix

#3232 feat(modelarts): add a new datasource to get service deployment flavors
  docs/data-sources/modelarts_service_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_service_flavors_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_service_flavors.go
Labels: size/L, feature, LGTM, safe to test

#3234 feat(Kafka): kafka support security protocol and enabled mechanisms
  docs/data-sources/dms_kafka_instances.md
  docs/resources/dms_kafka_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_instances.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3236 refactor(cce): refactor attach resource and related test
  docs/resources/cce_node_attach.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_attach_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
Labels: size/L, refactor, LGTM

#3240 feat(identitycenter): add permission set resource
  docs/incubating/identitycenter_permission_set.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_permission_set_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_permission_set.go
Labels: size/L, feature, LGTM

#3245 feat(IdentityCenter): add identity center account assignment resource
  docs/incubating/identitycenter_account_assignment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_account_assignment_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_account_assignment.go
Labels: size/L, feature

#3246 feat(identitycenter): add system policy attachment resource
  docs/incubating/identitycenter_system_policy_attachment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_system_policy_attachment_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_system_policy_attachment.go
Labels: size/L, feature, LGTM

#3249 chore: mark identity center service as internal
  docs/incubating/organizations_account.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_instance_test.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_account_assignment_test.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_permission_set_test.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_system_policy_attachment_test.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_user_test.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_organization_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_associate_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_invite_accepter_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_invite_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_organization_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_organizational_unit_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_trusted_service_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_instance.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_account_assignment.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_permission_set.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_system_policy_attachment.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_user.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account.go
Labels: size/S, chore

#3248 changelog: Update CHANGELOG for v1.53.0
  CHANGELOG.md
Labels: size/S
