Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-02, with the labels that each got.

#2678 fix: fix rocketmq cross vpc access listener ip
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/S, bugfix, safe to test

#2692 fix(waf): Corrected a typo in the filename
  docs/resources/waf_instance_group_associate.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_instance_group_associate_test.go
Labels: size/XS, bugfix

#2674 refactor(dms/kafka): fix lint issues and remove DMS resource lock
  huaweicloud/resource_huaweicloud_bcs_instance.go
  huaweicloud/resource_huaweicloud_bcs_instance_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_instances_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_instances.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_instances.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/L, bugfix, refactor, LGTM, safe to test

#2685 feat(waf): add a new parameter charging_mode in cloud domain
  go.mod
  go.sum
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/domains/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2679 refactor(elb/loadbalancer): fix elb loadbalancer lint issues
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
Labels: size/L, bugfix, refactor, LGTM

#2680 refactor(elb/listener): fix elb listener lint issues
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_listener_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
Labels: size/M, bugfix, refactor, LGTM

#2682 refactor(elb/policy_rule): fix elb policy and rule lint issues
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_l7policy_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_l7rule_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7policy.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7rule.go
Labels: size/M, bugfix, refactor, LGTM

#2672 refactor(elb/certificate_ipgroup): fix elb certificate and ipgroup lint issues
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_certificate_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_ipgroup_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_certificate.go
  huaweicloud/services/elb/resource_huaweicloud_elb_ipgroup.go
Labels: size/M, bugfix, refactor, LGTM, safe to test

#2684 refactor(elb/pool_securityPolicy): fix elb pool securityPolicy lint issues
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_pool_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_security_policy_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_pool.go
  huaweicloud/services/elb/resource_huaweicloud_elb_security_policy.go
Labels: size/M, bugfix, refactor, LGTM

#2673 fix(dms/rabbitmq): fix issues with resizing RabbitMQ caused by API changes
  docs/resources/dms_rabbitmq_instance.md
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/M, bugfix, LGTM

#2686 refactor(dms/rocketmq_instance): fix dms rocketmq instance lint issues
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/M, bugfix, refactor, LGTM, safe to test

#2688 refactor(dms/rocketmq_consumerGroup): fix dms rocketmq consumer group lint issues
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_consumer_group_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_consumer_group.go
Labels: size/M, bugfix, refactor, LGTM

#2689 refactor(dms/rocketmq_topic): fix dms rocketmq topic lint issues
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_topic_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_topic.go
Labels: size/S, bugfix, refactor

#2690 refactor(dms/rocketmq_user): fix dms rocketmq user lint issues
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_user_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_user.go
Labels: size/S, bugfix, refactor, LGTM

#2691 refactor(dms/rocketmq_dataSource): fix dms rocketmq data source lint issues
  docs/data-sources/dms_rocketmq_instances.md
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_broker_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_instances_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_broker.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_instances.go
Labels: size/M, bugfix, refactor, LGTM, safe to test

#2693 chore: add a tool to check the consistency between schema and markdown
  scripts/markdown_check/main.go
Labels: size/M, chore, LGTM

#2694 feat(ecs): add created and updated attributes
  docs/resources/compute_instance.md
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
Labels: size/XS, feature, LGTM

#2623 refactor(apig/response): refactor custom response resoruce
  docs/resources/apig_response.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_response_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_response.go
Labels: size/L, refactor

#2700 fix(eip): append two bgp types for beta and elb
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
Labels: size/XS, bugfix, LGTM

#2646 refactor(apig/publishment): refactor publishment resource
  docs/resources/apig_api_publishment.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_publishment_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api_publishment.go
Labels: size/L, refactor, LGTM

#2696 fix(dms): update the API for resizing RabbitMQ and Kafka instances
  docs/resources/dms_kafka_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/urls.go
  vendor/modules.txt
Labels: size/L, bugfix, dependencies, LGTM, safe to test

#2683 refactor(elb/logtank_member_monitor): fix elb logtank member monitor lint issues
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_logtank_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_member_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_monitor_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_logtank.go
  huaweicloud/services/elb/resource_huaweicloud_elb_member.go
  huaweicloud/services/elb/resource_huaweicloud_elb_monitor.go
Labels: size/M, bugfix, refactor

#2634 refactor(apig/throttle): refactor throttling policy resource
  docs/resources/apig_throttling_policy.md
  docs/resources/apig_throttling_policy_associate.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_associate_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy_associate.go
Labels: size/XL, refactor, LGTM

#2701 refactor(elb): fix elb lint issues
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_certificate_test.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_flavors_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_listener_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_certificate.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_flavors.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_pools.go
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
Labels: size/XS, bugfix, refactor, LGTM

#2705 chore: update the API yaml
  docs/api/resource_huaweicloud_antiddos_basic.yaml
  docs/api/resource_huaweicloud_as_bandwidth_policy.yaml
  docs/api/resource_huaweicloud_dms_rabbitmq_instance.yaml
  docs/api/resource_huaweicloud_lb_loadbalancer.yaml
  docs/api/resource_huaweicloud_mapreduce_cluster.yaml
Labels: size/XS, chore

#2706 fix(servicestage/component): add obs config and build args
  docs/resources/servicestage_component.md
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component.go
Labels: size/M, bugfix, LGTM, safe to test

#2703 fix(attach/status): Increase number of the status check to make sure the job is complete
  huaweicloud/services/ecs/resource_huaweicloud_compute_volume_attach.go
Labels: size/XS, bugfix, LGTM, safe to test

#2697 fix: waf dedicate instance support epsId
  docs/data-sources/waf_dedicated_instances.md
  docs/resources/waf_dedicated_instance.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_dedicated_instances_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_instance_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_dedicated_instances.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/premium_instances/requests.go
Labels: size/L, bugfix, LGTM

#2704 fix: waf-dedicated-domain support tls config
  docs/resources/waf_dedicated_domain.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
Labels: size/S, bugfix, LGTM, safe to test

#2708 fix: update the product info of AAD client
  huaweicloud/config/endpoints.go
Labels: size/XS, bugfix, LGTM

#2709 docs: update docs for authentication to be more clear
  docs/index.md
Labels: documentation, size/XS, LGTM

#2702 fix(ecs/bind): Lock the instance ID when the related resources are binding
  huaweicloud/resource_huaweicloud_compute_servergroup.go
  huaweicloud/resource_huaweicloud_compute_servergroup_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_volume_attach.go
Labels: size/M, bugfix, LGTM, test, safe to test

#2712 docs: update the subcategory of CFW
  docs/data-sources/cfw_firewalls.md
  docs/resources/cfw_protection_rule.md
Labels: documentation, size/XS

#2711 changelog: Update CHANGELOG for v1.44.2
  CHANGELOG.md
Labels: size/XS

#2713 docs: fix HCL syntax issue for examples
  docs/data-sources/vpc_eips.md
  docs/data-sources/vpc_subnets.md
  docs/data-sources/vpcs.md
Labels: documentation, size/XS, LGTM

#2717 test(ecs): merge test cases of tags and disks into basic
  huaweicloud/resource_huaweicloud_compute_instance_test.go
Labels: size/M, LGTM, test

#2640 refactor(apig/authorizer): refactor authorizer resource
  docs/resources/apig_custom_authorizer.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_custom_authorizer_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_custom_authorizer.go
Labels: size/L, refactor, feature, LGTM

#2666 refactor(apig): Refactor API resource
  docs/resources/apig_api.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_publishment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  huaweicloud/services/apig/resource_huaweicloud_apig_vpc_channel.go
Labels: size/XL, refactor, safe to test

#2720 feat(ecs): support data_disk encryption
  docs/resources/compute_instance.md
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
Labels: size/M, feature, LGTM, safe to test

#2722 feat(ecs): support description in ecs instance
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_instance_test.go
  vendor/github.com/chnsz/golangsdk/openstack/dws/v1/cluster/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#2730 docs(workspace/desktop): add the description of default value
  docs/resources/workspace_desktop.md
Labels: documentation, size/XS

#2716 feat(CPH): add a new datasource of server flavors
  docs/data-sources/cph_server_flavors.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_server_flavors_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_server_flavors.go
Labels: size/L, feature, LGTM

#2707 feat(KMS): add a new resource KMS grant
  docs/resources/kms_grant.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_grant_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_grant.go
Labels: size/L, feature, LGTM

#2714 feat(vpc): add flow log resource
  docs/resources/vpc_flow_log.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_flow_log_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_flow_log.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/flowlogs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/flowlogs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/flowlogs/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, ready for review

#2723 feat(DDM): add ddm engines data source
  docs/data-sources/ddm_engines.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_engines_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_engines.go
Labels: size/M, feature, safe to test

#2732 feat(waf): make charging_mode available for user
  docs/resources/waf_domain.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
Labels: size/M, feature, LGTM

#2733 refactor(dds): set err to 404 when the list of role or user is empty
  huaweicloud/services/dds/resource_huaweicloud_dds_database_role.go
  huaweicloud/services/dds/resource_huaweicloud_dds_database_user.go
Labels: size/XS, refactor, LGTM

#2734 feat(iam): add password policy support
  docs/resources/identity_password_policy.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_password_policy_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_password_policy.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/configurations/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v1/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/security/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/security/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/security/urls.go
  vendor/github.com/chnsz/golangsdk/pagination/http.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2740 docs(vip/associate): add description of resource quantity limit
  docs/resources/networking_vip_associate.md
Labels: documentation, size/XS, LGTM

#2745 chore(ci): disable flag-parameter rule
  .golangci.yml
Labels: size/XS, chore

#2724 feat: as group support datasource
  docs/data-sources/as_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_groups_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_groups.go
Labels: size/L, feature, LGTM

#2739 feat(port/attach): add security groups parameter support
  docs/resources/compute_interface_attach.md
  huaweicloud/resource_huaweicloud_compute_interface_attach.go
  huaweicloud/resource_huaweicloud_compute_interface_attach_test.go
Labels: size/M, feature, LGTM
