Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-01, with the labels that each got.

#2617 fix(AS): Extend the end time of AS policy
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_bandwidth_policy_test.go
Labels: size/XS, bugfix

#2576 feat: add dms rocketmq user resource
  docs/resources/dms_rocketmq_user.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_user_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_user.go
Labels: size/L, feature, LGTM

#2574 feat: add dms rocketmq broker data source
  docs/data-sources/dms_rocketmq_broker.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_broker_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_broker.go
Labels: size/M, feature

#2620 fix: fix dms rocketmq docs
  docs/resources/dms_rocketmq_consumer_group.md
  docs/resources/dms_rocketmq_instance.md
  docs/resources/dms_rocketmq_topic.md
Labels: size/XS, bugfix, LGTM

#2624 fix(DSC): add force destroy to obs
  huaweicloud/services/acceptance/dsc/resource_huaweicloud_dsc_asset_obs_test.go
Labels: size/XS, bugfix, test, safe to test

#2625 feat(config): support update the region field in customizing OBS endpoint
  huaweicloud/config/config.go
  huaweicloud/config/config_test.go
Labels: size/S, feature, LGTM

#2631 fix: add enterprise_project_id to rocketmq instance
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/S, bugfix, LGTM

#2632 refactor(dms): just sort imports
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_flavors.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_permissions.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_user.go
Labels: size/XS, refactor, LGTM, safe to test

#2630 chore(DLI): add checkDeleted to DLI database
  huaweicloud/services/dli/resource_huaweicloud_dli_database.go
Labels: size/S, chore, LGTM

#2633 chore(DLI): add checkdeleted and *Context
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
Labels: size/M, chore, LGTM

#2564 refactor(apig): Refactor application resource
  docs/resources/apig_application.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/applications/results.go
  vendor/modules.txt
Labels: size/L, refactor, dependencies, LGTM

#2635 chore(DLI): add checkdelete to dli table
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_table_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_table.go
Labels: size/S, chore

#2637 chore(DLI): add check deleted
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_package_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_package.go
Labels: size/S, chore, LGTM

#2643 refactor(rocketmq): update the way of setting name in topic and consumer_group
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_consumer_group.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_topic.go
Labels: size/XS, refactor, LGTM

#2641 fix(smn/subscription): no bare urls
  docs/resources/smn_subscription.md
Labels: size/XS, bugfix

#2644 chore(DLI): add check deleted to spark job
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_spark_job_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_spark_job.go
Labels: size/S, chore, LGTM

#2645 chore(DLI): refactor DLI permission and fix
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_permission_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_permission.go
Labels: size/S, chore, LGTM

#2647 chore(DLI): add check deleted to flink job
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_flinkjar_job_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_flinksql_job_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinkjar_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinksql_job.go
Labels: size/M, chore, feature, LGTM

#2648 refactor(cce): update the import func of pvc
  docs/resources/cce_pvc.md
  huaweicloud/services/cce/resource_huaweicloud_cce_pvc.go
Labels: size/XS, refactor, LGTM

#2649 feat(cce): support server group in node pool
  docs/resources/cce_node_pool.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/S, feature, LGTM

#2639 chore(utils): improve the base64 encode method
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_v3.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/utils/encoding.go
  huaweicloud/utils/utils.go
Labels: size/S, chore, LGTM

#2653 docs(gaussdb): update the description of availability_zone for three-A…
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_influx_instance.md
  docs/resources/gaussdb_mongo_instance.md
  docs/resources/gaussdb_redis_instance.md
Labels: documentation, size/XS

#2638 feat: obs support migrate epid
  docs/resources/obs_bucket.md
  go.mod
  go.sum
  huaweicloud/common/common.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/eps/v1/enterpriseprojects/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/eps/v1/enterpriseprojects/results.go
  vendor/github.com/chnsz/golangsdk/openstack/eps/v1/enterpriseprojects/urls.go
  vendor/modules.txt
Labels: size/M, bugfix, feature, dependencies, LGTM

#2662 feat: fix dayu request and result param
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/dayu/v1/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dayu/v1/instances/results.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/hss/v5/model/model_alarm_white_list_response_info.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/hss/v5/model/model_associated_vaults_info.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/hss/v5/model/model_enterprise_project_name.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/hss/v5/model/model_event_management_response_info.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/hss/v5/model/model_os_type.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/hss/v5/model/model_port_response_info.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/hss/v5/model/model_protection_server_info.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/hss/v5/model/model_show_backup_policy_info_response.go
  vendor/github.com/huaweicloud/huaweicloud-sdk-go-v3/services/hss/v5/model/model_vul_host_info.go
  vendor/modules.txt
Labels: size/M, bugfix, feature, dependencies, LGTM

#2663 feat: fix rocketmq consumer group doc
  docs/resources/dms_rocketmq_consumer_group.md
Labels: size/XS, bugfix, feature, LGTM

#2616 refactor(dms/datasource): fix lint issues
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_maintainwindow_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_product_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_maintainwindow.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_product.go
Labels: size/M, bugfix, refactor, LGTM, safe to test

#2619 refactor(dms/kafka_topic): fix lint issues
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_topic.go
Labels: size/S, bugfix, refactor, LGTM, safe to test

#2659 chore: add CheckDeleted in codecheck
  scripts/codecheck.sh
Labels: size/XS, chore

#2661 refactor: move updateEcsInstanceKeyPair to common
  huaweicloud/common/ecs_instance_keypair.go
  huaweicloud/resource_huaweicloud_compute_instance.go
Labels: size/M, bugfix, refactor

#2664 feat(CSS): support https_enable to cluster
  docs/resources/css_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/S, feature, LGTM

#2665 docs: change HCL to lowercase
  docs/data-sources/er_route_tables.md
  docs/resources/apig_group.md
  docs/resources/cbh_instance.md
  docs/resources/cc_connection.md
  docs/resources/cc_network_instance.md
  docs/resources/cfw_protection_rule.md
  docs/resources/dbss_instance.md
  docs/resources/dsc_asset_obs.md
  docs/resources/dsc_instance.md
  docs/resources/elb_security_policy.md
  docs/resources/er_association.md
  docs/resources/er_instance.md
  docs/resources/er_propagation.md
  docs/resources/er_route_table.md
  docs/resources/er_vpc_attachment.md
  docs/resources/ga_accelerator.md
  docs/resources/ga_endpoint.md
  docs/resources/ga_endpoint_group.md
  docs/resources/ga_health_check.md
  docs/resources/ga_listener.md
  docs/resources/rds_backup.md
  docs/resources/rf_stack.md
  docs/resources/vpn_connection.md
  docs/resources/vpn_customer_gateway.md
  docs/resources/vpn_gateway.md
Labels: size/S, documentation, LGTM

#2618 refactor(dms/kafka_instance): fix lint issues
  docs/data-sources/dms_kafka_instances.md
  docs/resources/dms_kafka_instance.md
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_instances.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
Labels: size/M, bugfix, refactor, LGTM, safe to test

#2667 feat(cce/node): support updating key_pair and password
  docs/resources/cce_node.md
  huaweicloud/common/ecs_instance_keypair.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_v3.go
Labels: size/S, feature, LGTM

#2668 fix: fix rocketmq issues
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_user.go
Labels: size/XS, bugfix, LGTM

#2669 fix(dms/kafka): the accesses configuration has been overridden
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
Labels: size/XS, bugfix, LGTM

#2651 refactor(dds): wait for the instance ready before update actions
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/S, refactor, LGTM

#2670 changelog: Update CHANGELOG for v1.44.1
  CHANGELOG.md
Labels: size/XS

#2671 fix: update apis manually
  docs/api/data_source_huaweicloud_compute_instance.yaml
  docs/api/resource_huaweicloud_cfw_protection_rule.yaml
  docs/api/resource_huaweicloud_compute_eip_associate.yaml
  docs/api/resource_huaweicloud_compute_instance.yaml
  docs/api/resource_huaweicloud_compute_interface_attach.yaml
  docs/api/resource_huaweicloud_fgs_trigger.yaml
  docs/api/resource_huaweicloud_ga_endpoint.yaml
  docs/api/resource_huaweicloud_rds_backup.yaml
  docs/api/resource_huaweicloud_vpc_eip_associate.yaml
Labels: size/XS, bugfix

#2628 refactor(elb): fix elb tf features issues
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_flavors_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_flavors.go
Labels: size/S, bugfix, refactor, LGTM

#2636 refactor(elb/data_source): fix elb data source lint issues
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_certificate_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_certificate.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_pools.go
Labels: size/S, bugfix, refactor

#2652 feat(DWS): upgrade API of flavor
  docs/data-sources/dws_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_flavors_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_flavors.go
  vendor/github.com/chnsz/golangsdk/openstack/dws/v2/flavors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dws/v2/flavors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dws/v2/flavors/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, safe to test

#2650 chore(ci): import revive and gci linter in golangci
  .golangci.yml
Labels: size/S, chore

#2676 fix(scripts): do not check TF features for acceptance dir
  scripts/codecheck.sh
Labels: size/XS, bugfix

#2660 feat(DWS): upgrade API of dws cluster
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/M, feature, safe to test

#2677 chore(ci): add more allowed var naming
  .golangci.yml
Labels: size/XS, chore
