Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-11, with the labels that each got.

#3428 feat(RDS): add rds pg account resource
  docs/resources/rds_pg_account.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_account_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_account.go
Labels: size/L, feature, LGTM

#3595 fix(IEC): move eip into services/iec
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_eip_test.go
  huaweicloud/services/iec/resource_huaweicloud_iec_eip.go
Labels: size/L, bugfix, LGTM

#3601 fix(RDS): add timeout to rds pg account resource
  docs/resources/rds_pg_account.md
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_account.go
Labels: size/XS, bugfix, LGTM, safe to test

#3591 fix(Dbss): fix dbss instance resource lint error
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
Labels: size/S, bugfix, LGTM

#3600 fix: refactor(WAF): fix waf dedicated domain lint error and refactor functional code
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
Labels: size/L, bugfix, refactor, LGTM

#3596 feat(iam): add data source to query identity agencies
  docs/data-sources/identity_agencies.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_agencies_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_agencies.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/agency/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/agency/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, safe to test

#3593 fix(IEC): fix move iec to services/iec
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_vpc_subnet_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_vpc_test.go
  huaweicloud/services/iec/resource_huaweicloud_iec_vpc.go
  huaweicloud/services/iec/resource_huaweicloud_iec_vpc_subnet.go
Labels: size/L, bugfix, LGTM, safe to test

#3577 feat(cbr/vault): add new multiple az parameter support
  docs/resources/cbr_vault.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
  vendor/modules.txt
Labels: size/XS, feature, dependencies, LGTM

#3586 feat(ELB): add elb listeners data source
  docs/data-sources/elb_listeners.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_listeners_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_listeners.go
Labels: size/L, feature, LGTM, safe to test

#3597 feat(RDS): add rds sqlserver database resource
  docs/resources/rds_sqlserver_database.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sqlserver_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sqlserver_database.go
Labels: size/L, feature, LGTM

#3615 ci: use bflad/tfproviderlint-github-action v0.29
  .github/workflows/ci.yml
  .github/workflows/cron-ci.yml
Labels: size/S, LGTM

#3604 fix(Cts): fix cts instance resource lint error
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_data_tracker_test.go
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_notification_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
  huaweicloud/services/cts/resource_huaweicloud_cts_notification.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/S, bugfix, LGTM

#3594 fix(DIS): fix DIS instance resource lint error
  docs/resources/dis_stream.md
  huaweicloud/services/acceptance/dis/resource_huaweicloud_dis_streams_test.go
  huaweicloud/services/dis/resource_huaweicloud_dis_stream.go
Labels: size/M, bugfix, LGTM

#3602 fix(IEC): move server into services/iec
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_server_test.go
  huaweicloud/services/iec/resource_huaweicloud_iec_server.go
Labels: size/L, bugfix, LGTM, safe to test

#3598 feat(RDS): add rds sqlserver account resource
  docs/resources/rds_sqlserver_account.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sqlserver_account_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sqlserver_account.go
Labels: size/L, feature

#3614 fix(Dataarts): fix dataarts instance resource lint error
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_instance_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_instance.go
Labels: size/XS, bugfix, LGTM

#3603 feat(RDS): add rds pg database resource
  docs/resources/rds_pg_database.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_database.go
Labels: size/L, feature, LGTM

#3616 fix(dsc): fix dsc instance resource lint error
  huaweicloud/services/acceptance/dsc/resource_huaweicloud_dsc_asset_obs_test.go
  huaweicloud/services/acceptance/dsc/resource_huaweicloud_dsc_instance_test.go
  huaweicloud/services/dsc/resource_huaweicloud_dsc_asset_obs.go
  huaweicloud/services/dsc/resource_huaweicloud_dsc_instance.go
Labels: size/M, bugfix, LGTM

#3606 fix(Dew): fix dew instance resource lint error
  huaweicloud/services/acceptance/dew/resource_huaweicloud_csms_secret_test.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_grant_test.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_key_test.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kps_keypair_test.go
  huaweicloud/services/dew/data_source_huaweicloud_csms_secret_version.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_data_key.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_key.go
  huaweicloud/services/dew/data_source_huaweicloud_kps_keypairs.go
  huaweicloud/services/dew/resource_huaweicloud_csms_secret.go
  huaweicloud/services/dew/resource_huaweicloud_kms_key.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair.go
Labels: size/M, bugfix, LGTM

#3609 feat(vpn): add data_source_vpn_customer_gateways
  docs/data-sources/vpn_customer_gateways.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_customer_gateways_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_customer_gateways.go
  vendor/github.com/chnsz/golangsdk/openstack/vpn/v5/customer_gateways/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpn/v5/customer_gateways/results.go
  vendor/github.com/chnsz/golangsdk/openstack/vpn/v5/customer_gateways/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3575 feat(SecMaster): add new resource indicator
  docs/resources/secmaster_indicator.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_indicator_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_indicator.go
Labels: size/L, feature, LGTM

#3599 fix(DRS): fix drs instance resource lint error
  docs/resources/drs_job.md
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/M, bugfix, safe to test

#3621 fix(WAF): WAF dedicated domain resource support new fields
  docs/resources/waf_dedicated_domain.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/premium_domains/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/premium_domains/results.go
Labels: size/L, bugfix, LGTM

#3610 feat(ELB): feat elb loadbalancers data source support enterprise project ID filtering
  docs/data-sources/elb_loadbalancers.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_loadbalancers_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_loadbalancers.go
Labels: size/XS, feature, LGTM

#3611 test(DDS): fix dds database role test
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_role_test.go
Labels: size/XS, test

#3617 fix(cdn): add acctest for standby domain
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/requests.go
Labels: size/S, bugfix, LGTM

#3619 feat(ELB): add elb members data source
  docs/data-sources/elb_members.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_members_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_members.go
Labels: size/L, feature, LGTM

#3608 feat(apig): add apig endpoint service whitelist resource support
  docs/resources/apig_endpoint_whitelist.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_endpoint_whitelist_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_endpoint_whitelist.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/endpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/endpoints/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/endpoints/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, safe to test

#3607 fix(iec): move datasource[iec_flavors,iec_images,iec_keypair] into services and fix codecheck errors
  huaweicloud/data_source_huaweicloud_iec_keypair.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_flavors_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_images_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_keypair_test.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_flavors.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_images.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_keypair.go
Labels: size/M, bugfix, LGTM

#3623 fix(IEC): fix iec move iecvip to service/iec
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_vip_test.go
  huaweicloud/services/iec/resource_huaweicloud_iec_vip.go
Labels: size/M, bugfix, LGTM

#3620 refactor(eip): adjust resources and acceptance tests
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eip_test.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eips_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_eip_associate_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eip.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eips.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip_associate.go
Labels: size/M, refactor, LGTM

#3625 fix(codearts): wait one more time for ACTIVE state when creating
  huaweicloud/services/codearts/resource_huaweicloud_codearts_repository.go
Labels: size/XS, bugfix, LGTM

#3618 refactor(dli): adjust resources and acceptance tests
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_database_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_permission_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_spark_job_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_sql_job_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_table_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_database.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
  huaweicloud/services/dli/resource_huaweicloud_dli_spark_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_sql_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_table.go
Labels: size/L, refactor, LGTM

#3632 fix(RDS): fix rds mysql database privilege
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database_privilege.go
Labels: size/XS, bugfix, LGTM

#3631 feat(RDS): add rds sqlserver database privilege
  docs/resources/rds_sqlserver_database_privilege.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sqlserver_database_privilege_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sqlserver_database_privilege.go
Labels: size/L, feature, LGTM

#3629 fix(WAF): WAF dedicated domain resource support three new fields
  docs/resources/waf_dedicated_domain.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
Labels: size/L, bugfix, LGTM

#3628 feat(er): add data source er availability zones
  docs/data-sources/er_availability_zones.md
  docs/resources/er_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_availability_zones_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_availability_zones.go
Labels: size/M, feature, safe to test

#3635 fix(eps): fix eps resource lint error
  docs/resources/enterprise_project.md
  huaweicloud/services/acceptance/eps/resource_huaweicloud_enterprise_project_test.go
  huaweicloud/services/eps/data_source_huaweicloud_enterprise_project.go
  huaweicloud/services/eps/resource_huaweicloud_enterprise_project.go
Labels: size/S, bugfix, LGTM

#3636 refactor(iec/keypair): adjust code style
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_iec_keypair.go
  huaweicloud/resource_huaweicloud_iec_keypair_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_keypair_test.go
  huaweicloud/services/iec/resource_huaweicloud_iec_keypair.go
Labels: size/L, chore, refactor, LGTM

#3643 fix(er): fix er instance resource lint error
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_association_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_instance_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_propagation_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_route_table_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_static_route_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_vpc_attachment_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_route_tables.go
  huaweicloud/services/er/resource_huaweicloud_er_association.go
  huaweicloud/services/er/resource_huaweicloud_er_instance.go
  huaweicloud/services/er/resource_huaweicloud_er_propagation.go
  huaweicloud/services/er/resource_huaweicloud_er_route_table.go
  huaweicloud/services/er/resource_huaweicloud_er_vpc_attachment.go
Labels: size/M, bugfix, LGTM

#3638 feat(DBSS): add dbss flavros data source
  docs/data-sources/dbss_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_flavors_test.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_flavors.go
Labels: size/L, feature, LGTM, safe to test

#3642 docs(backend): update remote state backend content
  docs/guides/remote-state-backend.md
Labels: documentation, size/XS, LGTM

#3630 test(DDS): fix dds testacc
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_role_test.go
Labels: size/XS, LGTM, test

#3641 fix(iec): move resource iec_security_group_rule into services and fix codecheck errors
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_security_group_rule_test.go
  huaweicloud/services/iec/resource_huaweicloud_iec_security_group_rule.go
Labels: size/M, bugfix, LGTM

#3633 fix(iec): move resource iec_security_group into services and fix codecheck errors
  huaweicloud/data_source_huaweicloud_iec_security_group_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_security_group_test.go
  huaweicloud/services/iec/resource_huaweicloud_iec_security_group.go
Labels: size/M, bugfix, LGTM

#3654 fix(workspace): status transform lowercase character
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/XS, bugfix, LGTM

#3640 fix(IEC): move resource[iec_network_acl,iec_network_acl_rule] into services/iec and fix codecheck error
  docs/resources/iec_network_acl.md
  docs/resources/iec_network_acl_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_network_acl_rule_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_network_acl_test.go
  huaweicloud/services/iec/resource_huaweicloud_iec_network_acl.go
  huaweicloud/services/iec/resource_huaweicloud_iec_network_acl_rule.go
Labels: size/L, bugfix, LGTM

#3637 feat(ELB): add elb ipgroups data source
  docs/data-sources/elb_ipgroups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_ipgroups_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_ipgroups.go
Labels: size/L, feature, LGTM

#3645 fix(DBSS): delete dbss instance product id
  docs/resources/dbss_instance.md
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
Labels: size/M, bugfix, LGTM

#3655 docs(backend): update remote state backend context
  docs/guides/remote-state-backend.md
Labels: documentation, size/XS, LGTM

#3653 feat(Vpcep): vpcep resource add organization_permissions field
  docs/resources/vpcep_service.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_service_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, safe to test

#3657 feat(ELB): add elb logtanks data source
  docs/data-sources/elb_logtanks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_logtanks_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_logtanks.go
Labels: size/L, feature, LGTM

#3644 fix(DDS): fix issues about operation conflict
  docs/resources/dds_instance.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/common.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/L, bugfix, LGTM

#3647 chore(iec): move iec eips and bandwidths to services/iec
  huaweicloud/data_source_huaweicloud_iec_bandwidths_test.go
  huaweicloud/data_source_huaweicloud_iec_eips_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_bandwidths_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_eips_test.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_bandwidths.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_eips.go
Labels: size/L, chore, refactor, LGTM

#3649 fix(ga): fix ga resource lint error
  docs/resources/ga_accelerator.md
  docs/resources/ga_endpoint_group.md
  docs/resources/ga_health_check.md
  docs/resources/ga_listener.md
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_accelerator_test.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_endpoint_group_test.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_endpoint_test.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_health_check_test.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_listener_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_accelerator.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint_group.go
  huaweicloud/services/ga/resource_huaweicloud_ga_health_check.go
  huaweicloud/services/ga/resource_huaweicloud_ga_listener.go
Labels: size/M, bugfix, LGTM

#3659 refactor(workspace/desktop): update refresh function logic
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/S, refactor, LGTM

#3652 feat(DEW): DEW support a new resource to manage CSMS event
  docs/resources/csms_event.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_csms_event_test.go
  huaweicloud/services/dew/resource_huaweicloud_csms_event.go
Labels: size/L, bugfix, feature, LGTM

#3661 feat(DEW): DEW support a new resource to manage KMS dedicated keystore
  docs/resources/kms_dedicated_keystore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_dedicated_keystore_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_dedicated_keystore.go
Labels: size/L, feature, LGTM

#3672 feat(Vpcep): public VPC endpoint services datasource add pagination
  go.mod
  go.sum
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_public_services.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#3670 chore(scripts): support auto-generate the documents by schema
  scripts/markdown_gen/main.go
  scripts/markdown_gen/render.go
  scripts/markdown_gen/writer.go
Labels: size/L, chore

#3667 feat(DMS): add datasource rocketmq topics
  docs/data-sources/dms_rocketmq_topics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_topics_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_topics.go
Labels: size/L, feature, LGTM

#3663 feat(cbr/vault): new types are supported
  docs/resources/cbr_vault.md
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/L, feature, LGTM

#3675 fix(live): fix live domain and record callback config resource lint error
  huaweicloud/services/live/resource_huaweicloud_live_domain.go
  huaweicloud/services/live/resource_huaweicloud_live_record_callback.go
Labels: size/S, bugfix, LGTM

#3676 fix(lts): fix lts resource lint errors
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_struct_template_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_access_rule.go
  huaweicloud/services/lts/resource_huaweicloud_lts_dashboard.go
  huaweicloud/services/lts/resource_huaweicloud_lts_elb_log.go
  huaweicloud/services/lts/resource_huaweicloud_lts_struct_template.go
Labels: size/S, bugfix, LGTM

#3664 feat(cbr/backup): add new resource to share backups
  docs/resources/cbr_backup_share.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_backup_share_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_backup_share.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/members/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/members/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/members/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3650 feat(as): add planned task resource support
  docs/resources/as_planned_task.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_planned_task_test.go
  huaweicloud/services/as/resource_huaweicloud_as_planned_task.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/scheduledtasks/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/scheduledtasks/results.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/scheduledtasks/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, safe to test

#3658 feat(IdentityCenter): add identity center custom role resource
  docs/incubating/identitycenter_custom_role_attachment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_custom_role_attachment_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_custom_role_attachment.go
Labels: size/L, feature, LGTM

#3668 docs(eps): update resource support list
  docs/data-sources/enterprise_project.md
Labels: size/S, documentation, LGTM

#3680 fix(iotda): fix iotda resource lint errors
  huaweicloud/services/iotda/resource_huaweicloud_iotda_dataforwarding_rule.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_certificate.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_group.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_product.go
Labels: size/S, bugfix, LGTM

#3656 fix: refactor(WAF): fix waf domain lint error and refactor functional code
  docs/resources/waf_domain.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
Labels: size/L, bugfix, refactor, LGTM

#3677 feat(DMS): add datasource rocketmq users
  docs/data-sources/dms_rocketmq_users.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_users_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_user_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_users.go
Labels: size/L, feature, LGTM

#3685 fix(live): fix live lint error and modify quality field to userdefine
  huaweicloud/services/live/resource_huaweicloud_live_transcoding.go
Labels: size/XS, bugfix, LGTM

#3673 refactor(rds): update rds docs and add a rds instance testcase
  docs/data-sources/rds_backups.md
  docs/data-sources/rds_engine_versions.md
  docs/data-sources/rds_flavors.md
  docs/data-sources/rds_instances.md
  docs/data-sources/rds_storage_types.md
  docs/resources/rds_instance.md
  docs/resources/rds_parametergroup.md
  docs/resources/rds_read_replica_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_flavors.go
Labels: size/M, refactor, LGTM

#3686 fix(VPCEP): set value only when `enable_policy` is true
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
Labels: size/XS, bugfix, LGTM

#3684 feat(eip): add resource bandwidth with update function calls v1 API
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth_v1.go
Labels: size/M, feature, LGTM

#3666 fix(fgs): fix fgs instance resource lint error
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_dependencies_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_trigger_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_dependencies.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_functions.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_trigger.go
Labels: size/L, bugfix, LGTM

#3688 fix(ELB): fix elb ipgroups data source error
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_ipgroups_test.go
Labels: size/XS, bugfix, LGTM

#3692 chore(iec): move resource to services and fix lint errors
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_security_group_test.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_security_group.go
Labels: size/S, chore, refactor, LGTM

#3700 docs(cc): fix network instance name in example
  docs/resources/cc_network_instance.md
Labels: documentation, size/XS, bugfix

#3687 feat(Vpcep): vpcep services connections and whitelist add pagination
  go.mod
  go.sum
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3701 docs(workspace_service): add uniqueness constraint description
  docs/resources/workspace_service.md
Labels: documentation, size/XS

#3699 refactor(ecs): upgrade api version for source_dest_check param
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/XS, refactor, LGTM, safe to test

#3703 fix(DCS): fix typos
  docs/data-sources/dcs_instances.md
  docs/data-sources/dcs_template_detail.md
  docs/data-sources/dcs_templates.md
Labels: size/XS, bugfix, LGTM

#3681 feat(cbr): add policies data source support
  docs/data-sources/cbr_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_policies_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_policies.go
Labels: size/L, feature, safe to test

#3707 fix(SWR): fix swr resources lint errors
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_image_auto_sync_test.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_image_permissions_test.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_image_retention_policy_test.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_image_trigger_test.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_organization_permissions_test.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_organization_test.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_repository_sharing_test.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_repository_test.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_auto_sync.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_permissions.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_retention_policy.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_trigger.go
  huaweicloud/services/swr/resource_huaweicloud_swr_organization.go
  huaweicloud/services/swr/resource_huaweicloud_swr_organization_permissions.go
  huaweicloud/services/swr/resource_huaweicloud_swr_repository.go
  huaweicloud/services/swr/resource_huaweicloud_swr_repository_sharing.go
Labels: size/L, bugfix, LGTM

#3689 feat(dns): add resouce huaweicloud_dns_endpoint
  docs/resources/dns_endpoint.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_endpoint_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_endpoint.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/endpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/endpoints/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/endpoints/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/ipaddress/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/ipaddress/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/ipaddress/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, safe to test

#3702 feat(DMS): add attribute description for resource consumer group
  docs/resources/dms_rocketmq_consumer_group.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_consumer_group_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_consumer_group.go
Labels: size/XS, feature, LGTM

#3706 fix(elb): try to set charing_mode according to bill info
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
Labels: size/XS, bugfix, LGTM

#3694 feat(cts/notification): add filter parameter support
  docs/resources/cts_notification.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_notification_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_notification.go
Labels: size/M, feature, LGTM, safe to test

#3624 feat(secmaster): add new resource alert
  docs/resources/secmaster_alert.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_alert_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert.go
Labels: size/L, feature, LGTM

#3674 feat(ccm): add resource ccm private ca
  docs/data-sources/enterprise_project.md
  docs/resources/ccm_private_ca.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_ca_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
Labels: size/L, feature, LGTM

#3697 fix(IEC): move iec resource to services/iec and fix codecheck error
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_server_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_sites_test.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_server.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_sites.go
Labels: size/M, bugfix, refactor, LGTM

#3712 feat(ELB): add elb l7rules data source
  docs/data-sources/elb_l7rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_l7rules_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_l7rules.go
Labels: size/L, feature, LGTM

#3679 feat(ELB): add elb security policies data source
  docs/data-sources/elb_security_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_security_policies_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_security_policies.go
Labels: size/L, feature, LGTM, safe to test

#3690 fix(SFS): fix sfs_turbo resource lint error
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo.go
Labels: size/S, bugfix, LGTM

#3720 fix(docs): change resource to data
  docs/data-sources/tms_resource_types.md
Labels: size/XS, bugfix

#3721 fix(SecMaster): deal the specifial error code in alert
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert.go
Labels: size/XS, bugfix

#3711 docs(lts): remove the limitation of group tags
  docs/resources/lts_group.md
Labels: documentation, size/XS

#3722 fix(waf): waf domain support field 'keep_policy' and add a description for 'postPaid' unit test
  docs/resources/waf_domain.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
Labels: size/XS, bugfix, LGTM

#3665 feat(CCM): add private certificate resource
  docs/resources/ccm_private_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_certificate_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate.go
Labels: size/L, feature, LGTM

#3717 feat(ccm): update resource ccm private ca for prepaid mode
  docs/resources/ccm_private_ca.md
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_ca_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
Labels: size/M, feature, LGTM

#3719 feat(SecMaster): add new resource playbook
  docs/resources/secmaster_playbook.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook.go
Labels: size/L, feature, LGTM

#3678 feat(secmaster): add new resource alert rule
  docs/resources/secmaster_alert_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_alert_rule_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert_rule.go
Labels: size/XL, feature, LGTM

#3728 feat(secmaster): add new resource playbook verion
  docs/resources/secmaster_playbook_version.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_version_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_version.go
Labels: size/L, feature, LGTM

#3729 fix(cdn/domain): set id after create request send
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/XS, bugfix, LGTM

#3732 fix(SecMaster): add precheck and update the docs
  docs/resources/secmaster_alert.md
  docs/resources/secmaster_alert_rule.md
  docs/resources/secmaster_playbook.md
  docs/resources/secmaster_playbook_version.md
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_alert_rule_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_version_test.go
Labels: size/XS, bugfix, LGTM

#3714 feat(dns): add resouce huaweicloud_dns_resolver_rule
  docs/resources/dns_resolver_rule.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_resolver_rule_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_resolver_rule.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/resolverrule/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/resolverrule/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/resolverrule/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3708 feat(DMS): add datasource rocketmq consumer groups
  docs/data-sources/dms_rocketmq_consumer_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_consumer_groups_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_consumer_groups.go
Labels: size/L, feature, LGTM

#3705 fix(WAF): fix waf datasource lint error
  huaweicloud/services/waf/data_source_huaweicloud_waf_certificate.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_dedicated_instances.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_instance_groups.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_reference_tables.go
Labels: size/M, bugfix, LGTM

#3718 feat(dns): add resouce huaweicloud_dns_resolver_rule_associate
  docs/resources/dns_resolver_rule_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_resolver_rule_associate_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_resolver_rule_associate.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/associate/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/associate/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/associate/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, safe to test

#3724 feat(CCM): add ccm private certificate export data source
  docs/data-sources/ccm_private_certificate_export.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_ccm_private_certificate_export_test.go
  huaweicloud/services/ccm/data_source_huaweicloud_ccm_private_certificate_export.go
Labels: size/L, feature, safe to test

#3725 feat(ccm): update resource private ca for tags
  docs/resources/ccm_private_ca.md
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_ca_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
Labels: size/M, feature

#3695 feat(RDS): add RDS PG plugin resource
  docs/resources/rds_pg_plugin.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_plugin_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_plugin.go
Labels: size/L, feature, LGTM, safe to test

#3745 feat(apig): conditions struct support new parameters
  docs/resources/apig_api.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#3751 feat(utils): support a new function to convert unit
  huaweicloud/utils/math.go
  huaweicloud/utils/utils.go
  huaweicloud/utils/utils_test.go
Labels: size/S, feature, LGTM

#3730 feat(CodeArts): CodeArts support a new resource to manage inspector website
  docs/resources/codearts_inspector_website.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/codearts/resource_huaweicloud_codearts_inspector_website_test.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_inspector_website.go
Labels: size/L, bugfix, feature, LGTM

#3682 feat(coc): add COC script resource
  docs/incubating/coc_script.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_script_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_script.go
Labels: size/L, feature, LGTM

#3756 feat(DMS): add resource kafka consumer group
  docs/resources/dms_kafka_consumer_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_consumer_group_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_consumer_group.go
Labels: size/L, feature, LGTM

#3752 chore(iec): move network_acl data source to services dir and fix lint errors
  huaweicloud/data_source_huaweicloud_iec_network_acl_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_network_acl_test.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_network_acl.go
Labels: size/M, chore, refactor, LGTM

#3737 feat(OBS): obs lifecycle_rule add abort_incomplete_multipart_upload field
  docs/resources/obs_bucket.md
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
Labels: size/S, feature

#3733 feat(RDS): add rds pg plugins data source
  docs/data-sources/rds_pg_plugins.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_plugins_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_pg_plugins.go
Labels: size/L, feature, LGTM

#3739 fix(tms): add project_id parameter verification for resource tags
  huaweicloud/services/tms/resource_huaweicloud_tms_resource_tags.go
Labels: size/XS, bugfix, LGTM

#3742 feat(ELB): add elb l7policies data source
  docs/data-sources/elb_l7policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_l7policies_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_l7policies.go
Labels: size/L, feature, LGTM

#3748 feat(CCM): update private certificate for tags
  docs/resources/ccm_private_certificate.md
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_certificate_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate.go
Labels: size/M, feature, LGTM

#3734 feat(vpn): huaweicloud_vpn_gateway support extra field
  docs/resources/vpn_gateway.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/L, feature

#3747 feat(vpn): add resouce huaweicloud_vpn_gateway new field private_ip
  docs/resources/vpn_gateway.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/S, feature, LGTM

#3758 fix(RDS): fix rds cross region backup strategy
  huaweicloud/services/rds/resource_huaweicloud_rds_cross_region_backup_strategy.go
Labels: size/XS, bugfix, LGTM

#3749 feat(SecMaster): add new resource playbook rule
  docs/resources/secmaster_playbook_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_rule_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_rule.go
Labels: size/L, feature, LGTM

#3744 feat(SFS): SFS support a new resource to manage file system directory
  docs/resources/sfs_turbo_dir.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfs/resource_huaweicloud_sfs_turbo_dir_test.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo_dir.go
Labels: size/L, feature, LGTM

#3731 feat(dns): add resource dns line group
  docs/resources/dns_line_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_line_group_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_line_group.go
Labels: size/L, feature, LGTM, safe to test

#3754 fix(DMS): fix kafka instance
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/M, bugfix, LGTM

#3755 fix(DMS): fix rabbitmq instance
  huaweicloud/provider.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/S, bugfix, LGTM

#3736 feat(workspace): add a new datasource to querry workspace flavors
  docs/data-sources/workspace_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_flavors_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_flavors.go
Labels: size/L, feature, LGTM, safe to test

#3753 feat(CodeArts): Add CodeArts inspector website scan resource
  docs/resources/codearts_inspector_website_scan.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codearts/resource_huaweicloud_codearts_inspector_website_scan_test.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_inspector_website_scan.go
Labels: size/L, feature, LGTM

#3768 fix(OBS): support logging xml format API message
  huaweicloud/config/logger.go
Labels: size/S, bugfix, LGTM

#3766 feat(CC): add a new resource to manage central network policy
  docs/resources/cc_central_network.md
  docs/resources/cc_central_network_policy.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_central_network_policy_test.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_central_network_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_policy.go
Labels: size/XL, feature, LGTM

#3726 refactor: chore(cdn/domain): refactor configs update logic and parameter types
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/L, chore, refactor, LGTM, test

#3762 feat(SecMaster): add new resource playbook action
  docs/resources/secmaster_playbook_action.md
  docs/resources/secmaster_playbook_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_action_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_version_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_action.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_rule.go
Labels: size/L, feature, LGTM

#3757 feat(coc): add COC script execute resource
  docs/incubating/coc_script_execute.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_script_execute_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_script_execute.go
Labels: size/L, feature, LGTM

#3759 feat(dns): huaweicloud_dns_endpoint support update ipaddress
  docs/resources/dns_endpoint.md
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_endpoint_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_endpoint.go
Labels: size/M, feature

#3774 feat(workspace): support new policy group resource
  docs/resources/workspace_policy_group.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_policy_group_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_policy_group.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/policygroups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/policygroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/policygroups/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3767 fix(waf): waf domain supports field: block_page,http2_enable,ipv6_enable,timeout_config
  docs/resources/waf_domain.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/domains/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/domains/results.go
Labels: size/L, bugfix, LGTM

#3760 feat(SFS): add a new resource to manage SFS Turbo directory quota
  docs/resources/sfs_turbo_dir_quota.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfs/resource_huaweicloud_sfs_turbo_dir_quota_test.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo_dir_quota.go
Labels: size/L, feature, LGTM

#3776 fix(SFS): modify SFS Turbo resource
  docs/resources/sfs_turbo.md
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo_dir.go
Labels: size/XS, bugfix, LGTM

#3772 feat(workspace): support the access policy resource
  docs/resources/workspace_access_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_access_policy_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_access_policy.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/accesspolicies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/accesspolicies/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/accesspolicies/urls.go
  vendor/modules.txt
Labels: size/L, feature

#3773 feat(workspace): support the terminal bindings resource
  docs/resources/workspace_terminal_bindings.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_terminal_bindings_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_terminal_bindings.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/terminals/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/terminals/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/terminals/urls.go
  vendor/github.com/chnsz/golangsdk/pagination/pager.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3761 chore(iec): normalize methods in services and acceptance
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_iec_eip.go
  huaweicloud/resource_huaweicloud_iec_eip_test.go
  huaweicloud/resource_huaweicloud_iec_network_acl.go
  huaweicloud/resource_huaweicloud_iec_network_acl_rule.go
  huaweicloud/resource_huaweicloud_iec_network_acl_rule_test.go
  huaweicloud/resource_huaweicloud_iec_network_acl_test.go
  huaweicloud/resource_huaweicloud_iec_server.go
  huaweicloud/resource_huaweicloud_iec_server_test.go
  huaweicloud/resource_huaweicloud_iec_vpc.go
  huaweicloud/resource_huaweicloud_iec_vpc_subnet.go
  huaweicloud/resource_huaweicloud_iec_vpc_subnet_test.go
  huaweicloud/resource_huaweicloud_iec_vpc_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_bandwidths_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_eips_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_flavors_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_images_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_keypair_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_port_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_security_group_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_server_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_sites_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_vpc_subnets_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_vpc_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_eip_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_keypair_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_network_acl_rule_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_network_acl_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_security_group_rule_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_security_group_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_server_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_vip_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_vpc_subnet_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_vpc_test.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_bandwidths.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_eips.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_flavors.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_images.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_keypair.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_network_acl.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_port.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_security_group.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_server.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_sites.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_vpc.go
  huaweicloud/services/iec/data_source_huaweicloud_iec_vpc_subnets.go
  huaweicloud/services/iec/resource_huaweicloud_iec_eip.go
  huaweicloud/services/iec/resource_huaweicloud_iec_keypair.go
  huaweicloud/services/iec/resource_huaweicloud_iec_network_acl.go
  huaweicloud/services/iec/resource_huaweicloud_iec_security_group.go
  huaweicloud/services/iec/resource_huaweicloud_iec_security_group_rule.go
  huaweicloud/services/iec/resource_huaweicloud_iec_server.go
  huaweicloud/services/iec/resource_huaweicloud_iec_vip.go
  huaweicloud/services/iec/resource_huaweicloud_iec_vpc.go
  huaweicloud/services/iec/resource_huaweicloud_iec_vpc_subnet.go
Labels: size/XL, chore

#3771 feat(sfsTurbo): sfsTurbo resource support edit name field
  docs/resources/sfs_turbo.md
  huaweicloud/services/acceptance/sfs/resource_huaweicloud_sfs_turbo_test.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo.go
  vendor/github.com/chnsz/golangsdk/openstack/sfs_turbo/v1/shares/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sfs_turbo/v1/shares/results.go
Labels: size/S, feature, LGTM
