Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-03, with the labels that each got.

#2718 chore(cce): add an example of using cce with k8s provider
  examples/cce/cce-with-kubernetes/authenticate-with-certificate/README.md
  examples/cce/cce-with-kubernetes/authenticate-with-certificate/main.tf
  examples/cce/cce-with-kubernetes/authenticate-with-configuration-file/README.md
  examples/cce/cce-with-kubernetes/authenticate-with-configuration-file/main.tf
Labels: size/M, chore, LGTM

#2726 feat(nat/tags): gateway resource support tags parameter
  docs/resources/nat_gateway.md
  huaweicloud/resource_huaweicloud_nat_gateway_v2.go
  huaweicloud/resource_huaweicloud_nat_gateway_v2_test.go
Labels: size/S, feature, LGTM

#2741 feat(cce): partly fix prePaid node pool
  docs/resources/cce_node_pool.md
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/S, feature, LGTM

#2742 feat(dnat/rule): support the port range parameter
  docs/resources/nat_dnat_rule.md
  huaweicloud/resource_huaweicloud_nat_dnat_rule_v2.go
  huaweicloud/resource_huaweicloud_nat_dnat_rule_v2_test.go
Labels: size/M, feature, LGTM, safe to test

#2747 feat(apig/api): refactor policy structure and support backend auth parameters
  docs/resources/apig_api.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_publishment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
Labels: size/L, feature, LGTM

#2748 chore(docs): use dos2unix to format files and fix misspell
  docs/data-sources/cbh_instances.md
  docs/data-sources/dcs_instances.md
  docs/data-sources/dds_instances.md
  docs/data-sources/dms_rocketmq_broker.md
  docs/data-sources/dms_rocketmq_instances.md
  docs/resources/bcs_instance.md
  docs/resources/cbh_instance.md
  docs/resources/cbr_policy.md
  docs/resources/compute_interface_attach.md
  docs/resources/cse_microservice.md
  docs/resources/cse_microservice_engine.md
  docs/resources/cse_microservice_instance.md
  docs/resources/dms_rocketmq_consumer_group.md
  docs/resources/dms_rocketmq_topic.md
  docs/resources/dms_rocketmq_user.md
  docs/resources/er_instance.md
  docs/resources/identity_role.md
  docs/resources/identity_user.md
  docs/resources/iec_eip.md
  docs/resources/iotda_product.md
  docs/resources/meeting_conference.md
  docs/resources/meeting_user.md
  docs/resources/modelarts_dataset.md
  docs/resources/servicestage_application.md
  docs/resources/servicestage_component_instance.md
  docs/resources/servicestage_environment.md
  docs/resources/vod_media_category.md
  docs/resources/workspace_user.md
Labels: size/XL, chore, LGTM

#2736 feat(DDM): add ddm flavors data source
  docs/data-sources/ddm_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_flavors_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_flavors.go
Labels: size/L, feature, LGTM, safe to test

#2743 feat(CPH): add a new resource to manage server
  docs/resources/cph_server.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_server_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_server.go
  huaweicloud/utils/type_convert.go
Labels: size/XL, feature, LGTM

#2749 fix(rms/definitions): adjust endpoint URL and remove the region parameter
  docs/data-sources/rms_policy_definitions.md
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_policy_definitions.go
Labels: size/XS, bugfix, LGTM

#2721 feat(rms/policy): add new policy assignment resource
  docs/resources/rms_policy_assignment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_policy_assignment_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_policy_assignment.go
Labels: size/XL, feature, LGTM

#2753 fix: remove deprecated fields from markdown
  docs/data-sources/networking_port.md
  docs/data-sources/vpc_route.md
  docs/resources/lb_l7policy.md
  docs/resources/lb_l7rule.md
  docs/resources/lb_listener.md
  docs/resources/lb_loadbalancer.md
  docs/resources/lb_member.md
  docs/resources/lb_monitor.md
  docs/resources/lb_pool.md
  docs/resources/networking_port_v2.md
Labels: size/XS, bugfix, LGTM

#2751 feat(DDM): add ddm instance resource
  docs/resources/ddm_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_test.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance.go
Labels: size/XL, feature, LGTM

#2752 feat(WAF): support pci_3ds and pci_dss
  docs/resources/waf_dedicated_domain.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/premium_domains/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2754 fix: markdown field type fix
  docs/resources/aom_alarm_rule.md
  docs/resources/apig_custom_authorizer.md
  docs/resources/as_bandwidth_policy.md
  docs/resources/bms_instance.md
  docs/resources/cfw_protection_rule.md
  docs/resources/compute_servergroup.md
  docs/resources/cph_server.md
  docs/resources/cse_microservice_instance.md
  docs/resources/dns_zone.md
  docs/resources/dws_cluster.md
  docs/resources/fgs_function.md
  docs/resources/iec_server.md
  docs/resources/iotda_device_linkage_rule.md
  docs/resources/mapreduce_cluster.md
  docs/resources/mrs_cluster.md
  docs/resources/networking_vip_associate.md
  docs/resources/rds_database_privilege.md
  docs/resources/rf_stack.md
  docs/resources/scm_certificate.md
  docs/resources/servicestage_component.md
Labels: size/S, bugfix, LGTM

#2756 fix(RocketMQ): reduce the delay time
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/XS, bugfix

#2758 changelog: Update CHANGELOG for v1.45.0
  CHANGELOG.md
Labels: size/S

#2773 fix(eps): fix the wrong enum value and document format
  docs/resources/enterprise_project.md
  huaweicloud/services/eps/resource_huaweicloud_enterprise_project.go
Labels: documentation, size/XS, bugfix, LGTM

#2767 fix(cdm): unset the default cluster version
  docs/resources/cdm_cluster.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_cluster_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/clusters/requests.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM, safe to test

#2774 test(rms/precheck): skip acc test if the domain ID is not set
  huaweicloud/services/acceptance/acceptance.go
Labels: size/XS, LGTM, test

#2762 fix(gaussdb): fix dnNum issue for opengauss
  docs/data-sources/gaussdb_opengauss_instance.md
  docs/data-sources/gaussdb_opengauss_instances.md
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances.go
Labels: size/M, bugfix, LGTM

#2770 fix(fgs/function): add param when updating function created by mirror
  go.mod
  go.sum
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM

#2768 refactor(nat/dnat): rewrite dnat rule resource
  docs/resources/nat_dnat_rule.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_nat_dnat_rule_v2.go
  huaweicloud/resource_huaweicloud_nat_dnat_rule_v2_test.go
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_dnat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_dnat_rule.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/dnats/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/dnats/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/dnats/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, feature, safe to test

#2781 fix(test): use fixed cidr to fix test issues
  huaweicloud/services/acceptance/common/resources.go
Labels: size/XS, bugfix, LGTM

#2776 refactor(ces): update ces alarm rule with v2 api
  docs/resources/ces_alarmrule.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v1/alarmrule/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v1/alarmrule/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v1/alarmrule/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v2/alarmrule/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v2/alarmrule/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v2/alarmrule/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/loadbalancers/results.go
  vendor/modules.txt
Labels: size/XL, refactor, dependencies, LGTM

#2772 refactor(nat/snat): rewrite snat rule resource
  docs/resources/nat_snat_rule.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_nat_snat_rule_v2.go
  huaweicloud/resource_huaweicloud_nat_snat_rule_v2_test.go
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_snat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_snat_rule.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/snats/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/snats/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/snats/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/hw_snatrules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/hw_snatrules/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/hw_snatrules/urls.go
  vendor/modules.txt
Labels: size/XL, refactor

#2777 feat(DMS): kafka instance support prepaid
  docs/resources/dms_kafka_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
Labels: size/L, feature, LGTM, safe to test

#2784 refactor(nat/gateway): move the data source to the new dir
  docs/data-sources/nat_gateway.md
  docs/resources/nat_gateway.md
  huaweicloud/data_source_huaweicloud_nat_gateway_v2.go
  huaweicloud/data_source_huaweicloud_nat_gateway_v2_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_gateway_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_gateway.go
  huaweicloud/services/nat/resource_huaweicloud_nat_gateway.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/natgateways/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/natgateways/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/extensions/natgateways/urls.go
  vendor/modules.txt
Labels: size/L, refactor, LGTM

#2782 changelog: Update CHANGELOG for v1.45.1
  CHANGELOG.md
Labels: size/XS

#2761 feat(CPH): add a new dataSource to get phone flavors
  docs/data-sources/cph_phone_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_phone_flavors_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_phone_flavors.go
  huaweicloud/services/cph/resource_huaweicloud_cph_server.go
Labels: size/L, feature, LGTM

#2766 feat(DDM): add ddm instance nodes data source
  docs/data-sources/ddm_instance_nodes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_instance_nodes_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_instance_nodes.go
Labels: size/M, feature, LGTM

#2786 feat(ELB): lb add public ip
  docs/data-sources/lb_loadbalancer.md
  docs/resources/lb_loadbalancer.md
  huaweicloud/services/lb/data_source_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
Labels: size/XS, feature, LGTM

#2787 fix(DDS): fix dds test network config
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_instances_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
Labels: size/S, bugfix, LGTM

#2764 feat(DDM): add ddm schema resource
  docs/resources/ddm_schema.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_schema_test.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_schema.go
Labels: size/L, feature, LGTM

#2765 feat(DDM): add ddm instances data source
  docs/data-sources/ddm_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_instances_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_instances.go
Labels: size/L, feature, LGTM

#2771 feat: autoscaling support notification
  docs/resources/as_notification.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_notification_test.go
  huaweicloud/services/as/resource_huaweicloud_as_notification.go
Labels: size/L, feature, LGTM

#2769 feat(CPH): add a new datasource to get phone images
  docs/data-sources/cph_phone_images.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_phone_images_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_phone_images.go
Labels: size/M, feature, LGTM, safe to test

#2790 fix(test): fix Reference to undeclared resource issue
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_cluster_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_instance_group_associate_test.go
Labels: size/S, bugfix, LGTM

#2789 fix: remove dns value specs
  docs/resources/dns_recordset.md
  docs/resources/dns_zone.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_dns_recordset_v2.go
  huaweicloud/resource_huaweicloud_dns_zone_v2.go
  huaweicloud/value_specs.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/recordsets/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/zones/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/zones/results.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM

#2795 feat(cce): support storage in node pool
  docs/resources/cce_node_pool.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/L, feature, LGTM

#2797 fix(rds): fix rds_account test issue
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_account_test.go
Labels: size/XS, bugfix

#2805 fix(ces): add default value for alarm_type
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
Labels: size/XS, bugfix, LGTM

#2804 feat(sfsTurbo): sfsTurbo support tags
  docs/resources/sfs_turbo.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_sfs_turbo.go
  huaweicloud/resource_huaweicloud_sfs_turbo_test.go
  huaweicloud/utils/tags.go
  vendor/github.com/chnsz/golangsdk/openstack/common/tags/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/common/tags/results.go
  vendor/github.com/chnsz/golangsdk/openstack/common/tags/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2807 refactor(antiddos): add limit for CleaningAccessPosId to avoid error
  huaweicloud/services/antiddos/resource_huaweicloud_antiddos_basic.go
Labels: size/XS, refactor, LGTM

#2788 fix(vpn): update flavor values and address test issue
  docs/resources/vpn_gateway.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/S, bugfix, LGTM, safe to test

#2802 feat(RocketMQ): rocketmq support prepaid
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/L, feature, LGTM

#2803 feat(cce): support security_groups in node pool
  docs/resources/cce_node_pool.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/results.go
Labels: size/M, feature, LGTM

#2791 fix(fgs/function): VPC access can be enabled normally when creating function
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/M, bugfix, LGTM

#2796 fix(config): don't query catalog by API any more
  huaweicloud/config/auth.go
Labels: size/XS, bugfix

#2801 feat(provider): support regional parameter for ally clouds
  docs/index.md
  huaweicloud/provider.go
Labels: size/S, feature, LGTM

#2785 feat(nat/gateway): add new private nat gateway resource
  docs/resources/nat_private_gateway.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_gateway_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_gateway.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/gateways/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/gateways/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/gateways/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#2810 feat(DMS): rocketmq support tags
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/S, feature, LGTM

#2812 docs(ecs): fix documentation errors
  docs/data-sources/compute_instance.md
  docs/resources/compute_instance.md
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_compute_servergroup.go
Labels: size/S, documentation

#2813 fix(scripts): support plus sign as list index
  scripts/markdown_check/main.go
Labels: size/XS, bugfix

#2814 feat(nat/transitip): add new resource support
  docs/resources/nat_private_transit_ip.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_transit_ip_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_transit_ip.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/transitips/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/transitips/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/transitips/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2794 feat(DDM): add ddm account resource
  docs/resources/ddm_account.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_account_test.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_account.go
Labels: size/L, feature, LGTM

#2798 feat(DDS): add dds backup resource
  docs/resources/dds_backup.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_backup_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_backup.go
Labels: size/L, feature, LGTM

#2816 docs(apig): fix the wrong parameter behavior
  docs/resources/api_gateway_api.md
  docs/resources/apig_application.md
  docs/resources/apig_custom_authorizer.md
  docs/resources/apig_instance.md
  huaweicloud/services/apig/resource_huaweicloud_apig_custom_authorizer.go
Labels: size/S, documentation, LGTM

#2815 changelog: Update CHANGELOG for v1.46.0
  CHANGELOG.md
Labels: size/S

#2819 Update APIs that resources depend-on v1.46.0
  docs/api/data_source_huaweicloud_cph_phone_flavors.yaml
  docs/api/data_source_huaweicloud_cph_phone_images.yaml
  docs/api/data_source_huaweicloud_ddm_instance_nodes.yaml
  docs/api/data_source_huaweicloud_ddm_instances.yaml
  docs/api/resource_huaweicloud_ddm_account.yaml
  docs/api/resource_huaweicloud_ddm_schema.yaml
  docs/api/resource_huaweicloud_dds_backup.yaml
  docs/api/resource_huaweicloud_er_instance.yaml
  docs/api/resource_huaweicloud_ga_accelerator.yaml
  docs/api/resource_huaweicloud_ga_endpoint_group.yaml
  docs/api/resource_huaweicloud_ga_listener.yaml
  docs/api/resource_huaweicloud_nat_private_gateway.yaml
  docs/api/resource_huaweicloud_nat_private_transit_ip.yaml
  docs/api/resource_huaweicloud_network_acl_rule.yaml
  docs/api/resource_huaweicloud_vpc_eip.yaml
  docs/api/resource_huaweicloud_vpn_gateway.yaml
Labels: size/M

#2822 fix(workflow): only running the first basic test for each file
  .github/workflows/cron-ci.yml
  .github/workflows/pre-release.yml
Labels: size/XS, bugfix

#2824 chore: disable use-any lint
  .golangci.yml
Labels: size/XS, chore

#2829 docs(kafka): move charging related params above blocks
  docs/resources/dms_kafka_instance.md
Labels: documentation, size/XS

#2827 feat(as): add source_dest_check for as group
  docs/resources/as_group.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/S, feature, LGTM, safe to test

#2821 feat(nat/snat): add new private snat rule resource
  docs/resources/nat_private_snat_rule.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_snat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_snat_rule.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/snats/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/snats/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/snats/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2843 fix(cse/engine): fix the authentication error
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_engine_test.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_engine.go
Labels: size/XS, bugfix, LGTM

#2838 chore(gaussdb): deprecate proxy related parameters
  docs/resources/gaussdb_mysql_instance.md
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/S, chore

#2793 feat(DDM): add ddm schemas data source
  docs/data-sources/ddm_schemas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_schemas_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_schemas.go
Labels: size/L, feature, LGTM

#2823 feat(DDM): add ddm accounts data source
  docs/data-sources/ddm_accounts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_accounts_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_accounts.go
Labels: size/L, feature, LGTM

#2820 fix(test): address testing issue
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_image_test.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_test.go
Labels: size/XS, bugfix, LGTM

#2844 chore(scripts): support another format for nested attributes
  scripts/markdown_check/main.go
Labels: size/XS, chore

#2828 fix(DDM): fix ddm test network
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_test.go
Labels: size/XS, bugfix, LGTM

#2836 feat(IMS): add ims image copy resource
  docs/resources/images_image_copy.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_copy_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_copy.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v1/imagecopy/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v1/imagecopy/results.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v1/imagecopy/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2848 refactor: change tag utils method parameter
  huaweicloud/resource_huaweicloud_sfs_turbo.go
  huaweicloud/services/dew/resource_huaweicloud_kms_key.go
  huaweicloud/utils/tags.go
Labels: size/XS, refactor, LGTM

#2825 feat(dns): DNS support multi line record set resource
  docs/resources/dns_recordset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_v2_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset.go
Labels: size/XL, refactor, feature, LGTM

#2845 fix(CSS): fix the document error
  .golangci.yml
  docs/resources/css_cluster.md
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/L, bugfix, chore, LGTM

#2809 feat(DLI): add a new resource to manage dli datasource connection
  docs/resources/dli_datasource_connection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_connection_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection.go
Labels: size/L, feature, LGTM

#2830 feat(DLI): add a new resource to manage authentication
  docs/resources/dli_datasource_auth.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_auth_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_auth.go
Labels: size/L, feature, LGTM

#2856 refactor(obs): remove some ValidateFunc in obs bucket and object
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_object.go
Labels: size/XS, refactor, LGTM

#2835 docs(cse/engine): new parameter enterprise project id support
  docs/resources/cse_microservice_engine.md
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_engine_test.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_engine.go
Labels: size/M, documentation, LGTM

#2831 chore(rfs): rename rf to rfs as service name changed
  docs/resources/rfs_stack.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rfs/resource_huaweicloud_rfs_stack_test.go
  huaweicloud/services/rfs/resource_huaweicloud_rfs_stack.go
Labels: size/S, chore, LGTM

#2847 fix(DDM): fix ddm retry operation
  huaweicloud/services/ddm/resource_huaweicloud_ddm_account.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_schema.go
Labels: size/M, bugfix, LGTM

#2851 docs: fix documentation errors
  docs/resources/bms_instance.md
  docs/resources/cbh_instance.md
  docs/resources/cdm_job.md
  docs/resources/codehub_repository.md
  docs/resources/cse_microservice_engine.md
  docs/resources/dataarts_studio_instance.md
  docs/resources/ddm_schema.md
  docs/resources/dds_backup.md
  docs/resources/dms_kafka_instance.md
  docs/resources/dms_rabbitmq_instance.md
  docs/resources/enterprise_project.md
  docs/resources/ga_accelerator.md
  docs/resources/gaussdb_influx_instance.md
  docs/resources/identity_agency.md
  docs/resources/identity_provider_conversion.md
  docs/resources/identity_role_assignment.md
  docs/resources/iec_eip.md
  docs/resources/iec_keypair.md
  docs/resources/iec_network_acl_rule.md
  docs/resources/live_recording.md
  docs/resources/mapreduce_job.md
  docs/resources/meeting_conference.md
  docs/resources/meeting_user.md
  docs/resources/mrs_job.md
  docs/resources/obs_bucket.md
  docs/resources/scm_certificate.md
  docs/resources/vod_transcoding_template_group.md
  huaweicloud/resource_huaweicloud_iec_eip.go
  huaweicloud/resource_huaweicloud_iec_network_acl_rule.go
  huaweicloud/resource_huaweicloud_sfs_turbo.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
Labels: size/M, documentation, LGTM

#2852 docs: fix documention errors for vpc networking
  docs/data-sources/networking_port.md
  docs/data-sources/networking_secgroup.md
  docs/resources/networking_vip.md
  huaweicloud/resource_huaweicloud_networking_secgroup.go
  huaweicloud/services/vpc/data_source_huaweicloud_networking_port_v2.go
Labels: size/S, documentation, LGTM

#2861 chore(dns): fix cli lint and log message
  huaweicloud/services/dns/resource_huaweicloud_dns_ptrrecord.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset_v2.go
  huaweicloud/services/dns/resource_huaweicloud_dns_zone.go
Labels: size/S, chore, LGTM

#2865 chore(eip): cleanup validation of eip type
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
  huaweicloud/services/cph/resource_huaweicloud_cph_server.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/S, chore, LGTM

#2839 refactor(IMS): fix ims resource lint issues
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
Labels: size/L, bugfix, refactor, LGTM

#2850 feat(secgroups): add id to secgroups data source
  docs/data-sources/networking_secgroups.md
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_networking_secgroups_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_networking_secgroups.go
Labels: size/S, feature, LGTM

#2854 fix(secgroups): address secgroups data source test
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_networking_secgroups_test.go
Labels: size/XS, bugfix, LGTM

#2855 fix(dns): dns multi recordset line id change to forceNew
  docs/resources/dns_recordset.md
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset.go
Labels: size/S, bugfix, LGTM

#2868 ci(golangci): append acl to revive ignore list
  .golangci.yml
Labels: size/XS

#2840 refactor(IMS): fix ims data source lint issues
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_image_test.go
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_images_test.go
  huaweicloud/services/ims/data_source_huaweicloud_images_image.go
  huaweicloud/services/ims/data_source_huaweicloud_images_images.go
Labels: size/M, bugfix, refactor, LGTM

#2834 feat(DMS): add dms rabbitmq flavors data source
  docs/data-sources/dms_rabbitmq_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rabbitmq_flavors_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rabbitmq_flavors.go
Labels: size/L, feature, LGTM, safe to test

#2871 refactor(cfw): update protection_rule and data_source firewalls
  docs/data-sources/cfw_firewalls.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_firewalls_test.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_protection_rule_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_firewalls.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_protection_rule.go
Labels: size/M, refactor, LGTM

#2832 feat(cfw): add IP address group and member
  docs/resources/cfw_address_group.md
  docs/resources/cfw_address_group_member.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_address_group_member_test.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_address_group_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group_member.go
Labels: size/L, feature, LGTM

#2846 feat(cfw): add new resource black_white_list
  docs/resources/cfw_black_white_list.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_black_white_list_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_black_white_list.go
Labels: size/L, feature, LGTM

#2874 docs(cce): update cce docs
  docs/data-sources/cce_addon_template.md
  docs/data-sources/cce_clusters.md
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  huaweicloud/common/resource_schema.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_node_pool_v3.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_v3.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_v3.go
Labels: size/M, documentation, LGTM

#2870 docs: fix documentation errors in WAF,CPH,DMS,DDS,DLI
  docs/resources/cph_server.md
  docs/resources/dds_instance.md
  docs/resources/dli_flinkjar_job.md
  docs/resources/dli_flinksql_job.md
  docs/resources/dli_queue.md
  docs/resources/dli_spark_job.md
  docs/resources/dli_sql_job.md
  docs/resources/dli_table.md
  docs/resources/dms_kafka_permissions.md
  docs/resources/waf_cloud_instance.md
  docs/resources/waf_domain.md
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_topic.go
  huaweicloud/services/waf/resource_huaweicloud_waf_cloud_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_reference_table.go
Labels: size/S, documentation, LGTM

#2877 docs: fix documentation errors in HSS,CES,IEC,DCS,OMS,DWS,dbss,antiddos
  docs/resources/ces_alarmrule.md
  docs/resources/dbss_instance.md
  docs/resources/dcs_instance.md
  docs/resources/iec_security_group_rule.md
  docs/resources/iec_vpc.md
  docs/resources/iec_vpc_subnet.md
  docs/resources/oms_migration_task.md
  huaweicloud/services/antiddos/resource_huaweicloud_antiddos_basic.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/hss/resource_huaweicloud_hss_host_group.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task.go
Labels: size/S, documentation, LGTM

#2853 feat(DDM): ddm instance support update auto renew
  docs/resources/ddm_instance.md
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_test.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance.go
Labels: size/M, feature, LGTM

#2880 chore(rds): rename account/database to mysql specified
  docs/resources/rds_mysql_account.md
  docs/resources/rds_mysql_database.md
  docs/resources/rds_mysql_database_privilege.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_account_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_privilege_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_account.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database_privilege.go
Labels: size/S, chore, LGTM, safe to test

#2886 fix: remove volume type validation
  huaweicloud/resource_huaweicloud_cci_pvc.go
  huaweicloud/resource_huaweicloud_compute_instance.go
  huaweicloud/resource_huaweicloud_mrs_cluster_v1.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/deprecated/resource_huaweicloud_ecs_instance_v1.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  huaweicloud/services/sms/resource_huaweicloud_sms_server_template.go
Labels: size/S, bugfix, LGTM

#2875 feat(fgs/async): add new resource support
  docs/resources/fgs_async_invoke_configuration.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_async_invoke_configuration_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_async_invoke_configuration.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2879 feat(apig/routes): add new resource for instance routes
  docs/resources/apig_instance_routes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_routes_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance_routes.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/instances/urls.go
Labels: size/L, feature, LGTM

#2883 fix(test): fix semantic error in test
  huaweicloud/services/acceptance/eip/resource_huaweicloud_eip_associate_test.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_instance_groups_test.go
Labels: size/XS, bugfix, LGTM

#2881 docs: fix documentation errors in OBS,DIS,iotda,meeting,vpn,servicest…
  docs/resources/dis_stream.md
  docs/resources/iotda_product.md
  docs/resources/meeting_admin_assignment.md
  docs/resources/obs_bucket_object.md
  docs/resources/servicestage_component_instance.md
  docs/resources/vpn_gateway.md
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
Labels: size/S, documentation, LGTM

#2888 docs: fix documentation error in CSS,mapreduce,drs,cdn
  docs/resources/css_cluster.md
  docs/resources/drs_job.md
  huaweicloud/resource_huaweicloud_cdn_domain.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/S, documentation, bugfix

#2887 fix(dcs): only config whitelist when the function is enabled during c…
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/XS, bugfix

#2884 docs: fix documentation errors in IEC,APIG,OBS,DMS,CSS
  docs/resources/apig_custom_authorizer.md
  docs/resources/iec_server.md
  docs/resources/obs_bucket.md
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: documentation, size/XS

#2890 fix(apig/routes): rename the next-hop list parameter
  docs/resources/apig_instance_routes.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_routes_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance_routes.go
Labels: size/XS, bugfix

#2889 changelog: Update CHANGELOG for v1.47.0
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/acls/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/acls/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/acls/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/modules.txt
Labels: size/M, dependencies

#2891 chore(json): delete some files
  docs/json/resources/rds_account.json
  docs/json/resources/rds_database.json
  docs/json/resources/rds_database_privilege.json
  docs/json/resources/rf_stack.json
Labels: size/M, chore
