Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-06, with the labels that each got.

#3071 feat(workflow): add HW_ADMIN env
  .github/workflows/acc-test.yml
  .github/workflows/cron-ci.yml
  .github/workflows/pre-release.yml
Labels: size/XS, feature

#3072 fix(iam/agency): fix append project_role issue when creating
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_agency_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
Labels: size/S, bugfix, LGTM, safe to test

#3085 docs: update the subcategory of rfs stack
  docs/resources/rfs_stack.md
Labels: documentation, size/XS, LGTM

#3086 fix(VPC): delete vpc and vpc subnet validation
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/XS, bugfix, LGTM

#3087 docs(ces): fix ces subcategory to be consistent
  docs/resources/ces_alarmrule.md
  docs/resources/ces_resource_group.md
Labels: documentation, size/XS, LGTM

#3069 feat(RAM): add ram data source permissions
  docs/data-sources/ram_permissions.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_permissions_test.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_permissions.go
Labels: size/M, feature, LGTM, safe to test

#3052 refactor(cce/node): refactor the parameter build and flatten funcs
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
Labels: size/L, refactor, LGTM

#3084 chore: test(ims/backup): support CBR backup data-source test and update backup_id behavior
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_backup_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
Labels: size/S, chore, LGTM, test, safe to test

#3073 feat(ecs/instance): support root volume encryption
  docs/resources/compute_instance.md
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/XS, feature, LGTM

#3088 feat(rds/instance): description of rds instance update flavor
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
Labels: size/XS, feature, LGTM

#3091 fix(scripts): extract internal attr from resource description
  huaweicloud/services/cce/resource_huaweicloud_cce_partition.go
  scripts/markdown_check/main.go
Labels: size/XS, bugfix

#3077 feat(cce/cluster): support multi eni subnet IDs, and updating the eni subnets
  docs/resources/cce_cluster.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/topics/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/topics/results.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/topics/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3092 fix(RAM): update ram data source permissions name
  docs/data-sources/ram_resource_permissions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_resource_permissions_test.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_resource_permissions.go
Labels: size/XS, bugfix, LGTM

#3081 feat(RAM): add new resource ram share
  docs/resources/ram_resource_share.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ram/resource_huaweicloud_ram_resource_share_test.go
  huaweicloud/services/ram/resource_huaweicloud_ram_resource_share.go
Labels: size/L, feature

#3076 feat(Ortganizations): add organizations resource
  docs/data-sources/organizations_organization.md
  docs/resources/organizations_organization.md
  docs/resources/organizations_organizational_unit.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_organization_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_organization_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_organizational_unit_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_organization.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_organization.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_organizational_unit.go
Labels: size/XL, feature, LGTM

#3097 fix(cce/cluster): use reflect to compare empty struct
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
Labels: size/XS, bugfix

#3079 feat(GES): add a new resouce to manage graph
  docs/incubating/ges_graph.md
  docs/resources/ges_graph.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_ges_graph_v1.go
  huaweicloud/resource_huaweicloud_ges_graph_v1_test.go
  huaweicloud/services/acceptance/ges/resource_huaweicloud_ges_graph_test.go
  huaweicloud/services/ges/resource_huaweicloud_ges_graph.go
  huaweicloud/utils/type_convert.go
Labels: size/XL, feature, LGTM

#3082 refactor(cbr): deprecate policy_id and support policy structure
  docs/resources/cbr_vault.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
  vendor/github.com/chnsz/golangsdk/openstack/antiddos/v1/antiddos/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/certificates/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/iec/v1/security/groups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/iec/v1/security/rules/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/results.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/urls.go
  vendor/modules.txt
Labels: size/L, refactor, dependencies, LGTM

#3080 feat(smn): support policies in topic
  docs/resources/smn_topic.md
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_topic_test.go
  huaweicloud/services/smn/resource_huaweicloud_smn_topic.go
Labels: size/M, feature, LGTM

#3093 fix(kafka): fix the issue of Kafka unit tests run error
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_product_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
Labels: size/S, bugfix

#3070 feat(DWS): enhance cluster to support apiV2
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_flavors_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_flavors.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/XL, feature, LGTM, safe to test

#3099 fix(cce/nodepool): add ChargingMode precheck in prePaid test case
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
Labels: size/XS, bugfix

#3101 fix(IMS): delete description, max_ram and min_ram computed
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_copy.go
Labels: size/XS, bugfix, safe to test

#3098 chore(CDM): chore CDM
  docs/resources/cdm_cluster.md
  docs/resources/cdm_job.md
  docs/resources/cdm_link.md
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_cluster_test.go
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_job_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_cluster.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_job.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_link.go
Labels: size/M, chore, LGTM

#3090 feat(GES): add a new resource to manage metadata
  docs/resources/ges_metadata.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ges/resource_huaweicloud_ges_metadata_test.go
  huaweicloud/services/ges/resource_huaweicloud_ges_metadata.go
Labels: size/L, feature, LGTM, safe to test

#3103 chore: update markdown_check and delete incubating docs
  docs/incubating/oms_task.md
  scripts/markdown_check/main.go
Labels: size/S, chore

#3111 fix(Organizations): fix organizations environment pre check
  huaweicloud/services/acceptance/acceptance.go
Labels: size/XS, bugfix, LGTM

#3106 feat(SDRS): add a new data source sdrs domain
  docs/data-sources/sdrs_domain.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/data_source_huaweicloud_sdrs_domain_test.go
  huaweicloud/services/sdrs/data_source_huaweicloud_sdrs_domain.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/domains/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/domains/results.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/domains/urls.go
Labels: size/M, feature, LGTM, safe to test

#3116 fix(smn/subscription): check deleted when the topic is not exist
  huaweicloud/services/smn/resource_huaweicloud_smn_subscription.go
Labels: size/XS, bugfix, LGTM

#3107 feat(evs): support dedicated_storage in volume
  docs/resources/evs_volume.md
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/XS, feature, LGTM

#3108 feat(sfs): support dedicated_storage in sfs turbo
  docs/resources/sfs_turbo.md
  huaweicloud/resource_huaweicloud_sfs_turbo.go
Labels: size/XS, feature, LGTM

#3059 feat(rds/instance): rds optimized backup strategy
  docs/resources/rds_instance.md
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/S, feature, LGTM, safe to test

#3123 chore(MRS): fix lint warnings and simplify the code
  docs/resources/mapreduce_cluster.md
  docs/resources/mapreduce_job.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_job_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_job.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v1/cluster/results.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v2/clusters/requests.go
  vendor/modules.txt
Labels: size/L, chore, dependencies, LGTM

#3128 ci(tflint): update ci configuration and tflint command
  .github/workflows/doc-lint.yml
Labels: size/XS, LGTM

#3120 fix(iam/agency): sleep 200ms to avoid API rate limit
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
Labels: size/XS, bugfix, LGTM

#3102 feat(cce/cluster): support specifying and updating security group ID in the cluster
  docs/resources/cce_cluster.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/results.go
Labels: size/M, feature, LGTM

#3117 feat(SDRS): add a new resource sdrs protection group
  docs/resources/sdrs_protection_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_protection_group_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_protection_group.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/protectiongroups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/protectiongroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/protectiongroups/results_job.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/protectiongroups/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3133 docs(ccm): rename category of SCM to CCM
  docs/data-sources/scm_certificates.md
  docs/resources/scm_certificate.md
Labels: documentation, size/XS, LGTM

#3109 refactor(DMS): rabbitmq instance support update broker num and storage space
  docs/resources/dms_rabbitmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/results.go
  vendor/modules.txt
Labels: size/S, refactor, safe to test

#3112 feat(GES): add a new resource to manage backup
  docs/resources/ges_backup.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ges/resource_huaweicloud_ges_backup_test.go
  huaweicloud/services/ges/resource_huaweicloud_ges_backup.go
Labels: size/L, feature, LGTM

#3121 feat(SDRS): add a new resource sdrs replication pair
  docs/resources/sdrs_replication_pair.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_replication_pair_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_replication_pair.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/replications/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/replications/results.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/replications/results_job.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/replications/urls.go
  vendor/modules.txt
Labels: size/L, feature, safe to test

#3119 feat(SDRS): add a new resource sdrs protected instance
  docs/resources/sdrs_protected_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_protected_instance_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_protected_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/protectedinstances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/protectedinstances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/protectedinstances/results_job.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/protectedinstances/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, safe to test

#3100 refactor(GaussDB): gaussdb redis support ssl and port
  docs/resources/gaussdb_redis_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
Labels: size/M, refactor, LGTM

#3124 refactor(GaussDB): gaussdb mysql instance support sql filter
  docs/resources/gaussdb_mysql_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/sqlfilter/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/sqlfilter/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/sqlfilter/urls.go
  vendor/modules.txt
Labels: size/M, refactor, LGTM

#3136 fix(GaussDB): fix gaussdb mysql database
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_database.go
Labels: size/S, bugfix, LGTM

#3113 feat(GaussDB): add gaussdb mysql paramater template resource
  docs/resources/gaussdb_mysql_parameter_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template.go
Labels: size/L, feature, LGTM

#3132 fix(iam/agency): add page and per_page to query roles
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
Labels: size/XS, bugfix, LGTM

#3135 fix(er/filter): fix the incorrect variable reference
  huaweicloud/services/er/resource_huaweicloud_er_association.go
  huaweicloud/services/er/resource_huaweicloud_er_propagation.go
Labels: size/XS, bugfix, LGTM

#3115 feat(GaussDB): add gaussdb mysql account resource
  docs/resources/gaussdb_mysql_account.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_account_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_account.go
Labels: size/L, feature, LGTM

#3129 feat(SDRS): add a new resource sdrs drill
  docs/resources/sdrs_drill.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_drill_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_drill.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/policies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/results.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v2/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/drill/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/drill/results.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/drill/results_job.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/drill/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, safe to test

#3127 refactor(cbr): refactor resources and related tests
  docs/data-sources/cbr_vaults.md
  docs/resources/cbr_policy.md
  docs/resources/cbr_vault.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_test.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_policy_test.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_vaults.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_policy.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/XL, chore, refactor, safe to test, ready for review

#3139 feat(cbr): support new parameters
  docs/resources/cbr_policy.md
  docs/resources/cbr_vault.md
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_policy_test.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_policy.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/S, feature, LGTM

#3143 feat(kafka/examples): Use flavor instead of product_id to create a Kakfa cluster in example
  examples/dms/kafka-instance/README.md
  examples/dms/kafka-instance/main.tf
Labels: size/S, feature, LGTM

#3144 docs(kafka): Optimize the example of creating a Kafka instance using flavor_id
  docs/resources/dms_kafka_instance.md
Labels: documentation, size/XS, LGTM

#3145 fix(evs): fix the dedicated_storage_id problem
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/XS, bugfix, LGTM

#3146 feat(RabbitMQ/examples): Use flavor instead of product_id to create rabbitmq instance in example
  examples/dms/rabbitMQ-instance/README.md
  examples/dms/rabbitMQ-instance/main.tf
Labels: size/S, feature, LGTM

#3147 docs(RabbitMQ): Optimize the example of creating a RattbiMQ instance using flavor_id
  docs/resources/dms_rabbitmq_instance.md
Labels: documentation, size/XS, LGTM

#3130 feat(SDRS): add a new resource sdrs replication attach
  docs/resources/sdrs_replication_attach.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_replication_attach_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_replication_attach.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/attachreplication/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/attachreplication/results_job.go
  vendor/github.com/chnsz/golangsdk/openstack/sdrs/v1/attachreplication/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3118 feat(GaussDB): add gaussdb mysql sql control rule resource
  docs/resources/gaussdb_mysql_sql_control_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_sql_control_rule_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_sql_control_rule.go
Labels: size/L, feature

#3137 fix(cse/microservice): add deleted check method
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice.go
Labels: size/S, bugfix, chore, LGTM, safe to test

#3150 feat(Organizations): add organizations trusted service resource
  docs/resources/organizations_trusted_service.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_trusted_service_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_trusted_service.go
Labels: size/L, feature, LGTM, safe to test

#3122 feat(GaussDB): add gaussdb mysql account privilege resource
  docs/resources/gaussdb_mysql_account_privilege.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_account_privilege_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_account_privilege.go
Labels: size/L, feature, LGTM

#3142 feat(fgs/function): support config max instance number
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3140 feat(MRS): support to update the cluster name
  docs/resources/mapreduce_cluster.md
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
Labels: size/S, feature, LGTM

#3153 feat: add bandwidth associate resource
  docs/resources/vpc_bandwidth_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_bandwidth_associate_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth_associate.go
Labels: size/L, feature, LGTM, safe to test

#3161 docs(gaussdb): update gaussdb category
  docs/data-sources/gaussdb_mysql_configuration.md
  docs/data-sources/gaussdb_mysql_dedicated_resource.md
  docs/data-sources/gaussdb_mysql_flavors.md
  docs/data-sources/gaussdb_mysql_instance.md
  docs/data-sources/gaussdb_mysql_instances.md
  docs/resources/gaussdb_mysql_account.md
  docs/resources/gaussdb_mysql_account_privilege.md
  docs/resources/gaussdb_mysql_database.md
  docs/resources/gaussdb_mysql_instance.md
  docs/resources/gaussdb_mysql_parameter_template.md
  docs/resources/gaussdb_mysql_proxy.md
  docs/resources/gaussdb_mysql_sql_control_rule.md
Labels: documentation, size/XS, LGTM

#3165 fix(ecs/eip_associate): add wait state for bindwith associatation and…
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_eip_associate_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_eip_associate.go
Labels: size/S, bugfix, LGTM

#3162 chore(ecs): add check deleted for eip associate
  docs/resources/compute_eip_associate.md
  huaweicloud/services/ecs/resource_huaweicloud_compute_eip_associate.go
Labels: size/S, chore, LGTM

#3148 feat(fgs/function): function support parameter 'tags'
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3125 feat(GaussDB): add gaussdb redis eip associate resource
  docs/resources/gaussdb_redis_eip_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_eip_associate_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_eip_associate.go
Labels: size/L, feature, LGTM

#3149 feat(er/instance): support new parameter 'tags'
  docs/resources/er_instance.md
  go.sum
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_instance_test.go
  huaweicloud/services/er/resource_huaweicloud_er_instance.go
Labels: size/M, feature, LGTM

#3155 feat(Organizations): add organizations account invite resource
  .golangci.yml
  docs/resources/organizations_account_invite.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_invite_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_invite.go
Labels: size/L, feature, LGTM

#3166 fix(organizations): remove region param as it is global service
  docs/resources/organizations_trusted_service.md
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_trusted_service_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_trusted_service.go
Labels: size/XS, bugfix, LGTM

#3163 feat(Organizations): add organizations account and account associate resource
  docs/resources/organizations_account.md
  docs/resources/organizations_account_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_associate_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_associate.go
Labels: size/L, feature, LGTM

#3156 feat(Organizations): add organizations account invite accepter resource
  .github/workflows/doc-lint.yml
  docs/resources/organizations_account_invite_accepter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_invite_accepter_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_invite_accepter.go
Labels: size/L, feature, LGTM

#3167 changelog: Update CHANGELOG for v1.51.0
  CHANGELOG.md
Labels: size/S
