Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-04, with the labels that each got.

#2893 fix(CPH): use the datasrouce to get image_id
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_server_test.go
Labels: size/XS, bugfix, LGTM

#2894 fix(DMS): fix dms rabbitmq test
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
Labels: size/XS, bugfix, LGTM

#2896 feat(ces): add new param resoures and support alarm_type ALL_INSTANCE
  docs/resources/ces_alarmrule.md
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
Labels: size/M, feature, LGTM

#2897 fix(DDS): fix dds instance and data source test
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_instances_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
Labels: size/S, bugfix

#2908 fix(DNS): dns ptrrecord
  docs/resources/dns_ptrrecord.md
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_ptrrecord_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_ptrrecord.go
Labels: size/M, bugfix, LGTM

#2911 fix(test): make acceptance of MRS happy
  docs/resources/mapreduce_cluster.md
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
Labels: size/XS, bugfix, LGTM

#2857 refactor(ELB/loadbalancer): fix lb loadbalancer lint issues
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
Labels: size/M, bugfix, refactor, LGTM, safe to test

#2858 refactor(ELB/listener): fix lb listener lint issues
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_listener_test.go
  huaweicloud/services/lb/resource_huaweicloud_lb_listener.go
Labels: size/M, bugfix, refactor, LGTM, safe to test

#2895 fix(DMS): fix dms rocketmq topic test
  docs/resources/dms_rocketmq_topic.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_topic_test.go
Labels: size/XS, bugfix, LGTM

#2912 feat(mrs): support setting component configurations during cluster cr…
  docs/resources/mapreduce_cluster.md
  go.mod
  go.sum
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v2/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/whiteblackip_rules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/whiteblackip_rules/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2907 fix(DDM): fix ddms update offset method
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_flavors.go
Labels: size/XS, bugfix

#2913 changelog: Update CHANGELOG for v1.47.1
  CHANGELOG.md
Labels: size/XS

#2899 feat(DDS): add dds parameter template resource
  docs/resources/dds_parameter_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_parameter_template_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template.go
Labels: size/L, feature, safe to test

#2898 feat(DLI): add a new resource to manage SQL template
  docs/resources/dli_template_sql.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_template_sql_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_template_sql.go
Labels: size/L, feature, LGTM

#2892 feat(apig/acl): add new associate resource for ACL policy
  docs/resources/apig_acl_policy_associate.md
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_acl_policy_associate_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_acl_policy_associate.go
Labels: size/L, feature, LGTM

#2901 feat(DCS): add dcs backup resource
  docs/resources/dcs_backup.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_backup_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_backup.go
Labels: size/L, feature, LGTM

#2902 feat(ces): add new resource ces_resource_group
  docs/resources/ces_resource_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_resource_group_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_resource_group.go
Labels: size/L, feature, LGTM, safe to test

#2906 feat(SMN): add smn message template resource
  docs/resources/smn_message_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_message_template_test.go
  huaweicloud/services/smn/resource_huaweicloud_smn_message_template.go
Labels: size/L, feature, LGTM, safe to test

#2909 feat(DLI): add a new resource to manage flink template
  docs/resources/dli_template_flink.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_template_flink_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_template_flink.go
Labels: size/L, feature, LGTM

#2905 feat(CES): add ces alarm template resource
  docs/resources/ces_alarm_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarm_template_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarm_template.go
Labels: size/L, feature, LGTM, safe to test

#2910 fix(WAF): waf rule blacklist support name and address group
  docs/resources/waf_rule_blacklist.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_blacklist_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_blacklist.go
Labels: size/M, bugfix, LGTM

#2885 feat(IMS): add ims image share resource
  docs/resources/images_image_share.md
  docs/resources/images_image_share_accepter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_share_accepter_test.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_share_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_share.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_share_accepter.go
Labels: size/L, feature, LGTM

#2900 feat(DDS): add dds audit log policy resource
  docs/resources/dds_audit_log_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_audit_log_policy_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_audit_log_policy.go
Labels: size/L, feature, LGTM, safe to test

#2916 chore(script): record the number of errors and clean up docs errors
  docs/data-sources/cfw_firewalls.md
  docs/resources/ces_resource_group.md
  docs/resources/images_image_share.md
  docs/resources/mapreduce_cluster.md
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  scripts/markdown_check/main.go
Labels: size/M, bugfix, chore, feature, LGTM

#2919 chore(workflow): add schema-markdown-check job
  .github/workflows/ci.yml
Labels: size/XS, chore

#2915 fix(servicestage): fix the built logic and update param behavior
  docs/resources/servicestage_component_instance.md
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_instance_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component_instance.go
Labels: size/S, bugfix, LGTM

#2922 fix(RDS): fix rds database privilege users type
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database_privilege.go
Labels: size/XS, bugfix, LGTM

#2925 docs: Fix documentation for port of dcs instance
  docs/resources/dcs_instance.md
Labels: documentation, size/XS, LGTM

#2918 chore: add deprecated warning to compute_keypair
  docs/resources/cce_node.md
  docs/resources/compute_keypair.md
Labels: size/XS, chore, LGTM

#2929 chore(SMN): fix lint issues
  docs/resources/smn_subscription.md
  docs/resources/smn_topic.md
  huaweicloud/services/acceptance/smn/data_source_huaweicloud_smn_topics_test.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_subscription_test.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_topic_test.go
  huaweicloud/services/smn/data_source_huaweicloud_smn_topics.go
  huaweicloud/services/smn/resource_huaweicloud_smn_subscription.go
  huaweicloud/services/smn/resource_huaweicloud_smn_topic.go
Labels: size/M, chore, LGTM

#2924 feat(DLI): add new resource to manage global variable
  docs/resources/dli_global_variable.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_global_variable_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_global_variable.go
Labels: size/L, feature, LGTM

#2920 feat(DLI): add a new resource to manage dli spark template
  docs/resources/dli_template_spark.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_template_spark_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_template_spark.go
Labels: size/L, feature, LGTM, safe to test

#2904 feat(as): support instance attach resource
  docs/resources/as_instance_attach.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_instance_acctah_test.go
  huaweicloud/services/as/resource_huaweicloud_as_instance_attach.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2931 feat(DLI): add a new resource to manage DLI agency
  docs/resources/dli_agency.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_agency_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_agency.go
Labels: size/L, feature, LGTM, safe to test

#2933 chore(CDM): check the error correctly
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_link_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_link.go
Labels: size/S, chore, LGTM

#2932 feat(apig/signature): add new resource support
  docs/resources/apig_signature.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_signature_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_signature.go
  huaweicloud/utils/utils.go
  huaweicloud/utils/utils_test.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/signs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/signs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/signs/urls.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies, LGTM

#2936 fix(gaussdb): gaussdb support replica num
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/S, bugfix, LGTM

#2928 feat(OMS): oms support migration task group resource
  docs/resources/oms_migration_task_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/oms/resource_huaweicloud_oms_migration_task_group_test.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task_group.go
Labels: size/XL, feature, LGTM

#2938 fix(DDS): dds instnce support template
  docs/resources/dds_instance.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/L, bugfix, LGTM

#2940 feat(CFW): make the limit larger in protection rule test
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_protection_rule_test.go
Labels: size/XS, feature, LGTM

#2941 fix(DLI): fix dli queue general error
  go.mod
  go.sum
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/queues/requests.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM

#2937 fix(rds): all sub-resources support concurrency operations
  docs/resources/rds_mysql_account.md
  docs/resources/rds_mysql_database.md
  docs/resources/rds_mysql_database_privilege.md
  huaweicloud/services/rds/common.go
  huaweicloud/services/rds/resource_huaweicloud_rds_backup.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_account.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database_privilege.go
Labels: size/M, bugfix, LGTM

#2945 docs(kafka): update storage_space description
  docs/resources/dms_kafka_instance.md
Labels: documentation, size/XS, LGTM

#2947 feat(cce/turbo): support enable distributed CCE-Turbo cluster Management
  go.mod
  go.sum
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/modules.txt
Labels: size/XS, feature, dependencies, LGTM, safe to test

#2942 feat(apig/signature): add new association resource
  docs/resources/apig_signature_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_signature_associate_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_signature_associate.go
Labels: size/L, feature, LGTM

#2946 feat(OBS): add new resource obs bucket acl
  docs/resources/obs_bucket_acl.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_acl_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_acl.go
Labels: size/L, feature, LGTM

#2948 feat(SWR): add swr image permissions resource
  docs/resources/swr_image_permissions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_image_permissions_test.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_permissions.go
Labels: size/L, feature, LGTM

#2959 feat(ces): support resource_group_id in alarm rule
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
Labels: size/M, feature, LGTM

#2960 fix(OBS): add request id to obs bucket error info
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_policy.go
Labels: size/S, bugfix, LGTM

#2949 feat(SWR): add swr image trigger resource
  docs/resources/swr_image_trigger.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_image_trigger_test.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_trigger.go
Labels: size/L, feature, LGTM

#2953 feat(as/group): support agency name parameter
  docs/resources/as_group.md
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/XS, feature, LGTM

#2950 feat(SWR): add swr mage retention policy resource
  docs/resources/swr_image_retention_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_image_retention_policy_test.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_retention_policy.go
Labels: size/L, feature

#2951 feat(SWR): add swr image auto sync resource
  docs/resources/swr_image_auto_sync.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_image_auto_sync_test.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_auto_sync.go
Labels: size/L, feature

#2952 chore: move compute instance to servier dir
  huaweicloud/compute_interface_attach_v2.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_eip_associate_test.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_interface_attach_test.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_servergroup_test.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_volume_attach_test.go
  huaweicloud/services/ecs/compute_instance_networking.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_eip_associate.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_interface_attach.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_servergroup.go
Labels: size/L, chore, LGTM

#2963 fix(SWR): fix swr organization permissions bug
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_organization_permissions_test.go
  huaweicloud/services/swr/resource_huaweicloud_swr_organization_permissions.go
Labels: size/M, bugfix, LGTM

#2961 refactor: feat(sfs/turbo): support the pre-pay function
  docs/resources/sfs_turbo.md
  go.mod
  go.sum
  huaweicloud/resource_huaweicloud_sfs_turbo.go
  huaweicloud/resource_huaweicloud_sfs_turbo_test.go
  vendor/github.com/chnsz/golangsdk/openstack/sfs_turbo/v1/shares/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/sfs_turbo/v1/shares/results.go
  vendor/modules.txt
Labels: size/L, refactor, feature, dependencies

#2954 feat(OBS): add new resource obs bucket replication
  docs/resources/obs_bucket_replication.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_replication_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_replication.go
Labels: size/L, feature, LGTM

#2967 feat(WAF): waf cloud support epsID
  docs/resources/waf_cloud_instance.md
  docs/resources/waf_domain.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_cloud_instance_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_cloud_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
Labels: size/L, feature, LGTM

#2968 fix(ECS): fix compute instance agency_name and agent_list attribute
  docs/resources/compute_instance.md
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/S, bugfix, LGTM, safe to test

#2969 feat(ecs): support migrating enterprise project ID
  docs/resources/compute_instance.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/M, feature, LGTM

#2970 fix(RDS): Add some error codes that need to be retried
  huaweicloud/services/rds/common.go
Labels: size/XS, bugfix, LGTM

#2964 fix(WAF): waf rule support epsID
  docs/resources/waf_rule_blacklist.md
  docs/resources/waf_rule_data_masking.md
  docs/resources/waf_rule_web_tamper_protection.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_blacklist_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_data_masking_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_web_tamper_protection_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_blacklist.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_data_masking.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_web_tamper_protection.go
Labels: size/L, bugfix, feature, LGTM

#2965 feat(WAF): waf reference table support epsID
  docs/data-sources/waf_reference_tables.md
  docs/resources/waf_reference_table.md
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_reference_table_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_reference_table_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_reference_tables.go
  huaweicloud/services/waf/resource_huaweicloud_waf_reference_table.go
Labels: size/M, feature, LGTM

#2958 refactor(apig/channel): use the new channel resource instead
  docs/resources/apig_channel.md
  docs/resources/apig_vpc_channel.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_channel_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_apig_vpc_channel_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  huaweicloud/services/apig/resource_huaweicloud_apig_channel.go
  huaweicloud/services/deprecated/resource_huaweicloud_apig_vpc_channel.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/deprecated/dedicated/v2/channels/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/deprecated/dedicated/v2/channels/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/deprecated/dedicated/v2/channels/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, feature, dependencies, LGTM

#2962 feat(rds): add parameters support
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/urls.go
Labels: size/L, feature, LGTM

#2971 changelog: Update CHANGELOG for v1.48.0
  CHANGELOG.md
Labels: size/S
