Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-10, with the labels that each got.

#3471 fix(er): using data source to query az
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_route_table_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_association_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_instance_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_propagation_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_route_table_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_vpc_attachment_test.go
Labels: size/S, bugfix, LGTM

#3474 fix(cbr/vault): fix the wrong acceptance check
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_test.go
Labels: size/XS, bugfix

#3473 fix(DCS): fix dcs instance version check
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/XS, bugfix

#3475 fix(endpoint): fix wrong endpoint tests
  huaweicloud/endpoints_test.go
Labels: size/XS, bugfix, LGTM

#3477 docs(modelarts): fix data source name issue
  docs/data-sources/modelarts_models.md
  docs/data-sources/modelarts_resource_flavors.md
  docs/data-sources/modelarts_service_flavors.md
  docs/data-sources/modelarts_services.md
  docs/data-sources/modelarts_workspaces.md
Labels: documentation, size/XS, LGTM

#3489 feat(OBS): upgrade OBS version to 3.23.9 and add env proxy configure
  go.mod
  go.sum
  huaweicloud/config/config.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/CHANGELOG
  vendor/github.com/chnsz/golangsdk/openstack/obs/README.MD
  vendor/github.com/chnsz/golangsdk/openstack/obs/auth.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/authV4.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/callback.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_object.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/client_part.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/conf.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/const.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/convert.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/error.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/extension.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/http.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/log.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/mime.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_base.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_header.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_object.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_other.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_part.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_response.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/progress.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/provider.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/temporary_createSignedUrl.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/temporary_signedUrl.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait_base.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait_object.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait_other.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait_part.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/transfer.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/type.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/util.go
  vendor/golang.org/x/net/http/httpproxy/proxy.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies, LGTM

#3478 fix(cce): fix panic problem of the addon values
  huaweicloud/services/cce/resource_huaweicloud_cce_addon.go
Labels: size/XS, bugfix, LGTM

#3483 fix(apm): fix codecheck errors in apm service
  huaweicloud/services/acceptance/apm/resource_huaweicloud_apm_aksk_test.go
  huaweicloud/services/apm/resource_huaweicloud_apm_aksk.go
Labels: size/XS, bugfix

#3492 fix(antiddos/aad): fix codecheck errors in antiddos/aad service
  huaweicloud/services/acceptance/aad/resource_huaweicloud_aad_forward_rule_test.go
  huaweicloud/services/acceptance/antiddos/resource_huaweicloud_antiddos_basic_test.go
  huaweicloud/services/antiddos/resource_huaweicloud_antiddos_basic.go
Labels: size/XS, bugfix

#3479 feat(cce): support updating the tags of cluster
  docs/resources/cce_cluster.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/urls.go
Labels: size/S, feature, LGTM

#3484 chore(dli/queue): replace attribute ID value with the resource ID
  docs/resources/dli_database.md
  docs/resources/dli_queue.md
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_database_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_database.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
Labels: size/M, chore, LGTM

#3498 fix(Organizations): delete organizations data source region
  docs/data-sources/organizations_accounts.md
  docs/data-sources/organizations_organizational_units.md
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_accounts.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_organizational_units.go
Labels: size/XS, bugfix, LGTM

#3502 fix(cce): fix ForceNew problem of volume extend_params in node and node pool
  huaweicloud/services/cce/common.go
Labels: size/XS, bugfix, LGTM

#3482 fix(aom): fix codecheck errors in aom service
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_policy_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_rule_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_prometheus_instance_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_service_discovery_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_policy.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_rule.go
  huaweicloud/services/aom/resource_huaweicloud_aom_prometheus_instance.go
  huaweicloud/services/aom/resource_huaweicloud_aom_service_discovery_rule.go
Labels: size/M, bugfix, LGTM

#3495 fix(as): fix codecheck errors in as service
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_bandwidth_policy_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_lifecycle_hook_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_bandwidth_policy.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
  huaweicloud/services/as/resource_huaweicloud_as_instance_attach.go
  huaweicloud/services/as/resource_huaweicloud_as_lifecycle_hook.go
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
Labels: size/M, bugfix, LGTM

#3504 docs(cce): update the docs of node, node pool and node attach
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/S, documentation, LGTM

#3505 changelog: Update CHANGELOG for v1.56.1
  CHANGELOG.md
Labels: size/XS

#3472 feat(MRS): add a new resource to manage scaling policy
  docs/resources/mapreduce_scaling_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_scaling_policy_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_scaling_policy.go
Labels: size/XL, feature, LGTM

#3480 feat(LTS): add new resource LTS structuring custom configuration
  docs/resources/lts_structuring_custom_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_structuring_custom_configuration_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_structuring_custom_configuration.go
Labels: size/L, feature, LGTM

#3500 test(Organizations): fix organizations test
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_accounts_test.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_organization_test.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_organizational_units_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_associate_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_invite_accepter_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_invite_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_organizational_unit_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_trusted_service_test.go
Labels: size/S, bugfix, LGTM, test

#3506 fix(cc/cci): fix codecheck errors in cc/cci service
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_connection_test.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_network_instance_test.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cci_namespaces_test.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_namespace_test.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_network_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_connection.go
  huaweicloud/services/cc/resource_huaweicloud_cc_network_instance.go
  huaweicloud/services/cci/data_source_huaweicloud_cci_namespaces.go
  huaweicloud/services/cci/resource_huaweicloud_cci_namespace.go
  huaweicloud/services/cci/resource_huaweicloud_cci_network.go
Labels: size/M, bugfix

#3509 feat(MRS): add a new datasource to get avaiable versions
  docs/data-sources/mapreduce_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/mrs/data_source_huaweicloud_mapreduce_versions_test.go
  huaweicloud/services/mrs/data_source_huaweicloud_mapreduce_versions.go
Labels: size/M, feature, LGTM

#3481 feat(Organizations): organization support enable policy
  docs/data-sources/organizations_organization.md
  docs/resources/organizations_organization.md
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_organization_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_organization_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_organization.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_organization.go
Labels: size/M, feature, LGTM

#3488 feat(MRS): add a new datasource to get clusters
  docs/data-sources/mapreduce_clusters.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/mrs/data_source_huaweicloud_mapreduce_clusters_test.go
  huaweicloud/services/mrs/data_source_huaweicloud_mapreduce_clusters.go
Labels: size/XL, feature, LGTM

#3511 docs(dws): add cluster_id to examples as it's required
  docs/resources/dws_ext_data_source.md
Labels: documentation, size/XS, LGTM

#3518 docs(ims): add os_version valid values link
  docs/data-sources/images_image.md
  docs/data-sources/images_images.md
  docs/resources/images_image.md
Labels: documentation, size/XS, LGTM

#3501 feat(OBS): OBS bucket resource support user domain names
  docs/resources/obs_bucket.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
Labels: size/M, feature, LGTM

#3515 fix(GaussDB): fix open gauss mysql parameter template
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template.go
Labels: size/S, bugfix, safe to test

#3516 fix(apig): fix code check for resource apig/apigateway
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_environments_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_publishment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_custom_authorizer_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_environment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_environments.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api_publishment.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application.go
  huaweicloud/services/apig/resource_huaweicloud_apig_custom_authorizer.go
  huaweicloud/services/apig/resource_huaweicloud_apig_environment.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance_routes.go
  huaweicloud/services/apig/resource_huaweicloud_apig_response.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy_associate.go
Labels: size/M, bugfix, LGTM

#3491 feat(Organizations): add organizations policy resource
  docs/resources/organizations_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_policy_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_organization.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_policy.go
Labels: size/L, feature, LGTM

#3521 fix(cbh): fix codecheck for resource cbh
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/XS, bugfix, LGTM

#3490 fix(bms): fix codecheck for bms
  huaweicloud/services/acceptance/bms/data_source_huaweicloud_bms_flavors_test.go
  huaweicloud/services/acceptance/bms/resource_huaweicloud_bms_instance_test.go
  huaweicloud/services/bms/data_source_huaweicloud_bms_flavors.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
Labels: size/M, bugfix, LGTM

#3527 test(Organizations): fix organizations policy test
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_policy_test.go
Labels: size/XS, bugfix, test

#3496 feat(LTS): add a LTS data source to query custom templates
  docs/data-sources/lts_structuring_custom_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_structuring_custom_templates_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_structuring_custom_templates.go
Labels: size/L, feature, LGTM

#3512 feat(IdentityCenter): add identity center custom policy
  docs/incubating/identitycenter_custom_policy_attachment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_custom_policy_attachment_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_custom_policy_attachment.go
Labels: size/L, feature, LGTM

#3514 feat(smn): add new data_source message_templates
  docs/data-sources/smn_message_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/data_source_huaweicloud_smn_message_templates_test.go
  huaweicloud/services/smn/data_source_huaweicloud_smn_message_templates.go
Labels: size/L, feature, LGTM

#3513 fix(MRS): fix the acceptance test error
  docs/resources/mapreduce_cluster.md
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
Labels: size/M, bugfix, LGTM

#3517 feat(LTS): LTS add a resource to manage LTS access WAF logs configura…
  docs/resources/lts_waf_access.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_waf_access_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_waf_access.go
Labels: size/L, feature, LGTM

#3494 feat(tms/tags): support new resource to manage tags
  docs/resources/tms_resource_tags.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/tms/resource_huaweicloud_tms_resource_tags_test.go
  huaweicloud/services/tms/resource_huaweicloud_tms_resource_tags.go
  vendor/github.com/chnsz/golangsdk/openstack/tms/v1/resourcetags/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/tms/v1/resourcetags/results.go
  vendor/github.com/chnsz/golangsdk/openstack/tms/v1/resourcetags/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3522 feat(aom): add cmdb component resource
  docs/resources/aom_cmdb_component.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_cmdb_component_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cmdb_component.go
Labels: size/L, feature, LGTM

#3529 feat(CSS): add a new resource to manage yml configuration
  docs/resources/css_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_configuration_test.go
  huaweicloud/services/css/resource_huaweicloud_css_configuration.go
Labels: size/L, feature, LGTM, safe to test

#3526 fix(WAF): fix waf rule web tamper protection lint error and add new fields
  docs/resources/waf_rule_web_tamper_protection.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_web_tamper_protection_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_web_tamper_protection.go
Labels: size/M, bugfix, LGTM

#3510 feat(apig/channel): new cce workload params used
  docs/resources/apig_channel.md
  huaweicloud/services/apig/resource_huaweicloud_apig_channel.go
Labels: size/S, feature, LGTM

#3532 fix(WAF): waf rule blacklist fix lint error and add new fields
  docs/resources/waf_rule_blacklist.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_blacklist_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_blacklist.go
Labels: size/M, bugfix, LGTM

#3476 fix(ecs): support ecs update hostname
  docs/resources/compute_instance.md
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/S, bugfix, LGTM

#3499 feat(tms/resources): add new data source support
  docs/data-sources/tms_resource_types.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/tms/data_source_huaweicloud_tms_resource_types_test.go
  huaweicloud/services/tms/data_source_huaweicloud_tms_resource_types.go
  vendor/github.com/chnsz/golangsdk/openstack/tms/v1/providers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/tms/v1/providers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/tms/v1/providers/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, safe to test

#3541 docs(apig/channel): fix the wrong example content
  docs/resources/apig_channel.md
Labels: documentation, size/XS, LGTM

#3543 chore(ci): disable unchecked-type-assertion rule
  .golangci.yml
Labels: size/XS, chore

#3535 feat(vpn): add new data source gateway availability zones
  docs/data-sources/vpn_gateway_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_gateway_availability_zones_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_gateway_availability_zones.go
Labels: size/M, feature, LGTM

#3525 feat(Organizations): add organizations policies data source
  docs/data-sources/organizations_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_policies_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_policies.go
Labels: size/L, feature, LGTM

#3533 feat(DCS): dcs instance support parameters
  docs/resources/dcs_instance.md
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/datamasking_rules/results.go
Labels: size/L, feature, LGTM

#3537 feat(aom): add cmdb environment resource
  docs/resources/aom_cmdb_environment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_cmdb_environment_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cmdb_environment.go
Labels: size/L, feature, LGTM

#3551 docs(Organizations): fix organizations policies doc
  docs/data-sources/organizations_policies.md
Labels: documentation, size/XS

#3539 fix(ecs/flavors): return empty list instead of raising error
  docs/data-sources/compute_flavors.md
  huaweicloud/services/ecs/data_source_huaweicloud_compute_flavors.go
Labels: size/S, bugfix, LGTM, safe to test

#3528 fix(WAF): waf rule precise protection resource suppport new field and fix some error
  docs/resources/waf_rule_precise_protection.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_precise_protection_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_precise_protection.go
Labels: size/M, bugfix, LGTM

#3530 fix(WAF): waf rule data masking fix lint error and add new fields
  docs/resources/waf_rule_data_masking.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_data_masking_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_data_masking.go
Labels: size/M, bugfix, LGTM

#3548 test(RDS): fix rds test
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_backup_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/common.go
Labels: size/L, LGTM, test

#3552 fix(CPTS): fix cpts task lint
  huaweicloud/services/acceptance/cpts/resource_huaweicloud_cpts_task_test.go
  huaweicloud/services/cpts/resource_huaweicloud_cpts_task.go
Labels: size/XS, bugfix, LGTM

#3503 fix(cci): relocate the cci_pvc resource code to the services directory
  docs/resources/cci_pvc.md
  huaweicloud/provider.go
  huaweicloud/provider_test.go
  huaweicloud/resource_huaweicloud_cci_pvc_test.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_pvc_test.go
  huaweicloud/services/cci/resource_huaweicloud_cci_pvc.go
Labels: size/L, bugfix, LGTM

#3545 fix: set the service endpoints are regional in Europe site
  huaweicloud/provider.go
Labels: size/XS, bugfix, LGTM

#3546 feat(ECS): add dss_pool_id field
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#3538 feat(vpn): add new data_source vpn gateways
  docs/data-sources/vpn_gateways.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_gateways_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_gateways.go
Labels: size/L, feature, LGTM

#3557 fix(DC): fix dc task lint
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_gateway_test.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_gateway.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/XS, bugfix, LGTM

#3534 feat(apig): support new data source
  docs/data-sources/apig_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_groups_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_group.go
Labels: size/L, feature, LGTM

#3524 fix(evs): move resource evs file to dir /huaweicloud/service/evs
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_volumes_test.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_snapshot_test.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_volumes.go
  huaweicloud/services/evs/resource_huaweicloud_evs_snapshot.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/L, bugfix, LGTM

#3566 fix(vpc_subnet): update optional fields in the document to mandatory
  docs/resources/vpc_subnet.md
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/S, bugfix

#3560 fix(apig): fix group environment related function
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
Labels: size/XS, bugfix, LGTM

#3540 feat(fgs): add a data source to query functions
  docs/data-sources/fgs_functions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_functions_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_functions.go
Labels: size/L, bugfix, feature, LGTM, safe to test

#3536 feat(cbr/checkpoint): add new resource support
  docs/resources/cbr_checkpoint.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_checkpoint_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_checkpoint.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/checkpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/checkpoints/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/checkpoints/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, safe to test

#3571 fix(CPTS): fix project lint
  huaweicloud/services/acceptance/cpts/resource_huaweicloud_cpts_project_test.go
  huaweicloud/services/cpts/resource_huaweicloud_cpts_project.go
  huaweicloud/services/cpts/resource_huaweicloud_cpts_task.go
Labels: size/XS, bugfix, LGTM

#3544 feat(ELB): add elb loadbalancers data source
  docs/data-sources/elb_loadbalancers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_loadbalancers_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_loadbalancers.go
Labels: size/L, feature, LGTM

#3553 fix(WAF): fix waf certificate lint error and support updating certificate and private key
  docs/resources/waf_certificate.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_certificate_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_certificate.go
  huaweicloud/utils/diff_suppress_funcs.go
Labels: size/M, bugfix, LGTM

#3568 fix(VPCEP): VPCEP service support parameter `enable_policy`
  docs/resources/vpcep_service.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_service_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/results.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM

#3565 feat(eg/subscription): sources and targets can be saved and support i…
  docs/resources/eg_event_subscription.md
  huaweicloud/services/acceptance/eg/resource_huaweicloud_eg_event_subscription_test.go
  huaweicloud/services/eg/resource_huaweicloud_eg_event_subscription.go
Labels: size/L, feature, LGTM

#3562 fix(cdn): move resource cdn file to dir /huaweicloud/service/cdn
  huaweicloud/provider.go
  huaweicloud/provider_test.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/L, bugfix, LGTM

#3579 chore(eg/subscription): update the parameter description and error msg
  docs/resources/eg_event_subscription.md
  huaweicloud/services/eg/resource_huaweicloud_eg_event_subscription.go
Labels: size/XS, chore, LGTM

#3569 fix(CSE): fix cse lint
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_engine_test.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_instance_test.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_test.go
  huaweicloud/services/cse/config.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_engine.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_instance.go
Labels: size/S, bugfix, LGTM

#3582 fix(eg/subscription): remove maxitem for type set schema
  huaweicloud/services/eg/resource_huaweicloud_eg_event_subscription.go
Labels: size/XS, bugfix

#3587 fix(apig/groups): fix file name error
  huaweicloud/services/apig/data_source_huaweicloud_apig_groups.go
Labels: size/XS, bugfix

#3572 fix(DDS): fix dds task lint
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_flavors_v3_test.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_instances_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_role_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_user_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_flavors_v3.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_instances.go
  huaweicloud/services/dds/resource_huaweicloud_dds_database_role.go
  huaweicloud/services/dds/resource_huaweicloud_dds_database_user.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/L, bugfix, LGTM

#3578 fix(vpc): add networking_secgroup_rule md example and ut
  docs/resources/networking_secgroup_rule.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_networking_secgroup_rule_test.go
Labels: size/S, bugfix, LGTM

#3567 feat(smn): Add Resource huaweicloud_smn_logtank
  docs/resources/smn_logtank.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_logtank_test.go
  huaweicloud/services/smn/resource_huaweicloud_smn_logtank.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/logtank/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/logtank/results.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/logtank/urls.go
Labels: size/L, bugfix, feature, LGTM, safe to test

#3590 fix(CodeArts): fix codearts instance resource lint error
  huaweicloud/services/acceptance/codearts/resource_huaweicloud_codearts_deploy_host_test.go
  huaweicloud/services/acceptance/codearts/resource_huaweicloud_codearts_project_test.go
  huaweicloud/services/acceptance/codearts/resource_huaweicloud_codearts_repository_test.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_project.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_repository.go
Labels: size/S, bugfix, LGTM

#3583 feat(DCS): add dcs custom template resource
  docs/resources/dcs_custom_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_custom_template_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_custom_template.go
Labels: size/L, feature, LGTM

#3585 feat(DCS): add dcs template data sources
  docs/data-sources/dcs_template_detail.md
  docs/data-sources/dcs_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_template_detail_test.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_templates_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_template_detail.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_templates.go
Labels: size/L, feature, LGTM

#3576 fix(antiddos/precheck): update refresh logic of the precheck
  huaweicloud/services/antiddos/resource_huaweicloud_antiddos_basic.go
Labels: size/S, bugfix, LGTM

#3588 fix(CTS): cts supports the cross account feature
  docs/resources/cts_tracker.md
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/S, bugfix, LGTM

#3589 fix(DSC): fix dsc product id
  huaweicloud/services/dsc/resource_huaweicloud_dsc_instance.go
Labels: size/M, bugfix

#3573 feat: chore(eps): refactor public method and support vpc param update
  docs/resources/vpc.md
  go.mod
  go.sum
  huaweicloud/common/common.go
  huaweicloud/common/eps_management.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/eps/v1/enterpriseprojects/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/eps/v1/enterpriseprojects/results.go
  vendor/modules.txt
Labels: size/L, chore, feature, dependencies, LGTM

#3592 changelog: Update CHANGELOG for v1.57.0
  CHANGELOG.md
Labels: size/S
