Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-08, with the labels that each got.

#3257 fix(VPCEP): fix vpcep approval resource test duplicate resource name …
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_approval_test.go
Labels: size/XS, bugfix

#3255 chore: fix lint issues for IAM identity provider
  docs/resources/identity_provider.md
  docs/resources/identity_provider_conversion.md
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_provider_conversion_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_provider_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_provider.go
  huaweicloud/services/iam/resource_huaweicloud_identity_provider_conversion.go
Labels: size/M, chore, LGTM

#3258 fix(RDS): fix rds az panic error
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XS, bugfix, LGTM

#3254 feat(ELB): elb loadbalancer add params
  docs/resources/elb_loadbalancer.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, safe to test

#3251 fix(cts): create system tracker if it does not exist
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/M, bugfix, refactor, LGTM, safe to test

#3260 chore: fix lint issues of bandwidth
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_bandwidth.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth.go
Labels: size/M, chore, LGTM, safe to test

#3262 fix(DCS): fix dcs test and wait status
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/L, bugfix, LGTM

#3241 feat(modelarts): add a new resource to manage workspace
  docs/resources/modelarts_workspace.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_workspace_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_workspace.go
Labels: size/L, feature, LGTM, safe to test

#3253 feat(Modelarts): add a new datasource to get models
  docs/data-sources/modelarts_models.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_models_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_models.go
Labels: size/L, feature, LGTM

#3263 chore(eip): adapt the break change of golandsdk@44eb550
  go.mod
  go.sum
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/bandwidths/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/bandwidths/results.go
  vendor/modules.txt
Labels: size/M, chore, dependencies, LGTM

#3264 test(apig): remove the output and use attribute reference to instead.
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
Labels: size/XS, LGTM, test

#3269 docs(IMS): fix images image doc
  docs/resources/images_image.md
Labels: documentation, size/XS, bugfix

#3270 docs(DCS): fix dcs instance doc
  docs/resources/dcs_instance.md
Labels: documentation, size/XS, bugfix, LGTM

#3265 feat: support pre-paid charging mode for bandwidth
  docs/resources/vpc_bandwidth.md
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth.go
Labels: size/M, feature, LGTM

#3271 fix(provider): set the default auth_url with region field
  huaweicloud/provider.go
Labels: size/XS, bugfix, LGTM

#3274 feat(ELB): elb pool add params
  docs/resources/elb_pool.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_pool_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/blockstorage/v2/volumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/blockstorage/v2/volumes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/monitors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/monitors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/pools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/pools/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/roles/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3275 feat(ELB): elb monitor add params
  docs/resources/elb_monitor.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_monitor_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_monitor.go
Labels: size/M, feature, LGTM, safe to test

#3282 feat(ecs): add iops and throughput to disk
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/l7policies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/l7policies/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3285 feat(smn): support access_policy in topic
  huaweicloud/services/smn/resource_huaweicloud_smn_topic.go
Labels: size/XS, feature, LGTM

#3280 chore: fix lint issues for IAM role and role assignment
  docs/data-sources/identity_custom_role.md
  docs/data-sources/identity_role.md
  docs/resources/identity_group_role_assignment.md
  docs/resources/identity_role.md
  docs/resources/identity_role_assignment.md
  docs/resources/identity_user_role_assignment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_custom_role_test.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_role_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_role_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_role_assignment_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_custom_role.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_role.go
  huaweicloud/services/iam/resource_huaweicloud_identity_group_role_assignment.go
  huaweicloud/services/iam/resource_huaweicloud_identity_role.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user_role_assignment.go
Labels: size/L, chore, LGTM

#3250 fix(EVS): EVS resource support job status refresh
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/urls.go
  vendor/modules.txt
Labels: size/M, bugfix, LGTM, safe to test

#3277 feat(iam): add a new data source to query permissions
  docs/data-sources/identity_permissions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_permissions_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_permissions.go
Labels: size/L, feature, LGTM

#3290 refactor(cce): rename node_multi_queue to nic_multi_queue
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
  huaweicloud/services/cce/common.go
Labels: size/XS, refactor

#3291 chore: fix lint issues for IAM project
  docs/data-sources/identity_projects.md
  docs/resources/identity_project.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_projects_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_project_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_projects.go
  huaweicloud/services/iam/resource_huaweicloud_identity_project.go
Labels: size/M, chore, LGTM

#3289 feat(ELB): elb pools data source add parmas
  docs/data-sources/elb_pools.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_pools_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_pools.go
Labels: size/M, feature, LGTM

#3279 feat(ELB): elb l7 rule add params
  docs/resources/elb_l7rule.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_l7rule_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7rule.go
Labels: size/L, feature, LGTM

#3292 feat(identitycenter): provision the Permission Set to all assigned accounts
  docs/incubating/identitycenter_permission_set.md
  docs/incubating/identitycenter_system_policy_attachment.md
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_permission_set.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_system_policy_attachment.go
Labels: size/M, feature, LGTM

#3293 chore: Revert "refactor(cce): rename node_multi_queue to nic_multi_queue"
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
  huaweicloud/services/cce/common.go
Labels: size/XS, chore

#3284 feat(IdentityCenter): add Identity Center group membership
  docs/incubating/identitycenter_group_membership.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_group_membership_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_group_membership.go
Labels: size/L, feature, LGTM

#3294 fix(IdentityCenter): fix identitycenter user test and doc
  docs/incubating/identitycenter_user.md
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_user_test.go
Labels: size/XS, bugfix, LGTM

#3295 chore: fix lint issues for IAM resources
  docs/resources/identity_acl.md
  docs/resources/identity_agency.md
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_access_key_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_acl_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_agency_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_access_key.go
  huaweicloud/services/iam/resource_huaweicloud_identity_acl.go
Labels: size/M, chore, LGTM

#3298 docs(ELB): fix lb loadbalancer doc
  docs/resources/lb_loadbalancer.md
Labels: documentation, size/XS, bugfix, LGTM

#3299 fix(ecs): fix crash when scheduler_hints is empty
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/XS, bugfix, LGTM

#3296 feat(cce): support dss in node and node pool
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  go.mod
  go.sum
  huaweicloud/services/cce/common.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3281 feat(cfw): add new EIP protection resource
  docs/resources/cfw_eip_protection.md
  go.mod
  go.sum
  huaweicloud/config/auth.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_eip_protection_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_eip_protection.go
  vendor/github.com/chnsz/golangsdk/auth/CHANGELOG.md
  vendor/github.com/chnsz/golangsdk/auth/core/signer/README.md
  vendor/github.com/chnsz/golangsdk/auth/core/signer/escape.go
  vendor/github.com/chnsz/golangsdk/auth/core/signer/signer.go
  vendor/github.com/chnsz/golangsdk/auth/signer_helper.go
  vendor/github.com/chnsz/golangsdk/provider_client.go
  vendor/github.com/chnsz/golangsdk/signer_helper.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies

#3300 changelog: Update CHANGELOG for v1.54.0
  CHANGELOG.md
Labels: size/XS

#3301 fix(IdentityCenter): add description to schema and delete needless docs
  docs/json/resources/identitycenter_group.json
  docs/json/resources/identitycenter_group_membership.json
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_group.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_group_membership.go
Labels: size/S, bugfix

#3303 feat(cce): support extension nics in the node
  docs/resources/cce_node.md
  go.mod
  go.sum
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#3304 fix(Organizations): fix organizations account create path
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account.go
Labels: size/XS, bugfix, LGTM

#3306 chore(obs): support the deleted check and refactor error check
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_policy.go
Labels: size/XS, chore, LGTM

#3307 feat(cce): add dedicated_host_id and initialized_conditions in node and node pool
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/S, feature, LGTM

#3309 chore(config): add metadata to config
  huaweicloud/config/config.go
Labels: size/XS, chore

#3311 fix(lts): Add deleted check and update docs
  docs/resources/lts_struct_template.md
  huaweicloud/resource_huaweicloud_lts_stream.go
Labels: size/XS, bugfix, LGTM

#3314 docs: update docs of compute instance and vpc subnet
  docs/resources/compute_instance.md
  docs/resources/vpc_subnet.md
Labels: size/S, documentation

#3315 refactor(utils): improve on RemoveNil and PasswordEncrypt test case
  huaweicloud/utils/password_encrypt.go
  huaweicloud/utils/utils_test.go
Labels: size/S, refactor

#3313 changelog: Update CHANGELOG for v1.54.1
  CHANGELOG.md
Labels: size/XS

#3302 feat(DNS): add a new data source dns zones
  docs/data-sources/dns_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_zones_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_zones.go
Labels: size/L, feature, LGTM, safe to test

#3308 feat(DNS): add a new datasource DNS recordsets
  docs/data-sources/dns_recordsets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_recordsets_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_recordsets.go
Labels: size/L, feature, LGTM, safe to test

#3319 feat(iam): support IAM user SSO type for identity provider
  docs/resources/identity_provider.md
  huaweicloud/services/iam/resource_huaweicloud_identity_provider.go
Labels: size/S, feature, LGTM

#3317 feat(Modelarts): add a datasource to get model templates
  docs/data-sources/modelarts_model_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_model_templates_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_model_templates.go
Labels: size/L, feature, LGTM

#3312 feat(MRS): support bootstrap script
  docs/resources/mapreduce_cluster.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v1/cluster/results.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v2/clusters/requests.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3320 docs(ELB): fix ELB loadbalancer doc
  docs/resources/elb_loadbalancer.md
Labels: documentation, size/XS, bugfix, LGTM

#3318 feat: chore(apig): support APPCODE resource and update the old parameter
  docs/resources/apig_application_code.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_appcode_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_appcode.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application.go
Labels: size/L, chore, feature, LGTM

#3321 feat(iam/user): support external_identity_id param
  docs/resources/identity_user.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/users/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/users/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies

#3288 feat(LTS): add a new resource to manage transfer
  docs/resources/lts_transfer.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_transfer_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_transfer.go
Labels: size/XL, feature, LGTM, safe to test

#3297 feat(modelarts): add a new resourse to manage authorization
  docs/resources/modelarts_authorization.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_authorization_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_authorization.go
Labels: size/L, feature

#3323 feat(fgs): function supports configuring dns network
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3322 refactor(cce): replace extend_param with extend_params in cluster
  docs/resources/cce_cluster.md
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
Labels: size/M, refactor, LGTM

#3328 feat(iam): support clear the description of user
  go.mod
  go.sum
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/users/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/policies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/policies/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3325 fix(sms): fix panic in target_server_disks block
  docs/resources/sms_task.md
  huaweicloud/services/sms/resource_huaweicloud_sms_task.go
Labels: size/XS, bugfix, LGTM

#3337 chore(antiddos): move antiddos data source to deprecated
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/data_source_huaweicloud_antiddos_v1_test.go
  huaweicloud/services/deprecated/data_source_huaweicloud_antiddos_v1.go
Labels: size/XS, chore, LGTM

#3332 fix(aad): fix huaweicloud_aad_forward_rule unit test file name
  huaweicloud/services/acceptance/aad/resource_huaweicloud_aad_forward_rule_test.go
Labels: size/XS, bugfix

#3334 fix(meeting): fix unit test file name
  huaweicloud/services/acceptance/meeting/resource_huaweicloud_meeting_admin_assignment_test.go
Labels: size/XS, bugfix

#3335 fix(apigateway): fix unit test file name
  huaweicloud/services/acceptance/apigateway/resource_huaweicloud_api_gateway_environment_test.go
Labels: size/XS, bugfix

#3333 fix(cbh): fix huaweicloud_cbh_instances unit test file name
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_instances_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_instances.go
Labels: size/XS, bugfix

#3336 refactor(cce/node_pool): remove out of date arguments in update request
  go.mod
  go.sum
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/requests.go
  vendor/modules.txt
Labels: size/S, refactor, dependencies, LGTM

#3327 feat: add new data source to query the current account
  docs/data-sources/account.md
  huaweicloud/data_source_huaweicloud_account.go
  huaweicloud/data_source_huaweicloud_account_test.go
  huaweicloud/provider.go
Labels: size/M, feature, LGTM

#3331 chore(lts): move group and stream into service dir and fix lint issues
  docs/resources/lts_group.md
  docs/resources/lts_stream.md
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_lts_group.go
  huaweicloud/resource_huaweicloud_lts_group_test.go
  huaweicloud/resource_huaweicloud_lts_stream.go
  huaweicloud/resource_huaweicloud_lts_stream_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_group_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_stream_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_group.go
  huaweicloud/services/lts/resource_huaweicloud_lts_stream.go
Labels: size/L, documentation, bugfix, chore, LGTM, safe to test

#3341 chore: refactor(cfw): update some parameter's behavior
  docs/resources/cfw_address_group_member.md
  docs/resources/cfw_black_white_list.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_address_group_member_test.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_black_white_list_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group_member.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_black_white_list.go
Labels: size/S, chore, refactor, LGTM

#3330 fix(nat): add Computed to port_id and private_ip
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_dnat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_dnat_rule.go
Labels: size/S, bugfix, LGTM

#3338 docs: update version syntax
  docs/index.md
Labels: documentation, size/XS, LGTM

#3340 chore: fix typo of huaweicloud in file name
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_attachments_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_instances_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_prometheus_instance.go
  huaweicloud/services/lts/resource_huaweicloud_lts_struct_template.go
Labels: size/XS, chore, LGTM

#3344 chore(kms): move kms data key data source to services
  huaweicloud/data_source_huaweicloud_kms_data_key_v1_test.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kms_data_key_test.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kms_key_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_data_key.go
Labels: size/M, chore, LGTM

#3351 chore(hcs/cfw): cherry-pick PR 3341
  docs/resources/cfw_address_group_member.md
  docs/resources/cfw_black_white_list.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_address_group_member_test.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_black_white_list_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group_member.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_black_white_list.go
Labels: size/S, chore, LGTM

#3326 fix: feat(WAF): WAF policy fix lint error and support new fields
  docs/resources/waf_policy.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_policy_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_policy.go
Labels: size/L, bugfix, feature

#3350 fix(provider): unset port number in default auth_url
  docs/index.md
  huaweicloud/provider.go
Labels: size/XS, bugfix, LGTM

#3346 feat(lts): support tags for log group and support eps_id for log stream
  docs/resources/lts_group.md
  docs/resources/lts_stream.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_group_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_stream_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_group.go
  huaweicloud/services/lts/resource_huaweicloud_lts_stream.go
  vendor/github.com/chnsz/golangsdk/openstack/lts/huawei/loggroups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/lts/huawei/loggroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/lts/huawei/logstreams/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/lts/huawei/logstreams/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3347 feat(ModelArts): add a new datasource to get workspaces
  docs/data-sources/modelarts_workspaces.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_workspaces_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_workspaces.go
Labels: size/L, feature, LGTM

#3329 feat(RDS): add rds instance params and fix deletion method
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/common.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/M, feature, LGTM

#3352 chore(apig): add a pre-check before querying special throttles
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy.go
Labels: size/S, chore

#3342 feat(RDS): add rds mysql account params and rewrite for all
  docs/resources/rds_mysql_account.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_account_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_privilege_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_account.go
Labels: size/L, feature, LGTM

#3354 fix(cce/node_attach): add initialized_conditions as an attribute
  docs/resources/cce_node_attach.md
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
Labels: size/XS, bugfix, LGTM

#3345 feat(RDS): rewrite rds mysql database
  docs/resources/rds_mysql_database.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_privilege_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database.go
Labels: size/L, feature, LGTM

#3353 feat(RocketMQ): fix rocketmq instance params access_key and secret_key
  docs/resources/dms_rocketmq_user.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_user_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_user.go
Labels: size/S, bugfix, feature, LGTM

#3358 fix(WAF): fix the WAF group test error
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_instance_group_associate_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_instance_group_test.go
Labels: size/XS, bugfix

#3361 fix: get project_id from caller when migrating EPS
  huaweicloud/common/common.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
Labels: size/S, bugfix, LGTM

#3363 fix(provider): support HW_ASSUME_ROLE env without assume_role block
  huaweicloud/provider.go
Labels: size/XS, bugfix, LGTM

#3355 fix(CBH): fix cbh instance eip
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/XS, bugfix, LGTM

#3356 feat(CodeArts): add a new resource codearts deploy group
  docs/resources/codearts_deploy_group.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/codearts/resource_huaweicloud_codearts_deploy_group_test.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_deploy_group.go
Labels: size/L, feature

#3348 feat(cce): add some new parameters in the cluster
  docs/resources/cce_cluster.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies

#3367 feat(az): set region as an attribute with the az data source
  huaweicloud/data_source_huaweicloud_availability_zones.go
Labels: size/XS, feature, LGTM

#3343 feat(apig): support new resource to authorize application
  docs/resources/apig_application_authorization.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_authorization_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application_authorization.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/appauths/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/appauths/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/appauths/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3357 fix(provider): validate region when using customizing endpoints
  huaweicloud/config/config.go
Labels: size/XS, bugfix, LGTM

#3366 feat(RDS): rds instance support update fixed ip
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/securities/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3364 feat(RDS): rewrite rds mysql database privilege
  docs/resources/rds_mysql_database_privilege.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_privilege_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database_privilege.go
Labels: size/L, feature, LGTM

#3370 fix(RDS): rds resouce add auto generate code title
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_account.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database_privilege.go
Labels: size/XS, bugfix

#3339 feat(modelarts): add a new data source to get services
  docs/data-sources/modelarts_services.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_services_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_services.go
Labels: size/L, feature, LGTM

#3371 chore: update the product of gaussdb for mysql and opengauss
  huaweicloud/config/endpoints.go
Labels: size/XS, chore

#3359 feat(Modelarts): add a new datasource to get resource flavors
  docs/data-sources/modelarts_resource_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelarts_resource_flavors_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_resource_flavors.go
Labels: size/L, feature

#3365 fix(MRS): fix the problem of tags API
  docs/resources/mapreduce_cluster.md
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
Labels: size/S, bugfix

#3372 changelog: Update CHANGELOG for v1.55.0
  CHANGELOG.md
Labels: size/S

#3373 test(cce): update the test cases of node pool
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_node_pool_v3_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_addon_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
Labels: size/S, LGTM, test
