Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-12, with the labels that each got.

#3778 chore: delete yamls without API information
  docs/api/data_source_huaweicloud_ccm_private_certificate_export.yaml
  docs/api/data_source_huaweicloud_dms_rocketmq_consumer_groups.yaml
  docs/api/data_source_huaweicloud_dms_rocketmq_topics.yaml
  docs/api/data_source_huaweicloud_dms_rocketmq_users.yaml
  docs/api/data_source_huaweicloud_elb_ipgroups.yaml
  docs/api/data_source_huaweicloud_elb_l7policies.yaml
  docs/api/data_source_huaweicloud_elb_l7rules.yaml
  docs/api/data_source_huaweicloud_elb_listeners.yaml
  docs/api/data_source_huaweicloud_elb_loadbalancers.yaml
  docs/api/data_source_huaweicloud_elb_logtanks.yaml
  docs/api/data_source_huaweicloud_elb_members.yaml
  docs/api/data_source_huaweicloud_elb_security_policies.yaml
  docs/api/data_source_huaweicloud_er_availability_zones.yaml
  docs/api/resource_huaweicloud_ccm_private_ca.yaml
  docs/api/resource_huaweicloud_ccm_private_certificate.yaml
  docs/api/resource_huaweicloud_dms_kafka_consumer_group.yaml
  docs/api/resource_huaweicloud_dns_line_group.yaml
  docs/api/resource_huaweicloud_rds_pg_plugin.yaml
  docs/api/resource_huaweicloud_sfs_turbo_dir.yaml
  docs/api/resource_huaweicloud_sfs_turbo_dir_quota.yaml
  docs/api/resource_huaweicloud_vpc_bandwidth.yaml
Labels: size/M, chore

#3775 feat(RDS): add rds mysql binlog resource
  docs/resources/rds_mysql_binlog.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_binlog_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_binlog.go
Labels: size/L, feature, LGTM

#3780 docs(workspace/flavors): modified the description of the document title
  docs/data-sources/workspace_flavors.md
Labels: documentation, size/XS, LGTM

#3788 fix(waf): supplement the remaining 6 fields for waf
  docs/resources/waf_domain.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
Labels: size/L, bugfix, LGTM

#3787 fix(workspace/desktop): raise error if security groups not found
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/XS, bugfix, LGTM

#3790 feat(vpn): add data_source_vpn_connection_health_checks
  docs/data-sources/vpn_connection_health_checks.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_connection_health_checks_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_connection_health_checks.go
  vendor/github.com/chnsz/golangsdk/openstack/vpn/v5/connection_monitors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpn/v5/connection_monitors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/vpn/v5/connection_monitors/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3795 docs(lts): fix a misspell in keywords_alarm_rule doc
  docs/resources/lts_keywords_alarm_rule.md
Labels: documentation, size/XS, LGTM

#3784 feat(DMS): add resource kafka smart connect
  docs/resources/dms_kafka_smart_connect.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_smart_connect_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_smart_connect.go
Labels: size/L, feature, LGTM

#3793 feat(dataarts): add a new resource to manage app
  docs/resources/dataarts_service_app.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_service_app_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_service_app.go
Labels: size/L, feature, LGTM

#3791 feat(dataarts): add resource dataarts studio directory
  docs/resources/dataarts_studio_directory.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_service_app_test.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_directory_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_directory.go
Labels: size/L, feature, LGTM

#3704 fix(APIG): fix typos
  docs/resources/aad_forward_rule.md
  docs/resources/apig_api.md
  docs/resources/apig_application_authorization.md
  docs/resources/apig_custom_authorizer.md
Labels: size/XS, bugfix, LGTM

#3796 fix(dli): fix acctest for dli table parameter partition columns
  go.mod
  go.sum
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_table_test.go
  vendor/github.com/chnsz/golangsdk/openstack/bss/v2/orders/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/bss/v2/orders/results.go
  vendor/github.com/chnsz/golangsdk/openstack/bss/v2/orders/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/tables/results.go
  vendor/github.com/chnsz/golangsdk/openstack/opengauss/v3/instances/requests.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM

#3807 docs: fix MD045 - images with alternate text
  .markdownlint.json
  README.md
Labels: documentation, size/XS

#3797 feat(workspace): desktop resource support eip_id field
  docs/resources/workspace_desktop.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3804 fix(OBS): fix the bug of obs encryption configuration
  docs/resources/obs_bucket.md
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
Labels: size/S, bugfix, LGTM

#3805 fix(EPS): rename the enterprise projects markdown file
  docs/data-sources/enterprise_projects.md
Labels: size/XS, bugfix, LGTM

#3800 feat(RDS): add a new datasource to query the list of MySQL databases
  docs/data-sources/rds_mysql_databases.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_databases_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_mysql_databases.go
Labels: size/M, feature, LGTM

#3806 feat(WAF): add datasource to query the list of the address group
  docs/data-sources/waf_address_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_address_groups_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_address_groups.go
Labels: size/L, feature, LGTM

#3818 Revert "feat(workspace): desktop resource support eip_id field"
  docs/resources/workspace_desktop.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/urls.go
  vendor/modules.txt
Labels: size/L, dependencies

#3798 feat(nat): add a new datasource to query the list of private nat gateway
  docs/data-sources/nat_private_gateways.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_gateways_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_gateways.go
Labels: size/L, feature, LGTM, safe to test

#3801 feat(dataarts): add resource dataarts studio permission set
  docs/resources/dataarts_studio_permission_set.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_permission_set_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_permission_set.go
Labels: size/L, feature, LGTM

#3803 feat(CCM): update certificate export
  docs/data-sources/ccm_private_certificate_export.md
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_ccm_private_certificate_export_test.go
  huaweicloud/services/ccm/data_source_huaweicloud_ccm_private_certificate_export.go
Labels: size/M, feature, LGTM, safe to test

#3823 docs(mrs): move mrs_cluster and mrs_job to deprecated
  docs/resources/mrs_cluster.md
  docs/resources/mrs_job.md
Labels: documentation, size/XS, LGTM

#3819 feat(DataArts): add a new resource dataarts studio business metric
  docs/resources/dataarts_studio_business_metric.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_business_metric_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_business_metric.go
Labels: size/L, feature, LGTM

#3811 feat(dataarts): add resource dataarts studio subject
  docs/resources/dataarts_studio_subject.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_subject_test.go
  huaweicloud/services/dataarts/resource_huawei_cloud_dataarts_studio_subject.go
Labels: size/L, feature

#3802 feat(dataarts): add resource dataarts studio resource
  docs/resources/dataarts_studio_resource.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_resource_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_resource.go
Labels: size/L, feature, LGTM

#3789 feat(workspace): add user group resource support
  docs/resources/workspace_user_group.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_user_group_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_user_group.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/groups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/groups/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies

#3817 docs(eps): update resource support list
  docs/data-sources/enterprise_project.md
Labels: size/M, documentation, LGTM

#3824 feat(workspace): desktop support update network
  docs/resources/workspace_desktop.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3816 feat(RDS): add a new datasource to query the list of MySQL accounts
  docs/data-sources/rds_mysql_accounts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_accounts_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_mysql_accounts.go
Labels: size/M, feature, LGTM

#3826 feat(DMS): add attribute description for resource kafka user
  docs/resources/dms_kafka_user.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_user_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_user.go
Labels: size/S, feature, LGTM

#3783 feat(RDS): add rds parametergroups datasource
  docs/data-sources/rds_parametergroups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_parametergroups_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_parametergroups.go
Labels: size/L, feature, LGTM

#3808 feat(vpn): huaweicloud_vpn_customer_gateway support ca_certificate
  docs/resources/vpn_customer_gateway.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_customer_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_customer_gateway.go
Labels: size/M, feature, LGTM

#3825 feat(OBS): obs support SSE-OBS encryption mode
  docs/resources/obs_bucket.md
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
Labels: size/M, feature, LGTM

#3821 feat(WAF): add datasource to query the list of the dedicated domains
  docs/data-sources/waf_dedicated_domains.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_dedicated_domains_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_dedicated_domains.go
Labels: size/L, feature, LGTM, safe to test

#3830 feat(cfw): add new resource firewall
  docs/resources/cfw_firewall.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_firewall_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
Labels: size/XL, feature, LGTM

#3829 fix(ecs): select the correct filter server in data source
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instance.go
Labels: size/XS, bugfix, LGTM

#3827 feat(er/attachment): support the associated and resource_id attributes
  docs/data-sources/er_attachments.md
  huaweicloud/services/er/data_source_huaweicloud_er_attachments.go
Labels: size/XS, feature, LGTM

#3828 feat(dataarts): add data source dataarts studio workspaces
  docs/data-sources/dataarts_studio_workspaces.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/data_source_huaweicloud_dataarts_studio_workspaces_test.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_instance_test.go
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_studio_workspaces.go
Labels: size/L, feature, LGTM

#3843 chore: rename the dataarts studio service app resource name
  docs/resources/dataarts_studio_service_app.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_service_app_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_service_app.go
Labels: size/XS, chore

#3833 feat: workflow pre release support scan marked API comment file
  .github/workflows/pre-release.yml
Labels: size/XS, feature

#3842 changelog: Update CHANGELOG for v1.59.0
  CHANGELOG.md
Labels: size/M

#3845 fix(workflow): fix the relative path when scanning API
  .github/workflows/pre-release.yml
Labels: size/XS, bugfix

#3846 Update APIs that resources depend-on v1.59.0
  docs/api/data_source_huaweicloud_dataarts_studio_workspaces.yaml
  docs/api/data_source_huaweicloud_nat_private_gateways.yaml
  docs/api/data_source_huaweicloud_rds_mysql_accounts.yaml
  docs/api/data_source_huaweicloud_rds_mysql_databases.yaml
  docs/api/data_source_huaweicloud_rds_pg_plugins.yaml
  docs/api/data_source_huaweicloud_vpn_connection_health_checks.yaml
  docs/api/resource_huaweicloud_dataarts_studio_business_metric.yaml
  docs/api/resource_huaweicloud_dataarts_studio_directory.yaml
  docs/api/resource_huaweicloud_dataarts_studio_permission_set.yaml
  docs/api/resource_huaweicloud_dataarts_studio_resource.yaml
  docs/api/resource_huaweicloud_dms_kafka_user.yaml
  docs/api/resource_huaweicloud_workspace_desktop.yaml
  docs/api/resource_huaweicloud_workspace_user_group.yaml
Labels: size/M

#3848 fix(WAF): modify parameters of the address group
  huaweicloud/services/waf/data_source_huaweicloud_waf_address_groups.go
Labels: size/XS, bugfix, LGTM

#3814 feat(ELB): support availability zone modification for resource loadbalance
  docs/resources/elb_loadbalancer.md
  huaweicloud/common/common.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/urls.go
  vendor/modules.txt
Labels: size/M, feature, LGTM

#3838 fix(SFS): fix sfs lint error
  huaweicloud/services/sfs/data_source_huaweicloud_sfs_file_system.go
  huaweicloud/services/sfs/data_source_huaweicloud_sfs_turbos.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_access_rule.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_file_system.go
Labels: size/M, bugfix, LGTM

#3831 feat(dataarts): add resource dataarts studio data recognition rule
  docs/resources/dataarts_studio_data_recognition_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_data_recognition_rule_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_data_recognition_rule.go
Labels: size/L, feature, LGTM

#3839 feat(Config): add rms organizational assignment package
  docs/resources/rms_organizational_assignment_package.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_organizational_assignment_package_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_assignment_package.go
Labels: size/L, feature, LGTM

#3853 fix(organizations/data): do not set region field
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_accounts.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_organizational_units.go
Labels: size/XS, bugfix, LGTM

#3820 feat(nat): add a new datasource to query the list of nat gateway
  docs/data-sources/nat_gateways.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_gateways_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_gateways.go
Labels: size/L, feature, LGTM

#3857 docs: fix ECS example information
  examples/ecs/basic/main.tf
Labels: documentation, size/XS, LGTM

#3812 feat(DMS): add resource smart connect task
  docs/resources/dms_kafka_smart_connect_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_smart_connect_task_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_smart_connect_task.go
Labels: size/L, feature, LGTM, safe to test

#3849 feat(SWR): add data source swr organizations
  docs/data-sources/swr_organizations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_organizations_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_organizations.go
Labels: size/M, feature, LGTM, safe to test

#3858 fix(nat): fix the reference logic error of the enterprise project ID
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_gateways.go
Labels: size/XS, bugfix, LGTM

#3859 docs(workspace): modified the description of the document
  docs/data-sources/workspace_flavors.md
Labels: size/S, documentation, LGTM

#3856 feat(workspace): Support the OTP auxiliary authentication
  docs/resources/workspace_service.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_service_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_service.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3860 fix: add api comments
  huaweicloud/services/ccm/data_source_huaweicloud_ccm_private_certificate_export.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_consumer_groups.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_topics.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_users.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_consumer_group.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_smart_connect.go
  huaweicloud/services/dns/resource_huaweicloud_dns_line_group.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_ipgroups.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_l7policies.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_l7rules.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_listeners.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_loadbalancers.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_logtanks.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_members.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_security_policies.go
  huaweicloud/services/er/data_source_huaweicloud_er_availability_zones.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_pg_plugins.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_plugin.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo_dir.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo_dir_quota.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_address_groups.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_dedicated_domains.go
Labels: size/S, bugfix, LGTM

#3867 chore(DataArts): modify DataArts business metric resource name
  docs/resources/dataarts_architecture_business_metric.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_business_metric_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_business_metric.go
Labels: size/S, bugfix, chore, LGTM

#3854 chore: rename the dataarts studio service app resource name in docs a…
  docs/resources/dataarts_dataservice_app.md
  docs/resources/dataarts_studio_service_app.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_app_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_app.go
Labels: size/M, bugfix, chore

#3868 chore(dataarts): modify dataarts permission set resource name
  docs/resources/dataarts_security_permission_set.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_security_permission_set_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_permission_set.go
Labels: size/S, chore, LGTM

#3870 chore(DataArts): modify DataArts directory and subject resource name
  docs/resources/dataarts_architecture_directory.md
  docs/resources/dataarts_architecture_subject.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_directory_test.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_subject_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_directory.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_subject.go
Labels: size/M, chore, LGTM

#3862 test(DDM): fix ddm schema test
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_schema_test.go
Labels: size/XS, LGTM, test

#3871 chore(DataArts): modify DataArts Security rule resource name
  docs/resources/dataarts_security_data_recognition_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_security_data_recognition_rule_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_data_recognition_rule.go
Labels: size/M, chore, LGTM

#3873 feat(er/attachment): support resource id parameter to query result
  docs/data-sources/er_attachments.md
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_attachments_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_attachments.go
Labels: size/S, feature, LGTM

#3872 fix(vpc): allow create security group rule without remote params
  docs/resources/networking_secgroup_rule.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_networking_secgroup_rule_test.go
  huaweicloud/services/vpc/resource_huaweicloud_networking_secgroup_rule.go
Labels: size/S, bugfix, LGTM

#3874 fix(tms): ignroe 404 error while query resource tags
  huaweicloud/services/tms/resource_huaweicloud_tms_resource_tags.go
Labels: size/XS, bugfix, LGTM

#3877 fix(SWR): fix SWR organization markdown file title error
  docs/data-sources/swr_organizations.md
Labels: size/XS, bugfix, LGTM

#3875 changelog: Update CHANGELOG for v1.59.1
  CHANGELOG.md
Labels: size/S

#3878 fix: fix api comments
  docs/api/data_source_huaweicloud_rds_pg_plugins.yaml
  docs/api/resource_huaweicloud_dms_kafka_smart_connect.yaml
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_smart_connect.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_pg_plugins.go
Labels: size/XS, bugfix

#3864 feat(DMS): add datasource smart connect tasks
  docs/data-sources/dms_kafka_smart_connect_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_smart_connect_tasks_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_smart_connect_tasks.go
Labels: size/L, feature

#3840 refactor(workspace): Image can be queried using dataSource
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_test.go
Labels: size/XS, refactor, LGTM

#3866 feat(VPCEP): add datasource to query the list of VPC endpoint services
  docs/data-sources/vpcep_services.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpcep/data_source_huaweicloud_vpcep_services_test.go
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_services.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3832 feat(dataarts): add process resource support
  docs/resources/dataarts_architecture_process.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_process_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_process.go
Labels: size/L, feature, LGTM

#3880 docs(Config): fix rms organizational assignment doc
  docs/resources/rms_organizational_assignment_package.md
Labels: documentation, size/XS, LGTM

#3835 feat(workspace): workspace_desktop support update enterprise_project_id
  docs/resources/workspace_desktop.md
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/M, feature, LGTM

#3837 feat(dataarts): add a new resource to manage factory job
  docs/resources/dataarts_factory_job.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_factory_job_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_factory_job.go
Labels: size/XL, feature, LGTM

#3847 feat(vpn): vpn_gateway support update enterprise_project_id
  docs/resources/vpn_gateway.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/M, feature, LGTM

#3836 feat(DATAARTS): add resource dataarts architecture model
  docs/resources/dataarts_architecture_model.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_model_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_model.go
Labels: size/L, feature, LGTM

#3885 feat(workspace): add a new resource workspace eip associate
  docs/resources/workspace_eip_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_eip_associate_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_eip_associate.go
Labels: size/L, feature, LGTM

#3886 feat(CC): add a resource to apply central network policy
  docs/resources/cc_central_network_policy_apply.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_central_network_policy_apply_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_policy_apply.go
Labels: size/L, feature, LGTM, safe to test

#3887 fix(VPCEP): modify the permission field length to solve unit test error
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_service_test.go
Labels: size/S, bugfix

#3850 feat(DataArts): add dataarts data standard resource
  docs/resources/dataarts_architecture_data_standard.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_data_standard_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_data_standard.go
Labels: size/L, feature, LGTM

#3895 fix: test(fgs/function): repair some BUGs of the depend_list and support a test to check it
  go.mod
  go.sum
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/results.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM, test

#3897 fix(EVS): Fixed parameter input error in function Detach and replace function in golangsdk to get response field ’job_id’
  go.mod
  go.sum
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/block_devices/requests.go
  vendor/modules.txt
Labels: size/XS, bugfix, dependencies, LGTM

#3863 feat(SWR): add datasource SWR repositories
  docs/data-sources/swr_repositories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_repositories_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_repositories.go
Labels: size/L, feature, LGTM

#3834 feat(dataarts): support data connection resource
  docs/resources/dataarts_studio_data_connection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_data_connection_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_data_connection.go
  vendor/github.com/chnsz/golangsdk/openstack/dayu/v1/connections/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dayu/v1/connections/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dayu/v1/connections/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3898 docs(examples/vpc): add a vpc peering basic example
  examples/vpc/peering/README.md
  examples/vpc/peering/main.tf
  examples/vpc/peering/variables.tf
Labels: size/M, documentation, LGTM

#3865 feat(vpn): huaweicloud_vpn_gateway support certificate
  docs/resources/vpn_gateway.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/L, feature, LGTM

#3894 feat(dataarts): add a new resource dataarts architecture table model
  docs/resources/dataarts_architecture_table_model.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_table_model_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_table_model.go
Labels: size/XL, feature, LGTM

#3879 feat(nat): add a new datasource to query the list of transit ip
  docs/data-sources/nat_private_transit_ips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_transit_ips_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_transit_ips.go
Labels: size/L, feature, LGTM, safe to test

#3841 feat(DCS): add a new datasource to query the list of dcs backups
  docs/data-sources/dcs_backups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_backups_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_backups.go
Labels: size/L, feature, LGTM

#3881 fix(DCS): fix dcs backup resource
  docs/resources/dcs_backup.md
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_backup_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_backup.go
Labels: size/M, bugfix, LGTM

#3882 feat(DMS): add resource user client quota
  docs/resources/dms_kafka_user_client_quota.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_user_client_quota_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_user_client_quota.go
Labels: size/L, feature, LGTM

#3896 docs(examples/nat): add an example which use a nat gateway and vpc peering
  examples/nat/nat_gateway-vpc_peering/README.md
  examples/nat/nat_gateway-vpc_peering/main.tf
  examples/nat/nat_gateway-vpc_peering/variables.tf
Labels: size/M, documentation, LGTM

#3888 feat(cbr/backup): support the share accepter resource
  docs/resources/cbr_backup_share_accepter.md
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_backup_share_accepter_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_backup_share_accepter.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/members/requests.go
Labels: size/L, feature, LGTM

#3908 feat(er): add new resource support flow log
  docs/resources/er_flow_log.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_flow_log_test.go
  huaweicloud/services/er/resource_huaweicloud_er_flow_log.go
Labels: size/L, feature, LGTM, safe to test

#3890 feat(dataarts): add resource dataarts architecture code table
  docs/resources/dataarts_architecture_code_table.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_code_table_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_code_table.go
Labels: size/L, feature, LGTM

#3893 feat(dataarts): add resource huaweicloud_dataarts_factory_script
  docs/resources/dataarts_factory_script.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_factory_script_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_factory_script.go
Labels: size/L, feature, LGTM

#3916 feat(dns): change the dns v2.1 client global domain to regional domain
  huaweicloud/config/endpoints.go
Labels: size/XS, feature, LGTM

#3900 feat(DataArts): add dataarts data standard template resource
  docs/resources/dataarts_architecture_data_standard_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_data_standard_template_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_data_standard_template.go
Labels: size/L, feature, LGTM

#3891 feat(as): add activity logs datasource support
  docs/data-sources/as_activity_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_activity_logs_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_activity_logs.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/activitylogs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/activitylogs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/activitylogs/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3912 chore(cdm): update reource for new param
  docs/resources/cdm_cluster.md
  docs/resources/cdm_job.md
  docs/resources/cdm_link.md
  go.mod
  go.sum
  huaweicloud/services/cdm/resource_huaweicloud_cdm_cluster.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_link.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/clusters/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/link/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/modules.txt
Labels: size/S, chore, dependencies, LGTM

#3901 feat(DataArts): add dataarts data standard template optionals data source
  docs/data-sources/dataarts_architecture_ds_template_optionals.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/data_source_huaweicloud_dataarts_architecture_ds_template_optionals_test.go
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_architecture_ds_template_optionals.go
Labels: size/L, feature, LGTM

#3899 fix(CC): change some fields of policy to Required
  docs/resources/cc_central_network_policy.md
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_central_network_policy_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_policy.go
Labels: size/M, bugfix, LGTM

#3902 feat(dataarts): add dataarts architecture reviewer resource
  docs/resources/dataarts_architecture_reviewer.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_reviewer_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_reviewer.go
Labels: size/L, feature

#3922 feat(dataarts): update resource architecture_reviewer
  docs/resources/dataarts_architecture_reviewer.md
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_reviewer_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_reviewer.go
Labels: size/S, feature

#3919 chore: add used API comment in workspace flavors
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_flavors.go
Labels: size/XS, chore

#3920 chore(cfw): add API description in firewall resource
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
Labels: size/XS, chore

#3918 changelog: Update CHANGELOG for v1.60.0
  CHANGELOG.md
Labels: size/S

#3923 fix: Update schema json files based-on v1.60.0
  docs/json/data-sources/vpc_eips.json
  docs/json/resources/codearts_inspector_website.json
  docs/json/resources/codearts_inspector_website_scan.json
  docs/json/resources/vpc_bandwidth_associate.json
Labels: size/XS, bugfix

#3892 feat(RDS): rds instance support maintain window
  docs/resources/rds_instance.md
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/S, feature, LGTM, safe to test

#3926 docs(workspace/desktop): add a constraint description
  docs/resources/workspace_desktop.md
Labels: documentation, size/XS, LGTM

#3927 feat(cce): update cce GetCert method and set parameter "duration" as -1
  go.mod
  go.sum
  huaweicloud/services/cce/data_source_huaweicloud_cce_cluster_v3.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_clusters.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#3903 feat(SFS): add resource sfs turbo perm rule
  docs/resources/sfs_turbo_perm_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfs/resource_huaweicloud_sfs_turbo_perm_rule_test.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo_perm_rule.go
Labels: size/L, feature, LGTM, safe to test

#3905 feat(cce): add datasource huaweicloud_cce_cluster_certificate
  docs/data-sources/cce_cluster_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_cluster_certificate_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_cluster_certificate.go
Labels: size/L, feature
