Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2023-05, with the labels that each got.

#2976 fix(lint/md034): fix the markdownlint issues
  docs/data-sources/cdn_domain_statistics.md
  docs/resources/fgs_dependency.md
  docs/resources/servicestage_component_instance.md
  docs/resources/waf_dedicated_domain.md
  docs/resources/waf_domain.md
Labels: size/XS, bugfix, LGTM

#2979 feat(ims/backup): support the attribute of backup id
  docs/data-sources/images_image.md
  docs/data-sources/images_images.md
  huaweicloud/services/ims/data_source_huaweicloud_images_image.go
  huaweicloud/services/ims/data_source_huaweicloud_images_images.go
Labels: size/XS, feature, LGTM, safe to test

#2973 docs(database): update the description of resource ID
  docs/resources/dds_instance.md
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_influx_instance.md
  docs/resources/gaussdb_mongo_instance.md
  docs/resources/gaussdb_mysql_instance.md
  docs/resources/gaussdb_opengauss_instance.md
  docs/resources/gaussdb_redis_instance.md
  docs/resources/rds_instance.md
Labels: size/S, documentation, LGTM

#2977 docs(ecs): highlight the import section with shell
  docs/resources/compute_eip_associate.md
  docs/resources/compute_interface_attach.md
  docs/resources/compute_volume_attach.md
Labels: documentation, size/XS, LGTM

#2974 refactor(cce/node): fix the problems reported in codecheck
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_v3_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_node_v3.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_v3.go
Labels: size/S, refactor, LGTM, safe to test

#2985 test(cce): fix test cases of cluster and addon
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_addon_v3_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_v3_test.go
Labels: size/XS, LGTM, test

#2982 chore(vpc/peering): fix lint issues
  .markdownlint.json
  docs/resources/vpc_peering_connection.md
  docs/resources/vpc_peering_connection_accepter.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_peering_connection_accepter_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_peering_connection_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_peering_connection.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_peering_connection.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_peering_connection_accepter.go
Labels: size/M, chore, LGTM

#2972 refactor(cce/cluster): rename functions and remove deprecated pkg
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_addon_template_test.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_cluster_v3_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
Labels: size/M, refactor, LGTM

#2975 fix(rms/assign): the name cannot update now
  docs/resources/rms_policy_assignment.md
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_policy_assignment_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_policy_assignment.go
Labels: size/XS, bugfix, LGTM

#2978 docs(ces): update doc and test of ces alarm rule
  docs/resources/ces_alarmrule.md
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
Labels: size/L, documentation, LGTM

#2989 fix(apig/api): fix the problem that missing ecs instance
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
Labels: size/XS, bugfix

#2997 fix(DLI): add preCheck to prevent agency from being deleted
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_agency_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_global_variable_test.go
Labels: size/XS, bugfix, LGTM

#2998 fix(RDS): fix rds test
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_read_replica_instance_test.go
Labels: size/XS, bugfix

#2999 fix(DRS): fix drs test
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
Labels: size/XS, bugfix

#2987 feat(vpc/peering): support description param
  docs/data-sources/vpc_peering_connection.md
  docs/resources/vpc_peering_connection.md
  docs/resources/vpc_peering_connection_accepter.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_peering_connection_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_peering_connection_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_peering_connection.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_peering_connection.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_peering_connection_accepter.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/peerings/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v2/peerings/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2980 test(aom): fix the test case of aom service discovery rule
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_service_discovery_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_service_discovery_rule.go
Labels: size/XS, LGTM, test

#2984 feat(WAF): waf support rule precise protection resource
  docs/resources/waf_rule_precise_protection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_precise_protection_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_precise_protection.go
Labels: size/XL, feature, LGTM

#2943 feat(SecMaster): add new resource secmaster_incident
  docs/resources/secmaster_incident.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_incident_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_incident.go
Labels: size/L, feature, LGTM, safe to test

#2988 feat(cbr/backup): add new data-source support
  docs/data-sources/cbr_backup.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_backup.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/backups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/backups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/backups/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#2921 fix(CBH): fix cbh instance
  docs/resources/cbh_instance.md
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_instance_test.go
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_instance.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/XL, bugfix, LGTM

#2990 feat(cce): support multi container_network_cidr in cce cluster
  docs/resources/cce_cluster.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#2992 feat(Live): add live bucket authorization resource
  docs/resources/live_bucket_authorization.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_bucket_authorization_test.go
  huaweicloud/services/live/resource_huaweicloud_live_bucket_authorization.go
Labels: size/M, feature, safe to test

#2995 feat(DWS): add a new resource to manage snapshot policy
  docs/resources/dws_snapshot_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_snapshot_policy_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot_policy.go
Labels: size/L, feature, LGTM

#3002 docs(dws): change the order of parameters
  docs/resources/dws_cluster.md
Labels: size/S, documentation, LGTM

#3003 fix(AS): fix as test error
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_bandwidth_policy_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
Labels: size/XS, bugfix, LGTM

#2994 feat(Live): add live snapshot resource
  docs/resources/live_snapshot.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_snapshot_test.go
  huaweicloud/services/live/resource_huaweicloud_live_snapshot.go
Labels: size/L, bugfix, feature, safe to test

#3004 refactor(ecs/instance): use flavor_name as flavor_id directly
  docs/resources/compute_instance.md
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/S, refactor, LGTM

#3005 fix(fgs): add a environment agency for fgs test
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_async_invoke_configuration_test.go
Labels: size/XS, bugfix

#3010 chore: get rid of unused functions
  huaweicloud/common.go
  huaweicloud/provider_test.go
  huaweicloud/resource_schema.go
  huaweicloud/transport.go
Labels: size/M, bugfix, chore

#3012 fix(vpcep): vpcep support description
  docs/resources/vpcep_approval.md
  docs/resources/vpcep_endpoint.md
  docs/resources/vpcep_service.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_endpoint_test.go
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_service_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_approval.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/results.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/results.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM

#2996 feat(WAF): waf support global protection whitelist rule resource
  docs/resources/waf_rule_global_protection_whitelist.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_global_protection_whitelist_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_global_protection_whitelist.go
Labels: size/L, feature, LGTM

#3001 feat(WAF): waf support rule cc protection resource
  docs/resources/waf_rule_cc_protection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_cc_protection_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_cc_protection.go
Labels: size/L, feature, LGTM

#3017 chore(workflow): bump goreleaser-action to v4 and use GITHUB_OUTPUT
  .github/workflows/acc-test.yml
  .github/workflows/release.yml
Labels: size/XS, chore

#2956 feat(cce/turbo): support CCE Turbo partition management
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_partition_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_v3.go
  huaweicloud/services/cce/resource_huaweicloud_cce_partition.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/partitions/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/partitions/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/partitions/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/partitions/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, safe to test

#2981 feat(DWS): add a new resource to manage snapshot
  docs/resources/dws_snapshot.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_snapshot_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot.go
Labels: size/L, feature, LGTM

#3014 fix(func/update): move the start logic into inner layer
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_notebook.go
Labels: size/XS, bugfix, LGTM, safe to test

#3015 fix(CBH): fix cbh data source
  docs/data-sources/cbh_instances.md
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_instance.go
Labels: size/M, bugfix, LGTM

#3008 feat(apig/plugin): add a new resource support
  docs/resources/apig_plugin.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_plugin_test.go
  huaweicloud/services/acceptance/bms/resource_huaweicloud_bms_instance_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_plugin.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/plugins/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/plugins/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/plugins/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, feature, LGTM

#3013 feat(apig/plugin): support the associate resource
  docs/resources/apig_plugin_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_plugin_associate_test.go
  huaweicloud/services/apig/common.go
  huaweicloud/services/apig/resource_huaweicloud_apig_plugin_associate.go
Labels: size/L, feature, LGTM

#3018 feat(as/group): support updating agency_name
  docs/resources/as_group.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/S, feature, LGTM

#3021 refactor(cce/node): update import, func name and error message
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_node_test.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_nodes_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_addon_v3_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_attach_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_node.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_nodes.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  huaweicloud/services/cce/resource_huaweicloud_cce_partition.go
Labels: size/L, refactor, feature, LGTM

#3028 refactor(drs/job): remove the validation from schema
  docs/resources/drs_job.md
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/S, refactor, LGTM

#3019 fix(WAF): waf resource support import with epsID
  docs/resources/waf_address_group.md
  docs/resources/waf_certificate.md
  docs/resources/waf_cloud_instance.md
  docs/resources/waf_dedicated_domain.md
  docs/resources/waf_dedicated_instance.md
  docs/resources/waf_domain.md
  docs/resources/waf_policy.md
  docs/resources/waf_reference_table.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_address_group_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_certificate_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_cloud_instance_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_instance_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_policy_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_reference_table_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_address_group.go
  huaweicloud/services/waf/resource_huaweicloud_waf_certificate.go
  huaweicloud/services/waf/resource_huaweicloud_waf_cloud_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
  huaweicloud/services/waf/resource_huaweicloud_waf_policy.go
  huaweicloud/services/waf/resource_huaweicloud_waf_reference_table.go
Labels: size/M, bugfix, LGTM

#3020 fix(WAF): waf rule resource support import id with epsid
  docs/resources/waf_rule_blacklist.md
  docs/resources/waf_rule_cc_protection.md
  docs/resources/waf_rule_data_masking.md
  docs/resources/waf_rule_global_protection_whitelist.md
  docs/resources/waf_rule_precise_protection.md
  docs/resources/waf_rule_web_tamper_protection.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_blacklist_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_cc_protection_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_data_masking_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_global_protection_whitelist_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_precise_protection_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_web_tamper_protection_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_blacklist.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_data_masking.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_web_tamper_protection.go
Labels: size/M, bugfix, LGTM

#3023 feat(IMS): ims support whole image
  docs/resources/images_image.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/results.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3030 fix(docs): images resource example usage error
  docs/resources/images_image_share.md
  docs/resources/images_image_share_accepter.md
Labels: documentation, size/XS, bugfix, LGTM

#3022 feat(vpn): add new resource connection health check
  docs/resources/vpn_connection_health_check.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_connection_health_check_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection_health_check.go
Labels: size/L, feature, LGTM, safe to test

#2966 fix(RDS): Remove availability_zone update from read function for uncertainty
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XS, bugfix, LGTM

#3034 feat(cce/addon): support updating version and values
  docs/resources/cce_addon.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_addon_template_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_addon_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_addon_template.go
  huaweicloud/services/cce/resource_huaweicloud_cce_addon.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/addons/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/addons/results.go
  vendor/github.com/chnsz/golangsdk/openstack/geminidb/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/geminidb/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/geminidb/v3/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/modelarts/v1/notebook/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/L, refactor, feature, dependencies, LGTM

#3033 chore: add region field in IAM url
  huaweicloud/config/endpoints.go
  huaweicloud/endpoints_test.go
Labels: size/L, chore, LGTM

#3038 fix(VPCEP): fix ci-lint and tf features error
  huaweicloud/services/acceptance/vpcep/data_source_huaweicloud_vpcep_public_services_test.go
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_approval_test.go
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_endpoint_test.go
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_service_test.go
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_public_services.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_approval.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
Labels: size/L, bugfix, LGTM

#3043 docs(Kafka): fix the description of some fields in the document
  docs/resources/dms_kafka_instance.md
Labels: documentation, size/XS, bugfix, LGTM

#3006 feat(aom): add new resource alarm action rule
  docs/resources/aom_alarm_action_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_action_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_action_rule.go
Labels: size/L, feature, LGTM, safe to test

#3047 refactor: fix(IMS): fix ims doc and add error handling method
  docs/resources/images_image.md
  docs/resources/images_image_copy.md
  docs/resources/images_image_share_accepter.md
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_copy.go
Labels: size/S, bugfix, refactor, LGTM

#3025 feat(DWS): add a new resource to manage external datasource
  docs/resources/dws_ext_data_source.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_ext_data_source_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_ext_data_source.go
Labels: size/L, feature, LGTM, safe to test

#3029 feat(rms): support resource recorder
  docs/resources/rms_resource_recorder.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_resource_recorder_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_resource_recorder.go
Labels: size/L, feature, LGTM

#3011 feat(aom): add new resource alarm silence rule
  docs/resources/aom_alarm_silence_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_silence_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_silence_rule.go
Labels: size/L, feature, LGTM, safe to test

#3031 feat(DWS): add a new resource to manage alarm subscription
  docs/resources/dws_alarm_subscription.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_alarm_subscription_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_alarm_subscription.go
Labels: size/L, feature, LGTM, safe to test

#3035 fix(GaussDB): add retry to gaussdb redis instance
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
Labels: size/L, bugfix, LGTM

#3040 fix(vpn/connection): fix the enable_nqa problem
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_connection_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
Labels: size/M, bugfix, LGTM

#3041 fix(DCS): fix dcs data source lint issues
  docs/data-sources/dcs_flavors.md
  docs/data-sources/dcs_instances.md
  docs/data-sources/dcs_maintainwindow.md
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_flavors_test.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_instances_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_flavors.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_instances.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_maintainwindow.go
Labels: size/M, bugfix, LGTM

#3049 fix(OBS): correct the pre-check of eps
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
Labels: size/XS, bugfix, LGTM

#3050 fix(vpc): The fixed description field may cause data errors during concurrency
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_networking_secgroups_test.go
Labels: size/XS, bugfix, LGTM

#3016 feat(aom): add new resource event alarm rule
  docs/resources/aom_event_alarm_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_event_alarm_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_event_alarm_rule.go
Labels: size/L, feature, LGTM

#3026 fix(modelarts/notebook): fix the next page calculation of URL
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_notebook_images.go
Labels: size/XS, bugfix, LGTM

#3042 fix(VPCEP): vpcep service resource update document and optimize test case
  docs/resources/vpcep_service.md
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_service_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
Labels: size/M, bugfix, LGTM

#3045 fix(VPCEP): vpcep endpoint resource support update whitelist and enable_whitelist
  docs/resources/vpcep_endpoint.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_endpoint_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/results.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM

#3046 fix(VPCEP): vpcep approval resource support import state
  docs/resources/vpcep_approval.md
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_approval_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_approval.go
Labels: size/S, bugfix, LGTM, safe to test

#3048 fix(DDS): delete dds instance param validation
  docs/resources/dds_instance.md
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/S, bugfix, LGTM

#3051 refactor(ecs): remove metadata and block_device fields
  huaweicloud/services/ecs/compute_instance_networking.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/bootfromvolume/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/bootfromvolume/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/bootfromvolume/results.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/bootfromvolume/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/schedulerhints/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/schedulerhints/requests.go
  vendor/modules.txt
Labels: size/XL, refactor, LGTM

#3027 feat(OBS): obs support object acl resource
  docs/resources/obs_bucket_object_acl.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_object_acl_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_acl.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket_object_acl.go
Labels: size/L, feature, LGTM, safe to test

#3039 fix(DCS): fix dcs instance lint issues
  docs/resources/dcs_instance.md
  huaweicloud/common/resource_schema.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/L, bugfix, LGTM

#3024 feat(rds/instance): instance support automatic expansion
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/M, feature, LGTM

#3053 fix(EPS): fix eps datasource lint error and support filter target project by input name
  docs/resources/enterprise_project.md
  huaweicloud/services/eps/data_source_huaweicloud_enterprise_project.go
Labels: size/S, documentation, bugfix, LGTM

#3057 refactor(iam): fix lint issues on agency
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_agency_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
Labels: size/L, chore, refactor, LGTM

#3058 fix(iam/agency): support ONEDAY and specific days for duration
  docs/resources/identity_agency.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_agency_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/agency/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/agency/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/subnets/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/backups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/backups/results.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM

#3055 feat(rds/instance): make sure the instance is created
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XS, feature, safe to test

#3044 docs(kafka): optimize the sample using flavor_id and remove the example using product_id
  docs/resources/dms_kafka_instance.md
Labels: size/S, documentation, LGTM

#3054 chore(rms/assignment): refactor validation and related doc
  docs/resources/rms_policy_assignment.md
  huaweicloud/services/rms/resource_huaweicloud_rms_policy_assignment.go
Labels: size/XS, chore, LGTM

#3056 fix(CSS): css cluster support use local dist flavor
  docs/resources/css_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/M, bugfix, LGTM

#3060 feat(vpc/subnet): add extra dhcp options support
  docs/resources/vpc_subnet.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_subnet_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/M, feature, LGTM

#3061 refactor(DMS): rabbitmq supports flaovr id
  docs/resources/dms_rabbitmq_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/urls.go
  vendor/modules.txt
Labels: size/L, refactor, dependencies, LGTM

#3062 feat(iam/agency): support granting roles to agency on all resources
  docs/resources/identity_agency.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_agency_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/agency/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/agency/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/agency/urls.go
  vendor/modules.txt
Labels: size/L, chore, feature, dependencies, LGTM

#3064 changelog: Update CHANGELOG for v1.49.0
  CHANGELOG.md
Labels: size/S

#3066 fix(workflow): fix release issue
  .github/workflows/release.yml
Labels: size/XS, bugfix
