Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-12, with the labels that each got.

#5955 feat(rms): add resource RMS remediation exception
  docs/resources/rms_remediation_exception.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_remediation_exception_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_remediation_exception.go
Labels: size/L, feature, LGTM, approved

#5962 feat(drs): support new param for job
  docs/resources/drs_job.md
  go.mod
  go.sum
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/results.go
  vendor/modules.txt
Labels: size/XS, feature, dependencies, LGTM, approved

#5966 fix(iotda): fix iotda acc test
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_amqps_test.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_batchtasks_test.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_dataforwarding_rules_test.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_device_certificates_test.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_device_groups_test.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_device_linkage_rules_test.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_devices_test.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_products_test.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_spaces_test.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_upgrade_packages_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_access_credential_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_amqp_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_dataforwarding_rule_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_async_command_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_certificate_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_group_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_linkage_rule_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_message_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_product_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_space_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_upgrade_package_test.go
Labels: size/XL, bugfix, LGTM, approved

#5961 feat(iotda/device_messages): support device messages dataSource
  docs/data-sources/iotda_device_messages.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_device_messages_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_messages.go
Labels: size/L, feature, LGTM, approved

#5968 fix(drs): fix job param db name
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/XS, bugfix, LGTM, approved

#5967 docs(secmaster): fix secmaster markdown error
  docs/resources/secmaster_alert.md
  docs/resources/secmaster_alert_rule.md
  docs/resources/secmaster_incident.md
  docs/resources/secmaster_indicator.md
  docs/resources/secmaster_playbook_action.md
  docs/resources/secmaster_playbook_instance_operation.md
  docs/resources/secmaster_playbook_rule.md
Labels: size/S, documentation, LGTM, approved

#5933 feat(workspace/app): add new datasource to query storage policies
  docs/data-sources/workspace_app_storage_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_storage_policies_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_storage_policies.go
Labels: size/M, feature, LGTM, approved

#5972 feat(workspace/app): add resource to manage private image
  docs/resources/workspace_app_image.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_image_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_image.go
Labels: size/L, feature, LGTM, approved

#5970 fix(dataarts): fix incorrect reference to fields
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_architecture_table_models.go
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_dataservice_messages.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api.go
Labels: size/XS, bugfix, LGTM, approved

#5849 feat(cts): CTS notification supports agency_name field
  docs/resources/cts_notification.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_notification_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_notification.go
Labels: size/S, feature, LGTM, approved

#5969 feat(rms): add RMS remediation execution resource
  docs/resources/rms_remediation_execution.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_remediation_execution_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_remediation_execution.go
Labels: size/L, feature, LGTM, approved

#5932 feat(cph): support cph server tags
  docs/resources/cph_server.md
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_server_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_server.go
Labels: size/M, feature, LGTM, approved

#5937 feat(workspace/app): add data source to query application groups
  docs/data-sources/workspace_app_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_groups_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_groups.go
Labels: size/L, feature, LGTM, approved

#5971 feat(drs): support primary standby switch for job
  docs/resources/drs_job.md
  docs/resources/drs_job_primary_standby_switch.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_primary_standby_switch_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job_primary_standby_switch.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5973 feat(dds): support to get and cancel scheduled tasks
  docs/data-sources/dds_scheduled_tasks.md
  docs/resources/dds_scheduled_task_cancel.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_scheduled_tasks_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_scheduled_task_cancel_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_scheduled_tasks.go
  huaweicloud/services/dds/resource_huaweicloud_dds_scheduled_task_cancel.go
Labels: size/L, feature, LGTM, approved

#5942 feat(workspace/app): add new datasource for NAS storages query
  docs/data-sources/workspace_app_nas_storages.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_nas_storages_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_nas_storage_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_personal_folders_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_shared_folder_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_nas_storages.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_nas_storage.go
Labels: size/L, feature, LGTM, approved

#5964 feat(cse): supports a new data source for engine flavors query
  docs/data-sources/cse_microservice_engine_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cse/data_source_huaweicloud_cse_microservice_engine_flavors_test.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_engine_test.go
  huaweicloud/services/cse/data_source_huaweicloud_cse_microservice_engine_flavors.go
Labels: size/L, feature, LGTM, test, approved

#5976 fix(rms): fix var_value in assignment_package and organizational_assignment_package
  docs/resources/rms_assignment_package.md
  docs/resources/rms_organizational_assignment_package.md
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_assignment_package_test.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_organizational_assignment_package_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_assignment_package.go
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_assignment_package.go
Labels: size/S, bugfix, LGTM, approved

#5975 feat(rms): RMS policy assignment supports tags
  docs/resources/rms_policy_assignment.md
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_policy_assignment_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_policy_assignment.go
Labels: size/M, feature, LGTM, approved

#5982 feat(workspace/app): add data source to query publishable apps
  docs/data-sources/workspace_app_publishable_apps.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_publishable_apps_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_publishable_apps.go
Labels: size/L, feature, LGTM, approved

#5988 refactor(cce): add header in jwks data_source
  huaweicloud/services/cce/data_source_huaweicloud_cce_cluster_openid_jwks.go
Labels: size/XS, refactor, LGTM, approved

#5987 feat(dms): support to restart kafka instance
  docs/resources/dms_kafka_instance_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_restart_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance_restart.go
Labels: size/M, feature, LGTM, approved

#5991 Update CHANGELOG for 1.71.1
  CHANGELOG.md
Labels: size/XS, approved

#5980 test(iotda): improve the testing coverage of resources under the IoTDA service
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_batchtask_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_dataforwarding_rule_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
Labels: size/L, LGTM, test, approved

#5963 feat(live): add new datasource to get the list of transcoding templates
  docs/data-sources/live_transcodings.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/data_source_huaweicloud_live_transcodings_test.go
  huaweicloud/services/live/data_source_huaweicloud_live_transcodings.go
Labels: size/L, feature, LGTM, approved

#5981 feat(rms): add this data source to get the list of RMS latest remediation execution statuses
  docs/data-sources/rms_remediation_execution_statuses.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_remediation_execution_statuses_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_remediation_execution_statuses.go
Labels: size/L, feature, LGTM, approved

#5965 feat(live): add a new datasource to get the list of recording rules
  docs/data-sources/live_recordings.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/data_source_huaweicloud_live_recordings_test.go
  huaweicloud/services/live/data_source_huaweicloud_live_recordings.go
Labels: size/L, feature, LGTM, approved

#5977 feat(live): add a new resource to manage URL validation
  docs/resources/live_url_validation.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_url_validation_test.go
  huaweicloud/services/live/resource_huaweicloud_live_url_validation.go
Labels: size/L, feature, LGTM, approved

#5992 feat(live): support a new resource to manage channel
  docs/resources/live_channel.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_channel_test.go
  huaweicloud/services/live/resource_huaweicloud_live_channel.go
Labels: size/XL, feature, LGTM, approved

#5996 feat(GaussDB): add gaussdb opengauss eip associate resource
  docs/resources/gaussdb_opengauss_eip_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_eip_associate_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_eip_associate.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/L, feature, LGTM, approved

#5998 feat(GaussDB): add gaussdb opengauss isntance nodes data source
  docs/data-sources/gaussdb_opengauss_instance_nodes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_nodes_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_nodes.go
Labels: size/L, feature, LGTM, approved

#5995 chore(cfw): deprecate cfw protection rule resource
  docs/resources/cfw_protection_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_cfw_protection_rule_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_acl_rule.go
  huaweicloud/services/deprecated/resource_huaweicloud_cfw_protection_rule.go
Labels: size/M, chore, LGTM, approved

#5974 feat(dds): support to get instance parameter modification records
  docs/data-sources/dds_instance_parameter_modification_records.md
  docs/resources/dds_instance_parameters_modify.md
  docs/resources/dds_parameter_template_apply.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_instance_parameter_modification_records_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_instance_parameter_modification_records.go
Labels: size/L, feature, LGTM, approved

#5978 test(coverage/drs): add test for job
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
Labels: size/M, LGTM, test, approved

#6003 feat(live): support a new resource to manage HTTPS certificate
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_https_certificate_test.go
  huaweicloud/services/live/resource_huaweicloud_live_https_certificate.go
Labels: size/L, feature, LGTM, approved

#5985 docs(dns): add constraint description for endpoint resource and remove 'ip_addresses.ip' description
  docs/resources/dns_endpoint.md
Labels: documentation, size/XS, LGTM, approved

#5984 feat(dns): add resource to manage endpoint
  docs/resources/dns_endpoint_assignment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_endpoint_assignment_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_endpoint_assignment.go
Labels: size/L, feature, LGTM, approved

#5990 feat(identitycenter): add resource sysytem identity policy attachment
  docs/resources/identitycenter_system_identity_policy_attachment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_system_identity_policy_attachment_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_system_identity_policy_attachment.go
Labels: size/L, feature, LGTM, approved

#6009 chore(dns): modify ip_addresse.ip to internal parameter
  docs/resources/dns_endpoint.md
  huaweicloud/services/dns/resource_huaweicloud_dns_endpoint.go
Labels: size/XS, chore, LGTM, approved

#6000 docs(dbss): modify some document description errors
  docs/resources/dbss_audit_risk_rule_action.md
  docs/resources/dbss_instance.md
  docs/resources/dbss_rds_database.md
Labels: documentation, size/XS, LGTM, approved

#5986 feat(cse/nacos): add new resource and data source for namespace
  docs/data-sources/cse_nacos_namespaces.md
  docs/resources/cse_nacos_namespace.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cse/data_source_huaweicloud_cse_nacos_namespaces_test.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_nacos_namespace_test.go
  huaweicloud/services/cse/data_source_huaweicloud_cse_nacos_namespaces.go
  huaweicloud/services/cse/resource_huaweicloud_cse_nacos_namespace.go
  vendor/github.com/chnsz/golangsdk/errors.go
  vendor/github.com/chnsz/golangsdk/provider_client.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5994 feat(apig): add new resource for orchestration rules management
  docs/resources/apig_orchestration_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_orchestration_rule_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_orchestration_rule.go
Labels: size/XL, feature, LGTM, approved

#6002 feat(apig): add new data source to query orchestration rules
  docs/data-sources/apig_orchestration_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_orchestration_rules_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_orchestration_rules.go
Labels: size/L, feature, LGTM, approved

#6008 test(servicestage): adjust the script of update phase and do not update name
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_test.go
Labels: size/XS, LGTM, test, approved

#6010 feat(GaussDB): add gaussdb opengauss primary standby switch resource
  docs/resources/gaussdb_opengauss_primary_standby_switch.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_primary_standby_switch_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_primary_standby_switch.go
Labels: size/L, feature, LGTM, approved

#6001 feat(GaussDB): add gaussdb opengauss flavors data source
  docs/data-sources/gaussdb_opengauss_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_flavors_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_flavors.go
Labels: size/L, feature, LGTM, approved

#5997 feat(GaussDB): add gaussdb opengauss databases data source
  docs/data-sources/gaussdb_opengauss_databases.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_databases_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_databases.go
Labels: size/L, feature, LGTM, approved

#6007 feat(cce): support updating tags in autopilot cluster
  docs/resources/cce_autopilot_cluster.md
  huaweicloud/services/acceptance/cceautopilot/resource_huaweicloud_cce_autopilot_cluster_test.go
  huaweicloud/services/cceautopilot/resource_huaweicloud_cce_autopilot_cluster.go
Labels: size/S, feature, LGTM, approved

#5993 fix(aom): add ep id in cloud service access request body
  docs/resources/aom_cloud_service_access.md
  huaweicloud/services/aom/resource_huaweicloud_aom_cloud_service_access.go
Labels: size/S, bugfix, LGTM, approved

#5999 feat(live): add a new resource to manage referer validation
  docs/resources/live_referer_validation.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_referer_validation_test.go
  huaweicloud/services/live/resource_huaweicloud_live_referer_validation.go
Labels: size/L, feature, LGTM, approved

#6014 fix(geip): fix error when gcb is empty
  huaweicloud/services/eip/resource_huaweicloud_global_eip_associate.go
Labels: size/XS, bugfix, LGTM, approved

#6016 feat(dms): support port protocols for kafka instance
  docs/resources/dms_kafka_instance.md
  go.mod
  go.sum
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5989 feat(rms): add data source to get the list of RMS resource tags
  docs/data-sources/rms_resource_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_tags_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_tags.go
Labels: size/L, feature, LGTM, approved

#6004 feat(rms): RMS assignment package supports updates
  docs/resources/rms_assignment_package.md
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_assignment_package_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_assignment_package.go
Labels: size/M, feature, LGTM, approved

#6006 feat(cfw): CFW acl rule support applications field
  docs/resources/cfw_acl_rule.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_acl_rule_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_acl_rule.go
Labels: size/XS, feature, LGTM, approved

#6017 feat(live): support a new resource to manage geo-blocking
  docs/resources/live_geo_blocking.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_geo_blocking_test.go
  huaweicloud/services/live/resource_huaweicloud_live_geo_blocking.go
Labels: size/L, feature, LGTM, approved

#6020 fix(servicestage): the flatten method of logs param is missing
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_component.go
Labels: size/XS, bugfix, LGTM, approved

#6022 Update CHANGELOG for 1.71.2
  CHANGELOG.md
Labels: size/XS, approved

#6015 feat(live/transcoding): transcoding resource support new fields
  docs/resources/live_transcoding.md
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_transcoding_test.go
  huaweicloud/services/live/resource_huaweicloud_live_transcoding.go
Labels: size/M, feature, LGTM, approved

#6021 feat(GaussDB): gaussdb opengauss instance support update flavor
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/M, feature, LGTM, approved

#6026 feat(GaussDB): fix gaussdb opengauss flavor update
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/M, feature, LGTM, approved

#6029 feat(waf): dedicated instance resource support field `tags`
  docs/resources/waf_dedicated_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_instance_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/premium_instances/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#6023 feat(vpc): support tags in resource netowrk_interface
  docs/resources/vpc_network_interface.md
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_interface.go
Labels: size/M, feature, LGTM, approved

#6019 feat(CodeArts): move codearts inspector and deploy to new directory
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_test.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_group_test.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_host_test.go
  huaweicloud/services/acceptance/codeartsinspector/resource_huaweicloud_codearts_inspector_website_scan_test.go
  huaweicloud/services/acceptance/codeartsinspector/resource_huaweicloud_codearts_inspector_website_test.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_project.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_repository.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_application.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_group.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_host.go
  huaweicloud/services/codeartsinspector/resource_huaweicloud_codearts_inspector_website.go
  huaweicloud/services/codeartsinspector/resource_huaweicloud_codearts_inspector_website_scan.go
Labels: size/S, feature, LGTM, approved

#6025 feat(live): support a new datasource to query snapshots
  docs/data-sources/live_snapshots.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/live/data_source_huaweicloud_live_snapshots_test.go
  huaweicloud/services/live/data_source_huaweicloud_live_snapshots.go
Labels: size/L, feature, LGTM, approved

#6036 feat(live/geo_blockings): support live geo blockings dataSource
  docs/data-sources/live_geo_blockings.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/data_source_huaweicloud_live_geo_blockings_test.go
  huaweicloud/services/live/data_source_huaweicloud_live_geo_blockings.go
Labels: size/M, feature, LGTM, approved

#6030 feat(GaussDB): gaussdb opengauss instance support tags
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/M, feature, LGTM, approved

#6031 feat(GaussDB): add gaussdb opengauss datastores data source
  docs/data-sources/gaussdb_opengauss_datastores.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_datastores_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_datastores.go
Labels: size/M, feature, LGTM, approved

#6018 test(dns): fix incorrect acceptance test
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_floating_ptrrecords_test.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_zones_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_v2_test.go
Labels: size/S, LGTM, test, approved

#6032 feat(servicestage): add new data source to query components
  docs/data-sources/servicestagev3_components.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/data_source_huaweicloud_servicestagev3_components_test.go
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_components.go
Labels: size/L, feature, LGTM, approved

#6013 feat(lts): add resource to manage log metric rule
  docs/resources/lts_metric_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_metric_rule_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_metric_rule.go
Labels: size/XL, feature, LGTM, approved

#6037 feat(lts): the log stream supports modifying ttl_in_days field
  docs/data-sources/lts_streams.md
  docs/resources/lts_stream.md
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_streams_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_stream_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_streams.go
  huaweicloud/services/lts/resource_huaweicloud_lts_stream.go
Labels: size/S, feature, LGTM, approved

#5930 feat(workspace/app): add data source to query authorizations
  docs/data-sources/workspace_app_group_authorizations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_group_authorizations_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_group_authorization_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_group_authorizations.go
Labels: size/L, feature, LGTM, approved

#6039 docs(csms): fix the documentation description of some fields
  docs/resources/csms_secret.md
Labels: documentation, size/XS, LGTM, approved

#6043 chore(live): Optimize resource code to domain resource
  docs/resources/live_domain.md
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_domain_test.go
  huaweicloud/services/live/resource_huaweicloud_live_domain.go
Labels: size/M, chore, LGTM, approved

#6038 chore(live): Optimize resource code to record callback resource
  docs/resources/live_record_callback.md
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_record_callback_test.go
  huaweicloud/services/live/resource_huaweicloud_live_record_callback.go
Labels: size/M, chore, LGTM, approved

#6034 fix(CodeArt/Deploy): fix check delete and change url for group
  docs/resources/codearts_deploy_group.md
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_group_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_group.go
Labels: size/M, bugfix, LGTM, approved

#6033 chore(live): Optimize resource code to recording resource
  docs/resources/live_recording.md
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_recording_test.go
  huaweicloud/services/live/resource_huaweicloud_live_recording.go
Labels: size/M, chore, LGTM, approved

#6027 feat(live): add a new resource to manage disable a push stream
  docs/resources/live_disable_push_stream.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_disable_push_stream_test.go
  huaweicloud/services/live/resource_huaweicloud_live_disable_push_stream.go
Labels: size/L, feature, LGTM, approved

#6040 feat(GaussDB): add gaussdb opengauss backup stop resource
  docs/resources/gaussdb_opengauss_backup_stop.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_backup_stop_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_backup_stop.go
Labels: size/M, feature, LGTM, approved

#6044 feat(GaussDB): add gaussdb opengauss instance restart resource
  docs/resources/gaussdb_opengauss_instance_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_restart_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_restart.go
Labels: size/M, feature, LGTM, approved

#6045 feat(GaussDB): add gaussdb opengauss parameter templates data source
  docs/data-sources/gaussdb_opengauss_parameter_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_parameter_templates_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_parameter_templates.go
Labels: size/M, feature, LGTM, approved

#6056 feat(cce): add data_source autopilot_addon_templates
  docs/data-sources/cce_autopilot_addon_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cceautopilot/data_source_huaweicloud_cce_autopilot_addon_templates_test.go
  huaweicloud/services/cceautopilot/data_source_huaweicloud_cce_autopilot_addon_templates.go
Labels: size/L, feature, LGTM, approved

#6048 feat(GaussDB): add gaussdb opengauss restore time ranges data source
  docs/data-sources/gaussdb_opengauss_restore_time_ranges.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_nodes_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_restore_time_ranges_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_restore_time_ranges.go
Labels: size/L, feature, LGTM, approved

#6057 feat(GaussDB): gaussdb opengauss support parameters
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/M, feature, LGTM, approved

#6046 feat(vpn): VPN gateway resouce supports delete_eip_on_termination field
  docs/resources/vpn_gateway.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/M, feature, LGTM, approved

#6052 feat(vpn): add data source to get the list of VPN quotas
  docs/data-sources/vpn_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_quotas_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_quotas.go
Labels: size/M, feature, LGTM, approved

#6054 feat(cts): add data source to get the list of CTS quotas
  docs/data-sources/cts_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_quotas_test.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_quotas.go
Labels: size/M, feature, LGTM, approved

#5983 feat(identitycenter): add resource identitycenter access control attribute config
  docs/resources/identitycenter_access_control_attribute_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_access_control_attribute_configuration_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_access_control_attribute_configuration.go
Labels: size/L, feature, LGTM, approved

#6061 fix(workspace): some attribute or status are missing corresponding checks
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_service_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_service.go
Labels: size/M, bugfix, LGTM, test, approved

#6066 feat(cbr): vault supports new param cloud_type
  docs/resources/cbr_vault.md
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/M, feature, LGTM, approved

#6060 feat(cce): update the sdk of node
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/opengauss/v3/backups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/opengauss/v3/backups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/opengauss/v3/backups/urls.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#6047 feat(identitycenter): add datasource access control attribute configurations
  docs/data-sources/identitycenter_access_control_attribute_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_access_control_attribute_configurations_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_access_control_attribute_configurations.go
Labels: size/M, feature, LGTM, approved

#6058 feat(cts): add this data source to list all operations on a cloud service
  docs/data-sources/cts_operations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_operations_test.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_operations.go
Labels: size/M, feature, LGTM, approved

#6068 feat(cts): add data source to get the list of resources involved in the traces.
  docs/data-sources/cts_resources.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_resources_test.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_resources.go
Labels: size/M, feature, LGTM, approved

#6062 feat(live/hls_configuration): support Live HLS configuration resource
  docs/resources/live_hls_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_hls_configuration_test.go
  huaweicloud/services/live/resource_huaweicloud_live_hls_configuration.go
Labels: size/L, feature, LGTM, approved

#6055 feat(workspace): add new data source to query service detail
  docs/data-sources/workspace_service.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_service_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_service.go
Labels: size/L, feature, LGTM, approved

#6035 feat(live): add new datasource to get the list of disable push streams
  docs/data-sources/live_disable_push_streams.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/data_source_huaweicloud_live_disable_push_streams_test.go
  huaweicloud/services/live/data_source_huaweicloud_live_disable_push_streams.go
Labels: size/L, feature, LGTM, approved

#6063 feat(GaussDB): add gaussdb opengauss backups data source
  docs/data-sources/gaussdb_opengauss_backups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_backups_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_backups.go
Labels: size/L, feature, LGTM, approved

#6059 feat(GaussDB): add gaussdb opengauss parameter template resource
  docs/resources/gaussdb_opengauss_parameter_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_parameter_template_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_parameter_template.go
Labels: size/L, feature, LGTM, approved

#6070 chore(EVS): improve the robustness of resource code
  docs/resources/evs_volume.md
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/XL, chore, LGTM, approved

#6073 feat(apig/api): API resource supports orchestration rules' configuration
  docs/resources/apig_api.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#6049 fix(CodeArts/Deploy): fix check delete and change url for host
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_host_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_host.go
Labels: size/M, bugfix, LGTM, approved

#6065 feat(identitycenter): add datasource identitycenter permission sets
  docs/data-sources/identitycenter_permission_sets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_permission_sets_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_permission_sets.go
Labels: size/L, feature, LGTM, approved

#6076 refactor: feat(apig/channel): adjust the parameter behavior and supports new value
  docs/resources/apig_channel.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_channel_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_channel.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/results.go
  vendor/modules.txt
Labels: size/L, refactor, feature, dependencies, LGTM, approved

#6072 feat(CodeArts/Deploy): support application group management
  docs/resources/codearts_deploy_application_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_group_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_group.go
Labels: size/L, feature, LGTM, approved

#6074 feat(cce): add data_source autopilot cluster certificate
  docs/data-sources/cce_autopilot_cluster_certificate.md
  docs/data-sources/cce_cluster_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cceautopilot/data_source_huaweicloud_cce_autopilot_cluster_certificate_test.go
  huaweicloud/services/cceautopilot/data_source_huaweicloud_cce_autopilot_cluster_certificate.go
Labels: size/L, feature, LGTM, approved

#6071 feat(live): add a new resource to manage notification cofiguration
  docs/resources/live_notification_cofiguration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_notification_cofiguration_test.go
  huaweicloud/services/live/resource_huaweicloud_live_notification_cofiguration.go
Labels: size/L, feature, LGTM, approved

#6064 feat(live): add a new resource to generate a sign URL
  docs/resources/live_url_authentication.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_url_authentication_test.go
  huaweicloud/services/live/resource_huaweicloud_live_url_authentication.go
Labels: size/L, feature, LGTM, approved

#6079 chore(servicestage/auth): host parameter is no longer required
  docs/resources/servicestage_repo_token_authorization.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_test.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_repo_token_authorization_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_repo_token_authorization.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v1/repositories/requests.go
  vendor/modules.txt
Labels: size/M, chore, dependencies, LGTM, approved

#6084 feat(cbr/policy): enable_acceleration is an internal param now
  docs/resources/cbr_policy.md
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_policy_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_policy.go
Labels: size/S, feature, LGTM, approved

#6077 feat(evs): enhance evs resource capabilities
  docs/resources/evs_volume.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v2/cloudvolumes/urls.go
Labels: size/L, feature, LGTM, approved

#6087 chore(live): modifying resource naming error
  docs/resources/live_notification_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_notification_configuration_test.go
  huaweicloud/services/live/resource_huaweicloud_live_notification_configuration.go
Labels: size/M, chore, LGTM, approved

#6069 chore(fgs): upgrade the parameters description and import validation
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/M, documentation, chore, LGTM, test, approved

#6085 feat(live/origin_pull_configuration): support origin pull configuration resource
  docs/resources/live_origin_pull_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_origin_pull_configuration_test.go
  huaweicloud/services/live/resource_huaweicloud_live_origin_pull_configuration.go
Labels: size/L, feature, LGTM, approved

#6050 feat(CodeArts/Deploy): support group permission management
  docs/resources/codearts_deploy_group.md
  docs/resources/codearts_deploy_group_permission.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_group_permission_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_group.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_group_permission.go
Labels: size/L, feature, LGTM, approved

#6089 fix(CodeArts/Deploy): fix check delete for application
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_application.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_group.go
Labels: size/M, bugfix, LGTM, approved

#6090 feat(live): add new datasource to query live channels
  docs/data-sources/live_channels.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/data_source_huaweicloud_live_channels_test.go
  huaweicloud/services/live/data_source_huaweicloud_live_channels.go
Labels: size/XL, feature, LGTM, approved

#6067 feat(identitycenter): add resource identitycenter provision permssion set
  docs/resources/identitycenter_provision_permission_set.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_provision_permission_set_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_provision_permission_set.go
Labels: size/L, feature, LGTM, approved

#6075 feat(rms): add this data source to get a list of resource instances that are filtered by tags
  docs/data-sources/rms_resource_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_instances_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_instances.go
Labels: size/L, feature, LGTM, approved

#6080 feat(cts): add this data source to get the list of users who have performed operations in the last 30 days
  docs/data-sources/cts_users.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_users_test.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_users.go
Labels: size/M, feature, LGTM, approved

#6095 feat(live): live domain resource support new field is_ipv6
  docs/resources/live_domain.md
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_domain_test.go
  huaweicloud/services/live/resource_huaweicloud_live_domain.go
Labels: size/M, feature, LGTM, approved

#6097 feat(apig/api): supports new request parameters
  docs/resources/apig_api.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#6092 feat(live): add new datasource to query cdn IP addresses information
  docs/data-sources/live_cdn_ips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/data_source_huaweicloud_live_cdn_ips_test.go
  huaweicloud/services/live/data_source_huaweicloud_live_cdn_ips.go
Labels: size/M, feature, LGTM, approved

#6081 feat(CodeArts/Deploy): support to get groups and hosts
  docs/data-sources/codearts_deploy_groups.md
  docs/data-sources/codearts_deploy_hosts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/data_source_huaweicloud_codearts_deploy_groups_test.go
  huaweicloud/services/acceptance/codeartsdeploy/data_source_huaweicloud_codearts_deploy_hosts_test.go
  huaweicloud/services/codeartsdeploy/data_source_huaweicloud_codearts_deploy_groups.go
  huaweicloud/services/codeartsdeploy/data_source_huaweicloud_codearts_deploy_hosts.go
Labels: size/L, feature, LGTM, approved

#6082 feat(CodeArts/Deploy): support to move application group
  docs/resources/codearts_deploy_application_group_move.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_group_move_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_group_move.go
Labels: size/M, feature, LGTM, approved

#6083 feat(identitycenter): add datasource permission sets provisioned to account
  docs/data-sources/identitycenter_account_provisioning_permission_sets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_account_provisioning_permission_sets_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_account_provisioning_permission_sets.go
Labels: size/M, feature, LGTM, approved

#6086 feat(CodeArts/Deploy): support to get application groups
  docs/data-sources/codearts_deploy_application_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/data_source_huaweicloud_codearts_deploy_application_groups_test.go
  huaweicloud/services/codeartsdeploy/data_source_huaweicloud_codearts_deploy_application_groups.go
Labels: size/M, feature, LGTM, approved

#5922 feat(workspace/app): add data source to get list of the image servers
  docs/data-sources/workspace_app_image_servers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_image_servers_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_image_server_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_image_servers.go
Labels: size/L, feature, LGTM, approved

#6093 feat(GaussDB): add gaussdb opengauss restore resource
  docs/resources/gaussdb_opengauss_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_restore_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_restore.go
Labels: size/L, feature, LGTM, approved

#6096 feat(GaussDB): add gaussdb opengauss restorable instances data source
  docs/data-sources/gaussdb_opengauss_restorable_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_restorable_instances_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_backup_stop_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_backup_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_restart_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_restorable_instances.go
Labels: size/L, feature, LGTM, approved

#6107 test(workspace): using obs resource to upload app file
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_warehouse_app_test.go
Labels: size/S, LGTM, test, approved

#6109 test(workspace/app): using server group resource to instead corresponding env
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_groups_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_group_authorization_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_group_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_policy_group_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_publishment_test.go
Labels: size/S, LGTM, test, approved

#6088 feat(modelarts): add new reource to manage devserver
  docs/resources/modelarts_devserver.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_devserver_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_devserver.go
Labels: size/L, feature, LGTM, approved

#6105 chore(acceptance): fix the issue 'HW_SFS_FILE_SYSTEM_NAMES' is empty
  huaweicloud/services/acceptance/acceptance.go
Labels: size/XS, chore, LGTM, approved

#6103 feat(live): support a new resource to manage live stream delay
  docs/resources/live_stream_delay.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_stream_delay_test.go
  huaweicloud/services/live/resource_huaweicloud_live_stream_delay.go
Labels: size/L, feature, LGTM, approved

#6108 refactor(provider): add retry for connection reset by peer error
  huaweicloud/config/logger.go
Labels: size/XS, refactor, LGTM, approved

#6110 feat(GaussDB): gaussdb opengauss instance support update configuration id
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_restorable_instances.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/M, feature, LGTM, approved

#6100 feat(rms): RMS organizational assignment package supports updates
  docs/resources/rms_organizational_assignment_package.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_organizational_assignment_package_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_assignment_package.go
Labels: size/M, feature, LGTM, approved

#6099 feat(identitycenter): support permission set tags
  docs/resources/identitycenter_permission_set.md
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_permission_set_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_permission_set.go
Labels: size/M, feature, LGTM, approved

#6104 feat(identitycenter): add datasource permission set provision accounts
  docs/data-sources/identitycenter_permission_set_provisioning_accounts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_permission_set_provisioning_accounts_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_permission_set_provisioning_accounts.go
Labels: size/M, feature, LGTM, approved

#6101 feat(CodeArts/Deploy): support to get applications
  docs/data-sources/codearts_deploy_applications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/data_source_huaweicloud_codearts_deploy_applications_test.go
  huaweicloud/services/codeartsdeploy/data_source_huaweicloud_codearts_deploy_applications.go
Labels: size/L, feature, LGTM, approved

#6094 test(dbss): modify the test case
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_audit_data_masking_rules_test.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_audit_risk_rules_test.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_audit_rule_scopes_test.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_audit_sql_injection_rules_test.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_flavors_test.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_instances_test.go
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_audit_risk_rule_action_test.go
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
Labels: size/M, LGTM, test, approved

#6111 test(workspace): adjust the resource references and definitions
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_groups_test.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_image_servers_test.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_publishable_apps_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_group_authorization_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_group_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_image_server_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_image_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_policy_group_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_publishment_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_server_group_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_server_test.go
Labels: size/L, chore, LGTM, test, approved

#6091 feat(provider): add default value for shared config file
  huaweicloud/provider.go
Labels: size/XS, feature, LGTM, approved

#6098 feat(modelarts): add resource to operate devserver
  docs/resources/modelarts_devserver_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_devserver_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_devserver_action.go
Labels: size/M, feature, LGTM, approved

#6113 refactor(cce): remove set func of not returned parameters
  docs/resources/cce_autopilot_cluster.md
  huaweicloud/services/cceautopilot/resource_huaweicloud_cce_autopilot_cluster.go
Labels: size/XS, refactor, LGTM, approved

#6115 refactor(vpc): change eps ID to optional in network_acl
  docs/resources/vpc_network_acl.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_network_acl_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_acl.go
Labels: size/S, refactor, LGTM, approved

#5673 feat(dws/cluster): the cluster resource supports scale-in nodes
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/M, feature, LGTM, approved

#6122 Update CHANGELOG for 1.72.0
  CHANGELOG.md
Labels: size/XS, approved
