Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-10, with the labels that each got.

#5644 feat(anti-ddos): support new datasource to query antiddos eip defense statuses
  docs/data-sources/antiddos_eip_defense_statuses.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/antiddos/data_source_huaweicloud_antiddos_eip_defense_statuses_test.go
  huaweicloud/services/antiddos/data_source_huaweicloud_antiddos_eip_defense_statuses.go
Labels: size/L, feature, LGTM, approved

#5647 docs(VPC): fix vpc eip associate v3 doc
  docs/resources/vpc_eipv3_associate.md
Labels: documentation, size/XS, LGTM, approved

#5648 chore(DBSS): chore DBSS resource code and test cases and documentation
  docs/resources/dbss_instance.md
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
Labels: size/L, chore, LGTM, approved

#5656 feat(DBSS): support new datasource to query DBSS instances
  docs/data-sources/dbss_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_instances_test.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_instances.go
Labels: size/L, feature, LGTM, approved

#5654 feat(GaussDBforMySQL): add gaussdb mysql restored tables data source
  docs/data-sources/gaussdb_mysql_restored_tables.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_restored_tables_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_restored_tables.go
Labels: size/L, feature, LGTM, approved

#5649 feat(drs): support new param public ip list
  docs/resources/drs_job.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5657 docs(DBSS): supplementary description of enterprise project documentation
  docs/resources/dbss_instance.md
Labels: documentation, size/XS, LGTM, approved

#5658 chore(DBSS): resource support updating security group ID
  docs/resources/dbss_instance.md
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
Labels: size/S, chore, LGTM, approved

#5661 docs(dms): fix examples of rabbitmq instance
  docs/resources/dms_rabbitmq_instance.md
Labels: documentation, size/XS, LGTM, approved

#5653 feat(dbss): add a new datasource to get list of user operation logs
  docs/data-sources/dbss_operation_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_operation_logs_test.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_operation_logs.go
Labels: size/L, feature, LGTM, approved

#5620 feat(dws): add datasource to query snapshot statistics of the cluster
  docs/data-sources/dws_cluster_snapshot_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_cluster_snapshot_statistics_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_cluster_snapshot_statistics.go
Labels: size/M, feature, LGTM, approved

#5651 test(ces): update CES event details test case to improve code coverage
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_event_details_test.go
Labels: size/S, feature, LGTM, test, approved

#5650 feat(servicestage): add new data source to query environments via ver.3 API
  docs/data-sources/servicestagev3_environments.md
  huaweicloud/common/resource_schema.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/data_source_huaweicloud_servicestagev3_environments_test.go
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_environments.go
Labels: size/L, chore, feature, LGTM, approved

#5663 fix(servicestage): fix the invalid data source file name for doc
  docs/data-sources/servicestagev3_runtime_stacks.md
Labels: size/XS, bugfix, LGTM, approved

#5655 feat(servicestage): add new data source to query applications via ver.3 API
  docs/data-sources/servicestagev3_applications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/data_source_huaweicloud_servicestagev3_applications_test.go
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_applications.go
Labels: size/L, feature, LGTM, approved

#5662 fix(drs): fix param start time
  docs/resources/drs_job.md
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/S, bugfix, LGTM, approved

#5659 feat(GaussDBforMySQL): add gaussdb mysql instance node config resource
  docs/resources/gaussdb_mysql_instance_node_config.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_node_config_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_node_config.go
Labels: size/L, feature, LGTM, approved

#5666 chore(NAT): refactor code using auto-generated styles.
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_gateway_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_gateway.go
Labels: size/M, chore, LGTM, approved

#5669 docs(drs): fix ssl password
  docs/resources/drs_job.md
Labels: documentation, size/XS, LGTM, approved

#5671 feat(GaussDBforMySQL): add gaussdb mysql project quotas data source
  docs/data-sources/gaussdb_mysql_project_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_project_quotas_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_project_quotas.go
Labels: size/M, feature, LGTM, approved

#5664 feat(smn): add resource message publish
  docs/resources/smn_message_publish.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_message_publish_test.go
  huaweicloud/services/smn/resource_huaweicloud_smn_message_publish.go
Labels: size/L, feature, LGTM, approved

#5677 feat(NAT): NAT gateway supports creating prepaid type resource
  docs/resources/nat_gateway.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_gateway_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_gateway.go
Labels: size/M, feature, LGTM, approved

#5670 feat(vpn): add resource VPN user
  docs/resources/vpn_user.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_user_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_user.go
Labels: size/L, feature, LGTM, approved

#5678 fix(aom/dds/dms/eip): change jemspath search to utils path search and change parse error method to common error convert
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_prom_instance_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_group_rule.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_rules_template.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_silence_rule.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cmdb_application.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cmdb_component.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cmdb_environment.go
  huaweicloud/services/aom/resource_huaweicloud_aom_message_template.go
  huaweicloud/services/aom/resource_huaweicloud_aom_prom_instance.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_instances.go
  huaweicloud/services/dds/resource_huaweicloud_dds_backup.go
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_user_client_quota.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_consumer_group.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_migration_task.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_topic.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_user.go
  huaweicloud/services/eip/resource_huaweicloud_global_eip.go
  huaweicloud/services/eip/resource_huaweicloud_global_eip_associate.go
  huaweicloud/services/eip/resource_huaweicloud_global_internet_bandwidth.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_internet_gateway.go
Labels: size/L, bugfix, LGTM, approved

#5668 feat(dbss): add a new resource to manage the risk rule enable or disable
  docs/resources/dbss_audit_risk_rule_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_audit_risk_rule_action_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_audit_risk_rule_action.go
Labels: size/M, feature, LGTM, approved

#5665 feat(GaussDBforMySQL): add gaussdb mysql quota resource
  docs/resources/gaussdb_mysql_quota.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_quota_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_quota.go
Labels: size/L, feature, LGTM, approved

#5674 feat(GaussDBforMySQL): add gaussdb mysql instance upgrade resource
  docs/resources/gaussdb_mysql_instance_upgrade.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_upgrade_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_upgrade.go
Labels: size/M, feature, LGTM, approved

#5680 feat: fix pre release ubuntu version
  .github/workflows/pre-release.yml
Labels: size/XS, feature, LGTM, approved

#5675 docs(rgc): rename the doc of rgc
  docs/incubating/rgc_account.md
Labels: documentation, size/XS, LGTM, approved

#5681 feat(cce): support updating os in node pool
  docs/resources/cce_node_pool.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/XS, feature, LGTM, approved

#5682 fix(aom): add computed for eps ID
  huaweicloud/services/aom/resource_huaweicloud_aom_prom_instance.go
Labels: size/XS, bugfix, LGTM, approved

#5684 fix(dms): remove flavor type validation
  docs/data-sources/dms_kafka_flavors.md
  docs/data-sources/dms_rabbitmq_flavors.md
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_flavors.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rabbitmq_flavors.go
Labels: size/XS, bugfix, LGTM, approved

#5685 chore(workspce/user_group): fix error when adding users to user group
  huaweicloud/services/workspace/resource_huaweicloud_workspace_user_group.go
Labels: size/XS, chore, LGTM, approved

#5683 fix(workspace/user): supplement 400 error for checkdeleted and schema supports description parameter
  huaweicloud/services/workspace/resource_huaweicloud_workspace_user.go
Labels: size/XS, bugfix, chore, LGTM, approved

#5686 feat(vpn): add data source to get the list of VPN users
  docs/data-sources/vpn_users.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_users_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_users.go
Labels: size/M, feature, LGTM, approved

#5688 fix(GaussDBforMySQL): fix gaussdb mysql instance restart resource wait method for delay
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_restart_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_restart.go
Labels: size/S, bugfix, LGTM, approved

#5679 chore(dws/ext_data_source): fix update obs type agency not effective
  docs/resources/dws_ext_data_source.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_ext_data_source_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_ext_data_source.go
Labels: size/M, chore, LGTM, approved

#5693 fix(fgs/async): max async retry attempts supports zero value
  docs/resources/fgs_async_invoke_configuration.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_async_invoke_configuration_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_async_invoke_configuration.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/modules.txt
Labels: size/XS, bugfix, dependencies, LGTM, approved

#5660 feat(dws): add new resource to modify parameter configurations
  docs/resources/dws_parameter_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_parameter_configurations_test.go
  huaweicloud/services/dws/common.go
  huaweicloud/services/dws/resource_huaweicloud_dws_parameter_configurations.go
Labels: size/L, feature, LGTM, approved

#5690 refactor(cse): supports auth params to make sure resources are available
  docs/resources/cse_microservice.md
  docs/resources/cse_microservice_engine_configuration.md
  docs/resources/cse_microservice_instance.md
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_engine_configuration_test.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_instance_test.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_test.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_engine_configuration.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_instance.go
Labels: size/L, documentation, refactor, LGTM, approved

#5691 feat(dms): support new version amqp for rabbitmq
  docs/resources/dms_rabbitmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/results.go
Labels: size/M, feature, LGTM, approved

#5645 feat(servicestage): add new resource to manage component via ver.3 APIs
  docs/resources/servicestagev3_component.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_component_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_component.go
  huaweicloud/utils/type_convert.go
  huaweicloud/utils/type_convert_test.go
Labels: size/XL, chore, feature, LGTM, approved

#5695 docs(cce): add doc of cce cluster jwks
  docs/incubating/cce_cluster_openid_jwks.md
Labels: size/S, documentation, LGTM, approved

#5698 chore(WAF): remove dedicated domain resource validation function
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
Labels: size/XS, chore, LGTM, approved

#5699 Update CHANGELOG for 1.69.1
  CHANGELOG.md
Labels: size/XS, approved

#5700 docs(rgc): move the doc of rgc to resources
  docs/resources/rgc_account.md
Labels: documentation, size/XS, LGTM, approved

#5697 docs(cc|cfw): correct the mistakes in the sample code provided in the data source document
  docs/data-sources/cc_central_network_policies.md
  docs/data-sources/cc_central_networks.md
  docs/data-sources/cfw_address_group_members.md
  docs/data-sources/cfw_protection_rules.md
Labels: documentation, size/XS, LGTM, approved

#5702 fix(rgc): fix schema of blueprint
  huaweicloud/services/rgc/resource_huaweicloud_rgc_account.go
Labels: size/XS, bugfix, LGTM, approved

#5694 docs(dms): update docs for kafka topic
  docs/resources/dms_kafka_topic.md
Labels: documentation, size/XS, LGTM, approved

#5696 feat(aom): add param for service discovery rule
  docs/resources/aom_service_discovery_rule.md
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_service_discovery_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_service_discovery_rule.go
Labels: size/XS, feature, LGTM, approved

#5706 feat(GaussDBforMySQL): add gaussdb mysql table restore resource
  docs/resources/gaussdb_mysql_table_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_restore_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_table_restore_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_table_restore.go
Labels: size/L, feature, LGTM, approved

#5692 feat(GaussDBforMySQL): add gaussdb mysql scheduled tasks data source
  docs/data-sources/gaussdb_mysql_scheduled_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_scheduled_tasks_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_scheduled_tasks.go
Labels: size/L, feature, LGTM, approved

#5205 feat(coverage): supports a new bash script
  scripts/coverage.sh
  scripts/docs/coverage.md
Labels: size/M, feature, LGTM, approved

#5672 chore(cph): fix cph server test and lint error
  docs/data-sources/cph_phone_flavors.md
  docs/data-sources/cph_phone_images.md
  docs/data-sources/cph_server_flavors.md
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_phone_flavors_test.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_phone_images_test.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_server_flavors_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_phone_flavors.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_phone_images.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_server_flavors.go
  huaweicloud/services/cph/resource_huaweicloud_cph_server.go
Labels: size/M, chore, LGTM, approved

#5709 feat(error/convert): supports new function to convert undefined errors
  huaweicloud/common/errors.go
  huaweicloud/common/errors_test.go
  huaweicloud/services/css/common.go
  huaweicloud/services/css/resource_huaweicloud_css_log_setting.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eipv3_associate.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
  huaweicloud/utils/utils.go
Labels: size/M, chore, feature, LGTM, approved

#5705 feat(dms): support rabbitmq user management
  docs/data-sources/dms_rabbitmq_users.md
  docs/resources/dms_rabbitmq_user.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rabbitmq_users_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_user_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rabbitmq_users.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_user.go
Labels: size/L, feature, LGTM, approved

#5713 feat(WAF): Policy support updating three new fields
  docs/resources/waf_policy.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_policy_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_policy.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/policies/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5714 chore(vpn): update user_group_id field to be computed
  docs/resources/vpn_user.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_user_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_user.go
Labels: size/S, chore, LGTM, approved

#5716 chore(error/convert): using public functions to replace custom convert functions
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_catalog_test.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_security_data_secrecy_level_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_connection_privilege_test.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
  huaweicloud/services/as/resource_huaweicloud_as_instance_attach.go
  huaweicloud/services/as/resource_huaweicloud_as_lifecycle_hook.go
  huaweicloud/services/as/resource_huaweicloud_as_notification.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
  huaweicloud/services/dataarts/common.go
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_dataservice_apis.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_business_metric.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_code_table.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_process.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_catalog.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_factory_job.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_factory_script.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_data_recognition_rule.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_data_secrecy_level.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_permission_set_member.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_permission_set_privilege.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_bigkey_analysis.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_custom_template.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_hotkey_analysis.go
  huaweicloud/services/dew/resource_huaweicloud_kms_dedicated_keystore.go
  huaweicloud/services/dli/resource_huaweicloud_dli_database_privilege.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection_privilege.go
  huaweicloud/services/dws/resource_huaweicloud_dws_disaster_recovery_task.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_plan.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_plan_stage.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_eip_associate.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_database.go
  huaweicloud/services/ges/resource_huaweicloud_ges_metadata.go
  huaweicloud/services/lts/common.go
  huaweicloud/services/lts/resource_huaweicloud_lts_log_converge.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_workspace.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_slow_log_link.go
  huaweicloud/services/rds/resource_huaweicloud_rds_extend_log_link.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_hba.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_perm_rule.go
Labels: size/L, chore, LGTM, approved

#5708 feat(GaussDBforMySQL): gaussdb mysql instance support version info
  docs/resources/gaussdb_mysql_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/urls.go
Labels: size/L, feature, LGTM, approved

#5712 feat(GaussDBforMySQL): add gaussdb mysql scheduled task cancel resource
  docs/resources/gaussdb_mysql_scheduled_task_cancel.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_scheduled_task_cancel_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_scheduled_tasks.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_scheduled_task_cancel.go
Labels: size/L, feature, LGTM, approved

#5715 feat(cdm): support advanced properties for link
  docs/resources/cdm_link.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_link_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_link.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/link/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#5723 feat(RAM): resource support paging query
  huaweicloud/services/ram/resource_huaweicloud_ram_resource_share.go
Labels: size/M, feature, LGTM, approved

#5721 feat(GaussDBforMySQL): add gaussdb mysql scheduled task delete resource
  docs/resources/gaussdb_mysql_scheduled_task_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_scheduled_task_delete_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_scheduled_task_delete.go
Labels: size/M, feature, LGTM, approved

#5704 feat(cph): add datasource cph servers
  docs/data-sources/cph_servers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_servers_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_servers.go
Labels: size/L, feature, LGTM, approved

#5722 docs(GaussDBforMySQL): fix gaussdb mysql docs
  docs/data-sources/gaussdb_mysql_pt_applicable_instances.md
  docs/data-sources/gaussdb_mysql_pt_apply_records.md
  docs/data-sources/gaussdb_mysql_pt_modify_records.md
Labels: documentation, size/XS, LGTM, approved

#5710 feat(cph): add data source cph phones
  docs/data-sources/cph_phones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_phones_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_phones.go
Labels: size/L, feature, needs-rebase, approved

#5707 feat(vpn): add resource VPN user group
  docs/resources/vpn_user_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_user_group_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_user_group.go
Labels: size/L, feature, LGTM, approved

#5719 feat(ecs): add query instances with tags
  docs/data-sources/compute_instance.md
  docs/data-sources/compute_instances.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_instance_test.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_instances_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instance.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instances.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#5731 feat(ELB): elb loadbalancer support update enterprise project id
  docs/resources/elb_loadbalancer.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
Labels: size/S, feature, LGTM, approved

#5689 feat(cph): add resource adb command
  docs/resources/cph_adb_command.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_adb_command_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_adb_command.go
Labels: size/L, feature, LGTM, approved

#5732 chore(provider): add env vars to skip check upgrade and website type
  huaweicloud/config/upgrade.go
  huaweicloud/provider.go
Labels: size/S, chore, LGTM, approved

#5728 feat(RAM): support new datasource to query resource share associations
  docs/data-sources/ram_resource_share_associations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_resource_share_associations_test.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_resource_share_associations.go
Labels: size/L, feature, LGTM, approved

#5733 feat(RAM): support new datasource to query resource share associated permissions
  docs/data-sources/ram_resource_share_associated_permissions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_resource_share_associated_permissions_test.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_resource_share_associated_permissions.go
Labels: size/L, feature, LGTM, approved

#5738 feat: add Send func to http_helper
  huaweicloud/helper/httphelper/http_helper.go
Labels: size/XS, feature, LGTM, approved

#5729 feat(aom): support new param for dashboard
  docs/resources/aom_dashboard.md
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_dashboards_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_dashboard_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_dashboard.go
Labels: size/M, feature, LGTM, approved

#5730 feat(iotda): the space resource supports new API
  docs/resources/iotda_space.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_space_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_space.go
Labels: size/S, feature, LGTM, approved

#5736 feat(iotda): the upgrade package resource supports sign field
  docs/resources/iotda_upgrade_package.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_upgrade_package_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_upgrade_package.go
Labels: size/XS, feature, LGTM, approved

#5742 docs(vpcep/dc): fix some issues in the document
  docs/data-sources/dc_quotas.md
  docs/data-sources/vpcep_quotas.md
  docs/data-sources/vpcep_service_summary.md
Labels: documentation, size/XS, LGTM, approved

#5726 feat(vpn): add data source to get the list of VPN user groups
  docs/data-sources/vpn_user_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_user_groups_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_user_groups.go
Labels: size/M, feature, LGTM, approved

#5740 docs: modify the format of data source and resource names in the documents
  docs/data-sources/dbss_flavors.md
  docs/data-sources/ddm_accounts.md
  docs/data-sources/ddm_engines.md
  docs/data-sources/ddm_flavors.md
  docs/data-sources/ddm_instance_nodes.md
  docs/data-sources/ddm_instances.md
  docs/data-sources/ddm_schemas.md
  docs/data-sources/vpn_p2c_gateways.md
  docs/resources/cc_central_network_connection_bandwidth_associate.md
  docs/resources/cc_global_connection_bandwidth_associate.md
  docs/resources/cfw_lts_log.md
Labels: documentation, size/XS, LGTM, approved

#5745 feat(iotda/batchtasks): support batch tasks datasource
  docs/data-sources/iotda_batchtasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_batchtasks_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_batchtasks.go
Labels: size/L, feature, LGTM, approved

#5743 feat(iotda): support device proxy resource
  docs/resources/iotda_device_proxy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_proxy_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_proxy.go
Labels: size/L, feature, LGTM, approved

#5749 feat(RAM): support new datasource to query RAM resource shares
  docs/data-sources/ram_resource_shares.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_resource_shares_test.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_resource_shares.go
Labels: size/L, feature, LGTM, approved

#5752 chore(ram): ram resource permissions datasource supports paging query and new fields
  docs/data-sources/ram_resource_permissions.md
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_resource_permissions_test.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_resource_permissions.go
Labels: size/M, chore, LGTM, approved

#5718 feat(iotda): add new data source to get the list of upgrade packages
  docs/data-sources/iotda_upgrade_packages.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_upgrade_packages_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_upgrade_packages.go
Labels: size/L, feature, LGTM, approved

#5724 feat(iotda): support a new resource to manage access credential
  docs/resources/iotda_access_credential.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_access_credential_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_access_credential.go
Labels: size/M, feature, LGTM, approved

#5746 feat(GaussDBforNoSQL): add gaussdb redis flavors data source
  docs/data-sources/gaussdb_redis_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_redis_flavors_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_redis_flavors.go
Labels: size/M, feature, LGTM, approved

#5727 feat(RDS): add rds instance eip associate resource
  docs/resources/rds_instance.md
  docs/resources/rds_instance_eip_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_eip_associate_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance_eip_associate.go
Labels: size/L, feature, LGTM, approved

#5737 fix(DCS): fix dcs backup get method and delete check
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_backup_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_backup.go
Labels: size/S, bugfix, LGTM, approved

#5748 chore(secmaster): add secmaster version action attributes
  docs/resources/secmaster_playbook_version_action.md
  examples/secmaster/playbook/secmaster_playbook_usage_instruction.md
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_version_action_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_version_action.go
Labels: size/M, chore, LGTM, approved

#5629 feat(dws/cluster): supports modifying description and security group
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/M, feature, LGTM, approved

#5735 docs(dds): remove discontinued version for instance
  docs/resources/dds_instance.md
Labels: documentation, size/XS, LGTM, approved

#5753 feat(dms): support new resource kafka message diagnosis task
  docs/resources/dms_kafka_message_diagnosis_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_message_diagnosis_task_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_message_diagnosis_task.go
Labels: size/L, feature, LGTM, approved

#5734 feat(cdm): support to update email and phone number for cluster
  docs/resources/cdm_cluster.md
  huaweicloud/config/logger.go
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_cluster_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_cluster.go
Labels: size/M, feature, LGTM, approved

#5754 chore(ram): refactor ram datasource code and test cases and documents
  docs/data-sources/ram_shared_principals.md
  docs/data-sources/ram_shared_resources.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_resource_share_invitations_test.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_shared_principals_test.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_shared_resources_test.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_resource_share_invitations.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_shared_pricipals.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_shared_resources.go
Labels: size/L, chore, LGTM, approved

#5757 feat(iam): support updating identity policy
  docs/incubating/identity_policy.md
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_policy_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_policy.go
Labels: size/M, feature, LGTM, approved

#5755 feat(dds): support recycle policy management
  docs/resources/dds_recycle_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_recycle_policy_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_recycle_policy.go
Labels: size/M, feature, LGTM, approved

#5759 feat(dms): support to get message diagnosis tasks
  docs/data-sources/dms_kafka_message_diagnosis_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_message_diagnosis_tasks_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_message_diagnosis_tasks.go
Labels: size/M, feature, LGTM, approved

#5764 test(dds): fix test for unsupported version
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_instances_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_role_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_user_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_internal_ip_modify_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_restart_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
Labels: size/M, LGTM, test, approved

#5756 feat(GaussDBforMySQL): add gaussdb mysql lts log resource
  docs/resources/gaussdb_mysql_lts_log.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_lts_log_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_lts_log.go
Labels: size/L, feature, LGTM, approved

#5760 feat(GaussDBforNoSQL): gaussdb redis instance support az detail
  docs/resources/gaussdb_redis_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/geminidb/v3/instances/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5751 feat(vpn): add resource VPN access policy
  docs/resources/vpn_access_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_access_policy_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_access_policy.go
Labels: size/L, feature, LGTM, approved

#5767 feat(vpc): support ip_extra_set in address group
  docs/resources/vpc_address_group.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_address_group_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_address_group.go
Labels: size/M, feature, LGTM, approved

#5773 chore(as): solve the datasource infinite loop problem and optimize test cases.
  docs/data-sources/as_policy_execute_logs.md
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_policy_execute_logs_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_policy_execute_logs.go
Labels: size/L, chore, LGTM, approved

#5765 chore(as): enhance the as datasource test cases
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_activity_logs_test.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_configurations_test.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_group_quotas_test.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_groups_test.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_hook_instances_test.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_instances_test.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_lifecycle_hooks_test.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_notifications_test.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_planned_tasks_test.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_policies_test.go
Labels: size/L, chore, LGTM, approved

#5676 feat(dws): add new datasource to query parameters of the cluster
  docs/data-sources/dws_cluster_parameters.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_cluster_parameters_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_cluster_parameters.go
Labels: size/L, feature, LGTM, approved

#5747 feat(workspace/app_group): add application group resource
  docs/resources/workspace_app_group.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_group_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_group.go
Labels: size/L, feature, LGTM, approved

#5769 feat(cph): add cph phone stop
  docs/resources/cph_phone_stop.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_phone_stop_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_phone_stop.go
Labels: size/M, feature, LGTM, approved

#5770 feat(vpn): add data source to get the list of VPN access policies
  docs/data-sources/vpn_access_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_access_policies_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_access_policies.go
Labels: size/M, feature, LGTM, approved

#5772 feat(dds): add data source to get error logs
  docs/data-sources/dds_error_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_error_logs_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_error_logs.go
Labels: size/L, feature, LGTM, approved

#5775 fix(iotda): optimize data source pagination query logic
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_products_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_amqps.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_batchtasks.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_dataforwarding_rules.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_certificates.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_groups.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_linkage_rules.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_devices.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_products.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_upgrade_packages.go
Labels: size/S, bugfix, LGTM, approved

#5768 feat(dds): support primary standby switch
  docs/resources/dds_primary_standby_switch.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_primary_standby_switch_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_primary_standby_switch.go
Labels: size/L, feature, LGTM, approved

#5776 docs: fix shared_config_file authentication
  docs/index.md
Labels: documentation, size/XS, LGTM, approved

#5777 feat(GaussDBforMySQL): add gaussdb mysql slow logs data source
  docs/data-sources/gaussdb_mysql_slow_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_slow_logs_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_slow_logs.go
Labels: size/L, feature, LGTM, approved

#5766 feat(GaussDBforMySQL): gaussdb mysql instance support slow log show original switch
  docs/resources/gaussdb_mysql_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5782 refactor(vpc): remove max items limit in address group
  docs/resources/vpc_address_group.md
  huaweicloud/services/vpc/resource_huaweicloud_vpc_address_group.go
Labels: size/XS, refactor, LGTM, approved

#5771 feat(vpcep): the VPC endpoint service resource supports new fields
  docs/resources/vpcep_service.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_service_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5788 fix(ga): resource accelerator support `checkDeleted` logic
  huaweicloud/services/ga/resource_huaweicloud_ga_accelerator.go
Labels: size/XS, bugfix, LGTM, approved

#5787 feat(iotda/device_group): device group resource support new parameters
  docs/resources/iotda_device_group.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_group_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_group.go
Labels: size/M, feature, LGTM, approved

#5790 Update CHANGELOG for v1.70.0
  CHANGELOG.md
Labels: size/XS, approved

#5781 feat(GaussDBforMySQL): add gaussdb mysql error logs data source
  docs/data-sources/gaussdb_mysql_error_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_error_logs_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_error_logs.go
Labels: size/L, feature, LGTM, approved

#5758 feat(cph): add resource cph server restart
  docs/resources/cph_server_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_server_restart_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_server_restart.go
Labels: size/M, feature, LGTM, approved

#5761 feat(cph): add resource cph phone reset
  docs/resources/cph_phone_reset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_phone_reset_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_phone_reset.go
Labels: size/M, feature, LGTM, approved

#5789 feat(dds): support parameter template comparison
  docs/resources/dds_parameter_template_compare.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_parameter_template_compare_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template_compare.go
Labels: size/M, feature, LGTM, approved

#5786 feat(dds): support to get databases list
  docs/data-sources/dds_databases.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_databases_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_databases.go
Labels: size/M, feature, LGTM, approved

#5784 feat(dds): support to get slow log links
  docs/data-sources/dds_slow_log_links.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_slow_log_links_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_slow_log_links.go
Labels: size/L, feature, LGTM, approved

#5779 feat(dds): support to get audit logs and audit log links
  docs/data-sources/dds_audit_log_links.md
  docs/data-sources/dds_audit_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_audit_log_links_test.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_audit_logs_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_audit_log_links.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_audit_logs.go
Labels: size/L, feature, LGTM, approved

#5795 feat(vpn): add resource VPN client CA certificate
  docs/resources/vpn_client_ca_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_client_ca_certificate_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_client_ca_certificate.go
Labels: size/L, feature, LGTM, approved
