Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-02, with the labels that each got.

#4092 feat(RDS): add rds MySQL database privileges data source
  docs/data-sources/rds_mysql_database_privileges.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_database_privileges_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_mysql_database_privileges.go
Labels: size/L, feature, LGTM

#4098 feat(DMS): rocketmq supports public access updated
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/M, feature, LGTM

#4125 fix(DWS): DWS logical cluster resource support retry operations
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_logical_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_logical_cluster.go
Labels: size/M, bugfix, LGTM

#4133 feat(CCI): CCI service add API annotation
  huaweicloud/services/cci/resource_huaweicloud_cci_network.go
Labels: size/XS, feature, LGTM

#4117 feat(RDS): add RDS SQLServer databases data source and fix RDS instance test
  docs/data-sources/rds_sqlserver_databases.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_sqlserver_databases_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_sqlserver_databases.go
Labels: size/L, feature, LGTM

#4136 docs(vpc): update the docs of vpc_route and vpc_route_table
  docs/resources/vpc_route.md
  docs/resources/vpc_route_table.md
Labels: documentation, size/XS, LGTM

#4100 feat(BMS): bms support edit metadata
  docs/resources/bms_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/bms/resource_huaweicloud_bms_instance_test.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#4147 ci: add a robot for review
  .github/workflows/prow-command.yml
  .github/workflows/prow-merge-on-lgtm.yml
  OWNERS
Labels: size/S, LGTM

#4139 fix(DCS): fix dcs instance operation error and test
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/S, bugfix, LGTM

#4144 fix(AS): fix AS lifecycle hooks type fliter error
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_lifecycle_hooks_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_lifecycle_hooks.go
Labels: size/XS, bugfix, LGTM

#4138 fix(OBS): OBS bucket logging supports agency configuration
  docs/resources/obs_bucket.md
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
Labels: size/S, bugfix, chore, LGTM, approved

#4142 chore(cc): CC add API annotation
  huaweicloud/services/cc/resource_huaweicloud_cc_authorization.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_attachment.go
Labels: size/XS, chore, LGTM, approved

#4149 feat(VPN): VPN gateway resource support tags field
  docs/resources/vpn_gateway.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/S, feature, LGTM, approved

#4155 chore(secmaster): SecMaster add API annotation
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert_rule.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook.go
Labels: size/XS, chore, LGTM, approved

#4123 feat(ecs): add datasource compute_instance_remote_console
  docs/data-sources/compute_instance_remote_console.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_instance_remote_console_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instance_remote_console.go
Labels: size/M, feature, safe to test

#4157 fix(coc): change the type param to ForceNew
  docs/incubating/coc_script.md
  huaweicloud/services/coc/resource_huaweicloud_coc_script.go
Labels: size/XS, bugfix, LGTM

#4135 feat(dws): add workload plan resource support
  docs/resources/dws_workload_plan.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_workload_plan_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_plan.go
Labels: size/L, feature, LGTM

#4158 feat(RDS): add RDS SQLServer accounts data source
  docs/data-sources/rds_sqlserver_accounts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_sqlserver_accounts_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_sqlserver_accounts.go
Labels: size/M, feature, LGTM, approved

#4152 fix(RDS): fix rds api comments
  huaweicloud/services/rds/data_source_huaweicloud_rds_engine_versions.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_flavors.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_parametergroups.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_storage_types.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_account.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_binlog.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database_privilege.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_account.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_database.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sqlserver_account.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sqlserver_database.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sqlserver_database_privilege.go
Labels: size/S, bugfix, LGTM, approved

#4134 fix: fix common retry delay time
  huaweicloud/common/common.go
Labels: size/XS, bugfix, LGTM

#4150 feat(RDS): add RDS SQLServer database privileges data source
  docs/data-sources/rds_sqlserver_database_privileges.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_sqlserver_database_privileges_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_sqlserver_database_privileges.go
Labels: size/L, feature, LGTM, approved

#4141 fix(DCS): fix dcs big key analysis
  docs/resources/dcs_bigkey_analysis.md
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_bigkey_analysis_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_bigkey_analysis.go
Labels: size/M, bugfix, LGTM, approved

#4130 feat(dli): add a new data source to query enhanced connection list
  docs/data-sources/dli_datasource_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_datasource_connections_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_datasource_connections.go
  huaweicloud/utils/utils.go
Labels: size/L, chore, feature, LGTM

#4137 feat(CDN): CDN service, APM service and BCS service add API annotation
  huaweicloud/services/bcs/resource_huaweicloud_bcs_instance.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/XS, feature, LGTM

#4160 feat(VPN): VPN customer gateway resource support tags field
  docs/resources/vpn_customer_gateway.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_customer_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_customer_gateway.go
Labels: size/S, feature, LGTM, approved

#4111 feat(vpc): add new resource network acl
  docs/resources/vpc_network_acl.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_network_acl_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_acl.go
Labels: size/XL, feature, LGTM, approved

#4165 fix: OBS kms remove default project id configuration
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
Labels: size/XS, bugfix, LGTM, approved

#4156 feat(coc): COC service add API annotation
  huaweicloud/services/coc/resource_huaweicloud_coc_script.go
  huaweicloud/services/coc/resource_huaweicloud_coc_script_execute.go
Labels: size/XS, feature, LGTM

#4166 ci: disable LGTM and hold commands
  .github/labeler.yml
Labels: size/XS, LGTM

#4113 feat(eip): support changing bandwidth to pre-paid mode
  docs/resources/vpc_bandwidth.md
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth.go
Labels: size/M, chore, feature, LGTM

#4153 chore(eip): support v3 showPublicip api in eip
  docs/resources/vpc_eip.md
  go.mod
  go.sum
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/eips/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/eips/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/eips/urls.go
  vendor/modules.txt
Labels: size/M, chore, dependencies, LGTM

#4143 chore(iam): add param status in project
  docs/resources/identity_project.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_project_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_project.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/projects/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/projects/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3/projects/urls.go
Labels: size/S, chore, LGTM

#4154 fix(AAD/Anti-DDoS): modify api comments
  huaweicloud/services/aad/resource_huaweicloud_aad_forward_rule.go
  huaweicloud/services/antiddos/resource_huaweicloud_antiddos_basic.go
Labels: size/XS, bugfix, LGTM

#4159 fix(BMS/CBH/HSS): modify api comments
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/XS, bugfix, LGTM

#4171 fix(Organizations): fix organizations service api comments
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_associate.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_invite.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_delegated_administrator.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_organization.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_organizational_unit.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_policy.go
Labels: size/S, bugfix, LGTM, approved

#4168 fix(RDS): fix rds service api comments
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
Labels: size/XS, bugfix, LGTM, approved

#4176 fix(TMS): fix tms service api comments
  huaweicloud/services/tms/resource_huaweicloud_tms_resource_tags.go
Labels: size/XS, bugfix, LGTM, approved

#4167 fix(DDS): fix dds service api comments
  huaweicloud/services/dds/resource_huaweicloud_dds_backup.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/XS, bugfix, LGTM, approved

#4173 fix(CNAD): modify api comments
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_available_objects.go
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_instances.go
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_protected_objects.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_black_white_list.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_policy.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_policy_associate.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_protected_object.go
Labels: size/XS, bugfix, LGTM

#4163 feat(AOM): prometheus instance support parameter prom version and prom type
  docs/resources/aom_prom_instance.md
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_prom_instance_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_prom_instance.go
Labels: size/XS, bugfix, feature, LGTM, approved

#4151 feat(RAM): add a dataource to get the RAM shared resource list
  docs/data-sources/ram_shared_resources.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_shared_resources_test.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_shared_resources.go
Labels: size/L, feature, LGTM

#4185 docs(eip): fix docs example usage for bandwidth
  docs/data-sources/vpc_bandwidths.md
Labels: documentation, size/XS, LGTM

#4186 feat(dli): add new resource of elastic resource pool
  docs/resources/dli_elastic_resource_pool.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_elastic_resource_pool_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_elastic_resource_pool.go
Labels: size/L, feature, LGTM, approved

#4190 fix(ModelArts): fix modelarts resource flavors cpu attribute value
  huaweicloud/services/modelarts/data_source_huaweicloud_modelarts_resource_flavors.go
Labels: size/XS, bugfix, LGTM

#4191 feat(DSC): fix dsc service api comments
  huaweicloud/services/dsc/resource_huaweicloud_dsc_instance.go
Labels: size/XS, feature, LGTM, approved

#4189 feat(DBSS): fix dbss service api comments
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
Labels: size/XS, feature, LGTM, approved

#4187 fix(cfw): fix resource name problem in the doc of domain_name_group
  docs/resources/cfw_domain_name_group.md
Labels: size/XS, bugfix, LGTM, approved

#4175 fix(Workspace): fix Workspace service API comments
  huaweicloud/services/workspace/resource_huaweicloud_workspace_access_policy.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_eip_associate.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_policy_group.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_service.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_terminal_bindings.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_user.go
Labels: size/S, bugfix, LGTM, approved

#4146 feat(dli): add a new data source to get datasource authentication list
  docs/data-sources/dli_datasource_auths.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_datasource_auths_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_datasource_auths.go
Labels: size/L, feature, LGTM, approved

#4206 chore(ci): add new OWNERS for lgtm
  OWNERS
Labels: size/XS, chore, approved

#4201 fix(Kafka): check if connect id is nil
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_smart_connect.go
Labels: size/XS, bugfix, LGTM, approved

#4195 chore(ucs): fix api comments of UCS
  huaweicloud/services/ucs/resource_huaweicloud_ucs_cluster.go
Labels: size/XS, chore, LGTM, approved

#4181 feat(vpc): add new resource traffic_mirror_session
  docs/resources/vpc_traffic_mirror_session.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_traffic_mirror_session_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_traffic_mirror_session.go
Labels: size/L, feature, LGTM, approved

#4087 feat(DMS): rocketmq supports specification modification
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/common/common.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
  huaweicloud/utils/diff_suppress_funcs.go
Labels: size/L, feature, LGTM, approved

#4198 fix(DCS): fix capacity from required to optional and the result
  docs/data-sources/dcs_flavors.md
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_flavors.go
Labels: size/S, bugfix, LGTM, approved

#4196 docs(dws): remove support for logical cluster from resources in the documents
  docs/resources/dws_workload_plan.md
  docs/resources/dws_workload_queue.md
Labels: documentation, size/XS, LGTM, approved

#4122 chore(eip): change charging mode in eip
  docs/resources/vpc_eip.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/eips/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/eips/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/eips/results.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v3/eips/urls.go
  vendor/modules.txt
Labels: size/L, chore, dependencies, LGTM, safe to test

#4183 fix(fgs): fix fgs service api comments
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_trigger.go
Labels: size/XS, bugfix, LGTM, approved

#4194 feat(cdm): cdm_cludter support update enterprise_project_id
  docs/resources/cdm_cluster.md
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_cluster_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_cluster.go
Labels: size/S, feature, LGTM

#3906 fix(cce): Fix scheme for node taints
  docs/resources/cce_node.md
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
Labels: size/XS, bugfix, LGTM

#4213 fix(dws): remove support for logical cluster from resources
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_plan.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_queue.go
Labels: size/XS, bugfix, LGTM, approved

#4199 chore(dli): fix the wrong api references and reorder them
  huaweicloud/services/dli/resource_huaweicloud_dli_database.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_auth.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinkjar_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinksql_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_global_variable.go
  huaweicloud/services/dli/resource_huaweicloud_dli_package.go
  huaweicloud/services/dli/resource_huaweicloud_dli_permission.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
  huaweicloud/services/dli/resource_huaweicloud_dli_spark_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_sql_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_table.go
  huaweicloud/services/dli/resource_huaweicloud_dli_template_flink.go
  huaweicloud/services/dli/resource_huaweicloud_dli_template_spark.go
  huaweicloud/services/dli/resource_huaweicloud_dli_template_sql.go
Labels: size/M, chore, LGTM, approved

#4200 chore(cbr): fix the wrong api references and reorder them
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_backup.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_backup_share.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_backup_share_accepter.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_checkpoint.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_policy.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/S, chore, LGTM, approved

#4192 docs(example): support assignment example of the obs policy
  examples/iam/assign-obs-roles/README.md
  examples/iam/assign-obs-roles/main.tf
  examples/iam/assign-obs-roles/variables.tf
Labels: size/M, documentation, LGTM, approved

#4215 fix(CSS): fix CSS cluster prePaid creation logic
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/XS, bugfix, LGTM, approved

#4179 feat(css/dws/mapreduce): cluster support update enterprise_project_id
  docs/resources/css_cluster.md
  docs/resources/dws_cluster.md
  docs/resources/mapreduce_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
Labels: size/L, feature, LGTM

#4205 fix(DMS): fix api comments
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_instances.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_instances.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_consumer_group.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_permissions.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_topic.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_user_client_quota.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_plugin.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/S, bugfix, LGTM, approved

#4148 feat(ga): the resource of IP address group support new API
  docs/resources/ga_address_group.md
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_address_group_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_address_group.go
Labels: size/L, feature, LGTM, safe to test

#4172 chore(eip): support updating charge mode in bandwidth
  docs/resources/vpc_bandwidth.md
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_bandwidth_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth.go
Labels: size/S, chore, LGTM

#4188 chore(eip): support updating charge mode in bandwidthV1
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth_v1.go
Labels: size/XS, chore, LGTM

#4184 feat(DC): add datasource to get the list of virtual gateways
  docs/data-sources/dc_virtual_gateways.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dc/data_source_huaweicloud_dc_virtual_gateways_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_virtual_gateways.go
Labels: size/L, feature, LGTM, safe to test

#4204 fix(ims): fix api comments
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_copy.go
Labels: size/XS, bugfix, LGTM

#4197 feat(VPN): VPN connection resource support ha_role field
  docs/resources/vpn_connection.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_connection_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
Labels: size/M, feature, LGTM, approved

#4170 chore(coc): export script and script execute resource
  docs/resources/coc_script.md
  docs/resources/coc_script_execute.md
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_script_execute_test.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_script_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_script.go
  huaweicloud/services/coc/resource_huaweicloud_coc_script_execute.go
Labels: size/XS, chore, LGTM, approved

#4169 fix(config): use same logID for API request and response
  huaweicloud/config/logger.go
Labels: size/S, bugfix, LGTM, approved

#4209 fix(cph): fix api comments
  huaweicloud/services/cph/resource_huaweicloud_cph_server.go
Labels: size/XS, bugfix, LGTM

#4220 changelog: Update CHANGELOG for v1.61.1
  CHANGELOG.md
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/urls.go
Labels: size/M, approved

#4219 feat(ELB): fix elb service api comments
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
Labels: size/XS, feature, LGTM, approved

#4224 chore: fix the product info of coc and global eip
  docs/json/data-sources/global_eip_access_sites.json
  docs/json/data-sources/global_eip_pools.json
  docs/json/resources/coc_script.json
  docs/json/resources/coc_script_execute.json
  docs/json/resources/global_eip.json
  docs/json/resources/global_internet_bandwidth.json
Labels: size/S, chore, LGTM, approved

#4216 fix(CCM): modify api comments
  huaweicloud/services/ccm/data_source_huaweicloud_scm_certificates.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_certificate_push.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate.go
  huaweicloud/services/ccm/resource_huaweicloud_scm_certificate.go
Labels: size/S, bugfix, LGTM, approved

#4211 fix(AOM): modify api comments
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_action_rule.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cmdb_application.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cmdb_component.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cmdb_environment.go
Labels: size/S, bugfix, LGTM, approved

#4217 chore(ga): modify the API comments
  huaweicloud/services/ga/resource_huaweicloud_ga_accelerator.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint_group.go
  huaweicloud/services/ga/resource_huaweicloud_ga_health_check.go
  huaweicloud/services/ga/resource_huaweicloud_ga_listener.go
Labels: size/M, chore, LGTM

#4202 chore(dataarts): dataArts service update API comments
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_factory_job_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_business_metric.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_app.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_factory_job.go
Labels: size/XS, chore, LGTM, approved

#4164 feat(DWS): add workload plan stage resource support
  docs/resources/dws_workload_plan_stage.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_workload_plan_stage_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_plan_stage.go
Labels: size/L, feature, LGTM, approved

#4222 chore(cdm): add api comment and fixbug
  huaweicloud/services/cdm/resource_huaweicloud_cdm_cluster_action.go
Labels: size/XS, chore, LGTM

#4226 fix(dns): modify api comments
  huaweicloud/services/dns/data_source_huaweicloud_dns_recordsets.go
  huaweicloud/services/dns/resource_huaweicloud_dns_endpoint.go
  huaweicloud/services/dns/resource_huaweicloud_dns_line_group.go
  huaweicloud/services/dns/resource_huaweicloud_dns_ptrrecord.go
  huaweicloud/services/dns/resource_huaweicloud_dns_resolver_rule.go
  huaweicloud/services/dns/resource_huaweicloud_dns_resolver_rule_associate.go
  huaweicloud/services/dns/resource_huaweicloud_dns_zone.go
Labels: size/S, bugfix, LGTM, approved

#4223 chore(dws): add content-type for api
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_workload_queue_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_logical_cluster.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_queue.go
Labels: size/XS, chore, LGTM, approved

#4212 chore(dws): fix dws service api comments
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_snapshot_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_logical_cluster_rings.go
  huaweicloud/services/dws/resource_huaweicloud_dws_alarm_subscription.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/dws/resource_huaweicloud_dws_event_subscription.go
  huaweicloud/services/dws/resource_huaweicloud_dws_ext_data_source.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot_policy.go
Labels: size/M, chore, LGTM, approved

#4174 feat(nat): add a new data source to get the list of the snat rules
  docs/data-sources/nat_snat_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_snat_rules_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_snat_rules.go
Labels: size/L, feature, LGTM

#4214 feat(nat): add a new data source to get the list of the dnat rules
  docs/data-sources/nat_dnat_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweiclolud_nat_dnat_rules_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_dnat_rules.go
Labels: size/L, feature, LGTM

#4208 fix(WAF): modify api comments
  huaweicloud/services/waf/data_source_huaweicloud_waf_dedicated_instances.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_instance_groups.go
  huaweicloud/services/waf/resource_huaweicloud_waf_certificate.go
  huaweicloud/services/waf/resource_huaweicloud_waf_cloud_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
  huaweicloud/services/waf/resource_huaweicloud_waf_instance_group.go
  huaweicloud/services/waf/resource_huaweicloud_waf_instance_group_associate.go
  huaweicloud/services/waf/resource_huaweicloud_waf_policy.go
  huaweicloud/services/waf/resource_huaweicloud_waf_reference_table.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_blacklist.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_cc_protection.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_data_masking.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_web_tamper_protection.go
Labels: size/S, bugfix, LGTM

#4227 chore(nat): modify the API comments
  huaweicloud/services/nat/resource_huaweicloud_nat_dnat_rule.go
  huaweicloud/services/nat/resource_huaweicloud_nat_gateway.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_dnat_rule.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_gateway.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_snat_rule.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_transit_ip.go
  huaweicloud/services/nat/resource_huaweicloud_nat_snat_rule.go
Labels: size/S, chore, LGTM

#4210 chore(cce): fix api comments of CCE
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/S, chore, LGTM, approved

#4235 fix(dws/cluster): if the cluster fails to be created, it won't deleted
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/XS, bugfix, LGTM

#4193 feat(DDS): add resource dds lts log
  docs/resources/dds_lts_log.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_lts_log_test.go
  huaweicloud/services/dds/common.go
  huaweicloud/services/dds/resource_huaweicloud_dds_lts_log.go
Labels: size/L, feature, LGTM, approved

#4236 chore(dws): add content-type for all api
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_workload_plan_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_alarm_subscription.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/dws/resource_huaweicloud_dws_event_subscription.go
  huaweicloud/services/dws/resource_huaweicloud_dws_ext_data_source.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot_policy.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_plan.go
Labels: size/M, chore, LGTM

#4233 fix(ccm): modify certificate_chain to optional and fix lint error
  docs/resources/scm_certificate.md
  go.mod
  go.sum
  huaweicloud/services/ccm/data_source_huaweicloud_scm_certificates.go
  huaweicloud/services/ccm/resource_huaweicloud_scm_certificate.go
  vendor/github.com/chnsz/golangsdk/openstack/scm/v3/certificates/requests.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM

#4218 feat(bcs/dbss/ddm/dds/dcs): examples support update enterprise_project_id
  docs/resources/bcs_instance.md
  docs/resources/dbss_instance.md
  docs/resources/dcs_instance.md
  docs/resources/ddm_instance.md
  docs/resources/dds_instance.md
  huaweicloud/services/acceptance/bcs/resource_huaweicloud_bcs_instance_test.go
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/bcs/resource_huaweicloud_bcs_instance.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/L, feature, LGTM

#4230 chore(apig): fix apig service api comments
  huaweicloud/services/apig/data_source_huaweicloud_apig_environments.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_groups.go
  huaweicloud/services/apig/resource_huaweicloud_apig_acl_policy.go
  huaweicloud/services/apig/resource_huaweicloud_apig_acl_policy_associate.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api_publishment.go
  huaweicloud/services/apig/resource_huaweicloud_apig_appcode.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application_authorization.go
  huaweicloud/services/apig/resource_huaweicloud_apig_certificate.go
  huaweicloud/services/apig/resource_huaweicloud_apig_channel.go
  huaweicloud/services/apig/resource_huaweicloud_apig_custom_authorizer.go
  huaweicloud/services/apig/resource_huaweicloud_apig_environment.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance_routes.go
  huaweicloud/services/apig/resource_huaweicloud_apig_plugin.go
  huaweicloud/services/apig/resource_huaweicloud_apig_plugin_associate.go
  huaweicloud/services/apig/resource_huaweicloud_apig_response.go
  huaweicloud/services/apig/resource_huaweicloud_apig_signature.go
  huaweicloud/services/apig/resource_huaweicloud_apig_signature_associate.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy_associate.go
  huaweicloud/services/apigateway/resource_api_gateway_environment.go
Labels: size/M, chore, LGTM

#4243 chore(cfw): CFW add API annotation
  huaweicloud/services/cfw/resource_huaweicloud_cfw_protection_rule.go
Labels: size/XS, chore, LGTM, approved

#4245 feat(Dds): modify creating dds instance password to optional
  docs/resources/dds_instance.md
  go.mod
  go.sum
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#4241 fix(CSS): fix CSS resource lint error
  docs/resources/css_cluster.md
  docs/resources/css_configuration.md
  docs/resources/css_snapshot.md
  docs/resources/css_thesaurus.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_snapshot_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_thesaurus_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_flavors.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/css/resource_huaweicloud_css_snapshot.go
  huaweicloud/services/css/resource_huaweicloud_css_thesaurus.go
Labels: size/L, bugfix, LGTM, approved

#4248 test(Kafka): fix kafka consumer group test
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_consumer_group_test.go
Labels: size/XS, LGTM, test, approved

#4203 fix(RDS): update parameter method support v3.1 client
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/services/rds/common.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
Labels: size/M, bugfix, LGTM, approved

#4239 feat(eip): add resource vpc internet gateway
  docs/resources/vpc_internet_gateway.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_internet_gateway_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_internet_gateway.go
Labels: size/L, feature, LGTM, safe to test

#4247 feat(iam): support login protect for user
  docs/resources/identity_user.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/users/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/users/results.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/v3.0/users/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, safe to test

#4242 feat(fgs): use this data source to get the list of application templates
  docs/data-sources/fgs_application_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_application_templates_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_application_templates.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/application/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/application/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/application/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, safe to test

#4240 feat(dds): add dds storage types datasource
  docs/data-sources/dds_storage_types.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_storage_types_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_storage_types.go
Labels: size/M, feature, LGTM, approved

#4237 feat(iam): add resource identity user token
  docs/resources/identity_user_token.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_token_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user_token.go
Labels: size/M, feature, LGTM

#4257 fix(Config): fix rms organizational assignment package product
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_assignment_package.go
Labels: size/XS, bugfix, LGTM, approved

#4253 feat(DC): DC virtual interface add field resource_tenant_id
  docs/resources/dc_virtual_interface.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/M, feature, LGTM, approved

#4246 feat(dms/er/rds/waf): instance support update enterprise_project_id
  docs/resources/dms_rocketmq_instance.md
  docs/resources/er_instance.md
  docs/resources/rds_instance.md
  docs/resources/rds_read_replica_instance.md
  docs/resources/waf_cloud_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_read_replica_instance_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_cloud_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
  huaweicloud/services/er/resource_huaweicloud_er_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_cloud_instance.go
Labels: size/M, feature, LGTM

#4264 feat(bms): bms_instance support update enterprise_project_id
  docs/resources/bms_instance.md
  huaweicloud/services/acceptance/bms/resource_huaweicloud_bms_instance_test.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
Labels: size/M, feature, LGTM

#4269 fix(dataarts): fixed the issue of resources not being found
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_instance_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_instance.go
Labels: size/XS, bugfix, LGTM

#4259 feat(CC): add exclude_er_connections attribute to CC central network policy resource
  docs/resources/cc_central_network_policy.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_central_network_policy_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_policy.go
Labels: size/L, feature, LGTM, approved

#4271 feat(cfw): add rule_hit_count attribute to cfw_protection_rule resource
  docs/resources/cfw_protection_rule.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_protection_rule_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_protection_rule.go
Labels: size/S, feature, LGTM, approved

#4266 feat(EVS): EVS snapshot support metadata field parameter
  docs/resources/evs_snapshot.md
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_snapshot_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_snapshot.go
Labels: size/XS, feature, LGTM, approved

#4221 feat(cdn): add a new data source to query the list of CDN domains
  docs/data-sources/cdn_domains.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_domains_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_domains.go
Labels: size/L, feature, LGTM, approved

#4265 feat(ga): add a new datasource to get the list of the accelerators
  docs/data-sources/ga_accelerators.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/data_source_huaweicloud_ga_accelerators_test.go
  huaweicloud/services/ga/data_source_huaweicloud_ga_accelerators.go
Labels: size/L, feature, LGTM, approved

#4260 feat(BMS): add datasource to query the list of BMS instances
  docs/data-sources/bms_instances.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/bms/data_source_huaweicloud_bms_instances_test.go
  huaweicloud/services/bms/data_source_huaweicloud_bms_instances.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#4252 feat(eip): add data source vpc igws
  docs/data-sources/vpc_internet_gateways.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_internet_gateways_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_internet_gateways.go
Labels: size/L, feature, LGTM, safe to test

#4276 fix(BMS): add precheck verifications of USER_ID and ENTERPRISE_PROJECT_ID in the test case
  huaweicloud/services/acceptance/bms/data_source_huaweicloud_bms_instances_test.go
Labels: size/XS, bugfix, LGTM, approved

#4261 feat(iotda): add batch task file resource support
  docs/resources/iotda_batchtask_file.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_batchtask_file_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_batchtask_file.go
Labels: size/L, feature, LGTM

#4254 feat(dli): the resource supports associate elastic resource pool
  docs/resources/dli_queue.md
  go.mod
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/queues/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/queues/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/elasticresourcepool/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/elasticresourcepool/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/elasticresourcepool/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#4275 feat(ga): add a new datasource to get the list of the listeners
  docs/data-sources/ga_listeners.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/data_source_huaweicloud_ga_listeners_test.go
  huaweicloud/services/ga/data_source_huaweicloud_ga_listeners.go
Labels: size/L, feature, LGTM, approved

#4273 feat(dws): modify cluster to support multiple availability zones
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/S, feature, LGTM, safe to test, approved

#4128 feat(cdn): add a new data source to query CDN certificate https list
  docs/data-sources/cdn_domain_certificates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_domain_certificates_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_domain_certificates.go
Labels: size/L, feature, LGTM, approved

#4238 feat(dws): add workload plan execution resource support
  docs/resources/dws_workload_plan_execution.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_workload_plan_execution_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_plan_execution.go
Labels: size/L, feature, LGTM

#4281 feat(CFW): add region_list attribute to cfw_protection_rule resource
  docs/resources/cfw_protection_rule.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_protection_rule_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_protection_rule.go
Labels: size/M, feature, LGTM, approved

#4285 feat(ga): add a new datasource to get the list of the ip address groups
  docs/data-sources/ga_address_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/data_source_huaweicloud_ga_address_groups_test.go
  huaweicloud/services/ga/data_source_huaweicloud_ga_address_groups.go
Labels: size/L, feature, LGTM, approved

#4244 feat(DMS): add resource rocketmq migration task
  docs/resources/dms_rocketmq_migration_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_migration_task_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_migration_task.go
Labels: size/XL, feature, LGTM, approved

#4267 feat(cc): add resource global connection bandwidth
  docs/resources/cc_global_connection_bandwidth.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_global_connection_bandwidth_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_global_connection_bandwidth.go
Labels: size/L, feature, LGTM

#4283 feat(DCS): add resource dcs account
  docs/resources/dcs_account.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_account_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_account.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/L, feature, LGTM, approved

#4279 chore(ecs): update API comments for ecs service
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instance.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instances.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_auto_launch_group.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_eip_associate.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_interface_attach.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_servergroup.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_volume_attach.go
Labels: size/S, chore, LGTM, approved

#4274 fix(endpoint): get the website type and update the endpoint for bss a…
  huaweicloud/config/config.go
  huaweicloud/provider.go
Labels: size/S, bugfix, LGTM, approved

#4256 docs(dws/cluster): sync to the API docs
  docs/resources/dws_cluster.md
Labels: documentation, size/XS, LGTM, approved

#4251 chore: get rid of unused functions
  huaweicloud/common.go
  huaweicloud/resource_huaweicloud_mrs_job_v1.go
Labels: size/S, chore, LGTM, approved

#4289 fix(gaussdb): fix gaussdb cassandra datasource lint error
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_cassandra_dedicated_resource_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_cassandra_flavors_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_dedicated_resource.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_flavors.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instances.go
Labels: size/M, bugfix, LGTM

#4270 feat(dataarts): dataarts_studio_instance support update enterprise_project_id
  docs/resources/dataarts_studio_instance.md
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_studio_instance_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_instance.go
Labels: size/S, feature, LGTM

#4268 feat(CSS): add new resource CSS logstash cluster
  docs/resources/css_logstash_cluster.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
Labels: size/L, feature, LGTM, approved

#4286 feat(eip): add data source global internet bandwidths
  docs/data-sources/global_internet_bandwidths.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_global_internet_bandwidths_test.go
  huaweicloud/services/eip/data_source_huaweicloud_global_internet_bandwidths.go
Labels: size/L, feature, LGTM, safe to test

#4262 feat(dws): add disaster recovery task resource support
  docs/resources/dws_disaster_recovery_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_disaster_recovery_task_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_disaster_recovery_task.go
Labels: size/L, feature, LGTM, approved

#4287 feat(dws): add parameter lts_enable to support LTS
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/S, feature, LGTM, approved

#4284 feat(ModelArts): modelarts resource pool support privilege resource pool
  docs/resources/modelarts_resource_pool.md
  huaweicloud/common/common.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_resource_pool_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_resource_pool.go
Labels: size/XL, feature, LGTM, approved

#4249 feat(rms): add new resource organizational policy assignment
  docs/resources/rms_policy_organizational_assignment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_organizational_policy_assignment_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_policy_assignment.go
Labels: size/L, feature, LGTM, approved

#4234 feat(RDS): rds instance support modify configuration
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_parametergroup_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/M, feature, LGTM, approved

#4278 feat(eip): add resource global eip associate
  docs/resources/global_eip_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_global_eip_associate_test.go
  huaweicloud/services/eip/resource_huaweicloud_global_eip_associate.go
Labels: size/L, feature, LGTM, safe to test

#4290 fix(gaussdb): fix gaussdb mysql datasource lint error
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_dedicated_resource_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_flavors_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_configuration.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_dedicated_resource.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_flavors.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instances.go
Labels: size/M, bugfix, LGTM

#4282 feat(iotda): add OTA upgrade package resource support
  docs/resources/iotda_upgrade_package.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_upgrade_package_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_upgrade_package.go
Labels: size/L, feature, LGTM

#4255 docs(geminidb): rename gaussdb nosql to geminidb
  docs/data-sources/gaussdb_cassandra_dedicated_resource.md
  docs/data-sources/gaussdb_cassandra_flavors.md
  docs/data-sources/gaussdb_cassandra_instance.md
  docs/data-sources/gaussdb_cassandra_instances.md
  docs/data-sources/gaussdb_nosql_flavors.md
  docs/data-sources/gaussdb_redis_instance.md
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_influx_instance.md
  docs/resources/gaussdb_mongo_instance.md
  docs/resources/gaussdb_redis_eip_associate.md
  docs/resources/gaussdb_redis_instance.md
Labels: size/S, documentation, LGTM, approved
