Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-01, with the labels that each got.

#3909 feat(SWR): add datasource swr image triggers
  docs/data-sources/swr_image_triggers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_image_triggers_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_image_triggers.go
Labels: size/L, feature, LGTM

#3936 chore(vpn): add API description in resource vpn gateway
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/XS, chore

#3907 feat(EVS): add datasource to query the list of EVS snapshots
  docs/data-sources/evs_snapshots.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_snapshots_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_snapshots.go
Labels: size/L, feature, LGTM, safe to test

#3911 fix(apigateway): move resource api_gateway_api into services and fix codecheck errors
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apigateway/resource_huaweicloud_api_gateway_api_test.go
  huaweicloud/services/apigateway/resource_huaweicloud_api_gateway_api.go
Labels: size/M, bugfix

#3917 feat(Anti-DDoS): antiddos resource support alarm configuration
  docs/resources/antiddos_basic.md
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/antiddos/resource_huaweicloud_antiddos_basic_test.go
  huaweicloud/services/antiddos/resource_huaweicloud_antiddos_basic.go
  vendor/github.com/chnsz/golangsdk/openstack/antiddos/v2/alarmreminding/API-cn.md
  vendor/github.com/chnsz/golangsdk/openstack/antiddos/v2/alarmreminding/API-en.md
  vendor/github.com/chnsz/golangsdk/openstack/antiddos/v2/alarmreminding/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/antiddos/v2/alarmreminding/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/antiddos/v2/alarmreminding/results.go
  vendor/github.com/chnsz/golangsdk/openstack/antiddos/v2/alarmreminding/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3935 feat(DCS): fix dcs instance param validation
  docs/resources/dcs_instance.md
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/M, feature, LGTM

#3910 fix(evs): evs supports field: server_id
  docs/resources/evs_volume.md
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/M, bugfix, LGTM, safe to test

#3921 feat(er): add a new datasource to query the list of flow log
  docs/data-sources/er_flow_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_flow_logs_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_flow_logs.go
Labels: size/L, feature, LGTM

#3931 feat(MRS): support alarm configuration for MRS instance
  docs/resources/mapreduce_cluster.md
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v2/clusters/requests.go
Labels: size/M, feature, LGTM

#3924 fix(apigateway): move resource api_gateway_group into services and fix codecheck errors
  huaweicloud/provider.go
  huaweicloud/resource_huaweicloud_api_gateway_group.go
  huaweicloud/services/acceptance/apigateway/resource_huaweicloud_api_gateway_group_test.go
  huaweicloud/services/apigateway/resource_huaweicloud_api_gateway_group.go
Labels: size/L, bugfix, LGTM

#3928 refactor(cdm): rewrite data source cdm flavors
  docs/data-sources/cdm_flavors.md
  huaweicloud/data_source_huaweicloud_cdm_flavors_v1.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdm/data_source_huaweicloud_cdm_flavors_test.go
  huaweicloud/services/cdm/data_source_huaweicloud_cdm_flavors.go
Labels: size/L, refactor, LGTM, safe to test

#3937 feat(organizations): export account resource
  docs/incubating/organizations_account.md
  docs/resources/organizations_account.md
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account.go
Labels: size/M, feature

#3940 feat(Organizations): add organizations delegated administrator
  docs/resources/organizations_delegated_administrator.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_delegated_administrator_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_delegated_administrator.go
Labels: size/L, feature, LGTM

#3941 changelog: Update CHANGELOG for v1.60.1
  CHANGELOG.md
Labels: size/XS

#3929 refactor(workspace/service): add a constraint description and refactor test case
  docs/resources/workspace_service.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_service_test.go
Labels: size/M, refactor, LGTM

#3933 refactor(OMS): update parameter authentication_type and add examples f…
  docs/resources/oms_migration_task.md
  docs/resources/oms_migration_task_group.md
  examples/oms/migration-group-object/README.md
  examples/oms/migration-group-object/main.tf
  examples/oms/migration-group-object/variables.tf
  examples/oms/migration-object/README.md
  examples/oms/migration-object/main.tf
  examples/oms/migration-object/variables.tf
  huaweicloud/services/acceptance/oms/resource_huaweicloud_oms_migration_task_test.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task_group.go
Labels: size/L, refactor, LGTM

#3925 feat(CC): add a new resource to manage central network attachment
  docs/resources/cc_central_network_attachment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_central_network_attachment_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_attachment.go
Labels: size/L, feature, LGTM

#3944 feat(VPC): add a new resource traffic mirror filter
  docs/resources/vpc_traffic_mirror_filter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_traffic_mirror_filter_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_traffic_mirror_filter.go
Labels: size/L, feature, LGTM

#3942 feat(as/policy): action structure support new parameter
  docs/resources/as_policy.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/policies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/policies/results.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/policies/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3957 chore(ecs): move ecs resource to deprecated
  docs/resources/compute_keypair.md
  huaweicloud/resource_huaweicloud_bcs_instance.go
  huaweicloud/resource_huaweicloud_bcs_instance_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_pvc_test.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_notebook_test.go
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_application_test.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_environment_test.go
Labels: size/S, chore, LGTM

#3408 feat(CDM): add a new resource to manage cluster action
  docs/resources/cdm_cluster_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_cluster_action_test.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_cluster_action.go
Labels: size/L, feature, LGTM, safe to test

#3945 feat(DMS): add wait logic to kafka permissions
  docs/resources/dms_kafka_permissions.md
  go.mod
  go.sum
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_permissions.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#3951 feat(RDS): rds instance support modify replication mode
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/waf_hw/v1/domains/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3962 test(cce): update func testAccNode_Base to avoid security risk
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_test.go
Labels: size/M, LGTM, test

#3960 fix(docs): fix parameter value error
  docs/resources/mapreduce_cluster.md
Labels: size/XS, bugfix, LGTM

#3947 feat(VPCEP): add datasource to query VPC endpoint service connections
  docs/data-sources/vpcep_service_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpcep/data_source_huaweicloud_vpcep_service_connections_test.go
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_service_connections.go
Labels: size/M, feature, LGTM

#3955 feat(VPCEP): add datasource to query VPC endpoint service permissions
  docs/data-sources/vpcep_service_permissions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpcep/data_source_huaweicloud_vpcep_service_permissions_test.go
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_service_permissions.go
Labels: size/M, feature, LGTM

#3958 feat(RDS): rds instance support switch strategy
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/common.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/cdm/v1/link/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#3952 fix(elb): add elb pool datasource for param
  docs/data-sources/elb_pools.md
  huaweicloud/services/elb/data_source_huaweicloud_elb_pools.go
  huaweicloud/services/elb/resource_huaweicloud_elb_pool.go
Labels: size/XS, bugfix, LGTM

#3956 feat(DMS): update password for rabbitmq
  docs/resources/dms_rabbitmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/S, feature, LGTM

#3963 feat(DC): DC virtual_gateway and virtual_interface support tags
  docs/resources/dc_virtual_gateway.md
  docs/resources/dc_virtual_interface.md
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_gateway_test.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_gateway.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/S, feature, LGTM

#3971 test(servicestage): udpate testAccComponentInstance_base to avoid sec…
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_component_instance_test.go
Labels: size/XS, test

#3961 fix(iotda/dataforwardingrule): fix targets parameter does not support DMS_KAFKA_FORWARDING type
  huaweicloud/services/iotda/resource_huaweicloud_iotda_dataforwarding_rule.go
Labels: size/XS, bugfix, LGTM

#3904 feat(er/instance): using batch API to instead old APIs
  huaweicloud/services/er/resource_huaweicloud_er_instance.go
Labels: size/M, feature, LGTM

#3978 fix(DWS): support update tags
  docs/resources/dws_cluster.md
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/XS, bugfix, LGTM

#3943 feat(SWR): add datasource swr image tags
  docs/data-sources/swr_image_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_image_tags_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_image_tags.go
Labels: size/L, feature, LGTM

#3948 feat(iam): add resource identity virtual mfa device
  docs/resources/identity_virtual_mfa_device.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_virtual_mfa_device_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_virtual_mfa_device.go
Labels: size/L, feature, LGTM

#3973 feat(CC): add a resource to manage auth
  docs/resources/cc_authorization.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_authorization_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_authorization.go
Labels: size/L, feature, LGTM

#3934 feat(ELB): add elb active standby pool resource
  docs/resources/elb_active_standby_pool.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_active_standby_pool_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_active_standby_pool.go
Labels: size/L, feature, LGTM

#3968 feat(vpc): add a new resource support traffic mirror filter rule
  docs/resources/vpc_traffic_mirror_filter_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_traffic_mirror_filter_rule_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_traffic_mirror_filter_rule.go
Labels: size/L, feature, LGTM

#3991 feat(elb): update elb listener resource for new param
  docs/resources/elb_listener.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_listener_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/listeners/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/dependencies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/dependencies/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/dependencies/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM

#3939 feat(EVS): resource EVS supports updating QoS of cloudvolume
  docs/resources/evs_volume.md
  go.sum
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v5/cloudvolumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v5/cloudvolumes/resullts.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v5/cloudvolumes/urls.go
  vendor/modules.txt
Labels: size/L, feature, LGTM

#3975 docs(WAF): moving WAF instance group documents to new folder
  docs/incubating/waf_instance_group.md
  docs/incubating/waf_instance_group_associate.md
  docs/incubating/waf_instance_groups.md
  huaweicloud/services/waf/data_source_huaweicloud_waf_instance_groups.go
  huaweicloud/services/waf/resource_huaweicloud_waf_instance_group.go
  huaweicloud/services/waf/resource_huaweicloud_waf_instance_group_associate.go
Labels: documentation, size/XS, LGTM

#3953 fix(docs): change plaintext password to variable form
  docs/resources/cse_microservice.md
  docs/resources/cse_microservice_instance.md
  docs/resources/ddm_schema.md
  docs/resources/dds_instance.md
  docs/resources/dms_instance.md
  docs/resources/dms_kafka_instance.md
  docs/resources/dms_kafka_user.md
  docs/resources/dms_rabbitmq_instance.md
  docs/resources/fgs_trigger.md
  docs/resources/identity_access_key.md
  docs/resources/identity_group_membership.md
  docs/resources/identity_user.md
  docs/resources/identity_user_role_assignment.md
  docs/resources/rds_instance.md
  docs/resources/rds_mysql_account.md
  docs/resources/rds_pg_account.md
Labels: size/S, bugfix, LGTM

#3966 feat(WAF): add a new datasource to query waf domain list
  docs/data-sources/waf_domains.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_domains_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_domains.go
Labels: size/L, feature, LGTM

#3974 feat(DWS): DWS cluster support editing logical cluster switch
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/S, feature, LGTM

#3990 feat(VPC): add vpc network interface resource
  docs/resources/vpc_network_interface.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_network_interface_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_interface.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/requests.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, safe to test

#3988 chore(nat): private dnat rule resource support enterprise_project_id attribute
  docs/resources/nat_private_dnat_rule.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_dnat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_dnat_rule.go
Labels: size/XS, chore, LGTM

#3985 feat(DMS): add resource rabbitmq plugin
  docs/resources/dms_rabbitmq_plugin.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_plugin_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_plugin.go
Labels: size/L, feature, LGTM

#3964 feat(as): add policies datasource support
  docs/data-sources/as_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_policies_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_policies.go
Labels: size/L, feature, LGTM

#3982 chore(nat): private snat rule resource support eps and transit_ip_address attribute
  docs/resources/nat_private_snat_rule.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_snat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_snat_rule.go
Labels: size/XS, chore, LGTM

#3995 feat(DWS): DWS support a datasource to get logical cluster rings
  docs/data-sources/dws_logical_cluster_rings.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_logical_cluster_rings_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_logical_cluster_rings.go
Labels: size/L, feature, LGTM

#3959 fix(bcs): move resource bcs_instance into services and fix codecheck errors
  docs/resources/bcs_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/bcs/resource_huaweicloud_bcs_instance_test.go
  huaweicloud/services/bcs/resource_huaweicloud_bcs_instance.go
Labels: size/M, bugfix, LGTM

#3969 feat(nat): private nat gateway datasource support tags filter
  docs/data-sources/nat_private_gateways.md
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_gateways_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_gateways.go
Labels: size/S, feature, LGTM

#3970 feat(apig): apig_instance support update enterprise_project_id
  docs/resources/apig_instance.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
Labels: size/S, feature, LGTM

#3981 feat(cbr): cbr_vault support update enterprise_project_id
  docs/resources/cbr_vault.md
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/M, feature, LGTM

#3992 feat(cc): cc_bandwidth_package support update enterprise_project_id
  docs/resources/cc_bandwidth_package.md
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_bandwidth_package_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_bandwidth_package.go
Labels: size/M, feature, LGTM, safe to test

#3993 feat(cc): cc_connection support update enterprise_project_id
  docs/resources/cc_connection.md
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_connection_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_connection.go
Labels: size/S, feature, LGTM

#3994 feat(dws): add workload queue resource support
  docs/resources/dws_workload_queue.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_workload_queue_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_queue.go
Labels: size/L, feature, LGTM, safe to test

#4010 feat(VPC): support VPC network interface parameter allowed_addresses update to nil
  go.mod
  go.sum
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_network_interface_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_interface.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/ports/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, safe to test

#3987 feat(cfw): add new resource domain_name_group
  docs/resources/cfw_domain_name_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_domain_name_group_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_domain_name_group.go
Labels: size/L, feature, LGTM

#4006 fix(DDS): fix dds database role
  docs/resources/dds_database_role.md
  huaweicloud/services/dds/resource_huaweicloud_dds_database_role.go
Labels: size/M, bugfix, LGTM

#4012 feat(DWS): DWS datasource flavors support datastore_version attribute
  docs/data-sources/dws_flavors.md
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_flavors_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_flavors.go
Labels: size/XS, feature, LGTM, safe to test

#3965 feat(vpc): add a new resource sub network interface
  docs/resources/vpc_sub_network_interface.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_sub_network_interface_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_sub_network_interface.go
Labels: size/L, feature, LGTM

#3980 feat(ecs): add resource compute auto launch group
  docs/resources/compute_auto_launch_group.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_auto_launch_group_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_auto_launch_group.go
Labels: size/L, feature, LGTM

#3998 feat(DMS): kafka instance support modify password
  docs/resources/dms_kafka_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/desktops/urls.go
Labels: size/M, feature, LGTM

#4000 feat(DMS): add datasource rabbitmq plugins
  docs/data-sources/dms_rabbitmq_plugins.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rabbitmq_plugins_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rabbitmq_plugins.go
Labels: size/L, feature, LGTM

#3979 fix(DEW): dew add api comments
  huaweicloud/services/dew/data_source_huaweicloud_csms_secret_version.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_data_key.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_key.go
  huaweicloud/services/dew/data_source_huaweicloud_kps_keypairs.go
  huaweicloud/services/dew/resource_huaweicloud_csms_event.go
  huaweicloud/services/dew/resource_huaweicloud_csms_secret.go
  huaweicloud/services/dew/resource_huaweicloud_kms_dedicated_keystore.go
  huaweicloud/services/dew/resource_huaweicloud_kms_grant.go
  huaweicloud/services/dew/resource_huaweicloud_kms_key.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair.go
Labels: size/S, bugfix, LGTM

#4001 chore(fgs): Supplement API references for all resources
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_dependencies.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_functions.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_async_invoke_configuration.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_trigger.go
Labels: size/XS, chore, LGTM

#4009 fix(DMS): fix kafka user client quota api comments
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_user_client_quota.go
Labels: size/XS, bugfix, LGTM

#4005 fix(DWS): fix DWS cluster unit test fail and lint error
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
Labels: size/XS, bugfix, LGTM

#4021 test(DMS): fix rabbitmq plugins test cases
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rabbitmq_plugins_test.go
Labels: size/XS, LGTM, test

#4022 fix(DDS): fix dds instance wait func param
  huaweicloud/services/dds/resource_huaweicloud_dds_database_user.go
Labels: size/XS, bugfix, LGTM

#4017 chore(scripts): fix the markdown format of attributes and update docs
  docs/data-sources/elb_listeners.md
  docs/data-sources/identity_agencies.md
  docs/data-sources/kms_key.md
  docs/data-sources/sms_source_servers.md
  docs/data-sources/vpcep_services.md
  docs/data-sources/vpn_connection_health_checks.md
  docs/incubating/coc_script.md
  docs/incubating/coc_script_execute.md
  docs/resources/apig_instance.md
  docs/resources/cdm_cluster.md
  docs/resources/drs_job.md
  docs/resources/er_flow_log.md
  docs/resources/modelarts_notebook.md
  docs/resources/modelarts_notebook_mount_storage.md
  docs/resources/rds_read_replica_instance.md
  docs/resources/sdrs_protected_instance.md
  docs/resources/sdrs_replication_attach.md
  docs/resources/swr_image_permissions.md
  docs/resources/vpc_network_interface.md
  docs/resources/vpc_traffic_mirror_filter.md
  scripts/markdown_gen/render.go
  scripts/markdown_gen/writer.go
Labels: size/S, documentation, chore, LGTM

#3999 feat(fgs): support new dependency version resource
  docs/resources/fgs_dependency.md
  docs/resources/fgs_dependency_version.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_dependency_version_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency_version.go
  huaweicloud/utils/utils.go
  huaweicloud/utils/utils_test.go
Labels: size/L, documentation, chore, feature, LGTM

#4002 feat(AS): add datasource AS lifecycle hooks
  docs/data-sources/as_lifecycle_hooks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_lifecycle_hooks_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_lifecycle_hooks.go
Labels: size/L, feature, LGTM

#4026 fix(cce): fix error rising of opening file
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/cce/resource_huaweicloud_cce_chart.go
Labels: size/XS, bugfix, LGTM

#4031 feat(elb): fix elb listener unsupported test case field
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_listener_test.go
Labels: size/XS, feature, LGTM

#4011 feat(AOM): add a resource to manage AOM prometheus instance
  docs/resources/aom_prom_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_prom_instance_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_prom_instance.go
Labels: size/L, feature, LGTM

#3977 feat(DWS): support DWS cluster bind ELB
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/L, feature, LGTM

#4008 feat(ces): ces_alaemrule support update enterprise_project_id
  docs/resources/ces_alarmrule.md
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
Labels: size/S, feature, LGTM

#4014 feat(ces): ces_resource_group support update enterprise_project_id
  docs/resources/ces_resource_group.md
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_resource_group_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_resource_group.go
Labels: size/S, feature, LGTM

#4019 feat(cts): add datasource cts key event notifications
  docs/data-sources/cts_notifications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_notifications_test.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_notifications.go
Labels: size/L, feature, LGTM

#4023 feat(RDS): rds instance support modify collation
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#4025 feat(VPCEP): add a new datasource to query VPC endpoint list
  docs/data-sources/vpcep_endpoints.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpcep/data_source_huaweicloud_vpcep_endpoints_test.go
  huaweicloud/services/vpcep/data_source_huaweicloud_vpc_endpoints.go
Labels: size/L, feature, LGTM

#4032 feat(workspace): add datasource to get the list of desktops
  docs/data-sources/workspace_desktops.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_desktops_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_desktops.go
Labels: size/L, feature, LGTM

#4046 fix: feat(OBS): upgrade OBS version to 3.23.9 and fix lifecycle configuration
  docs/resources/obs_bucket.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/obs/resource_huaweicloud_obs_bucket_test.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/CHANGELOG
  vendor/github.com/chnsz/golangsdk/openstack/obs/README.MD
  vendor/github.com/chnsz/golangsdk/openstack/obs/conf.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/const.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/convert.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/extension.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/http.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/log.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/mime.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/model_object.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/progress.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/trait_bucket.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/type.go
  vendor/github.com/chnsz/golangsdk/openstack/obs/util.go
  vendor/modules.txt
Labels: size/L, documentation, bugfix, feature, dependencies, LGTM

#4035 feat(DMS): add datasource rabbitmq instances
  docs/data-sources/dms_rabbitmq_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rabbitmq_instances_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rabbitmq_instances.go
Labels: size/L, feature, LGTM

#4040 docs(dataarts): update the example in script doc
  docs/resources/dataarts_factory_script.md
Labels: documentation, size/XS, LGTM

#4042 docs(nat): replace fixed value with variable declaration references
  docs/resources/nat_gateway.md
Labels: documentation, size/XS, LGTM

#4041 test(workspace): the acceptance test method is changed to serial
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_access_policy_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_eip_associate_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_policy_group_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_service_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_terminal_bindings_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_user_group_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_user_test.go
Labels: size/XS, LGTM, test

#4045 fix(drs): set the resource ID before querying task satus API
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/XS, bugfix, LGTM

#4028 fix(nat): remove unsupported characters when ECS instance reset password
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_dnat_rule_test.go
Labels: size/XS, bugfix, refactor, LGTM, test

#4037 refactor(cts): change cts tracker resource id from name to UUID
  docs/resources/cts_data_tracker.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_data_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/S, refactor, LGTM

#4024 feat(DWS): Add new resource to manage DWS logical cluster
  docs/resources/dws_logical_cluster.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_logical_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_logical_cluster.go
Labels: size/L, feature, LGTM

#4038 feat(DMS): create rocketmq instance with new api and add api description
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/XS, feature, LGTM

#4034 feat(eip): add data source vpc bandwidths
  docs/data-sources/vpc_bandwidths.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_bandwidths_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_bandwidths.go
Labels: size/L, feature, LGTM

#4048 fix(cnad/organization/ucs): region format adjust
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_black_white_list_test.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_policy_associate_test.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_policy_test.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_protected_object_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_invite_accepter_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_invite_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_organization_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_organizational_unit_test.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_trusted_service_test.go
  huaweicloud/services/acceptance/ucs/resource_huaweicloud_ucs_cluster_test.go
  huaweicloud/services/acceptance/ucs/resource_huaweicloud_ucs_fleet_test.go
  huaweicloud/services/acceptance/ucs/resource_huaweicloud_ucs_policy_test.go
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_available_objects.go
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_instances.go
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_protected_objects.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_black_white_list.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_policy.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_policy_associate.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_protected_object.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_organization.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_associate.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_invite.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_invite_accepter.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_organization.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_organizational_unit.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_trusted_service.go
  huaweicloud/services/ucs/resource_huaweicloud_ucs_cluster.go
  huaweicloud/services/ucs/resource_huaweicloud_ucs_fleet.go
  huaweicloud/services/ucs/resource_huaweicloud_ucs_policy.go
Labels: size/M, bugfix, LGTM

#4050 docs(drs): add constraint description for destination_db_readnoly
  docs/resources/drs_job.md
Labels: documentation, size/XS, LGTM

#4062 fix(dataarts): DATAARTS Architecture Model add api comments
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_model.go
Labels: size/XS, bugfix, LGTM

#4064 chore(nat): update API description
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_snat_rules.go
Labels: size/XS, chore, LGTM

#4060 chore(cfw): update API description of firewall and domain_name_group
  huaweicloud/services/cfw/resource_huaweicloud_cfw_domain_name_group.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
Labels: size/XS, chore, LGTM

#4039 chore(VPN): update the API descriptions of vpn gateway
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/XS, chore, LGTM

#4066 fix(dataarts): fixed the issue of interface paths
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_reviewer.go
Labels: size/XS, bugfix, LGTM

#4020 refactor(ecs): rewrite resource computer interface attach
  docs/resources/compute_interface_attach.md
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_interface_attach_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_interface_attach.go
Labels: size/L, refactor, LGTM, safe to test

#4029 fix(ELB): fix elb active standby pool resource
  docs/resources/elb_active_standby_pool.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_active_standby_pool_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_active_standby_pool.go
Labels: size/L, bugfix, LGTM

#4043 feat(fgs/application): add new resource support
  docs/resources/fgs_application.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_application_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_async_invoke_configuration_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_trigger_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_application.go
Labels: size/L, feature, LGTM, test

#4051 test(er): modify concurrent test to serial test
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_attachments_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_flow_logs_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_instances_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_route_table_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_association_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_flow_log_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_instance_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_propagation_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_route_table_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_static_route_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_vpc_attachment_test.go
Labels: size/S, LGTM, test

#4052 feat(DMS): modify flavor with new api
  go.mod
  go.sum
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/rabbitmq/instances/urls.go
  vendor/modules.txt
Labels: size/XS, feature, dependencies, LGTM

#4067 fix: fix the comments which contain API
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_dataset.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
Labels: size/XS, bugfix, LGTM

#4054 feat(cts): cts tracker and data tracker support tags
  docs/resources/cts_data_tracker.md
  docs/resources/cts_tracker.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_data_tracker_test.go
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/M, feature, LGTM, safe to test

#4061 feat(cbh): add a new data source to query the list of CBH specification
  docs/data-sources/cbh_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_flavors_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_flavors.go
Labels: size/L, feature, LGTM, safe to test

#4053 feat(RDS): add rds postgreSQL hba resource
  docs/resources/rds_pg_hba.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_hba_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_hba.go
Labels: size/L, feature, LGTM

#4071 fix(iotda/device): fix read function duplicate setting name field
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
Labels: size/XS, bugfix, LGTM

#4069 feat(eip): add data source global eip pools
  docs/data-sources/global_eip_pools.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_global_eip_pools_test.go
  huaweicloud/services/eip/data_source_huaweicloud_global_eip_pools.go
Labels: size/L, feature, safe to test

#4077 feat(bms): bms instance support to update tags
  docs/resources/bms_instance.md
  huaweicloud/services/acceptance/bms/resource_huaweicloud_bms_instance_test.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
Labels: size/S, feature, LGTM

#4057 feat(DMS): add datasource rocketmq flavors and update region property
  docs/data-sources/dms_rocketmq_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_flavors_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_flavors.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rabbitmq_flavors.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_flavors.go
Labels: size/L, feature, LGTM

#4013 feat(DC): add a new resource to manage hosted connected
  docs/resources/dc_hosted_connect.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_hosted_connect_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_hosted_connect.go
Labels: size/L, feature, LGTM

#4082 feat(eip): add data source global eip access sites
  docs/data-sources/global_eip_access_sites.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_global_eip_access_sites_test.go
  huaweicloud/services/eip/data_source_huaweicloud_global_eip_access_sites.go
Labels: size/L, feature, LGTM, safe to test

#4079 feat(eip): add resource global internet bandwidth
  docs/resources/global_internet_bandwidth.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_global_internet_bandwidth_test.go
  huaweicloud/services/eip/resource_huaweicloud_global_internet_bandwidth.go
Labels: size/L, feature, LGTM, safe to test

#4083 fix(docs): change the resource ID of the datasource
  docs/data-sources/cbh_instances.md
  docs/data-sources/cce_addon_template.md
  docs/data-sources/cce_node_pool.md
  docs/data-sources/cdm_clusters.md
  docs/data-sources/cdm_flavors.md
  docs/data-sources/cdn_domain_statistics.md
  docs/data-sources/cfw_firewalls.md
  docs/data-sources/cnad_advanced_available_objects.md
  docs/data-sources/cnad_advanced_instances.md
  docs/data-sources/cnad_advanced_protected_objects.md
  docs/data-sources/cph_phone_flavors.md
  docs/data-sources/cph_phone_images.md
  docs/data-sources/cph_server_flavors.md
  docs/data-sources/dcs_instances.md
  docs/data-sources/dcs_template_detail.md
  docs/data-sources/dcs_templates.md
  docs/data-sources/ddm_accounts.md
  docs/data-sources/ddm_engines.md
  docs/data-sources/ddm_flavors.md
  docs/data-sources/ddm_instance_nodes.md
  docs/data-sources/ddm_instances.md
  docs/data-sources/ddm_schemas.md
  docs/data-sources/dds_instances.md
  docs/data-sources/dms_rocketmq_broker.md
  docs/data-sources/dms_rocketmq_instances.md
  docs/data-sources/dws_flavors.md
  docs/data-sources/elb_pools.md
  docs/data-sources/evs_snapshots.md
  docs/data-sources/evs_volumes.md
  docs/data-sources/lb_listeners.md
  docs/data-sources/lts_structuring_custom_templates.md
  docs/data-sources/mapreduce_clusters.md
  docs/data-sources/mapreduce_versions.md
  docs/data-sources/modelarts_model_templates.md
  docs/data-sources/modelarts_models.md
  docs/data-sources/modelarts_notebook_flavors.md
  docs/data-sources/modelarts_resource_flavors.md
  docs/data-sources/modelarts_service_flavors.md
  docs/data-sources/modelarts_services.md
  docs/data-sources/modelarts_workspaces.md
  docs/data-sources/organizations_organization.md
  docs/data-sources/ram_resource_permissions.md
  docs/data-sources/rds_backups.md
  docs/data-sources/rds_pg_plugins.md
  docs/data-sources/rds_sqlserver_collations.md
  docs/data-sources/rds_storage_types.md
  docs/data-sources/rms_assignment_package_templates.md
  docs/data-sources/scm_certificates.md
  docs/data-sources/sdrs_domain.md
  docs/data-sources/sfs_turbos.md
Labels: size/M, bugfix, LGTM

#4049 feat(OMS): add resource OMS migration synchronization task
  docs/resources/oms_migration_sync_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/oms/resource_huaweicloud_oms_migration_sync_task_test.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_sync_task.go
Labels: size/L, feature, LGTM

#4003 feat(elb): add elb active standby pools datasource
  docs/data-sources/elb_active_standby_pools.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_active_standby_pools_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_active_standby_pools.go
Labels: size/L, feature, LGTM

#4027 feat(rds): add rds MySQL binlog data source
  docs/data-sources/rds_mysql_binlog.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_binlog_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_mysql_binlog.go
Labels: size/M, feature, LGTM

#4068 feat(rds): add rds pg accounts datasource
  docs/data-sources/rds_pg_accounts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_accounts_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_pg_accounts.go
Labels: size/L, feature, LGTM

#4088 docs(DEW): Modify example order
  docs/resources/kps_keypair.md
Labels: documentation, size/XS, LGTM

#4089 docs(RDS): fix rds docs format
  docs/resources/rds_instance.md
  docs/resources/rds_pg_account.md
  docs/resources/rds_pg_plugin.md
Labels: documentation, size/XS, LGTM

#3727 chore: merge SCM into CCM and fix lint issue
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_scm_certificates_test.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_scm_certificate_test.go
  huaweicloud/services/ccm/data_source_huaweicloud_scm_certificates.go
  huaweicloud/services/ccm/resource_huaweicloud_scm_certificate.go
Labels: size/S, chore, LGTM

#4076 feat(config): add logId for API request and response
  huaweicloud/config/hc_config.go
  huaweicloud/config/logger.go
Labels: size/M, feature, LGTM

#4086 feat(eip): add resource global eip
  docs/resources/global_eip.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_global_eip_test.go
  huaweicloud/services/eip/resource_huaweicloud_global_eip.go
Labels: size/L, feature, LGTM

#4084 fix(CCM): update ccm private ca support crl configuration and pending days
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_ca_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
Labels: size/S, bugfix, LGTM

#4090 docs(CCM): Modify the description of the type and value of subject alternative names
  docs/resources/ccm_private_certificate.md
Labels: documentation, size/XS, LGTM

#4004 feat(cce): cce_cluster support update enterprise_project_id
  docs/resources/cce_cluster.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
Labels: size/S, feature, LGTM

#4055 chore(er/attachment): resource supports updating tags
  docs/resources/er_vpc_attachment.md
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_vpc_attachment_test.go
  huaweicloud/services/er/resource_huaweicloud_er_vpc_attachment.go
Labels: size/XS, chore, LGTM

#4056 chore(er/routetable): resource supports updating tags
  docs/resources/er_route_table.md
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_route_table_test.go
  huaweicloud/services/er/resource_huaweicloud_er_route_table.go
Labels: size/XS, chore

#3989 feat(dli/datasource): upgrade authentication APIs' version
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_auth_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_auth.go
Labels: size/XS, feature, LGTM

#4059 feat(ga): add a new resource to manage ip address group
  docs/resources/ga_address_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_address_group_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_address_group.go
Labels: size/L, feature, LGTM, safe to test

#4095 feat(nat): add a new datasource to get the list of private dnat rule
  docs/data-sources/nat_private_dnat_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_dnat_rules_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_dnat_rules.go
Labels: size/L, feature, LGTM

#4075 fix(ecs): compute_instance support update user_data
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM, safe to test

#4099 fix(Kafka): fix kafka instance params from required to optional
  docs/resources/dms_kafka_instance.md
  go.mod
  go.sum
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/bms/v1/baremetalservers/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/attachinterfaces/doc.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/attachinterfaces/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/attachinterfaces/results.go
  vendor/github.com/chnsz/golangsdk/openstack/compute/v2/extensions/attachinterfaces/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/bandwidths/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/urls.go
  vendor/modules.txt
Labels: size/L, bugfix, dependencies, LGTM, safe to test

#4081 feat(CSS): add resource CSS cluster scan task
  docs/resources/css_scan_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_scan_task_test.go
  huaweicloud/services/css/resource_huaweicloud_css_scan_task.go
Labels: size/L, feature, LGTM

#4104 fix(DMS): wait for smart connect task to be done
  docs/resources/dms_kafka_smart_connect_task.md
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_smart_connect_task.go
Labels: size/S, bugfix, LGTM

#4107 fix(vpcep): rename VPCEP data source
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_endpoints.go
Labels: size/XS, bugfix, LGTM

#4109 fix(dns/recordset): build client by zone id
  docs/resources/dns_recordset.md
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_zone_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_recordsets.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset_v2.go
Labels: size/M, bugfix, LGTM

#4108 changelog: Update CHANGELOG for v1.61.0
  CHANGELOG.md
Labels: size/S

#4110 docs(ecs/instance): remove free descritpion from agent_list
  docs/resources/compute_instance.md
Labels: documentation, size/XS, LGTM

#4030 feat(DCS): add a new resource to manage big key analysis
  docs/resources/dcs_bigkey_analysis.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_bigkey_analysis_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_bigkey_analysis.go
Labels: size/L, feature, LGTM

#4074 test: chore: docs(BMS): BMS add new test cases and add some documents
  docs/resources/bms_instance.md
  huaweicloud/services/acceptance/bms/resource_huaweicloud_bms_instance_test.go
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
Labels: size/M, LGTM, test

#4065 feat(workspace/service): resource support unlock action
  docs/resources/workspace_service.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_service_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_service.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM

#4085 feat(rds): add rds pg databases datasource
  docs/data-sources/rds_pg_databases.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_databases_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_pg_databases.go
Labels: size/L, feature, LGTM
