Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-11, with the labels that each got.

#5774 feat(dds): add data source to get error log links
  docs/data-sources/dds_error_log_links.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_error_log_links_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_error_log_links.go
Labels: size/L, feature, LGTM, approved

#5783 feat(dds): support to get slow logs
  docs/data-sources/dds_slow_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_slow_logs_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_slow_logs.go
Labels: size/L, feature, LGTM, approved

#5762 feat(workspace/app): add resource for publishing application
  docs/resources/workspace_app_publishment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_publishment_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_publishment.go
Labels: size/L, feature, LGTM, approved

#5801 feat(iotda/device_binding_groups): support device binding groups data source
  docs/data-sources/iotda_device_binding_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_device_binding_groups_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_binding_groups.go
Labels: size/M, feature, LGTM, approved

#5802 feat(iotda/device_proxies): support device proxies datasource
  docs/data-sources/iotda_device_proxies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_device_proxies_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_proxies.go
Labels: size/L, feature, LGTM, approved

#5791 chore(cdn): unify automatically generated code style
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_domain_certificates.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_domain_statistics.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_domains.go
Labels: size/M, chore, LGTM, approved

#5785 chore(nat): unify aotumatically code style and fix some error in test cases
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_gateways_test.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_transit_ips_test.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_snat_rules_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_dnat_rules.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_gateway.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_gateways.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_dnat_rules.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_gateways.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_snat_rules.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_transit_ips.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_snat_rules.go
Labels: size/L, chore, LGTM, approved

#5796 feat(GaussDBforMySQL): add gaussdb mysql diagnosis instances data source
  docs/data-sources/gaussdb_mysql_diagnosis_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_diagnosis_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_diagnosis_instances.go
Labels: size/M, feature, LGTM, approved

#5805 fix(GaussDBforMySQL): fix gaussdb mysql api comments
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_node_config.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_upgrade.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_scheduled_task_cancel.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_table_restore.go
Labels: size/XS, bugfix, LGTM, approved

#5806 feat(GaussDBforMySQL): add gaussdb mysql engine versions data source
  docs/data-sources/gaussdb_mysql_engine_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_engine_versions_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_engine_versions.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/M, feature, LGTM, approved

#5803 feat(cce): add new resource autopilot cluster
  docs/resources/cce_autopilot_cluster.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cceautopilot/resource_huaweicloud_cce_autopilot_cluster_test.go
  huaweicloud/services/cceautopilot/resource_huaweicloud_cce_autopilot_cluster.go
Labels: size/XL, feature, LGTM, approved

#5792 feat(GaussDBforMySQL): add gaussdb mysql audit log download links data source
  docs/data-sources/gaussdb_mysql_audit_log_download_links.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_audit_log_download_links_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_audit_log_download_links.go
Labels: size/L, feature, LGTM, approved

#5809 feat(vpn): add this data source to get the list of P2C VPN gateway connections
  docs/data-sources/vpn_p2c_gateway_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_p2c_gateway_connections_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_p2c_gateway_connections.go
Labels: size/M, feature, LGTM, approved

#5800 feat(iotda): add resource to manage device asynchronous command deliver
  docs/resources/iotda_device_async_command.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_async_command_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_async_command.go
Labels: size/L, feature, LGTM, approved

#5808 chore(waf): modify some issues with the waf certificate resource and datasource
  docs/data-sources/waf_certificate.md
  docs/resources/waf_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_certificate_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_certificate_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_certificate.go
  huaweicloud/services/waf/resource_huaweicloud_waf_certificate.go
Labels: size/L, chore, LGTM, approved

#5807 chore(waf): maintain waf address group resource (datasource) and fix some problems
  docs/data-sources/waf_address_groups.md
  docs/resources/waf_address_group.md
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_address_groups_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_address_group_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_address_groups.go
  huaweicloud/services/waf/resource_huaweicloud_waf_address_group.go
Labels: size/L, chore, LGTM, approved

#5811 feat(GaussDBforMySQL): add gaussdb mysql instant tasks data source
  docs/data-sources/gaussdb_mysql_instant_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_instant_tasks_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instant_tasks.go
Labels: size/L, feature, LGTM, approved

#5813 feat(GaussDBforMySQL): add gaussdb mysql instant task delete resource
  docs/resources/gaussdb_mysql_instant_task_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instant_task_delete_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instant_task_delete.go
Labels: size/M, feature, LGTM, approved

#5812 chore(waf): maintain waf dedicated domain resource (datasource) and fix some problems
  docs/data-sources/waf_dedicated_domains.md
  docs/resources/waf_dedicated_domain.md
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_dedicated_domains_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_dedicated_domains.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
Labels: size/L, chore, LGTM, approved

#5816 chore(waf): maintain waf dedicated instance resource (datasource) and fix some problems
  docs/data-sources/waf_dedicated_instances.md
  docs/resources/waf_dedicated_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_dedicated_instances_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_instance_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_dedicated_instances.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
Labels: size/L, chore, LGTM, approved

#5798 feat(dds): support to get recycle instances
  docs/data-sources/dds_recycle_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_recycle_instances_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_recycle_instances.go
Labels: size/L, feature, LGTM, approved

#5810 feat(dds): support to get restore databases and collections
  docs/data-sources/dds_restore_collections.md
  docs/data-sources/dds_restore_databases.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_restore_collections_test.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_restore_databases_test.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_restore_time_ranges_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_restore_collections.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_restore_databases.go
Labels: size/L, feature, LGTM, approved

#5814 feat(dds): support to get ssl cert and backup download links
  docs/data-sources/dds_backup_download_links.md
  docs/data-sources/dds_ssl_cert_download_links.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_backup_download_links_test.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_ssl_cert_download_links_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_backup_download_links.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_ssl_cert_download_links.go
Labels: size/L, feature, LGTM, approved

#5815 feat(dds): support to get parameter template applicable instances
  docs/data-sources/dds_pt_applicable_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_pt_applicable_instances_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_pt_applicable_instances.go
Labels: size/M, feature, LGTM, approved

#5821 feat(iotda): device linkage rule resource support new fields
  docs/resources/iotda_device_linkage_rule.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_linkage_rule_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_linkage_rule.go
Labels: size/L, feature, LGTM, approved

#5824 fix(WAF): remove slices package function
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
Labels: size/XS, bugfix, LGTM, approved

#5828 Update CHANGELOG for 1.70.1
  CHANGELOG.md
Labels: size/XS, approved

#5819 feat(vpn): VPN gateway flavor field supports updates
  docs/resources/vpn_gateway.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/S, feature, LGTM, approved

#5829 feat(iotda): device linkage rule data source support new fields
  docs/data-sources/iotda_device_linkage_rules.md
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_linkage_rules.go
Labels: size/S, feature, LGTM, approved

#5804 feat(iotda): the product resource supports new fields
  docs/resources/iotda_product.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_product_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_product.go
Labels: size/M, feature, LGTM, approved

#5818 feat(RDS): add rds restored databases data source
  docs/data-sources/rds_restored_databases.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_restored_databases_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_restored_databases.go
Labels: size/L, feature, LGTM, approved

#5827 feat(cph): add resource cph share app
  docs/resources/cph_share_app.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_share_app_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_share_app.go
Labels: size/L, feature, LGTM, approved

#5832 fix: fix ddm instance and cph server
  huaweicloud/services/cph/resource_huaweicloud_cph_server.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance.go
Labels: size/XS, bugfix, feature, LGTM, approved

#5833 Update CHANGELOG for 1.70.2
  CHANGELOG.md
Labels: size/XS, approved

#5822 feat(dds): support to apply parameter template
  docs/resources/dds_parameter_template_apply.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_parameter_template_apply_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template_apply.go
Labels: size/M, feature, LGTM, approved

#5823 feat(dds): support database and collection level restoration
  docs/resources/dds_collection_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_collection_restore_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_collection_restore.go
Labels: size/L, feature, LGTM, approved

#5831 feat(dds): support to reset and copy parameter template
  docs/resources/dds_parameter_template_copy.md
  docs/resources/dds_parameter_template_reset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_parameter_template_copy_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_parameter_template_reset_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template_compare.go
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template_copy.go
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template_reset.go
Labels: size/L, feature, LGTM, approved

#5780 feat(workspace/app_group_authorization): add application group authorization resource
  docs/resources/workspace_app_group_authorization.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_group_authorization_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_group_authorization.go
Labels: size/L, feature, LGTM, approved

#5840 feat(waf): support new datasource to query certificates
  docs/data-sources/waf_certificates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_certificates_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_certificates.go
Labels: size/L, feature, LGTM, approved

#5799 feat(workspace/app_policy_group): add resource to manage a policy group
  docs/resources/workspace_app_policy_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_policy_group_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_policy_group.go
Labels: size/L, feature, LGTM, approved

#5845 fix(dms): deprecate manager related params
  docs/resources/dms_kafka_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
Labels: size/S, bugfix, LGTM, approved

#5817 feat(workspace/app_server_group): add resource to manage server group
  docs/resources/workspace_app_server_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_server_group_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_server_group.go
Labels: size/L, feature, LGTM, approved

#5820 feat(RDS): add rds restored tables data source
  docs/data-sources/rds_restored_tables.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_restored_tables_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_restored_tables.go
Labels: size/L, feature, LGTM, approved

#5837 feat(DDM): add ddm instance available versions data source
  docs/data-sources/ddm_instance_available_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_instance_available_versions_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_instance_available_versions.go
Labels: size/M, feature, LGTM, approved

#5836 feat(cph): support cph server updating keypair
  docs/resources/cph_server.md
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_server_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_server.go
Labels: size/M, feature, LGTM, approved

#5830 chore(cfw): add CheckDeleted to CFW resource deletion
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group_member.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_black_white_list.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_dns_resolution.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_domain_name_group.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_eip_protection.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_lts_log.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_service_group.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_service_group_member.go
Labels: size/L, chore, LGTM, approved

#5838 feat(dds): support to get parameter template application and modification records
  docs/data-sources/dds_pt_application_records.md
  docs/data-sources/dds_pt_modification_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_pt_application_records_test.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_pt_modification_records_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_pt_application_records.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_pt_modification_records.go
Labels: size/L, feature, LGTM, approved

#5841 feat(dds): support to delete audit log
  docs/resources/dds_audit_log_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_audit_log_delete_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_audit_log_delete.go
Labels: size/M, feature, LGTM, approved

#5835 feat(dds): support to get instant tasks
  docs/data-sources/dds_instant_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_instant_tasks_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_instant_tasks.go
Labels: size/L, feature, LGTM, approved

#5844 feat(cph): add datasource cph phone custom images
  docs/data-sources/cph_phone_custom_images.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_phone_custom_images_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_phone_custom_images.go
Labels: size/L, feature, LGTM, approved

#5847 feat(DDM): add ddm instance upgrade resource
  docs/resources/ddm_instance_upgrade.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_upgrade_test.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance_upgrade.go
Labels: size/M, feature, LGTM, approved

#5842 feat(DDM): add ddm instance groups data source
  docs/data-sources/ddm_instance_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_instance_groups_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_instance_groups.go
Labels: size/L, feature, LGTM, approved

#5852 feat(iotda/data_flow_control_policy): support data flow control policy resource
  docs/resources/iotda_data_flow_control_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_data_flow_control_policy_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_data_flow_control_policy.go
Labels: size/L, feature, LGTM, approved

#5848 feat(dms): support to get kafka topic partitions
  docs/data-sources/dms_kafka_topic_partitions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_topic_partitons_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_topic_partitions.go
Labels: size/M, feature, LGTM, approved

#5851 feat(dms): support to get kafka topic producers
  docs/data-sources/dms_kafka_topic_producers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_topic_producers_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_topic_producers.go
Labels: size/M, feature, LGTM, approved

#5850 feat(dms): support to produce message for kafka
  docs/resources/dms_kafka_message_produce.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_message_produce_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_message_produce.go
Labels: size/M, feature, LGTM, approved

#5839 feat(iotda): the device resource supports new API and new fields
  docs/resources/iotda_device.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
Labels: size/M, feature, LGTM, approved

#5853 chore(dsc): modify the code style and document description
  docs/resources/dsc_asset_obs.md
  docs/resources/dsc_instance.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dsc/resource_huaweicloud_dsc_asset_obs_test.go
  huaweicloud/services/acceptance/dsc/resource_huaweicloud_dsc_instance_test.go
  huaweicloud/services/dsc/resource_huaweicloud_dsc_asset_obs.go
  huaweicloud/services/dsc/resource_huaweicloud_dsc_instance.go
Labels: size/L, chore, LGTM, approved

#5843 feat(eg/subscription): resource supports detail parameter
  docs/resources/eg_event_subscription.md
  huaweicloud/services/acceptance/eg/resource_huaweicloud_eg_event_subscription_test.go
  huaweicloud/services/eg/resource_huaweicloud_eg_event_subscription.go
Labels: size/L, feature, approved

#5858 refactor(rfs/stack): using auto-gen style to refactor resource codes and acceptance tests
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/rfs/resource_huaweicloud_rfs_stack_test.go
  huaweicloud/services/rfs/resource_huaweicloud_rfs_stack.go
  vendor/github.com/chnsz/golangsdk/openstack/rf/v1/stacks/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rf/v1/stacks/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rf/v1/stacks/urls.go
  vendor/modules.txt
Labels: size/XL, chore, refactor, feature, LGTM, test, approved

#5859 feat(iotda/data_flow_control_policies): support data flow control policies dataSource
  docs/data-sources/iotda_data_flow_control_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_data_flow_control_policies_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_data_flow_control_policies.go
Labels: size/L, feature, LGTM, approved

#5860 docs(cfw): update some field descriptions for CFW protection rule, ACL rule, and address group member resource
  docs/resources/cfw_acl_rule.md
  docs/resources/cfw_address_group_member.md
  docs/resources/cfw_protection_rule.md
Labels: size/S, documentation, LGTM, approved

#5864 feat(rfs/stack): new param to reserve resources when deleting stack
  docs/resources/rfs_stack.md
  huaweicloud/services/rfs/resource_huaweicloud_rfs_stack.go
Labels: size/S, feature, LGTM, approved

#5867 feat(dsc): add new resource to manage DSC alarm notification
  docs/resources/dsc_alarm_notification.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dsc/resource_huaweicloud_dsc_alarm_notification_test.go
  huaweicloud/services/dsc/resource_huaweicloud_dsc_alarm_notification.go
Labels: size/L, feature, LGTM, approved

#5868 refactor(iam): change conversion_rules.local.username to Optional in identity_provider_conversion
  docs/resources/identity_provider_conversion.md
  go.mod
  go.sum
  huaweicloud/services/iam/resource_huaweicloud_identity_provider.go
  huaweicloud/services/iam/resource_huaweicloud_identity_provider_conversion.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/policyexecutelogs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/policyexecutelogs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/policyexecutelogs/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/identity/federatedauth/mappings/requests.go
  vendor/modules.txt
Labels: size/M, refactor, dependencies, LGTM, approved

#5866 feat(rfs): add resource to manage a execution plan
  docs/resources/rfs_execution_plan.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rfs/resource_huaweicloud_rfs_execution_plan_test.go
  huaweicloud/services/rfs/resource_huaweicloud_rfs_execution_plan.go
Labels: size/L, feature, LGTM, approved

#5869 feat(cc): add this data source to get the list of CC central network quotas
  docs/data-sources/cc_central_network_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_central_network_quotas_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_central_network_quotas.go
Labels: size/M, feature, LGTM, approved

#5871 Update CHANGELOG for 1.70.3
  CHANGELOG.md
Labels: size/XS, approved

#5861 feat(dms): support to get kafka messages
  docs/data-sources/dms_kafka_messages.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_messages_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_messages.go
Labels: size/L, feature, LGTM, approved

#5862 feat(DDM): add ddm physical sessions data source
  docs/data-sources/ddm_physical_sessions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_physical_sessions_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_physical_sessions.go
Labels: size/L, feature, LGTM, approved

#5870 feat(dms): support to get and delete kafka background tasks
  docs/data-sources/dms_kafka_background_tasks.md
  docs/resources/dms_kafka_background_task_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_background_tasks_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_background_task_delete_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_background_tasks.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_background_task_delete.go
Labels: size/L, feature, LGTM, approved

#5865 feat(cph): supports parameters related to cph server 2.0 flavor
  docs/resources/cph_server.md
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_server_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_server.go
Labels: size/M, feature, LGTM, approved

#5878 feat(workspace/app): supports new nas storage resource
  docs/resources/workspace_app_nas_storage.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_nas_storage_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_nas_storage.go
Labels: size/L, feature, LGTM, approved

#5880 feat(RDS): add rds mysql proxy flavors data source
  docs/data-sources/rds_mysql_proxy_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_proxy_flavors_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_mysql_proxy_flavors.go
Labels: size/L, feature, LGTM, approved

#5885 feat(iotda/data_backlog_policy): support data backlog policy resource
  docs/resources/iotda_data_backlog_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_data_backlog_policy_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_data_backlog_policy.go
Labels: size/L, feature, LGTM, approved

#5886 feat(cdn): domain resource supports using SCM certificate ID
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/S, feature, LGTM, approved

#5856 feat(workspace/warehouse_app): add resource to manage warehouse application
  docs/resources/workspace_app_warehouse_app.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_warehouse_app_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_warehouse_app.go
Labels: size/L, feature, LGTM, approved

#5874 feat(DDM): add ddm logical sessions data source
  docs/data-sources/ddm_logical_sessions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_logical_sessions_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_logical_sessions.go
Labels: size/L, feature, LGTM, approved

#5873 feat(dds): support to get dds quotas
  docs/data-sources/dds_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_quotas_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_quotas.go
Labels: size/M, feature, LGTM, approved

#5881 test(geip): add coverage for geip associate
  huaweicloud/services/acceptance/eip/resource_huaweicloud_global_eip_associate_test.go
  huaweicloud/services/eip/resource_huaweicloud_global_eip_associate.go
Labels: size/S, LGTM, test, approved

#5883 feat(cph): add datasource cph server bandwidths
  docs/data-sources/cph_server_bandwidths.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_server_bandwidths_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_server_bandwidths.go
Labels: size/M, feature, LGTM, approved

#5888 feat(rms): add the data source to get the list of RMS resource histories
  docs/data-sources/rms_resource_histories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_histories_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_histories.go
Labels: size/L, feature, LGTM, approved

#5875 feat(lts/log_group): the log group supports enterprise_project_id
  docs/data-sources/lts_groups.md
  docs/resources/lts_group.md
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_groups_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_group_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_groups.go
  huaweicloud/services/lts/resource_huaweicloud_lts_group.go
Labels: size/S, feature, LGTM, approved

#5894 feat(DDM): add ddm logical sessions kill resource
  docs/resources/ddm_logical_sessions_kill.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_logical_sessions_kill_test.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_logical_process_kill.go
Labels: size/M, feature, LGTM, approved

#5890 feat(iotda/data_backlog_policies): support data backlog policies dataSource
  docs/data-sources/iotda_data_backlog_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_data_backlog_policies_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_data_backlog_policies.go
Labels: size/M, feature, LGTM, approved

#5899 feat(dbss): add new resource manages self built database bind DBSS instance
  docs/resources/dbss_ecs_database.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_ecs_database_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_ecs_database.go
Labels: size/L, feature, LGTM, approved

#5889 feat(cph): add datasource cph encode servers
  docs/data-sources/cph_encode_servers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_encode_servers_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_encode_servers.go
Labels: size/L, feature, LGTM, approved

#5895 feat(cph): support updating cph phone property
  docs/resources/cph_phone_property.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_phone_property_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_phone_property.go
Labels: size/L, feature, LGTM, approved

#5897 feat(rms): add this data source to get the list of RMS resource relations details
  docs/data-sources/rms_resource_relations_details.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_relations_details_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_relations_details.go
Labels: size/M, feature, LGTM, approved

#5900 feat(RDS): add rds mysql proxies data source
  docs/data-sources/rds_mysql_proxies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_proxies_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_mysql_proxies.go
Labels: size/L, feature, LGTM, approved

#5904 feat(DDM): add ddm killing sessions audit logs data source
  docs/data-sources/ddm_killing_sessions_audit_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ddm/data_source_huaweicloud_ddm_killing_sessions_audit_logs_test.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_killing_sessions_audit_logs.go
Labels: size/M, feature, LGTM, approved

#5891 feat(dms): support to get rocketmq consumers
  docs/data-sources/dms_rocketmq_consumers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_consumers_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_message_offset_reset_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_consumers.go
Labels: size/L, feature, LGTM, approved

#5896 feat(dms): support to get rocketmq message traces
  docs/data-sources/dms_rocketmq_message_traces.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_message_traces_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_messages_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_message_traces.go
Labels: size/L, feature, LGTM, approved

#5898 feat(dms): support to resend rocketmq dead letter messages
  docs/resources/dms_rocketmq_dead_letter_resend.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_dead_letter_resend_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_dead_letter_resend.go
Labels: size/M, feature, LGTM, approved

#5901 feat(smn): add datasource smn subscriptions
  docs/data-sources/smn_subscriptions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/data_source_huaweicloud_smn_subscriptions_test.go
  huaweicloud/services/smn/data_source_huaweicloud_smn_subscriptions.go
Labels: size/L, feature, LGTM, approved

#5902 feat(dms): support to get rocketmq topic and consumer group access users
  docs/data-sources/dms_rocketmq_consumer_group_access_users.md
  docs/data-sources/dms_rocketmq_topic_access_users.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_consumer_group_access_users_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_topic_access_users_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_consumer_group_access_users.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_topic_access_users.go
Labels: size/L, feature, LGTM, approved

#5912 feat(smn): add datasource smn logtanks
  docs/data-sources/smn_logtanks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/data_source_huaweicloud_smn_logtanks_test.go
  huaweicloud/services/smn/data_source_huaweicloud_smn_logtanks.go
Labels: size/M, feature, needs-rebase, approved

#5925 fix(workspace/app_group): fix 'type' field not effective and adjust acceptance test
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_group_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_group.go
Labels: size/S, bugfix, LGTM, approved

#5846 feat(workspace/app_server): add resource to manage server
  docs/resources/workspace_app_server.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_server_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_server.go
Labels: size/XL, feature, LGTM, approved

#5918 feat(rms): add RMS remediation configuration resource
  docs/resources/rms_remediation_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_remediation_configuration_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_remediation_configuration.go
Labels: size/L, feature, LGTM, approved

#5908 feat(workspace/app): add new resource to manage image server
  docs/resources/workspace_app_image_server.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_image_server_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_image_server.go
Labels: size/L, feature, LGTM, approved

#5923 feat(iotda/device_message): support device message delivery resource
  docs/resources/iotda_device_message.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_message_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_data_backlog_policy.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_message.go
Labels: size/L, feature, LGTM, approved

#5903 feat(dbss): add a new datasource to get the list of RDS databases
  docs/data-sources/dbss_rds_databases.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_rds_databases_test.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_rds_databases.go
Labels: size/L, feature, LGTM, approved

#5914 feat(RDS): add rds mysql proxy restart resource
  docs/resources/rds_mysql_proxy_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_proxy_restart_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_proxy_restart.go
Labels: size/L, feature, LGTM, approved

#5924 fix: chore(dns): Ignore suffix character of domain name that changes happen
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_ptrrecord_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_v2_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_zone_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_ptrrecord.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset_v2.go
  huaweicloud/services/dns/resource_huaweicloud_dns_zone.go
Labels: size/L, bugfix, chore, LGTM, approved

#5938 fix(nat): Fixed the issue that some region enterprise projects do not support null
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_gateway_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_gateway.go
Labels: size/XS, bugfix, LGTM, approved

#5906 feat(worksapce/app): add new resource for personal folder assignment
  docs/resources/workspace_app_nas_storage.md
  docs/resources/workspace_app_personal_folders.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_nas_storage_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_personal_folders_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_nas_storage.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_personal_folders.go
Labels: size/L, chore, feature, LGTM, approved

#5939 feat(HSS): support new resource to manage CCE protection of HSS
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_cce_protection_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_cce_protection.go
Labels: size/L, feature, LGTM, approved

#5934 feat(cce): change data_volumes to optional and add subnet_list in node pool
  docs/resources/cce_node_pool.md
  go.mod
  go.sum
  huaweicloud/services/cce/common.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#5936 refactor(network): deprecate resource acl and acl_rule
  docs/resources/network_acl.md
  docs/resources/network_acl_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_network_acl_rule_test.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_network_acl_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_network_acl.go
  huaweicloud/services/deprecated/resource_huaweicloud_network_acl_rule.go
Labels: size/M, refactor, LGTM, approved

#5920 feat(dbss): the DBSS instance resource supports new API
  docs/resources/dbss_instance.md
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
Labels: size/M, feature, LGTM, approved

#5943 docs(waf): supplementary field `cipher` documentation
  docs/resources/waf_dedicated_domain.md
Labels: documentation, size/XS, LGTM, approved

#5915 fix(workspace/service): fix the invalid ad_domain reference
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_image_server_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_service_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_service.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/services/results.go
Labels: size/L, bugfix, LGTM, approved

#5763 feat(cph): add resource cph phone restart
  docs/resources/cph_phone_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_phone_restart_test.go
  huaweicloud/services/cph/resource_huaweicloud_cph_phone_restart.go
Labels: size/M, feature, LGTM, approved

#5921 feat(css): add datasource css scan tasks
  docs/data-sources/css_scan_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_scan_tasks_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_scan_tasks.go
Labels: size/L, feature, LGTM, approved

#5907 feat(dms): support to get and delete rabbitmq background tasks
  docs/data-sources/dms_rabbitmq_background_tasks.md
  docs/resources/dms_rabbitmq_background_task_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rabbitmq_background_tasks_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_background_task_delete_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rabbitmq_background_tasks.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_background_task_delete.go
Labels: size/L, feature, LGTM, approved

#5926 feat(dms): support to reset kafka message offset
  docs/resources/dms_kafka_message_diagnosis_task.md
  docs/resources/dms_kafka_message_offset_reset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_message_offset_reset_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_message_offset_reset.go
Labels: size/L, feature, LGTM, approved

#5927 feat(dms): support to verify rocketmq consumption
  docs/resources/dms_rocketmq_consumption_verify.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_consumers_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_consumption_verify_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_message_offset_reset_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_consumption_verify.go
Labels: size/M, feature, LGTM, approved

#5941 chore(drs): use common convert error method and add test for job
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/M, chore, LGTM, approved

#5944 feat(css): add datasource css snapshots
  docs/data-sources/css_snapshots.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_snapshots_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_snapshots.go
Labels: size/L, feature, LGTM, approved

#5947 feat(smn): add datasource smn topic subscriptions
  docs/data-sources/smn_topic_subscriptions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/data_source_huaweicloud_smn_topic_subscriptions_test.go
  huaweicloud/services/smn/data_source_huaweicloud_smn_topic_subscriptions.go
Labels: size/L, feature, LGTM, approved

#5950 feat(live): support a new datasource to query live domains
  docs/data-sources/live_domains.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/live/data_source_huaweicloud_live_domains_test.go
  huaweicloud/services/live/data_source_huaweicloud_live_domains.go
Labels: size/L, feature, LGTM, approved

#5952 docs(config): update the description of the policy_assignment_id field in the RMS remediation configuration resource documentation
  docs/resources/rms_remediation_configuration.md
Labels: documentation, size/XS, LGTM, approved

#5929 feat(Organizations): add organizations resource tags data source
  docs/data-sources/organizations_resource_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_resource_tags_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_resource_tags.go
Labels: size/M, feature, LGTM, approved

#5949 feat(cce): add new resource autopilot addon
  docs/resources/cce_autopilot_addon.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cceautopilot/resource_huaweicloud_cce_autopilot_addon_test.go
  huaweicloud/services/cceautopilot/resource_huaweicloud_cce_autopilot_addon.go
  huaweicloud/services/cceautopilot/resource_huaweicloud_cce_autopilot_cluster.go
Labels: size/L, feature, LGTM, approved

#5951 refactor(vpc): ignore tags error in data_source subnets
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnets.go
Labels: size/XS, refactor, LGTM, approved

#5954 refactor(iam): ignore the first 404 error of new resource in identity_policy and trust_agency
  huaweicloud/services/iam/resource_huaweicloud_identity_policy.go
  huaweicloud/services/iam/resource_huaweicloud_identity_trust_agency.go
Labels: size/S, refactor, LGTM, approved

#5956 fix(vendor): upgrade go mod reference
  go.mod
  go.sum
  vendor/modules.txt
Labels: size/XS, bugfix, dependencies, LGTM, approved

#5953 feat(cdm): support to get job execution records
  docs/data-sources/cdm_job_execution_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdm/data_source_huaweicloud_cdm_job_execution_records_test.go
  huaweicloud/services/cdm/data_source_huaweicloud_cdm_job_execution_records.go
Labels: size/L, feature, LGTM, approved

#5935 feat(Organizations): add organizations instance resources data source
  docs/data-sources/organizations_resource_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_instance_resources_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_resource_instances.go
Labels: size/L, feature, LGTM, approved

#5957 refactor(iam): remove MaxItems limits
  huaweicloud/services/iam/resource_huaweicloud_identity_acl.go
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
  huaweicloud/services/iam/resource_huaweicloud_identity_provider.go
  huaweicloud/services/iam/resource_huaweicloud_identity_provider_conversion.go
Labels: size/XS, refactor, LGTM, approved

#5931 fix(mrs): adjust the pagesize number from the maximum to 100
  huaweicloud/services/mrs/data_source_huaweicloud_mapreduce_clusters.go
Labels: size/M, bugfix, LGTM, approved

#5958 Update CHANGELOG for 1.71.0
  CHANGELOG.md
Labels: size/XS, approved

#5960 chore(aom): remove region limit
  docs/resources/aom_alarm_action_rule.md
  docs/resources/aom_alarm_silence_rule.md
  docs/resources/aom_event_alarm_rule.md
  huaweicloud/services/acceptance/acceptance.go
Labels: size/XS, chore, LGTM, approved

#5959 feat(dms): add group details for kafka data source
  docs/data-sources/dms_kafka_consumer_groups.md
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_consumer_groups_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_consumer_groups.go
Labels: size/M, feature, LGTM, approved
