Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-09, with the labels that each got.

#5486 fix: docs(dws/introduction): update the related description writing
  docs/data-sources/dws_alarm_subscriptions.md
  docs/data-sources/dws_cluster_logs.md
  docs/data-sources/dws_disaster_recovery_tasks.md
  docs/data-sources/dws_event_subscriptions.md
  docs/data-sources/dws_flavors.md
  docs/data-sources/dws_logical_cluster_rings.md
  docs/data-sources/dws_logical_clusters.md
  docs/data-sources/dws_quotas.md
  docs/data-sources/dws_snapshot_policies.md
  docs/data-sources/dws_workload_plans.md
  docs/data-sources/dws_workload_queues.md
  docs/resources/dws_alarm_subscription.md
  docs/resources/dws_cluster.md
  docs/resources/dws_disaster_recovery_task.md
  docs/resources/dws_event_subscription.md
  docs/resources/dws_ext_data_source.md
  docs/resources/dws_logical_cluster.md
  docs/resources/dws_snapshot.md
  docs/resources/dws_snapshot_policy.md
  docs/resources/dws_workload_plan.md
  docs/resources/dws_workload_plan_execution.md
  docs/resources/dws_workload_plan_stage.md
  docs/resources/dws_workload_queue.md
Labels: size/S, documentation, bugfix, LGTM, approved

#5468 chore(dew): modify KMS key resource lint error and update document
  docs/resources/kms_key.md
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kms_key_test.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kms_keys_test.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_data_encrypt_decrypt_test.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_key_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_key.go
Labels: size/L, chore, LGTM, approved

#5488 feat(secmaster): add datasource data classes
  docs/data-sources/secmaster_data_classes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_data_classes_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_data_classes.go
Labels: size/L, feature, LGTM, approved

#5491 feat(CCM): CCM private CA support editing CRL configuration
  docs/resources/ccm_private_ca.md
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_ca_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
Labels: size/M, feature, LGTM, approved

#5489 feat(ims): support `obs_iso_image` resource
  docs/resources/ims_obs_iso_image.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_obs_iso_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_iso_image.go
Labels: size/L, feature, LGTM, approved

#5436 chore(dws/queue): replacing the list api with the query detail api and adjust acceptance test
  docs/resources/dws_workload_queue.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_workload_queues_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_workload_queue_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_queue.go
Labels: size/L, chore, LGTM, approved

#5487 feat(GaussDBforMySQL): add gaussdb mysql database character set data source
  docs/data-sources/gaussdb_mysql_database_character_set.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_database_character_set_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_database_character_set.go
Labels: size/M, feature, LGTM, approved

#5490 feat(ces): add data source to get the CES event details
  docs/data-sources/ces_event_details.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_event_details_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_event_details.go
Labels: size/L, feature, LGTM, approved

#5500 feat(ims): support `obs_data_image` resource
  docs/resources/ims_obs_data_image.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_obs_data_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_data_image.go
Labels: size/L, feature, LGTM, approved

#5495 fix(word/destroy): fix the incorrect word
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_server_test.go
  huaweicloud/services/acceptance/iec/data_source_huaweicloud_iec_sites_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_security_group_rule_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_security_group_test.go
  huaweicloud/services/acceptance/iec/resource_huaweicloud_iec_server_test.go
Labels: size/XS, bugfix, LGTM, approved

#5499 test(acceptance): make sure the BCS and BMS tests can be passed
  huaweicloud/services/acceptance/bcs/resource_huaweicloud_bcs_instance_test.go
  huaweicloud/services/acceptance/bms/resource_huaweicloud_bms_instance_test.go
Labels: size/S, LGTM, test, approved

#5492 feat(cce): support hostname_config in node and node pool
  docs/data-sources/cce_node.md
  docs/data-sources/cce_node_pool.md
  docs/data-sources/cce_nodes.md
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_test.go
  huaweicloud/services/cce/common.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_node.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_node_pool_v3.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_nodes.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5496 feat(GaussDBforMySQL): add gaussdb mysql configurations data source
  docs/data-sources/gaussdb_mysql_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_configurations_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_configuration.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_configurations.go
Labels: size/M, feature, LGTM, approved

#5504 feat(GaussDBforMySQL): gaussdb mysql instance support private dns name
  docs/data-sources/gaussdb_mysql_instances.md
  docs/resources/gaussdb_mysql_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instances.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5506 feat(ims): support `evs_system_image` resource
  docs/resources/ims_evs_system_image.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_evs_system_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_system_image.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/requests.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5509 chore(rms): rename file name of aggregator_advanced_query
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregator_advanced_query.go
Labels: size/XS, chore, LGTM, approved

#5497 feat(secmaster): add datasource data class fields
  docs/data-sources/secmaster_data_class_fields.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_data_class_fields_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_data_class_fields.go
Labels: size/L, feature, LGTM, approved

#5503 chore(secmaster): adjust code and remove updating field and fix lint error
  docs/resources/secmaster_playbook.md
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook.go
Labels: size/L, chore, LGTM, approved

#5502 feat(GaussDBforMySQL): gaussdb mysql instance support maintain window
  docs/data-sources/gaussdb_mysql_instances.md
  docs/resources/gaussdb_mysql_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instances.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/S, feature, LGTM, approved

#5514 feat(AS): support a new datasource to query AS quotas
  docs/data-sources/as_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_quotas_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_quotas.go
Labels: size/M, feature, LGTM, approved

#5510 feat(WAF): support a new datasource to query source IPs
  docs/data-sources/waf_source_ips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_source_ips_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_source_ips.go
Labels: size/M, feature, LGTM, approved

#5505 feat(GaussDBforMySQL): gaussdb mysql instance support secondes level monitoring
  docs/resources/gaussdb_mysql_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/S, feature, LGTM, approved

#5512 feat(AS): support a new datasource to query AS group quotas
  docs/data-sources/as_group_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_group_quotas_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_group_quotas.go
Labels: size/M, feature, LGTM, approved

#5507 fix(ces): fix inconsistency between alarm_description field constraint and documentation
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
Labels: size/XS, bugfix, LGTM, approved

#5515 fix(ims): deprecated `huaweicloud_images_image` resource
  docs/resources/images_image.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_images_image_test.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_copy_test.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_share_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_images_image.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_copy.go
Labels: size/S, bugfix, LGTM, approved

#5513 feat(ces): add resource event report
  docs/resources/ces_event_report.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_event_report_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_event_report.go
Labels: size/L, feature, LGTM, approved

#5483 feat(aom): add data source alarm silence rules
  docs/data-sources/aom_alarm_silence_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_alarm_silence_rules_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_alarm_silence_rules.go
Labels: size/L, feature, LGTM, approved

#5494 feat(dms): support rabbitmq queue management
  docs/data-sources/dms_rabbitmq_queues.md
  docs/resources/dms_rabbitmq_queue.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rabbitmq_queues_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_queue_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rabbitmq_queues.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_queue.go
Labels: size/L, feature, LGTM, approved

#5501 feat(aom): support alarm group rule management
  docs/data-sources/aom_alarm_group_rules.md
  docs/resources/aom_alarm_group_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_alarm_group_rules_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_group_rule_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_alarm_group_rules.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_group_rule.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_rules_template.go
Labels: size/L, feature, LGTM, approved

#5516 chore(secmaster/playbook_version): adjust code and fix updating func
  docs/resources/secmaster_playbook_version.md
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_version_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_version.go
Labels: size/L, chore, LGTM, approved

#5517 feat(GaussDBforMySQL): gaussdb mysql instance support ssl and description
  docs/data-sources/gaussdb_mysql_instances.md
  docs/resources/gaussdb_mysql_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instances.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/M, feature, LGTM, approved

#5521 feat(GaussDBforMySQL): add gaussdb mysql parameter template apply resource
  docs/resources/gaussdb_mysql_parameter_template_apply.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template_apply_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template_apply.go
Labels: size/L, feature, LGTM, approved

#5527 fix(DBSS): add a field that requires special designation.
  docs/resources/dbss_instance.md
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
Labels: size/S, bugfix, LGTM, approved

#5498 docs(example/workspace): supports new example about desktop creation
  examples/workspace/desktop/basic/README.md
  examples/workspace/desktop/basic/main.tf
  examples/workspace/desktop/basic/variables.tf
Labels: size/M, documentation, LGTM, approved

#5511 feat(dc): add a new datasource to get list of DC resource quotas
  docs/data-sources/dc_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dc/data_source_huaweicloud_dc_quotas_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_quotas.go
Labels: size/M, feature, LGTM, approved

#5518 fix(vpcep): remove policy_document field
  docs/resources/vpcep_endpoint.md
  go.mod
  go.sum
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/results.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM, approved

#5523 test(waf): fix test case failed issue
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_anti_crawler_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_anti_crawler_test.go
Labels: size/S, LGTM, test, approved

#5530 feat(secmaster): add version activing check logic in the deleting func(playbook version and playbook action)
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_action.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_version.go
Labels: size/M, feature, LGTM, approved

#5526 feat(GaussDBforMySQL): add gaussdb mysql parameter template compare resource
  docs/resources/gaussdb_mysql_parameter_template_compare.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template_compare_test.go
  huaweicloud/services/gaussdb/huaweicloud_gaussdb_mysql_parameter_template_compare.go
Labels: size/M, feature, LGTM, approved

#5531 feat(GaussDBforMySQL): gaussdb mysql parameter template support copy
  docs/resources/gaussdb_mysql_parameter_template.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template.go
Labels: size/L, feature, LGTM, approved

#5482 feat(dws): add new resource to bind public domain name for cluster
  docs/resources/dws_public_domain_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_public_domain_associate_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/dws/resource_huaweicloud_dws_public_domain_associate.go
Labels: size/L, refactor, feature, LGTM, approved

#5533 feat(ims/ov_versions): support ims os_versions datasource
  docs/data-sources/ims_os_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_ims_os_versions_test.go
  huaweicloud/services/ims/data_source_huaweicloud_ims_os_versions.go
Labels: size/M, feature, LGTM, approved

#5519 fix(ims): modify the use of deprecated resource in tests cases
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_image_test.go
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_images_test.go
Labels: size/XS, bugfix, LGTM, approved

#5534 feat(secmaster): add resource secmaster_playbook_version_action
  docs/resources/secmaster_playbook_version_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_version_action_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_version_action.go
Labels: size/M, feature, LGTM, approved

#5536 feat(ces): add data source to get the list of CES one-click alarms
  docs/data-sources/ces_one_click_alarms.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_one_click_alarms_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_one_click_alarms.go
Labels: size/M, feature, LGTM, approved

#5525 feat(ims/quotas): support ims quotas datasource
  docs/data-sources/ims_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_ims_quotas_test.go
  huaweicloud/services/ims/data_source_huaweicloud_ims_quotas.go
Labels: size/M, feature, LGTM, approved

#5539 fix(apig/group): remove the default value of the 'domain_access_enabled'
  docs/resources/apig_group.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
Labels: size/XS, bugfix, LGTM, approved

#5544 test(secmaster): update playbook version approval test case
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_approval_test.go
Labels: size/S, LGTM, test, approved

#5553 fix(RDS): fix rds instance and doc
  docs/resources/rds_instance.md
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XS, bugfix, LGTM, approved

#5535 feat(GaussDBforMySQL): add gaussdb mysql parameter template modify records data source
  docs/data-sources/gaussdb_mysql_pt_modify_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_pt_modify_records_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_pt_modify_records.go
Labels: size/M, feature, LGTM, approved

#5557 chore(CCM): improve test case coverage and document description
  docs/resources/ccm_certificate_import.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_certificate_import_test.go
Labels: size/M, chore, LGTM, approved

#5528 feat(aom): support message template management
  docs/data-sources/aom_message_templates.md
  docs/resources/aom_dashboards_folder.md
  docs/resources/aom_message_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_message_templates_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_message_template_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_message_templates.go
  huaweicloud/services/aom/resource_huaweicloud_aom_message_template.go
Labels: size/L, feature, LGTM, approved

#5543 fix(dms): fix import func for rabbitmq vhost exchange queue
  docs/data-sources/dms_rabbitmq_exchanges.md
  docs/data-sources/dms_rabbitmq_queues.md
  docs/resources/dms_rabbitmq_exchange.md
  docs/resources/dms_rabbitmq_queue.md
  docs/resources/dms_rabbitmq_vhost.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_exchange_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_queue_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_vhost_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_exchange.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_queue.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_vhost.go
Labels: size/L, bugfix, LGTM, approved

#5547 feat(secmaster): add resource playbook enabling
  docs/resources/secmaster_playbook_enable.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_enable_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_enable.go
Labels: size/L, feature, LGTM, approved

#5537 feat(vpcep): add new datasource to get VPC endpoint resource quota list
  docs/data-sources/vpcep_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpcep/data_source_huaweicloud_vpcep_quotas_test.go
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_quotas.go
Labels: size/M, feature, LGTM, approved

#5554 feat(vpcep): the VPC endpoint reosurce supports bind or unbind routetables
  docs/resources/vpcep_endpoint.md
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_endpoint_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
Labels: size/S, feature, LGTM, approved

#5561 chore(CCM): remove conflicting validation fields in datasource test case
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_ccm_certificate_export_test.go
Labels: size/XS, chore, LGTM, approved

#5562 chore(secmaster|css|swr|smn): replace the jmespath.Search method with the utils.PathSearch method
  huaweicloud/services/css/resource_huaweicloud_css_manual_log_backup.go
  huaweicloud/services/css/resource_huaweicloud_css_scan_task.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert_rule.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_incident.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_indicator.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_action.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_rule.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_version.go
  huaweicloud/services/smn/resource_huaweicloud_smn_message_detection.go
  huaweicloud/services/smn/resource_huaweicloud_smn_message_template.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_permissions.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_retention_policy.go
Labels: size/M, chore, LGTM, approved

#5545 chore(cfw): replace the jmespath.Search method with the utils.PathSearch method
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_firewalls.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_acl_rule.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group_member.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_black_white_list.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_dns_resolution.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_domain_name_group.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_lts_log.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_protection_rule.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_service_group.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_service_group_member.go
Labels: size/M, chore, LGTM, approved

#5549 chore(cc): replace the jmespath.Search method with the utils.PathSearch method
  huaweicloud/services/cc/resource_huaweicloud_cc_authorization.go
  huaweicloud/services/cc/resource_huaweicloud_cc_bandwidth_package.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_attachment.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_connection_bandwidth_associate.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_policy.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_policy_apply.go
  huaweicloud/services/cc/resource_huaweicloud_cc_connection.go
  huaweicloud/services/cc/resource_huaweicloud_cc_global_connection_bandwidth.go
  huaweicloud/services/cc/resource_huaweicloud_cc_inter_region_bandwidth.go
  huaweicloud/services/cc/resource_huaweicloud_cc_network_instance.go
Labels: size/M, chore, LGTM, approved

#5551 chore(vpn): replace the jmespath.Search method with the utils.PathSearch method
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection_health_check.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_customer_gateway.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/M, chore, LGTM, approved

#5552 chore(ces): replace the jmespath.Search method with the utils.PathSearch method
  huaweicloud/services/ces/resource_huaweicloud_ces_alarm_template.go
  huaweicloud/services/ces/resource_huaweicloud_ces_dashboard.go
  huaweicloud/services/ces/resource_huaweicloud_ces_resource_group.go
Labels: size/S, chore, LGTM, approved

#5538 feat(GaussDBforMySQL): add gaussdb mysql parameter template apply records data source
  docs/data-sources/gaussdb_mysql_pt_apply_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_pt_apply_records_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_pt_apply_records.go
Labels: size/M, feature, LGTM, approved

#5548 feat(EIP): add vpc eip v3 associate resource
  docs/resources/vpc_eipv3_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eipv3_associate_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eipv3_associate.go
Labels: size/L, feature, LGTM, approved

#5556 feat(cce): support extension_scale_groups in node pool
  docs/resources/cce_node_pool.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5540 feat(GaussDBforMySQL): add gaussdb mysql parameter template acceptable instances data source
  docs/data-sources/gaussdb_mysql_pt_applicable_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_pt_applicable_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_pt_applicable_instances.go
Labels: size/L, feature, LGTM, approved

#5566 fix(GaussDBforMySQL): modify gaussdb mysql parameter template compare file name
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template_compare.go
Labels: size/XS, bugfix, LGTM, approved

#5522 feat(dws): add new resource and data source to manage OM account
  docs/data-sources/dws_om_account_configuration.md
  docs/resources/dws_om_account_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_om_account_configuration_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_om_account_configuration.go
  huaweicloud/services/dws/resource_huaweicloud_dws_om_account_action.go
Labels: size/L, feature, LGTM, approved

#5550 chore(lts/notification_template): fix the example error
  docs/resources/lts_notification_template.md
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_notification_template_test.go
Labels: size/S, chore, LGTM, approved

#5542 feat(dws): add new resource supports modifying workload configuration
  docs/resources/dws_workload_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_workload_configuration_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_configuration.go
Labels: size/L, feature, LGTM, approved

#5559 feat(vpcep): the datasource supports new filter field marker_id
  docs/data-sources/vpcep_service_connections.md
  huaweicloud/services/acceptance/vpcep/data_source_huaweicloud_vpcep_service_connections_test.go
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_service_connections.go
Labels: size/S, feature, LGTM, approved

#5567 feat(vpcep): the VPC endpoint service resource supports tcp_proxy field
  docs/resources/vpcep_service.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_service_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_service.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#5508 feat(dws): add new datasource to query queue associated users
  docs/data-sources/dws_workload_queue_associated_users.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_workload_queue_associated_users_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_workload_queue_associated_users.go
Labels: size/L, feature, LGTM, approved

#5575 fix(GaussDBforMySQL): add api comment to gaussdb mysql instance resource
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/XS, bugfix, LGTM, approved

#5573 docs(iam): move the docs of identity_policy and identity_trust_agency to incubating path
  docs/incubating/identity_policy.md
  docs/incubating/identity_trust_agency.md
Labels: documentation, size/XS, LGTM, approved

#5576 refactor(access_analyzer|ian|rms|ucs|vpc): replace jmespath.Search with utils.PathSearch
  huaweicloud/services/accessanalyzer/resource_huaweicloud_access_analyzer.go
  huaweicloud/services/accessanalyzer/resource_huaweicloud_access_analyzer_archive_rule.go
  huaweicloud/services/iam/resource_huaweicloud_identity_service_agency.go
  huaweicloud/services/iam/resource_huaweicloud_identity_trust_agency.go
  huaweicloud/services/iam/resource_huaweicloud_identity_user_token.go
  huaweicloud/services/iam/resource_huaweicloud_identity_virtual_mfa_device.go
  huaweicloud/services/rms/resource_huaweicloud_rms_advanced_query.go
  huaweicloud/services/rms/resource_huaweicloud_rms_assignment_package.go
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_assignment_package.go
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_policy_assignment.go
  huaweicloud/services/rms/resource_huaweicloud_rms_resource_aggregation_authorization.go
  huaweicloud/services/rms/resource_huaweicloud_rms_resource_aggregator.go
  huaweicloud/services/rms/resource_huaweicloud_rms_resource_recorder.go
  huaweicloud/services/ucs/resource_huaweicloud_ucs_cluster.go
  huaweicloud/services/ucs/resource_huaweicloud_ucs_fleet.go
  huaweicloud/services/ucs/resource_huaweicloud_ucs_policy.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_acl.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_sub_network_interface.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_traffic_mirror_filter.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_traffic_mirror_filter_rule.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_traffic_mirror_session.go
Labels: size/M, refactor, LGTM, approved

#5577 fix(cce): add content-type in get request of log config
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_log_config.go
Labels: size/XS, bugfix, LGTM, approved

#5572 feat(dms): support rabbitmq exchange associate
  docs/resources/dms_rabbitmq_exchange_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_exchange_associate_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_exchange_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_queue_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_vhost_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_exchange_associate.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_queue.go
Labels: size/L, feature, LGTM, approved

#5563 chore(cc): add CheckDeleted to CC resource deletion
  docs/resources/cc_central_network_policy_apply.md
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_central_network_policy_apply_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_authorization.go
  huaweicloud/services/cc/resource_huaweicloud_cc_bandwidth_package.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_attachment.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_connection_bandwidth_associate.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_policy.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_policy_apply.go
  huaweicloud/services/cc/resource_huaweicloud_cc_connection.go
  huaweicloud/services/cc/resource_huaweicloud_cc_global_connection_bandwidth.go
  huaweicloud/services/cc/resource_huaweicloud_cc_global_connection_bandwidth_associate.go
  huaweicloud/services/cc/resource_huaweicloud_cc_inter_region_bandwidth.go
  huaweicloud/services/cc/resource_huaweicloud_cc_network_instance.go
Labels: size/S, chore, LGTM, approved

#5558 feat(dws): add new datasource to query cns of the dws cluster
  docs/data-sources/dws_cluster_cns.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_cluster_cns_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_cluster_cns.go
Labels: size/M, feature, LGTM, approved

#5578 chore(ims): fix resource documents and some formatting standards
  docs/resources/images_image_share.md
  docs/resources/images_image_share_accepter.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_share_accepter_test.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_share_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_share.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_share_accepter.go
Labels: size/M, chore, LGTM, approved

#5580 feat(LB): lb loadbalancer support modify enterprise project id
  docs/resources/lb_loadbalancer.md
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
Labels: size/S, feature, LGTM, approved

#5564 feat(ims/image_export): support image export resource
  docs/resources/ims_image_export.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_image_export_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_image_export.go
Labels: size/M, feature, LGTM, approved

#5582 feat(ces): add this data source to get the list of CES alarm rules
  docs/data-sources/ces_alarmrules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_alarmrules_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_alarmrules.go
Labels: size/L, feature, LGTM, approved

#5583 test(dms): remove test for old flavor and fix docs for single instance
  docs/resources/dms_rabbitmq_instance.md
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_instances_test.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rabbitmq_plugins_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_consumer_group_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_partition_reassign_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_topic_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_user_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_exchange_associate_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_plugin_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_vhost_test.go
Labels: size/L, LGTM, test, approved

#5587 feat(EIP): eip support modify enterprise project id
  docs/resources/vpc_eip.md
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_eip_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
Labels: size/S, feature, LGTM, approved

#5586 feat(GaussDBforMySQL): gaussdb mysql instance support auto scaling
  docs/resources/gaussdb_mysql_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/common.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/aad/v1/rules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/deprecated/dedicated/v2/channels/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/rules/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/security/rules/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/autoscaling/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/autoscaling/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/autoscaling/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/backups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/backups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/backups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/results.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/services/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5588 feat(dms): support queue message clear and return exchange bindings info
  docs/resources/dms_rabbitmq_exchange.md
  docs/resources/dms_rabbitmq_queue_message_clear.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_exchange_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_queue_message_clear_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_exchange.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_queue.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_queue_message_clear.go
Labels: size/L, feature, LGTM, approved

#5589 fix(ims/evs_data_image): fix bug where no `image_id` is returned when querying job
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_data_image.go
Labels: size/S, bugfix, LGTM, approved

#5581 feat(vpcep): the VPC endpoint resource support new fields
  docs/resources/vpcep_endpoint.md
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_endpoint_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
Labels: size/M, feature, LGTM, approved

#5591 feat(servicestage): add new data source to query runtimes
  docs/data-sources/servicestagev3_runtimestacks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/data_source_huaweicloud_servicestagev3_runtime_stacks_test.go
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_runtime_stacks.go
Labels: size/M, feature, LGTM, approved

#5592 feat(anti-ddos): support new resource to manage default protection policy
  docs/resources/antiddos_default_protection_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/antiddos/resource_huaweicloud_antiddos_default_protection_policy_test.go
  huaweicloud/services/antiddos/resource_huaweicloud_antiddos_default_protection_policy.go
Labels: size/L, feature, LGTM, approved

#5598 docs(CDN): open the parameter `access_area_filter` in the document
  docs/resources/cdn_domain.md
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/S, documentation, LGTM, approved

#5599 chore(ims/image_copy): update resource document and some formatting standards
  docs/resources/images_image_copy.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_copy_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_copy.go
Labels: size/L, chore, LGTM, approved

#5597 docs(lts|dataarts|dws|dli): fix errors of the docs
  docs/data-sources/dli_spark_templates.md
  docs/data-sources/lts_notification_templates.md
  docs/resources/dataarts_architecture_batch_unpublish.md
  docs/resources/dataarts_security_permission_set_privilege.md
  docs/resources/dli_database_privilege.md
  docs/resources/dli_spark_template.md
  docs/resources/dws_alarm_subscription.md
  docs/resources/dws_cluster.md
  docs/resources/dws_event_subscription.md
  docs/resources/dws_ext_data_source.md
  docs/resources/dws_public_domain_associate.md
  docs/resources/dws_snapshot.md
  docs/resources/dws_snapshot_policy.md
Labels: size/S, documentation, LGTM, approved

#5606 feat(cbr/vault): data source supports auto bind and bind rules
  docs/data-sources/cbr_vaults.md
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_vaults.go
Labels: size/XS, feature, LGTM, approved

#5607 feat(anti-ddos): support new datasource to query weekly statistics
  docs/data-sources/antiddos_weekly_protection_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/antiddos/data_source_huaweicloud_antiddos_weekly_protection_statistics_test.go
  huaweicloud/services/antiddos/data_source_huaweicloud_antiddos_weekly_protection_statistics.go
Labels: size/L, feature, LGTM, approved

#5593 feat(GaussDBforMySQL): gaussdb mysql instance support backup encrypt
  docs/resources/gaussdb_mysql_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/S, feature, LGTM, approved

#5590 feat(GaussDBforMySQL): add gaussdb mysql recycling policy resource
  docs/resources/gaussdb_mysql_recycling_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_recycling_policy_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_recycling_policy.go
Labels: size/M, feature, LGTM, approved

#5569 feat(servicestage/env): add new resource to manage environments
  docs/resources/servicestagev3_environment.md
  huaweicloud/common/resource_schema.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_environment_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_environment.go
  huaweicloud/utils/tags.go
  huaweicloud/utils/tags_test.go
Labels: size/L, chore, refactor, feature, LGTM, approved

#5585 feat(dws): add new data source to query nodes
  docs/data-sources/dws_cluster_nodes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_cluster_nodes_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_cluster_nodes.go
Labels: size/L, feature, LGTM, approved

#5584 feat(dws): add new resource to restart logical cluster
  docs/resources/dws_logical_cluster_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_logical_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_logical_cluster_restart.go
Labels: size/M, feature, LGTM, approved

#5595 feat(GaussDBforMySQL): add gaussdb mysql recycling instances data source
  docs/data-sources/gaussdb_mysql_recycling_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_recycling_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_recycling_instances.go
Labels: size/L, feature, LGTM, approved

#5608 feat(cce): support upgrade cluster
  docs/resources/cce_cluster.md
  docs/resources/cce_cluster_upgrade.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_upgrade_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_upgrade.go
Labels: size/L, feature, LGTM, approved

#5601 feat(GaussDBforMySQL): add gaussdb mysql instance auto scaling records data source
  docs/data-sources/gaussdb_mysql_auto_scaling_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_auto_scaling_records_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_auto_scaling_records.go
Labels: size/M, feature, LGTM, approved

#5555 feat(dws): add new datasource to query resource statistics
  docs/data-sources/dws_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_statistics_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_statistics.go
Labels: size/M, feature, LGTM, approved

#5568 feat(dws): add new resource for restarting cluster
  docs/resources/dws_cluster_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster_restart.go
Labels: size/M, feature, LGTM, approved

#5613 feat(ces): add resource one-click alarm
  docs/resources/ces_one_click_alarm.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_one_click_alarm_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_one_click_alarm.go
Labels: size/L, feature, LGTM, approved

#5571 feat(rgc): add new resource RGC account
  docs/incubating/rgc_account .md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rgc/resource_huaweicloud_rgc_account_test.go
  huaweicloud/services/rgc/resource_huaweicloud_rgc_account.go
Labels: size/L, feature, LGTM, approved

#5604 feat(dws): add new data source to query cluster topology rings
  docs/data-sources/dws_cluster_topo_rings.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_cluster_topo_rings_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_cluster_topo_rings.go
Labels: size/L, feature, LGTM, approved

#5596 feat(dws): add new resource to copy automated snapshot
  docs/resources/dws_snapshot_copy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_snapshot_copy_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_snapshot_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot_copy.go
Labels: size/L, chore, feature, LGTM, approved

#5579 feat(secmaster): add data source playbook statistics
  docs/data-sources/secmaster_playbook_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_playbook_statistics_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_playbook_statistics.go
Labels: size/M, feature, LGTM, approved

#5603 feat(dbss): add a new datasource to get list of audit rule scopes
  docs/data-sources/dbss_audit_rule_scopes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_audit_rule_scopes_test.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_audit_rule_scopes.go
Labels: size/M, feature, LGTM, approved

#5614 refactor(ims): refactor `images_images` and `images_image` dataSources
  docs/data-sources/images_image.md
  docs/data-sources/images_images.md
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_image_test.go
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_images_test.go
  huaweicloud/services/ims/data_source_huaweicloud_images_image.go
  huaweicloud/services/ims/data_source_huaweicloud_images_images.go
Labels: size/L, refactor, LGTM, approved

#5610 feat(dbss): add a new datasource to get list of risk rules
  docs/data-sources/dbss_audit_risk_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_audit_risk_rules_test.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_audit_risk_rules.go
Labels: size/L, feature, LGTM, approved

#5611 feat(dbss): add a new datasource to get list of privacy data masking rules
  docs/data-sources/dbss_audit_data_masking_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_audit_data_masking_rules_test.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_audit_data_masking_rules.go
Labels: size/M, feature, LGTM, approved

#5615 feat(dbss): add a new datasource to get list of SQL injection rules
  docs/data-sources/dbss_audit_sql_injection_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_audit_sql_injection_rules_test.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_audit_sql_injection_rules.go
Labels: size/L, feature, LGTM, approved

#5602 chore(secmaster): adjust code and add checkDeleted and fix test case
  docs/data-sources/secmaster_baseline_check_results.md
  examples/secmaster/playbook/secmaster_playbook_usage_instruction.md
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_alerts_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_alert_rule_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_alert_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_data_object_relations_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_incident_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_indicator_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_action_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_rule_test.go
  huaweicloud/services/secmaster/common.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert_rule.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_data_object_relations.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_incident.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_indicator.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_action.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_approval.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_rule.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_version.go
  huaweicloud/utils/times.go
Labels: size/L, chore, LGTM, approved

#5600 feat(GaussDBforMySQL): add gaussdb mysql incremental backups data source
  docs/data-sources/gaussdb_mysql_incremental_backups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_incremental_backups_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_incremental_backups.go
Labels: size/M, feature, LGTM, approved

#5621 feat(ecs): support storage_type in flavor data_source
  docs/data-sources/compute_flavors.md
  go.mod
  go.sum
  huaweicloud/services/ecs/data_source_huaweicloud_compute_flavors.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/flavors/results.go
  vendor/modules.txt
Labels: size/XS, feature, dependencies, LGTM, approved

#5624 docs(secmaster): add playbook related instructions
  docs/resources/secmaster_playbook.md
  docs/resources/secmaster_playbook_action.md
  docs/resources/secmaster_playbook_approval.md
  docs/resources/secmaster_playbook_enable.md
  docs/resources/secmaster_playbook_rule.md
  docs/resources/secmaster_playbook_version.md
  docs/resources/secmaster_playbook_version_action.md
Labels: size/S, documentation, LGTM, approved

#5619 feat(cse/engine): add new data source to query engines
  docs/data-sources/cse_microservice_engines.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cse/data_source_huaweicloud_cse_microservice_engines_test.go
  huaweicloud/services/cse/data_source_huaweicloud_cse_microservice_engines.go
Labels: size/L, feature, LGTM, approved

#5616 feat(GaussDBforNoSQL): add gaussdb influx instances data source
  docs/data-sources/gaussdb_influx_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_influx_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_influx_instances.go
Labels: size/L, feature, LGTM, approved

#5617 feat(ces): add data source to get the list of CES one-click alarm rules
  docs/data-sources/ces_one_click_alarm_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_one_click_alarm_rules_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_one_click_alarm_rules.go
Labels: size/L, feature, LGTM, approved

#5625 feat(vpn): add data source to get the list of VPN P2C Gateways
  docs/data-sources/vpn_p2c_gateways.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_p2c_gateways_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_p2c_gateways.go
Labels: size/L, feature, LGTM, approved

#5628 refactor(CDN): refactor resource code using automatic generation
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/XL, chore, refactor, LGTM, approved

#5631 feat(CDN): CDN domain resource support new field
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/S, feature, LGTM, approved

#5633 feat(cse/kv): add new resource to manage engine configuration
  docs/resources/cse_microservice_engine_configuration.md
  huaweicloud/common/resource_schema.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_engine_configuration_test.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_engine_configuration.go
Labels: size/L, refactor, feature, LGTM, approved

#5634 feat(servicestage/env): add new resource to bind resources to env
  docs/resources/servicestagev3_environment_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_environment_associate_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_environment_associate.go
Labels: size/L, feature, LGTM, approved

#5570 feat(servicestage/app): add new resource to manage applications
  docs/resources/servicestagev3_application.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_application_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_application.go
Labels: size/L, feature, LGTM, approved

#5636 feat(ecs): add expired_time in compute instance
  docs/data-sources/compute_instance.md
  docs/data-sources/compute_instances.md
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instance.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_instances.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/results_job.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/results_order.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5637 refactor(gaussdb): rename attribute id to instance_id in data_source influx_instances
  docs/data-sources/gaussdb_influx_instances.md
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_influx_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_influx_instances.go
Labels: size/XS, refactor, LGTM, approved

#5640 Update CHANGELOG for v1.69.0
  CHANGELOG.md
Labels: size/S, approved

#5638 feat(aom): add data source service discovery rules
  docs/data-sources/aom_service_discovery_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_service_discovery_rules_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_service_discovery_rules.go
Labels: size/L, feature, LGTM, approved

#5639 chore(ims): update attributes and method names for resources
  docs/resources/images_image_copy.md
  docs/resources/ims_cbr_whole_image.md
  docs/resources/ims_ecs_system_image.md
  docs/resources/ims_ecs_whole_image.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_copy_test.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_cbr_whole_image_test.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_ecs_system_image_test.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_ecs_whole_image_test.go
  huaweicloud/services/ims/data_source_huaweicloud_images_image.go
  huaweicloud/services/ims/data_source_huaweicloud_images_images.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_copy.go
  huaweicloud/services/ims/resource_huaweicloud_ims_cbr_whole_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_system_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_whole_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_data_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_system_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_data_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_iso_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_system_image.go
Labels: size/M, chore, LGTM, approved

#5623 feat(dbss): add a new datasource to get list of DBSS availability zones
  docs/data-sources/dbss_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dbss/data_source_huaweicloud_dbss_availability_zones_test.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_availability_zones.go
Labels: size/M, feature, LGTM, approved

#5627 feat(dbss): DBSS instance resource supports update tags
  docs/resources/dbss_instance.md
  huaweicloud/services/acceptance/dbss/resource_huaweicloud_dbss_instance_test.go
  huaweicloud/services/dbss/resource_huaweicloud_dbss_instance.go
Labels: size/M, feature, LGTM, approved

#5641 feat(drs): support to synchronize to kafka
  docs/resources/drs_job.md
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/L, feature, LGTM, approved

#5632 test(secmaster): adjust playbook action test case
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_action_test.go
Labels: size/S, LGTM, test, approved

#5642 feat(vpn): add data source to get the list of VPN servers
  docs/data-sources/vpn_servers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_servers_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_servers.go
Labels: size/L, feature, LGTM, approved

#5630 feat(vpn): add data source to get the list of VPN P2C gateway availability zones
  docs/data-sources/vpn_p2c_gateway_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_p2c_gateway_availability_zones_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_p2c_gateway_availability_zones.go
Labels: size/M, feature, needs-rebase, approved

#5622 feat(secmaster): add datasource playbook audit logs
  docs/data-sources/secmaster_playbook_audit_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_playbook_audit_logs_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_playbook_audit_logs.go
Labels: size/L, feature, LGTM, approved

#5574 feat(secmaster): add datasource playbook monitors
  docs/data-sources/secmaster_playbook_monitors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_playbook_monitors_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_playbook_monitors.go
Labels: size/L, feature, LGTM, approved

#5626 feat(secmaster): add resource playbook instance operation
  docs/resources/secmaster_playbook_instance_operation.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_instance_operation_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_instance_operation.go
Labels: size/M, feature, LGTM, approved
