Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-05, with the labels that each got.

#4699 feat(dds): support updating configuration ID in instance
  docs/resources/dds_instance.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/L, feature, LGTM, approved

#4745 Update CHANGELOG for v1.64.1
  CHANGELOG.md
Labels: size/XS, approved

#4730 feat(cc): add data source to get a list of CC support binding global connection bandwidths
  docs/data-sources/cc_support_binding_global_connection_bandwidths.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_support_binding_global_connection_bandwidths_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_support_binding_global_connection_bandwidths.go
Labels: size/L, feature, LGTM, approved

#4746 fix(apig): parameter value_type should be set
  docs/resources/apig_plugin.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_plugin_test.go
Labels: size/M, bugfix, LGTM, approved

#4735 feat(fgs): function supports manage custom versions
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/versions/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4748 feat(RDS): rds instance support private dns name
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4721 feat(RDS): rds pg account support modify memberof
  docs/resources/rds_pg_account.md
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_accounts_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_account_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_account.go
Labels: size/M, feature, LGTM, approved

#4718 feat(RDS): rds pg database support modify owner
  docs/resources/rds_pg_database.md
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_databases_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_plugins_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_database.go
Labels: size/M, feature, LGTM, approved

#4674 feat(vpc): add a datasource to get a list of VPC IP address groups
  docs/data-sources/vpc_address_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_address_groups_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_address_groups.go
Labels: size/L, feature, LGTM, approved

#4430 feat(vpc): add vpc traffic mirror filters data source
  docs/data-sources/vpc_traffic_mirror_filters.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_traffic_mirror_filters_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_traffic_mirror_filters.go
Labels: size/L, feature, LGTM, approved

#4736 feat(CDN): cdn domain support new fields
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, feature, LGTM, approved

#4684 feat(dli): add new datasource to get list of sql jobs
  docs/data-sources/dli_sql_jobs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_sql_jobs_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_sql_jobs.go
Labels: size/L, feature, LGTM, approved

#4435 feat(vpc): add vpc traffic mirror filter rules data source
  docs/data-sources/vpc_traffic_mirror_filter_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_traffic_mirror_filter_rules_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_traffic_mirror_filter_rules.go
Labels: size/L, feature, LGTM, approved

#4442 feat(vpc): add vpc traffic mirror sessions data source
  docs/data-sources/vpc_traffic_mirror_sessions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_traffic_mirror_sessions_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_traffic_mirror_sessions.go
Labels: size/L, feature, LGTM, approved

#4739 feat(css): add data source css logstash pipelines
  docs/data-sources/css_logstash_pipelines.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_logstash_pipelines_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_logstash_pipelines.go
Labels: size/M, feature, LGTM, approved

#4726 feat(RDS): rds instance support second level monitoring
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/S, feature, LGTM, approved

#4742 feat(iam): add new resource trust agency
  docs/resources/identity_trust_agency.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_trust_agency_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_trust_agency.go
Labels: size/L, feature, LGTM, approved

#4752 feat(apig/acl): new data source supported for associated res query
  docs/data-sources/apig_api_associated_acl_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_acl_policies_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api_associated_acl_policies.go
Labels: size/L, feature, LGTM, approved

#4738 feat(cbh/flavors): support querying modifiable flavors
  docs/data-sources/cbh_flavors.md
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_flavors_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_flavors.go
Labels: size/S, documentation, feature, LGTM, approved

#4744 feat(hss): support web tamper hosts datasource
  docs/data-sources/hss_webtamper_hosts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_webtamper_hosts_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_webtamper_hosts.go
Labels: size/L, feature, LGTM, approved

#4755 feat(css): css logstash cluster support route manager
  docs/resources/css_logstash_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
Labels: size/M, feature, LGTM, approved

#4750 feat(RDS): add rds sql audit logs resource
  docs/data-sources/rds_sql_audit_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_sql_audit_logs_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_sql_audit_logs.go
Labels: size/M, feature, LGTM, approved

#4756 feat(RDS): add rds error logs data source
  docs/data-sources/rds_error_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_error_logs_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_error_logs.go
Labels: size/M, feature, LGTM, approved

#4758 fix(dds): fix bug about flavor
  docs/resources/dds_instance.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/M, bugfix, LGTM, approved

#4760 fix(dcs): fix type of accounts
  docs/data-sources/dcs_accounts.md
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_accounts.go
Labels: size/XS, bugfix, LGTM, approved

#4734 feat(fgs): supplement function resource parameters
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/S, chore, feature, LGTM, approved

#4717 feat(dli): add new datasource to get list of jar type of flink jobs
  docs/data-sources/dli_flinkjar_jobs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_flinkjar_jobs_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_flinkjar_jobs.go
Labels: size/L, feature, LGTM, approved

#4749 feat(dli): add new datasource to get list of sql type of flink jobs
  docs/data-sources/dli_flinksql_jobs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_flinksql_job_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_flinksql_jobs.go
Labels: size/L, feature, LGTM, approved

#4771 fix(ddm/instance): update the param behavior for az list
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance.go
Labels: size/XS, bugfix, LGTM, approved

#4770 feat(ga): add a datasource to get list of availability zones
  docs/data-sources/ga_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/data_source_huaweicloud_ga_availability_zones_test.go
  huaweicloud/services/ga/data_source_huaweicloud_ga_availability_zones.go
Labels: size/M, feature, LGTM, approved

#4762 feat(waf): add a datasource to get the list of anti crawler rules
  docs/data-sources/waf_rules_anti_crawler.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_anti_crawler_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_anti_crawler.go
Labels: size/L, feature, LGTM, approved

#4737 feat(fgs): add a datasource to get the list of the fgs applications
  docs/data-sources/fgs_applications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_applications_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_applications.go
Labels: size/L, feature, LGTM, approved

#4743 feat(waf): add a datasource to get the list of cc protection rules
  docs/data-sources/waf_rules_cc_protection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_cc_protection_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_cc_protection.go
Labels: size/L, feature, LGTM, approved

#4751 feat(waf): add a datasource to get the global protection whitelist rule list
  docs/data-sources/waf_rules_global_protection_whitelist.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_global_protection_whitelist_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_global_protection_whitelist.go
Labels: size/L, feature, approved

#4764 feat(RDS): add rds slow logs data source
  docs/data-sources/rds_slow_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_slow_logs_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_slow_logs.go
Labels: size/L, feature, LGTM, approved

#4769 feat(GaussDB): gaussdb redis instance support mode
  docs/resources/gaussdb_redis_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
Labels: size/S, feature, LGTM, approved

#4766 feat(cfw): add data source to get the list of CFW black white lists
  docs/data-sources/cfw_black_white_lists.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_black_white_lists_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_black_white_lists.go
Labels: size/L, feature, LGTM, approved

#4761 docs: fix some docs issue
  docs/data-sources/gaussdb_mysql_backups.md
  docs/resources/dli_datasource_connection_associate.md
Labels: documentation, size/XS, LGTM, approved

#4776 feat: support `has`, `hasContain` supports map type
  huaweicloud/helper/filters/filter_test.go
  huaweicloud/helper/filters/filters.go
Labels: size/L, feature, LGTM, approved

#4773 docs(apig/channel): update documentation description
  docs/resources/apig_channel.md
Labels: documentation, size/XS, LGTM, approved

#4765 feat(apig): the resource support modifying debugging domain name access
  docs/resources/apig_group.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4767 feat(apig/throttle): new data source supported for associated res query
  docs/data-sources/apig_api_associated_throttling_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_throttling_policies_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api_associated_throttling_policies.go
Labels: size/L, feature, LGTM, approved

#4782 ci(golang): new word is supported for var naming
  .golangci.yml
Labels: size/XS, LGTM, approved

#4747 feat(cbh): support availability zones datasource
  docs/data-sources/cbh_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_availability_zones_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_availability_zones.go
Labels: size/M, feature, LGTM, approved

#4783 feat(dds): add attrs for template
  docs/resources/dds_parameter_template.md
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template.go
Labels: size/XS, feature, LGTM, approved

#4772 feat(dds): support to add nodes for replica set instance
  docs/resources/dds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#4778 refactor: chore(apig/throttle): Support the refresh functions
  docs/resources/apig_throttling_policy_associate.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_associate_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy_associate.go
  huaweicloud/utils/utils.go
Labels: size/M, chore, refactor, LGTM, test, approved

#4779 feat(cbh/instance): support tags parameter
  docs/resources/cbh_instance.md
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/M, feature, LGTM, approved

#4786 chore: remove 386 arch from goreleaser
  .goreleaser.yml
Labels: size/XS, chore, LGTM, approved

#4775 feat(apig): add new datasource to get throttling policies
  docs/data-sources/apig_throttling_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_throttling_policies_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_throttling_policies.go
Labels: size/L, feature, LGTM, approved

#4780 feat(RDS): rds instance support slow log show original staus
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/authorizers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/authorizers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
Labels: size/M, feature, LGTM, approved

#4792 feat: add custom filter function
  huaweicloud/helper/filters/filter_test.go
  huaweicloud/helper/filters/filters.go
Labels: size/M, feature, LGTM, approved

#4768 feat(css): add data source css logstash configurations
  docs/data-sources/css_logstash_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_logstash_configurations_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_logstash_configurations.go
Labels: size/L, feature, LGTM, approved

#4788 feat(CDN): CDN support a new resource to manage billing option
  docs/resources/cdn_billing_option.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_billing_option_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_billing_option.go
Labels: size/L, feature, LGTM, approved

#4754 feat(cfw): add data source to get the list of CFW domain name groups
  docs/data-sources/cfw_domain_name_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_domain_name_groups_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_domain_name_groups.go
Labels: size/L, feature, LGTM, approved

#4784 feat(RDS): add rds pg sql limit resource
  docs/resources/rds_pg_sql_limit.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_sql_limit_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_sql_limit.go
Labels: size/L, feature, LGTM, approved

#4790 fix(DCS): fix dcs big key analyses records type
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_bigkey_analyses.go
Labels: size/XS, bugfix, LGTM, approved

#4793 fix(GaussDB): fix gaussdb mysql
  docs/data-sources/gaussdb_mysql_backups.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_resotre_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_backups.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_restore.go
Labels: size/M, bugfix, LGTM, approved

#4785 feat(vpc): add new data_source vpc network acls
  docs/data-sources/vpc_network_acls.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_network_acls_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_network_acls.go
Labels: size/L, feature, LGTM, approved

#4797 feat(vpc): add new data source vpc routes
  docs/data-sources/vpc_routes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_routes_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_routes.go
Labels: size/L, feature, LGTM, approved

#4795 refactor(apig/sign): support refresh functions for associate resource
  docs/resources/apig_signature_associate.md
  huaweicloud/services/apig/resource_huaweicloud_apig_signature_associate.go
Labels: size/M, refactor, LGTM, approved

#4777 feat(apig): add new datasource to get list of acl policies
  docs/data-sources/apig_acl_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_acl_policies_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_acl_policies.go
Labels: size/L, feature, LGTM, approved

#4781 feat(dds): support to set slow log desensitization
  docs/resources/dds_instance.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/S, feature, LGTM, approved

#4803 feat(dds): support instance recovery
  docs/resources/dds_instance_recovery.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_recovery_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_recovery.go
Labels: size/L, feature, LGTM, approved

#4804 feat(dds): support to search restore time ranges
  docs/data-sources/dds_restore_time_ranges.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_restore_time_ranges_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_restore_time_ranges.go
Labels: size/M, feature, LGTM, approved

#4806 feat(dds): add attribute groups in instance
  docs/resources/dds_instance.md
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/S, feature, LGTM, approved

#4798 chore(apig/acl): update the parameter names
  docs/data-sources/apig_api_associated_acl_policies.md
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_acl_policies_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api_associated_acl_policies.go
Labels: size/XS, chore, LGTM, approved

#4791 docs(cbr|workspace|lts): fix or update the wrong document description
  docs/data-sources/hss_host_groups.md
  docs/data-sources/hss_hosts.md
  docs/resources/cbr_policy.md
  docs/resources/cbr_vault.md
  docs/resources/lts_cce_access.md
  docs/resources/workspace_terminal_bindings.md
Labels: size/S, documentation, LGTM, approved

#4810 chore(utils/time): refactor the color and time convert methods
  huaweicloud/utils/colors.go
  huaweicloud/utils/times.go
  huaweicloud/utils/times_test.go
  huaweicloud/utils/utils_test.go
Labels: size/M, chore, LGTM, approved

#4789 feat(dds): support to set maintenance window for instance
  docs/resources/dds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4799 feat(cfw): add data source to get a list of CFW protection rules.
  docs/data-sources/cfw_protection_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_protection_rules_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_protection_rules.go
Labels: size/XL, feature, LGTM, approved

#4802 feat(RDS): add rds pg sql limits data source
  docs/data-sources/rds_pg_sql_limits.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_sql_limits_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_pg_sql_limits.go
Labels: size/L, feature, LGTM, approved

#4807 feat(DCS): add dcs diagnosis task data source
  docs/data-sources/dcs_diagnosis_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_diagnosis_tasks_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_diagnosis_task_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_diagnosis_tasks.go
Labels: size/L, feature, LGTM, approved

#4814 feat(RDS): add rds recycling instances data source
  docs/data-sources/rds_recycling_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_recycling_instances_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_recycling_instances.go
Labels: size/L, feature, LGTM, approved

#4821 fix(vpc): fix the problem of updating acl rules
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_acl.go
Labels: size/S, bugfix, LGTM, approved

#4816 feat(vpc): add new data_source flow_logs
  docs/data-sources/vpc_flow_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_flow_logs_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_flow_logs.go
Labels: size/L, feature, LGTM, approved

#4829 feat(CDN): cdn domain support new resource to manage cache preheat
  docs/resources/cdn_cache_preheat.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_cache_preheat_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_cache_preheat.go
Labels: size/L, feature, LGTM, approved

#4815 feat(dds): support setting balancer configuration in instance
  docs/resources/dds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4706 fix(dli): catch and handle the 408 errors
  docs/resources/dli_database.md
  docs/resources/dli_table.md
  huaweicloud/services/dli/resource_huaweicloud_dli_database.go
  huaweicloud/services/dli/resource_huaweicloud_dli_table.go
Labels: size/M, bugfix, LGTM, approved

#4823 feat(CDN): cdn domain support new resource to manage cache refresh
  docs/resources/cdn_cache_refresh.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_cache_refresh_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_cache_refresh.go
Labels: size/L, feature, LGTM, approved

#4740 fix: feat(apig): new parameters supported for custom authorizer resource
  docs/resources/apig_custom_authorizer.md
  examples/apig/api-custom-authorizer/main.tf
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_custom_authorizer_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_custom_authorizer.go
Labels: size/M, bugfix, feature, LGTM, approved

#4787 refactor(apig/acl): support refresh functions for associate resource
  docs/resources/apig_acl_policy_associate.md
  huaweicloud/services/apig/resource_huaweicloud_apig_acl_policy_associate.go
Labels: size/M, refactor, LGTM, approved

#4813 feat(apig/app): new data source supported for associated res query
  docs/data-sources/apig_api_associated_applications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_applications_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api_associated_applications.go
Labels: size/L, feature, LGTM, approved

#4833 fix(dli/privilege): splicing object when query privileges for database type
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_database_privilege_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_database_privilege.go
Labels: size/M, bugfix, LGTM, approved

#4835 fix(error): do not using %#v to return errors
  huaweicloud/services/aad/resource_huaweicloud_aad_forward_rule.go
  huaweicloud/services/ccm/resource_huaweicloud_scm_certificate.go
  huaweicloud/services/cdm/resource_huaweicloud_cdm_job.go
  huaweicloud/services/css/resource_huaweicloud_css_scan_task.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  huaweicloud/services/deprecated/resource_huaweicloud_vpc_route_v2.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  huaweicloud/services/lts/resource_huaweicloud_lts_log_converge_switch.go
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
  huaweicloud/services/waf/resource_huaweicloud_waf_cloud_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
Labels: size/S, bugfix, LGTM, approved

#4817 feat(css): add datasource CSS elb loadbalancers
  docs/data-sources/css_elb_loadbalancers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_elb_loadbalancers_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_elb_loadbalancers.go
Labels: size/L, feature, LGTM, approved

#4824 feat(cfw): add data source to get a list of CFW service group members
  docs/data-sources/cfw_service_group_members.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_service_group_members_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_service_group_members.go
Labels: size/L, feature, LGTM, approved

#4826 refactor(CFW): change the type of protocols from TypeSet to TypeList in data source CFW service groups
  docs/data-sources/cfw_service_groups.md
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_service_groups.go
Labels: size/S, refactor, LGTM, approved

#4828 refactor(CFW): modify the type of the filter field that valid values contain zero value
  docs/data-sources/cfw_address_groups.md
  docs/data-sources/cfw_domain_name_groups.md
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_address_groups.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_domain_name_groups.go
Labels: size/S, refactor, LGTM, approved

#4801 fix: do not filter nil value to avoid nil pointer issues
  huaweicloud/helper/filters/filters.go
  huaweicloud/helper/httphelper/http_helper.go
  huaweicloud/helper/schemas/schema_wrapper.go
Labels: size/S, bugfix, LGTM, approved

#4819 feat(fgs): add datasource to get dependency package versions
  docs/data-sources/fgs_dependencies.md
  docs/data-sources/fgs_dependency_versions.md
  docs/resources/fgs_dependency_version.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_dependencies_test.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_dependency_versions_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_dependency_version_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_dependencies.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_dependency_versions.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency_version.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/dependencies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/dependencies/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#4839 feat(cdm): add precheck for acc test
  huaweicloud/services/acceptance/cdm/resource_huaweicloud_cdm_link_test.go
Labels: size/XS, feature, LGTM, approved

#4841 fix(DDM): add forcenew to ddm schema params
  docs/resources/ddm_schema.md
  huaweicloud/services/ddm/resource_huaweicloud_ddm_schema.go
Labels: size/S, bugfix, LGTM, approved

#4842 refactor: modify the type of the data collection in DataSource to TypeList
  docs/data-sources/dli_elastic_resource_pools.md
  docs/data-sources/dns_floating_ptrrecords.md
  docs/data-sources/dns_line_groups.md
  docs/data-sources/dns_nameservers.md
  docs/data-sources/identity_providers.md
  docs/data-sources/rms_advanced_queries.md
  docs/data-sources/rms_advanced_query_schemas.md
  docs/data-sources/rms_resource_aggregators.md
  docs/data-sources/rms_services.md
  docs/data-sources/vpc_address_groups.md
  docs/data-sources/vpc_traffic_mirror_filter_rules.md
  docs/data-sources/vpc_traffic_mirror_filters.md
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_diagnosis_tasks.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_elastic_resource_pools.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_floating_ptrrecords.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_line_groups.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_nameservers.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_providers.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_recycling_instances.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_advanced_queries.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_advanced_query_schemas.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregators.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_services.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_address_groups.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_traffic_mirror_filter_rules.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_traffic_mirror_filters.go
Labels: size/M, refactor, LGTM, approved

#4832 fix(swr): fix the problem of creating a cci trigger
  huaweicloud/services/acceptance/swr/resource_huaweicloud_swr_image_trigger_test.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_trigger.go
Labels: size/S, bugfix, LGTM, approved

#4843 fix(secmaster): fix request body problems of alert and indicator
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_alert_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_indicator.go
Labels: size/S, bugfix, LGTM, approved

#4820 feat(RDS): add rds pg plugin parameter value range data source
  docs/data-sources/rds_pg_plugin_parameter_value_range.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_plugin_parameter_value_range_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_pg_plugin_parameter_value_range.go
Labels: size/M, feature, LGTM, approved

#4837 feat(RDS): add rds pg plugin update resource
  docs/resources/rds_pg_plugin_update.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_plugin_update_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_plugin_update.go
Labels: size/M, feature, LGTM, approved

#4848 fix(GaussDB): fix gaussdb mysql restore time ranges
  docs/data-sources/gaussdb_mysql_restore_time_ranges.md
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_restore_time_ranges.go
Labels: size/XS, bugfix, LGTM, approved

#4849 fix(dws/cluster): status 417 is returned when deleting the only existing cluster
  huaweicloud/services/dws/resource_huaweicloud_dws_logical_cluster.go
Labels: size/XS, bugfix, LGTM, approved

#4846 Update CHANGELOG for v1.64.2
  CHANGELOG.md
Labels: size/XS, approved

#4838 feat(CFW): add data source to get the list of CFW address group members
  docs/data-sources/cfw_address_group_members.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_address_group_members_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_address_group_members.go
Labels: size/L, feature, LGTM, approved

#4827 feat(css): add datasource CSS logstash certificates
  docs/data-sources/css_logstash_certificates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_logstash_certificates_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_logstash_certificates.go
Labels: size/L, feature, LGTM, approved

#4834 feat(waf): add datasource to get the list of web tamper protection rules
  docs/data-sources/waf_rules_web_tamper_protection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_web_tamper_protection_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_web_tamper_protection.go
Labels: size/L, feature, LGTM, approved

#4831 feat(waf): add datasource to get the list of known attack source rules
  docs/data-sources/waf_rules_known_attack_source.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_known_attack_source_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_known_attack_source.go
Labels: size/L, feature, LGTM, approved

#4809 feat(waf): add a datasource to get list of data masking rules
  docs/data-sources/waf_rules_data_masking.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_data_masking_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_data_masking.go
Labels: size/L, feature, LGTM, approved

#4859 fix: fix ci tf provider lint script error
  .github/workflows/ci.yml
Labels: size/XS, bugfix, LGTM, approved

#4811 feat(waf): add datasource to get information leakage prevention rule list
  docs/data-sources/waf_rules_information_leakage_prevention.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_information_leakage_prevention_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_information_leakage_prevention.go
Labels: size/L, feature, LGTM, approved

#4805 feat(apig): add datasource to get basic configurations of the api
  docs/data-sources/apig_api_basic_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_basic_configurations_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api_basic_configurations.go
Labels: size/XL, feature, LGTM, approved

#4852 feat(dds): support to get migrate az list for instance
  docs/data-sources/dds_migrate_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_migrate_availability_zones_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_migrate_availability_zones.go
Labels: size/M, feature, LGTM, approved

#4847 feat(css): add datasource CSS logstash pipeline actions
  docs/data-sources/css_logstash_pipeline_actions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_logstash_pipeline_actions_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_logstash_pipeline_actions.go
Labels: size/L, feature, LGTM, approved

#4854 feat(CC): add data source to get the list of CC authorizations
  docs/data-sources/cc_authorizations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_authorizations_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_authorizations.go
Labels: size/L, feature, LGTM, approved

#4836 feat(dds): add data source to get backup list
  docs/data-sources/dds_backups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_backups_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_backups.go
  huaweicloud/services/dds/resource_huaweicloud_dds_backup.go
Labels: size/L, feature, LGTM, approved

#4840 feat(dds): support setting client network ranges for instance
  docs/resources/dds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4671 feat(dds): add a datasource to get the versions of DDS instance
  docs/data-sources/dds_database_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_database_versions_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_database_versions.go
Labels: size/M, feature, LGTM, approved

#4856 feat(CDN): cdn domain support new datasource to query cache url tasks
  docs/data-sources/cdn_cache_url_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_cache_url_tasks_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_cache_url_tasks.go
Labels: size/L, feature, LGTM, approved

#4812 feat(css): add resource CSS es loadbalancer config
  docs/resources/css_es_loadbalancer_config.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_es_loadbalancer_config_test.go
  huaweicloud/services/css/resource_huaweicloud_css_es_loadbalancer_config.go
Labels: size/L, feature, LGTM, approved

#4862 feat(css): add resource CSS logstash custom template
  docs/resources/css_logstash_custom_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_custom_template_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_custom_template.go
Labels: size/L, feature, LGTM, approved

#4861 feat(CDN): cdn domain support new datasource to query cache history tasks
  docs/data-sources/cdn_cache_history_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_cache_history_tasks_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_cache_history_tasks.go
Labels: size/L, feature, LGTM, approved

#4844 feat(CDN): cdn domain support new datasource to query billing option
  docs/data-sources/cdn_billing_option.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_billing_option_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_billing_option.go
Labels: size/M, feature, LGTM, approved

#4860 feat(cbh): support ha instance resource
  docs/resources/cbh_ha_instance.md
  huaweicloud/config/config.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_ha_instance_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_ha_instance.go
Labels: size/XL, feature, LGTM, approved

#4853 feat(RDS): add rds plugin parameter resource
  docs/resources/rds_pg_plugin_parameter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_plugin_parameter_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_plugin_parameter.go
Labels: size/L, feature, LGTM, approved

#4863 feat(RDS): add gaussdb mysql databases data source
  docs/data-sources/gaussdb_mysql_databases.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_databases_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_databases.go
Labels: size/L, feature, LGTM, approved

#4866 feat(dds): support to get database users
  docs/data-sources/dds_database_users.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_database_users_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_role_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_database_users.go
Labels: size/L, feature, LGTM, approved

#4873 chore(apig): use invocation_type instead of invocation_mode
  docs/resources/apig_api.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
Labels: size/M, chore, LGTM, approved

#4794 feat(apig): add new datasource to get list of custom authorizers
  docs/data-sources/apig_custom_authorizers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_custom_authorizers_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_custom_authorizers.go
Labels: size/L, feature, LGTM, approved

#4800 feat(fgs): supplement attributes for dependency/async resources
  docs/resources/fgs_async_invoke_configuration.md
  docs/resources/fgs_dependency.md
  go.mod
  go.sum
  huaweicloud/services/fgs/resource_huaweicloud_fgs_async_invoke_configuration.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/dependencies/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#4850 feat(css): add datasource CSS upgrade target images
  docs/data-sources/css_upgrade_target_images.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_upgrade_target_images_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_upgrade_target_images.go
Labels: size/L, feature, LGTM, approved

#4865 feat(css): add datasource CSS logstash templates
  docs/data-sources/css_logstash_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_logstash_templates_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_logstash_templates.go
Labels: size/L, feature, LGTM, approved

#4872 feat(RAM): RAM support a new resource to manage organization
  docs/resources/ram_organization.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_shared_principals_test.go
  huaweicloud/services/acceptance/ram/resource_huaweicloud_ram_organization_test.go
  huaweicloud/services/ram/resource_huaweicloud_ram_organization.go
Labels: size/M, feature, LGTM, approved

#4882 ci: disable hold and LGTM label on fuxingloh/multi-labeler
  .github/labeler.yml
Labels: size/XS, LGTM, approved

#4857 feat(apig): add new resource support configuring instance feature
  docs/resources/apig_instance_feature.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_feature_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance_feature.go
Labels: size/L, feature, LGTM, approved

#4879 feat(rms): add new data_source rms_resources
  docs/data-sources/rms_resources.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resources_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resources.go
Labels: size/L, feature, LGTM, approved

#4874 feat(ELB): elb monitor add params
  docs/resources/elb_monitor.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_monitor_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_monitor.go
Labels: size/S, feature, LGTM, approved

#4868 feat(cts): add data source to get a list of CTS traces
  docs/data-sources/cts_traces.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_traces_test.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_traces.go
Labels: size/L, feature, LGTM, approved

#4869 feat(rms): add new data_source resources_summary
  docs/data-sources/rms_resources_summary.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resources_summary_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resources_summary.go
Labels: size/L, feature, LGTM, approved

#4881 feat(hss): support quota resource
  docs/resources/hss_quota.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_quota_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_quota.go
Labels: size/L, feature, LGTM, approved

#4885 test(fgs/async): standardize time format check with regex for RFC3339
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_async_invoke_configuration_test.go
Labels: size/XS, LGTM, test, approved

#4887 fix(drs): raise error when deleting if orderID is empty
  huaweicloud/common/common.go
Labels: size/XS, bugfix, LGTM, approved

#4884 feat(cci): CCI network availability_zone attribute changed from required to optional
  docs/resources/cci_network.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_network_test.go
  huaweicloud/services/cci/resource_huaweicloud_cci_network.go
  vendor/github.com/chnsz/golangsdk/openstack/cci/v1/networks/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#4845 feat(apig): add new datasource to get list of instances
  docs/data-sources/apig_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_instances_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_instances.go
Labels: size/L, feature, LGTM, approved

#4890 Update CHANGELOG for v1.64.3
  CHANGELOG.md
Labels: size/XS, approved

#4889 feat(Organizations): organizations account support delete
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account.go
Labels: size/S, feature, LGTM, approved

#4891 chore(workspace/binding): rename the incorrect function or file names
  docs/resources/workspace_terminal_binding.md
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_terminal_binding_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_terminal_binding.go
Labels: size/S, chore, LGTM, approved

#4893 feat(rms): add new data_source aggregation_pending_requests
  docs/data-sources/rms_resource_aggregation_pending_requests.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregation_pending_requests_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregation_pending_requests.go
Labels: size/M, feature, LGTM, approved

#4870 feat(RDS): add rds restore resource
  docs/resources/rds_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_restore_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_restore.go
Labels: size/L, feature, LGTM, approved

#4895 chore: print a message that a new version is available
  .goreleaser.yml
  huaweicloud/config/upgrade.go
  huaweicloud/provider.go
Labels: size/M, chore, LGTM, approved

#4894 fix(drs): fix job delete if no order id returned
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/XS, bugfix, LGTM, approved

#4897 Update CHANGELOG for v1.64.4
  CHANGELOG.md
Labels: size/XS

#4886 feat(rms): add new data_source aggregator_source_statuses
  docs/data-sources/rms_resource_aggregator_source_statuses.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregator_source_statuses_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregator_source_statuses.go
Labels: size/M, feature, LGTM, approved
