Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-04, with the labels that each got.

#4505 feat(CC): add datasource CC central networks
  docs/data-sources/cc_central_networks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_central_networks_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_central_networks.go
Labels: size/L, feature, LGTM, approved

#4539 fix(dli/table): ignore changes caused by abnormal ending character
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_table_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_table.go
Labels: size/XS, bugfix, LGTM, approved

#4535 feat(CDN): CDN domain resource support new field `configs.0.remote_auth`
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/L, feature, LGTM, approved

#4498 feat(iotda): add a datasource to get the list of device groups
  docs/data-sources/iotda_device_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_device_groups_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_groups.go
Labels: size/L, feature, LGTM, approved

#4538 feat(RDS): rds instance support power action
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/listeners/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/listeners/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4519 feat(CC): add datasource CC central networks connections
  docs/data-sources/cc_central_network_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_central_network_connections_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_central_network_connections.go
Labels: size/L, feature, LGTM, approved

#4542 feat: fix(CDN): CDN domain resource support editing existing fields and change service_area to `Required`
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/S, feature, LGTM, approved

#4524 feat(CC): add data source global connection bandwidths
  docs/data-sources/cc_global_connection_bandwidths.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_global_connection_bandwidths_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_global_connection_bandwidths.go
Labels: size/L, feature, LGTM, approved

#4545 refactor: fix(CDN): replace cdn domain read function with golang sdk
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, bugfix, refactor, LGTM, approved

#4543 feat(drs): support dual az in job
  docs/resources/drs_job.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#4540 feat(CC): add central network connection bandwidth associate resource
  docs/resources/cc_central_network_connection_bandwidth_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_central_network_connection_bandwidth_associate_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_connection_bandwidth_associate.go
Labels: size/L, feature, LGTM, approved

#4546 fix(CDN): change cdn domain tags sdk
  go.mod
  go.sum
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cdn/v1/domains/urls.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM, approved

#4547 feat(GaussDB): add gaussdb mysql backup resource
  docs/resources/gaussdb_mysql_backup.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_backup_test.go
  huaweicloud/services/gaussdb/common.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_backup.go
Labels: size/L, feature, LGTM, approved

#4553 docs(ces): update the doc of ces alarm rule
  docs/resources/ces_alarmrule.md
Labels: size/S, documentation, LGTM, approved

#4550 feat(secmaster/indicator): add id in type struct
  docs/resources/secmaster_indicator.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_indicator_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_indicator.go
Labels: breaking-change, size/XS, feature, LGTM, approved

#4532 feat(dli): add new datasource to get list of elastic resource pools
  docs/data-sources/dli_elastic_resource_pools.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_elastic_resource_pools_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_elastic_resource_pools.go
Labels: size/L, feature, LGTM, approved

#4557 ci: update owners
  OWNERS
Labels: size/XS, LGTM, approved

#4555 feat(cdn): set endpoint as global for EU region
  huaweicloud/provider.go
Labels: size/XS, feature, LGTM, approved

#4549 feat(cae/component): add new resource component
  docs/resources/cae_component.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_component_test.go
  huaweicloud/services/cae/common.go
  huaweicloud/services/cae/resource_huaweicloud_cae_component.go
Labels: size/XL, feature, LGTM, approved

#4560 chore(cae): fix the issue of the component resource acceptance test
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_component_test.go
Labels: size/XS, chore, LGTM, approved

#4561 fix(CDN): fix CDN domain `https_settings` several issues
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, bugfix, LGTM, approved

#4554 fix(rms/organizational_policy_assignment): fix build func of policy filter
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_organizational_policy_assignment_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_policy_assignment.go
Labels: size/XS, bugfix, LGTM, approved

#4562 fix(vpc): fix destroy problem in network acl
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_acl.go
Labels: size/XS, bugfix, LGTM, approved

#4568 fix(CDN): fix CDN domain int-value field error and add test cases
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, bugfix, LGTM, approved

#4558 feat(drs): support alarm notify in job
  docs/resources/drs_job.md
  go.mod
  go.sum
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
  vendor/github.com/chnsz/golangsdk/OWNERS
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4552 feat(CC): add data source cloud connections
  docs/data-sources/cc_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_connections_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_connections.go
Labels: size/L, feature, LGTM, approved

#4567 docs(Organizations): fix organizations policy doc example
  docs/resources/organizations_policy.md
Labels: documentation, size/XS, LGTM, approved

#4566 feat(GaussDB): add gaussdb mysql backups data source
  .golangci.yml
  docs/data-sources/gaussdb_mysql_backups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_backups_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_backups.go
Labels: size/L, feature, LGTM, approved

#4574 feat(dns): add datasource to get the list of line groups
  docs/data-sources/dns_line_groups.md
  docs/resources/dns_line_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_line_groups_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_line_groups.go
Labels: size/L, chore, feature, LGTM, approved

#4565 feat(sfs): add a new resource to manage OBS targets for SFS turbo
  docs/resources/sfs_turbo_obs_target.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/sfs/resource_huaweicloud_sfs_turbo_obs_target_test.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo_obs_target.go
Labels: size/L, feature, LGTM, approved

#4576 feat(CDN): CDN domain support new fields `certificate_type` and `ocsp_stapling_status`
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, feature, LGTM, approved

#4577 fix: paging query to support custom headers
  huaweicloud/helper/httphelper/http_helper.go
Labels: size/XS, bugfix, LGTM, approved

#4579 chore(cse): resource supports create the nacos engines
  docs/resources/cse_microservice_engine.md
  huaweicloud/services/acceptance/cse/resource_huaweicloud_cse_microservice_engine_test.go
  huaweicloud/services/cse/resource_huaweicloud_cse_microservice_engine.go
Labels: size/M, chore, LGTM, approved

#4587 feat(GaussDB): add gaussdb mysql restore time ranges data source
  docs/data-sources/gaussdb_mysql_restore_time_ranges.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_restore_time_ranges_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_restore_time_ranges.go
Labels: feature, LGTM, approved

#4575 feat(rms): add new data_source organizational_policy_assignments
  docs/data-sources/rms_organizational_policy_assignments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_organizational_policy_assignments_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_organizational_policy_assignments.go
Labels: size/L, feature, LGTM, approved

#4573 chore(drs): add attrs and fix bug
  docs/resources/drs_job.md
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/M, chore, LGTM, approved

#4564 feat(hss): add web tamper protection resource support
  docs/resources/hss_webtamper_protection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_webtamper_protection_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_webtamper_protection.go
Labels: size/L, feature, LGTM, approved

#4563 feat(CFW): firewall resource support tags, flavor, east_west_firewall_er_attachment_id attribute
  docs/resources/cfw_firewall.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_firewall_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
Labels: size/L, feature, LGTM, approved

#4583 fix(rms): fix vars_structure problem of organizational_assignment_package
  docs/resources/rms_organizational_assignment_package.md
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_organizational_assignment_package_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_assignment_package.go
Labels: size/S, bugfix, LGTM, approved

#4581 fix(DDS): fix dds instance backup strategy period
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/XS, bugfix, LGTM, approved

#4585 docs(dws): rename DWS to GaussDB(DWS)
  docs/data-sources/dws_disaster_recovery_tasks.md
  docs/data-sources/dws_event_subscriptions.md
  docs/data-sources/dws_flavors.md
  docs/data-sources/dws_logical_cluster_rings.md
  docs/data-sources/dws_workload_queues.md
  docs/resources/dws_alarm_subscription.md
  docs/resources/dws_cluster.md
  docs/resources/dws_disaster_recovery_task.md
  docs/resources/dws_event_subscription.md
  docs/resources/dws_ext_data_source.md
  docs/resources/dws_logical_cluster.md
  docs/resources/dws_snapshot.md
  docs/resources/dws_snapshot_policy.md
  docs/resources/dws_workload_plan.md
  docs/resources/dws_workload_plan_execution.md
  docs/resources/dws_workload_plan_stage.md
  docs/resources/dws_workload_queue.md
Labels: size/S, documentation, LGTM, approved

#4582 feat(CFW): refactor the query logic for address group member resource
  docs/resources/cfw_address_group_member.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_address_group_member_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_address_group_member.go
Labels: size/M, feature, LGTM, approved

#4590 fix(CDN): CDN domain resource add waiting for function in deletion
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/S, bugfix, LGTM, approved

#4592 feat(rms): add new data_source organizational_assignment_packages
  docs/data-sources/rms_organizational_assignment_packages.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_organizational_assignment_packages_test.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_organizational_assignment_package_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_organizational_assignment_packages.go
Labels: size/L, feature, LGTM, approved

#4586 chore(ecs): clean up deprecated ecs_instance_v1
  docs/resources/ecs_instance_v1.md
Labels: size/M, chore, LGTM, approved

#4580 feat(GaussDB): add gaussdb mysql restore resource
  docs/resources/gaussdb_mysql_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_resotre_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_restore_time_ranges.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_restore.go
Labels: size/L, feature, LGTM, approved

#4569 feat(dns): add new datasource to get list of PTR records
  docs/data-sources/dns_floating_ptrrecords.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_floating_ptrrecords_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_floating_ptrrecords.go
Labels: size/L, feature, LGTM, approved

#4598 fix(CDN): cdn domain resource do not editing http2_status to false
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/XS, bugfix, LGTM, approved

#4597 fix(CDN): cdn domain resource support editing epsID
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, bugfix, LGTM, approved

#4596 feat(rms): add new data_source advanced_queries
  docs/data-sources/rms_advanced_queries.md
  docs/resources/rms_advanced_query.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_advanced_queries_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_advanced_queries.go
Labels: size/M, feature, LGTM, approved

#4525 feat(CC): add datasource CC central network policies
  docs/data-sources/cc_central_network_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_central_network_policies_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_central_network_policies.go
Labels: size/L, feature, LGTM, approved

#4604 test(RDS): fix rds test
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_backup_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_binlog_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_read_replica_instance_test.go
Labels: size/M, LGTM, test, approved

#4608 feat(CDN): add a new field `domain_name` computed
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/XS, feature, approved

#4599 feat: add toInt and toBool methods
  huaweicloud/helper/schemas/schema_wrapper.go
Labels: size/S, feature, LGTM, approved

#4614 fix(cae/deploy): ignore at001 lint rule for one-time action resource
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_component_deployment_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_component_deployment.go
Labels: size/XS, bugfix, LGTM, approved

#4556 feat(CSS): add resource CSS log setting
  docs/resources/css_log_setting.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_log_setting_test.go
  huaweicloud/services/css/resource_huaweicloud_css_log_setting.go
Labels: size/L, feature, LGTM, approved

#4600 feat(CC): add a datasource to get the list of CC network instances
  docs/data-sources/cc_network_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_network_instances_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_network_instances.go
Labels: size/L, feature, LGTM, approved

#4591 feat(css): css cluster support to add master and client type node
  docs/resources/css_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/L, feature, LGTM, approved

#4594 fix(GaussDB): add retry to gaussdb mysql instance
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/common.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/XL, bugfix, LGTM, approved

#4593 feat(elb): support new params for pool
  docs/resources/elb_pool.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_pool_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/pools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/pools/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4613 feat(CC): add a datasource to get the list of CC bandwidth packages
  docs/data-sources/cc_bandwidth_packages.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_bandwidth_packages_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_bandwidth_packages.go
Labels: size/L, feature, LGTM, approved

#4615 feat(RDS): add sql audit operations data source
  docs/data-sources/rds_sql_audit_operations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_sql_audit_operations_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_sql_audit_operations.go
Labels: size/M, feature, LGTM, approved

#4606 feat(hss): add host groups datasource support
  docs/data-sources/hss_host_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_host_groups_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_host_groups.go
Labels: size/L, feature, LGTM, approved

#4629 feat(workflows): delete some commands
  .github/workflows/prow-command.yml
Labels: size/XS, feature, LGTM, approved, approve

#4628 ci: update OWNERS
  OWNERS
Labels: size/XS, LGTM, approved

#4626 fix(cdn): bump create/update timeout to 30m
  docs/resources/cdn_domain.md
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/XS, bugfix, LGTM, approved

#4621 feat(CDN): CDN domain support new fields `configs.0.quic`, `configs.0.force_redirect`, and `configs.0.referer`
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, bugfix, feature, LGTM, approved

#4602 feat(dli): support queue scaling policies
  docs/resources/dli_queue.md
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/elasticresourcepool/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/elasticresourcepool/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/elasticresourcepool/urls.go
Labels: size/L, feature, LGTM, approved

#4630 feat(dli): flink sql job supports generating stream graph
  docs/resources/dli_flinksql_job.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_flinksql_job_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinksql_job.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/flinkjob/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v1/flinkjob/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/flinkjob/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/flinkjob/result.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/flinkjob/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#4620 feat(cc): add datasource to get the list of central network capabilities
  docs/data-sources/cc_central_network_capabilities.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_central_network_capabilities_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_central_network_capabilities.go
Labels: size/M, feature, LGTM, approved

#4595 feat(cc): add datasource cc inter-region bandwidths
  docs/data-sources/cc_inter_region_bandwidths.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_inter_region_bandwidths_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_inter_region_bandwidths.go
Labels: size/L, feature, LGTM, approved

#4559 feat(dli): add new resource to manage permissions for database and data table
  docs/resources/dli_database_privilege.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_database_privilege_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_connection_privilege_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_database_privilege.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection_privilege.go
Labels: size/L, chore, feature, LGTM, approved

#3809 Update README.mdhi
  README.md
Labels: size/XS

#4622 feat(cdn): CDN domain support new fields
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, feature

#4623 feat(cc): add datasource cc cloud connection routes
  docs/data-sources/cc_connection_routes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_connection_routes_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_connection_routes.go
Labels: size/L, feature

#4425 feat(vpc): add a datasource to get a list of VPC IP address groups
  docs/data-sources/vpc_address_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_address_groups_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_address_groups.go
Labels: size/L, feature, LGTM, safe to test

#4428 feat(dds): add a datasource to get the versions of DDS instance
  docs/data-sources/dds_database_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_database_versions_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_database_versions.go
Labels: size/M, feature, safe to test

#4605 feat(hss): add hosts datasource support
  docs/data-sources/hss_hosts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_hosts_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_hosts.go
  huaweicloud/services/hss/resource_huaweicloud_hss_host_protection.go
Labels: size/L, feature, LGTM

#4610 feat(dli): add new datasource to get list of spark templates
  docs/data-sources/dli_spark_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_spark_templates_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_spark_templates.go
Labels: size/L, feature

#4616 fix(lts/stream): request body within enterprise project ID if no EPS permission have
  huaweicloud/services/eps/common.go
  huaweicloud/services/lts/resource_huaweicloud_lts_stream.go
Labels: size/S, bugfix, approved

#4617 feat(dns): support get list of the all name servers
  docs/data-sources/dns_nameservers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_nameservers_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_nameservers.go
Labels: size/L, feature, LGTM

#4643 ci: update prow-commands
  .github/workflows/prow-command.yml
Labels: size/XS, LGTM, approved

#4638 feat(hss): add hosts datasource support
  docs/data-sources/hss_hosts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_hosts_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_hosts.go
  huaweicloud/services/hss/resource_huaweicloud_hss_host_protection.go
Labels: size/L, feature, LGTM, approved

#4625 test(sfs): increase verification of environmental variable
  huaweicloud/services/acceptance/sfs/data_source_huaweicloud_sfs_turbo_obs_targets_test.go
Labels: size/XS, LGTM, test, approved

#4644 fix(lts/stream): request body within eps id if no eps permission have
  huaweicloud/services/eps/common.go
  huaweicloud/services/lts/resource_huaweicloud_lts_stream.go
Labels: size/S, bugfix, LGTM, approved

#4646 feat(elb): add params and atrrs for elb
  docs/resources/elb_active_standby_pool.md
  docs/resources/elb_ipgroup.md
  docs/resources/elb_l7policy.md
  docs/resources/elb_l7rule.md
  docs/resources/elb_security_policy.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_active_standby_pool_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_active_standby_pool.go
  huaweicloud/services/elb/resource_huaweicloud_elb_ipgroup.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7policy.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7rule.go
  huaweicloud/services/elb/resource_huaweicloud_elb_security_policy.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/ipgroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/l7policies/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4645 feat(rms): add new data_source aggregators
  docs/data-sources/rms_resource_aggregators.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregators_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregators.go
Labels: size/L, feature, LGTM, approved

#4650 docs(CDN): change field `configs.0.force_redirect.0.type` to `Required`
  docs/resources/cdn_domain.md
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: documentation, size/XS, bugfix, LGTM, approved

#4647 feat(RDS): add rds cross region backups data source
  docs/data-sources/rds_cross_region_backups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_cross_region_backups_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_cross_region_backups.go
Labels: size/L, feature, LGTM, approved

#4657 fix(GaussDB): fix gaussdb opengauss instance data source and test
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances.go
Labels: size/S, bugfix, LGTM, approved

#4648 feat(RDS): rds instance support tde
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4640 feat(cc): add datasource cc cloud connection routes
  docs/data-sources/cc_connection_routes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_connection_routes_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_connection_routes.go
Labels: size/L, feature, LGTM, approved

#4631 feat(lts): add new resource to enable log receiving status
  docs/resources/lts_log_converge_switch.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_log_converge_switch_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_log_converge_switch.go
Labels: size/M, feature, LGTM, approved

#4651 feat(dataarts): add new resource to manage catalogs
  docs/resources/dataarts_dataservice_catalog.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_catalog_test.go
  huaweicloud/services/dataarts/common.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_catalog.go
Labels: size/L, feature, LGTM, approved

#4642 feat(cdn): CDN domain support new fields
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, feature, LGTM, approved

#4633 feat(lts): add new resource to converge logs cross accounts
  docs/resources/lts_log_converge.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_log_converge_test.go
  huaweicloud/services/lts/common.go
  huaweicloud/services/lts/resource_huaweicloud_lts_log_converge.go
Labels: size/L, feature, LGTM, approved

#4635 feat(cc): add datasource cc central network policy change set
  docs/data-sources/cc_central_network_policies_change_set.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_central_network_policies_change_set_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_central_network_policies_change_set.go
Labels: size/M, feature, LGTM, approved

#4659 feat(cc): add data source cc connection tags
  docs/data-sources/cc_connection_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_connection_tags_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_connection_tags.go
Labels: size/M, feature, LGTM, approved

#4655 feat(waf): add a datasource to get the list of precise protection rules
  docs/data-sources/waf_rules_precise_protection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_precise_protection_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_precise_protection.go
Labels: size/L, feature, LGTM, approved

#4653 feat(cc): add data source CC global connection bandwidth sites
  docs/data-sources/cc_global_connection_bandwidth_sites.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_global_connection_bandwidth_sites_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_global_connection_bandwidth_sites.go
Labels: size/L, feature, LGTM, approved

#4551 feat(cae): add new datasource to get list of environments
  docs/data-sources/cae_environments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/data_source_huaweicloud_cae_environments_test.go
  huaweicloud/services/cae/data_source_huaweicloud_cae_environments.go
Labels: size/L, feature, LGTM, approved

#4570 feat(cae): add new datasource to get list of applications
  docs/data-sources/cae_applications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/data_source_huaweicloud_cae_applications_test.go
  huaweicloud/services/cae/data_source_huaweicloud_cae_applications.go
Labels: size/M, feature, LGTM, approved

#4588 feat(elb): add params and attrs for listener
  docs/resources/elb_listener.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_listener_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/listeners/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/listeners/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#4639 feat(dli): add new datasource to get list of flink templates
  docs/data-sources/dli_flink_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_flink_templates_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_flink_templates.go
Labels: size/L, feature, LGTM, approved

#4649 feat(cc): add datasource to get the list of CC line specification of global connection bandwidths
  docs/data-sources/cc_global_connection_bandwidth_spec_codes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_global_connection_bandwidth_spec_codes_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_global_connection_bandwidth_spec_codes.go
Labels: size/L, feature, LGTM, approved

#4661 fix(cc): modify the next expression of marker pagination in cc global connection bandwidth line levels datasource
  huaweicloud/services/cc/data_source_huaweicloud_cc_global_connection_bandwidth_line_levels.go
Labels: size/XS, bugfix, LGTM, approved

#4656 feat(iam): add new data_source identity providers
  docs/data-sources/identity_providers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_provider_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_providers.go
Labels: size/L, feature, LGTM, approved

#4665 feat(CDN): cdn domain support new field `configs.0.video_seek`
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, bugfix, feature, LGTM, approved

#4664 chore(waf): fix parameter error and documentation description
  docs/data-sources/waf_rules_precise_protection.md
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_precise_protection.go
Labels: size/XS, chore, LGTM, approved

#4641 feat(dli): add new datasource to get list of spark templates
  docs/data-sources/dli_spark_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_spark_templates_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_spark_templates.go
Labels: size/L, feature, LGTM, approved

#4667 feat(dcs): add a data source to get the list of accounts
  docs/data-sources/dcs_accounts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_accounts_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_accounts.go
Labels: size/L, feature, LGTM, approved

#4670 fix(RDS): fix rds instance and replica instanc ssl enable
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_read_replica_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
Labels: size/S, bugfix, LGTM, approved

#4672 feat(cbh/instance): support update security group
  docs/resources/cbh_instance.md
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/S, feature, LGTM, approved

#4658 feat(dli): add new datasource to get list of sql templates
  docs/data-sources/dli_sql_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_sql_templates_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_sql_templates.go
Labels: size/L, feature, LGTM, approved

#4673 feat(waf): add a datasource to get the list of blacklist and whitelist rules
  docs/data-sources/waf_rules_blacklist.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_blacklist_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_blacklist.go
Labels: size/L, feature, LGTM, approved

#4677 feat(CDN): CDN domain resource support new fields
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, feature, LGTM, approved

#4676 fix(DCS): fix dcs instance restore resource name
  docs/resources/dcs_instance_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_restore_test.go
Labels: size/XS, bugfix, LGTM, approved

#4679 feat(RDS): rds instance support read write permissions
  docs/resources/rds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v2/loadbalancers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4680 fix(dli/database): set the resource ID with name when the ID is not returned
  docs/resources/dli_database.md
  huaweicloud/services/dli/resource_huaweicloud_dli_database.go
Labels: size/XS, bugfix, LGTM, approved

#4668 feat(lb): support new params for load balancer
  docs/resources/lb_loadbalancer.md
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/lb/resource_huaweicloud_lb_member.go
  huaweicloud/services/lb/resource_huaweicloud_lb_pool.go
Labels: size/L, feature, LGTM, approved

#4681 feat(iam): add new resource iam login policy
  docs/resources/identity_login_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_login_policy_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_login_policy.go
Labels: size/L, feature, LGTM, approved

#4662 feat(waf): add a datasource to get list of geolocation access control rules
  docs/data-sources/waf_rules_geolocation_access_control.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_geolocation_access_control_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_geolocation_access_control.go
Labels: size/L, feature, LGTM, approved

#4663 feat(dataarts): add permission set member resource
  docs/resources/dataarts_security_permission_set_member.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_security_permission_set_member_test.go
  huaweicloud/services/dataarts/common.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_permission_set_member.go
Labels: size/L, feature, LGTM, approved

#4688 feat(dds): support replica set name in instance
  docs/resources/dds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4686 feat(cbh/instance): support new fields `attach_disk_size`, `enterprise_project_id`, `data_disk_size`
  docs/resources/cbh_instance.md
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/M, feature, LGTM, approved

#4689 feat(cfw): firewall resource support to import attachment_id attribute
  docs/resources/cfw_firewall.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_firewall_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
Labels: size/S, feature, LGTM, approved

#4678 feat(RDS): add rds recycling policy resource
  docs/resources/rds_recycling_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_recycling_policy_test.go
  huaweicloud/services/rds/huaweicloud_rds_recycling_policy.go
Labels: size/M, feature, LGTM, approved

#4682 feat(RDS): add rds cross region backup instances
  docs/data-sources/rds_cross_region_backup_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_cross_region_backup_instances_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_cross_region_backup_instances.go
Labels: size/L, feature, LGTM, approved

#4693 feat(cfw): firewall resource support to update tags
  docs/resources/cfw_firewall.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_firewall_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
Labels: size/M, feature, LGTM, approved

#4696 feat(CDN): CDN domain resource support new fields
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, feature, LGTM, approved

#4690 feat(auth): add v5 agency assume support
  huaweicloud/config/auth.go
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
Labels: size/L, feature, LGTM, approved

#4697 Update CHANGELOG for v1.63.2
  CHANGELOG.md
Labels: size/XS, approved

#4685 feat(dataarts): add new resource support permission set privileges
  docs/resources/dataarts_security_permission_set_privilege.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_security_permission_set_privilege_test.go
  huaweicloud/services/dataarts/common.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_permission_set_privilege.go
Labels: size/L, feature, LGTM, approved

#4691 feat(dds): support restart for instance
  docs/resources/dds_instance_restart.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_restart_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_restart.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4698 docs(iic): publish identitycenter docs
  docs/data-sources/identitycenter_groups.md
  docs/data-sources/identitycenter_instance.md
  docs/data-sources/identitycenter_users.md
  docs/resources/identitycenter_account_assignment.md
  docs/resources/identitycenter_custom_policy_attachment.md
  docs/resources/identitycenter_custom_role_attachment.md
  docs/resources/identitycenter_group.md
  docs/resources/identitycenter_group_membership.md
  docs/resources/identitycenter_permission_set.md
  docs/resources/identitycenter_system_policy_attachment.md
  docs/resources/identitycenter_user.md
Labels: documentation, size/XS, LGTM, approved

#4695 feat(cbh/instance): support update `enterprise_project_id`
  docs/resources/cbh_instance.md
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/M, refactor, feature, LGTM, approved

#4675 feat(cc): add data source CC permissions
  docs/data-sources/cc_permissions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_permissions_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_permissions.go
Labels: size/L, feature, LGTM, approved

#4703 feat(cfw): support create east-west firewall in existing firewall
  docs/resources/cfw_firewall.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_firewall_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/customdiff/compose.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/customdiff/computed.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/customdiff/condition.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/customdiff/doc.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/customdiff/force_new.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/v2/helper/customdiff/validate.go
  vendor/modules.txt
Labels: size/L, feature, LGTM, approved

#4705 chore(apig): when type is elb, supports ingerss_address attribute
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
Labels: size/XS, chore, LGTM, approved

#4707 docs(iam): move the doc of servic agency to incubating
  docs/incubating/identity_service_agency.md
Labels: documentation, size/XS, LGTM, approved

#4692 feat(dataarts): add new resource data secrecy level
  docs/resources/dataarts_security_data_secrecy_level.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_security_data_secrecy_level_test.go
  huaweicloud/services/dataarts/common.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_data_secrecy_level.go
Labels: size/L, feature, LGTM, approved

#4704 fix(DDS): fix dds flavors
  docs/data-sources/dds_flavors.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dds/data_source_huaweicloud_dds_flavors_v3_test.go
  huaweicloud/services/dds/data_source_huaweicloud_dds_flavors_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/flavors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/flavors/results.go
  vendor/modules.txt
Labels: size/S, bugfix, dependencies, LGTM, approved

#4710 feat(ram): support resource share accepter resource
  docs/resources/ram_resource_share_accepter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ram/resource_huaweicloud_ram_resource_share_accepter_test.go
  huaweicloud/services/ram/resource_huaweicloud_ram_resource_share_accepter.go
Labels: size/M, feature, LGTM, approved

#4683 feat(CFW): add a data source to get the list of CFW attack logs
  docs/data-sources/cfw_attack_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_attack_logs_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_attack_logs.go
Labels: size/L, feature, LGTM, approved

#4712 feat(ram): add a datasource to get the list of RAM resource share invitations
  docs/data-sources/ram_resource_share_invitations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ram/data_source_huaweicloud_ram_resource_share_invitations_test.go
  huaweicloud/services/ram/data_source_huaweicloud_ram_resource_share_invitations.go
Labels: size/L, feature, LGTM, approved

#4715 feat: add OffsetStart to support specifying offset default value
  huaweicloud/helper/httphelper/http_helper.go
Labels: size/XS, feature, LGTM, approved

#4722 refactor(vpn): make the peer_subnets of vpn connection optional
  docs/resources/vpn_connection.md
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
Labels: size/XS, refactor, approved

#4725 fix(vpc): fix error return of vpc v3 API
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
Labels: size/XS, bugfix, LGTM, approved

#4711 feat(cc): add data source to get a list of CC central network attachments
  docs/data-sources/cc_central_network_attachments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_central_network_attachments_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_central_network_attachments.go
Labels: size/L, feature, LGTM, approved

#4728 fix(RDS): fix rds recycling policy
  huaweicloud/services/rds/resource_huaweicloud_rds_recycling_policy.go
Labels: size/XS, bugfix, LGTM, approved
