Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-07, with the labels that each got.

#5104 test: chore(AS): Fix AS configuration resource errors
  docs/resources/as_configuration.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
Labels: size/L, bugfix, LGTM, test, approved

#5107 test(cfw): enhance coverage by adding test steps to attack log data source test
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_attack_logs_test.go
Labels: size/M, LGTM, test, approved

#5095 test(cfw): update domain group type in test case script
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_domain_name_groups_test.go
Labels: size/XS, LGTM, test, approved

#5108 feat(apig/instance): resource supports update edition
  docs/resources/apig_instance.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
Labels: size/S, feature, LGTM, approved

#5111 chore: test(apig/throttle): adjust the codes and imporve the UT coverage
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy.go
Labels: size/L, chore, refactor, LGTM, approved

#5091 test(css): add CSS cluster test case
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_restart_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
Labels: size/L, LGTM, test, approved

#5112 feat(AS): Change `key_name` to `Optional` in AS configuration resource
  docs/resources/as_configuration.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
Labels: size/S, bugfix, feature, LGTM, approved

#5113 test(vpc): update the tags test case of data_source vpcs
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpcs_test.go
Labels: size/XS, LGTM, test, approved

#5110 feat(vpc): add new data_source sub_network_interfaces
  docs/data-sources/vpc_sub_network_interfaces.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_sub_network_interfaces_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_sub_network_interfaces.go
Labels: size/L, feature, LGTM, approved

#5099 test(ELB): fix lb test
  huaweicloud/services/acceptance/lb/data_source_huaweicloud_lb_pools_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_certificate_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_l7policy_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_l7rule_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_listener_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_loadbalancer_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_member_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_monitor_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_pool_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_whitelist_test.go
Labels: size/L, LGTM, test, approved

#5101 test(DDM): fix ddm test
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_read_strategy_test.go
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_test.go
Labels: size/M, LGTM, test, approved

#5115 chore: test(apig/plugin): adjust the codes and imporve the UT coverage
  go.mod
  go.sum
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_plugin_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_plugin.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/plugins/results.go
  vendor/modules.txt
Labels: size/L, bugfix, chore, refactor, dependencies, LGTM, approved

#5114 chore: test(apig/group): adjust the codes and imporve the UT coverage
  docs/resources/apig_group.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_groups_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_groups.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/results.go
  vendor/modules.txt
Labels: size/L, bugfix, chore, refactor, dependencies, LGTM, approved

#5119 test(iam): update precheck of iam tests
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_agency_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_service_agency_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_trust_agency_test.go
Labels: size/XS, LGTM, test, approved

#5118 chore(css): fix css logstash cluster restart resource filename error
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster_restart.go
Labels: size/XS, chore, LGTM, approved

#5122 feat: fix(AS): AS configuration support new field `instance_config.0.admin_pass`
  docs/resources/as_configuration.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
Labels: size/M, feature, LGTM, approved

#5124 fix(hss): fix the host protection switch error
  huaweicloud/services/hss/resource_huaweicloud_hss_host_protection.go
Labels: size/S, bugfix, LGTM, approved

#5123 test(apig): adjust test codes and using env to reduce test time
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_acl_policies_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_acl_policies_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_applications_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_plugins_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_signatures_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_throttling_policies_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_basic_configurations_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_appcodes_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_application_acl_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_application_quotas_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_applications_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_channels_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_custom_authorizers_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_endpoint_connections_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_environment_variables_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_environments_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_groups_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_instance_features_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_instance_supported_features_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_signatures_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_throttling_policies_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_acl_policy_associate_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_acl_policy_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_publishment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_appcode_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_acl_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_authorization_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_quota_associate_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_quota_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_certificate_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_channel_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_custom_authorizer_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_endpoint_connection_management_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_endpoint_whitelist_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_environment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_environment_variable_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_feature_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_routes_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_plugin_associate_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_response_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_signature_associate_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_signature_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_associate_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
Labels: size/XL, LGTM, test, approved

#5129 feat(AS): fix AS group datasource invalid address error
  huaweicloud/services/as/data_source_huaweicloud_as_groups.go
Labels: size/S, feature, LGTM, approved

#5130 fix(hss): fix parsing order_id error
  huaweicloud/services/hss/resource_huaweicloud_hss_quota.go
Labels: size/XS, bugfix, LGTM, approved

#5126 fix(css): fix css cluster update kibana_public/public access error
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/M, bugfix, LGTM, approved

#5121 test(cc): optimize CC network instance test case to mitigate concurrency issues
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_network_instance_test.go
Labels: size/S, LGTM, test, approved

#5120 chore(RDS): remove instance unused method and fix backups
  docs/data-sources/rds_backups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_backups_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_backups.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/S, chore, LGTM, approved

#5125 fix(dms): fix bug for rabbitmq instance
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
Labels: size/M, bugfix, LGTM, approved

#5117 test(dds): improve the UT coverage
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_user_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
Labels: size/XS, LGTM, test, approved

#5109 feat(dms): support new param for rocketmq consumer group
  docs/resources/dms_rocketmq_consumer_group.md
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_consumer_groups_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_consumer_group_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_consumer_group.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/M, feature, LGTM, approved

#5132 test(iam): improve iam tests
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_acl_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_test.go
Labels: size/S, LGTM, test, approved

#5134 fix(apig/throttle): avoid the duplicate resource name
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
Labels: size/XS, bugfix, LGTM, approved

#5127 feat(vpn): enhance customer gateway resource with id_type, id_value, ca_certificate.id attributes and deprecate route_mode, ip attributes
  docs/resources/vpn_customer_gateway.md
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_customer_gateway_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_customer_gateway.go
Labels: size/L, feature, LGTM, approved

#5135 feat(swr): add datasource SWR shared repositories
  docs/data-sources/swr_shared_repositories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_shared_repositories_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_shared_repositories.go
Labels: size/L, feature, LGTM, approved

#5141 test(iam): improve iam test cases
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_provider_test.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_user_token_test.go
Labels: size/S, LGTM, test, approved

#5140 refactor(AS): Refactor complex methods in AS services.
  huaweicloud/services/as/data_source_huaweicloud_as_activity_logs.go
  huaweicloud/services/as/data_source_huaweicloud_as_configurations.go
  huaweicloud/services/as/data_source_huaweicloud_as_groups.go
  huaweicloud/services/as/data_source_huaweicloud_as_lifecycle_hooks.go
  huaweicloud/services/as/data_source_huaweicloud_as_policies.go
  huaweicloud/services/as/data_source_huaweicloud_as_policy_execute_logs.go
  huaweicloud/services/as/resource_huaweicloud_as_bandwidth_policy.go
  huaweicloud/services/as/resource_huaweicloud_as_lifecycle_hook.go
  huaweicloud/services/as/resource_huaweicloud_as_notification.go
  huaweicloud/services/as/resource_huaweicloud_as_planned_task.go
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
Labels: size/XL, refactor, LGTM, approved

#5143 chore(sfs): modify the CheckDeleted logic
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo.go
Labels: size/S, chore, LGTM, approved

#5147 ci(reviewdog): upgrade the configuration of misspell tool
  .github/workflows/doc-lint.yml
  examples/fgs/obs-download/main.tf
Labels: size/XS, bugfix, LGTM, approved

#5128 test(lts): improve the ut coverage and using env to reduce test time
  docs/resources/lts_keywords_alarm_rule.md
  docs/resources/lts_sql_alarm_rule.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_aom_accesses_test.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_cce_accesses_test.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_host_groups_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_aom_access_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_cce_access_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_host_group_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_keywords_alarm_rule_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_sql_alarm_rule_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_stream_test.go
Labels: size/L, LGTM, test, approved

#5144 chore(PR/PULL): supplement a new check item and adjust the test item
  .github/PULL_REQUEST_TEMPLATE
Labels: size/XS, chore, LGTM, approved

#5151 feat(CDN): CDN supports new datasource to query analytics
  docs/data-sources/cdn_analytics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_analytics_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_analytics.go
Labels: size/L, feature, LGTM, approved

#5145 feat(fgs/event): add new datasource to query events
  docs/data-sources/fgs_function_events.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_function_events_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_function_events.go
Labels: size/M, feature, LGTM, approved

#5148 feat(fgs/quota): add new data source to query resource quotas
  docs/data-sources/fgs_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_quotas_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_quotas.go
Labels: size/M, feature, LGTM, approved

#5157 chore(AS): Make the `checkDeleted` logic in the AS policy resource more reliable
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
Labels: size/XS, chore, LGTM, approved

#5139 feat(hss/host_protection): support `is_wait_host_available` parameter
  docs/resources/hss_host_protection.md
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_host_protection_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_host_protection.go
Labels: size/M, feature, LGTM, approved

#5162 test(nat): improve the ut coverage
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_gateway_test.go
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_snat_rule_test.go
Labels: size/S, LGTM, test, approved

#5136 feat(sfs): add a new resource to manage SFS Turbo DU task
  docs/resources/sfs_turbo_du_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfs/resource_huaweicloud_sfs_turbo_du_task_test.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo_du_task.go
Labels: size/L, feature, LGTM, approved

#5137 chore(cc): simplify the asynchronous code of resource CC central network and resource CC central network policy apply
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network_policy_apply.go
Labels: size/S, chore, LGTM, approved

#5146 fix(cfw): resolve the failure of CFW domain name group test case caused by domain name deletion interface changes
  huaweicloud/services/cfw/resource_huaweicloud_cfw_domain_name_group.go
Labels: size/M, bugfix, LGTM, approved

#5150 test(cc): add test steps to improve the coverage of CFW global connection bandwidth associate resource
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_global_connection_bandwidth_associate_test.go
Labels: size/S, feature, LGTM, test, approved

#5142 feat(swr): add datasource SWR shared accounts
  docs/data-sources/swr_shared_accounts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_shared_accounts_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_shared_accounts.go
Labels: size/L, feature, LGTM, approved

#5153 feat(swr): add datasource image retention policies
  docs/data-sources/swr_image_retention_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_image_retention_policies_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_image_retention_policies.go
Labels: size/L, feature, LGTM, approved

#5159 feat(swr): add datasource image retention histories
  docs/data-sources/swr_image_retention_histories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_image_retention_histories_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_image_retention_histories.go
Labels: size/M, feature, LGTM, approved

#5160 chore(AS): make `checkDeleted` logic in bandwidth policy resource stronger
  huaweicloud/services/as/resource_huaweicloud_as_bandwidth_policy.go
Labels: size/XS, chore, LGTM, approved

#5161 chore(AS): make `checkDeleted` logic in configuration resource stronger
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
Labels: size/XS, chore, LGTM, approved

#5165 chore(AS): make `checkDeleted` logic in group stronger
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/XS, chore, LGTM, approved

#5168 chore(AS): make `checkDeleted` logic in instance attach stronger
  huaweicloud/services/as/resource_huaweicloud_as_instance_attach.go
Labels: size/XS, chore, LGTM, approved

#5170 chore(AS): make `checkDeleted` logic in lifecycle hook resource stronger
  huaweicloud/services/as/resource_huaweicloud_as_lifecycle_hook.go
Labels: size/XS, chore, LGTM, approved

#5175 chore(AS): make checkDeleted logic in planned task resource stronger
  huaweicloud/services/as/resource_huaweicloud_as_planned_task.go
Labels: size/XS, chore, LGTM, approved

#5178 chore(CDN): make `checkDeleted` logic in the cdn service stronger
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_domain_statistics.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_billing_option.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/XS, chore, LGTM, approved

#5172 feat(sfs): add a datasource to get the list of DU tasks
  docs/data-sources/sfs_turbo_du_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfs/data_source_huaweicloud_sfs_turbo_du_tasks_test.go
  huaweicloud/services/sfs/data_source_huaweicloud_sfs_turbo_du_tasks.go
Labels: size/L, feature, LGTM, approved

#5179 test(nat): fix test case issues
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_gateways_test.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_transit_ips_test.go
Labels: size/S, LGTM, test, approved

#5184 chore(dc): make `checkDeleted` logic in virtual gateway stronger
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_gateway.go
Labels: size/XS, chore, LGTM, approved

#5183 chore(dc): add notes to resource DC hosted connect
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_hosted_connect_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_hosted_connect.go
Labels: size/XS, chore, LGTM, approved

#5185 chore(dc): make `checkDeleted` logic in virtual interface stronger
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/XS, chore, LGTM, approved

#5181 chore(hss): add comments and reasons for methods that do not support checkDeleted
  huaweicloud/services/hss/resource_huaweicloud_hss_host_protection.go
  huaweicloud/services/hss/resource_huaweicloud_hss_webtamper_protection.go
Labels: size/XS, chore, LGTM, approved

#5173 test(cc): modify the parameters for the CC central network attachments test case
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_central_network_attachments_test.go
Labels: size/XS, chore, LGTM, test, approved

#5180 test(vpn): modify test parameters to resolve VPN gateway test failure
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_gateway_test.go
Labels: size/XS, LGTM, test, approved

#5169 chore: test(swr): fix image triggers codes and improve UT coverage
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_image_triggers_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_image_triggers.go
Labels: size/S, chore, LGTM, approved

#5176 feat(GaussDB): add gaussdb mysql proxy flavors data source
  docs/data-sources/gaussdb_mysql_proxy_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_proxy_flavors_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_proxy_flavors.go
Labels: size/L, feature, LGTM, approved

#5190 fix(vpc): fix the rule update problem of network acl
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_acl.go
Labels: size/XS, bugfix, LGTM, approved

#5133 fix(dms): fix updating public IP ID for rocketmq instance
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/M, bugfix, LGTM, approved

#5152 feat(dms): support new attrs for kafka user
  docs/resources/dms_kafka_user.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_user_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_user.go
Labels: size/XS, feature, LGTM, approved

#5188 refactor(common|cae): using general function to handle 400 errors
  huaweicloud/common/errors.go
  huaweicloud/common/errors_test.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_component_configurations_test.go
  huaweicloud/services/cae/common.go
  huaweicloud/services/cae/resource_huaweicloud_cae_component.go
  huaweicloud/services/cae/resource_huaweicloud_cae_component_configurations.go
Labels: size/M, chore, refactor, LGTM, approved

#5191 chore(nat): add checkDeleted logic
  huaweicloud/services/nat/resource_huaweicloud_nat_dnat_rule.go
  huaweicloud/services/nat/resource_huaweicloud_nat_gateway.go
  huaweicloud/services/nat/resource_huaweicloud_nat_snat_rule.go
Labels: size/XS, chore, LGTM, approved

#5164 chore(dms): change the task refresh func for rabbitmq plugin
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_plugin.go
Labels: size/M, chore, LGTM, approved

#5167 chore(dms): change task refresh func for kafka user client quota
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_user_client_quota.go
Labels: size/M, chore, LGTM, approved

#5192 chore(nat): remove checkDeleted logic in the NAT datasource
  huaweicloud/services/nat/data_source_huaweicloud_nat_dnat_rules.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_gateways.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_dnat_rules.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_gateways.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_snat_rules.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_transit_ips.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_snat_rules.go
Labels: size/XS, chore, LGTM, approved

#5193 chore(nat): add checkDeleted logic to private NAT gateway resource
  huaweicloud/services/nat/resource_huaweicloud_nat_private_gateway.go
Labels: size/XS, chore, LGTM, approved

#5194 chore(nat): add checkDeleted logic to transit IP resource
  huaweicloud/services/nat/resource_huaweicloud_nat_private_transit_ip.go
Labels: size/XS, chore, LGTM, approved

#5195 chore(nat): add checkDeleted logic to private SNAT rule resource
  huaweicloud/services/nat/resource_huaweicloud_nat_private_snat_rule.go
Labels: size/XS, chore, LGTM, approved

#5196 chore(nat): add checkDeleted logic to private DNAT rule resource
  huaweicloud/services/nat/resource_huaweicloud_nat_private_dnat_rule.go
Labels: size/XS, chore, LGTM, approved

#5197 fix(hss): add forceNew attribute to the quota ID of resource and fix data source test cases
  docs/resources/hss_webtamper_protection.md
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_webtamper_hosts_test.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_webtamper_protection_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_webtamper_protection.go
Labels: size/M, bugfix, LGTM, approved

#5182 feat(dws): add datasource get availability zones
  docs/data-sources/dws_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_availability_zones_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_availability_zones.go
Labels: size/M, feature, LGTM, approved

#5187 test(vpn): refactor data source connection health checks test case
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_connection_health_checks_test.go
Labels: size/S, LGTM, test, approved

#5177 chore(hss/quota): add checkDeleted logic to the delete function
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_quota_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_quota.go
Labels: size/S, chore, LGTM, approved

#5199 chore(vpn): remove redundant code in VPN connection to improve code coverage
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_connection_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
Labels: size/S, chore, LGTM, approved

#5198 docs(dms): update docs for rocketmq instance
  docs/resources/dms_rocketmq_instance.md
Labels: documentation, size/XS, LGTM, approved

#5158 feat(dms): support new params for rocketmq topic
  docs/resources/dms_rocketmq_topic.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_topic_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_topic.go
Labels: size/M, feature, LGTM, approved

#5202 chore(cbh): supplement the relevant content of `checkDeleted`
  huaweicloud/services/cbh/resource_huaweicloud_cbh_asset_agency_authorization.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_ha_instance.go
Labels: size/XS, chore, LGTM, approved

#5203 chore(cbh/instance): supplement the relevant content of `checkDeleted`
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/XS, chore, LGTM, approved

#5163 fix(dms): fix updating broker nums when public IP enabled
  docs/resources/dms_kafka_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM, approved

#5201 refactor(vpc): add roll back for updating rules of network ACL
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_acl.go
Labels: size/XS, refactor, LGTM, approved

#5206 refactor(rms): remove unnecessary ConflictsWith check
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_policy_assignment.go
  huaweicloud/services/rms/resource_huaweicloud_rms_policy_assignment.go
Labels: size/S, refactor, LGTM, approved

#5189 feat(dws): add datasource to query snapshots
  docs/data-sources/dws_snapshots.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_snapshots_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_snapshots.go
Labels: size/L, feature, LGTM, approved

#5204 chore(dli): adjust acceptance test and improve the ut coverage
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_datasource_connections_test.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_elastic_resource_pools_test.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_flinkjar_jobs_test.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_flinksql_job_test.go
  huaweicloud/services/acceptance/dli/data_source_huaweicloud_dli_sql_jobs_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_database_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_connection_associate_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_connection_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_elastic_resource_pool_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_flink_template_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_flinkjar_job_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_flinksql_job_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_package_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_permission_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_spark_job_test.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_sql_job_test.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_flinkjar_jobs.go
  huaweicloud/services/dli/data_source_huaweicloud_dli_flinksql_jobs.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinksql_job.go
Labels: size/XL, chore, LGTM, approved

#5208 fix(dns/recordset): remove state while zone id not found
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset_v2.go
Labels: size/XS, bugfix, LGTM, approved

#5207 chore(hss): improve testing coverage and fix wrong file name
  docs/data-sources/hss_quotas.md
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_quota_test.go
Labels: size/S, chore, LGTM, test, approved

#5209 chore(as): improve test case coverage of AS services
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_activity_logs_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_instance_acctah_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_lifecycle_hook_callback_test.go
Labels: size/M, chore, LGTM, approved

#5211 Update CHANGELOG for 1.66.1
  CHANGELOG.md
Labels: size/XS, approved

#5186 feat(smn): add resource SMN message detection
  docs/resources/smn_message_detection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_message_detection_test.go
  huaweicloud/services/smn/resource_huaweicloud_smn_message_detection.go
Labels: size/L, feature, LGTM, approved

#5216 test(RDS): fix rds test
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_cross_region_backup_instances_test.go
Labels: size/XS, LGTM, test, approved

#5217 chore(cdn): improve test case coverage of CDN services
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_domain_statistics_test.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_domains_test.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
Labels: size/M, chore, LGTM, approved

#5214 feat(GaussDB): add gaussdb mysql eip associate resource
  docs/resources/gaussdb_mysql_eip_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_eip_associate_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_eip_associate.go
Labels: size/L, feature, LGTM, approved

#5138 test(apig): modify the reference value of the filter condition of the datasources
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_acl_policies_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_applications_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_plugins_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_signatures_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_associated_throttling_policies_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_basic_configurations_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_application_quotas_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_applications_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_channels_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_custom_authorizers_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_endpoint_connections_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_environment_variables_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_environments_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_instances_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_signatures_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_throttling_policies_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api_associated_signatures.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api_basic_configurations.go
Labels: size/M, LGTM, test, approved

#5219 fix(cts): add null check before using agency_name
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/XS, bugfix, LGTM, approved

#5220 Update CHANGELOG for 1.66.2
  CHANGELOG.md
Labels: size/XS, approved

#5221 refactor(rms): remove unnecessary validate funcs
  docs/resources/rms_policy_assignment.md
  huaweicloud/services/rms/resource_huaweicloud_rms_policy_assignment.go
Labels: size/XS, refactor, LGTM, approved

#5166 feat(dws): add datsource to get resource quotas of dws
  docs/data-sources/dws_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_quotas_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_quotas.go
Labels: size/M, feature, LGTM, approved

#5222 chore(dc): improve test case coverage of DC services
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
Labels: size/S, chore, LGTM, approved

#5225 docs(TMS): fix tms resource tags demo
  docs/resources/tms_resource_tags.md
Labels: documentation, size/XS, LGTM, approved

#5223 fix(hss/host_protection): modify the logic of the 'waitingForHostAvailable' function to cover more scenarios
  huaweicloud/services/hss/resource_huaweicloud_hss_host_protection.go
Labels: size/XS, bugfix, LGTM, approved

#5215 feat(sfs): add a new resource to manage SFS Turbo data task
  docs/resources/sfs_turbo_data_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfs/resource_huaweicloud_sfs_turbo_data_task_test.go
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo_data_task.go
Labels: size/L, feature, LGTM, approved

#5200 feat(GaussDB): add params to guassdb mysql proxy resource
  docs/resources/gaussdb_mysql_proxy.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_eip_associate.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
Labels: size/XL, feature, LGTM, approved

#5228 refactor(ecs): remove user_id check in ecs instance
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/XS, refactor, LGTM, approved

#5227 fix(host): fix the resource unexpected change problem
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_host_group_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_host_group.go
Labels: size/XS, bugfix, LGTM, approved

#5224 chore(smn): fix checkdeleted and use public method
  huaweicloud/services/smn/resource_huaweicloud_smn_logtank.go
  huaweicloud/services/smn/resource_huaweicloud_smn_message_detection.go
  huaweicloud/services/smn/resource_huaweicloud_smn_message_template.go
  huaweicloud/services/smn/resource_huaweicloud_smn_topic.go
Labels: size/S, chore, LGTM, approved

#5230 feat(sfs): add new datasource to get list of data import or export tasks
  docs/data-sources/sfs_turbo_data_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfs/data_source_huaweicloud_sfs_turbo_data_tasks_test.go
  huaweicloud/services/sfs/data_source_huaweicloud_sfs_turbo_data_tasks.go
Labels: size/L, feature, LGTM, approved

#5210 feat(smn): add resource subscription filter policy
  docs/resources/smn_subscription_filter_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_subscription_filter_policy_test.go
  huaweicloud/services/smn/resource_huaweicloud_smn_subscription_filter_policy.go
Labels: size/L, feature, LGTM, approved

#5234 feat(cce): add new resource node_pool_nodes_add
  docs/resources/cce_node_pool_nodes_add.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_nodes_add_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool_nodes_add.go
Labels: size/L, feature, LGTM, approved

#5235 feat(evs/availability_zones): support new datasource to get availability zones
  docs/data-sources/evs_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_availability_zones_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_availability_zones.go
Labels: size/M, feature, LGTM, approved

#5239 chore(ccm): make the naming style of ccm resources unified
  docs/resources/ccm_certificate_import.md
  docs/resources/scm_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_certificate_import_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_certificate_import.go
Labels: size/M, chore, LGTM, approved

#5232 feat(evs/volume_types): support new datasource to get volume types
  docs/data-sources/evs_volume_types.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_volume_types_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_volume_types.go
Labels: size/M, feature, LGTM, approved

#5241 chore(cbh/instance): integrate test cases
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
Labels: size/M, chore, LGTM, approved

#5243 chore(ccm): make the naming style of ccm datasource unified
  docs/data-sources/ccm_certificates.md
  docs/data-sources/scm_certificates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_ccm_certificates_test.go
  huaweicloud/services/ccm/data_source_huaweicloud_ccm_certificates.go
Labels: size/M, chore, LGTM, approved

#5240 fix(DDS): fix dds backup
  docs/resources/dds_backup.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_backup_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_backup.go
Labels: size/M, bugfix, LGTM, approved

#5231 feat(GaussDB): gaussdb mysql proxy support parameters
  docs/resources/gaussdb_mysql_proxy.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
Labels: size/M, feature, LGTM, approved

#5245 feat(cce): support spot in node and node pool
  huaweicloud/services/cce/common.go
Labels: size/XS, feature, LGTM, approved

#5247 fix(lts/converge): management project id is required for first-time use
  docs/resources/lts_log_converge.md
  huaweicloud/services/lts/resource_huaweicloud_lts_log_converge.go
Labels: size/XS, bugfix, LGTM, approved

#5249 Update CHANGELOG for 1.66.3
  CHANGELOG.md
Labels: size/XS, approved

#5251 feat(GaussDB): gaussdb mysql proxy support transaction split
  docs/resources/gaussdb_mysql_proxy.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
Labels: size/S, feature, LGTM, approved

#5253 feat(GaussDB): add gaissdb mysql proxy restart resource
  docs/resources/gaussdb_mysql_proxy_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_restart_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_restart.go
Labels: size/M, feature, LGTM, approved

#5242 test(waf): fix test case to improve UT coverage
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_domains_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_rule_cc_protection_test.go
Labels: size/XS, LGTM, test, approved

#5246 chore(waf): remove WAF datasource checkDeleted logic
  huaweicloud/services/waf/data_source_huaweicloud_waf_dedicated_instances.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_reference_tables.go
Labels: size/XS, chore, LGTM, approved

#5244 fix(dms/dds): fix bug for kafka topic and dds instance
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_topic.go
Labels: size/M, bugfix, LGTM, approved

#5236 feat(dms): support rabbitmq vhost management
  docs/data-sources/dms_rabbitmq_vhosts.md
  docs/resources/dms_rabbitmq_vhost.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rabbitmq_vhosts_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_vhost_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rabbitmq_vhosts.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_vhost.go
Labels: size/L, feature, LGTM, approved

#5213 feat(dms): support new params and attrs for kafka instance
  docs/resources/dms_kafka_instance.md
  go.mod
  go.sum
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5258 feat(ccm): ccm support a new datasource to query private certificates
  docs/data-sources/ccm_private_certificates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_ccm_private_certificates_test.go
  huaweicloud/services/ccm/data_source_huaweicloud_ccm_private_certificates.go
Labels: size/L, feature, LGTM, approved

#5237 refactor(smn): remove unnecessary validate funcs and codes
  huaweicloud/services/smn/resource_huaweicloud_smn_logtank.go
  huaweicloud/services/smn/resource_huaweicloud_smn_message_template.go
  huaweicloud/services/smn/resource_huaweicloud_smn_topic.go
Labels: size/XS, refactor, LGTM, approved

#5238 feat(cfw): add resource CFW capture
  docs/resources/cfw_capture_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_capture_task_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_capture_task.go
Labels: size/L, feature, LGTM, approved

#5261 feat(GaussDB): add gaussdb mysql proxies data source
  docs/data-sources/gaussdb_mysql_proxies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_mysql_proxies_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_proxies.go
Labels: size/L, feature, LGTM, approved

#5263 feat(GaussDB): gaussdb mysql proxy support version
  docs/resources/gaussdb_mysql_proxy.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
Labels: size/S, feature, LGTM, approved

#5266 feat(GaussDB): guassdb mysql proxy support connection pool type
  docs/resources/gaussdb_mysql_proxy.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
Labels: size/S, feature, LGTM, approved

#5254 fix(cfw): resolve test case failures due to modifications in the CFW rule deletion interface
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_acl_rule_test.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_protection_rule_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_acl_rule.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_protection_rule.go
Labels: size/L, bugfix, LGTM, approved

#5264 feat(ccm): ccm support a new datasource to query private cas
  docs/data-sources/ccm_private_cas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_ccm_private_cas_test.go
  huaweicloud/services/ccm/data_source_huaweicloud_ccm_private_cas.go
Labels: size/L, feature, LGTM, approved

#5270 feat(GaussDB): gaussdb mysql proxy support access control
  docs/resources/gaussdb_mysql_proxy.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
Labels: size/M, feature, LGTM, approved

#5269 docs(ecs): update the docs of ecs instance
  docs/resources/compute_instance.md
Labels: documentation, size/XS, LGTM, approved

#5252 refactor(swr): remove datasource unnecessary checkDeleted logic
  huaweicloud/services/swr/data_source_huaweicloud_swr_image_tags.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_organizations.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_repositories.go
Labels: size/XS, refactor, LGTM, approved

#5255 chore(swr): add resource(Read/Delete Method) checkDeleted logic
  huaweicloud/services/swr/resource_huaweicloud_swr_image_auto_sync.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_permissions.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_retention_policy.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_trigger.go
  huaweicloud/services/swr/resource_huaweicloud_swr_organization.go
  huaweicloud/services/swr/resource_huaweicloud_swr_organization_permissions.go
  huaweicloud/services/swr/resource_huaweicloud_swr_repository.go
  huaweicloud/services/swr/resource_huaweicloud_swr_repository_sharing.go
Labels: size/XS, chore, LGTM, approved

#5271 refactor(cbr): using auto-gen style to instead
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_vaults.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/L, refactor, LGTM, approved

#5260 feat(sfs): add a new datasource to get the list of permission rules
  docs/data-sources/sfs_turbo_perm_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfs/data_source_huaweicloud_sfs_turbo_perm_rules_test.go
  huaweicloud/services/sfs/data_source_huaweicloud_sfs_turbo_perm_rules.go
Labels: size/M, feature, LGTM, approved

#5267 feat(dew): add a new datasource to get list of grants
  docs/data-sources/kms_grants.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kms_grants_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_grants.go
Labels: size/L, feature, LGTM, approved

#5218 feat(dws): add datasource to get dws clusters
  docs/data-sources/dws_clusters.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_clusters_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_clusters.go
Labels: size/L, feature, LGTM, approved

#5257 fix(dns): data cannot be queried on the international site
  docs/data-sources/dns_nameservers.md
  huaweicloud/services/dns/data_source_huaweicloud_dns_floating_ptrrecords.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_line_groups.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_nameservers.go
Labels: size/XS, bugfix, LGTM, approved
