Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-03, with the labels that each got.

#4292 feat(DEW): add datasource to get the list of CSMS events
  docs/data-sources/csms_events.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_csms_events_test.go
  huaweicloud/services/dew/data_source_huaweicloud_csms_events.go
Labels: size/L, feature, LGTM, approved

#4306 feat(ga): add a new datasource to get the list of the endpoint groups
  docs/data-sources/ga_endpoint_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/data_source_huaweicloud_ga_endpoint_groups_test.go
  huaweicloud/services/ga/data_source_huaweicloud_ga_endpoint_groups.go
Labels: size/L, feature, LGTM, approved

#4320 docs(ga): modify the description of the subcategory in the document
  docs/data-sources/ga_accelerators.md
  docs/data-sources/ga_address_groups.md
  docs/data-sources/ga_listeners.md
Labels: documentation, size/XS, LGTM, approved

#4323 fix(cce): fix can't get resource ID problem when create a bms node
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
Labels: size/XS, bugfix, LGTM, approved

#4322 chore(EG): fix eg service api comments
  huaweicloud/services/eg/resource_huaweicloud_eg_connection.go
  huaweicloud/services/eg/resource_huaweicloud_eg_custom_event_channel.go
  huaweicloud/services/eg/resource_huaweicloud_eg_custom_event_source.go
  huaweicloud/services/eg/resource_huaweicloud_eg_endpoint.go
  huaweicloud/services/eg/resource_huaweicloud_eg_event_subscription.go
Labels: size/S, chore, LGTM, approved

#4321 chore(ELB): fix share elb service api comments
  huaweicloud/services/lb/resource_huaweicloud_lb_certificate.go
  huaweicloud/services/lb/resource_huaweicloud_lb_l7policy.go
  huaweicloud/services/lb/resource_huaweicloud_lb_l7rule.go
  huaweicloud/services/lb/resource_huaweicloud_lb_listener.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/lb/resource_huaweicloud_lb_member.go
  huaweicloud/services/lb/resource_huaweicloud_lb_monitor.go
  huaweicloud/services/lb/resource_huaweicloud_lb_pool.go
  huaweicloud/services/lb/resource_huaweicloud_lb_whitelist.go
Labels: size/S, chore, LGTM, approved

#4315 chore(VOD): fix vod service api comments
  huaweicloud/services/vod/resource_huaweicloud_vod_media_asset.go
  huaweicloud/services/vod/resource_huaweicloud_vod_media_category.go
  huaweicloud/services/vod/resource_huaweicloud_vod_transcoding_template_group.go
  huaweicloud/services/vod/resource_huaweicloud_vod_watermark_template.go
Labels: size/XS, chore, LGTM, approved

#4314 chore(SMS): fix sms service api comments
  huaweicloud/services/sms/resource_huaweicloud_sms_server_template.go
  huaweicloud/services/sms/resource_huaweicloud_sms_task.go
Labels: size/XS, chore, LGTM, approved

#4312 chore(ServiceStage): fix service stage api comments
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_application.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_component_instance.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_environment.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_repo_password_authorization.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_repo_token_authorization.go
Labels: size/S, chore, LGTM, approved

#4310 chore(Config): fix config service api comments
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_assignment_package.go
  huaweicloud/services/rms/resource_huaweicloud_rms_policy_assignment.go
  huaweicloud/services/rms/resource_huaweicloud_rms_resource_aggregation_authorization.go
  huaweicloud/services/rms/resource_huaweicloud_rms_resource_aggregator.go
  huaweicloud/services/rms/resource_huaweicloud_rms_resource_recorder.go
Labels: size/XS, chore, LGTM, approved

#4293 feat(fgs): the resource supports config concurrent requests number
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/S, feature, LGTM, approved

#4330 docs(Kafka): modify the description of parameter dumping
  docs/resources/dms_kafka_instance.md
Labels: documentation, size/XS, LGTM, approved

#4328 chore(GaussDB): fix gaussdb service api comments
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instances.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_flavors.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instances.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_redis_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_influx_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mongo_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_account.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_account_privilege.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_database.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_parameter_template.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_sql_control_rule.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_eip_associate.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
Labels: size/M, chore, LGTM, approved

#4318 feat(DEW): add datasource to get the list of CSMS secrets
  docs/data-sources/csms_secrets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_csms_secrets_test.go
  huaweicloud/services/dew/data_source_huaweicloud_csms_secrets.go
Labels: size/L, feature, LGTM, approved

#4309 feat(CFW): add ips_switch_status、ips_protect_mode attribute to cfw_firewall resource
  docs/resources/cfw_firewall.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_firewall_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
Labels: size/L, feature, LGTM, approved

#4327 feat: chore(fgs): support a new function trigger to replace the old one
  docs/resources/fgs_function_trigger.md
  docs/resources/fgs_trigger.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_fgs_trigger_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_trigger_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_fgs_trigger.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger.go
Labels: size/L, chore, feature, LGTM, approved

#4340 feat(CC): cloud connection resource support tags
  docs/resources/cc_connection.md
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_connection_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_connection.go
Labels: size/M, feature, LGTM, approved

#4336 fix(SWR): fix SWR organization datasource error without returning the access_user_count and repo_count
  huaweicloud/services/swr/data_source_huaweicloud_swr_organizations.go
Labels: size/XS, bugfix, LGTM, approved

#4348 fix(rms): rename the doc file name of resource organizational_policy_assignment
  docs/resources/rms_organizational_policy_assignment.md
Labels: size/XS, bugfix, LGTM, approved

#4332 chore(vpc/ces): update the API comments of vpc and ces
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
Labels: size/XS, chore, LGTM, approved

#4342 docs(BMS): add bms api note
  huaweicloud/services/bms/resource_huaweicloud_bms_instance.go
Labels: documentation, size/XS, LGTM, approved

#4351 fix(rms): fix the doc of resource organizational_policy_assignment
  docs/resources/rms_organizational_policy_assignment.md
Labels: size/XS, bugfix, LGTM, approved

#4341 chore(dataarts): fix API comment
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_factory_job.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_data_connection.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_instance.go
Labels: size/XS, chore, approved

#4300 feat(CSS): add CSS logstash configuration resource
  docs/resources/css_logstash_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_configuration_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_configuration.go
Labels: size/L, feature, LGTM, approved

#4295 chore(scripts): fix bug in markdown gen render
  scripts/markdown_gen/render.go
Labels: size/XS, chore, LGTM

#4329 fix(iam): fix bug for user login protect
  huaweicloud/services/iam/resource_huaweicloud_identity_user.go
Labels: size/S, bugfix, LGTM, safe to test

#4355 chore(EVS): fix evs volume api comments
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/XS, chore, LGTM, approved

#4354 chore: fixed an error in converting default value int(0) to float64 type
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_scan_task_test.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_data_standard_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_account_privilege_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_account_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_database_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_cross_region_backup_strategy_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sql_audit_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate.go
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_instances.go
  huaweicloud/services/css/resource_huaweicloud_css_scan_task.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_data_standard.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_security_permission_set.go
  huaweicloud/services/dbss/data_source_huaweicloud_dbss_flavors.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_flavors.go
  huaweicloud/services/ddm/data_source_huaweicloud_ddm_schemas.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_consumer_groups.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_topics.go
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_plan.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_account.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_account_privilege.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_database.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_groups.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_group.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_permission_set.go
  huaweicloud/services/lts/resource_huaweicloud_lts_host_group.go
  huaweicloud/services/lts/resource_huaweicloud_lts_keywords_alarm_rule.go
  huaweicloud/services/lts/resource_huaweicloud_lts_sql_alarm_rule.go
  huaweicloud/services/rds/resource_huaweicloud_rds_cross_region_backup_strategy.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sql_audit.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert_rule.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_image_tags.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_organizations.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_repositories.go
  huaweicloud/services/swr/resource_huaweicloud_swr_image_permissions.go
Labels: size/M, chore, LGTM, approved

#4345 feat(nat): public snat rule resource support global_eip_id parameter
  docs/resources/nat_snat_rule.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_snat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_snat_rule.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/snats/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/snats/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4319 fix(gaussdb): fix gaussdb cassandra/influx/mango instance resource lint error
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_influx_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_influx_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mongo_instance.go
Labels: size/L, bugfix, LGTM

#4326 fix(gaussdb): fix gaussdb mysql resource lint error
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
Labels: size/L, bugfix, LGTM

#4356 chore(CFW): fix type conversion bug in cfw eip protection resource
  huaweicloud/services/cfw/resource_huaweicloud_cfw_eip_protection.go
Labels: size/XS, chore, LGTM, approved

#4350 fix: remove sdk and auto generate parse APIs from pre release
  .github/workflows/pre-release.yml
Labels: size/XS, bugfix, LGTM, approved

#4343 fix(as/configuration): remove disk size verification and fix test cases
  docs/resources/as_configuration.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
Labels: size/S, bugfix, LGTM, approved

#4359 fix(CodeArts): remove the setting action for password fields
  docs/resources/codearts_inspector_website.md
  huaweicloud/services/acceptance/codearts/resource_huaweicloud_codearts_inspector_website_test.go
  huaweicloud/services/codearts/resource_huaweicloud_codearts_inspector_website.go
Labels: size/XS, bugfix, LGTM, approved

#4357 test(DCS): add account whitelist pre check to account test
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_account_test.go
Labels: size/XS, LGTM, test, approved

#4338 fix(dws/workload_plan): fix the parseWorkLoadPlanError function
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_plan.go
Labels: size/S, bugfix, LGTM

#4331 fix(gaussdb): fix gaussdb opengauss/redis resource lint error
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_eip_associate.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
Labels: size/M, bugfix

#4358 chore: mark some resources as internal
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_policy.go
  huaweicloud/services/aom/resource_huaweicloud_aom_prometheus_instance.go
  huaweicloud/services/apm/resource_huaweicloud_apm_aksk.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_application.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_component.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_environment.go
  huaweicloud/services/cmdb/resource_huaweicloud_aom_resource_relationships.go
  huaweicloud/services/lts/resource_huaweicloud_lts_access_rule.go
  huaweicloud/services/lts/resource_huaweicloud_lts_dashboard.go
  huaweicloud/services/lts/resource_huaweicloud_lts_elb_log.go
Labels: size/XS, chore, approved

#4360 changelog: Update CHANGELOG for v1.62.1
  CHANGELOG.md
Labels: size/XS, approved

#4361 chore(GaussDB): fix gaussdb mysql instance api comments
  docs/api/resource_huaweicloud_gaussdb_mysql_instance.yaml
  docs/api/resource_huaweicloud_lts_struct_template.yaml
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/XS, chore, approved

#4362 Revert "fix(CCM): modify api comments"
  huaweicloud/services/ccm/data_source_huaweicloud_scm_certificates.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_certificate_push.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate.go
  huaweicloud/services/ccm/resource_huaweicloud_scm_certificate.go
Labels: size/S, approved

#4337 fix(refresh): update function return to avoid loop continue
  huaweicloud/services/dli/resource_huaweicloud_dli_elastic_resource_pool.go
  huaweicloud/services/dns/resource_huaweicloud_dns_custom_line.go
  huaweicloud/services/dns/resource_huaweicloud_dns_line_group.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_auto_launch_group.go
  huaweicloud/services/er/resource_huaweicloud_er_flow_log.go
  huaweicloud/services/er/resource_huaweicloud_er_instance.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_application.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger.go
  huaweicloud/services/ga/resource_huaweicloud_ga_accelerator.go
  huaweicloud/services/ga/resource_huaweicloud_ga_address_group.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint_group.go
  huaweicloud/services/ga/resource_huaweicloud_ga_health_check.go
  huaweicloud/services/ga/resource_huaweicloud_ga_listener.go
  huaweicloud/services/ges/resource_huaweicloud_ges_graph.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_service.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_workspace.go
  huaweicloud/services/rds/resource_huaweicloud_rds_backup.go
  huaweicloud/services/rms/resource_huaweicloud_rms_assignment_package.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/S, bugfix, LGTM, approved

#4333 feat(CSS): support CSS cluster update flavor
  docs/resources/css_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/M, feature, LGTM, approved

#4365 chore(DDM): fix ddm api comments
  huaweicloud/services/ddm/resource_huaweicloud_ddm_account.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_schema.go
Labels: size/XS, chore, LGTM, approved

#4366 docs(apig): fix example issue about join()
  docs/resources/apig_acl_policy.md
Labels: documentation, size/XS, LGTM, approved

#4347 feat(DEW): kms support to create import key
  docs/resources/kms_key.md
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_key_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_key.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/keys/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/keys/results.go
Labels: size/M, feature, LGTM, approved

#4335 feat(drs): add data source drs availability zones
  docs/data-sources/drs_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/drs/data_source_huaweicloud_drs_availability_zones_test.go
  huaweicloud/services/drs/data_source_huaweicloud_drs_availability_zones.go
Labels: size/M, feature, LGTM

#4367 feat(fgs/function): the function resource supports GPU configuration
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4346 feat(dws): add a new data source to get event subscriptions
  docs/data-sources/dws_event_subscriptions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_event_subscriptions_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_event_subscriptions.go
Labels: size/L, feature, LGTM, approved

#4363 fix(CBH): upgrade CBH resource API version from V1 to V2
  docs/resources/cbh_instance.md
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/XL, bugfix, LGTM, approved

#4376 docs(OBS): add obs note API
  huaweicloud/services/obs/resource_huaweicloud_obs_bucket.go
Labels: documentation, size/XS, LGTM, approved

#4369 chore(vpn): fix api comments of vpn
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/XS, chore, LGTM, approved

#4374 feat(dli/connection): add new resource to manage privileges
  docs/resources/dli_datasource_connection_privilege.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_connection_privilege_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection_privilege.go
Labels: size/L, feature, LGTM, approved

#4344 feat(DCS): restore dcs by backup id
  docs/resources/dcs_instance_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_restore_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance_restore.go
Labels: size/L, feature, LGTM, approved

#4339 feat(RDS): add resource rds lts log
  docs/resources/rds_lts_log.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_lts_log_test.go
  huaweicloud/services/rds/common.go
  huaweicloud/services/rds/resource_huaweicloud_rds_lts_log.go
Labels: size/L, feature, LGTM, approved

#4388 fix(CBH): upgrade cbh datasource API version to V2
  docs/data-sources/cbh_instances.md
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_instances_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_instances.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/L, bugfix, LGTM, approved

#4377 fix(DEW): fix csms secret datasource test error
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_csms_secrets_test.go
Labels: size/XS, bugfix, LGTM, approved

#4389 chore(RDS): fix rds instance api comments
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XS, chore, LGTM, approved

#4383 feat(mrs): cluster support prepaid charge mode
  docs/resources/mapreduce_cluster.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v2/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v2/clusters/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#4379 feat(iotda): support derived authentication
  huaweicloud/config/hc_config.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/iotda/derived.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_amqp_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_batchtask_file_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_dataforwarding_rule_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_certificate_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_group_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_linkage_rule_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_product_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_space_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_upgrade_package_test.go
  huaweicloud/services/iotda/derived.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_amqp.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_batchtask_file.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_dataforwarding_rule.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_certificate.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_group.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_linkage_rule.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_product.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_space.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_upgrade_package.go
Labels: size/M, feature, LGTM, approved

#4393 feat(DCS): add attributes(created_at and lanched_at)
  docs/resources/dcs_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/keys/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/keys/results.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/keys/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4401 feat(iotda): add acceptance for space with derived auth
  docs/resources/iotda_space.md
  huaweicloud/services/acceptance/iotda/derived.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_space_test.go
Labels: size/S, feature, LGTM, approved

#4382 feat(drs): support action in job
  docs/resources/drs_job.md
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/M, feature, LGTM, safe to test

#4402 fix(DDS): dds supports lts log updated
  docs/resources/dds_lts_log.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_lts_log_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_lts_log.go
Labels: size/M, bugfix, LGTM, approved

#4368 feat(gaussdb): instance support update enterprise_project_id
  docs/resources/gaussdb_cassandra_instance.md
  docs/resources/gaussdb_influx_instance.md
  docs/resources/gaussdb_mongo_instance.md
  docs/resources/gaussdb_mysql_instance.md
  docs/resources/gaussdb_opengauss_instance.md
  docs/resources/gaussdb_redis_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_influx_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mongo_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_influx_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mongo_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_redis_instance.go
Labels: size/L, feature, LGTM

#4399 docs(CDN): fix and supplement CDN domain resource documentation
  docs/resources/cdn_domain.md
Labels: size/M, documentation, LGTM, approved

#4394 feat(ga): add a new datasource to get the list of the health checks
  docs/data-sources/ga_health_checks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/data_source_huaweicloud_ga_health_checks_test.go
  huaweicloud/services/ga/data_source_huaweicloud_ga_health_checks.go
Labels: size/L, feature, LGTM, approved

#4385 feat(DCS): add resource diagnosis task
  docs/resources/dcs_diagnosis_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_diagnosis_task_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_diagnosis_task.go
Labels: size/L, feature, LGTM, approved

#4403 feat(DEW): kms grant resource add paging function in read method
  huaweicloud/services/dew/resource_huaweicloud_kms_grant.go
Labels: size/S, feature, LGTM, approved

#4407 chore(ELB): fix share elb api comments
  huaweicloud/services/lb/resource_huaweicloud_lb_certificate.go
  huaweicloud/services/lb/resource_huaweicloud_lb_l7policy.go
  huaweicloud/services/lb/resource_huaweicloud_lb_l7rule.go
Labels: size/XS, chore, LGTM, approved

#4396 chore(ELB): fix dedicated elb api comments
  huaweicloud/services/elb/resource_huaweicloud_elb_certificate.go
  huaweicloud/services/elb/resource_huaweicloud_elb_ipgroup.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7policy.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7rule.go
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  huaweicloud/services/elb/resource_huaweicloud_elb_logtank.go
  huaweicloud/services/elb/resource_huaweicloud_elb_member.go
  huaweicloud/services/elb/resource_huaweicloud_elb_monitor.go
  huaweicloud/services/elb/resource_huaweicloud_elb_pool.go
  huaweicloud/services/elb/resource_huaweicloud_elb_security_policy.go
Labels: size/S, chore, LGTM, approved

#4387 feat(CSS): elastic cluster extending support prePaid and test case integration
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_configuration_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_scan_task_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_snapshot_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_thesaurus_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/L, feature, LGTM, approved

#4373 feat(cfw): add ip_address, address_group, tag, service_group, custom_service, domain_set_id, domain_set_name attribute for protection rule
  docs/resources/cfw_protection_rule.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_protection_rule_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_protection_rule.go
Labels: size/L, feature, LGTM, approved

#4386 feat(ga): add a new datasource to get the list of the endpoints
  docs/data-sources/ga_endpoints.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/data_source_huaweicloud_ga_endpoints_test.go
  huaweicloud/services/ga/data_source_huaweicloud_ga_endpoints.go
Labels: size/L, feature, LGTM, approved

#4404 feat(apig): supports binding domain names to specified group
  docs/resources/apig_group.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apigroups/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#4381 feat(workspace): add new resource to manage desktop name rules
  docs/resources/workspace_desktop_name_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_name_rule_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop_name_rule.go
Labels: size/L, feature, LGTM, approved

#4406 feat(DDS): dds supports description updated
  docs/resources/dds_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4405 fix(gaussdb): fix gaussdb resource lint error
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_flavors.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_cassandra_instances.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_flavors.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_mysql_instances.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_nosql_flavors.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_redis_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_proxy.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/M, bugfix, LGTM

#4397 feat(dli): add new resource to manage the pools association
  docs/resources/dli_datasource_connection_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_connection_associate_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection_associate.go
Labels: size/L, refactor, feature, LGTM, approved

#4419 chore(apig): change loadbalancer_provider is computed and mark eip_id as deprecated
  docs/resources/apig_instance.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
Labels: size/S, chore, LGTM, approved

#4391 feat(DEW): kms support to manage the key material of the external key
  docs/resources/kms_key_material.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_key_material_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_key_material.go
Labels: size/L, feature, LGTM, approved

#4417 feat: Add some utility functions
  go.mod
  go.sum
  huaweicloud/helper/filters/filters.go
  huaweicloud/helper/httphelper/http_helper.go
  huaweicloud/helper/httphelper/link_page.go
  huaweicloud/helper/httphelper/marker_page.go
  huaweicloud/helper/httphelper/offset_page.go
  huaweicloud/helper/httphelper/pagesize_page.go
  huaweicloud/helper/schemas/schema_wrapper.go
  huaweicloud/helper/schemas/schemas.go
  huaweicloud/helper/schemas/schemas_test.go
  vendor/github.com/thedevsaddam/gojsonq/.gitignore
  vendor/github.com/thedevsaddam/gojsonq/.travis.yml
  vendor/github.com/thedevsaddam/gojsonq/CONTRIBUTING.md
  vendor/github.com/thedevsaddam/gojsonq/LICENSE.md
  vendor/github.com/thedevsaddam/gojsonq/README.md
  vendor/github.com/thedevsaddam/gojsonq/decoder.go
  vendor/github.com/thedevsaddam/gojsonq/doc.go
  vendor/github.com/thedevsaddam/gojsonq/gojsonq.png
  vendor/github.com/thedevsaddam/gojsonq/helper.go
  vendor/github.com/thedevsaddam/gojsonq/jsonq.go
  vendor/github.com/thedevsaddam/gojsonq/option.go
  vendor/github.com/thedevsaddam/gojsonq/query.go
  vendor/github.com/thedevsaddam/gojsonq/result.go
  vendor/github.com/tidwall/gjson/LICENSE
  vendor/github.com/tidwall/gjson/README.md
  vendor/github.com/tidwall/gjson/SYNTAX.md
  vendor/github.com/tidwall/gjson/gjson.go
  vendor/github.com/tidwall/gjson/logo.png
  vendor/github.com/tidwall/match/LICENSE
  vendor/github.com/tidwall/match/README.md
  vendor/github.com/tidwall/match/match.go
  vendor/github.com/tidwall/pretty/LICENSE
  vendor/github.com/tidwall/pretty/README.md
  vendor/github.com/tidwall/pretty/pretty.go
  vendor/modules.txt
Labels: size/XL, chore, feature, dependencies, LGTM, approved

#4420 docs(CSS): fix CSS logstash configuration markdown error
  docs/resources/css_logstash_configuration.md
Labels: documentation, size/XS, LGTM, approved

#4411 refactor(CDN): refactor cdn domain resource
  docs/resources/cdn_domain.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_domains_test.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/L, refactor, LGTM, approved

#4418 feat(DDS): dds supports az updated
  docs/resources/dds_instance.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/S, feature, LGTM, approved

#4412 feat(CFW): add cfw lts log resource
  docs/resources/cfw_lts_log.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_lts_log_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_lts_log.go
Labels: size/L, feature, LGTM, approved

#4409 feat(CSS): add CSS logstash cluster pipeline resource
  docs/resources/css_logstash_pipeline.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_pipeline_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_pipeline.go
Labels: size/L, feature, LGTM, approved

#4408 feat(iotda): add batchtask resource support
  docs/resources/iotda_batchtask.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_batchtask_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_batchtask.go
Labels: size/L, feature, approved

#4427 test(RDS): fix rds tests
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_accounts_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_database_privileges_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_databases_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_cross_region_backup_strategy_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_lts_log_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_account_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_privilege_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_parametergroup_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_account_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_database_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_hba_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_plugin_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_read_replica_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sql_audit_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sqlserver_account_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sqlserver_database_test.go
Labels: size/L, LGTM, test, approved

#4426 fix(dli): supple the is_success check and return the error message
  huaweicloud/services/dli/resource_huaweicloud_dli_agency.go
  huaweicloud/services/dli/resource_huaweicloud_dli_database.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_auth.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection_privilege.go
  huaweicloud/services/dli/resource_huaweicloud_dli_elastic_resource_pool.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinkjar_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flinksql_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_global_variable.go
  huaweicloud/services/dli/resource_huaweicloud_dli_package.go
  huaweicloud/services/dli/resource_huaweicloud_dli_permission.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
  huaweicloud/services/dli/resource_huaweicloud_dli_sql_job.go
  huaweicloud/services/dli/resource_huaweicloud_dli_template_flink.go
  huaweicloud/services/dli/resource_huaweicloud_dli_template_sql.go
Labels: size/L, bugfix, LGTM, approved

#4434 chore(dws): request ok codes using the default ok codes
  huaweicloud/services/dws/data_source_huaweicloud_dws_flavors.go
  huaweicloud/services/dws/resource_huaweicloud_dws_alarm_subscription.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/dws/resource_huaweicloud_dws_event_subscription.go
  huaweicloud/services/dws/resource_huaweicloud_dws_ext_data_source.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot_policy.go
Labels: size/M, chore, LGTM, approved

#4392 fix(CSS): fix css cluster volume attribute error after import resource
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/S, bugfix, LGTM, approved

#4390 feat(dc): add data_source_dc_virtual_interfaces
  docs/data-sources/dc_virtual_interfaces.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dc/data_source_huaweicloud_dc_virtual_interfaces_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_virtual_interfaces.go
Labels: size/L, feature, LGTM, safe to test

#4429 feat(DEW): csms secret resource support secret_binary and expire_time parameter
  docs/resources/csms_secret.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dew/resource_huaweicloud_csms_secret_test.go
  huaweicloud/services/dew/resource_huaweicloud_csms_secret.go
  vendor/github.com/chnsz/golangsdk/openstack/csms/v1/secrets/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/csms/v1/secrets/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4413 fix(gaussdb): fix test gaussdb case issues
  docs/resources/gaussdb_redis_instance.md
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_redis_instance_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_redis_instance_test.go
Labels: size/M, bugfix, LGTM, safe to test

#4422 feat(endpoint): manage the service endpoint in different regions
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/config/service_endpoints.go
  huaweicloud/endpoints_test.go
Labels: size/S, feature, LGTM, approved

#4334 feat(iotda/device): device access authentication information supports new parameters
  docs/resources/iotda_device.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
Labels: size/M, feature, LGTM

#4440 chore(cfw): add explanation for protection rule type
  docs/resources/cfw_protection_rule.md
Labels: size/XS, chore, LGTM, approved

#4431 feat(drs): support to select objects in job
  docs/resources/drs_job.md
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/L, feature, LGTM

#4441 fix(iotda): deprecate batchtask file resource
  docs/resources/iotda_batchtask_file.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_iotda_batchtask_file_test.go
  huaweicloud/services/acceptance/iotda/derived.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_amqp_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_batchtask_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_dataforwarding_rule_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_certificate_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_group_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_linkage_rule_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_product_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_space_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_upgrade_package_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_iotda_batchtask_file.go
  huaweicloud/services/iotda/derived.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_amqp.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_batchtask.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_dataforwarding_rule.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_certificate.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_group.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_linkage_rule.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_product.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_space.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_upgrade_package.go
Labels: size/M, bugfix, LGTM, approved

#4353 feat(dws): add a new datasource to get list of workload queues
  docs/data-sources/dws_workload_queues.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_workload_queues_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_workload_queues.go
Labels: size/L, feature, LGTM, approved

#4423 feat(lts): add new resource to support cross account access
  docs/resources/lts_cross_account_access.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_cross_account_access_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_cross_account_access.go
Labels: size/L, feature, LGTM, approved

#4447 docs(cloudtable): swap the positions of Timeouts and Import
  docs/resources/cloudtable_cluster.md
Labels: documentation, size/XS, LGTM

#4444 feat(vpcep): the vpc endpoint resource support routetables parameter
  docs/resources/vpcep_endpoint.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_endpoint_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
Labels: size/M, feature, LGTM, approved

#4437 fix(ccm): modify api comments
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_certifiacte_push_test.go
  huaweicloud/services/ccm/data_source_huaweicloud_scm_certificates.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_certificate_push.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate.go
  huaweicloud/services/ccm/resource_huaweicloud_scm_certificate.go
Labels: size/M, bugfix, LGTM, approved

#4416 feat(CSS): add CSS logstash custom certificate resource
  docs/resources/css_logstash_custom_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_custom_certificate_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_custom_certificate.go
Labels: size/L, feature, LGTM, approved

#4452 refactor: set a custom header and replace the value of domain_id
  huaweicloud/helper/httphelper/http_helper.go
Labels: size/XS, refactor, LGTM, approved

#4421 chore(dli): use new parameter user_name instead of username parameter
  docs/resources/dli_datasource_auth.md
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_datasource_auth_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_auth.go
Labels: size/S, chore, LGTM, approved

#4459 fix(geip): fix eps id for empty condition
  huaweicloud/services/acceptance/eip/resource_huaweicloud_global_eip_test.go
  huaweicloud/services/acceptance/eip/resource_huaweicloud_global_internet_bandwidth_test.go
  huaweicloud/services/eip/resource_huaweicloud_global_eip.go
  huaweicloud/services/eip/resource_huaweicloud_global_internet_bandwidth.go
Labels: size/XS, bugfix, LGTM, safe to test

#4456 feat(CFW): protection rule supports to clear the rule hit count
  docs/resources/cfw_protection_rule.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_protection_rule_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_protection_rule.go
Labels: size/S, feature, LGTM, approved

#4438 feat(CC): add global connection bandwidth associate resource
  docs/resources/cc_global_connection_bandwidth_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_global_connection_bandwidth_associate_test.go
  huaweicloud/services/cc/resource_huaweicloud_cc_global_connection_bandwidth_associate.go
Labels: size/L, feature, LGTM, approved

#4455 refactor(dli/package): the package resource reconstruction
  docs/resources/dli_package.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_package_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_package.go
  huaweicloud/services/dli/resource_huaweicloud_dli_spark_job.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v2/spark/resources/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v2/spark/resources/results.go
  vendor/modules.txt
Labels: size/M, refactor, dependencies, LGTM, approved

#4458 feat(drs): support charging mode in job
  docs/resources/drs_job.md
  go.mod
  go.sum
  huaweicloud/common/common.go
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/drs/v3/jobs/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM

#4433 feat(iotda): add products datasource support
  docs/data-sources/iotda_products.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_products_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_products.go
Labels: size/L, feature, approved

#4449 feat(DEW): kps keypair resource support private_key parameter
  docs/resources/kps_keypair.md
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kps_keypair_test.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair.go
Labels: size/M, feature, LGTM, approved

#4468 fix(CDN): remove wrong validation mether and add new test case
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, bugfix, LGTM, approved

#4469 fix: query params and paging query bugs
  huaweicloud/helper/httphelper/http_helper.go
  huaweicloud/helper/httphelper/http_helper_test.go
Labels: size/L, bugfix

#4472 docs(Kafka): update attributes location
  docs/resources/dms_kafka_consumer_group.md
Labels: documentation, size/XS, LGTM, approved

#4457 feat(DCS): add dcs hot key analyses data source
  .github/workflows/doc-lint.yml
  .golangci.yml
  docs/data-sources/dcs_hotkey_analyses.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_hotkey_analyses_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_hotkey_analyses.go
Labels: size/L, feature, LGTM, approved

#4475 test: add test for filters
  huaweicloud/helper/filters/filter_test.go
  huaweicloud/helper/filters/filters.go
Labels: size/M, LGTM, test, approved

#4448 docs(global_eips): get rid of duplicated attributes
  docs/data-sources/global_eips.md
Labels: documentation, size/XS, LGTM, approved

#4477 feat(CDN): add new config fields `ip_frequency_limit` and `websocket`
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/L, feature, LGTM, approved

#4465 feat(dli/package): the resource supports tags
  docs/resources/dli_package.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_package_test.go
  huaweicloud/services/dli/common.go
  huaweicloud/services/dli/resource_huaweicloud_dli_package.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/tags/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dli/v3/tags/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4473 feat(rms): add new data_source rms regions
  docs/data-sources/rms_regions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_regions_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_regions.go
Labels: size/M, feature, LGTM, approved

#4463 feat(DEW): kms grant resource support retiring_principal parameter
  docs/resources/kms_grant.md
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_grant_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_grant.go
Labels: size/S, feature, LGTM, approved

#4461 feat(DEW): kms key resource support keystore_id parameter
  docs/resources/kms_key.md
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_key_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_key.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/keys/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/kms/v1/keys/results.go
Labels: size/XS, feature, LGTM, approved

#4439 feat(DDS): dds supports backup policy and second level monitor updated
  docs/resources/dds_instance.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
Labels: size/M, feature, LGTM, approved

#4484 feat(DCS): add new attributes
  docs/resources/dcs_custom_template.md
  docs/resources/dcs_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_custom_template_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_custom_template.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/associations/results.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/propagations/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#4482 feat(iotda): add derived auth documents and tests for resources under the IoTDA pckage
  docs/resources/iotda_amqp.md
  docs/resources/iotda_dataforwarding_rule.md
  docs/resources/iotda_device.md
  docs/resources/iotda_device_certificate.md
  docs/resources/iotda_device_group.md
  docs/resources/iotda_device_linkage_rule.md
  docs/resources/iotda_product.md
  docs/resources/iotda_upgrade_package.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_amqp_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_dataforwarding_rule_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_certificate_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_group_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_linkage_rule_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_product_test.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_upgrade_package_test.go
Labels: size/L, feature, LGTM, approved

#4480 feat(iotda): add a datasource to get the list of dataforwarding rules
  docs/data-sources/iotda_dataforwarding_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_dataforwarding_rules_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_dataforwarding_rules.go
Labels: size/L, feature, LGTM, approved

#4454 feat(DCS): add dcs big key analyses data source
  docs/data-sources/dcs_bigkey_analyses.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_bigkey_analyses_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_bigkey_analyses.go
Labels: size/L, feature, LGTM, approved

#4474 feat(hss): add host protection resource support
  docs/resources/hss_host_protection.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_host_protection_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_host_protection.go
Labels: size/L, feature, LGTM, approved

#4464 feat(iotda): add a datasource to get the list of AMQP queues
  docs/data-sources/iotda_amqps.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_amqps_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_amqps.go
Labels: size/L, feature, LGTM, approved

#4467 fix(drs): add param vpc id for net type vpc
  docs/resources/drs_job.md
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/S, bugfix, LGTM

#4479 feat(rms): add new data_source policy assignments
  docs/data-sources/rms_policy_assignments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_policy_assignments_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_policy_assignments.go
Labels: size/L, feature, LGTM, approved

#4501 docs: fix doc lint ignore
  .github/workflows/doc-lint.yml
Labels: documentation, size/XS, LGTM, approved

#4488 feat: add PrimSliceConverter and rename some func names
  huaweicloud/helper/schemas/schemas.go
  huaweicloud/helper/schemas/schemas_test.go
Labels: size/S, feature, LGTM, approved

#4503 docs: fix documents lint error
  docs/data-sources/iotda_dataforwarding_rules.md
  docs/resources/hss_host_protection.md
Labels: documentation, size/XS, bugfix, LGTM

#4502 fix(drs): add precheck before reset job
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/XS, bugfix, LGTM

#4490 feat: fix api comments to check whether set api comments
  scripts/api_comment_check/main.go
Labels: size/M, feature, LGTM, approved

#4451 feat(cce): add new param details in the data_source of cce nodes
  docs/data-sources/cce_nodes.md
  huaweicloud/services/cce/data_source_huaweicloud_cce_nodes.go
Labels: size/S, feature, LGTM, approved

#4487 feat(er): add new datasource to get the list of associations
  docs/data-sources/er_associations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_associations_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_associations.go
Labels: size/L, feature, LGTM, approved

#4500 feat(CDN): CDN domain resource support new field `configs.0.flexible_origin`
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/M, feature, LGTM, approved

#4508 fix(rms): fix vars_structure problem in assignment_package
  docs/resources/rms_assignment_package.md
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_assignment_package_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_assignment_package.go
Labels: size/S, bugfix, LGTM, approved

#4506 feat(RDS): rds parametergroup add attributes created_at and updated_at
  docs/resources/rds_parametergroup.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_parametergroup_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_parametergroup.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/configurations/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/instances/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4494 feat(RDS): rds instance support msdtc hosts
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/L, feature, LGTM, approved

#4450 feat(DDM): add resouce ddm read policy setting
  docs/resources/dcs_instance_restore.md
  docs/resources/ddm_instance_read_strategy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_read_strategy_test.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance_read_strategy.go
Labels: size/L, feature, LGTM, approved

#4499 test(dli): fix the issue of the sql job acceptance test failure
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_sql_job_test.go
Labels: size/XS, LGTM, test, approved

#4496 fix(iotda/device): remove the default value of the secure_access parameter from the device resource
  docs/resources/iotda_device.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
Labels: size/XS, bugfix, LGTM, approved
