Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-08, with the labels that each got.

#5321 feat(ces): add data source to get the list of CES resource groups
  docs/data-sources/ces_resource_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_resource_groups_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_resource_groups.go
Labels: size/L, feature, LGTM, approved

#5292 feat(SecMaster): add resource data object relations
  docs/resources/secmaster_data_object_relations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_data_object_relations_test.go
  huaweicloud/services/secmaster/common.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_data_object_relations.go
Labels: size/L, feature, LGTM, approved

#5303 feat(Organizations): add organizations effective policies data source
  docs/data-sources/organizations_effective_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_effective_policies_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_effective_policies.go
Labels: size/M, feature, LGTM, approved

#5328 feat(evs): support volume transfers datasource
  docs/data-sources/evs_volume_transfers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_volume_transfers_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_volume_transfers.go
Labels: size/M, feature, LGTM, approved

#5319 feat(SecMaster): add resource playbook approval
  docs/resources/secmaster_playbook_approval.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_approval_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_approval.go
Labels: size/M, feature, LGTM, approved

#5310 feat(Organizations): add organizations tag policy services data source
  docs/data-sources/organizations_tag_policy_services.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_tag_policy_services_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_tag_policy_services.go
Labels: size/M, feature, LGTM, approved

#5325 docs(DDM): fix ddm schema doc
  docs/resources/ddm_schema.md
Labels: size/S, documentation, LGTM, approved

#5324 feat(cce): add new resource cluster log config
  docs/resources/cce_cluster_log_config.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_log_config_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_log_config.go
Labels: size/L, feature, LGTM, approved

#5308 feat(dew): add new resource to manage KMS data encryption and decryption
  docs/resources/kms_data_encrypt_decrypt.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_data_encrypt_decrypt_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_data_encrypt_decrypt.go
Labels: size/L, feature, LGTM, approved

#5273 test(cbr/vault): refactor the acceptance tests
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_test.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cbr/v3/vaults/urls.go
  vendor/modules.txt
Labels: size/L, LGTM, test, approved

#5298 docs(lts): fix and adjust the lts document descriptions
  docs/data-sources/lts_structuring_custom_templates.md
  docs/resources/lts_aom_access.md
  docs/resources/lts_cce_access.md
  docs/resources/lts_cross_account_access.md
  docs/resources/lts_group.md
  docs/resources/lts_host_access.md
  docs/resources/lts_host_group.md
  docs/resources/lts_keywords_alarm_rule.md
  docs/resources/lts_log_converge.md
  docs/resources/lts_log_converge_switch.md
  docs/resources/lts_notification_template.md
  docs/resources/lts_search_criteria.md
  docs/resources/lts_sql_alarm_rule.md
  docs/resources/lts_stream.md
  docs/resources/lts_struct_template.md
  docs/resources/lts_structing_template.md
  docs/resources/lts_structuring_custom_configuration.md
  docs/resources/lts_transfer.md
  docs/resources/lts_waf_access.md
Labels: size/M, documentation, LGTM, approved

#5333 fix(dataarts/dataservice): fix some issues for api resource
  docs/resources/dataarts_dataservice_api.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/data_source_huaweicloud_dataarts_dataservice_apis_test.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_api_debug_test.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_api_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api.go
Labels: size/M, bugfix, chore, feature, LGTM, test, approved

#5331 chore(evs/snapshot): refactor test cases and update document
  docs/resources/evs_snapshot.md
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_snapshot_test.go
Labels: size/M, chore, LGTM, approved

#5330 feat(Organizations): add organizations account invite decliner resource
  docs/resources/organizations_account_invite_decliner.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/resource_huaweicloud_organizations_account_invite_decliner_test.go
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account_invite_decliner.go
Labels: size/M, feature, LGTM, approved

#5335 feat(rms): add new data_source policy_states
  docs/data-sources/rms_policy_states.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_policy_states_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_policy_states.go
Labels: size/L, feature, LGTM, approved

#5326 chore(cts): remove CheckDeleted from CTS data source and add CheckDeleted to resource deletion
  huaweicloud/services/cts/data_source_huaweicloud_cts_notifications.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
  huaweicloud/services/cts/resource_huaweicloud_cts_notification.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/XS, chore, LGTM, approved

#5329 docs(cfw): update details of domain name group type
  docs/resources/cfw_domain_name_group.md
Labels: documentation, size/XS, chore, LGTM, approved

#5332 chore(sfs): modify the waitfor logic of the SFS Turbo resource
  huaweicloud/services/sfs/resource_huaweicloud_sfs_turbo.go
Labels: size/S, chore, LGTM, approved

#5344 fix(css/flavors): fix vcpus and memory field filter fial error
  huaweicloud/services/css/data_source_huaweicloud_css_flavors.go
Labels: size/XS, bugfix, LGTM, approved

#5341 fix(cbr/vaults): param consistent_level is incorrect
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_vaults.go
Labels: size/XS, bugfix, LGTM, approved

#5348 chore(CCM): check and fix ccm private ca checkDeleted logic
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
Labels: size/XS, chore, LGTM, approved

#5354 feat(cce): support updating component_configurations in cluster
  docs/resources/cce_cluster.md
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
Labels: size/M, feature, LGTM, approved

#5356 docs(vpc): fix import description of subnet
  docs/resources/vpc_subnet.md
Labels: documentation, size/XS, LGTM, approved

#5342 chore(vpn): remove CheckDeleted from VPN data source and add CheckDeleted to VPN resource deletion
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_connection_health_check_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_gateway_availability_zones.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_gateways.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection_health_check.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_customer_gateway.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_gateway.go
Labels: size/S, chore, LGTM, approved

#5345 chore(cfw): deprecate the name field in CFW service group member resource
  docs/resources/cfw_service_group_member.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_service_group_member_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_service_group_member.go
Labels: size/S, chore, LGTM, approved

#5349 docs(cfw): update details of type field in data source CFW domain name groups
  docs/data-sources/cfw_domain_name_groups.md
Labels: documentation, size/XS, LGTM, approved

#5351 chore(CCM): make field `crl_name` from argument to attribute
  docs/resources/ccm_private_ca.md
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
Labels: size/XS, chore, LGTM, approved

#5352 feat(cfw): data source supports query_service_set_type field
  docs/data-sources/cfw_service_group_members.md
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_service_group_members_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_service_group_members.go
Labels: size/S, feature, LGTM, approved

#5339 feat(dataarts/dataservice): Supports some resources to mange API publishing
  docs/resources/dataarts_dataservice_api_action.md
  docs/resources/dataarts_dataservice_api_publish.md
  docs/resources/dataarts_dataservice_api_publishment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_api_publishment_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api_action.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api_publish.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api_publishment.go
  huaweicloud/utils/times.go
  huaweicloud/utils/times_test.go
Labels: size/XL, feature, LGTM, approved

#5359 chore(ims/images_image): refactor resource methods and acc tests
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
Labels: size/M, chore, LGTM, approved

#5347 feat(dew): add a new datasource to get a list of failed tasks
  docs/data-sources/kps_failed_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kps_failed_tasks_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kps_failed_tasks.go
Labels: size/M, feature, LGTM, approved

#5350 feat(dew): add a new datasource to get a list of running tasks
  docs/data-sources/kps_running_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kps_running_tasks_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kps_running_tasks.go
Labels: size/M, feature, LGTM, approved

#5361 fix(aom): fix enterprise project id
  docs/resources/aom_multi_account_aggregation_rule.md
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_multi_account_aggregation_rule_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_multi_account_aggregation_rules.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_prom_instances.go
  huaweicloud/services/aom/resource_huaweicloud_aom_multi_account_aggregation_rule.go
Labels: size/M, bugfix, LGTM, approved

#5358 feat(GaussDB): gaussdb mysql instance support parameters
  docs/resources/gaussdb_mysql_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/configurations/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/configurations/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/configurations/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/parameters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/parameters/results.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/parameters/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5365 feat(ims/images_image): support create data image from data disk bound to the ECS instance
  docs/resources/images_image.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
Labels: size/M, feature, LGTM, approved

#5364 feat(cce): add new data_source cluster openid jwks
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_cluster_openid_jwks_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_cluster_openid_jwks.go
Labels: size/M, feature, LGTM, approved

#5372 fix(KMS): fix KMS grant resource force new error
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_grant_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_grant.go
Labels: size/XS, bugfix, LGTM, approved

#5373 fix(ecs): fix user_data problem while updating hostname
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/XS, bugfix, LGTM, approved

#5353 chore(css/thesaurus): fix resource error due to API response change and add checkDeleted logic
  docs/resources/css_thesaurus.md
  huaweicloud/services/css/resource_huaweicloud_css_thesaurus.go
Labels: size/S, chore, LGTM, approved

#5327 chore(css): add resource checkDeleted logic
  huaweicloud/services/css/common.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/css/resource_huaweicloud_css_configuration.go
  huaweicloud/services/css/resource_huaweicloud_css_es_loadbalancer_config.go
  huaweicloud/services/css/resource_huaweicloud_css_log_setting.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_configuration.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_custom_certificate.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_custom_template.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_pipeline.go
  huaweicloud/services/css/resource_huaweicloud_css_scan_task.go
  huaweicloud/services/css/resource_huaweicloud_css_snapshot.go
Labels: size/M, chore, LGTM, approved

#5375 Update CHANGELOG for 1.67.1
  CHANGELOG.md
Labels: size/XS, approved

#5369 feat(dataarts/quality): add new data source to query quality tasks
  docs/data-sources/dataarts_quality_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/data_source_huaweicloud_dataarts_quality_tasks_test.go
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_quality_tasks.go
Labels: size/L, feature, LGTM, approved

#5307 fix(drs): fix timeout and get order delay
  huaweicloud/common/common.go
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/S, bugfix, LGTM, approved

#5367 fix(drs/dms): fix validate and docs
  docs/resources/dms_rabbitmq_instance.md
  docs/resources/drs_job.md
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/S, bugfix, LGTM, approved

#5376 feat(WAF): domain resources support new computed attribute
  docs/data-sources/waf_domains.md
  docs/resources/waf_domain.md
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_domains_test.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_domains.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
Labels: size/XS, feature, LGTM, approved

#5379 fix(dws/workload_queue): unable delete logical cluster resource pool
  huaweicloud/services/dws/resource_huaweicloud_dws_workload_queue.go
Labels: size/XS, bugfix, LGTM, approved

#5363 feat(dws): add datasource to query alarm subscriptions
  docs/data-sources/dws_alarm_subscriptions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_alarm_subscriptions_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_alarm_subscriptions.go
Labels: size/M, feature, LGTM, approved

#5366 feat(ces): add data source to get the list of resources within a CES resource group
  docs/data-sources/ces_resource_group_service_resources.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_resource_group_service_resources_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_resource_group_service_resources.go
Labels: size/L, feature, LGTM, approved

#5371 feat(dew): the secret resource support new fields
  docs/resources/csms_secret.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dew/resource_huaweicloud_csms_secret_test.go
  huaweicloud/services/dew/resource_huaweicloud_csms_secret.go
  vendor/github.com/chnsz/golangsdk/openstack/csms/v1/secrets/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/csms/v1/secrets/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5386 feat(fgs): Delete function supports the CheckDeleted logic
  huaweicloud/common/errors.go
  huaweicloud/common/errors_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_async_invoke_configuration.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency_version.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_event.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger.go
Labels: size/M, chore, feature, LGTM, approved

#5370 feat(dws): add datasource to query automated snapshot policies
  docs/data-sources/dws_snapshot_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_snapshot_policies_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_snapshot_policies.go
Labels: size/L, feature, LGTM, approved

#5334 fix(dataarts/table_model): fix the issue that the reversed field type and checkdeleted not be triggered
  docs/resources/dataarts_architecture_table_model.md
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_architecture_table_model_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_table_model.go
Labels: size/XS, bugfix, LGTM, approved

#5338 fix(dataarts/architectrue): fix checkdeleted for model resource
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_architecture_model.go
Labels: size/XS, bugfix, LGTM, approved

#5384 chore(ims/images_image): update the parameter description and order in the resource document
  docs/resources/images_image.md
  huaweicloud/services/ims/resource_huaweicloud_images_image.go
Labels: size/M, chore, LGTM, approved

#5346 feat(aom): support dashboards folder management
  docs/data-sources/aom_dashboards_folders.md
  docs/resources/aom_dashboards_folder.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_dashboards_folders_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_dashboards_folder_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_dashboards_folders.go
  huaweicloud/services/aom/resource_huaweicloud_aom_dashboards_folder.go
Labels: size/L, feature, LGTM, approved

#5340 feat(aom): support new resource alarm rule
  docs/resources/aomv4_alarm_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aomv4_alarm_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aomv4_alarm_rule.go
Labels: size/XL, feature, LGTM, approved

#5392 fix(aom): fix repeat build header func
  huaweicloud/services/aom/resource_huaweicloud_aomv4_alarm_rule.go
Labels: size/XS, bugfix, LGTM, approved

#5360 feat(aom): support to get accounts and metrics for aggregation
  docs/data-sources/aom_aggregation_metrics.md
  docs/data-sources/aom_organization_accounts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_aggregation_metrics_test.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_organization_accounts_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_aggregation_metrics.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_organization_accounts.go
Labels: size/L, feature, LGTM, approved

#5380 feat(iam): add new resource identity policy
  docs/resources/identity_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_policy_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_policy.go
Labels: size/L, feature, LGTM, approved

#5368 feat(secmaster): add datasource workflows
  .golangci.yml
  docs/data-sources/secmaster_workflows.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_workflows_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_workflows.go
Labels: size/L, feature, LGTM, approved

#5355 feat(secmaster): add datasource secmaster workspaces
  docs/data-sources/secmaster_workspaces.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_workspaces_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_workspaces.go
Labels: size/L, feature, LGTM, approved

#5388 feat(cfw): add some detailed region fields to CFW log type data source
  docs/data-sources/cfw_access_control_logs.md
  docs/data-sources/cfw_attack_logs.md
  docs/data-sources/cfw_flow_logs.md
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_access_control_logs_test.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_attack_logs_test.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_flow_logs_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_access_control_logs.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_attack_logs.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_flow_logs.go
Labels: size/L, feature, LGTM, approved

#5381 feat(dws): add datasource to query workload plans
  docs/data-sources/dws_workload_plans.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_workload_plans_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_workload_plans.go
Labels: size/L, feature, LGTM, approved

#5385 feat(dws): add datasource to query LTS logs under specified cluster
  docs/data-sources/dws_cluster_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dws/data_source_huaweicloud_dws_cluster_logs_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_cluster_logs.go
Labels: size/M, feature, LGTM, approved

#5393 feat(dew): add a new datasource to get a list of secret versions
  docs/data-sources/csms_secret_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_csms_secret_versions_test.go
  huaweicloud/services/dew/data_source_huaweicloud_csms_secret_versions.go
Labels: size/M, feature, LGTM, approved

#5387 feat(dew): the keypair resource support user_id, kms_key_id parameter
  docs/resources/kps_keypair.md
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kps_keypair_test.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair.go
Labels: size/M, feature, LGTM, approved

#5397 chore(VPCEP): endpoint resource support new fields and fix some error
  docs/resources/vpcep_endpoint.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/vpcep/resource_huaweicloud_vpcep_endpoint_test.go
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/results.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/urls.go
  vendor/modules.txt
Labels: size/L, chore, dependencies, LGTM, approved

#5391 fix(fgs/dependency): Ignore the field setting for link parameter
  docs/resources/fgs_dependency_version.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_dependency_version_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency_version.go
Labels: size/S, bugfix, LGTM, approved

#5383 feat(dataarts/dataservice): new resources support for auth management
  docs/resources/dataarts_dataservice_api_auth.md
  docs/resources/dataarts_dataservice_api_auth_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_api_auth_action_test.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_api_auth_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api_auth.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api_auth_action.go
Labels: size/L, feature, LGTM, approved

#5396 feat: test(dataarts/dataservice): Ignore field setting for app_type parameter
  docs/resources/dataarts_dataservice_app.md
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_app_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_app.go
Labels: size/M, bugfix, feature, LGTM, test, approved

#5399 refactor(eg/channel): deprecate the channel_id filter and refactor the resource codes
  docs/data-sources/eg_custom_event_channels.md
  huaweicloud/services/acceptance/eg/data_source_huaweicloud_eg_custom_event_channels_test.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_custom_event_channels.go
Labels: size/M, chore, refactor, LGTM, approved

#5407 feat(cce): support enterprise_project_id in node and node pool
  docs/data-sources/cce_node.md
  docs/data-sources/cce_node_pool.md
  docs/data-sources/cce_nodes.md
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  go.mod
  go.sum
  huaweicloud/services/cce/data_source_huaweicloud_cce_node.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_node_pool_v3.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_nodes.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#5394 feat(secmaster): add datasource incidents
  docs/data-sources/secmaster_incidents.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_incidents_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_incidents.go
Labels: size/L, feature, LGTM, approved

#5404 feat(dataarts/dataservice): add new data source to query apps
  docs/data-sources/dataarts_dataservice_apps.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/data_source_huaweicloud_dataarts_dataservice_apps_test.go
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_dataservice_apps.go
Labels: size/L, feature, LGTM, approved

#5409 fix(apig/api): using exact match when the API importing
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
Labels: size/XS, bugfix, LGTM, approved

#5413 chore(DEW): refactor csms secret resource
  docs/resources/csms_secret.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_csms_secrets_test.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_csms_secret_test.go
  huaweicloud/services/dew/resource_huaweicloud_csms_secret.go
Labels: size/L, chore, LGTM, approved

#5377 feat(secmaster): add datasource baseline check results
  docs/data-sources/secmaster_baseline_check_results.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_baseline_check_results_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_baseline_check_results.go
Labels: size/M, feature, LGTM, approved

#5403 feat(ces): add resource CES dashboard
  docs/resources/ces_dashboard.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_dashboard_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_dashboard.go
Labels: size/L, feature, LGTM, approved

#5405 feat(eg/channel): add new data source to query official channels
  docs/data-sources/eg_event_channels.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eg/data_source_huaweicloud_eg_event_channels_test.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_custom_event_channels.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_event_channels.go
Labels: size/L, bugfix, chore, feature, LGTM, approved

#5408 feat(dataarts): Add new data source to query authorized APPs
  docs/data-sources/dataarts_dataservice_authorized_apps.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/data_source_huaweicloud_dataarts_dataservice_authorized_apps_test.go
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_dataservice_authorized_apps.go
Labels: size/L, feature, LGTM, approved

#5418 feat(dew): csms secret resource support new attributes
  docs/resources/csms_secret.md
  huaweicloud/services/acceptance/dew/resource_huaweicloud_csms_secret_test.go
  huaweicloud/services/dew/resource_huaweicloud_csms_secret.go
Labels: size/XS, feature, LGTM, approved

#5400 chore(waf): add checkDeleted logic
  huaweicloud/services/waf/resource_huaweicloud_waf_policy.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_anti_crawler.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_blacklist.go
Labels: size/XS, chore, LGTM, approved

#5402 chore(waf): add checkDeleted logic to the rule resource delete function
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_information_leakage_prevention.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_known_attack_source.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_precise_protection.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_web_tamper_protection.go
Labels: size/XS, chore, LGTM, approved

#5406 fix(waf): fix WAF reference table resource lint error and doucument description
  docs/resources/waf_reference_table.md
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_reference_table_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_reference_table.go
Labels: size/M, bugfix, LGTM, approved

#5414 chore(waf): add checkDeleted logic to the WAF resource
  huaweicloud/services/waf/resource_huaweicloud_waf_address_group.go
  huaweicloud/services/waf/resource_huaweicloud_waf_certificate.go
  huaweicloud/services/waf/resource_huaweicloud_waf_cloud_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_instance.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
Labels: size/S, chore, LGTM, approved

#5401 chore(waf): add checkDeleted logic to delete function
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_cc_protection.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_data_masking.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_geolocation_access_control.go
  huaweicloud/services/waf/resource_huaweicloud_waf_rule_global_protection_whitelist.go
Labels: size/XS, chore, LGTM, approved

#5420 feat(CCM): ccm prepaid private ca support eps ID
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_ca_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
Labels: size/S, feature, LGTM, approved

#5411 feat(ims/ecs_system_image): support `ecs_system_image` resource
  docs/resources/ims_ecs_system_image.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_ecs_system_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_system_image.go
Labels: size/L, feature, LGTM, approved

#5390 feat(secmaster): add data source metric results
  docs/data-sources/secmaster_metric_results.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_metric_results_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_metric_results.go
Labels: size/L, feature, LGTM, approved

#5417 fix(GaussDBforMySQL): fix gaussdb mysql instance
  huaweicloud/services/gaussdb/common.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
Labels: size/M, bugfix, LGTM, approved

#5423 fix(CCM): repair ccm private certificate resource field
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_certificate_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate.go
Labels: size/XS, bugfix, LGTM, approved

#5422 feat(rms): add new data_source assignment_package_scores
  docs/data-sources/rms_assignment_package_scores.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_assignment_package_scores_test.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_assignment_package_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_assignment_package_scores.go
Labels: size/M, feature, LGTM, approved

#5419 fix(aom): fix bug for eps ID and remove param tag
  docs/resources/aom_cloud_service_access.md
  docs/resources/aom_prom_instance.md
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_prom_instances_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_cloud_service_access_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_multi_account_aggregation_rule_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_prom_instance_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cloud_service_access.go
  huaweicloud/services/aom/resource_huaweicloud_aom_prom_instance.go
Labels: size/M, bugfix, LGTM, approved

#5421 feat(secmaster): add data source alerts
  docs/data-sources/secmaster_alerts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_alerts_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_alerts.go
Labels: size/XL, feature, LGTM, approved

#5424 feat(aom): support to get alarm rules
  docs/data-sources/aom_alarm_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_alarm_rules_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_alarm_rules.go
Labels: size/XL, feature, LGTM, approved

#5389 feat(aom): support dashboard management
  docs/data-sources/aom_dashboards.md
  docs/resources/aom_dashboard.md
  docs/resources/aom_dashboards_folder.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_dashboards_folders_test.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_dashboards_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_dashboard_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_dashboards_folder_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_dashboards.go
  huaweicloud/services/aom/resource_huaweicloud_aom_dashboard.go
  huaweicloud/services/aom/resource_huaweicloud_aom_dashboards_folder.go
Labels: size/L, feature, LGTM, approved

#5428 feat(GaussDBforMySQL): gaussdb mysql instance support more params update
  docs/resources/gaussdb_mysql_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/taurusdb/v3/instances/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5426 feat(secmaster): add data source playbooks
  docs/data-sources/secmaster_playbooks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_playbooks_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_playbooks.go
Labels: size/L, feature, LGTM, approved

#5433 feat(rms): add new data_source assignment_package_results
  docs/data-sources/rms_assignment_package_results.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_assignment_package_results_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_assignment_package_results.go
Labels: size/M, feature, LGTM, approved

#5431 chore(CCM): reconstruct CCM private certificate export data source
  docs/data-sources/ccm_private_certificate_export.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_ccm_private_certificate_export_test.go
  huaweicloud/services/ccm/data_source_huaweicloud_ccm_private_certificate_export.go
Labels: size/L, chore, LGTM, approved

#5437 feat(secmaster): add data source indicators
  docs/data-sources/secmaster_indicators.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_indicators_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_indicators.go
Labels: size/L, feature, LGTM, approved

#5435 feat(GaussDBforMySQL): add gaussdb mysql instance restart resource
  docs/resources/gaussdb_mysql_instance_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_restart_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_mysql_instance_restart.go
Labels: size/L, feature, LGTM, approved

#5430 feat(ims/ecs_whole_image): support `ecs_whole_image` resource
  docs/resources/ims_ecs_whole_image.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_ecs_whole_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_whole_image.go
Labels: size/L, feature, LGTM, approved

#5439 feat(rms): add new data_source resource_aggregator_discovered_resources
  docs/data-sources/rms_resource_aggregator_discovered_resources.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregator_discovered_resources_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregator_discovered_resources.go
Labels: size/L, feature, LGTM, approved

#5425 feat(ccm): add a new resource to manage private CA revoke
  docs/resources/ccm_private_ca_revoke.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_ca_revoke_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca_revoke.go
Labels: size/M, feature, LGTM, approved

#5432 feat(dew): the KMS key resource supports update epsId
  docs/resources/kms_key.md
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_key_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_key.go
Labels: size/S, feature, LGTM, approved

#5429 feat(ccm): add a new resource to manage private certificate revoke
  docs/resources/ccm_private_certificate_revoke.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_certificate_revoke_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate_revoke.go
Labels: size/M, feature, approved

#5441 feat(rms): add new data_source aggregator_policy_states
  docs/data-sources/rms_resource_aggregator_policy_states.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregator_policy_states_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregator_discovered_resources.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregator_policy_states.go
Labels: size/L, feature, LGTM, approved

#5443 feat(ims): support `evs_data_image` resource
  docs/resources/ims_evs_data_image.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_evs_data_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_system_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_data_image.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v2/cloudimages/requests.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5395 fix(dws): fix some resources cannot trigger the check checkdeleted logic
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/dws/resource_huaweicloud_dws_ext_data_source.go
  huaweicloud/services/dws/resource_huaweicloud_dws_logical_cluster.go
  huaweicloud/services/dws/resource_huaweicloud_dws_snapshot_policy.go
Labels: size/S, bugfix, LGTM, approved

#5412 fix(apig/workspace): using log.Printf instead of errors
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/XS, bugfix, LGTM, approved

#5427 feat(lts): supports creation host group of 'label' type
  docs/resources/lts_host_group.md
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_host_group_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_host_group.go
Labels: size/M, feature, LGTM, approved

#5415 fix(dws): fix some issues for cluster and logical cluster
  docs/resources/dws_cluster.md
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_disaster_recovery_tasks.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_event_subscriptions.go
  huaweicloud/services/dws/data_source_huaweicloud_dws_flavors.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/dws/resource_huaweicloud_dws_logical_cluster.go
Labels: size/M, bugfix, chore, LGTM, approved

#5444 feat(secmaster): add data source alert rules
  docs/data-sources/secmaster_alert_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_alert_rules_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_alert_rules.go
Labels: size/L, feature, LGTM, approved

#5445 chore(CCM): refactor CCM certificate push resource
  docs/resources/ccm_certificate_push.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_certifiacte_push_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_certificate_push.go
Labels: size/L, chore, LGTM, approved

#5447 feat(CES): add resource CES dashboard widget
  docs/resources/ces_dashboard_widget.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_dashboard_widget_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_dashboard_widget.go
Labels: size/XL, feature, LGTM, approved

#5451 chore(CCM): refactor CCM private certificate resource
  docs/resources/ccm_private_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_ccm_private_certificate_export_test.go
  huaweicloud/services/acceptance/ccm/data_source_huaweicloud_ccm_private_certificates_test.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_certificate_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_certificate.go
Labels: size/L, chore, LGTM, approved

#5454 fix(dataarts/dataservice): update the incorrect API reference
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_catalog.go
Labels: size/XS, bugfix, LGTM, approved

#5452 feat(secmaster): add data source alert rule templates
  docs/data-sources/secmaster_alert_rule_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_alert_rule_templates_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_alert_rule_templates.go
Labels: size/L, feature, LGTM, approved

#5456 feat(ces): add data source to get the list of CES dashboard widgets
  docs/data-sources/ces_dashboard_widgets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_dashboard_widgets_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_dashboard_widgets.go
Labels: size/L, feature, LGTM, approved

#5453 feat(rms): add new data_source aggregator_advanced_query
  docs/data-sources/rms_resource_aggregator_advanced_query.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregator_advanced_query_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_advanced_aggregator_query.go
Labels: size/M, feature, LGTM, approved

#5448 feat(rms): add new data_source aggregator_policy_assignments
  docs/data-sources/rms_resource_aggregator_policy_assignments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregator_policy_assignments_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregator_policy_assignments.go
Labels: size/L, feature, LGTM, approved

#5459 chore(SFSTurbo): rename sfs turbo directory from sfs to sfsturbo
  docs/data-sources/sfs_turbo_data_tasks.md
  docs/data-sources/sfs_turbo_du_tasks.md
  docs/data-sources/sfs_turbo_obs_targets.md
  docs/data-sources/sfs_turbo_perm_rules.md
  docs/data-sources/sfs_turbos.md
  docs/resources/sfs_turbo.md
  docs/resources/sfs_turbo_data_task.md
  docs/resources/sfs_turbo_dir.md
  docs/resources/sfs_turbo_dir_quota.md
  docs/resources/sfs_turbo_du_task.md
  docs/resources/sfs_turbo_obs_target.md
  docs/resources/sfs_turbo_perm_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfsturbo/data_source_huaweicloud_sfs_turbo_data_tasks_test.go
  huaweicloud/services/acceptance/sfsturbo/data_source_huaweicloud_sfs_turbo_du_tasks_test.go
  huaweicloud/services/acceptance/sfsturbo/data_source_huaweicloud_sfs_turbo_obs_targets_test.go
  huaweicloud/services/acceptance/sfsturbo/data_source_huaweicloud_sfs_turbo_perm_rules_test.go
  huaweicloud/services/acceptance/sfsturbo/data_source_huaweicloud_sfs_turbos_test.go
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_data_task_test.go
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_dir_quota_test.go
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_dir_test.go
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_du_task_test.go
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_obs_target_test.go
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_perm_rule_test.go
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_test.go
  huaweicloud/services/sfsturbo/data_source_huaweicloud_sfs_turbo_data_tasks.go
  huaweicloud/services/sfsturbo/data_source_huaweicloud_sfs_turbo_du_tasks.go
  huaweicloud/services/sfsturbo/data_source_huaweicloud_sfs_turbo_obs_targets.go
  huaweicloud/services/sfsturbo/data_source_huaweicloud_sfs_turbo_perm_rules.go
  huaweicloud/services/sfsturbo/data_source_huaweicloud_sfs_turbos.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_data_task.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_dir.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_dir_quota.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_du_task.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_obs_target.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_perm_rule.go
Labels: size/M, chore, LGTM, approved

#5461 feat(ces): add data source to get the list of CES alarm templates
  docs/data-sources/ces_alarm_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_alarm_templates_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_alarm_templates.go
Labels: size/L, feature, LGTM, approved

#5442 feat(dws): supports updating eip_id for the cluster
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_cluster_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_ext_data_source_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_logical_cluster_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_snapshot_policy_test.go
  huaweicloud/services/acceptance/dws/resource_huaweicloud_dws_snapshot_test.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
Labels: size/L, chore, feature, LGTM, approved

#5466 feat(CCM): CCM support a new resource to restore private CA
  docs/resources/ccm_private_ca_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_private_ca_restore_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca_restore.go
Labels: size/M, feature, LGTM, approved

#5450 feat(dew): add a new resource to manage secret version state
  docs/resources/csms_secret_version_state.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_csms_secret_version_state_test.go
  huaweicloud/services/dew/resource_huaweicloud_csms_secret_version_state.go
Labels: size/L, feature, LGTM, approved

#5463 feat(ELB): elb support gateway type
  docs/data-sources/elb_loadbalancers.md
  docs/resources/elb_listener.md
  docs/resources/elb_loadbalancer.md
  docs/resources/elb_member.md
  docs/resources/elb_monitor.md
  docs/resources/elb_pool.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_loadbalancers_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_certificate_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_listener_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_member_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_monitor_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_pool_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_loadbalancers.go
  huaweicloud/services/elb/resource_huaweicloud_elb_certificate.go
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5469 feat(ces): CES alarm template resource support template type
  docs/resources/ces_alarm_template.md
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarm_template_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarm_template.go
Labels: size/L, feature, LGTM, approved

#5467 feat(secmaster): add data source playbook versions
  docs/data-sources/secmaster_playbook_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_playbook_versions_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_playbook_versions.go
Labels: size/L, feature, LGTM, approved

#5462 feat(secmaster): add datasource playbook instances
  docs/data-sources/secmaster_playbook_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_playbook_instances_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_playbook_instances.go
Labels: size/L, feature, approved

#5474 docs(css): update css_es_loadbalancer_config document description
  docs/resources/css_es_loadbalancer_config.md
Labels: documentation, size/XS, LGTM, approved

#5464 fix(aom): fix hash func for alarm rule and remove precheck for some test
  docs/resources/aomv4_alarm_rule.md
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_action_rule_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_silence_rule_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_event_alarm_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aomv4_alarm_rule.go
Labels: size/S, bugfix, LGTM, approved

#5473 feat(ces): add data source to get the list of CES events
  docs/data-sources/ces_events.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_events_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_events.go
Labels: size/L, feature, LGTM, approved

#5472 feat(GaussDB): add gaussdb opengauss database resource
  docs/resources/gaussdb_opengauss_database.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_database_test.go
  huaweicloud/services/gaussdb/common.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_database.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/L, feature, LGTM, approved

#5477 docs(DDS): fix dds database versions doc example
  docs/data-sources/dds_database_versions.md
Labels: documentation, size/XS, LGTM, approved

#5475 feat(aom): add data source alarm rules templates
  docs/data-sources/aom_alarm_rules_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_alarm_rules_templates_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_alarm_rules.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_alarm_rules_templates.go
Labels: size/L, feature, LGTM, approved

#5480 chore(configs): append an error code about the account cross website
  huaweicloud/config/config.go
Labels: size/XS, chore, LGTM, approved

#5478 fix(dataarts/dataservice): API can create and update with or without params now
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_api_test.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api.go
Labels: breaking-change, size/M, bugfix, LGTM, approved

#5471 Update CHANGELOG for 1.68.0
  CHANGELOG.md
Labels: size/S, approved

#5476 feat(vpcep): add new datasource to get a VPC endpoint service summary information
  docs/data-sources/vpcep_service_summary.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpcep/data_source_huaweicloud_vpcep_service_summary_test.go
  huaweicloud/services/vpcep/data_source_huaweicloud_vpcep_service_summary.go
Labels: size/M, feature, LGTM, approved

#5479 feat(cce): replace service_network_cidr and support lts_reclaim_polic…
  docs/resources/cce_cluster.md
  go.mod
  go.sum
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#5465 feat(dataarts/dataservice): supports new resource and data source to manage exclusive messages
  docs/data-sources/dataarts_dataservice_messages.md
  docs/resources/dataarts_dataservice_message_approve.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_message_approve_test.go
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_dataservice_messages.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_message_approve.go
Labels: size/L, feature, LGTM, approved

#5481 feat(CCM): CCM support a new resource to deploy SSL certificate
  docs/resources/ccm_certificate_deploy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_certificate_deploy_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_certificate_deploy.go
Labels: size/L, feature, LGTM, approved

#5446 feat(eg/source): add a new data source to query all kinds of the event sources
  docs/data-sources/eg_custom_event_sources.md
  docs/data-sources/eg_event_sources.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eg/data_source_huaweicloud_eg_event_sources_test.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_custom_event_sources.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_event_sources.go
Labels: size/L, refactor, feature, LGTM, approved

#5449 feat(rfs/hook): add new resource to manage private hook
  docs/resources/rfs_private_hook.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/rfs/resource_huaweicloud_rfs_private_hook.go
Labels: size/L, feature, LGTM, approved

#5485 docs(argument): fix the incorrect description about length
  docs/resources/apig_api.md
  docs/resources/apig_application.md
  docs/resources/iotda_upgrade_package.md
  docs/resources/rfs_stack.md
Labels: documentation, size/XS, LGTM, approved
