Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2024-06, with the labels that each got.

#4947 fix(DRS): fix drs job delete
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/XS, bugfix, LGTM, approved

#4946 Update CHANGELOG for 1.65.0
  CHANGELOG.md
Labels: size/XS, approved

#4914 feat(cbh/ha_instance): supports startup, shutdown, and reboot actions
  docs/resources/cbh_ha_instance.md
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_ha_instance_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_ha_instance.go
Labels: size/L, bugfix, feature, LGTM, approved

#4932 feat(apig/app): support a new datasource to query quotas
  docs/data-sources/apig_application_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_application_quotas_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_application_quotas.go
Labels: size/L, feature, LGTM, approved

#4928 feat(css): add datasource CSS cluster tags
  docs/data-sources/css_cluster_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_cluster_tags_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_cluster_tags.go
Labels: size/M, feature, LGTM, approved

#4943 docs(css): fix CSS cluster markdown format error
  docs/resources/css_cluster.md
Labels: size/M, documentation, LGTM, approved

#4901 chore(fgs/function): supple missing API references
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/XS, chore, LGTM, approved

#4934 feat(ga): the accelerator and listener resource support update tags
  docs/resources/ga_accelerator.md
  docs/resources/ga_listener.md
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_accelerator_test.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_listener_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_accelerator.go
  huaweicloud/services/ga/resource_huaweicloud_ga_listener.go
Labels: size/M, feature, LGTM, approved

#4929 feat(dms): support to get rocketmq migration task list
  docs/data-sources/dms_rocketmq_migration_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_migration_tasks_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_migration_tasks.go
Labels: size/M, feature, LGTM, approved

#4923 feat(as): AS configuration resource support new fields
  docs/resources/as_configuration.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
Labels: size/L, feature, LGTM, approved

#4912 feat(RDS): add rds instance primary standby switch resource
  docs/resources/rds_primary_standby_switch.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_primary_standby_switch_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_primary_standby_switch.go
Labels: size/M, feature, LGTM, approved

#4938 feat(apig): add new datasource to query endpoint connections
  docs/data-sources/apig_endpoint_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_endpoint_connections_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_endpoint_connections.go
Labels: size/L, feature, LGTM, approved

#4905 feat(RDS): add rds restore mysql database table resource
  docs/resources/rds_mysql_database_table_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_database_table_restore_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database_table_restore.go
Labels: size/L, feature, LGTM, approved

#4915 feat(RDS): add rds shrinking database logs resource
  docs/resources/rds_database_logs_shrinking.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_database_logs_shrinking_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_database_logs_shrinking.go
Labels: size/M, feature, LGTM, approved

#4953 feat(dms): support to get rocketmq topic consumer groups list
  docs/data-sources/dms_rocketmq_topic_consumer_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_rocketmq_topic_consumer_groups_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_topic_consumer_groups.go
Labels: size/M, feature, LGTM, approved

#4864 refactor(dli): recommand the exclusive type queues and deprecate the vpc_cidr parameter
  docs/resources/dli_queue.md
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_queue_test.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
Labels: size/L, chore, refactor, LGTM, test, approved

#4952 feat(dms): support to get kafka topics list
  docs/data-sources/dms_kafka_topics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_topics_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_topics.go
Labels: size/L, feature, LGTM, approved

#4955 refactor(apig): using new codes of auto-gen style to instead old codes
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_instance.go
Labels: size/L, chore, refactor, LGTM, safe to test, approved

#4959 fix: docs(DC): Remove DC validation functions and fix DC documentations
  docs/resources/dc_virtual_gateway.md
  docs/resources/dc_virtual_interface.md
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_gateway.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/M, documentation, bugfix, LGTM, approved

#4954 feat(dms): support to get kafka consumer groups list
  docs/data-sources/dms_kafka_consumer_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_consumer_groups_test.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_consumer_group_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_consumer_groups.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_consumer_group.go
Labels: size/L, feature, LGTM, approved

#4941 feat(css): add CSS cluster attributes
  docs/resources/css_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/M, feature, LGTM, approved

#4957 feat(DC): DC supports new accepter resource to manage virtual interface
  docs/resources/dc_virtual_interface_accepter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_accepter_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface_accepter.go
Labels: size/M, feature, LGTM, approved

#4924 feat(apig/quota): add new resource to associate apps
  docs/resources/apig_application_quota_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_quota_associate_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application_quota_associate.go
Labels: size/L, feature, LGTM, safe to test, approved

#4908 feat(apig/app): new resource and data source are support for ACL rules
  docs/data-sources/apig_application_acl.md
  docs/resources/apig_application_acl.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_application_acl_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_acl_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_application_acl.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application_acl.go
Labels: size/L, feature, LGTM, safe to test, approved

#4956 chore(apig): add checkdeleted to delete logic
  huaweicloud/services/apig/resource_huaweicloud_apig_acl_policy.go
  huaweicloud/services/apig/resource_huaweicloud_apig_acl_policy_associate.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application_authorization.go
  huaweicloud/services/apig/resource_huaweicloud_apig_channel.go
  huaweicloud/services/apig/resource_huaweicloud_apig_custom_authorizer.go
  huaweicloud/services/apig/resource_huaweicloud_apig_response.go
  huaweicloud/services/apig/resource_huaweicloud_apig_signature.go
  huaweicloud/services/apig/resource_huaweicloud_apig_signature_associate.go
  huaweicloud/services/apig/resource_huaweicloud_apig_throttling_policy_associate.go
Labels: size/S, chore, LGTM, approved

#4966 docs(fgs/function): the behavior of code type param is required now
  docs/resources/fgs_function.md
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: documentation, size/XS, LGTM, approved

#4948 feat(as): add datasource to get the list of the AS group notifications
  docs/data-sources/as_notifications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_notifications_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_notifications.go
Labels: size/M, feature, LGTM, approved

#4970 feat(as): AS configuration resource supports three new fields
  docs/resources/as_configuration.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
Labels: size/M, feature, LGTM, approved

#4971 chore(apig): delete method supports checkdeleted function
  huaweicloud/services/apig/resource_huaweicloud_apig_application.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application_quota.go
  huaweicloud/services/apig/resource_huaweicloud_apig_plugin.go
Labels: size/XS, chore, LGTM, approved

#4708 feat(dataarts): add new resource to manage apis
  docs/resources/dataarts_dataservice_api.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dataarts/resource_huaweicloud_dataarts_dataservice_api_test.go
  huaweicloud/services/dataarts/common.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_dataservice_api.go
Labels: size/XL, feature, LGTM, approved

#4973 feat(AS): fix AS group resource 404 error check
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/XS, feature, LGTM, approved

#4967 feat(css): add CSS logstash attributes
  docs/resources/css_logstash_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
Labels: size/XS, feature, LGTM, approved

#4975 feat(AS): AS support new datasource to query instances
  docs/data-sources/as_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_instances_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_instances.go
Labels: size/L, feature, LGTM, approved

#4958 refactor(rms): add status wait in org policy assignment
  docs/resources/rms_organizational_policy_assignment.md
  huaweicloud/services/rms/resource_huaweicloud_rms_organizational_policy_assignment.go
Labels: size/S, refactor, LGTM, approved

#4982 feat(ELB): elb loadbalancer support param ipv6_address
  docs/resources/elb_loadbalancer.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
Labels: size/M, feature, LGTM, approved

#4972 feat(cbh): instance support update vpc
  docs/resources/cbh_ha_instance.md
  docs/resources/cbh_instance.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_ha_instance_test.go
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_instance_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_ha_instance.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_instance.go
Labels: size/L, feature, LGTM, approved

#4985 feat(iam): add new data_source virtual_mfa_devices
  docs/data-sources/identity_virtual_mfa_devices.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iam/data_source_huaweicloud_identity_virtual_mfa_devices_test.go
  huaweicloud/services/iam/data_source_huaweicloud_identity_virtual_mfa_devices.go
Labels: size/M, feature, LGTM, approved

#4980 feat(dns): add datasource to get dns resource quotas
  docs/data-sources/dns_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_quotas_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_quotas.go
Labels: size/L, feature, LGTM, approved

#4883 feat(apig): add datasource to get api details
  docs/data-sources/apig_api.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_basic_configurations_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api_basic_configurations.go
Labels: size/XL, chore, feature, LGTM, approved

#4968 feat(fgs): add new datasource to get function triggers
  docs/data-sources/fgs_function_triggers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_function_triggers_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_function_triggers.go
Labels: size/L, feature, LGTM, approved

#4993 test(apig): upgrade script contents to avoid update operation
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_applications_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_custom_authorizers_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_throttling_policies_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_certificate_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_channel_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_custom_authorizer_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_endpoint_whitelist_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_environment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_environment_variable_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_instance_routes_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_plugin_associate_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_plugin_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_throttling_policy_test.go
Labels: size/L, LGTM, test, approved

#4977 chore(apig/plugin): checkdeleted support for associate resource
  huaweicloud/services/apig/resource_huaweicloud_apig_plugin_associate.go
Labels: size/XS, chore, LGTM, approved

#4979 feat(css/flavor): data source supports az attribute
  docs/data-sources/css_flavors.md
  go.mod
  go.sum
  huaweicloud/services/css/data_source_huaweicloud_css_flavors.go
  vendor/github.com/chnsz/golangsdk/openstack/css/v1/cluster/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#4988 feat(DC): DC virtual interface support new computed attributes
  docs/data-sources/dc_virtual_interfaces.md
  docs/resources/dc_virtual_interface.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dc/data_source_huaweicloud_dc_virtual_interfaces_test.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_virtual_interfaces.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
  vendor/github.com/chnsz/golangsdk/openstack/dc/v3/interfaces/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#4969 chore(apig/whitelist): adjust err returns and the param description
  docs/resources/apig_endpoint_whitelist.md
  huaweicloud/services/apig/resource_huaweicloud_apig_endpoint_whitelist.go
Labels: size/S, chore, LGTM, approved

#4991 feat(cts): resource cts_tracker and cts_data_tracker support agency_name attribute
  docs/resources/cts_data_tracker.md
  docs/resources/cts_tracker.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_data_tracker_test.go
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/XS, feature, LGTM, approved

#4965 feat(css): support changing CSS cluster to pre-paid mode
  docs/resources/css_cluster.md
  docs/resources/css_logstash_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
Labels: size/L, feature, LGTM, approved

#4990 feat(css): add resource CSS manual log backup
  docs/resources/css_manual_log_backup.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_manual_log_backup_test.go
  huaweicloud/services/css/resource_huaweicloud_css_manual_log_backup.go
Labels: size/L, feature, LGTM, approved

#5005 chore: retry only once
  huaweicloud/config/upgrade.go
Labels: size/XS, chore, LGTM, approved

#4998 feat(auth): add sso config support
  huaweicloud/config/auth.go
  huaweicloud/provider.go
Labels: size/S, feature, LGTM, approved

#5006 Update CHANGELOG for 1.65.1
  CHANGELOG.md
Labels: size/XS, approved

#5008 chore(releaser): replace --rm-dist with --clean
  .github/workflows/release.yml
Labels: size/XS, chore, LGTM, approved

#4962 feat(dms): support to get kafka users list
  docs/data-sources/dms_kafka_users.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_users_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_users.go
Labels: size/M, feature, LGTM, approved

#4964 feat(dms): support to get kafka user client quotas list
  docs/data-sources/dms_kafka_user_client_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_user_client_quotas_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_user_client_quotas.go
Labels: size/M, feature, LGTM, approved

#4974 feat(dms): support to get kafka instance extend flavors
  docs/data-sources/dms_kafka_extend_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/data_source_huaweicloud_dms_kafka_extend_flavors_test.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_extend_flavors.go
Labels: size/L, feature, LGTM, approved

#5003 feat(cc): data source central networks support filtering by tags.
  docs/data-sources/cc_central_networks.md
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_central_networks_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_central_networks.go
Labels: size/S, feature, LGTM, approved

#4632 refactor(cdn): make ForceNew of name configurable
  docs/resources/cdn_domain.md
  huaweicloud/config/config.go
  huaweicloud/config/force_new.go
  huaweicloud/provider.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
  huaweicloud/utils/utils.go
Labels: size/M, refactor, LGTM, approved

#5001 feat(as): add a new datasource to get list of planned tasks
  docs/data-sources/as_planned_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_planned_tasks_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_planned_tasks.go
Labels: size/L, feature, LGTM, approved

#5010 fix(AS): fix AS group resource issues of codes, documents and test cases.
  docs/resources/as_group.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/L, documentation, bugfix, LGTM, approved

#4995 feat(cbh/asset_agency_authorization): support asset agency authorization resource
  docs/resources/cbh_asset_agency_authorization.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_asset_agency_authorization_test.go
  huaweicloud/services/cbh/resource_huaweicloud_cbh_asset_agency_authorization.go
Labels: size/L, feature, LGTM, approved

#4987 feat(dns): add datasource to get custom lines
  docs/data-sources/dns_custom_lines.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_custom_lines_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_custom_lines.go
Labels: size/L, feature, LGTM, approved

#4996 feat(dns/zone): the public zone supports modifying status
  docs/resources/dns_zone.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_zone_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_zone.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/zones/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/zones/urls.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#4992 feat(dc): add a new datasource to get the list of connections
  docs/data-sources/dc_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dc/data_source_huaweicloud_dc_connections_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_connections.go
Labels: size/L, feature, LGTM, approved

#5009 feat(as): add a datasource to get list of AS instances hanging information
  docs/data-sources/as_hook_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_hook_instances_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_hook_instances.go
Labels: size/L, feature, LGTM, approved

#5014 fix(as): fixed an issue caused by resource modification
  huaweicloud/services/as/data_source_huaweicloud_as_configurations.go
Labels: size/M, bugfix, LGTM, approved

#5015 chore(ci): update the markdown check
  scripts/markdown_check/main.go
Labels: size/XS, chore, LGTM, approved

#4997 fix(ELB): fix elb active standby pool
  docs/data-sources/elb_active_standby_pools.md
  docs/resources/elb_active_standby_pool.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_active_standby_pools_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_active_standby_pool_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_active_standby_pools.go
  huaweicloud/services/elb/resource_huaweicloud_elb_active_standby_pool.go
Labels: size/M, bugfix, LGTM, approved

#4984 feat(cfw): add resource CFW ACL rule
  docs/resources/cfw_acl_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_acl_rule_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_acl_rule.go
Labels: size/XL, feature, LGTM, approved

#5016 refactor(AS): refactor AS group resource method
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/M, refactor, LGTM, approved

#5021 Update CHANGELOG for 1.65.2
  CHANGELOG.md
Labels: size/XS, approved

#4989 fix(ELB): fix elb pool
  docs/data-sources/elb_pools.md
  docs/resources/elb_pool.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_pool_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_pools.go
  huaweicloud/services/elb/resource_huaweicloud_elb_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/topics/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/topics/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/pools/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/pools/results.go
Labels: size/M, bugfix, LGTM, approved

#5011 feat(ELB): elb l7 policy add params
  docs/resources/elb_l7policy.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_l7policy_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7policy.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/l7policies/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/l7policies/results.go
  vendor/modules.txt
Labels: size/XL, feature, dependencies, LGTM, approved

#4986 feat(dms): support to set file reserved time for rocketmq instance
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/M, feature, LGTM, approved

#5019 feat(RDS): add rds extend log files data source
  docs/data-sources/rds_extend_log_files.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_extend_log_files_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_extend_log_files.go
Labels: size/M, feature, LGTM, approved

#5024 feat(RDS): add rds slow log files data source
  docs/data-sources/rds_slow_log_files.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_slow_log_files_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_slow_log_files.go
Labels: size/M, feature, LGTM, approved

#5025 fix(AS): Fix some problems with AS group resource and add new fields
  docs/resources/as_group.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/groups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/groups/results.go
  vendor/modules.txt
Labels: size/M, bugfix, dependencies, LGTM, approved

#5017 feat(lts): log group and log stream supports tags
  docs/resources/lts_stream.md
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_group_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_stream_test.go
  huaweicloud/services/lts/common.go
  huaweicloud/services/lts/resource_huaweicloud_lts_group.go
  huaweicloud/services/lts/resource_huaweicloud_lts_stream.go
Labels: size/M, refactor, feature, LGTM, approved

#5027 feat(RDS): add rds postgresql roles data source
  docs/data-sources/rds_pg_roles.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_roles_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_pg_roles.go
Labels: size/M, feature, LGTM, approved

#5030 feat(RDS): add rds extend link resource
  docs/data-sources/rds_extend_log_links.md
  docs/resources/rds_extend_log_link.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_extend_log_links_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_extend_log_link_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_extend_log_links.go
  huaweicloud/services/rds/resource_huaweicloud_rds_extend_log_link.go
Labels: size/L, feature, LGTM, approved

#5035 fix(ELB): remove validation from elb security policy
  huaweicloud/services/elb/resource_huaweicloud_elb_security_policy.go
Labels: size/XS, bugfix, LGTM, approved

#5020 fix(cts): fix the malfunction of the enabled field.
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_data_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
Labels: size/S, bugfix, LGTM, approved

#5013 chore(cts): add the operation_users field to the test case to improve coverage
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_notification_test.go
Labels: size/XS, chore, LGTM, approved

#5029 feat(access_analyzer): add new resource analyzer
  docs/resources/access_analyzer.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/accessanalyzer/huaweicloud_access_analyzer_test.go
  huaweicloud/services/accessanalyzer/resource_huaweicloud_access_analyzer.go
Labels: size/L, feature, LGTM, approved

#5026 feat(cts): CTS tracker supports deletion.
  docs/resources/cts_tracker.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/M, feature, LGTM, approved

#5036 docs(ELB): fix elb loadbalancer doc
  docs/resources/elb_loadbalancer.md
Labels: size/S, documentation, LGTM, approved

#5037 fix(DDS): fix dds backup
  huaweicloud/services/dds/common.go
  huaweicloud/services/dds/resource_huaweicloud_dds_backup.go
Labels: size/M, bugfix, LGTM, approved

#4963 feat(css): add datasource CSS log backup records
  docs/data-sources/css_log_backup_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/data_source_huaweicloud_css_log_backup_records_test.go
  huaweicloud/services/css/data_source_huaweicloud_css_log_backup_records.go
Labels: size/L, feature, LGTM, approved

#5033 feat(hss): support ransomware protection policies datasource
  docs/data-sources/hss_ransomware_protection_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_ransomware_protection_policies_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_ransomware_protection_policies.go
Labels: size/L, feature, LGTM, approved

#5028 feat(hss): support quotas datasource
  docs/data-sources/hss_quotass.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_quotas_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_quotas.go
Labels: size/L, feature, LGTM, approved

#5053 feat(as): support lifecycle hook callback resource
  docs/resources/as_lifecycle_hook_callback.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_lifecycle_hook_callback_test.go
  huaweicloud/services/as/resource_huaweicloud_as_lifecycle_hook_callback.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/lifecyclehooks/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/lifecyclehooks/results.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/lifecyclehooks/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#5007 feat(lts): add datasource to get lts log groups
  docs/data-sources/lts_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_groups_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_groups.go
Labels: size/M, feature, LGTM, approved

#5018 feat(dms): support new api for kafka smart connect task
  docs/resources/dms_kafkav2_smart_connect_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafkav2_smart_connect_task_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafkav2_smart_connect_task.go
Labels: size/XL, feature, LGTM, approved

#5022 feat(lts): add datasource to get notification templates
  docs/data-sources/lts_notification_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_notification_templates_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_notification_templates.go
Labels: size/L, feature, LGTM, approved

#5052 fix(lts/group): fix the issue that tags cannot be deleted
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_group_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_group.go
Labels: size/XS, bugfix, LGTM, approved

#5042 feat(lts): add datasource get all log streams
  docs/data-sources/lts_streams.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_streams_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_streams.go
Labels: size/L, feature, LGTM, approved

#5054 feat(rms): add new resource policy_assignment_evaluate
  docs/resources/rms_policy_assignment_evaluate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_policy_assignment_evaluate_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_policy_assignment_evaluate.go
Labels: size/M, feature, LGTM, approved

#5043 fix(RDS): fix rds primary standby switch api comments
  huaweicloud/services/rds/resource_huaweicloud_rds_primary_standby_switch.go
Labels: size/XS, bugfix, LGTM, approved

#5047 feat(RDS): add rds audit log links data source
  docs/data-sources/rds_sql_audit_log_links.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_sql_audit_log_links_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_sql_audit_log_links.go
Labels: size/M, feature, LGTM, approved

#5048 feat(lts): add datasource to get all serach criteria
  docs/data-sources/lts_search_criteria.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_search_criterias_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_search_criteria.go
Labels: size/M, feature, LGTM, approved

#5045 feat(lts): add datasource to get all host groups
  docs/data-sources/lts_host_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_host_groups_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_host_groups.go
Labels: size/L, feature, LGTM, approved

#5041 feat(asm): add new resource asm mesh
  docs/resources/asm_mesh.md
  huaweicloud/config/endpoints.go
  huaweicloud/config/force_new.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/asm/resource_huaweicloud_asm_mesh_test.go
  huaweicloud/services/asm/resource_huaweicloud_asm_mesh.go
Labels: size/L, feature, LGTM, approved

#5061 fix(CCM): fix ccm certificate push resource function name
  huaweicloud/services/ccm/resource_huaweicloud_ccm_certificate_push.go
Labels: size/XS, bugfix, LGTM, approved

#5051 feat(css): add resource CSS cluster node replace
  docs/resources/css_cluster_node_replace.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_node_replace_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster_node_replace.go
Labels: size/M, feature, LGTM, approved

#5044 feat(css): support CSS cluster shrinking node
  docs/resources/css_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/M, feature, LGTM, approved

#5032 feat(css): add resource logstash connectivity
  docs/resources/css_logstash_connectivity.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_connectivity_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_connectivity.go
Labels: size/L, feature, LGTM, approved

#5031 feat(as): the AS policy resource supports new API
  docs/resources/as_policy.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
Labels: size/S, feature, LGTM, approved

#5064 fix(dms): fix set for topics in smart connect task
  huaweicloud/services/dms/resource_huaweicloud_dms_kafkav2_smart_connect_task.go
Labels: size/XS, bugfix, LGTM, approved

#5059 chore(dms): add attrs and fix acctest for rabbitmq instance
  docs/resources/dms_rabbitmq_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_rabbitmq_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_rabbitmq_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/availablezones/results.go
  vendor/modules.txt
Labels: size/S, chore, dependencies, LGTM, approved

#5058 feat(CCM): CCM support new resource to buy SSL certificate
  docs/resources/ccm_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ccm/resource_huaweicloud_ccm_certificate_test.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_certificate.go
Labels: size/XL, feature, LGTM, approved

#5063 fix(ELB): fix elb listener
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
Labels: size/XS, bugfix, LGTM, approved

#5046 chore(dms): fix the wait func and acctest for updating parameters
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/urls.go
Labels: size/M, chore, LGTM, approved

#5057 feat(dms): support to create action for kafka smart connect task
  docs/resources/dms_kafka_smart_connect_task_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_smart_connect_task_action_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_smart_connect_task_action.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafkav2_smart_connect_task.go
Labels: size/L, feature, LGTM, approved

#5039 feat(RDS): add rds slow log link data source
  docs/data-sources/rds_slow_log_link.md
  docs/resources/rds_extend_log_link.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_slow_log_link_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_slow_log_link.go
  huaweicloud/services/rds/resource_huaweicloud_rds_extend_log_link.go
Labels: size/M, feature, LGTM, approved

#5067 fix(cts): add a procedure to manage error codes from Huawei SDK when fetching the system tracker
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/XS, bugfix, LGTM, approved

#5068 fix(CC): fix the script error in the central network attachment test case
  huaweicloud/services/acceptance/cc/resource_huaweicloud_cc_central_network_attachment_test.go
Labels: size/XS, bugfix, LGTM, approved

#5056 feat(lts/transfer): new data source to query log transfers
  docs/data-sources/lts_transfers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_transfer_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_transfers.go
Labels: size/L, feature, LGTM, approved

#5072 fix(ELB): fix elb listener
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
Labels: size/XS, bugfix, LGTM, approved

#5069 feat(er/quota): add new data source to query quotas
  docs/data-sources/er_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_quotas_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_quotas.go
Labels: size/L, feature, LGTM, approved

#5073 feat(er/routes): add new data source to query available routes
  docs/data-sources/er_available_routes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_available_routes_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_available_routes.go
Labels: size/L, feature, LGTM, approved

#5077 fix(drs): fix wait func and add acctest for job
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
  huaweicloud/services/drs/resource_huaweicloud_drs_job.go
Labels: size/S, bugfix, LGTM, approved

#5038 fix(apig/instance): fix the reference of the data source attr
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_instances_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_instances.go
Labels: size/XS, bugfix, LGTM, approved

#5002 feat(dataarts): add new data source to query apis
  docs/data-sources/dataarts_dataservice_apis.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dataarts/data_source_huaweicloud_dataarts_dataservice_apis_test.go
  huaweicloud/services/dataarts/data_source_huaweicloud_dataarts_dataservice_apis.go
Labels: size/XL, feature, LGTM, approved

#5034 feat: test(apig/api): supports new params and rewrite the UT
  docs/data-sources/apig_api.md
  docs/data-sources/apig_api_basic_configurations.md
  docs/resources/apig_api.md
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_basic_configurations_test.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_api_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_publishment_test.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_api_basic_configurations.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/apis/results.go
Labels: size/XL, feature, LGTM, test, approved

#5076 feat(vpc): support tags in resource network ACL
  docs/resources/vpc_network_acl.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_network_acl_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_network_acl.go
Labels: size/S, feature, LGTM, approved

#5070 feat(vpc): support tags in resource secgroup
  docs/resources/networking_secgroup.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_networking_secgroup_test.go
  huaweicloud/services/vpc/resource_huaweicloud_networking_secgroup.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
Labels: size/S, feature, LGTM, approved

#5080 test(er): fix the failure UT design
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_associations_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_propagations_test.go
Labels: size/M, LGTM, test, approved

#5060 refactor(lts): renaming structuring configuration resource
  docs/resources/lts_structing_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_structing_template_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_structing_template.go
Labels: size/S, refactor, LGTM, approved

#5079 test(cfw): use the dest_rule_id attribute in the test case to improve coverage
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_acl_rule_test.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_protection_rule_test.go
Labels: size/M, chore, LGTM, test, approved

#5081 test(ELB): fix elb test
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_active_standby_pools_test.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_l7policies_test.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_monitors_test.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_pools_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_certificate_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_l7policy_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_listener_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_pool_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_slow_log_files_test.go
Labels: size/L, LGTM, test, approved

#5078 feat(css): add resource CSS cluster az migrate
  docs/resources/css_cluster_az_migrate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_az_migrate_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster_az_migrate.go
Labels: size/L, feature, LGTM, approved

#5071 feat(DDM): fix ddm instance
  docs/resources/ddm_instance.md
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_test.go
  huaweicloud/services/ddm/common.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_schema.go
Labels: size/L, feature, LGTM, approved

#5082 fix: refactor(er/instance): fix the update problems and update the code format
  docs/resources/er_instance.md
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_instance_test.go
  huaweicloud/services/er/resource_huaweicloud_er_instance.go
Labels: size/L, bugfix, chore, LGTM, approved

#5066 fix(dms): fix get all pages for dms data source
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_consumer_groups.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_topics.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_user_client_quotas.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_migration_tasks.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_topic_consumer_groups.go
Labels: size/XS, bugfix, LGTM, approved

#5085 test(dds/drs): fix import verify ignore for acctest
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
  huaweicloud/services/acceptance/drs/resource_huaweicloud_drs_job_test.go
Labels: size/XS, bugfix, LGTM, test, approved

#5089 test(eip): fix acctest for geip associate
  huaweicloud/services/acceptance/eip/resource_huaweicloud_global_internet_bandwidth_test.go
Labels: size/XS, bugfix, LGTM, test, approved

#5074 feat(cdn): add a new datasource to get list of CDN logs
  docs/data-sources/cdn_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_logs_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_logs.go
Labels: size/L, feature, LGTM, approved

#5083 test(cts): enhance the coverage of the data source CTS notifications test case by adding more filters
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_notifications_test.go
Labels: size/S, chore, LGTM, test, approved

#5088 chore(cfw): remove redundant code due to changes in creation interface
  huaweicloud/services/cfw/resource_huaweicloud_cfw_lts_log.go
Labels: size/XS, chore, feature, LGTM, approved

#5075 feat(lts/aom_access): add datasource to query aom accesses
  docs/data-sources/lts_aom_accesses.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_aom_accesses_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_aom_access_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_aom_accesses.go
Labels: size/L, chore, feature, LGTM, approved

#5086 chore(dns): fix failed acceptance test and improve coverage
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_zones_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_resolver_rule_associate_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_zone_test.go
Labels: size/M, chore, LGTM, approved

#5084 fix(ELB): fix share elb
  huaweicloud/services/lb/data_source_huaweicloud_lb_pools.go
  huaweicloud/services/lb/resource_huaweicloud_lb_l7rule.go
Labels: size/XS, bugfix, LGTM, approved

#5062 feat(DDM): add ddm instance restart resource
  docs/resources/ddm_instance_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ddm/resource_huaweicloud_ddm_instance_restart_test.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_instance_restart.go
Labels: size/M, feature, LGTM, approved

#5090 test(DCS): fix dcs test
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_instances_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_account_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
Labels: size/M, LGTM, test, approved

#5093 feat(access_analyzer): add new resource archive rule
  docs/resources/access_analyzer_achive_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/accessanalyzer/huaweicloud_access_analyzer_archive_rule_test.go
  huaweicloud/services/accessanalyzer/resource_huaweicloud_access_analyzer_archive_rule.go
Labels: size/L, feature, LGTM, approved

#5098 test(dds): add acctest for instance and user
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_database_user_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_v3_test.go
Labels: size/M, LGTM, test, approved

#5100 fix(dms): fix data source for kafka and rocketmq
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_consumer_groups.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_kafka_user_client_quotas.go
  huaweicloud/services/dms/data_source_huaweicloud_dms_rocketmq_migration_tasks.go
Labels: size/M, bugfix, LGTM, approved

#5092 chore(css): css cluster engine_version and availability_zone field set non updatable
  docs/resources/css_cluster.md
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/XS, chore, LGTM, approved

#5094 feat(eps): add new resource to grant eps capability
  docs/resources/enterprise_project_authority.md
  huaweicloud/provider.go
  huaweicloud/services/eps/resource_huaweicloud_enterprise_project_authority.go
Labels: size/S, feature, LGTM, approved

#5096 chore: fix: test(er/ut): improve coverage of resource codes
  docs/resources/er_static_route.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_associations_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_attachments_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_available_routes_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_flow_logs_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_instances_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_propagations_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_quotas_test.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_route_table_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_association_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_flow_log_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_instance_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_propagation_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_route_table_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_static_route_test.go
  huaweicloud/services/acceptance/er/resource_huaweicloud_er_vpc_attachment_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_associations.go
  huaweicloud/services/er/data_source_huaweicloud_er_attachments.go
  huaweicloud/services/er/data_source_huaweicloud_er_flow_logs.go
  huaweicloud/services/er/data_source_huaweicloud_er_instances.go
  huaweicloud/services/er/data_source_huaweicloud_er_propagations.go
  huaweicloud/services/er/data_source_huaweicloud_er_route_tables.go
  huaweicloud/services/er/resource_huaweicloud_er_association.go
  huaweicloud/services/er/resource_huaweicloud_er_flow_log.go
  huaweicloud/services/er/resource_huaweicloud_er_instance.go
  huaweicloud/services/er/resource_huaweicloud_er_propagation.go
  huaweicloud/services/er/resource_huaweicloud_er_route_table.go
  huaweicloud/services/er/resource_huaweicloud_er_static_route.go
  huaweicloud/services/er/resource_huaweicloud_er_vpc_attachment.go
  vendor/github.com/chnsz/golangsdk/openstack/er/v3/attachments/results.go
  vendor/modules.txt
Labels: size/XL, chore, dependencies, LGTM, test, approved

#5102 Add CHANGELOG for v1.66.0
  CHANGELOG.md
Labels: size/XS, approved
