Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2025-09, with the labels that each got.

#7694 fix(Config): fix config api comments
  huaweicloud/services/rms/data_source_huaweicloud_rms_policy_assignment_evaluate_status.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_policy_states.go
Labels: size/XS, bugfix, LGTM, approved

#7696 fix(cts): change names of schema and functions
  huaweicloud/provider.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_resource_tags.go
Labels: size/XS, bugfix, LGTM, approved

#7695 feat(COC): add COC script new param resource
  docs/resources/coc_script.md
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_script_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_script.go
Labels: size/M, feature, LGTM, approved

#7680 feat(secmaster): add data source to get an alert rule template (v1/v2) detail
  docs/data-sources/secmaster_alert_rule_template_detail.md
  docs/data-sources/secmasterv2_alert_rule_template_detail.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_alert_rule_template_detail_test.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmasterv2_alert_rule_template_detail_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_alert_rule_template_detail.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmasterv2_alert_rule_template_detail.go
Labels: size/XL, feature, LGTM, approved

#7700 feat(dms): add new resource to diagnose nodes
  docs/resources/dms_rocketmq_instance_diagnosis.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rocketmq/resource_huaweicloud_dms_rocketmq_instance_diagnosis_test.go
  huaweicloud/services/rocketmq/resource_huaweicloud_dms_rocketmq_instance_diagnosis.go
Labels: size/L, feature, LGTM, approved

#7705 feat(SecMaster): support `secmaster_retrieve_scripts` and `secmaster_tables` data sources
  docs/data-sources/secmaster_retrieve_scripts.md
  docs/data-sources/secmaster_tables.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_retrieve_scripts_test.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_tables_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_retrieve_scripts.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_tables.go
Labels: size/XL, size/L, feature, LGTM, approved

#7671 feat(COC): add COC group resource relation resource
  docs/resources/coc_group_resource_relation.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_group_resource_relation_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_group_resource_relation.go
Labels: size/M, feature, LGTM, approved

#7675 feat(COC): add COC resource uniagent sync resource
  docs/resources/coc_resource_uniagent_sync.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_resource_uniagent_sync_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_resource_uniagent_sync.go
Labels: size/M, feature, LGTM, approved

#7707 feat(rabbitmq): add 'arguments' field for exchange resource and data source
  docs/data-sources/dms_rabbitmq_exchanges.md
  docs/resources/dms_rabbitmq_exchange.md
  huaweicloud/services/acceptance/rabbitmq/data_source_huaweicloud_dms_rabbitmq_exchanges_test.go
  huaweicloud/services/acceptance/rabbitmq/resource_huaweicloud_dms_rabbitmq_exchange_test.go
  huaweicloud/services/rabbitmq/data_source_huaweicloud_dms_rabbitmq_exchanges.go
  huaweicloud/services/rabbitmq/resource_huaweicloud_dms_rabbitmq_exchange.go
Labels: size/M, bugfix, feature, LGTM, approved

#7685 feat(COC): add COC other resource uniagent sync resource
  docs/resources/coc_other_resource_uniagent_sync.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_other_resource_uniagent_sync_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_other_resource_uniagent_sync.go
Labels: size/M, feature, LGTM, approved

#7698 feat(COC): add COC instance batches data source
  docs/data-sources/coc_instance_batches.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_instance_batches_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_instance_batches.go
Labels: size/L, feature, LGTM, approved

#7714 feat(VPN): support to reset connection
  docs/resources/vpn_connection_reset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_connection_reset_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection_reset.go
Labels: size/M, feature, LGTM, approved

#7716 feat(CC): add cc site network capabilities data source
  docs/data-sources/cc_site_network_capabilities.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_site_network_capabilities_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_site_network_capabilities.go
Labels: size/L, feature, LGTM, approved

#7703 feat(rocketmq): add new data source to get topic list
  docs/data-sources/dms_rocketmq_consumer_group_topics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rocketmq/data_source_huaweicloud_dms_rocketmq_consumer_group_topics_test.go
  huaweicloud/services/rocketmq/data_source_huaweicloud_dms_rocketmq_consumer_group_topics.go
Labels: size/L, feature, LGTM, approved

#7709 feat(secmaster): new resource to delete policies
  docs/resources/secmaster_delete_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_delete_policies_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_delete_policies.go
Labels: size/M, feature, LGTM, approved

#7715 feat(secmaster): new datasource to query table histograms
  docs/data-sources/secmaster_table_histograms.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_table_histograms_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_table_histograms.go
Labels: size/M, feature, LGTM, approved

#7708 feat(provider): supported default_tags in more resources
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
  huaweicloud/services/ccm/resource_huaweicloud_ccm_private_ca.go
  huaweicloud/services/dataarts/resource_huaweicloud_dataarts_studio_instance.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_v3.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo.go
  huaweicloud/services/vpc/resource_huaweicloud_networking_secgroup.go
Labels: size/XS, feature, LGTM, approved

#7725 feat(CC): add cc bandwidth package classes data source
  docs/data-sources/cc_bandwidth_package_classes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_bandwidth_package_classes_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_bandwidth_package_classes.go
Labels: size/M, feature, LGTM, approved

#7620 feat(eg): add new data source for query traced events
  docs/data-sources/eg_traced_events.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/eg/data_source_huaweicloud_eg_traced_events_test.go
  huaweicloud/services/acceptance/eg/resource_huaweicloud_eg_event_batch_action_test.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_traced_events.go
  huaweicloud/services/eg/resource_huaweicloud_eg_event_batch_action.go
  huaweicloud/services/eg/resource_huaweicloud_eg_event_subscription.go
Labels: size/L, feature, LGTM, approved

#7739 feat(lts): add new data source query member group streams
  docs/data-sources/lts_member_group_streams.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_member_group_streams_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_member_group_streams.go
Labels: size/M, feature, LGTM, approved

#7738 feat(lts/logs): add new data source to query logs
  docs/data-sources/lts_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_log_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_logs.go
Labels: size/L, feature, LGTM, approved

#7727 feat(dew): add a new one-time resource to sign data
  docs/resources/kms-sign.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_sign_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_sign.go
Labels: size/M, feature, LGTM, approved

#7728 feat(secmaster): add new resource to manage workflow version
  docs/resources/secmaster_workflow_version.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_workflow_version_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_workflow_version.go
Labels: size/L, feature, LGTM, approved

#7743 feat(secmaster): add new data source to query recipient email status
  docs/data-sources/secmaster_reports_emails.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_reports_emails_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_reports_emails.go
Labels: size/M, feature, LGTM, approved

#7747 feat(secmaster): add new data source to get list of directories
  docs/data-sources/secmaster_siem_directories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_siem_directories_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_siem_directories.go
Labels: size/M, feature, LGTM, approved

#7740 feat(secmaster): new datasource to query vulnerabilities
  docs/data-sources/secmaster_vulnerabilities.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_vulnerabilities_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_vulnerabilities.go
Labels: size/XL, feature, LGTM, approved

#7752 feat(eg): add new data source to query event subscriptions
  docs/data-sources/eg_event_subscriptions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eg/data_source_huaweicloud_eg_event_subscriptions_test.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_event_subscriptions.go
Labels: size/L, feature, LGTM, approved

#7736 feat(SecMaster): support `secmaster_component_running_nodes` and `secmaster_components` data sources
  docs/data-sources/secmaster_component_running_nodes.md
  docs/data-sources/secmaster_components.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_component_running_nodes_test.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_components_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_component_running_nodes.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_components.go
Labels: size/XL, size/L, feature, LGTM, approved

#7744 feat(CC): add cc across regions bandwidth package flavors data source
  docs/data-sources/cc_across_regions_bandwidth_package_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_across_regions_bandwidth_package_flavors_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_across_regions_bandwidth_package_flavors.go
Labels: size/L, feature, LGTM, approved

#7745 feat(CC): add cc across area bandwidth package flavors data source
  docs/data-sources/cc_across_area_bandwidth_package_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_across_area_bandwidth_package_flavors_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_across_area_bandwidth_package_flavors.go
Labels: size/L, feature, LGTM, approved

#7749 fix(docs): move the document to the correct location
  docs/data-sources/cts_tags.md
  docs/data-sources/fgs_async_invoke_configurations.md
Labels: size/XS, bugfix, LGTM, approved

#7757 feat(examples/rocketmq): add new best practice for rocketmq
  examples/dms/rocketmq/basic-instance/README.md
  examples/dms/rocketmq/basic-instance/main.tf
  examples/dms/rocketmq/basic-instance/providers.tf
  examples/dms/rocketmq/basic-instance/terraform.tfvars
  examples/dms/rocketmq/basic-instance/variables.tf
Labels: size/L, feature, LGTM, approved

#7760 feat(fgs/trigger): resource supports delete eg subscription when destroy
  docs/resources/fgs_function_trigger.md
  huaweicloud/services/acceptance/eg/data_source_huaweicloud_eg_event_subscriptions_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_trigger_test.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_event_subscriptions.go
  huaweicloud/services/eg/resource_huaweicloud_eg_event_subscription.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger.go
Labels: size/L, feature, LGTM, test, approved

#7761 feat(CodeArts/Pipeline): support custom plugin management
  docs/resources/codearts_pipeline_plugin_version.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_plugin_version_test.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_plugin_version.go
Labels: size/L, feature, LGTM, approved

#7770 Update CHANGELOG for 1.78.1
  CHANGELOG.md
Labels: size/S, approved

#7774 fix(DCS): fix dcs flavors data source
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_flavors.go
Labels: size/XS, bugfix, LGTM, approved

#7778 Update CHANGELOG for 1.78.2
  CHANGELOG.md
Labels: approved

#7769 feat(vpc): add new data_source subnet_cidr_reservations
  docs/data-sources/vpc_subnet_cidr_reservations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_subnet_cidr_reservations_test.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_subnet_cidr_reservation_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnet_cidr_reservations.go
Labels: size/L, feature, LGTM, approved

#7773 feat(SWR): support to get repos by v3 API
  docs/data-sources/swrv3_repositories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swrv3_repositories_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swrv3_repositories.go
Labels: size/L, feature, LGTM, approved

#7764 feat(COC): add COC script tags data source
  docs/data-sources/coc_script_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_script_tags_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_script_tags.go
Labels: size/M, feature, LGTM, approved

#7767 feat(fgs): supports new best practice for EventGrid trigger
  examples/fgs/triggers/eg/README.md
  examples/fgs/triggers/eg/main.tf
  examples/fgs/triggers/eg/providers.tf
  examples/fgs/triggers/eg/terraform.tfvars
  examples/fgs/triggers/eg/variables.tf
Labels: size/L, feature, LGTM, approved

#7772 feat(fgs): add new best practice for CTS trigger
  examples/fgs/triggers/cts/README.md
  examples/fgs/triggers/cts/main.tf
  examples/fgs/triggers/cts/providers.tf
  examples/fgs/triggers/cts/terraform.tfvars
  examples/fgs/triggers/cts/variables.tf
Labels: size/M, feature, LGTM, approved

#7766 feat(lts): add new best practice for log stream
  examples/lts/log_stream/README.md
  examples/lts/log_stream/main.tf
  examples/lts/log_stream/providers.tf
  examples/lts/log_stream/terraform.tfvars
  examples/lts/log_stream/variables.tf
Labels: size/M, feature, LGTM, approved

#7756 feat(apig): add new data source to query instance tags
  docs/data-sources/apig_instance_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_instance_tags_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_instance_tags.go
Labels: size/M, feature, LGTM, approved

#7785 fix(DCS): fic dcs instance
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/XS, bugfix, LGTM, approved

#7787 fix(dms): fix service name of api
  huaweicloud/services/rocketmq/data_source_huaweicloud_dms_rocketmq_instance_nodes.go
Labels: size/XS, bugfix, LGTM, approved

#7786 docs(fgs): offline a best practice for OBS trigger
  examples/fgs/obs-download/README.md
  examples/fgs/obs-download/main.tf
  examples/fgs/obs-download/variables.tf
Labels: size/M, documentation, LGTM, approved

#7783 feat(lts): add new best practice for SQL alarm rule
  examples/lts/sql_alarm_rule/README.md
  examples/lts/sql_alarm_rule/main.tf
  examples/lts/sql_alarm_rule/providers.tf
  examples/lts/sql_alarm_rule/terraform.tfvars
  examples/lts/sql_alarm_rule/variables.tf
Labels: size/L, feature, LGTM, approved

#7781 feat(secmaster): add new resource to manage collector channel group
  docs/resources/secmaster_collector_channel_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_collector_channel_group_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_collector_channel_group.go
Labels: size/L, feature, LGTM, approved

#7792 feat(cts): add new best practice for system tracker
  examples/cts/system_tracker/README.md
  examples/cts/system_tracker/main.tf
  examples/cts/system_tracker/providers.tf
  examples/cts/system_tracker/terraform.tfvars
  examples/cts/system_tracker/variables.tf
Labels: size/M, feature, LGTM, approved

#7793 feat(eg): add new best practice for event subscription
  examples/eg/event_subscriptions/routing-message/README.md
  examples/eg/event_subscriptions/routing-message/main.tf
  examples/eg/event_subscriptions/routing-message/providers.tf
  examples/eg/event_subscriptions/routing-message/terraform.tfvars
  examples/eg/event_subscriptions/routing-message/variables.tf
Labels: size/L, feature, LGTM, approved

#7799 feat(CC): add cc global connection bandwidth tags data source
  docs/data-sources/cc_global_connection_bandwidth_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_global_connection_bandwidth_tags_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_global_connection_bandwidth_tags.go
Labels: size/M, feature, LGTM, approved

#7798 refactor(vpc/secgroup): override the name and description with v3 response
  huaweicloud/services/vpc/resource_huaweicloud_networking_secgroup.go
Labels: size/XS, refactor, LGTM, approved

#7803 feat(CC): add cc site network quotas data source
  docs/data-sources/cc_site_network_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cc/data_source_huaweicloud_cc_site_network_quotas_test.go
  huaweicloud/services/cc/data_source_huaweicloud_cc_site_network_quotas.go
Labels: size/M, feature, LGTM, approved

#7805 fix(CC): fix cc bandwidth package resource tags
  huaweicloud/services/cc/resource_huaweicloud_cc_bandwidth_package.go
Labels: size/S, bugfix, LGTM, approved

#7780 feat(examples/rocketmq): add best practice for message send
  examples/dms/rocketmq/message-send/README.md
  examples/dms/rocketmq/message-send/main.tf
  examples/dms/rocketmq/message-send/providers.tf
  examples/dms/rocketmq/message-send/terraform.tfvars
  examples/dms/rocketmq/message-send/variables.tf
Labels: size/L, feature, LGTM, approved

#7804 feat(cts): add new best practice for notification
  examples/cts/notification/README.md
  examples/cts/notification/main.tf
  examples/cts/notification/providers.tf
  examples/cts/notification/terraform.tfvars
  examples/cts/notification/variables.tf
Labels: size/M, feature, LGTM, approved

#7809 feat(Organizaions): add organizations organization example
  examples/organizations/organization/README.md
  examples/organizations/organization/main.tf
  examples/organizations/organization/providers.tf
  examples/organizations/organization/terraform.tfvars
  examples/organizations/organization/variables.tf
Labels: size/M, feature, LGTM, approved

#7630 test(COC): update COC get application_id test case
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_applications_test.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_war_rooms_test.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_application_test.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_incident_handle_test.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_incident_test.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_war_room_test.go
Labels: size/M, LGTM, test, approved

#7860 feat(cbr): new example for volume vault resource
  examples/cbr/vault-volume/README.md
  examples/cbr/vault-volume/main.tf
  examples/cbr/vault-volume/providers.tf
  examples/cbr/vault-volume/terraform.tfvars
  examples/cbr/vault-volume/variables.tf
Labels: size/M, feature, LGTM, approved

#7878 fix(ELB): fix lb pool and member wait func
  huaweicloud/services/lb/lb_v2_shared.go
Labels: size/XS, bugfix, LGTM, approved

#7872 feat(cbr): new example for vault server resource
  examples/cbr/vault-server/README.md
  examples/cbr/vault-server/main.tf
  examples/cbr/vault-server/providers.tf
  examples/cbr/vault-server/terraform.tfvars
  examples/cbr/vault-server/variables.tf
Labels: size/L, feature, LGTM, approved

#7870 refactor(apig): rename the plugin associate resource
  docs/resources/apig_plugin_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_plugin_batch_apis_associate_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_plugin_batch_apis_associate.go
Labels: size/S, refactor, LGTM, approved

#7879 refactor(examples/evs): adjust the volume best practice
  examples/evs/postpaid-volume/README.md
  examples/evs/postpaid-volume/main.tf
  examples/evs/volume/README.md
  examples/evs/volume/main.tf
  examples/evs/volume/providers.tf
  examples/evs/volume/terraform.tfvars
  examples/evs/volume/variables.tf
Labels: size/M, refactor, LGTM, approved

#7880 feat(waf): support `waf_rules_threat_intelligence` data source
  docs/data-sources/waf_rules_threat_intelligence.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_rules_threat_intelligence_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_rules_threat_intelligence.go
Labels: size/L, feature, LGTM, approved

#7881 feat(cbr): new example for vault sfsturbo resource
  examples/cbr/vault-turbo/README.md
  examples/cbr/vault-turbo/main.tf
  examples/cbr/vault-turbo/providers.tf
  examples/cbr/vault-turbo/terraform.tfvars
  examples/cbr/vault-turbo/variables.tf
Labels: size/L, feature, LGTM, approved

#7876 feat(apig): add new resource to associate plugins to API
  docs/resources/apig_api_batch_plugins_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_batch_plugins_associate_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api_batch_plugins_associate.go
Labels: size/L, feature, LGTM, approved

#7891 feat(evs): new example snapshot group resource
  examples/evs/snapshot-group/README.md
  examples/evs/snapshot-group/main.tf
  examples/evs/snapshot-group/providers.tf
  examples/evs/snapshot-group/terraform.tfvars
  examples/evs/snapshot-group/variables.tf
Labels: size/L, feature, LGTM, approved

#7894 feat(cbr): add two new datasources to query features and single feature
  docs/data-sources/cbr_feature.md
  docs/data-sources/cbr_features.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_feature_test.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_features_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_feature.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_features.go
Labels: size/L, size/M, feature, LGTM, approved

#7868 feat(COC): add COC scheduled task histories data source
  docs/data-sources/coc_scheduled_task_histories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_scheduled_task_histories_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_scheduled_task_histories.go
Labels: size/L, feature, LGTM, approved

#7861 feat(COC): add COC ticket operation histories data source
  docs/data-sources/coc_ticket_operation_histories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_ticket_operation_histories_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_ticket_operation_histories.go
Labels: size/L, feature, LGTM, approved

#7901 chore(SWR): rename file name
  huaweicloud/services/swrenterprise/data_source_huaweicloud_swr_enterprise_long_term_credentials.go
  huaweicloud/services/swrenterprise/resource_huaweicloud_swr_enterprise_temporary_credential.go
Labels: size/XS, chore, LGTM, approved

#7898 feat(COC): add COC incident action resource
  docs/resources/coc_incident_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_incident_action_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_incident_action.go
Labels: size/L, feature, LGTM, approved

#7899 feat(SWR): support enterprise instance access control
  docs/resources/swr_enterprise_instance.md
  docs/resources/swr_enterprise_private_network_access_control.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swrenterprise/resource_huaweicloud_swr_enterprise_instance_test.go
  huaweicloud/services/acceptance/swrenterprise/resource_huaweicloud_swr_enterprise_private_network_access_control_test.go
  huaweicloud/services/swrenterprise/resource_huaweicloud_swr_enterprise_instance.go
  huaweicloud/services/swrenterprise/resource_huaweicloud_swr_enterprise_private_network_access_control.go
Labels: size/L, feature, LGTM, approved

#7903 feat(waf): add new data source to query sensitive information options
  docs/data-sources/waf_tag_antileakage_map.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_tag_antileakage_map_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_tag_antileakage_map.go
Labels: size/M, feature, LGTM, approved

#7907 feat(waf): support `waf_alarm_optional_event_types` data source
  docs/data-sources/waf_alarm_optional_event_types.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_alarm_optional_event_types_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_alarm_optional_event_types.go
Labels: size/L, feature, LGTM, approved

#7912 feat(SWR): support namespace tag management
  docs/resources/swr_enterprise_namespace.md
  huaweicloud/services/acceptance/swrenterprise/resource_huaweicloud_swr_enterprise_namespace_test.go
  huaweicloud/services/swrenterprise/resource_huaweicloud_swr_enterprise_instance.go
  huaweicloud/services/swrenterprise/resource_huaweicloud_swr_enterprise_namespace.go
Labels: size/M, feature, LGTM, approved

#7887 feat(apig): add new resource for manage channel member
  docs/resources/apig_channel_member.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_channel_member_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_channel_member.go
Labels: size/L, feature, LGTM, approved

#7889 feat(apig): add new data source for query application associated quotas
  docs/data-sources/apig_application_associated_quota.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_application_associated_quota_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_application_associated_quota.go
Labels: size/L, size/M, feature, LGTM, approved

#7919 fix(RDS): fix rds mysql database character_set
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database.go
Labels: size/XS, bugfix, LGTM, approved

#7911 feat(ECS): add ecs template versions data source
  docs/data-sources/compute_template_versions.md
  docs/resources/compute_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_template_versions_test.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_template_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_template_versions.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_template.go
Labels: size/XL, feature, LGTM, approved

#7914 feat(COC): add COC ticket add resource
  docs/resources/coc_ticket_add.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_ticket_add_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_ticket_add.go
Labels: size/L, feature, LGTM, approved

#7896 feat(apig): add new data source to get domains associated with certificate
  docs/data-sources/apig_certificate_associated_domains.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_certificate_associated_domains_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_certificate_associated_domains.go
Labels: size/L, feature, LGTM, approved

#7922 feat(ECS): add params to ecs volume attach
  docs/resources/compute_volume_attach.md
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_volume_attach_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_volume_attach.go
Labels: size/M, feature, LGTM, approved

#7926 fix(CCI): fix cci v2 pod resource param type
  huaweicloud/services/cci/resource_huaweicloud_cciv2_pod.go
Labels: size/XS, bugfix, LGTM, approved

#7916 feat(COC): add COC change update resource
  docs/resources/coc_change_update.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_change_update_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_change_update.go
Labels: size/L, feature, LGTM, approved

#7930 feat(cce/nodepool): add ignore_initial_node_count in node pool
  docs/resources/cce_node_pool.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodepools/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#7931 docs(cce/nodepool): fix doc problem in cce node pool
  docs/resources/cce_node_pool.md
Labels: documentation, size/XS, LGTM, approved

#7932 changelog: update CHANGELOG for 1.78.5
  CHANGELOG.md
Labels: size/S, approved

#7924 feat(COC): add COC issue tickets data source
  docs/data-sources/coc_issue_tickets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_issue_tickets_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_issue_tickets.go
Labels: size/L, feature, LGTM, approved

#7921 feat(COC): add COC ticket action resource
  docs/resources/coc_ticket_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_ticket_action_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_ticket_action.go
Labels: size/M, feature, LGTM, approved

#7950 feat(SWR): support to delete job
  docs/resources/swr_enterprise_job_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swrenterprise/resource_huaweicloud_swr_enterprise_job_delete_test.go
  huaweicloud/services/swrenterprise/resource_huaweicloud_swr_enterprise_job_delete.go
Labels: size/M, feature, LGTM, approved

#7954 feat(ECS): add ecs compute kernel dump trigger resource
  docs/resources/compute_kernel_dump_trigger.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_kernel_dump_trigger_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_kernel_dump_trigger.go
Labels: size/M, feature, LGTM, approved

#7951 feat(COC): add COC alarm clear resource
  docs/resources/coc_alarm_clear.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_alarm_clear_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_alarm_clear.go
Labels: size/M, feature, LGTM, approved

#7938 feat(COC): add COC alarm action histories data source
  docs/data-sources/coc_alarm_action_histories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_alarm_action_histories_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_alarm_action_histories.go
Labels: size/M, feature, LGTM, approved

#7948 feat(waf/domain_route_update): support `waf_domain_route_update` resource
  docs/resources/waf_domain_route_update.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_route_update_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain_route_update.go
Labels: size/L, feature, LGTM, approved

#7944 feat(waf/policies_batch_delete): support `waf_policies_batch_delete` resource
  docs/resources/waf_policies_batch_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_policies_batch_delete_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_policies_batch_delete.go
Labels: size/M, feature, LGTM, approved

#7953 fix(apig): fix channel member resource bug
  docs/resources/apig_channel_member.md
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_channel_member_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_channel_member.go
Labels: size/L, bugfix, LGTM, approved

#7963 feat(waf): add new data source to get all precise protection rules
  docs/data-sources/waf_all_precise_protection_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_all_precise_protection_rules_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_all_precise_protection_rules.go
Labels: size/L, feature, LGTM, approved

#7947 feat(waf): add new data source to get all data masking rules
  docs/data-sources/waf_all_data_masking_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_all_data_masking_rules_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_all_data_masking_rules.go
Labels: size/L, feature, LGTM, approved

#7956 feat(waf): add new resource to batch delete CC protection rules
  docs/resources/waf_cc_protection_rule_batch_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_cc_protection_rule_batch_delete_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_cc_protection_rule_batch_delete.go
Labels: size/M, feature, LGTM, approved

#7949 feat(kafka): add new resource to validate instances connectivity
  docs/resources/dms_kafka_smart_connector_validate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/kafka/resource_huaweicloud_dms_kafka_smart_connector_validate_test.go
  huaweicloud/services/kafka/resource_huaweicloud_dms_kafka_smart_connector_validate.go
Labels: size/L, feature, LGTM, approved

#7965 feat(CES): add CES host configurations data source
  docs/data-sources/ces_host_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_host_configurations_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_host_configurations.go
Labels: size/L, feature, LGTM, approved

#7969 feat(ECS): add ecs os reinstall resource
  docs/resources/compute_os_reinstall.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_os_reinstall_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_os_reinstall.go
Labels: size/L, feature, LGTM, approved

#7968 feat(apig): add new data source for query channel members
  docs/data-sources/apig_channel_members.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_channel_members_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_channel_members.go
  huaweicloud/services/apig/resource_huaweicloud_apig_channel_member.go
Labels: size/L, feature, LGTM, approved

#7961 feat(kafka): add new one-time resource to reset user password
  docs/resources/dms_kafka_user_password_reset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/kafka/resource_huaweicloud_dms_kafka_user_password_reset_test.go
  huaweicloud/services/kafka/resource_huaweicloud_dms_kafka_user_password_reset.go
Labels: size/M, feature, LGTM, approved

#7955 feat(kafka): add new data source to get tags of the all instances
  docs/data-sources/dms_kafka_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/kafka/data_source_huaweicloud_dms_kafka_tags_test.go
  huaweicloud/services/kafka/data_source_huaweicloud_dms_kafka_tags.go
Labels: size/M, feature, LGTM, approved

#7982 feat(waf): new datasource to query all ip reputation policy rules
  docs/data-sources/waf_all_ip_reputation_policy_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_all_ip_reputation_policy_rules_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_all_ip_reputation_policy_rules.go
Labels: size/L, feature, LGTM, approved

#7975 feat(SWR): support to get enterprise instance tags
  docs/data-sources/swr_enterprise_instance_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swrenterprise/data_source_huaweicloud_swr_enterprise_instance_tags_test.go
  huaweicloud/services/swrenterprise/data_source_huaweicloud_swr_enterprise_instance_tags.go
Labels: size/M, feature, LGTM, approved

#7984 docs(ELB): fix elb loadbalancer doc
  docs/resources/elb_loadbalancer.md
Labels: documentation, size/XS, LGTM, approved

#7986 feat(waf/waf_policy_copy): support `waf_policy_copy` resource
  docs/resources/waf_policy_copy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_policy_copy_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_policy_copy.go
Labels: size/M, feature, LGTM, approved

#7983 feat(aom): prometheus instance supports update function
  docs/resources/aom_prom_instance.md
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_prom_instances_test.go
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_prom_instance_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_cloud_service_access.go
  huaweicloud/services/aom/resource_huaweicloud_aom_prom_instance.go
Labels: size/L, feature, LGTM, approved

#7971 feat(aom): add new data sources to query event information
  docs/data-sources/aom_event_statistic.md
  docs/data-sources/aom_events.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_event_statistic_test.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_events_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_event_statistic.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_events.go
Labels: size/L, chore, feature, LGTM, approved

#7978 feat(CES): add resource group alarm template async associate resource
  docs/resources/ces_resource_group_alarm_template_async_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_resource_group_alarm_template_async_associate_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_resource_group_alarm_template_async_associate.go
Labels: size/L, feature, LGTM, approved

#7988 feat(ecs): suuport enclave_options in ecs instance
  docs/resources/compute_instance.md
  go.mod
  go.sum
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ecs/v1/cloudservers/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#7979 feat(SWR): support to get enterprise namespace tags
  docs/data-sources/swr_enterprise_namespace_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swrenterprise/data_source_huaweicloud_swr_enterprise_namespace_tags_test.go
  huaweicloud/services/swrenterprise/data_source_huaweicloud_swr_enterprise_namespace_tags.go
Labels: size/M, feature, LGTM, approved

#7993 feat(ECS): add ecs quotas data source
  docs/data-sources/compute_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_quotas_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_quotas.go
Labels: size/L, feature, LGTM, approved

#7973 docs(index): introduction document supports best practice reference
  docs/index.md
Labels: documentation, size/XS, LGTM, approved

#7996 feat(servicestage): add new parameter
  docs/resources/servicestage_environment.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestage_environment_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestage_environment.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/environments/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/servicestage/v2/environments/results.go
  vendor/modules.txt
Labels: size/XS, feature, dependencies, LGTM, approved

#8002 changelog: update CHANGELOG for 1.79.0
  CHANGELOG.md
Labels: size/S, approved

#7989 feat(waf): add new data source to get all web tamper protection rules
  docs/data-sources/waf_all_web_antitamper_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_all_web_antitamper_rules_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_all_web_antitamper_rules.go
Labels: size/L, feature, LGTM, approved

#7998 feat(hss): add new data source to get list of SSH login IP whitelist
  docs/data-sources/hss_setting_login_white_ips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_setting_login_white_ips_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_setting_login_white_ips.go
Labels: size/M, feature, LGTM, approved

#8007 ci(hcbp): setting GITHUB_TOKEN for the new SC rule
  .github/workflows/hcbp-lint.yml
Labels: size/XS, LGTM, approved

#8009 feat(ECS): add ecs password data source
  docs/data-sources/compute_password.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ecs/data_source_huaweicloud_compute_password_test.go
  huaweicloud/services/ecs/data_source_huaweicloud_compute_password.go
Labels: size/M, feature, LGTM, approved

#8015 feat(hss/hss_container_cluster_risks): support `hss_container_cluster_risks` data source
  docs/data-sources/hss_container_cluster_risks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_container_cluster_risks_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_container_cluster_risks.go
Labels: size/L, feature, LGTM, approved

#8014 feat(hss): add new resource to set two-factor login configuration
  docs/resources/hss_setting_two_factor_login_config.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_setting_two_factor_login_config_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_setting_two_factor_login_config.go
Labels: size/M, feature, LGTM, approved
