Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2025-03, with the labels that each got.

#6440 fix: add the missing internal field enable_force_new
  huaweicloud/services/ces/resource_huaweicloud_ces_alarm_template.go
  huaweicloud/services/ces/resource_huaweicloud_ces_dashboard.go
  huaweicloud/services/ces/resource_huaweicloud_ces_dashboard_widget.go
  huaweicloud/services/ces/resource_huaweicloud_ces_one_click_alarm.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_capture_task.go
  huaweicloud/services/rms/resource_huaweicloud_rms_remediation_configuration.go
  huaweicloud/services/rms/resource_huaweicloud_rms_remediation_exception.go
  huaweicloud/services/rms/resource_huaweicloud_rms_remediation_execution.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_access_policy.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_client_ca_certificate.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_user.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_user_group.go
Labels: size/S, bugfix, LGTM, approved

#6435 feat(RDS): add rds sqlserver database copy resource
  docs/resources/rds_sqlserver_database_copy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sqlserver_database_copy_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sqlserver_database_copy.go
Labels: size/M, feature, LGTM, approved

#6374 refactor(iotda): refactor iotda device certificate data source code style
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_certificates.go
Labels: size/M, refactor, LGTM, approved

#6445 feat(RDS): add rds quotas data source
  docs/data-sources/rds_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_quotas_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_quotas.go
Labels: size/M, feature, LGTM, approved

#6449 refactor(oms): remove sdk-go-v3 in oms migration task group
  huaweicloud/services/acceptance/oms/resource_huaweicloud_oms_migration_task_group_test.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_sync_task.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task_group.go
Labels: size/L, refactor, LGTM, approved

#6443 feat(RDS): add rds instant task delete resource
  docs/resources/rds_instant_task_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instant_task_delete_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instant_task_delete.go
Labels: size/M, feature, LGTM, approved

#6453 feat(vpc): add new data_source vpc_quotas
  docs/data-sources/vpc_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_quotas_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_quotas.go
Labels: size/M, feature, LGTM, approved

#6422 feat(AOM): support to get cloud service authorizations
  docs/data-sources/aom_cloud_service_authorizations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_cloud_service_authorizations_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_cloud_service_authorizations.go
Labels: size/M, feature, LGTM, approved

#6446 feat(fgs/function): enterprise project ID supports update now
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/S, feature, LGTM, approved

#6454 feat(fgs/function): resource supports new peering_cidr param
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/M, feature, LGTM, approved

#6450 feat(dc): provide a new datasource to query global gateways
  docs/data-sources/dc_global_gateways.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dc/data_source_huaweicloud_dc_global_gateways_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_global_gateways.go
Labels: size/L, feature, LGTM, approved

#6457 feat(dc): provide a new resource to manage global gateway peer link
  docs/resources/dc_global_gateway_peer_link.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_global_gateway_peer_link_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_global_gateway_peer_link.go
Labels: size/L, feature, LGTM, approved

#6464 feat(dc): provide a new datasource to query global gateway peer links
  docs/data-sources/dc_global_gateway_peer_links.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dc/data_source_huaweicloud_dc_global_gateway_peer_links_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_global_gateway_peer_links.go
Labels: size/L, feature, LGTM, approved

#6468 fix(common/error): return error directly if error code key not found
  huaweicloud/common/errors.go
Labels: size/S, bugfix, LGTM, approved

#6448 feat(RDS): add rds tags and predefined tags data source
  docs/data-sources/rds_predefined_tags.md
  docs/data-sources/rds_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_predefined_tags_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_tags_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_predefined_tags.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_tags.go
Labels: size/L, feature, LGTM, approved

#6459 feat(ELB): add elb availability zones data source
  docs/data-sources/elb_availability_zones.md
  docs/data-sources/elb_certificate.md
  docs/data-sources/elb_ipgroups.md
  docs/data-sources/elb_l7policies.md
  docs/data-sources/elb_l7rules.md
  docs/data-sources/elb_listeners.md
  docs/data-sources/elb_loadbalancers.md
  docs/data-sources/elb_logtanks.md
  docs/data-sources/elb_members.md
  docs/data-sources/elb_monitors.md
  docs/data-sources/elb_pools.md
  docs/data-sources/elb_security_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_availability_zones_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_availability_zones.go
Labels: size/L, feature, LGTM, approved

#6469 feat(vpc): add new data_source subnet_ip_availabilities
  docs/data-sources/vpc_subnet_ip_availabilities.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_subnet_ip_availabilities_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnet_ip_availabilities.go
Labels: size/L, feature, LGTM, approved

#6474 chore(css): remove css cluster engine_type param validate
  docs/resources/css_cluster.md
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/M, chore, LGTM, approved

#6461 feat(ELB): add elb feature configurations data source
  docs/data-sources/elb_feature_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_feature_configurations_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_feature_configurations.go
Labels: size/L, feature, LGTM, approved

#6477 docs(RDS): fix rds pg database privilege doc
  docs/resources/rds_pg_database_privilege.md
Labels: documentation, size/XS, LGTM, approved

#6467 feat(ces): add the data source to get the list of CES quotas
  docs/data-sources/ces_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_quotas_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_quotas.go
Labels: size/M, feature, LGTM, approved

#6470 feat(ces): add this data source to get the list of tags for the specified resource type in CES
  docs/data-sources/ces_resource_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_resource_tags_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_resource_tags.go
Labels: size/M, feature, approved

#6473 refactor: docs(dns): adjust paramerers description and examples
  docs/data-sources/dns_custom_lines.md
  docs/data-sources/dns_quotas.md
  docs/resources/dns_custom_line.md
  docs/resources/dns_endpoint.md
  docs/resources/dns_endpoint_assignment.md
  docs/resources/dns_line_group.md
  docs/resources/dns_ptrrecord.md
  docs/resources/dns_recordset.md
  docs/resources/dns_resolver_rule.md
  docs/resources/dns_resolver_rule_associate.md
  docs/resources/dns_zone.md
  huaweicloud/services/dns/data_source_huaweicloud_dns_custom_lines.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_floating_ptrrecords.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_line_groups.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_nameservers.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_quotas.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_recordsets.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_zones.go
  huaweicloud/services/dns/resource_huaweicloud_dns_custom_line.go
  huaweicloud/services/dns/resource_huaweicloud_dns_endpoint.go
  huaweicloud/services/dns/resource_huaweicloud_dns_line_group.go
  huaweicloud/services/dns/resource_huaweicloud_dns_ptrrecord.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset.go
  huaweicloud/services/dns/resource_huaweicloud_dns_resolver_rule.go
  huaweicloud/services/dns/resource_huaweicloud_dns_resolver_rule_associate.go
  huaweicloud/services/dns/resource_huaweicloud_dns_zone.go
Labels: size/L, documentation, refactor, LGTM, approved

#6439 refactor(dns/ptrrecord): adjust the code and acceptance test
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_ptrrecord_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_ptrrecord.go
Labels: size/M, refactor, LGTM, approved

#6444 refactor(dns/resolver_rule_associate): adjust code and acceptance test
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_resolver_rule_associate_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_resolver_rule_associate.go
Labels: size/M, refactor, LGTM, approved

#6483 docs(dds): add version for instance
  docs/resources/dds_instance.md
Labels: documentation, size/XS, LGTM, approved

#6479 feat(nat): the NAT gateway datasource supports new fields and attributes
  docs/data-sources/nat_gateways.md
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_gateways_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_gateways.go
Labels: size/M, feature, LGTM, approved

#6480 feat(nat): the SNAT rule datasource supports new fields
  docs/data-sources/nat_snat_rules.md
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_snat_rules_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_snat_rules.go
Labels: size/S, feature, LGTM, approved

#6481 feat(nat): the DNAT rule datasource supports new fields
  docs/data-sources/nat_dnat_rules.md
  huaweicloud/services/acceptance/nat/data_source_huaweiclolud_nat_dnat_rules_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_dnat_rules.go
Labels: size/S, feature, LGTM, approved

#6475 feat(ELB): remove validate func from elb
  huaweicloud/services/elb/resource_huaweicloud_elb_certificate.go
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  huaweicloud/services/elb/resource_huaweicloud_elb_member.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_certificate.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_listeners.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_pools.go
  huaweicloud/services/lb/resource_huaweicloud_lb_certificate.go
  huaweicloud/services/lb/resource_huaweicloud_lb_l7policy.go
  huaweicloud/services/lb/resource_huaweicloud_lb_l7rule.go
  huaweicloud/services/lb/resource_huaweicloud_lb_loadbalancer.go
  huaweicloud/services/lb/resource_huaweicloud_lb_member.go
  huaweicloud/services/lb/resource_huaweicloud_lb_pool.go
Labels: size/M, feature, LGTM, approved

#6486 refactor(oms): remove sdk-go-v3 in oms_migration_sync_task
  huaweicloud/services/acceptance/oms/resource_huaweicloud_oms_migration_sync_task_test.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_sync_task.go
Labels: size/L, refactor, LGTM, approved

#6438 fix(dns/resolver_rule): ignore 'domain_name' suffix dot and modify 'ip_addresses' type
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_resolver_rule_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_resolver_rule.go
Labels: size/S, bugfix, LGTM, approved

#6458 feat(EIP): support to get EIP pools
  docs/data-sources/vpc_eip_pools.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eip_pools_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eip_pools.go
Labels: size/L, feature, LGTM, approved

#6465 feat(EIP): support to get EIP tags
  docs/data-sources/vpc_eip_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eip_tags_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eip_tags.go
Labels: size/M, feature, LGTM, approved

#6471 feat(EIP): support to get bandwidth limits
  docs/data-sources/vpc_bandwidth_limits.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_bandwidth_limits_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_bandwidth_limits.go
Labels: size/M, feature, LGTM, approved

#6456 feat(EIP): support to get common pools
  docs/data-sources/vpc_eip_common_pools.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_eip_common_pools_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_eip_common_pools.go
Labels: size/L, feature, LGTM, approved

#6472 feat(EIP): support to get bandwidth types
  docs/data-sources/vpc_bandwidth_types.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_bandwidth_types_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_bandwidth_types.go
Labels: size/L, feature, LGTM, approved

#6460 feat(EIP): support to get bandwidth add-on packages
  docs/data-sources/vpc_bandwidth_addon_packages.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpc_bandwidth_addon_packages_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpc_bandwidth_addon_packages.go
Labels: size/M, feature, LGTM, approved

#6452 fix(lts/cce_access|host_access): modify the type of some parameters type to set
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_cce_access_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_host_access_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_cce_access.go
  huaweicloud/services/lts/resource_huaweicloud_lts_host_access.go
Labels: size/S, bugfix, LGTM, approved

#6484 feat(nat): the SNAT rule resource supports new attributes
  docs/resources/nat_snat_rule.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_snat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_snat_rule.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/snats/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#6488 feat(nat): the NAT gateway resource supports new fields and attributes
  docs/resources/nat_gateway.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_gateway_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_gateway.go
Labels: size/M, feature, LGTM, approved

#6490 chore(nat): fix parameter naming error
  docs/data-sources/nat_gateways.md
  huaweicloud/services/nat/data_source_huaweicloud_nat_gateways.go
Labels: size/XS, chore, LGTM, approved

#6496 feat(ims/image_metadata): support image metadata resource
  docs/resources/ims_image_metadata.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_image_metadata_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_image_metadata.go
Labels: size/L, feature, LGTM, approved

#6498 chore(iotda): fix device async commond resource 'paras' parameter request loss error
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_async_command_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_async_command.go
Labels: size/S, chore, LGTM, approved

#6485 feat(ELB): add elb all members data source
  docs/data-sources/elb_all_members.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_all_members_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_all_members.go
Labels: size/L, feature, LGTM, approved

#6494 fix(css): fixed css logstash cluster availability_zone loss error
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
Labels: size/XS, bugfix, LGTM, approved

#6492 feat(nat): add new datasource to get list of NAT gateways tags
  docs/data-sources/nat_gateway_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_gateway_tags_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_gateway_tags.go
Labels: size/M, feature, LGTM, approved

#6503 feat(ims/image_registration): support image registration resource
  docs/resources/ims_image_registration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_image_registration_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_image_registration.go
Labels: size/L, feature, LGTM, approved

#6493 feat(nat): add new datasource to get list of private NAT gateways tags
  docs/data-sources/nat_private_gateway_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_gateway_tags_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_gateway_tags.go
Labels: size/M, feature, LGTM, approved

#6497 feat(nat): add new datasource to get list of transit IP tags
  docs/data-sources/nat_private_transit_ip_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_transit_ip_tags_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_transit_ip_tags.go
Labels: size/M, feature, LGTM, approved

#6495 docs(vpn): fix the issue of incorrect field descriptions in the gateway document
  docs/resources/vpn_gateway.md
Labels: documentation, size/XS, LGTM, approved

#6500 feat(cts): system tracker and data tracker support some attributes
  docs/resources/cts_data_tracker.md
  docs/resources/cts_tracker.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_data_tracker_test.go
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/M, feature, LGTM, approved

#6505 feat(cts): notification supports some attributes
  docs/data-sources/cts_notifications.md
  docs/resources/cts_notification.md
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_notifications_test.go
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_notification_test.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_notifications.go
  huaweicloud/services/cts/resource_huaweicloud_cts_notification.go
Labels: size/S, feature, LGTM, approved

#6510 feat(ces): add this data source to get the list of alarm rules associated with an alarm template
  docs/data-sources/ces_alarm_template_association_alarms.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_alarm_template_association_alarms_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_alarm_template_association_alarms.go
Labels: size/M, feature, LGTM, approved

#6511 fix(ims/image_metadata): fix resource api comments error
  huaweicloud/services/ims/resource_huaweicloud_ims_image_metadata.go
Labels: size/XS, bugfix, LGTM, approved

#6509 feat(ELB): add elb quota data source
  docs/data-sources/elb_quota_details.md
  docs/data-sources/elb_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_quota_details_test.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_quotas_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_quota_details.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_quotas.go
Labels: size/L, feature, LGTM, approved

#6487 feat(ces): add resource agent maintenance task
  docs/resources/ces_agent_maintenance_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_agent_maintenance_task_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_agent_maintenance_task.go
Labels: size/L, feature, LGTM, approved

#6513 feat(cdn): cdn domain resource support new fields
  docs/resources/cdn_domain.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/L, feature, LGTM, approved

#6502 feat(EIP): support to insert ipv6 port to bandwidth
  docs/resources/vpc_bandwidth_associate.md
  huaweicloud/services/acceptance/eip/resource_huaweicloud_vpc_bandwidth_associate_test.go
  huaweicloud/services/eip/resource_huaweicloud_vpc_bandwidth_associate.go
Labels: size/L, feature, LGTM, approved

#6516 feat(GEIP): support to get global eip tags
  docs/data-sources/global_eip_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_global_eip_tags_test.go
  huaweicloud/services/eip/data_source_huaweicloud_global_eip_tags.go
Labels: size/M, feature, LGTM, approved

#6517 feat(GEIP): support to get global eip quotas
  docs/data-sources/global_eip_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_global_eip_quotas_test.go
  huaweicloud/services/eip/data_source_huaweicloud_global_eip_quotas.go
Labels: size/M, feature, LGTM, approved

#6524 fix(servicestage/component): fix the incorrect definitions
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_components.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_component.go
Labels: size/XS, bugfix, LGTM, approved

#6520 feat(fgs/function): new metadata parameters supplement
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/M, feature, LGTM, approved

#6526 feat(servicestage/component): new gray releasing status append
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_component.go
Labels: size/XS, feature, LGTM, approved

#6528 feat(GEIP): support to get global internet bandwidth tags
  docs/data-sources/global_internet_bandwidth_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_global_internet_bandwidth_tags_test.go
  huaweicloud/services/eip/data_source_huaweicloud_global_internet_bandwidth_tags.go
Labels: size/M, feature, LGTM, approved

#6521 feat(ces): add this data source to get the list of CES alarm history records
  docs/data-sources/ces_alarm_histories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_alarm_histories_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_alarm_histories.go
Labels: size/L, feature, LGTM, approved

#6531 test(lts/group): adjust and add scenarios about enterprise project ID
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_group_test.go
Labels: size/S, LGTM, test, approved

#6539 refactor(dc): refactor dc virtual interface resource with general code style
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/L, refactor, LGTM, approved

#6532 feat(evs): support new datasource to query evs quotas
  docs/data-sources/evs_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_quotas_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_quotas.go
Labels: size/L, feature, LGTM, approved

#6540 feat(cce): add new data_source cce_addons
  docs/data-sources/cce_addons.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_addons_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_addons.go
Labels: size/L, feature, LGTM, approved

#6533 feat(ELB): add elb asynchronous tasks data source
  docs/data-sources/elb_asynchronous_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_asynchronous_tasks_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_asynchronous_tasks.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer_copy.go
Labels: size/L, feature, LGTM, approved

#6514 feat(nat): the private NAT gateway datasource supports new fields and attributes
  docs/data-sources/nat_private_gateways.md
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_gateways_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_gateways.go
Labels: size/S, feature, LGTM, approved

#6522 feat(nat): the NAT gateway resource tags API upgrade from V2 to V3
  docs/resources/natv3_gateway.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/nat/resource_huaweicloud_natv3_gateway_test.go
  huaweicloud/services/nat/resource_huaweicloud_natv3_gateway.go
Labels: size/XL, feature, LGTM, approved

#6538 docs(sfs_turbo): modify some document issues
  docs/data-sources/sfs_turbo_obs_targets.md
  docs/data-sources/sfs_turbos.md
  docs/resources/sfs_turbo.md
  docs/resources/sfs_turbo_dir.md
  docs/resources/sfs_turbo_dir_quota.md
  docs/resources/sfs_turbo_obs_target.md
  docs/resources/sfs_turbo_perm_rule.md
Labels: size/S, documentation, LGTM, approved

#6535 feat(utils): add a new method to check whether a string is in uuid with hyphens
  huaweicloud/utils/utils.go
  huaweicloud/utils/utils_test.go
Labels: size/XS, feature, LGTM, approved

#6534 fix(lts/search_criteria): fix error creating resource of type 'VISUALIZATION'
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_search_criteria_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_search_criteria.go
Labels: size/S, bugfix, LGTM, approved

#6515 feat(workspace): add new resource desktop pool
  docs/resources/workspace_desktop_pool.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_pool_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop_pool.go
Labels: size/XL, feature, LGTM, approved

#6546 feat(Organizations): add query param to organizations account resource
  huaweicloud/services/organizations/resource_huaweicloud_organizations_account.go
Labels: size/XS, feature, LGTM, approved

#6549 fix(cae/action): resource params do not include action
  huaweicloud/services/cae/resource_huaweicloud_cae_component_action.go
Labels: size/XS, bugfix, LGTM, approved

#6545 feat(dc): dc virtual interface resource support new fields
  docs/resources/dc_virtual_interface.md
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_virtual_interfaces.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/L, feature, LGTM, approved

#6550 docs(lts/search_criteria): remove enterprise_project_id from document
  docs/resources/lts_search_criteria.md
Labels: documentation, size/XS, LGTM, approved

#6552 chore(lts/search_criteria): add internal for enterprise_project_id
  huaweicloud/services/lts/resource_huaweicloud_lts_search_criteria.go
Labels: size/XS, chore, LGTM, approved

#6554 Update CHANGELOG for 1.73.2
  CHANGELOG.md
Labels: size/XS, approved

#6537 feat(ces): add this data source to get the list of agent statuses
  docs/data-sources/ces_agent_statuses.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_agent_statuses_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_agent_statuses.go
Labels: size/L, feature, LGTM, approved

#6547 feat(ims): support `quickimport_system_image` resource
  docs/resources/ims_quickimport_system_image.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_quickimport_system_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_quickimport_system_image.go
Labels: size/XL, feature, LGTM, approved

#6541 feat(ces): add this data source to get the list of CES agent maintenance tasks
  docs/data-sources/ces_agent_maintenance_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_agent_maintenance_tasks_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_agent_maintenance_tasks.go
Labels: size/L, feature, approved

#6525 fix(servicestage/component): adjust the parameter setting and new parameter supported
  docs/resources/servicestagev3_component.md
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_component.go
Labels: size/XS, bugfix, feature, LGTM, approved

#6557 feat(ims): support `quickimport_data_image` resource
  docs/resources/ims_quickimport_data_image.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_quickimport_data_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_quickimport_data_image.go
Labels: size/XL, feature, LGTM, approved

#6530 chore(lts/waf_access): fixed issues related to enterprise project ID
  docs/resources/lts_waf_access.md
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_waf_access_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_waf_access.go
Labels: size/S, bugfix, chore, LGTM, approved

#6561 feat(Secmaster): add new resources post_paid_order and workspace
  docs/incubating/secmaster_post_paid_order.md
  docs/incubating/secmaster_workspace.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_post_paid_order_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_workspace_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_post_paid_order.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_workspace.go
Labels: size/L, feature, LGTM, approved

#6564 Update CHANGELOG for 1.73.3
  CHANGELOG.md
Labels: approved

#6462 feat(cci): add resource cci v2 namespace
  docs/incubating/cciv2_namespace.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_namespace_test.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_namespace.go
Labels: size/L, feature, LGTM, approved

#6542 feat(ELB): add params to elb active standby pool resource
  docs/resources/elb_active_standby_pool.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_active_standby_pool_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_active_standby_pool.go
Labels: size/L, feature, LGTM, approved

#6543 feat(ELB): add params to elb certificate resource
  docs/resources/elb_certificate.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_certificate_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_certificate.go
Labels: size/L, feature, LGTM, approved

#6544 feat(ELB): add params to elb ip group resource
  docs/resources/elb_ipgroup.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_ipgroup_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_ipgroup.go
Labels: size/L, feature, LGTM, approved

#6556 feat(cae/component): enhance component resource and new attributes
  docs/resources/cae_component.md
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_component_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_component.go
Labels: size/L, feature, LGTM, approved

#6451 feat(iotda): add a new datasource to get list of custom authentications
  docs/data-sources/iotda_custom_authentications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_custom_authentications_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_custom_authentications.go
Labels: size/L, feature, LGTM, approved

#6548 feat(as): add a new datasource to get list of AS group tags
  docs/data-sources/as_group_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_group_tags_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_group_tags.go
Labels: size/M, feature, LGTM, approved

#6558 feat(as): add a new resource to manage policy execute
  docs/resources/as_execute_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_execute_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_execute_policy.go
Labels: size/M, feature, LGTM, approved

#6560 feat(ces): alarm rule supports alarm_template_id attribute
  docs/resources/ces_alarmrule.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_alarmrule_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v2/alarmrule/requests.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#6551 feat(ELB): add params to elb l7 policy resource
  docs/resources/elb_l7policy.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_l7policy_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_l7policy.go
Labels: size/L, feature, LGTM, approved

#6555 feat(ELB): add params to elb member resource
  docs/resources/elb_member.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_member_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_member.go
Labels: size/L, feature, LGTM, approved

#6563 feat(ELB): add params to elb pool resource
  docs/resources/elb_pool.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_pool_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_pools.go
  huaweicloud/services/elb/resource_huaweicloud_elb_pool.go
Labels: size/L, feature, LGTM, approved

#6566 feat(ELB): add attribute fingerprint to elb certificate resource
  docs/resources/elb_certificate.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_certificate_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_certificate.go
Labels: size/XS, feature, LGTM, approved

#6565 feat(lts): add new resource supports kafka instance register to LTS
  docs/resources/lts_register_kafka_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_register_kafka_instance_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_register_kafka_instance.go
Labels: size/L, feature, LGTM, approved

#6529 feat(DiffSuppressFunc): supports new function for the objects diff check
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_component_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_component.go
  huaweicloud/utils/diff_suppress_funcs.go
  huaweicloud/utils/diff_suppress_funcs_test.go
  huaweicloud/utils/state_management.go
  huaweicloud/utils/type_convert.go
  huaweicloud/utils/type_convert_test.go
Labels: size/XL, feature, LGTM, test, approved

#6491 feat(cci): add resource CCI v2 network
  docs/incubating/cciv2_network.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_network_test.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_network.go
Labels: size/L, feature, LGTM, approved

#6572 feat(apig/group): new resource to associate the URL domain
  docs/resources/apig_group.md
  docs/resources/apig_group_domain_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_group_domain_associate_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group.go
  huaweicloud/services/apig/resource_huaweicloud_apig_group_domain_associate.go
Labels: size/L, documentation, feature, LGTM, approved

#6482 feat(cci): add datasource cci v2 namespaces
  docs/incubating/cciv2_namespaces.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_namespaces_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_namespaces.go
Labels: size/M, feature, LGTM, approved

#6575 feat(ces): add resource notification mask
  docs/resources/ces_notification_mask.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_notification_mask_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_notification_mask.go
Labels: size/XL, feature, LGTM, approved

#6567 feat(ELB): add params to lb certificate resource
  docs/resources/lb_certificate.md
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_certificate_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_certificate.go
  huaweicloud/services/lb/resource_huaweicloud_lb_certificate.go
Labels: size/L, feature, LGTM, approved

#6568 feat(ELB): add params to lb monitor resource
  docs/resources/lb_monitor.md
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_monitor_test.go
  huaweicloud/services/lb/resource_huaweicloud_lb_monitor.go
Labels: size/L, feature, LGTM, approved

#6569 feat(ELB): add params to elb loadbalancer and listener resource
  docs/resources/elb_listener.md
  docs/resources/elb_loadbalancer.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_listener_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_listener.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/ipgroups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/ipgroups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/ipgroups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/listeners/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/listeners/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/loadbalancers/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/aliases/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/aliases/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/aliases/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/versions/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/versions/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/versions/urls.go
  vendor/go.mongodb.org/mongo-driver/bson/bsoncodec/default_value_decoders.go
  vendor/go.mongodb.org/mongo-driver/bson/unmarshal.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#6571 feat(ELB): add params to lb listener resource
  docs/resources/lb_listener.md
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_listener_test.go
  huaweicloud/services/lb/resource_huaweicloud_lb_listener.go
Labels: size/L, feature, LGTM, approved

#6582 fix(dns/recordset): change the 'records' parameter type from list to set
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_recordset.go
Labels: size/XS, bugfix, LGTM, approved

#6578 feat(as): new datasource to query scaling activity logs
  docs/data-sources/asv2_activity_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_asv2_activity_logs_test.go
  huaweicloud/services/as/data_source_huaweicloud_asv2_activity_logs.go
Labels: size/L, feature, LGTM, approved
