Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2025-06, with the labels that each got.

#6898 chore(cci): fixed cci pvc markdown and add test case
  docs/incubating/cciv2_persistent_volume_claim.md
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_persistent_volume_claim_test.go
Labels: size/S, chore, LGTM, approved

#6870 feat(cci): add datasource cci persistent volumes
  docs/incubating/cciv2_persistent_volumes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_persistent_volumes_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_persistent_volumes.go
Labels: size/L, feature, LGTM, approved

#6879 feat(cbh): add a datasource to get URL for logging in to a CBH instance as user admin.
  docs/data-sources/cbh_instance_admin_url.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_instance_admin_url_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_instance_admin_url.go
Labels: size/M, feature, LGTM, approved

#6866 feat(waf): add data source to get list of alarm notifications
  docs/data-sources/waf_alarm_notifications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_alarm_notifications_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_alarm_notifications.go
Labels: size/L, size/M, feature, LGTM, approved

#6877 feat(waf): add data source to get available features under a region
  docs/data-sources/waf_config.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_config_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_config.go
Labels: size/L, feature, LGTM, approved

#6859 feat(dew): add a data source to get csms secrets by tags.
  docs/data-sources/csms_secrets_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_csms_secrets_by_tags_test.go
  huaweicloud/services/dew/data_source_huaweicloud_csms_secrets_by_tags.go
Labels: size/L, feature, LGTM, approved

#6878 feat(aad): add a data source to get block statistics
  docs/data-sources/aad_block_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_block_statistics.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_block_statistics_test.go
Labels: size/M, feature, approved

#6901 feat(smn): add new resource to set topic attributes
  docs/resources/smn_topic_attributes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_topic_attributes_test.go
  huaweicloud/services/smn/resource_huaweicloud_smn_topic_attributes.go
Labels: size/L, feature, LGTM, approved

#6904 feat(cbr): add new resource to manage organization policies
  docs/resources/cbr_organization_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_organization_policy_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_organization_policy.go
Labels: size/L, feature, LGTM, approved

#6867 feat(RDS): add a data source to query mysql authorized databases
  docs/data-sources/rds_diagnosis.md
  docs/data-sources/rds_diagnosis_instances.md
  docs/data-sources/rds_mysql_authorized_databases.md
  docs/data-sources/rds_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_mysql_authorized_databases_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_mysql_authorized_databases.go
Labels: size/XL, size/L, size/M, feature, LGTM, approved

#6883 feat(aad): add a data source to get unblock record
  docs/data-sources/aad_unblock_records.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_unblock_records.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_unblock_records_test.go
Labels: size/L, size/M, feature, LGTM, approved

#6906 fix(cbr): remove useless codes
  huaweicloud/services/cbr/resource_huaweicloud_cbr_organization_policy.go
Labels: size/XS, bugfix, LGTM, approved

#6913 fix(RDS): fix rds primary standby switch resource
  huaweicloud/provider.go
  huaweicloud/services/rds/resource_huaweicloud_rds_primary_standby_switch.go
Labels: size/XS, bugfix, LGTM, approved

#6893 feat(cci): add data source cci pvcs
  docs/incubating/cciv2_persistent_volume_claims.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_persistent_volume_claims_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_persistent_volume_claims.go
Labels: size/L, feature, LGTM, approved

#6918 fix(as/as_group): fix resource list query pagination not working
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/S, bugfix, LGTM, approved

#6921 feat(smn): add new parameter for subscription extension
  docs/resources/smn_subscription.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/smn/resource_huaweicloud_smn_subscription_test.go
  huaweicloud/services/smn/resource_huaweicloud_smn_subscription.go
  vendor/github.com/chnsz/golangsdk/openstack/smn/v2/subscriptions/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#6930 feat(iam): add new resource identity_policy_agency_acttach
  huaweicloud/provider.go
  huaweicloud/services/iam/resource_huaweicloud_identity_policy_agency_attach.go
Labels: size/M, feature, LGTM, approved

#6931 feat(fgs): add new resource to change trigger status
  docs/resources/fgs_function_trigger_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_trigger_status_action_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_trigger_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger_status_action.go
Labels: size/L, feature, LGTM, approved

#6933 Update CHANGELOG for 1.75.2
  CHANGELOG.md
Labels: size/XS, approved

#6919 feat(cbr): new resource to restore cbr backup
  docs/resources/cbr_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_restore_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_restore.go
Labels: size/L, feature, LGTM, approved

#6939 fix(VPC): fix vpc subnet
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/XS, bugfix, LGTM, approved

#6917 feat(evs): add a data source to query tags of volume
  docs/data-sources/evs_volume_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_volume_tags_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_volume_tags.go
Labels: size/M, feature, LGTM, approved

#6914 feat(dew): add a one-time resource to disassociate kms keypair
  docs/resources/kms_keypair_disassociate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_keypair_disassociate_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_keypair_disassociate.go
Labels: size/L, feature, LGTM, approved

#6920 feat(evs): add a data source to query volume transfer details
  docs/data-sources/evsv3_volume_transfer_details.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evsv3_volume_transfer_details_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evsv3_volume_transfer_details.go
Labels: size/L, size/M, feature, LGTM, approved

#6911 feat(sfsturbo): the OBS target resource supports new API
  docs/resources/sfs_turbo_obs_target.md
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_obs_target_test.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_obs_target.go
Labels: size/M, feature, LGTM, approved

#6916 feat(dew): add a resource to associate keypair
  docs/resources/kms_keypair_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_keypair_associate_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_keypair_associate.go
Labels: size/L, feature, LGTM, approved

#6949 fix(dew): Correct the incorrect service name 'kms' to' kps'
  docs/resources/kps_keypair_associate.md
  docs/resources/kps_keypair_disassociate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kps_keypair_associate_test.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kps_keypair_disassociate_test.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair_associate.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair_disassociate.go
Labels: size/M, bugfix, LGTM, approved

#6944 feat(RDS): add parameters to rds instance
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/M, feature, LGTM, approved

#6947 feat(RDS): fix rds sqlserver database api version
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sqlserver_database.go
Labels: size/S, feature, LGTM, approved

#6936 feat(hss): add new data source to query hss policy groups
  docs/data-sources/hss_policy_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_policy_groups_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_policy_groups.go
Labels: size/L, feature, LGTM, approved

#6954 feat(cbr): new data source to query the CBR replication capabilities
  docs/data-sources/cbr_replication_capabilities.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_replication_capabilities_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_replication_capabilities.go
Labels: size/M, feature, LGTM, approved

#6951 feat(waf): add a resource to manage certificate bind domain
  docs/resources/waf_domain_associate_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_domain_associate_certificate_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain_associate_certificate.go
Labels: size/M, feature, LGTM, approved

#6941 feat(COC): add COC incident resource
  docs/resources/coc_incident.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_incident_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_incident.go
Labels: size/L, feature, LGTM, approved

#6732 feat(eps): add new data source to query eps quotas
  docs/data-sources/enterprise_project_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eps/data_source_huaweicloud_enterprise_project_quotas_test.go
  huaweicloud/services/eps/data_source_huaweicloud_enterprise_project_quotas.go
Labels: size/M, feature, LGTM, approved

#6955 feat(fgs): make some changes for the parameter network_controller
  docs/resources/fgs_function.md
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/XS, feature, LGTM, approved

#6960 feat(dms_kafka): save agency name in kafkav2_smart_connect_task
  huaweicloud/services/kafka/resource_huaweicloud_dms_kafkav2_smart_connect_task.go
Labels: size/XS, feature, LGTM, approved

#6961 feat(encrypt): sensitive parameters supports encrypt operation
  docs/resources/fgs_function_trigger_status.md
  huaweicloud/services/dew/common.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger_status_action.go
  huaweicloud/services/lts/resource_huaweicloud_lts_register_kafka_instance.go
Labels: size/M, feature, LGTM, approved

#6953 refactor(RDS): refactor rds parameter group resource
  docs/resources/rds_parametergroup.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_parametergroup_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_parametergroup.go
Labels: size/L, refactor, LGTM, approved

#6962 feat(dew): add a new resource to delete failed task
  docs/resources/kps_failed_task_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kps_failed_task_delete_test.go
  huaweicloud/services/dew/resource_huaweicloud_kps_failed_task_delete.go
Labels: size/M, feature, LGTM, approved

#6948 feat(evs): add a data source to query volumes by tags
  docs/data-sources/evs_volumes_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_volumes_by_tags_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_volumes_by_tags.go
Labels: size/L, feature, LGTM, approved

#6938 feat(CodeArts/Pipeline): support service endpoint management
  docs/resources/codearts_pipeline_service_endpoint.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_service_endpoint_test.go
  huaweicloud/services/codeartspipeline/common.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_service_endpoint.go
Labels: size/L, feature, LGTM, approved

#6972 refactor(waf): adjust the example scripts
  examples/waf/waf-dedicated-instance/README.md
  examples/waf/waf-dedicated-instance/main.tf
  examples/waf/waf-dedicated-instance/terraform.tfvars
  examples/waf/waf-dedicated-instance/variables.tf
Labels: size/M, refactor, LGTM, approved

#6967 feat(cbr): new datasource to query storage usages
  docs/data-sources/cbr_storage_usages.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_storage_usages_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_storage_usages.go
Labels: size/L, feature, LGTM, approved

#6958 feat(cci): add data source CCI storage classes
  docs/incubating/cciv2_storage_classes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_storage_classes_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_storage_classes.go
Labels: size/L, size/M, feature, LGTM, approved

#6965 feat(dew): add a one-time resource to encrypt datakey
  docs/resources/kms_encrypt_datakey.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_encrypt_datakey_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_encrypt_datakey.go
Labels: size/M, feature, LGTM, approved

#6928 feat(RDS): add a data source to query lts configs
  docs/data-sources/rds_lts_configs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_lts_configs_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_lts_configs.go
Labels: size/L, feature, LGTM, approved

#6974 feat(dew): add a new one-time resource to decrypt datakey
  docs/resources/kms_decrypt_datakey.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_decrypt_datakey_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_decrypt_datakey.go
Labels: size/L, size/M, feature, LGTM, approved

#6978 feat(evs): add a data source to query availability zone (v3)
  docs/data-sources/evsv3_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evsv3_availability_zones_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evsv3_availability_zones.go
Labels: size/M, feature, LGTM, approved

#6984 chore(coc): fixed COC incident markdown and add test case
  docs/resources/coc_incident.md
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_incident_test.go
Labels: size/XS, chore, LGTM, approved

#6968 feat(hss): add new data source to query hss resource quotas.
  docs/data-sources/hss_resource_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_resource_quotas_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_resource_quotas.go
Labels: size/L, feature, LGTM, approved

#6977 feat(waf): add data source to get top security statistics by category
  docs/data-sources/waf_overviews_classification.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_overviews_classification_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_overviews_classification.go
Labels: size/L, feature, LGTM, approved

#6982 feat(waf): add data source to get list of domains
  docs/data-sources/waf_all_domains.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_all_domains_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_all_domains.go
Labels: size/L, feature, LGTM, approved

#6937 feat(eg): add new data source to query event streams
  docs/data-sources/eg_event_streams.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eg/data_source_huaweicloud_eg_event_streams_test.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_event_streams.go
Labels: size/XL, size/L, feature, LGTM, approved

#6987 fix(apig): updating other parameters error when log is enabled
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/M, bugfix, LGTM, approved

#6996 feat(dew): add an one-time resource to create a datakey without plaintext
  docs/resources/kms_datakey_without_plaintext.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_datakey_without_plaintext_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_datakey_without_plaintext.go
Labels: size/L, feature, LGTM, approved

#6998 feat(DDS): add dds instance node num update resource
  docs/resources/dds_instance_node_num_update.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_instance_node_num_update_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_instance_node_num_update.go
Labels: size/L, feature, LGTM, approved

#7000 refactor(vpcep): update the sdk of vpcep
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/configurations/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/configurations/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/configurations/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/results.go
  vendor/modules.txt
Labels: size/M, refactor, dependencies, LGTM, approved

#7004 Update CHANGELOG for v1.75.3
  CHANGELOG.md
Labels: size/XS, approved

#6995 feat(hss): add new data source to query hss auto launch statistics
  docs/data-sources/hss_auto_launch_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_auto_launch_statistics_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_auto_launch_statistics.go
Labels: size/L, size/M, feature, LGTM, approved

#7008 feat(ci): add ci ignore word
  .golangci.yml
Labels: size/XS, feature, LGTM, approved

#7006 feat(cbr): new resource to copy cbr checkpoint
  docs/resources/cbr_checkpoint_copy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_checkpoint_copy_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_checkpoint_copy.go
Labels: size/L, feature, LGTM, approved

#6935 feat(RDS): add a resource to upgrade instance minor version
  docs/resources/rds_upgrading_minor_version.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_upgrading_minor_version_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_upgrading_minor_version.go
Labels: size/M, feature, LGTM, approved

#7013 refactor(cts): use project_id to filter system tracker
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/XS, refactor, LGTM, approved

#7016 feat(modelarts/resource_pool): add 'creating_step' parameter
  docs/resources/modelarts_resource_pool.md
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_resource_pool.go
Labels: size/S, feature, LGTM, approved

#7018 Update CHANGELOG for 1.75.4
  CHANGELOG.md
Labels: size/XS, approved

#7011 feat(hss): add new data source to query hss app statistics
  docs/data-sources/hss_app_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_app_statistics_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_app_statistics.go
Labels: size/M, feature, LGTM, approved

#6980 feat(COC): add COC war room resource
  docs/resources/coc_war_room.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_war_room_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_war_room.go
Labels: size/L, feature, LGTM, approved

#7025 feat(ci): add doc ci ignore word
  .github/workflows/doc-lint.yml
Labels: size/XS, feature, LGTM, approved

#7001 feat(waf): add data source to get the website QPS
  docs/data-sources/waf_overviews_qps_timeline.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_overviews_qps_timeline_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_overviews_qps_timeline.go
Labels: size/L, feature, LGTM, approved

#7012 feat(evs/hss_event_unblock_ip): support `hss_event_unblock_ip` data source
  .github/workflows/doc-lint.yml
  docs/data-sources/hss_event_unblock_ips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_event_unblock_ips_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_event_unblock_ips.go
Labels: size/L, feature, LGTM, approved

#7019 feat(waf): add data source to get the average bandwidth usage
  docs/data-sources/waf_overviews_bandwidth_timeline.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_overviews_bandwidth_timeline_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_overviews_bandwidth_timeline.go
Labels: size/L, feature, LGTM, approved

#7023 feat(hss): add new data source to query hss app
  docs/data-sources/hss_asset_apps.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_asset_apps_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_asset_apps.go
Labels: size/L, feature, LGTM, approved

#7024 feat(dew): add a datasource to query KMS custom keys by tags
  docs/data-sources/kms_custom_keys_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kms_custom_keys_by_tags_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_custom_keys_by_tags.go
Labels: size/L, feature, LGTM, approved

#7031 feat(cbr): new resource to change cbr order
  docs/resources/cbr_change_order.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_change_order_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_change_order.go
Labels: size/L, feature, LGTM, approved

#6999 feat(CodeArts/Pipeline): support resource pipeline
  docs/resources/codearts_pipeline.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_test.go
  huaweicloud/services/codeartspipeline/common.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_template.go
Labels: size/XL, feature, LGTM, approved

#7028 feat(RDS): add rds unlock node readonly status resource
  docs/resources/rds_unlock_node_readonly_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_unlock_node_readonly_status_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_unlock_node_readonly_status.go
Labels: size/M, feature, LGTM, approved

#7035 feat(cbr): new resource to sync backup
  docs/incubating/cbr_backup_sync.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_backup_sync_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_backup_sync.go
Labels: size/L, feature, LGTM, approved

#7033 feat(hss/hss_agent_install_script): support `hss_agent_install_script` data source
  docs/data-sources/hss_agent_install_script.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_agent_install_script_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_agent_install_script.go
Labels: size/M, feature, LGTM, approved

#7040 feat(dew/csms): new datasource to query csms tasks
  docs/data-sources/csms_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_csms_tasks_test.go
  huaweicloud/services/dew/data_source_huaweicloud_csms_tasks.go
Labels: size/L, feature, LGTM, approved

#6992 feat(RDS): add a resource pg table restore
  docs/resources/rds_pg_table_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_table_restore_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_table_restore.go
Labels: size/L, feature, LGTM, approved

#7044 feat(COC): add COC custom event report resource
  docs/resources/coc_custom_event_report.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_custom_event_report_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_custom_event_report.go
Labels: size/L, feature, LGTM, approved

#7048 fix(RDS): fix rds pg table restore resource
  docs/resources/rds_pg_table_restore.md
  huaweicloud/config/force_new.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_table_restore_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_table_restore.go
Labels: size/M, bugfix, LGTM, approved

#7050 feat(sdrs): new datasource to query quotas
  docs/data-sources/sdrs_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/data_source_huaweicloud_sdrs_quotas_test.go
  huaweicloud/services/sdrs/data_source_huaweicloud_sdrs_quotas.go
Labels: size/M, feature, LGTM, approved

#7052 feat(RDS): add a resource pg database restore
  docs/resources/rds_pg_database_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_database_restore_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_database_restore.go
Labels: size/L, feature, LGTM, approved

#7054 feat(hss/event_delete_isolated_file): support `hss_event_delete_isolated_file` resource
  docs/incubating/hss_event_delete_isolated_file.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_event_delete_isolated_file_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_event_delete_isolated_file.go
Labels: size/M, feature, LGTM, approved

#7027 feat(waf): add data source to get the website requests
  docs/data-sources/waf_overviews_request_timeline.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_overviews_request_timeline_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_overviews_request_timeline.go
Labels: size/L, feature, LGTM, approved

#7042 feat(waf): add new resource to manage domain migrate
  docs/resources/waf_migrate_domain.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_migrate_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_migrate_domain.go
Labels: size/M, feature, LGTM, approved

#7046 feat(evs): support datasource to query evs quota details V3
  docs/data-sources/evsv3_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evsv3_quotas_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evsv3_quotas.go
Labels: size/L, feature, LGTM, approved

#7056 feat(cbr): fixup api annotation of cbr_vaults_by_tags
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_vaults_by_tags.go
Labels: size/S, size/XS, feature, LGTM, approved

#7053 feat(dew): add new data source to get kms parameters for import
  docs/data-sources/kms_parameters_for_import.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kms_parameters_for_import_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_parameters_for_import.go
Labels: size/M, feature, LGTM, approved

#7060 Update CHANGELOG for v1.75.5
  CHANGELOG.md
Labels: size/XS, approved

#7061 feat(COC): add COC patch compliance reports data source
  docs/data-sources/coc_patch_compliance_reports.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_patch_compliance_reports_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_patch_compliance_reports.go
Labels: size/L, feature, LGTM, approved

#7005 feat(cci): add data source cci v2 events
  docs/incubating/cciv2_events.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_events_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_events.go
Labels: size/L, size/M, feature, LGTM, approved

#7041 feat(secmaster): add secmaster workspace read, update and delete method
  docs/incubating/secmaster_workspace.md
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_workspace_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_workspace.go
Labels: size/L, feature, LGTM, approved

#7059 feat(RDS): add a data source to query instance configurations
  docs/data-sources/rds_instance_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_instance_configurations_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_instance_configurations.go
Labels: size/L, feature, LGTM, approved

#7066 feat(CodeArts/Pipeline): support to create pipeline by template
  docs/resources/codearts_pipeline_by_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_by_template_test.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_by_template.go
Labels: size/XL, feature, LGTM, approved

#7070 feat(RDS): add a resource to query wal log replay delay status
  docs/data-sources/rds_wal_log_replay_delay_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_wal_log_replay_delay_status_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_wal_log_replay_delay_status.go
Labels: size/M, feature, LGTM, approved

#7085 feat(RDS): rds instance support change single to ha
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/L, size/M, feature, LGTM, approved

#7071 feat(cbr): add datasource to query migrate status
  docs/data-sources/cbr_migrate_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_migrate_status_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_migrate_status.go
Labels: size/L, feature, LGTM, approved

#7090 ci(lint/hcbp): using the latest version for v2
  .github/workflows/hcbp-lint.yml
Labels: size/XS, LGTM, approved

#7091 feat(sdrs): new resource to add nic to protected instance
  docs/resources/sdrs_protected_instance_add_nic.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_protected_instance_add_nic_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_protected_instance_add_nic.go
Labels: size/L, feature, LGTM, approved

#7088 feat(cbr): add datasource to query backup metadata
  docs/data-sources/cbr_backup_metadata.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_backup_metadata_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_backup_metadata.go
Labels: size/M, feature, LGTM, approved

#7096 feat(sdrs): new resource to delete nic from protection instance
  docs/resources/sdrs_protected_instance_delete_nic.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_protected_instance_delete_nic_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_protected_instance_delete_nic.go
Labels: size/M, feature, LGTM, approved

#7075 feat(secmaster): add new resource to manage create dataspace
  docs/resources/secmaster_dataspace.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_dataspace_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_dataspace.go
Labels: size/M, feature, LGTM, approved

#7098 feat(cce): add cce cluster upgrade step (precheck, snapshot, postcheck)
  docs/resources/cce_cluster_upgrade.md
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_upgrade.go
Labels: size/M, feature, LGTM, approved

#7095 feat(RDS): add a resource to replicate database from read to primary
  docs/resources/rds_restore_read_replica_database.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_restore_read_replica_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_restore_read_replica_database.go
Labels: size/M, feature, LGTM, approved

#7100 feat(cbr): add one time resource to update backup
  docs/resources/cbr_update_backup.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_update_backup_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_update_backup.go
Labels: size/M, feature, LGTM, approved

#7109 feat(vpc): add block_service_endpoint_states in vpc
  go.mod
  go.sum
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/vpcs/requests.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#7111 feat(cbr): add one time resource to replication backup
  docs/resources/cbr_replicate_backup.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_replicate_backup_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_replicate_backup.go
Labels: size/L, feature, LGTM, approved

#7107 feat(oms): add oms migration task and migration task group fields
  docs/resources/oms_migration_task.md
  docs/resources/oms_migration_task_group.md
  huaweicloud/services/acceptance/oms/resource_huaweicloud_oms_migration_task_group_test.go
  huaweicloud/services/acceptance/oms/resource_huaweicloud_oms_migration_task_test.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task_group.go
Labels: size/M, feature, LGTM, approved

#7115 fix(workspace): desktop supports case ignore for name parameter
  docs/resources/workspace_desktop.md
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/XS, bugfix, LGTM, approved

#7118 ci(lint): offline tflint and already using hcbp to instead
  .github/workflows/doc-lint.yml
Labels: size/S, LGTM, approved

#7122 chore(gitignore): more files generate by terraform disable to commit
  .gitignore
Labels: size/XS, chore, LGTM, approved

#7116 docs(modelarts): modify resource name
  docs/resources/modelarts_node_batch_unsubscribe.md
Labels: documentation, size/XS, LGTM, approved

#7032 feat(apig): add new data source to query instances by tags
  docs/data-sources/apig_instances_filter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_instances_filter_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_instances_filter.go
Labels: size/L, feature, LGTM, approved

#6959 feat(lts): add new data source to get all alarms
  docs/data-sources/lts_alarms.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_alarms_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_alarms.go
Labels: size/L, feature, LGTM, approved

#7128 Update CHANGELOG for 1.76.0
  CHANGELOG.md
Labels: size/XS, approved

#7125 fix(RDS): fix rds backup resource
  docs/resources/rds_backup.md
  huaweicloud/services/rds/resource_huaweicloud_rds_backup.go
Labels: size/S, size/XS, bugfix, LGTM, approved
