Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2025-02, with the labels that each got.

#6260 feat(cfw): add resource anti virus
  docs/resources/cfw_anti_virus.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_anti_virus_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_anti_virus.go
Labels: size/L, feature, LGTM, approved

#6254 refactor(iotda): refactor iotda spaces data source code style
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_spaces.go
Labels: size/S, refactor, LGTM, approved

#6261 refactor(mpc): refactor transcoding template group resource create method code style
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template_group.go
Labels: size/M, refactor, LGTM, approved

#6272 feat(accessanalyzer): add options of type and add new argument configuration
  docs/resources/access_analyzer.md
  huaweicloud/services/acceptance/accessanalyzer/huaweicloud_access_analyzer_test.go
  huaweicloud/services/accessanalyzer/resource_huaweicloud_access_analyzer.go
Labels: size/M, feature, LGTM, approved

#6275 refactor(AccessAnalyzer): add region in access analyzer resources
  docs/resources/access_analyzer.md
  docs/resources/access_analyzer_achive_rule.md
  huaweicloud/services/accessanalyzer/resource_huaweicloud_access_analyzer.go
  huaweicloud/services/accessanalyzer/resource_huaweicloud_access_analyzer_archive_rule.go
Labels: size/XS, refactor, LGTM, approved

#6236 feat(dds): support update read and delete for template copy
  docs/resources/dds_parameter_template_copy.md
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_parameter_template_copy_test.go
  huaweicloud/services/acceptance/dds/resource_huaweicloud_dds_parameter_template_test.go
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template.go
  huaweicloud/services/dds/resource_huaweicloud_dds_parameter_template_copy.go
Labels: size/M, feature, LGTM, approved

#6277 feat(AccessAnalyzer): add new data_source access_analyzers
  docs/data-sources/access_analyzers.md
  docs/resources/access_analyzer.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/accessanalyzer/data_source_huaweicloud_access_analyzers_test.go
  huaweicloud/services/accessanalyzer/data_source_huaweicloud_access_analyzers.go
  huaweicloud/services/accessanalyzer/resource_huaweicloud_access_analyzer.go
Labels: size/L, feature, LGTM, approved

#6276 refactor(cts): refactor data tracker resource using auto-gen code style
  docs/resources/cts_data_tracker.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_data_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
Labels: size/L, refactor, LGTM, approved

#6243 refactor(aom): refactor alarm rule
  docs/resources/aom_alarm_rule.md
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_alarm_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_alarm_rule.go
Labels: size/L, refactor, LGTM, approved

#6248 refactor(aom): refactor service discovery rule
  docs/resources/aom_service_discovery_rule.md
  huaweicloud/services/acceptance/aom/resource_huaweicloud_aom_service_discovery_rule_test.go
  huaweicloud/services/aom/resource_huaweicloud_aom_service_discovery_rule.go
Labels: size/L, refactor, LGTM, approved

#6258 refactor(dms): refactor kafka user
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_user_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_user.go
Labels: size/M, refactor, LGTM, approved

#6279 feat(GaussDB): gaussdb opengauss support mysql compatibility port
  docs/data-sources/gaussdb_opengauss_instances.md
  docs/resources/gaussdb_opengauss_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instances.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/opengauss/v3/instances/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#6259 refactor(dms): refactor kafka permissions
  huaweicloud/services/acceptance/dms/resource_huaweicloud_dms_kafka_permissions_test.go
  huaweicloud/services/dms/resource_huaweicloud_dms_kafka_permissions.go
Labels: size/M, refactor, LGTM, approved

#6283 refactor(vpc): remove sdk-go-v3 in vpc resource
  huaweicloud/services/vpc/data_source_huaweicloud_vpc.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpcs.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
Labels: size/S, refactor, LGTM, approved

#6268 feat(encryption): add signing algorithm parameter and configuration
  docs/index.md
  huaweicloud/config/auth.go
  huaweicloud/config/config.go
  huaweicloud/config/hc_config.go
  huaweicloud/provider.go
  huaweicloud/signer/derived_signer.go
  huaweicloud/signer/hasher.go
  huaweicloud/signer/iaksksigner.go
  huaweicloud/signer/init.go
  huaweicloud/signer/p256_sha256_signer.go
  huaweicloud/signer/signing_key.go
  huaweicloud/signer/sm2_sm3_signer.go
  huaweicloud/signer/sm2_sm3_signer_test.go
  huaweicloud/signer/sm3_signer.go
  huaweicloud/signer/sm3_signer_test.go
Labels: size/XL, feature, LGTM, approved

#6282 feat(GaussDB): add gaussdb opengauss instance features data source
  docs/data-sources/gaussdb_opengauss_instance_features.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_features_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_features.go
Labels: size/L, feature, LGTM, approved

#6287 refactor(GaussDB): fix gaussdb opengauss api comments
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_node_startup.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_node_stop.go
Labels: size/XS, refactor, LGTM, approved

#6291 feat(sm3): add description of signing_algorithm.
  huaweicloud/provider.go
Labels: size/XS, feature, LGTM, approved

#6250 refactor(hss): refactor web tamper protection resource code style
  docs/resources/hss_webtamper_protection.md
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_webtamper_protection_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_webtamper_protection.go
Labels: size/L, refactor, LGTM, approved

#6281 refactor(hss): refactor webtamper_hosts data source code style
  huaweicloud/services/hss/data_source_huaweicloud_hss_webtamper_hosts.go
Labels: size/M, refactor, LGTM, approved

#6271 refactor(mpc): refactor transcoding template group resource delete method code style
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template_group.go
Labels: size/XS, refactor, LGTM, approved

#6273 refactor(mpc): refactor transcoding template group resource update method code style
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template_group.go
Labels: size/M, refactor, LGTM, approved

#6274 refactor(iotda): refactor iotda space resource code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_space_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_space.go
Labels: size/M, refactor, LGTM, approved

#6296 chore(mpc): fix the import package error
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template_group.go
Labels: size/XS, chore, LGTM, approved

#6293 feat(AccessAnalyzer): add new data_source archive_rules
  docs/data-sources/access_analyzer_archive_rules.md
  docs/data-sources/access_analyzers.md
  docs/resources/access_analyzer_achive_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/accessanalyzer/data_source_huaweicloud_access_analyzers_archive_rules_test.go
  huaweicloud/services/accessanalyzer/data_source_huaweicloud_access_analyzer_archive_rules.go
Labels: size/L, feature, LGTM, approved

#6301 feat: add new utils function to unmarshal json array string
  huaweicloud/utils/type_convert.go
  huaweicloud/utils/type_convert_test.go
Labels: size/S, feature, LGTM, approved

#6290 feat(ces): add resource CES metric data add
  docs/resources/ces_metric_data_add.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_metric_data_add_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_metric_data_add.go
Labels: size/L, feature, LGTM, approved

#6292 fix(CodeArts/Deploy): fix error and add acc test
  docs/resources/codearts_deploy_group_permission.md
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_permission_test.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_permission.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_group.go
Labels: size/M, bugfix, LGTM, approved

#6303 feat(cdn): add new resource to manage cdn domain rule
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_domain_rule_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain_rule.go
Labels: size/XL, feature, LGTM, approved

#6295 chore(cae): deploy component job missing failed status
  huaweicloud/services/cae/resource_huaweicloud_cae_component_deployment.go
Labels: size/XS, chore, LGTM, approved

#6278 refactor(workspace): using auto-gen code style to refactor desktop resource
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/L, refactor, LGTM, approved

#6313 refactor(iotda): refactor batch tasks data source code style
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_batchtasks.go
Labels: size/M, refactor, LGTM, approved

#6265 refactor(fgs/dependency): using auto-gen style to replace old coding
  docs/resources/fgs_dependency_version.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_dependency_version_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency_version.go
Labels: size/L, refactor, LGTM, approved

#6298 feat(CodeArts/Inspector): support host group management
  docs/data-sources/codearts_inspector_host_groups.md
  docs/resources/codearts_inspector_host_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsinspector/data_source_huaweicloud_codearts_inspector_host_groups_test.go
  huaweicloud/services/acceptance/codeartsinspector/resource_huaweicloud_codearts_inspector_host_group_test.go
  huaweicloud/services/codeartsinspector/data_source_huaweicloud_codearts_inspector_host_groups.go
  huaweicloud/services/codeartsinspector/resource_huaweicloud_codearts_inspector_host_group.go
Labels: size/L, feature, LGTM, approved

#6280 refactor(mpc): refactor transcoding template resource create method code style
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template.go
Labels: size/M, refactor, LGTM, approved

#6284 refactor(mpc): refactor transcoding template resource read method code style
  huaweicloud/services/acceptance/mpc/resource_huaweicloud_mpc_transcoding_template_test.go
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template.go
Labels: size/M, refactor, LGTM, approved

#6288 refactor(mpc): refactor transcoding template resource delete method code style
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template.go
Labels: size/XS, refactor, LGTM, approved

#6314 refactor(RDS): remove rds storage types validation
  docs/data-sources/rds_storage_types.md
  huaweicloud/services/rds/data_source_huaweicloud_rds_storage_types.go
Labels: size/S, refactor, LGTM, approved

#6315 refactor(iotda): refactor iotda batch task file resource to general code style
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_iotda_batchtask_file_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_iotda_batchtask_file.go
Labels: size/M, refactor, LGTM, approved

#6306 refactor(vpc): remove sdk-go-v3 in resource address group
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_address_group_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_address_group.go
Labels: size/M, refactor, LGTM, approved

#6312 refactor(fgs/app template): using auto-gen style to replace old coding
  docs/data-sources/fgs_application_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_application_templates_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_application_templates.go
Labels: size/L, refactor, feature, LGTM, approved

#6263 refactor(fgs/dependency): do not query versions by default
  docs/data-sources/fgs_dependencies.md
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_dependencies.go
Labels: size/XS, refactor, LGTM, approved

#6320 refactor(iotda): refactor iotda backlog policies datasource
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_data_backlog_policies.go
Labels: size/S, refactor, LGTM, approved

#6316 refactor(fgs/application): adjust the data source coding and the acceptance test
  docs/data-sources/fgs_applications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_applications_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_applications.go
Labels: size/L, refactor, LGTM, test, approved

#6300 feat(GaussDB): gaussdb openguass instance suport advance features
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/M, feature, LGTM, approved

#6302 refactor(iotda): refactor batch task resource code style
  docs/resources/iotda_batchtask.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_batchtask_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_batchtask.go
Labels: size/L, refactor, LGTM, approved

#6305 refactor(css): refactor css cluster resource create and read method code style
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_cluster_test.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
Labels: size/L, refactor, LGTM, approved

#6325 fix(hss/host_protection): fix host_protection checkDeleted judgment logic
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_host_protection_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_host_protection.go
Labels: size/XS, bugfix, LGTM, approved

#6319 feat(GaussDB): add gaussdb opengauss sync sql throttling task resource
  docs/resources/gaussdb_opengauss_sync_sql_throttling_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_sync_sql_throttling_task_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_sync_sql_throttling_task.go
Labels: size/M, feature, LGTM, approved

#6323 feat(GaussDB): change huaweicloud_gaussdb_opengauss_limit_sql_models to huaweicloud_gaussdb_opengauss_sql_templates
  docs/data-sources/gaussdb_opengauss_sql_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_sql_templates_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_sql_templates.go
Labels: size/S, feature, LGTM, approved

#6308 feat(ces): add the data source to get the list of CES metric data
  docs/data-sources/ces_metric_data.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_metric_data_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_metric_data.go
Labels: size/L, feature, LGTM, approved

#6317 feat(ces): add this data source to get the list of CES multiple metrics data
  docs/data-sources/ces_multiple_metrics_data.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/data_source_huaweicloud_ces_multiple_metrics_data_test.go
  huaweicloud/services/ces/data_source_huaweicloud_ces_multiple_metrics_data.go
Labels: size/L, feature, LGTM, approved

#6322 feat(AccessAnalyzer): add new resource archive rule apply
  docs/resources/access_analyzer_achive_rule.md
  docs/resources/access_analyzer_achive_rule_apply.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/accessanalyzer/resource_huaweicloud_access_analyzer_archive_rule_apply_test.go
  huaweicloud/services/acceptance/accessanalyzer/resource_huaweicloud_access_analyzer_archive_rule_test.go
  huaweicloud/services/acceptance/accessanalyzer/resource_huaweicloud_access_analyzer_test.go
  huaweicloud/services/accessanalyzer/resource_huaweicloud_access_analyzer_archive_rule_apply.go
Labels: size/M, feature, LGTM, approved

#6289 refactor(fgs/dependency): using auto-gen style to replace old coding
  docs/data-sources/fgs_dependency_versions.md
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_dependency_versions_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_dependency_versions.go
Labels: size/M, refactor, LGTM, test, approved

#6328 refactor(fgs/async): using auto-gen style to replace old coding
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_async_invoke_configuration_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_async_invoke_configuration.go
Labels: size/L, refactor, LGTM, test, approved

#6304 refactor(mpc): refactor transcoding template resource update method code style
  huaweicloud/services/mpc/resource_huaweicloud_mpc_transcoding_template.go
Labels: size/M, refactor, LGTM, approved

#6321 refactor(iotda): refactor iotda data flow control policies datasource
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_data_flow_control_policies.go
Labels: size/S, refactor, LGTM, approved

#6333 fix(iotda): fix the iotda datasource page querying offset error
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_data_backlog_policies.go
Labels: size/XS, bugfix, LGTM, approved

#6331 refactor(iotda/device_messages): refactor data source code style
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_messages.go
Labels: size/M, refactor, LGTM, approved

#6332 refactor(iotda): refactor iotda upgrade packages datasource
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_upgrade_packages.go
Labels: size/S, refactor, LGTM, approved

#6336 fix(fgs/function): adjust the parameter encrypted_user_data and depend_list
  docs/resources/fgs_function.md
  go.mod
  go.sum
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/function/requests.go
  vendor/modules.txt
Labels: size/S, bugfix, chore, dependencies, LGTM, approved

#6342 refactor(iotda): refactor iotda data backlog policy resource to general code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_data_backlog_policy_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_data_backlog_policy.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_message.go
Labels: size/M, refactor, LGTM, approved

#6340 refactor(iotda/device_message): refactor resource code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_message_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_messages.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_message.go
Labels: size/L, refactor, LGTM, approved

#6344 refactor(iotda/device_binding_groups): refactor `device_binding_groups` data source code style
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_binding_groups.go
Labels: size/S, refactor, LGTM, approved

#6341 feat(GaussDB): add gaussdb opengauss sql throtting task resource
  docs/resources/gaussdb_opengauss_sql_throttling_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_sql_throttling_task_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_sql_throttling_task.go
Labels: size/XL, feature, LGTM, approved

#6345 refactor(iotda): refactor data forwarding rules datasource to generalcode style
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_dataforwarding_rules.go
Labels: size/M, refactor, LGTM, approved

#6335 refactor(cts): refactor system tracker resource using auto-gen code style
  docs/resources/cts_tracker.md
  huaweicloud/services/acceptance/cts/resource_huaweicloud_cts_tracker_test.go
  huaweicloud/services/cts/resource_huaweicloud_cts_data_tracker.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/L, refactor, LGTM, approved

#6327 refactor(css): refactor css cluster resource update method code style
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
Labels: size/L, refactor, LGTM, approved

#6356 fix(CodeArts/Inspector): remove parameter region
  docs/data-sources/codearts_inspector_host_groups.md
  docs/resources/codearts_inspector_host_group.md
  huaweicloud/services/codeartsinspector/data_source_huaweicloud_codearts_inspector_host_groups.go
  huaweicloud/services/codeartsinspector/resource_huaweicloud_codearts_inspector_host_group.go
Labels: size/S, bugfix, LGTM, approved

#6310 refactor(iotda): refactor iotda upgrade package resource code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_upgrade_package_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_upgrade_package.go
Labels: size/M, refactor, LGTM, approved

#6326 refactor(iotda): refactor iotda device proxy resource code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_proxy_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_proxy.go
Labels: size/M, refactor, LGTM, approved

#6352 refactor(css): refactor css cluster restart code style
  huaweicloud/services/css/resource_huaweicloud_css_cluster_restart.go
Labels: size/S, refactor, LGTM, approved

#6347 refactor(iotda): refactor products datasource to general code style
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_products.go
Labels: size/M, refactor, LGTM, approved

#6349 feat(GaussDB): add gaussdb opengauss sql throttling tasks data source
  docs/data-sources/gaussdb_opengauss_sql_throttling_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_sql_throttling_tasks_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_sql_throttling_tasks.go
Labels: size/L, feature, LGTM, approved

#6348 refactor(iotda/data_flow_control_policy): refactor `data_flow_control_policy` resource code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_data_flow_control_policy_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_data_flow_control_policy.go
Labels: size/M, refactor, LGTM, approved

#6357 refactor(css): refactor css cluster az migrate code style
  huaweicloud/services/css/resource_huaweicloud_css_cluster_az_migrate.go
Labels: size/XS, refactor, LGTM, approved

#6230 feat(cse): add new data source to query microservice instances
  docs/data-sources/cse_microservice_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cse/data_source_huaweicloud_cse_microservice_instances_test.go
  huaweicloud/services/cse/data_source_huaweicloud_cse_microservice_instances.go
Labels: size/L, feature, LGTM, approved

#6339 feat(dns): support new parameter to query custom line
  docs/data-sources/dns_custom_lines.md
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_custom_lines_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_custom_lines.go
Labels: size/S, chore, feature, LGTM, approved

#6360 feat(cfw): CFW acl rule supports any address and any service
  docs/resources/cfw_acl_rule.md
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_acl_rule_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_acl_rule.go
Labels: size/M, feature, LGTM, approved

#6364 feat(workspace): add new parameters for user resource
  docs/resources/workspace_user.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_user_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_user.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/users/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/users/results.go
  vendor/modules.txt
Labels: size/M, chore, feature, dependencies, LGTM, approved

#6365 refactor(css): refactor css logstash resource read method code style
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
Labels: size/S, refactor, LGTM, approved

#6351 feat(GaussDB): add gaussdb opengauss available flavors data source
  docs/data-sources/gaussdb_opengauss_available_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_available_flavors_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_available_flavors.go
Labels: size/L, feature, LGTM, approved

#6363 feat(cce): add iops and throughput in cce node and node pool
  docs/resources/cce_node.md
  docs/resources/cce_node_attach.md
  docs/resources/cce_node_pool.md
  go.mod
  go.sum
  huaweicloud/services/cce/common.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/nodes/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/application/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/application/results.go
  vendor/github.com/chnsz/golangsdk/openstack/fgs/v2/application/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/jobs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/workspace/v2/jobs/urls.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#6368 Update CHANGELOG for 1.72.2
  CHANGELOG.md
Labels: size/XS, approved

#6338 fix(CodeArts/Inspector): remove check response and add check delete
  huaweicloud/services/codeartsinspector/resource_huaweicloud_codearts_inspector_website.go
  huaweicloud/services/codeartsinspector/resource_huaweicloud_codearts_inspector_website_scan.go
Labels: size/S, bugfix, LGTM, approved

#6334 feat(CodeArts/Inspector): support host management
  docs/data-sources/codearts_inspector_hosts.md
  docs/resources/codearts_inspector_host.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/codeartsinspector/data_source_huaweicloud_codearts_inspector_hosts_test.go
  huaweicloud/services/acceptance/codeartsinspector/resource_huaweicloud_codearts_inspector_host_test.go
  huaweicloud/services/codeartsinspector/data_source_huaweicloud_codearts_inspector_hosts.go
  huaweicloud/services/codeartsinspector/resource_huaweicloud_codearts_inspector_host.go
Labels: size/L, feature, LGTM, approved

#6350 feat(CodeArts/Inspector): support to get websites
  docs/data-sources/codearts_inspector_websites.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsinspector/data_source_huaweicloud_codearts_inspector_websites_test.go
  huaweicloud/services/codeartsinspector/data_source_huaweicloud_codearts_inspector_websites.go
Labels: size/L, feature, LGTM, approved

#6358 refactor(cce): remove sdk-go-v3 in cce_chart resoruce
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_chart_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_chart.go
Labels: size/M, refactor, LGTM, approved

#6373 docs(cdn): add cdn domain rule documents
  docs/incubating/cdn_domain_rule.md
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain_rule.go
Labels: size/L, documentation, LGTM, approved

#6170 refactor(forceNew): update FlexibleForceNew func
  huaweicloud/config/force_new.go
Labels: size/XS, refactor, LGTM, approved

#6370 refactor(iotda/devices): refactor devices data source code style
  docs/data-sources/iotda_devices.md
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_devices_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_devices.go
Labels: size/M, refactor, LGTM, approved

#6362 refactor(iotda/device_proxies): refactor `device_proxies` data source code style
  huaweicloud/services/acceptance/iotda/data_source_huaweicloud_iotda_device_proxies_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_proxies.go
Labels: size/M, refactor, LGTM, approved

#6376 chore(apig/api): Supports the ForceNew behavior for group ID because it cannot be updated
  docs/resources/apig_api.md
  huaweicloud/services/apig/resource_huaweicloud_apig_api.go
Labels: size/XS, chore, LGTM, approved

#6375 refactor(cce): refactor cce partition resource
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_partition_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  huaweicloud/services/cce/resource_huaweicloud_cce_partition.go
Labels: size/S, refactor, LGTM, approved

#6378 refactor(cce): update cce partition resource
  huaweicloud/services/cce/resource_huaweicloud_cce_partition.go
Labels: size/XS, refactor, LGTM, approved

#6377 Update CHANGELOG for 1.72.3
  CHANGELOG.md
Labels: size/XS, approved

#6318 refactor: docs(cae): adjust code and add document for operating component resource
  docs/resources/cae_component_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_component_action_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_component_action.go
Labels: size/L, documentation, refactor, LGTM, approved

#6371 fix(dns): fix some issues of the custom line resource
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_custom_line_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_custom_line.go
Labels: size/XS, bugfix, LGTM, approved

#6384 fix(eip): fix update charging mode timeout
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
Labels: size/XS, bugfix, LGTM, approved

#6383 refactor(css): refactor css_logstash_cluster create and update method code style
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster.go
Labels: size/M, refactor, LGTM, approved

#6361 refactor(css): refactor css logstash configuration code style
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_logstash_configuration_test.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_configuration.go
Labels: size/M, refactor, LGTM, approved

#6367 docs(fgs/function): adjust the parameter description
  docs/resources/fgs_function.md
Labels: size/S, documentation, LGTM, approved

#6354 refactor(iotda): refactor iotda device group data source code style
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_device_groups.go
Labels: size/M, refactor, LGTM, approved

#6387 fix: endpoint generates client to increase data copy
  huaweicloud/config/config.go
  huaweicloud/config/config_test.go
Labels: size/S, bugfix, LGTM, approved

#6379 test(dns): adjust the acceptance tests of the recordsets
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_recordsets_test.go
Labels: size/L, LGTM, test, approved

#6382 test(dns): adjust the acceptance tests of the zones data source
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_zones_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_recordset_test.go
Labels: size/L, LGTM, test, approved

#6343 chore(dns/zone): set value ​​for router parameter in ReadContext
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_zone_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_zone.go
Labels: size/S, chore, LGTM, approved

#6393 refactor(iotda): refactor access credential resource to general code style
  huaweicloud/services/iotda/resource_huaweicloud_iotda_access_credential.go
Labels: size/S, refactor, LGTM, approved

#6353 feat(GaussDB): add gaussdb opengauss plugins data source
  docs/data-sources/gaussdb_opengauss_plugins.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_plugins_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_plugins.go
Labels: size/M, feature, LGTM, approved

#6388 refactor(iotda): refactor data forwarding rule resource to general code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_dataforwarding_rule_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_dataforwarding_rule.go
Labels: size/XL, refactor, LGTM, approved

#6396 fix: the incompatibility issue with higher crypto package versions
  go.mod
  go.sum
  vendor/golang.org/x/crypto/LICENSE
  vendor/golang.org/x/crypto/blowfish/cipher.go
  vendor/golang.org/x/crypto/cast5/cast5.go
  vendor/golang.org/x/crypto/chacha20/chacha_ppc64le.s
  vendor/golang.org/x/crypto/curve25519/curve25519.go
  vendor/golang.org/x/crypto/curve25519/curve25519_compat.go
  vendor/golang.org/x/crypto/curve25519/curve25519_go120.go
  vendor/golang.org/x/crypto/curve25519/internal/field/README
  vendor/golang.org/x/crypto/curve25519/internal/field/fe.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64.s
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_amd64_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64.s
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_arm64_noasm.go
  vendor/golang.org/x/crypto/curve25519/internal/field/fe_generic.go
  vendor/golang.org/x/crypto/curve25519/internal/field/sync.checkpoint
  vendor/golang.org/x/crypto/curve25519/internal/field/sync.sh
  vendor/golang.org/x/crypto/hkdf/hkdf.go
  vendor/golang.org/x/crypto/openpgp/armor/armor.go
  vendor/golang.org/x/crypto/openpgp/elgamal/elgamal.go
  vendor/golang.org/x/crypto/openpgp/errors/errors.go
  vendor/golang.org/x/crypto/openpgp/packet/packet.go
  vendor/golang.org/x/crypto/openpgp/read.go
  vendor/golang.org/x/crypto/openpgp/s2k/s2k.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/doc.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/modules.txt
Labels: size/XL, bugfix, dependencies, LGTM, approved

#6355 feat(dns): the private zone supports `proxy_pattern` parameter and modification status
  docs/resources/dns_zone.md
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_zone_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_zone.go
Labels: size/S, feature, LGTM, approved

#6389 feat(RDS): rds instance support update charging mode
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/M, feature, LGTM, approved

#6390 test(fgs/function): using time provider to generate unix timestamp
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
Labels: size/XS, LGTM, test, approved

#6381 refactor(fgs/dependency): using auto-gen style to replace the old coding
  docs/data-sources/fgs_dependencies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_dependencies_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_dependencies.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency_version.go
Labels: size/L, refactor, LGTM, test, approved

#6329 refactor(fgs/function): using auto-gen style to replace old coding
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/XL, refactor, LGTM, approved

#6395 refactor(css): refactor common method code style
  huaweicloud/services/css/common.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
  huaweicloud/services/css/resource_huaweicloud_css_cluster_node_replace.go
  huaweicloud/services/css/resource_huaweicloud_css_es_core_upgrade.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_cluster_restart.go
  huaweicloud/services/css/resource_huaweicloud_css_logstash_connectivity.go
  huaweicloud/services/css/resource_huaweicloud_css_snapshot.go
Labels: size/M, refactor, LGTM, approved

#6408 feat: add fields username, user_id and current_project_id
  docs/data-sources/account.md
  huaweicloud/config/config.go
  huaweicloud/data_source_huaweicloud_account.go
Labels: size/M, feature, LGTM, approved

#6402 feat(cfw): add this data source to get the DNS resolution result of a domain name
  docs/data-sources/cfw_domain_name_parse_ip_list.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_domain_name_parse_ip_list_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_domain_name_parse_ip_list.go
Labels: size/L, feature, LGTM, approved

#6391 feat(RDS): rds instance support delete msdtc hosts
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/M, feature, LGTM, approved

#6401 feat(RDS): add rds beckup files data source
  docs/data-sources/rds_backup_files.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_backup_files_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_backup_files.go
Labels: size/M, feature, LGTM, approved

#6410 feat(ecs): support to update uuid and fixed_ip_v4 in ecs network
  docs/resources/compute_instance.md
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/M, feature, LGTM, approved

#6404 refactor(iotda/device_group): refactor device group resource code style
  docs/resources/iotda_device_group.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_group_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_group.go
Labels: size/L, refactor, LGTM, approved

#6386 refactor(fgs/datasource): unified the function naming and test steps
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_application_templates_test.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_applications_test.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_dependencies_test.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_dependency_versions_test.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_function_events_test.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_function_triggers_test.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_functions_test.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_quotas_test.go
Labels: size/L, refactor, LGTM, approved

#6406 test(fgs/function): fix the incorrect check items
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
Labels: size/S, LGTM, test, approved

#6369 feat(dns): add new arguments and attributes for recordsets
  docs/data-sources/dns_recordsets.md
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_recordsets_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_recordsets.go
Labels: size/M, feature, LGTM, approved

#6399 refactor(iotda): refactor iotda device certificate resource code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_certificate_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_certificate.go
Labels: size/M, refactor, LGTM, approved

#5928 feat(CSS): add css restore resource
  docs/resources/css_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_restore_test.go
  huaweicloud/services/css/resource_huaweicloud_css_restore.go
Labels: size/M, feature, LGTM, approved

#6403 feat(css): add CSS cluster snapshot restore
  docs/resources/css_restore.md
  docs/resources/css_snapshot_restore.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/css/resource_huaweicloud_css_snapshot_restore_test.go
  huaweicloud/services/css/resource_huaweicloud_css_snapshot_restore.go
Labels: size/M, feature, LGTM, approved

#6372 feat(CodeArts/Inspector): support to get website scan tasks
  docs/data-sources/codearts_inspector_website_scan_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsinspector/data_source_huaweicloud_codearts_inspector_website_scan_tasks_test.go
  huaweicloud/services/codeartsinspector/data_source_huaweicloud_codearts_inspector_website_scan_tasks.go
Labels: size/L, feature, LGTM, approved

#6411 feat(AOM): support to get access codes
  docs/data-sources/aom_access_codes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/aom/data_source_huaweicloud_aom_access_codes_test.go
  huaweicloud/services/aom/data_source_huaweicloud_aom_access_codes.go
Labels: size/M, feature, LGTM, approved

#6418 fix(css): fixed css cluster attributes error
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/XS, bugfix, LGTM, approved

#6414 refactor(cts): refactor CTS notifications using auto-gen code style
  docs/data-sources/cts_notifications.md
  huaweicloud/services/cts/common.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_notifications.go
  huaweicloud/services/cts/resource_huaweicloud_cts_notification.go
  huaweicloud/services/cts/resource_huaweicloud_cts_tracker.go
Labels: size/M, refactor, LGTM, approved

#6407 refactor(TMS): refactor tms tags resource
  docs/resources/tms_tags.md
  huaweicloud/services/acceptance/tms/resource_huaweicloud_tms_tags_test.go
  huaweicloud/services/tms/resource_huaweicloud_tms_tags.go
Labels: size/L, refactor, LGTM, approved

#6409 fix(dns): fix some issues of the ptr record resource
  docs/resources/dns_ptrrecord.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_ptrrecord_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_ptrrecord.go
  vendor/github.com/chnsz/golangsdk/openstack/dns/v2/ptrrecords/requests.go
  vendor/modules.txt
Labels: size/XS, bugfix, dependencies, LGTM, approved

#6397 refactor(dns): adjust the code and acceptance test of the line group
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_line_groups_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_line_group_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_line_group.go
Labels: size/M, refactor, feature, LGTM, approved

#6385 refactor(dns): adjust the code and acceptance test of custom line
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_custom_line_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_custom_line.go
Labels: size/L, refactor, LGTM, approved

#6415 refactor(dns/floating_ptrrecords): improve test and standardize method names
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_floating_ptrrecords_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_ptrrecord_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_floating_ptrrecords.go
Labels: size/M, refactor, LGTM, approved

#6428 feat(RDS): rds instance support minor version auto upgrade enabled
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/M, feature, LGTM, approved

#6423 refactor(dns/datasource): standardize methods naming and adjust test
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_nameservers_test.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_quotas_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_quotas.go
Labels: size/M, refactor, LGTM, approved

#6425 refactor(fgs/trigger): adjust the resource coding
  docs/resources/fgs_function_trigger.md
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_function_triggers_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_function_triggers.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function_trigger.go
Labels: size/M, refactor, LGTM, approved

#6429 fix(fgs/function): saving corresponding values if deprecated params set
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/S, bugfix, LGTM, approved

#6427 feat(iotda/device_policy): support device policy resource
  docs/resources/iotda_device_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_policy_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_policy.go
Labels: size/L, feature, LGTM, approved

#6416 feat: add new utils function to filter map tag
  huaweicloud/utils/tags.go
  huaweicloud/utils/tags_test.go
  huaweicloud/utils/utils.go
  huaweicloud/utils/utils_test.go
Labels: size/M, feature, LGTM, approved

#6436 Update CHANGELOG for 1.73.0
  CHANGELOG.md
Labels: size/XS, approved

#6431 refactor(oms): remove sdk-go-v3 in oms migration task
  huaweicloud/services/acceptance/oms/resource_huaweicloud_oms_migration_task_test.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_sync_task.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task.go
  huaweicloud/services/oms/resource_huaweicloud_oms_migration_task_group.go
Labels: size/L, refactor, LGTM, approved

#6420 feat(RDS): add rds available flavors data source
  docs/data-sources/rds_available_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_available_flavors_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_available_flavors.go
Labels: size/L, feature, LGTM, approved

#6424 refactor: feat(fgs/function): adjust the versions parameter and supports new params
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/L, documentation, refactor, feature, LGTM, approved

#6426 feat(fgs/function): resource supports new parameters
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/L, feature, LGTM, approved

#6432 chore(fgs/function): adjust the API and function's reference
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/S, chore, LGTM, approved
