Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2025-04, with the labels that each got.

#6584 fix(er/vpc_attachment): fix resource creation failure
  huaweicloud/services/er/resource_huaweicloud_er_vpc_attachment.go
Labels: size/XS, bugfix, LGTM, approved

#6586 fix(er/vpc_attachment): fix resource update failure
  huaweicloud/services/er/resource_huaweicloud_er_vpc_attachment.go
Labels: size/XS, bugfix, LGTM, approved

#6587 refactor(ims): refactor `ims_ecs_system_image` resource code style
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_ecs_system_image_test.go
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_obs_iso_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_system_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_iso_image.go
Labels: size/L, refactor, LGTM, approved

#6589 docs(ELB): fix elb quota details and asynchronous tasks docs
  docs/data-sources/elb_asynchronous_tasks.md
  docs/data-sources/elb_quota_details.md
Labels: documentation, size/XS, LGTM, approved

#6574 feat(ELB): add attributes to elb loadbalancer copy resource
  docs/resources/elb_loadbalancer_copy.md
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_loadbalancer_copy_test.go
  huaweicloud/services/elb/resource_huaweicloud_elb_loadbalancer_copy.go
Labels: size/S, feature, LGTM, approved

#6579 feat(EIP): add vpc v3 eips data source
  docs/data-sources/vpcv3_eips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpcv3_eips_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpcv3_eips.go
Labels: size/XL, feature, LGTM, approved

#6581 feat(Elb): lb lisener add attributes
  docs/resources/lb_listener.md
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_listener_test.go
  huaweicloud/services/lb/resource_huaweicloud_lb_listener.go
Labels: size/XS, feature, LGTM, approved

#6577 feat(EIP): add eip v3 bandwidths data source
  docs/data-sources/vpcv3_bandwidths.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eip/data_source_huaweicloud_vpcv3_bandwidths_test.go
  huaweicloud/services/eip/data_source_huaweicloud_vpcv3_bandwidths.go
Labels: size/L, feature, LGTM, approved

#6594 feat(modelarts): new resource for service management
  docs/resources/modelartsv2_service.md
  huaweicloud/provider.go
  huaweicloud/services/apigateway/resource_huaweicloud_api_gateway_api.go
  huaweicloud/services/dli/resource_huaweicloud_dli_elastic_resource_pool.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelartsv2_service.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
  huaweicloud/utils/diff_suppress_funcs.go
  huaweicloud/utils/diff_suppress_funcs_test.go
  huaweicloud/utils/math.go
  huaweicloud/utils/math_test.go
Labels: size/XL, chore, feature, LGTM, approved

#6576 feat(as): add new datasource to get the list of AS policies
  docs/data-sources/asv2_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/as/data_source_huaweicloud_asv2_policies_test.go
  huaweicloud/services/as/data_source_huaweicloud_asv2_policies.go
Labels: size/L, feature, LGTM, approved

#6596 feat(nat): the private dnat and snat rule datasource support new fields
  docs/data-sources/nat_private_dnat_rules.md
  docs/data-sources/nat_private_snat_rules.md
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_dnat_rules_test.go
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_snat_rules_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_dnat_rules.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_snat_rules.go
Labels: size/S, feature, LGTM, approved

#6595 feat(secmaster): add new resource workflow action
  docs/incubating/secmaster_workflow_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_workflow_action_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_workflow_action.go
Labels: size/L, feature, LGTM, approved

#6603 Update CHANGELOG for 1.73.4
  CHANGELOG.md
Labels: size/XS, approved

#6597 refactor(ims): refactor `ims_evs_system_image` resource code style
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_evs_system_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_system_image.go
Labels: size/L, refactor, LGTM, approved

#6608 fix(cfw): fix address in black_white_list
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_black_white_list_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_black_white_list.go
Labels: size/XS, bugfix, LGTM, approved

#6611 feat(vpc): add new data_source secgroup tags
  docs/data-sources/networking_secgroup_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_networking_secgroup_tags_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_networking_secgroup_tags.go
Labels: size/M, feature, LGTM, approved

#6612 Update CHANGELOG for 1.73.5
  CHANGELOG.md
Labels: size/XS, approved

#6617 fix(as): remove invalid as configuration user_data attribute settings
  docs/resources/as_configuration.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
Labels: size/XS, bugfix, LGTM, approved

#6583 feat(ElB): add parasm to elb flavors data source
  docs/data-sources/elb_flavors.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_flavors_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_flavors.go
Labels: size/L, feature, LGTM, approved

#6614 feat(vpc): add new data_source network ACL tags
  docs/data-sources/vpc_network_acl_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_network_acl_tags_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_network_acl_tags.go
Labels: size/M, feature, LGTM, approved

#6602 feat(cce): save more attributes in node and node pool
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_test.go
  huaweicloud/services/cce/common.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/XL, feature, LGTM, approved

#6621 Update CHANGELOG for 1.73.6
  CHANGELOG.md
Labels: size/XS, approved

#6618 refactor(ims): refactor `ims_evs_data_image` resource code style
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_evs_data_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_data_image.go
Labels: size/L, refactor, LGTM, approved

#6619 feat(evs): refactor evs snapshot resource with general code style
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_snapshot_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_snapshot.go
Labels: size/L, feature, LGTM, approved

#6626 chore(golangci): disable the unnamed unlambda rule
  .golangci.yml
Labels: size/XS, chore, LGTM, approved

#6606 refactor(nat): refactor the private SNAT rule resource code style
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_snat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_snat_rule.go
Labels: size/M, refactor, LGTM, approved

#6610 refactor(ims): refactor `ims_obs_system_image` resource code style
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_obs_system_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_system_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_system_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_system_image.go
Labels: size/L, bugfix, refactor, LGTM, approved

#6592 feat(example/er): add example for shared er instance
  examples/er/share_instance/README.md
  examples/er/share_instance/main.tf
  examples/er/share_instance/variables.tf
Labels: size/M, feature, LGTM, approved

#6625 feat(fgs/function): new parameter lts_custom_tag supported
  docs/resources/fgs_function.md
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/utils/diff_suppress_funcs.go
Labels: size/M, feature, LGTM, approved

#6607 feat(nat): private SNAT rule datasource support new attributes
  docs/data-sources/nat_private_snat_rules.md
  huaweicloud/services/acceptance/nat/data_source_huaweicloud_nat_private_snat_rules_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_snat_rules.go
Labels: size/S, feature, LGTM, approved

#6630 feat(evs): evs snapshot resource support new fields
  docs/resources/evs_snapshot.md
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_snapshot_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_snapshot.go
Labels: size/S, feature, LGTM, approved

#6585 feat(ELB): add params to elb pools data source
  docs/data-sources/elb_pools.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_pools_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_pools.go
Labels: size/L, feature, LGTM, approved

#6598 feat(ELB): add params to elb members data source
  docs/data-sources/elb_members.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_members_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_members.go
Labels: size/M, feature, LGTM, approved

#6628 feat(vpcs): add new data_soruce vpcs_by_tags
  docs/data-sources/vpcs_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpcs_by_tags_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpcs_by_tags.go
Labels: size/L, feature, LGTM, approved

#6631 feat(vpc): add new data_source secgroups_by_tags
  docs/data-sources/networking_secgroups_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_networking_secgroups_by_tags_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_networking_secgroups_by_tags.go
Labels: size/L, feature, LGTM, approved

#6629 feat(vpc): add new data_source vpc_subnets_by_tags
  docs/data-sources/vpc_subnets_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_subnets_by_tags_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnets_by_tags.go
Labels: size/L, feature, LGTM, approved

#6613 feat(servicestage): add new resource supports configuration file
  docs/resources/servicestagev3_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_configuration_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_configuration.go
Labels: size/L, feature, LGTM, approved

#6601 feat(ELB): add params to elb ipgroups data source
  docs/data-sources/elb_ipgroups.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_ipgroups_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_ipgroups.go
Labels: size/S, feature, LGTM, approved

#6615 feat(ELB): add params to elb monitors data source
  docs/data-sources/elb_monitors.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_monitors_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_monitors.go
Labels: size/S, feature, LGTM, approved

#6609 feat(ELB): add params to elb l7 policies data source
  docs/data-sources/elb_l7policies.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_l7policies_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_l7policies.go
Labels: size/L, feature, LGTM, approved

#6638 refactor(evs): refactor volume create function in general code style
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/L, refactor, LGTM, approved

#6622 feat(as): the AS group support new attributes
  docs/data-sources/as_groups.md
  docs/resources/as_group.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_group_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_groups.go
  huaweicloud/services/as/resource_huaweicloud_as_group.go
Labels: size/S, feature, LGTM, approved

#6635 feat(nat): the private snat rule resource support new fields
  docs/resources/nat_private_snat_rule.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_snat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_snat_rule.go
Labels: size/M, feature, LGTM, approved

#6642 feat(as): the AS configuration support new attributes
  docs/data-sources/as_configurations.md
  docs/resources/as_configuration.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/as/data_source_huaweicloud_as_configurations_test.go
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_configuration_test.go
  huaweicloud/services/as/data_source_huaweicloud_as_configurations.go
  huaweicloud/services/as/resource_huaweicloud_as_configuration.go
  vendor/github.com/chnsz/golangsdk/openstack/autoscaling/v1/configurations/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#6646 refactor(ims): refactor `ims_ecs_whole_image` resource code style
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_ecs_whole_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_cbr_whole_image.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_whole_image.go
Labels: size/L, refactor, LGTM, approved

#6645 refactor(evs): refactor volume read function in general code style
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/M, refactor, LGTM, approved

#6623 feat(ELB): add params to elb loadbalancers data source
  docs/data-sources/elb_loadbalancers.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_loadbalancers_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_loadbalancers.go
Labels: size/L, feature, LGTM, approved

#6624 docs(Organizations): fix organizations effective policies doc example
  docs/data-sources/organizations_effective_policies.md
Labels: documentation, size/XS, LGTM, approved

#6649 fix(ELB): fix elb enterprise project id
  huaweicloud/services/elb/resource_huaweicloud_elb_certificate.go
  huaweicloud/services/elb/resource_huaweicloud_elb_ipgroup.go
  huaweicloud/services/lb/resource_huaweicloud_lb_certificate.go
Labels: size/XS, bugfix, LGTM, approved

#6641 feat(vpc): add new data_source network_interfaces
  docs/data-sources/vpc_network_interfaces.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_network_interfaces_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_network_interfaces.go
Labels: size/L, feature, LGTM, approved

#6647 refactor(secmaster): add create waiting in post_paid_order and workspace
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_post_paid_order.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_workflow_action.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_workspace.go
Labels: size/M, refactor, LGTM, approved

#6637 feat(ELB): add params to elb listeners data source
  docs/data-sources/elb_listeners.md
  docs/resources/elb_listener.md
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_listeners_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_listeners.go
Labels: size/L, feature, LGTM, approved

#6644 feat(lts/stream): supports favorite log steram
  docs/resources/lts_stream.md
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_stream_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_stream.go
Labels: size/M, feature, LGTM, approved

#6654 Update CHANGELOG for 1.73.7
  CHANGELOG.md
Labels: size/XS, approved

#6652 feat(servicestage): component supports new parameters
  docs/resources/servicestagev3_component.md
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_component_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_component.go
Labels: size/L, feature, LGTM, approved

#6651 refactor(ims): refactor `ims_cbr_whole_image` resource code style
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_cbr_whole_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_cbr_whole_image.go
Labels: size/L, refactor, LGTM, approved

#6655 refactor(evs): refactor volume delete function in general code style
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/M, refactor, LGTM, approved

#6643 feat(ELB): add params to lb pools data source
  docs/data-sources/lb_pools.md
  huaweicloud/services/acceptance/lb/data_source_huaweicloud_lb_pools_test.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_pools.go
Labels: size/L, feature, LGTM, approved

#6648 feat(ELB): add params to lb listeners data source
  docs/data-sources/lb_listeners.md
  docs/resources/lb_listener.md
  huaweicloud/services/acceptance/lb/data_source_huaweicloud_lb_listeners_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_certificate_test.go
  huaweicloud/services/acceptance/lb/resource_huaweicloud_lb_listener_test.go
  huaweicloud/services/lb/data_source_huaweicloud_lb_listeners.go
Labels: size/L, feature, LGTM, approved

#6659 fix(cce): fix setting error in node attach
  docs/resources/cce_node_attach.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_attach_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_attach.go
Labels: size/M, bugfix, LGTM, approved

#6417 refactor(dns/custom_lines): standardize method naming and improve test
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_custom_lines_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_custom_lines.go
Labels: size/M, refactor, LGTM, approved

#6661 Update CHANGELOG for 1.73.8
  CHANGELOG.md
Labels: size/XS, approved

#6658 feat(as): the AS policy support new attribute
  docs/resources/as_policy.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_policy.go
Labels: size/XS, feature, LGTM, approved

#6640 feat(cbr): add new data source for all resource tags
  docs/data-sources/cbr_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_tags_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_tags.go
Labels: size/M, feature, LGTM, approved

#6667 feat(servicestage): add new data source to query component execution records
  docs/data-sources/servicestagev3_component_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/data_source_huaweicloud_servicestagev3_component_records_test.go
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_component_records.go
Labels: size/L, feature, LGTM, approved

#6663 feat(servicestage): add new resource to operate component
  docs/resources/servicestagev3_component_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_component_action_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_component_action.go
  huaweicloud/utils/diff_suppress_funcs.go
Labels: size/L, bugfix, feature, LGTM, approved

#6668 refactor(ims): refactor `images_image_copy` resource code style
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_copy_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_copy.go
Labels: size/L, refactor, LGTM, approved

#6633 feat(er): add new resource to query resource tags
  docs/data-sources/er_resource_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/er/data_source_huaweicloud_er_resource_tags_test.go
  huaweicloud/services/er/data_source_huaweicloud_er_resource_tags.go
Labels: size/M, feature, LGTM, approved

#6672 feat(evs): evs resource support new attribute fields
  docs/resources/evs_volume.md
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_volume.go
Labels: size/L, feature, LGTM, approved

#6662 feat(ELB): add elb certificates data source
  docs/data-sources/elb_certificates.md
  docs/resources/elb_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/elb/data_source_huaweicloud_elb_certificates_test.go
  huaweicloud/services/acceptance/elb/resource_huaweicloud_elb_certificate_test.go
  huaweicloud/services/elb/data_source_huaweicloud_elb_certificates.go
  huaweicloud/services/elb/resource_huaweicloud_elb_certificate.go
Labels: size/L, feature, LGTM, approved

#6674 feat(ims): the `images_images` data source support new fields
  docs/data-sources/images_images.md
  huaweicloud/services/acceptance/ims/data_source_huaweicloud_images_images_test.go
  huaweicloud/services/ims/data_source_huaweicloud_images_images.go
Labels: size/S, feature, LGTM, approved

#6670 feat(vpc): add new data_source network_acls_by_tags
  docs/data-sources/vpc_network_acls_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_network_acls_by_tags_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_network_acls_by_tags.go
Labels: size/L, feature, LGTM, approved

#6675 refactor(evs): refactor evs volumes datasource in general code style
  huaweicloud/provider.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_volumes.go
Labels: size/M, refactor, LGTM, approved

#6676 docs(mrs/cluster): split the node structure definitions
  docs/resources/mapreduce_cluster.md
Labels: size/M, documentation, LGTM, approved

#6679 docs(secmaster): update doc of post paid order
  docs/resources/secmaster_post_paid_order.md
Labels: documentation, size/XS, LGTM, approved

#6681 docs(mrs/cluster): behavior of param custom_nodes.group_name should be required
  docs/resources/mapreduce_cluster.md
Labels: documentation, size/XS, LGTM, approved

#6666 feat(TMS): add tms tags data source
  docs/data-sources/tms_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/tms/data_source_huaweicloud_tms_tags_test.go
  huaweicloud/services/tms/data_source_huaweicloud_tms_tags.go
Labels: size/L, feature, LGTM, approved

#6599 feat(cci): add resource CCI v2 ConfigMap
  docs/incubating/cciv2_config_map.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_config_map_test.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_config_map.go
Labels: size/L, feature, LGTM, approved

#6683 feat(secmaster): update schema of post_paid_order
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_post_paid_order.go
Labels: size/XS, feature, LGTM, approved

#6660 feat(servicestage): new application configuration resource is supported
  docs/resources/servicestagev3_application_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_application_configuration_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_application_configuration.go
Labels: size/L, feature, LGTM, approved

#6653 feat(as): the AS bandwidth policy support new fields and attributes
  docs/resources/as_bandwidth_policy.md
  huaweicloud/services/acceptance/as/resource_huaweicloud_as_bandwidth_policy_test.go
  huaweicloud/services/as/resource_huaweicloud_as_bandwidth_policy.go
Labels: size/L, feature, LGTM, approved

#6604 feat(cci): add resource CCI v2 Secret
  docs/incubating/cciv2_secret.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_secret_test.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_secret.go
Labels: size/L, feature, LGTM, approved

#6664 refactor(nat): refactor the transit IP resource code style
  docs/resources/nat_private_transit_ip.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_transit_ip_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_transit_ip.go
Labels: size/M, refactor, LGTM, approved

#6678 refactor(ims): refactor `ims_obs_iso_image` resource code style
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_obs_iso_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_iso_image.go
Labels: size/L, refactor, LGTM, approved

#6688 refactor(ims): refactor `ims_image_export` resource code style
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_image_export_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_image_export.go
Labels: size/M, refactor, LGTM, approved

#6673 fix(workspace/desktop): missing content-type causes deletion error
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop.go
Labels: size/XS, bugfix, LGTM, approved

#6690 feat(evs): evs volume datasource support new fields
  docs/data-sources/evs_volumes.md
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_volumes_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_volumes.go
Labels: size/L, feature, LGTM, approved

#6695 feat(evs): evs snapshot datasource support new fields
  docs/data-sources/evs_snapshots.md
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_snapshots_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_snapshots.go
Labels: size/S, feature, LGTM, approved

#6697 feat(evs): evs snapshot rollback supports new fields
  docs/resources/evs_snapshot_rollback.md
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_snapshot_rollback_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_snapshot_rollback.go
Labels: size/XS, feature, LGTM, approved

#6685 feat(TMS): add tms tag keys and tag values data source
  docs/data-sources/tms_resource_tag_keys.md
  docs/data-sources/tms_resource_tag_values.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/tms/data_source_huaweicloud_tms_resource_tag_keys_test.go
  huaweicloud/services/acceptance/tms/data_source_huaweicloud_tms_resource_tag_values_test.go
  huaweicloud/services/tms/data_source_huaweicloud_tms_resource_tag_keys.go
  huaweicloud/services/tms/data_source_huaweicloud_tms_resource_tag_values.go
Labels: size/L, feature, LGTM, approved

#6701 fix(lts): sensitive encrypted for the password content
  huaweicloud/config/logger.go
  huaweicloud/services/lts/resource_huaweicloud_lts_register_kafka_instance.go
Labels: size/XS, bugfix, LGTM, approved

#6700 feat(evs): create v3 volume transfer resource
  docs/resources/evsv3_volume_transfer.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evsv3_volume_transfer_test.go
  huaweicloud/services/evs/resource_huaweicloud_evsv3_volume_transfer.go
Labels: size/L, feature, LGTM, approved

#6706 refactor(nat): refactor the private DNAT rule resource code style
  docs/resources/nat_private_dnat_rule.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_dnat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_dnat_rule.go
Labels: size/L, refactor, LGTM, approved

#6686 refactor(nat): refactor the private NAT gateway resource code style
  docs/resources/nat_private_gateway.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_gateway_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_gateway.go
Labels: size/M, refactor, LGTM, approved

#6691 feat(servicestage): supports new resource to manage runtime stacks
  docs/resources/servicestagev3_runtime_stack.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_runtime_stack_test.go
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_runtime_stacks.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_runtime_stack.go
Labels: size/L, feature, LGTM, approved

#6694 feat(servicestage): add new data source to query inner runtime stacks
  docs/data-sources/servicestagev3_inner_runtime_stacks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/data_source_huaweicloud_servicestagev3_inner_runtime_stacks_test.go
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_inner_runtime_stacks.go
Labels: size/M, feature, LGTM, approved

#6698 feat(servicestage): add new resource to do component refresh action
  docs/resources/servicestagev3_component_refresh.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_component_refresh_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_component_refresh.go
Labels: size/M, feature, LGTM, approved

#6707 feat(evs): create v3 volume transfer accepter resource
  docs/resources/evsv3_volume_transfer_accepter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evsv3_volume_transfer_accepter_test.go
  huaweicloud/services/evs/resource_huaweicloud_evsv3_volume_transfer_accepter.go
Labels: size/M, feature, LGTM, approved

#6689 feat(Organizations): add organizations quotas data source
  docs/data-sources/organizations_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_quotas_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_quotas.go
Labels: size/M, feature, LGTM, approved

#6712 refactor(ims): refactor images data source code style
  huaweicloud/services/ims/data_source_huaweicloud_images_image.go
  huaweicloud/services/ims/data_source_huaweicloud_images_images.go
Labels: size/L, refactor, LGTM, approved

#6716 refactor(nat): refactor the SNAT rule resource code style
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_snat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_snat_rule.go
Labels: size/L, refactor, LGTM, approved

#6620 feat(cci): add resource CCI v2 Service
  docs/incubating/cciv2_service.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_service_test.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_service.go
Labels: size/XL, feature, LGTM, approved

#6680 feat(TMS): add tms resource instances data source
  docs/data-sources/tms_resource_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/tms/data_source_huaweicloud_tms_resource_instances_test.go
  huaweicloud/services/tms/data_source_huaweicloud_tms_resource_instances.go
Labels: size/L, feature, LGTM, approved

#6693 feat(Organizations): add organizations policy attached entities data source
  docs/data-sources/organizations_policy_attached_entities.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_policy_attached_entities_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_policy_attached_entities.go
Labels: size/M, feature, LGTM, approved

#6715 feat(DEH): add deh types data source
  docs/data-sources/deh_types.md
  huaweicloud/config/endpoints.go
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deh/data_source_huaweicloud_deh_types_test.go
  huaweicloud/services/deh/data_source_huaweicloud_deh_types.go
Labels: size/M, feature, LGTM, approved

#6714 refactor(iotda): refactor iotda resource with general code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_linkage_rule_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device_linkage_rule.go
Labels: size/L, refactor, LGTM, approved

#6702 feat(servicestage): supports new data source to query component used resources
  docs/data-sources/servicestagev3_component_used_resources.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/data_source_huaweicloud_servicestagev3_component_used_resources_test.go
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_component_used_resources.go
Labels: size/L, feature, LGTM, approved

#6704 chore(servicestage): change the API usage for components querying
  docs/data-sources/servicestagev3_components.md
  huaweicloud/services/acceptance/servicestage/data_source_huaweicloud_servicestagev3_components_test.go
  huaweicloud/services/servicestage/data_source_huaweicloud_servicestagev3_components.go
Labels: size/M, chore, LGTM, approved

#6718 feat(modelarts): new parameters are supports for resource node
  docs/resources/modelarts_resource_pool.md
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_resource_pool.go
Labels: size/L, feature, LGTM, approved

#6719 refactor(vod): refactor vod resource with general code style
  huaweicloud/services/acceptance/vod/resource_huaweicloud_vod_transcoding_template_group_test.go
  huaweicloud/services/vod/resource_huaweicloud_vod_transcoding_template_group.go
Labels: size/L, refactor, LGTM, approved

#6713 feat(servicestage): Supports new resource to batch release runtime stacks
  docs/resources/servicestagev3_runtime_stack_batch_release.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/servicestage/resource_huaweicloud_servicestagev3_runtime_stack_batch_release_test.go
  huaweicloud/services/servicestage/resource_huaweicloud_servicestagev3_runtime_stack_batch_release.go
  huaweicloud/utils/utils.go
Labels: size/L, feature, LGTM, approved

#6722 docs(modelarts): fix the timeout description for resource pool
  docs/resources/modelarts_resource_pool.md
Labels: documentation, size/XS, LGTM, approved

#6717 feat(ims/ecs_system_image): support new attributes
  docs/resources/ims_ecs_system_image.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_ecs_system_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_system_image.go
Labels: size/L, feature, LGTM, approved

#6721 feat(ims/evs_system_image): support new attributes
  docs/resources/ims_evs_system_image.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_evs_system_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_system_image.go
Labels: size/L, feature, LGTM, approved

#6727 Update CHANGELOG for 1.73.9
  CHANGELOG.md
Labels: size/XS, approved

#6723 refactor(vod): refactor vod category resource with general code style
  huaweicloud/services/acceptance/vod/resource_huaweicloud_vod_media_category_test.go
  huaweicloud/services/vod/resource_huaweicloud_vod_media_category.go
Labels: size/M, refactor, LGTM, approved

#6726 feat(ims/ims_obs_system_image): support new attributes
  docs/resources/ims_obs_system_image.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_obs_system_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_system_image.go
Labels: size/L, feature, LGTM, approved

#6730 feat(ims/ims_obs_data_image): support new attributes
  docs/resources/ims_obs_data_image.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_obs_data_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_obs_data_image.go
Labels: size/L, feature, LGTM, approved

#6696 feat(Organizations): add organizations create account status data source
  docs/data-sources/organizations_create_account_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_create_account_status_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_create_account_status.go
Labels: size/M, feature, LGTM, approved

#6724 feat(DEH): add deh instance resource
  docs/resources/deh_instance.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deh/resource_huaweicloud_deh_instance_test.go
  huaweicloud/services/deh/resource_huaweicloud_deh_instance.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/L, feature, LGTM, approved

#6703 feat(lts): add new data source to query hosts
  docs/data-sources/lts_hosts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_hosts_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_hosts.go
Labels: size/L, feature, LGTM, approved

#6738 refactor(vod): refactor vod watermark template with general code style
  huaweicloud/services/acceptance/vod/resource_huaweicloud_vod_watermark_template_test.go
  huaweicloud/services/vod/resource_huaweicloud_vod_watermark_template.go
Labels: size/L, refactor, LGTM, approved

#6570 feat(cci): add resource cci v2 deployment
  docs/incubating/cciv2_deployment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_deployment_test.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_deployment.go
Labels: size/XL, feature, LGTM, approved

#6725 refactor(nat): refactor the DNAT rule resource code style
  docs/resources/nat_dnat_rule.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_dnat_rule_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_dnat_rule.go
Labels: size/L, refactor, LGTM, approved

#6729 chore(nat): remove the validateFunc from the NAT resource
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_gateway_test.go
  huaweicloud/services/acceptance/nat/resource_huaweicloud_natv3_gateway_test.go
  huaweicloud/services/nat/resource_huaweicloud_nat_gateway.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_gateway.go
  huaweicloud/services/nat/resource_huaweicloud_nat_snat_rule.go
Labels: size/S, chore, LGTM, approved

#6735 feat(nat): the transit IP supports new field and attribute
  docs/data-sources/nat_private_transit_ips.md
  docs/resources/nat_private_transit_ip.md
  huaweicloud/services/acceptance/nat/resource_huaweicloud_nat_private_transit_ip_test.go
  huaweicloud/services/nat/data_source_huaweicloud_nat_private_transit_ips.go
  huaweicloud/services/nat/resource_huaweicloud_nat_private_transit_ip.go
Labels: size/S, feature, LGTM, approved

#6743 feat: add new examples for EVS and AS
  examples/as/configuration-basic/README.md
  examples/as/configuration-basic/main.tf
  examples/evs/postpaid-volume/README.md
  examples/evs/postpaid-volume/main.tf
Labels: size/M, feature, LGTM, approved

#6746 feat(modelarts): Add new data source to query resource pools
  docs/data-sources/modelartsv2_resource_pools.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelartsv2_resource_pools_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelartsv2_resource_pools.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_resource_pool.go
Labels: size/L, feature, LGTM, approved

#6720 feat(cci): add resource CCI v2 Persistent Volume
  docs/incubating/cciv2_persistent_volume.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_persistent_volume_test.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_persistent_volume.go
Labels: size/XL, feature, LGTM, approved

#6699 feat(Organizations): add organizations close account status data source
  docs/data-sources/organizations_close_account_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/organizations/data_source_huaweicloud_organizations_close_account_status_test.go
  huaweicloud/services/organizations/data_source_huaweicloud_organizations_close_account_status.go
Labels: size/M, feature, LGTM, approved

#6711 feat(RDS): add rds pg hba change records data source
  docs/data-sources/rds_pg_hba_change_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_hba_change_records_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_pg_hba_change_records.go
Labels: size/L, feature, LGTM, approved

#6748 feat(modelarts): resource pool supplement new params
  docs/resources/modelarts_resource_pool.md
  huaweicloud/config/logger.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_resource_pool.go
Labels: size/M, chore, feature, LGTM, approved

#6728 feat(DEH): add deh instances data source
  docs/data-sources/deh_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deh/data_source_huaweicloud_deh_instances_test.go
  huaweicloud/services/deh/data_source_huaweicloud_deh_instances.go
  huaweicloud/services/deh/resource_huaweicloud_deh_instance.go
Labels: size/L, feature, LGTM, approved

#6740 feat(CCE): cce node pool resource add param partition
  docs/resources/cce_node.md
  docs/resources/cce_node_pool.md
  huaweicloud/services/cce/resource_huaweicloud_cce_node.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/XS, feature, LGTM, approved

#6741 feat(VPC): add params to vpc subnet resource
  docs/resources/vpc_subnet.md
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_subnet_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/S, feature, LGTM, approved

#6562 feat(cci): add resource cci v2 persistent volume claims
  docs/incubating/cciv2_pvc.md
  huaweicloud/provider.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_pvc.go
Labels: size/L, feature, LGTM, approved

#6744 docs: add exmples of coc and sms
  examples/cce/cce-with-partition/README.md
  examples/cce/cce-with-partition/main.tf
  examples/cce/cce-with-partition/variables.tf
  examples/coc/script/README.md
  examples/coc/script/main.tf
  examples/coc/script/variables.tf
  examples/coc/script_execute/README.md
  examples/coc/script_execute/main.tf
  examples/coc/script_execute/variables.tf
  examples/sms/task/README.md
  examples/sms/task/main.tf
  examples/sms/task/variables.tf
Labels: size/M, documentation, LGTM, approved

#6709 feat(RDS): add rds ssl cert download links data source
  docs/data-sources/rds_ssl_cert_download_links.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_ssl_cert_download_links_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_ssl_cert_download_links.go
Labels: size/M, feature, LGTM, approved

#6588 feat(cci): add resource cci v2 pod
  docs/incubating/cciv2_pod.md
  huaweicloud/provider.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_pod.go
Labels: size/XL, feature, LGTM, approved

#6751 feat(cci): update cci pvc
  docs/incubating/cciv2_persistent_volume_claim.md
  docs/incubating/cciv2_pvc.md
  huaweicloud/provider.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_persistent_volume_claim.go
Labels: size/L, feature, approved

#6754 feat(cce): add example of node pool with partition
  examples/cce/cce-with-partition/main.tf
Labels: size/XS, feature, LGTM, approved
