Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2025-07, with the labels that each got.

#7135 fix(RDS): fix rds pg sql limit check deleted
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_sql_limit.go
Labels: size/XS, bugfix, LGTM, approved

#7138 docs(DDS): fix dds node num update resource doc
  docs/resources/dds_instance_node_num_update.md
Labels: documentation, size/XS, LGTM, approved

#7112 feat(CodeArts/Pipeline): support resource template
  docs/resources/codearts_build_task.md
  docs/resources/codearts_build_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsbuild/resource_huaweicloud_codearts_build_template_test.go
  huaweicloud/services/codeartsbuild/common.go
  huaweicloud/services/codeartsbuild/resource_huaweicloud_codearts_build_task.go
  huaweicloud/services/codeartsbuild/resource_huaweicloud_codearts_build_template.go
Labels: size/L, feature, LGTM, approved

#7137 feat(SMS): add SMS source server overview data source
  docs/data-sources/sms_source_server_overview.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sms/data_source_huaweicloud_sms_source_server_overview_test.go
  huaweicloud/services/sms/data_source_huaweicloud_sms_source_server_overview.go
Labels: size/M, feature, LGTM, approved

#7103 feat(secmaster): add datasource to get list of playbook review result
  docs/data-sources/secmaster_playbook_approvals.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_playbook_approvals_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_playbook_approvals.go
Labels: size/M, feature, LGTM, approved

#7144 chore(waf): impore dedicated domain resource test case coverage
  huaweicloud/services/acceptance/waf/resource_huaweicloud_waf_dedicated_domain_test.go
  huaweicloud/services/waf/resource_huaweicloud_waf_dedicated_domain.go
  huaweicloud/services/waf/resource_huaweicloud_waf_domain.go
Labels: size/L, chore, LGTM, approved

#7129 feat(SMS): add SMS source server command result resource
  docs/resources/sms_source_server_command_result_report.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sms/resource_huaweicloud_sms_source_server_command_result_report_test.go
  huaweicloud/services/sms/resource_huaweicloud_sms_source_server_command_result_report.go
Labels: size/M, feature, LGTM, approved

#7145 fix(RDS): fix resource mysql account
  docs/resources/rds_mysql_account.md
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_account.go
Labels: size/XS, bugfix, LGTM, approved

#7147 fix(RDS): fix resource mysql database
  docs/resources/rds_mysql_database.md
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database.go
Labels: size/XS, bugfix, LGTM, approved

#7148 fix(RDS): fix resource mysql database privilege
  docs/resources/rds_mysql_database_privilege.md
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_database_privilege.go
Labels: size/XS, bugfix, LGTM, approved

#7134 fix(RDS): fix resource database logs shrinking
  docs/resources/rds_database_logs_shrinking.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_database_logs_shrinking_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_database_logs_shrinking.go
Labels: size/S, bugfix, LGTM, approved

#7150 fix(RDS): fix resource to instance eip associate
  docs/resources/rds_instance_eip_associate.md
  huaweicloud/services/rds/resource_huaweicloud_rds_instance_eip_associate.go
Labels: size/XS, bugfix, LGTM, approved

#7108 feat(secmaster): add datasource to get list of playbook actions
  docs/data-sources/secmaster_playbook_actions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_playbook_actions_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_playbook_actions.go
Labels: size/M, feature, LGTM, approved

#7124 refactor(workspace): rewrite desktop example and clean hcbp lint issues
  examples/workspace/desktop/basic/README.md
  examples/workspace/desktop/basic/main.tf
  examples/workspace/desktop/basic/providers.tf
  examples/workspace/desktop/basic/terraform.tfvars
  examples/workspace/desktop/basic/variables.tf
Labels: size/L, refactor, LGTM, approved

#7151 fix(RDS): fix resource instance mysql proxy restart
  docs/resources/rds_mysql_proxy_restart.md
  huaweicloud/services/rds/resource_huaweicloud_rds_mysql_proxy_restart.go
Labels: size/XS, bugfix, LGTM, approved

#7152 fix(RDS): fix resource pg account
  docs/resources/rds_pg_account.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_account_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_account.go
Labels: size/S, size/XS, bugfix, LGTM, approved

#7139 feat(hss): support `hss_vulnerability_information_export` resource
  docs/resources/hss_vulnerability_information_export.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_vulnerability_information_export_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_vulnerability_information_export.go
Labels: size/L, feature, LGTM, approved

#7161 fix(RDS): fix resource pg plugin update
  docs/resources/rds_pg_plugin_update.md
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_plugin_update.go
Labels: size/S, bugfix, LGTM, approved

#7160 fix(RDS): fix resource pg plugin parameter
  docs/resources/rds_pg_plugin_parameter.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_plugin_parameter_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_plugin_parameter.go
Labels: size/XS, bugfix, LGTM, approved

#7158 fix(RDS): fix resource pg hba
  docs/resources/rds_pg_hba.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_hba_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_hba.go
Labels: size/XS, bugfix, LGTM, approved

#7157 fix(RDS): fix resource pg database privilege
  docs/resources/rds_pg_database_privilege.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_database_privilege_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_database_privilege.go
Labels: size/XS, bugfix, LGTM, approved

#7155 fix(RDS): fix resource pg account roles
  docs/resources/rds_pg_account_roles.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_account_roles_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_account_roles.go
Labels: size/XS, bugfix, LGTM, approved

#7154 fix(RDS): fix resource pg account priviliges
  docs/resources/rds_pg_account_privileges.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_account_privileges_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_account_privileges.go
Labels: size/XS, bugfix, LGTM, approved

#7159 fix(RDS): fix resource pg plugin
  docs/resources/rds_pg_plugin.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_plugin_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_plugin.go
Labels: size/S, bugfix, LGTM, approved

#7167 docs(cbr): move vaults datsource markdown file
  docs/incubating/cbr_vaults_by_tags.md
Labels: documentation, size/XS, LGTM, approved

#7166 fix(ecs): fix the problem that tagErr not returned
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/XS, bugfix, LGTM, approved

#7169 refactor(iam): ignore the first 404 error of new IAM agency
  huaweicloud/services/iam/resource_huaweicloud_identity_agency.go
Labels: size/XS, refactor, LGTM, approved

#7170 docs: update temporary security credentials and backend
  docs/guides/remote-state-backend.md
  docs/index.md
Labels: documentation, size/XS, LGTM, approved

#7177 fix(RDS): fix resource sql server database
  docs/resources/rds_sqlserver_database.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sqlserver_database_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_sqlserver_database.go
Labels: size/S, bugfix, LGTM, approved

#7175 fix(RDS): fix resource sql audit
  docs/resources/rds_sql_audit.md
  huaweicloud/services/rds/resource_huaweicloud_rds_sql_audit.go
Labels: size/XS, bugfix, LGTM, approved

#7099 feat(workspace): add new data source query policy groups
  docs/data-sources/workspace_policy_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_policy_groups_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_policy_groups.go
Labels: size/L, feature, LGTM, approved

#7182 fix(hss/hss_vulnerability_information_export): fix document error
  docs/resources/hss_vulnerability_information_export.md
Labels: size/XS, bugfix, LGTM, approved

#7183 refactor(RDS): refactor rds instance resource
  huaweicloud/services/rds/common.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
Labels: size/L, refactor, LGTM, approved

#7163 feat(secmaster): add new resource supports alert convert incident
  docs/resources/secmaster_alert_convert_incident.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_alert_convert_incident_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert_convert_incident.go
Labels: size/M, feature, LGTM, approved

#7185 feat(workspace): add data source query center availability zones
  docs/data-sources/workspace_app_center_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_center_availability_zones_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_center_availability_zones.go
Labels: size/L, size/M, feature, LGTM, approved

#7188 feat(workspace): add new one-time resource desktop pool notification
  docs/resources/workspace_desktop_pool_notification.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_pool_notification_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop_pool_notification.go
Labels: size/L, feature, LGTM, approved

#7193 feat(workspace): add data source query ies availability zones
  docs/data-sources/workspace_app_ies_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_ies_availability_zones_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_ies_availability_zones.go
Labels: size/M, feature, LGTM, approved

#7130 chore(modelarts/resource_pool): supplement API comment
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_resource_pool.go
Labels: size/XS, chore, LGTM, approved

#7131 chore(modelarts/resource_pool_nodes): fix incorrect API comment
  huaweicloud/services/modelarts/data_source_huaweicloud_modelartsv2_resource_pool_nodes.go
Labels: size/XS, chore, LGTM, approved

#7133 chore(modelarts/node_batch_unsubscribe): rename the files corresponding to the resource
  docs/resources/modelartsv2_node_batch_unsubscribe.md
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelartsv2_node_batch_unsubscribe_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelartsv2_node_batch_unsubscribe.go
Labels: size/XS, chore, LGTM, approved

#7197 Update CHANGELOG for 1.76.2
  CHANGELOG.md
Labels: size/XS, approved

#7179 feat(SMS): add SMS source server errors data source
  docs/data-sources/sms_source_server_errors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sms/data_source_huaweicloud_sms_source_server_errors_test.go
  huaweicloud/services/sms/data_source_huaweicloud_sms_source_server_errors.go
Labels: size/M, feature, LGTM, approved

#7191 feat(SMS): add SMS task consistency result report resource
  docs/resources/sms_task_consistency_result_report.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/sms/resource_huaweicloud_sms_task_consistency_result_report_test.go
  huaweicloud/services/sms/resource_huaweicloud_sms_task_consistency_result_report.go
Labels: size/L, size/M, feature, LGTM, approved

#7198 feat(SMS): add SMS task log upload resource
  docs/resources/sms_task_log_upload.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sms/resource_huaweicloud_sms_task_log_upload_test.go
  huaweicloud/services/sms/resource_huaweicloud_sms_task_log_upload.go
Labels: size/M, feature, LGTM, approved

#7201 feat(SMS): add SMS task progress report resource
  docs/resources/sms_task_progress_report.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sms/resource_huaweicloud_sms_task_progress_report_test.go
  huaweicloud/services/sms/resource_huaweicloud_sms_task_progress_report.go
Labels: size/L, feature, LGTM, approved

#7172 fix(RDS): fix resource pg sql limit
  docs/resources/rds_pg_sql_limit.md
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_sql_limit_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_pg_sql_limit.go
Labels: size/S, bugfix, LGTM, approved

#7203 refactor(RDS): refactor rds intance resource
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/rds/common.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
  huaweicloud/services/rds/resource_huaweicloud_rds_read_replica_instance.go
Labels: size/XL, refactor, LGTM, approved

#7207 feat(SMS): support SMS task to set speed limit and query passphrase
  docs/resources/sms_task.md
  huaweicloud/services/acceptance/sms/resource_huaweicloud_sms_task_test.go
  huaweicloud/services/sms/resource_huaweicloud_sms_task.go
Labels: size/L, size/M, feature, LGTM, approved

#7195 feat(hss): add new datasource to get list of vulnerabilities
  docs/data-sources/hss_vulnerabilities.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_vulnerabilities_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_vulnerabilities.go
Labels: size/L, feature, LGTM, approved

#7194 chore(lts): add common.CheckDeletedDiag for resources
  huaweicloud/services/lts/resource_huaweicloud_lts_access_rule.go
  huaweicloud/services/lts/resource_huaweicloud_lts_dashboard.go
  huaweicloud/services/lts/resource_huaweicloud_lts_struct_template.go
Labels: size/S, chore, LGTM, approved

#7222 chore: feat(modelarts/resource_pool): modify data_volumes type to set and add sorting logic
  docs/resources/modelarts_resource_pool.md
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_resource_pool.go
Labels: size/M, chore, feature, LGTM, approved

#7225 Update CHANGELOG for 1.76.3
  CHANGELOG.md
Labels: size/XS, approved

#7221 feat: best practice code for RDS for MySQL
  examples/rds/mysql/README.md
  examples/rds/mysql/main.tf
  examples/rds/mysql/providers.tf
  examples/rds/mysql/terraform.tfvars
  examples/rds/mysql/variables.tf
Labels: size/L, feature, LGTM, approved

#7223 feat: best practice code for RDS for MySQL with EIP
  examples/rds/mysql-with-eip/README.md
  examples/rds/mysql-with-eip/main.tf
  examples/rds/mysql-with-eip/providers.tf
  examples/rds/mysql-with-eip/terraform.tfvars
  examples/rds/mysql-with-eip/variables.tf
Labels: size/L, feature, LGTM, approved

#7184 feat(CodeArts/Build): support to get tasks and records
  docs/data-sources/codearts_build_task_records.md
  docs/data-sources/codearts_build_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsbuild/data_source_huaweicloud_codearts_build_task_records_test.go
  huaweicloud/services/acceptance/codeartsbuild/data_source_huaweicloud_codearts_build_tasks_test.go
  huaweicloud/services/codeartsbuild/data_source_huaweicloud_codearts_build_task_records.go
  huaweicloud/services/codeartsbuild/data_source_huaweicloud_codearts_build_tasks.go
Labels: size/XL, feature, LGTM, approved

#7224 feat(hss/hss_container_kubernetes): support `hss_container_kubernetes` data source
  docs/data-sources/hss_container_kubernetes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_container_kubernetes_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_container_kubernetes.go
Labels: size/L, feature, LGTM, approved

#7228 feat(aad): new datasource to query protected domains
  docs/data-sources/aad_domains.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_domains.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_domains_test.go
Labels: size/M, feature, LGTM, approved

#7230 feat(hss/hss_event_system_user_white_lists): support `hss_event_system_user_white_lists` data source
  docs/data-sources/hss_event_system_user_white_lists.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_event_system_user_white_lists_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_event_system_user_white_lists.go
Labels: size/L, feature, LGTM, approved

#7234 feat(aad): new datasource to query source IP addresses
  docs/data-sources/aad_source_ips.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_source_ips.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_source_ips_test.go
Labels: size/M, feature, LGTM, approved

#7226 feat(hss): add new datasource to get the detail of a specifies port
  docs/data-sources/hss_asset_port_info.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_asset_port_info_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_asset_port_info.go
Labels: size/M, feature, LGTM, approved

#7237 feat(vpcep/endpoint): support condition in policy_statement
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/backups/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/backups/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/backups/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/flavors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/flavors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/flavors/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/securities/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/securities/results.go
  vendor/github.com/chnsz/golangsdk/openstack/rds/v3/securities/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/results.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#7242 Update CHANGELOG for 1.76.4
  CHANGELOG.md
Labels: size/XS, approved

#7240 feat(cbr): new resource to set vault resource
  docs/resources/cbr_vault_set_resource.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_set_resource_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault_set_resource.go
Labels: size/M, feature, LGTM, approved

#7241 feat(hss/hss_event_system_user_white_list): support `hss_event_system_user_white_list` resource
  docs/resources/hss_event_system_user_white_list.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_event_system_user_white_list_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_event_system_user_white_list.go
Labels: size/L, feature, LGTM, approved

#7196 feat(workspace): add data source query session types
  docs/data-sources/workspace_app_session_types.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_session_types_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_session_types.go
Labels: size/M, feature, LGTM, approved

#7247 feat(sdrs): new datasource to query resource rpo statistics
  docs/data-sources/sdrs_resource_rpo_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/data_source_huaweicloud_sdrs_resource_rpo_statistics_test.go
  huaweicloud/services/sdrs/data_source_huaweicloud_sdrs_resource_rpo_statistics.go
Labels: size/L, feature, LGTM, approved

#7246 feat(EVS): add datasource to query evs snapshot groups tags
  docs/data-sources/evs_snapshot_groups_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_snapshot_groups_tags_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_snapshot_groups_tags.go
Labels: size/M, feature, LGTM, approved

#7250 feat(sdrs): new datasource to query DR drills
  docs/data-sources/sdrs_drills.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/data_source_huaweicloud_sdrs_drills_test.go
  huaweicloud/services/sdrs/data_source_huaweicloud_sdrs_drills.go
Labels: size/L, feature, LGTM, approved

#7252 feat(workspace): add new data source for query desktop connections
  docs/data-sources/workspace_desktop_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_desktop_connections_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_desktop_connections.go
Labels: size/L, feature, LGTM, approved

#7257 feat(cce): support encrytion_config in cce cluster
  docs/resources/cce_cluster.md
  go.mod
  go.sum
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/cce/v3/clusters/results.go
  vendor/modules.txt
Labels: size/S, feature, dependencies, LGTM, approved

#7261 Update CHANGELOG for 1.76.5
  CHANGELOG.md
Labels: size/XS, approved

#7200 feat(CodeArts/Build): support to download build log
  docs/resources/codearts_build_log_download.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsbuild/resource_huaweicloud_codearts_build_log_download_test.go
  huaweicloud/services/codeartsbuild/resource_huaweicloud_codearts_build_log_download.go
Labels: size/M, feature, LGTM, approved

#7258 feat(sdrs): new datasource to query protected instances
  docs/data-sources/sdrs_protected_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/data_source_huaweicloud_sdrs_protected_instances_test.go
  huaweicloud/services/sdrs/data_source_huaweicloud_sdrs_protected_instances.go
Labels: size/L, feature, LGTM, approved

#7254 feat(hss/hss_event_login_white_list): support `hss_event_login_white_list` resource
  docs/resources/hss_event_login_white_list.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_event_login_white_list_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_event_login_white_list.go
Labels: size/L, feature, LGTM, approved

#7204 feat(workspace): add data source query flavors
  docs/data-sources/workspace_app_flavors.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_flavors_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_flavors.go
Labels: size/L, feature, LGTM, approved

#7268 chore(gitignore): ignore local rules collection
  .gitignore
Labels: size/XS, chore, LGTM, approved

#7271 refactor(DCS): refactor dcs flavors and maintian windows data source
  docs/data-sources/dcs_flavors.md
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_flavors_test.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_maintainwindow_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_flavors.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_maintainwindow.go
Labels: size/L, refactor, LGTM, approved

#7215 feat(workspace): add data source query server group status
  docs/data-sources/workspace_app_server_group_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_server_group_status_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_server_group_status.go
Labels: size/M, feature, LGTM, approved

#7274 feat(hss/hss_event_login_white_lists): support `hss_event_login_white_lists` data source
  docs/data-sources/hss_event_login_white_lists.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_event_login_white_lists_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_event_login_white_lists.go
Labels: size/L, feature, LGTM, approved

#7236 feat(workspace): add data source query server list
  docs/data-sources/workspace_app_servers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_servers_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_servers.go
Labels: size/XL, feature, LGTM, approved

#7264 feat(EVS): add one time resource to unsubscribe prepaid volume
  docs/resources/evs_unsubscribe_prepaid_volume.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evs_unsubscribe_prepaid_volume_test.go
  huaweicloud/services/evs/resource_huaweicloud_evs_unsubscribe_prepaid_volume.go
Labels: size/M, feature, LGTM, approved

#7265 feat(workspace): add data source query server groups
  docs/data-sources/workspace_app_server_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_server_groups_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_server_groups.go
Labels: size/XL, feature, LGTM, approved

#7282 chore(workspace): change field name
  docs/data-sources/workspace_app_flavors.md
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_flavors_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_flavors.go
Labels: size/XS, chore, LGTM, approved

#7275 feat(CodeArts/Pipeline): support to get modules
  docs/data-sources/codearts_pipeline_modules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_modules_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_modules.go
Labels: size/L, feature, LGTM, approved

#7269 feat(CodeArts/Pipeline): support tag management
  docs/data-sources/codearts_pipeline_tags.md
  docs/resources/codearts_pipeline_tag.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_tags_test.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_tag_test.go
  huaweicloud/services/codeartspipeline/common.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_tags.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_tag.go
Labels: size/L, feature, LGTM, approved

#7266 feat(CodeArts/Pipeline): support to get templates
  docs/data-sources/codearts_pipeline_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_templates_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_templates.go
Labels: size/L, feature, LGTM, approved

#7260 feat(SMS): add SMS task update network check info resource
  docs/resources/sms_task_network_check_info_report.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sms/resource_huaweicloud_sms_task_network_check_info_report_test.go
  huaweicloud/services/sms/resource_huaweicloud_sms_migration_project_default.go
  huaweicloud/services/sms/resource_huaweicloud_sms_task_network_check_info_report.go
Labels: size/M, feature, LGTM, approved

#7281 feat(DCS): add dcs instance shards data source
  docs/data-sources/dcs_instance_shards.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_instance_shards_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_instance_shards.go
Labels: size/L, feature, LGTM, approved

#7270 feat(CodeArts/Pipeline): support to get service endpoints
  docs/data-sources/codearts_pipeline_service_endpoints.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_service_endpoints_test.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_service_endpoint_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_service_endpoints.go
Labels: size/M, feature, LGTM, approved

#7213 feat(workspace/app): add new resource to manage schedule task
  docs/resources/workspace_app_schedule_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_schedule_task_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_schedule_task.go
Labels: size/L, feature, LGTM, approved

#7283 feat(DCS): add dcs instance nodes data source
  docs/data-sources/dcs_instance_nodes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_instance_nodes_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_instance_nodes.go
Labels: size/L, feature, LGTM, approved

#7289 feat(workspace): supports new resource for server group scaling policy
  docs/resources/workspace_app_server_group_scaling_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_server_group_scaling_policy_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_server_group_scaling_policy.go
Labels: size/L, feature, LGTM, approved

#7280 feat(sdrs): new datasource to query protected instances by tags
  docs/data-sources/sdrs_protected_instances_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sdrs/data_source_huaweicloud_sdrs_protected_instances_by_tags_test.go
  huaweicloud/services/sdrs/data_source_huaweicloud_sdrs_protected_instances_by_tags.go
Labels: size/L, feature, LGTM, approved

#7210 feat(CodeArts/Pipeline): support resource parameter group and associate pipeline with groups
  docs/resources/codearts_pipeline.md
  docs/resources/codearts_pipeline_by_template.md
  docs/resources/codearts_pipeline_parameter_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_by_template_test.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_parameter_group_test.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_test.go
  huaweicloud/services/codeartspipeline/common.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_by_template.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_parameter_group.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_service_endpoint.go
Labels: size/L, feature, LGTM, approved

#7286 feat(hss/hss_event_alarm_white_lists): support `hss_event_alarm_white_lists` data source
  docs/data-sources/hss_event_alarm_white_lists.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_event_alarm_white_lists_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_event_alarm_white_lists.go
Labels: size/L, feature, LGTM, approved

#7153 refactor(example): rewrite dedicated domain example and clean lint issues
  examples/waf/dedicated-domain/README.md
  examples/waf/dedicated-domain/main.tf
  examples/waf/dedicated-domain/providers.tf
  examples/waf/dedicated-domain/terraform.tfvars
  examples/waf/dedicated-domain/variables.tf
  examples/waf/dedicated-instance/README.md
  examples/waf/dedicated-instance/main.tf
  examples/waf/dedicated-instance/providers.tf
  examples/waf/dedicated-instance/terraform.tfvars
  examples/waf/dedicated-instance/variables.tf
  examples/waf/waf-dedicated-domains/README.md
  examples/waf/waf-dedicated-domains/main.tf
  examples/waf/waf-dedicated-domains/variables.tf
  examples/waf/waf-dedicated-instance/README.md
  examples/waf/waf-dedicated-instance/main.tf
  examples/waf/waf-dedicated-instance/terraform.tfvars
  examples/waf/waf-dedicated-instance/variables.tf
Labels: size/L, refactor, LGTM, approved

#7291 feat(workspace): supports new data source to query VNC remote information
  docs/data-sources/workspace_app_vnc_remote.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_vnc_remote_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_vnc_remote.go
Labels: size/M, feature, LGTM, approved

#7296 feat(CodeArts/Pipleine): support to set tags and ungroup pipeline
  docs/resources/codearts_pipeline.md
  docs/resources/codearts_pipeline_by_template.md
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_by_template_test.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_test.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_by_template.go
Labels: size/M, feature, LGTM, approved

#7297 chore(workspace): adjust the attribute parameter names
  docs/data-sources/workspace_app_server_groups.md
  docs/data-sources/workspace_app_servers.md
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_server_groups_test.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_servers_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_server_groups.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_servers.go
Labels: size/M, chore, LGTM, approved

#7294 feat(DCS): dcs instance support expire key auto scan
  docs/resources/dcs_instance.md
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/M, feature, LGTM, approved

#7249 feat(hss): add new datasource to get the application protection status
  docs/data-sources/hss_rasp_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_rasp_status_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_rasp_status.go
Labels: size/M, feature, LGTM, approved

#7298 feat(DCS): dcs instance support fix transparent_client_ip_enable
  docs/resources/dcs_instance.md
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance.go
Labels: size/M, feature, LGTM, approved

#7304 fix(examples/dedicated_instance): remove redundant variable
  examples/waf/dedicated-instance/terraform.tfvars
Labels: size/XS, bugfix, LGTM, approved

#6900 docs(examples/coc): adjust examples under coc
  examples/coc/script/README.md
  examples/coc/script/main.tf
  examples/coc/script/providers.tf
  examples/coc/script/terraform.tfvars
  examples/coc/script/variables.tf
  examples/coc/script_execute/README.md
  examples/coc/script_execute/main.tf
  examples/coc/script_execute/providers.tf
  examples/coc/script_execute/terraform.tfvars
  examples/coc/script_execute/variables.tf
Labels: size/L, documentation, LGTM, approved

#7302 feat(DCS): add dcs instance bandwidth modify resource
  docs/resources/dcs_instance_bandwidth_modify.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_bandwidth_modify_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance_bandwidth_modify.go
Labels: size/M, feature, LGTM, approved

#7259 feat(hss): add new datasource to get the list of protection servers
  docs/data-sources/hss_rasp_servers.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_rasp_servers_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_rasp_servers.go
Labels: size/L, feature, LGTM, approved

#7267 feat(hss): add new datasource to get the list of protection policies
  docs/data-sources/hss_rasp_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_rasp_policies_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_rasp_policies.go
Labels: size/L, feature, LGTM, approved

#7315 docs(sdrs): remove meaningless note
  huaweicloud/services/sdrs/data_source_huaweicloud_sdrs_replication_pairs.go
Labels: documentation, size/XS, LGTM, approved

#7306 chore(sdrs): modify sdrs resource error check deleted logic
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_drill.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_protected_instance.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_protection_group.go
Labels: size/S, size/XS, chore, LGTM, approved

#7312 feat(DCS): add dcs instance node ip remove resource
  docs/resources/dcs_instance_node_ip_remove.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_instance_node_ip_remove_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_instance_node_ip_remove.go
Labels: size/M, feature, LGTM, approved

#7320 feat(sdrs): new resource to resize sdrs protected instance
  docs/resources/sdrs_protected_instance_resize.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_protected_instance_resize_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_protected_instance_resize.go
Labels: size/L, feature, LGTM, approved

#7307 feat(hss): add new datasource to get the list of detection rules
  docs/data-sources/hss_rasp_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_rasp_rules_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_rasp_rules.go
Labels: size/L, feature, LGTM, approved

#7317 feat(hss): add new datasource to get the list of used tags
  docs/data-sources/hss_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_tags_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_tags.go
Labels: size/M, feature, LGTM, approved

#7318 feat(EVS): add datasource to query evs snapshot chains
  docs/data-sources/evs_snapshot_chains.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evs_snapshot_chains_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evs_snapshot_chains.go
Labels: size/M, feature, LGTM, approved

#7319 feat(hss/hss_event_alarm_white_list_delete): support `hss_event_alarm_white_list_delete` resource
  docs/resources/hss_event_alarm_white_list_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_event_alarm_white_list_delete_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_event_alarm_white_list_delete.go
Labels: size/L, feature, LGTM, approved

#7324 feat(sdrs): new resource to delete sdrs failure job
  docs/resources/sdrs_delete_failure_job.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_delete_failure_job_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_delete_failure_job.go
Labels: size/M, feature, LGTM, approved

#7325 feat(sdrs): new resource to delete specified group failure jobs
  docs/resources/sdrs_delete_specified_group_failure_jobs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/sdrs/resource_huaweicloud_sdrs_delete_specified_group_failure_jobs_test.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_delete_specified_group_failure_jobs.go
Labels: size/M, feature, LGTM, approved

#7323 feat(EVS): add datasource to query evs snapshots(v5)
  docs/data-sources/evsv5_snapshots.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evsv5_snapshots_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evsv5_snapshots.go
Labels: size/L, feature, LGTM, approved

#7079 chore(examples/coc): adjust script_order_operation script and document
  examples/coc/script-order-operation/README.md
  examples/coc/script-order-operation/main.tf
  examples/coc/script-order-operation/providers.tf
  examples/coc/script-order-operation/terraform.tfvars
  examples/coc/script-order-operation/variables.tf
  examples/coc/script_order_operation/README.md
  examples/coc/script_order_operation/main.tf
  examples/coc/script_order_operation/variables.tf
Labels: size/L, chore, LGTM, approved

#7335 feat(hss/hss_antivirus_custom_scan_policies): support `hss_antivirus_custom_scan_policies` data source
  docs/data-sources/hss_antivirus_custom_scan_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_antivirus_custom_scan_policies_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_antivirus_custom_scan_policies.go
Labels: size/L, feature, LGTM, approved

#7330 feat(DCS): add dcs backup import task resource
  Checking
  docs/resources/dcs_backup_import_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_backup_import_task_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_backup_import_task.go
Labels: size/XL, size/L, feature, LGTM, approved

#7336 chore(sdrs): add missing API usage records for sdrs resources
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_drill.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_protected_instance.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_protection_group.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_replication_attach.go
  huaweicloud/services/sdrs/resource_huaweicloud_sdrs_replication_pair.go
Labels: size/XS, chore, LGTM, approved

#7339 feat(hss/hss_antivirus_available_hosts): support `hss_antivirus_available_hosts` data source
  docs/data-sources/hss_antivirus_available_hosts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_antivirus_available_hosts_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_antivirus_available_hosts.go
Labels: size/L, feature, LGTM, approved

#7341 chore(example/sms): refactor the task best practice
  examples/sms/migration-task/README.md
  examples/sms/migration-task/main.tf
  examples/sms/migration-task/providers.tf
  examples/sms/migration-task/terraform.tfvars
  examples/sms/migration-task/variables.tf
  examples/sms/task/README.md
  examples/sms/task/main.tf
  examples/sms/task/variables.tf
Labels: size/M, chore, LGTM, approved

#7326 feat(hss): add new resource to collect asset fingerprints of a host
  docs/resources/hss_asset_manual_collect.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_asset_manual_collect_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_asset_manual_collect.go
Labels: size/M, feature, LGTM, approved

#7348 feat(DCS): add dcs migration rask stop and restart resource
  docs/resources/dcs_instance_migration_task_stop.md
  docs/resources/dcs_online_data__migration_task_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_migration_task_stop_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_online_data_migration_task_restart_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_migration_task_stop.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_online_data_migration_task_restart.go
Labels: size/L, feature, LGTM, approved

#7346 feat(hss): new resource to handle password complexity check
  docs/resources/hss_ignore_failed_pcc.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_ignore_failed_pcc_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_ignore_failed_pcc.go
Labels: size/M, feature, LGTM, approved

#7353 refactor(example/rds): refactor the MySQL single instance script
  examples/rds/mysql-single-instance/README.md
  examples/rds/mysql-single-instance/main.tf
  examples/rds/mysql-single-instance/providers.tf
  examples/rds/mysql-single-instance/terraform.tfvars
  examples/rds/mysql-single-instance/variables.tf
  examples/rds/mysql/README.md
  examples/rds/mysql/main.tf
  examples/rds/mysql/terraform.tfvars
Labels: size/L, refactor, LGTM, approved

#7357 refactor(example/rds): refactor the MySQL best practice for EIP association
  examples/rds/mysql-instance-associate-eip/README.md
  examples/rds/mysql-instance-associate-eip/main.tf
  examples/rds/mysql-instance-associate-eip/providers.tf
  examples/rds/mysql-instance-associate-eip/terraform.tfvars
  examples/rds/mysql-instance-associate-eip/variables.tf
Labels: size/L, refactor, LGTM, approved

#7354 feat(CodeArts/Pipeline): support to get queueing records
  docs/data-sources/codearts_pipeline_queueing_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_queueing_records_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_queueing_records.go
Labels: size/L, size/M, feature, LGTM, approved

#7360 feat(CodeArts/Pipeline): support to get system variables
  docs/data-sources/codearts_pipeline_system_variables.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_system_variables_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_system_variables.go
Labels: size/M, feature, LGTM, approved

#7350 feat(example/secmaster): supports new best practice for playbook deployment
  docs/resources/secmaster_playbook.md
  docs/resources/secmaster_playbook_action.md
  docs/resources/secmaster_playbook_approval.md
  docs/resources/secmaster_playbook_enable.md
  docs/resources/secmaster_playbook_rule.md
  docs/resources/secmaster_playbook_version.md
  docs/resources/secmaster_playbook_version_action.md
  examples/secmaster/playbook/README.md
  examples/secmaster/playbook/custom-rule-and-trigger-by-event/README.md
  examples/secmaster/playbook/custom-rule-and-trigger-by-event/main.tf
  examples/secmaster/playbook/custom-rule-and-trigger-by-event/providers.tf
  examples/secmaster/playbook/custom-rule-and-trigger-by-event/terraform.tfvars
  examples/secmaster/playbook/custom-rule-and-trigger-by-event/variables.tf
  examples/secmaster/playbook/secmaster_playbook_usage_instruction.md
Labels: size/L, feature, LGTM, approved

#7363 feat(CodeArts/Pipeline): support to get trigger failed records
  docs/data-sources/codearts_pipeline_trigger_failed_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_trigger_failed_records_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_trigger_failed_records.go
Labels: size/M, feature, LGTM, approved

#7189 feat(workspace/app): add new resource to operate workspace app service
  docs/resources/workspace_app_service_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_service_action_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_service_action.go
Labels: size/M, feature, LGTM, approved

#7272 feat(modelarts): add new one-time resource to adjust nodes step
  docs/resources/modelarts_resource_pool_node_batch_resize.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/modelarts/resource_huaweicloud_modelarts_resource_pool_node_batch_resize_test.go
  huaweicloud/services/modelarts/resource_huaweicloud_modelarts_resource_pool_node_batch_resize.go
Labels: size/L, feature, LGTM, approved

#7356 feat(DCS): add dcs migration task ip exchange and rollback resource
  docs/resources/dcs_migration_task_exchange_ip.md
  docs/resources/dcs_migration_task_rollback_ip.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_migration_task_exchange_ip_test.go
  huaweicloud/services/acceptance/dcs/resource_huaweicloud_dcs_migration_task_rollback_ip_test.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_migration_task_exchange_ip.go
  huaweicloud/services/dcs/resource_huaweicloud_dcs_migration_task_rollback_ip.go
Labels: size/L, feature, LGTM, approved

#7362 feat(hss): new datasource to query container node statistics
  docs/data-sources/hss_container_node_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_container_node_statistics_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_container_node_statistics.go
Labels: size/M, feature, LGTM, approved

#7370 fix(kafka): fix okcode for permission
  huaweicloud/services/kafka/resource_huaweicloud_dms_kafka_permissions.go
Labels: size/XS, bugfix, LGTM, approved

#7359 feat(hss): new resource to export container task
  docs/resources/hss_container_export_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_container_export_task_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_container_export_task.go
Labels: size/L, feature, LGTM, approved

#7352 feat(CodeArts/Pipeline): support permission management
  docs/data-sources/codearts_pipeline_micro_services.md
  docs/data-sources/codearts_pipeline_parameter_groups.md
  docs/data-sources/codearts_pipeline_user_permissions.md
  docs/resources/codearts_pipeline.md
  docs/resources/codearts_pipeline_permission.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_user_permissions_test.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_permission_test.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_user_permissions.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_permission.go
Labels: size/XL, feature, LGTM, approved

#7337 feat(CES): add CES dashboard resource new params
  docs/resources/ces_dashboard.md
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_dashboard_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_dashboard.go
Labels: size/L, feature, LGTM, approved

#7327 feat(CES): add CES update alarm rule notifications resource
  docs/resources/ces_alarmrule.md
  huaweicloud/services/ces/resource_huaweicloud_ces_alarmrule.go
Labels: size/L, feature, LGTM, approved

#7369 feat(DCS): add dcs migration task logs data source
  docs/data-sources/dcs_migration_task_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dcs/data_source_huaweicloud_dcs_migration_task_logs_test.go
  huaweicloud/services/dcs/data_source_huaweicloud_dcs_migration_task_logs.go
Labels: size/L, feature, LGTM, approved

#7381 feat(hss): new datasource to query cluster asset statistics
  docs/data-sources/hss_cluster_asset_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_cluster_asset_statistics_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_cluster_asset_statistics.go
Labels: size/M, feature, LGTM, approved

#7378 feat(hss): new resource to sync multi cloud clusters status
  docs/resources/hss_container_kubernetes_sync_mccs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_container_kubernetes_sync_mccs_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_container_kubernetes_sync_mccs.go
Labels: size/M, feature, LGTM, approved

#7338 feat(hss): add new datasource to query vulnerabilities handing history
  docs/data-sources/hss_vulnerability_handle_history.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_vulnerability_handle_history_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_vulnerability_handle_history.go
Labels: size/L, feature, LGTM, approved

#7385 fix: fix resource tags schema with common schema
  huaweicloud/services/cc/resource_huaweicloud_cc_bandwidth_package.go
  huaweicloud/services/cc/resource_huaweicloud_cc_central_network.go
  huaweicloud/services/cc/resource_huaweicloud_cc_global_connection_bandwidth.go
  huaweicloud/services/ces/resource_huaweicloud_ces_resource_group.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_acl_rule.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_firewall.go
  huaweicloud/services/deprecated/resource_huaweicloud_cfw_protection_rule.go
  huaweicloud/services/deprecated/resource_huaweicloud_ecs_instance_v1.go
  huaweicloud/services/dew/resource_huaweicloud_kms_key.go
  huaweicloud/services/dli/resource_huaweicloud_dli_datasource_connection.go
  huaweicloud/services/dli/resource_huaweicloud_dli_flink_template.go
  huaweicloud/services/dli/resource_huaweicloud_dli_queue.go
  huaweicloud/services/dws/resource_huaweicloud_dws_cluster.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
  huaweicloud/services/eip/resource_huaweicloud_global_eip.go
  huaweicloud/services/eip/resource_huaweicloud_global_eip_associate.go
  huaweicloud/services/eip/resource_huaweicloud_global_internet_bandwidth.go
  huaweicloud/services/ges/resource_huaweicloud_ges_graph.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  huaweicloud/services/smn/resource_huaweicloud_smn_message_publish.go
Labels: size/M, bugfix, LGTM, approved

#7364 refactor(cce): save extension_scale_groups in cce cluster
  docs/resources/cce_node_pool.md
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool.go
Labels: size/M, refactor, LGTM, approved

#7384 docs(secmaster): fix doc of data_source playbook_actions
  docs/data-sources/secmaster_playbook_actions.md
Labels: documentation, size/XS, LGTM, approved

#7388 feat(cce): add new source cce_nodes_remove
  docs/resources/cce_nodes_remove.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_nodes_remove_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_nodes_remove.go
Labels: size/L, feature, LGTM, approved
