Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2025-01, with the labels that each got.

#6123 fix(cbh/asset_agency_authorization): fix resource test error
  huaweicloud/services/acceptance/cbh/resource_huaweicloud_cbh_asset_agency_authorization_test.go
Labels: size/S, bugfix, LGTM, approved

#6120 feat(cfw): add this data source to get the list of CFW regions
  docs/data-sources/cfw_regions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_regions_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_regions.go
Labels: size/M, feature, LGTM, approved

#6124 test(cph): fix cph test case error
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_phones_test.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_servers_test.go
  huaweicloud/services/acceptance/cph/resource_huaweicloud_cph_phone_reset_test.go
Labels: size/S, LGTM, test, approved

#6117 feat(GaussDB): add gaussdb opengauss instance coordinates data source
  docs/data-sources/gaussdb_opengauss_instance_coordinators.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_coordinators_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_instance_coordinators.go
Labels: size/L, feature, LGTM, approved

#6127 feat(rms): RMS advanced query supports type field
  docs/resources/rms_advanced_query.md
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_advanced_query_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_advanced_query.go
Labels: size/M, feature, LGTM, approved

#6118 feat(GaussDB): add gaussdb opengauss storage types data source
  docs/data-sources/gaussdb_opengauss_storage_types.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_storage_types_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_storage_types.go
Labels: size/M, feature, LGTM, approved

#6130 feat(GaussDB): add gaussdb opengauss parameter template apply resource
  docs/resources/gaussdb_opengauss_parameter_template_apply.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_parameter_template_apply_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_parameter_template_apply.go
Labels: size/L, feature, LGTM, approved

#6129 feat(code arts/deploy): support to update application
  docs/resources/codearts_deploy_application.md
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_application.go
Labels: size/L, feature, LGTM, approved

#6112 feat(CodeArts/Deploy): support environment management
  docs/resources/codearts_deploy_environment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_environment_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_environment.go
Labels: size/XL, feature, LGTM, approved

#6116 feat(lts): the host access supports structuring parsing feature
  docs/resources/lts_host_access.md
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_host_access_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_host_access.go
Labels: size/M, feature, LGTM, approved

#6132 feat(cae): add new resource to manage event notification rule
  docs/resources/cae_notification_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_notification_rule_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_notification_rule.go
Labels: size/L, feature, LGTM, approved

#6128 feat(cbh/instance_quota): support instance quota dataSource
  docs/data-sources/cbh_instance_quota.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_instance_quota_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_instance_quota.go
Labels: size/M, feature, LGTM, approved

#6143 feat(cce): add new resource node sync
  docs/resources/cce_node_sync.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_sync_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_sync.go
Labels: size/M, feature, LGTM, approved

#6136 fix(cce): deprecate parameter support_istio in cluster
  docs/resources/cce_cluster.md
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
Labels: size/XS, bugfix, LGTM, approved

#6133 feat(ga): add a new resource to manage access log
  docs/resources/ga_access_log.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_access_log_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_access_log.go
Labels: size/L, feature, LGTM, approved

#6140 feat(GaussDB): add gaussdb opengauss parameter template update records data source
  docs/data-sources/gaussdb_opengauss_pt_modify_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_pt_modify_records_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_pt_modify_records.go
Labels: size/M, feature, LGTM, approved

#6145 feat(ga): the accelerator resource ip_type field supports IPV6
  docs/resources/ga_accelerator.md
  huaweicloud/services/acceptance/ga/resource_huaweicloud_ga_accelerator_test.go
  huaweicloud/services/ga/resource_huaweicloud_ga_accelerator.go
Labels: size/M, feature, LGTM, approved

#6135 feat(ga): add a new datasource to get the list of the access logs
  docs/data-sources/ga_access_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/data_source_huaweicloud_ga_access_logs_test.go
  huaweicloud/services/ga/data_source_huaweicloud_ga_access_logs.go
Labels: size/L, feature, LGTM, approved

#6125 feat(identitycenter): add datasource permission set provisionings
  docs/data-sources/identitycenter_permission_set_provisionings.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_permission_set_provisionings_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_permission_set_provisionings.go
Labels: size/M, feature, LGTM, approved

#6141 feat(GaussDB): add gaussdb opengauss parameter template apply records data source
  docs/data-sources/gaussdb_opengauss_pt_apply_records.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_pt_apply_records_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_pt_apply_records.go
Labels: size/L, feature, LGTM, approved

#6147 test(rms): segment the target ID to ensure smooth execution of test cases
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_remediation_execution_statuses_test.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_remediation_configuration_test.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_remediation_exception_test.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_remediation_execution_test.go
Labels: size/S, LGTM, test, approved

#6139 test(secmaster): fix secmaster test case
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_enable_test.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_playbook_version_test.go
Labels: size/XS, LGTM, test, approved

#6151 feat(cce): add new data source cce_charts
  docs/data-sources/cce_charts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_charts_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_charts.go
Labels: size/M, feature, LGTM, approved

#6146 feat(cfw): add this data source to get the list of CFW IPS basic protection rules
  docs/data-sources/cfw_ips_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_ips_rules_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_ips_rules.go
Labels: size/L, feature, LGTM, approved

#6150 feat(cae): supports creating and deploying component
  docs/resources/cae_component.md
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_component_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_component.go
Labels: size/L, feature, LGTM, approved

#6154 feat(cce): add new data source cluster_configurations
  docs/data-sources/cce_charts.md
  docs/data-sources/cce_cluster_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_cluster_configurations_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_cluster_configurations.go
Labels: size/M, feature, LGTM, approved

#6144 feat(identitycenter): add datasource system policy attachments
  docs/data-sources/identitycenter_system_policy_attachments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_system_policy_attachments_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_system_policy_attachments.go
Labels: size/M, feature, LGTM, approved

#6152 refactor(cdn/cache_history_tasks): refactor the cache_history_tasks data source code style
  docs/data-sources/cdn_cache_history_tasks.md
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_cache_history_tasks_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_cache_history_tasks.go
Labels: size/M, refactor, LGTM, approved

#6153 feat(GaussDB): add gaussdb opengauss recycling instances data source
  docs/data-sources/gaussdb_opengauss_recycling_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_recycling_instances_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_recycling_instances.go
Labels: size/L, feature, LGTM, approved

#6155 refactor(cdn/cache_url_tasks): refactor the cache_url_tasks data source code style
  docs/data-sources/cdn_cache_url_tasks.md
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_cache_url_tasks_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_cache_url_tasks.go
Labels: size/M, refactor, LGTM, approved

#6137 feat(CodeArts/Deploy): support to get environments
  docs/data-sources/codearts_deploy_environments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/data_source_huaweicloud_codearts_deploy_environments_test.go
  huaweicloud/services/codeartsdeploy/data_source_huaweicloud_codearts_deploy_environments.go
Labels: size/L, feature, LGTM, approved

#6158 feat(cce): add new resource cluster_certificate_revoke
  docs/resources/cce_cluster_certificate_revoke.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_cluster_certificate_revoke_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster_certificate_revoke.go
Labels: size/M, feature, LGTM, approved

#6138 feat(CodeArts/Deploy): support environment permission management
  docs/resources/codearts_deploy_environment_permission.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_environment_permission_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_environment_permission.go
Labels: size/M, feature, LGTM, approved

#6157 feat(CodeArts/Deploy): support application permission management
  docs/resources/codearts_deploy_application.md
  docs/resources/codearts_deploy_application_permission.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_permission_test.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_test.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_application.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_permission.go
Labels: size/L, feature, LGTM, approved

#6164 fix(CodeArts/Deploy): fix error info for permission management
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_environment.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_group.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_group_permission.go
Labels: size/S, bugfix, LGTM, approved

#6148 feat(GaussDB): add gaussdb opengauss ssl cert download link data source
  docs/data-sources/gaussdb_opengauss_ssl_cert_download_link.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_ssl_cert_download_link_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_ssl_cert_download_link.go
Labels: size/M, feature, LGTM, approved

#6163 feat(identitycenter): add datasource identitycenter system identity policy attachments
  docs/data-sources/identitycenter_system_identity_policy_attachments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_system_identity_policy_attachments_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_system_identity_policy_attachments.go
Labels: size/M, feature, LGTM, approved

#6149 feat(GaussDB): add gaussdb opengauss recycling policy resource
  docs/resources/gaussdb_opengauss_recycling_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_recycling_policy_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_recycling_policy.go
Labels: size/M, feature, LGTM, approved

#6167 feat(GaussDB): add gaussdb opengauss project quotas data source
  docs/data-sources/gaussdb_opengauss_project_quotas.md
  docs/data-sources/gaussdb_opengauss_restore_time_ranges.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_project_quotas_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_project_quotas.go
Labels: size/M, feature, LGTM, approved

#6171 fix(rms): fix the failing test cases in RMS
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_organizational_assignment_packages_test.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregator_advanced_query_test.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregator_discovered_resources_test.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregator_policy_assignments_test.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_aggregator_policy_states_test.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_resource_recorder_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_assignment_packages.go
Labels: size/M, bugfix, LGTM, approved

#6161 feat(cfw): add this data source to get the list of tags of a specified firewall instance
  docs/data-sources/cfw_resource_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_resource_tags_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_resource_tags.go
Labels: size/M, feature, approved

#6165 refactor(cdn): refactor the cache_refresh and cache_preheat resources code style
  docs/resources/cdn_cache_preheat.md
  docs/resources/cdn_cache_refresh.md
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_cache_preheat_test.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_cache_refresh_test.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_cache_preheat.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_cache_refresh.go
Labels: size/L, refactor, LGTM, approved

#6172 feat(GaussDB): add gaussdb opengauss solution template setting data source
  docs/data-sources/gaussdb_opengauss_solution_template_setting.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_solution_template_setting_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_solution_template_setting.go
Labels: size/L, feature, LGTM, approved

#6174 refactor(DEW): refactor KPS keypair resource by automatically generate styles
  docs/resources/kps_keypair.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kps_keypair_test.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair.go
Labels: size/XL, refactor, LGTM, approved

#6178 docs(live): fix documentation issues with live data sources
  docs/data-sources/live_record_callbacks.md
Labels: documentation, size/XS, LGTM, approved

#6169 feat(GaussDB): add gaussdb opengauss backup files data source
  docs/data-sources/gaussdb_opengauss_backup_files.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_backup_files_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_backup_files.go
Labels: size/L, feature, approved

#6177 refactor(cdn): refactor the billing_option resource and dataSource code style
  docs/data-sources/cdn_billing_option.md
  huaweicloud/services/acceptance/cdn/data_source_huaweicloud_cdn_billing_option_test.go
  huaweicloud/services/acceptance/cdn/resource_huaweicloud_cdn_billing_option_test.go
  huaweicloud/services/cdn/data_source_huaweicloud_cdn_billing_option.go
  huaweicloud/services/cdn/resource_huaweicloud_cdn_billing_option.go
Labels: size/M, refactor, LGTM, approved

#6166 refactor(live): refactor the Live domain resource code style
  docs/resources/live_domain.md
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_domain_test.go
  huaweicloud/services/live/resource_huaweicloud_live_domain.go
Labels: size/L, refactor, LGTM, approved

#6180 docs(dataarts): fix the incorrect attribute name
  docs/resources/dataarts_security_permission_set_privilege.md
Labels: documentation, size/XS, LGTM, approved

#6162 chore(cae): supplement the missing timeout for the component resource
  docs/resources/cae_component.md
  huaweicloud/services/cae/resource_huaweicloud_cae_component.go
Labels: size/XS, chore, LGTM, approved

#6190 refactor(dew): refactor kps keypair datasource by automatically genate style
  docs/data-sources/kps_keypairs.md
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kps_keypairs_test.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kps_keypair_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kps_keypairs.go
  huaweicloud/services/dew/resource_huaweicloud_kps_keypair.go
Labels: size/L, refactor, LGTM, approved

#6134 feat(cae/env): add new resource to manage environments
  docs/resources/cae_environment.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_environment_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_environment.go
Labels: size/L, feature, LGTM, approved

#6159 feat(identitycenter): add identitycenter user fields
  docs/resources/identitycenter_user.md
  huaweicloud/services/acceptance/identitycenter/resource_huaweicloud_identitycenter_user_test.go
  huaweicloud/services/identitycenter/resource_huaweicloud_identitycenter_user.go
Labels: size/L, feature, LGTM, approved

#6183 chore(rms): improve the coverage of some RMS test cases
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_histories_test.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resources_summary_test.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resources_test.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_organizational_policy_assignment_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_histories.go
Labels: size/M, chore, LGTM, approved

#6187 fix(rms): fix issues of the pagination functionality in resource aggregation pending requests data source
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_aggregation_pending_requests.go
Labels: size/XS, bugfix, LGTM, approved

#6188 feat(GaussDB): add gaussdb opengauss parameter template reset resource
  docs/resources/gaussdb_opengauss_parameter_template_reset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_parameter_template_reset_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_parameter_template_reset.go
Labels: size/M, feature, LGTM, approved

#6173 feat(GaussDB): add gaussdb opengauss top IO traffics data source
  docs/data-sources/gaussdb_opengauss_top_io_traffics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_top_io_traffics_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_top_io_traffics.go
Labels: size/L, feature, LGTM, approved

#6184 feat(cce): add new resource node_pool_scale
  docs/resources/cce_node_pool_scale.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/resource_huaweicloud_cce_node_pool_scale_test.go
  huaweicloud/services/cce/resource_huaweicloud_cce_node_pool_scale.go
Labels: size/L, feature, LGTM, approved

#6168 feat(cae): add new data source to query event notification rules
  docs/data-sources/cae_notification_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/data_source_huaweicloud_cae_notification_rules_test.go
  huaweicloud/services/cae/data_source_huaweicloud_cae_notification_rules.go
Labels: size/L, feature, LGTM, approved

#6191 fix(cce): fix version problem in autopilot cluster
  huaweicloud/services/acceptance/cceautopilot/resource_huaweicloud_cce_autopilot_cluster_test.go
  huaweicloud/services/cceautopilot/resource_huaweicloud_cce_autopilot_cluster.go
Labels: size/XS, bugfix, LGTM, approved

#6175 feat(cae): add new resource to manage cae environment access vpc
  docs/resources/cae_vpc_egress.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_vpc_egress_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_vpc_egress.go
Labels: size/L, feature, LGTM, approved

#6192 docs(vpc): change AZ to optional in the doc of subnet resource
  docs/resources/vpc_subnet.md
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: documentation, size/XS, LGTM, approved

#6195 refactor(hss/host_protection): refactor the host_protection resource code style
  docs/resources/hss_host_protection.md
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_host_protection_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_hosts.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_quotas.go
  huaweicloud/services/hss/resource_huaweicloud_hss_host_protection.go
  huaweicloud/services/hss/resource_huaweicloud_hss_webtamper_protection.go
Labels: size/L, refactor, LGTM, approved

#6176 refactor(live): refactor the record callback resource code style
  docs/resources/live_record_callback.md
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_record_callback_test.go
  huaweicloud/services/live/resource_huaweicloud_live_record_callback.go
Labels: size/M, refactor, LGTM, approved

#6200 feat(GaussDB): gaussdb openguass support new params
  docs/resources/gaussdb_opengauss_instance.md
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance.go
Labels: size/S, feature, LGTM, approved

#6201 feat(ams): add new data_source asm meshes
  docs/data-sources/asm_meshes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/asm/data_source_huaweicloud_asm_meshes_test.go
  huaweicloud/services/asm/data_source_huaweicloud_asm_meshes.go
Labels: size/L, feature, LGTM, approved

#6204 feat(VPC): vpc support new param enhanced_local_route
  docs/resources/vpc.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpc/resource_huaweicloud_vpc_test.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/vpcs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/networking/v1/vpcs/results.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#6208 Update CHANGELOG for 1.72.1
  CHANGELOG.md
Labels: size/XS, approved

#6114 feat(cse/kv): add new data source to query configurations
  docs/data-sources/cse_microservice_engine_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cse/data_source_huaweicloud_cse_microservice_engine_configurations_test.go
  huaweicloud/services/cse/data_source_huaweicloud_cse_microservice_engine_configurations.go
Labels: size/L, feature, LGTM, approved

#6156 feat(cae/app): add new resource to manage applications
  docs/resources/cae_application.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_application_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_application.go
Labels: size/L, feature, LGTM, approved

#6203 feat(cae/component): add new data source to query components
  docs/data-sources/cae_components.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/data_source_huaweicloud_cae_components_test.go
  huaweicloud/services/cae/data_source_huaweicloud_cae_components.go
Labels: size/L, feature, LGTM, approved

#6197 refactor(hss): refactor the quota resource and hosts data source code style
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_hosts_test.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_quotas_test.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_quota_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_hosts.go
  huaweicloud/services/hss/resource_huaweicloud_hss_quota.go
Labels: size/L, refactor, LGTM, approved

#6193 feat(swr): add datasource swr quotas
  docs/data-sources/swr_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_quotas_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_quotas.go
Labels: size/M, feature, LGTM, approved

#6199 feat(cph): add datasource cph phone connections
  docs/data-sources/cph_phone_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cph/data_source_huaweicloud_cph_phone_connections_test.go
  huaweicloud/services/cph/data_source_huaweicloud_cph_phone_connections.go
Labels: size/L, feature, LGTM, approved

#6194 feat(cfw): add this data source to get the list of CFW IPS rule details
  docs/data-sources/cfw_ips_rule_details.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_ips_rule_details_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_ips_rule_details.go
Labels: size/M, feature, LGTM, approved

#6202 feat(swr): add datasource swr feature gates
  docs/data-sources/swr_feature_gates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_feature_gates_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_feature_gates.go
Labels: size/M, feature, LGTM, approved

#6206 feat(secmaster): add datasource secmaster alert rule metrics
  docs/data-sources/secmaster_alert_rule_metrics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_alert_rule_metrics_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_alert_rule_metrics.go
Labels: size/M, feature, LGTM, approved

#6205 feat(cfw): add the data source to get the list of CFW IPS custom rules
  docs/data-sources/cfw_ips_custom_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cfw/data_source_huaweicloud_cfw_ips_custom_rules_test.go
  huaweicloud/services/cfw/data_source_huaweicloud_cfw_ips_custom_rules.go
Labels: size/L, feature, LGTM, approved

#6209 feat(GaussDB): add gaussdb opengauss tasks data source
  docs/data-sources/gaussdb_opengauss_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_tasks_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_tasks.go
Labels: size/L, feature, LGTM, approved

#6211 feat(cfw): add resource ips rule mode change
  docs/resources/cfw_ips_rule_mode_change.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cfw/resource_huaweicloud_cfw_ips_rule_mode_change_test.go
  huaweicloud/services/cfw/resource_huaweicloud_cfw_ips_rule_mode_change.go
Labels: size/M, feature, LGTM, approved

#6214 feat(GaussDB): add gaussdb opengauss task delete resource
  docs/resources/gaussdb_opengauss_task_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_task_delete_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_task_delete.go
Labels: size/M, feature, LGTM, approved

#6196 refactor(live): refactor the recording resource code style
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_recording_test.go
  huaweicloud/services/live/resource_huaweicloud_live_recording.go
Labels: size/L, refactor, LGTM, approved

#6218 feat: add a new way to generate client to support derivative algorithm authentication
  go.mod
  go.sum
  huaweicloud/config/config.go
  vendor/github.com/chnsz/golangsdk/auth/core/signer/derived_signer.go
  vendor/github.com/chnsz/golangsdk/auth/derived_signer_helper.go
  vendor/github.com/chnsz/golangsdk/auth_aksk_options.go
  vendor/github.com/chnsz/golangsdk/provider_client.go
  vendor/modules.txt
Labels: size/M, feature, dependencies, LGTM, approved

#6215 refactor(hss): refactor host group resource and data source code style
  docs/resources/hss_host_group.md
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_host_groups_test.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_host_group_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_host_groups.go
  huaweicloud/services/hss/resource_huaweicloud_hss_host_group.go
Labels: size/L, refactor, LGTM, approved

#6213 feat(GaussDB): add gaussdb opengauss quotas data source and quota resource
  docs/data-sources/gaussdb_opengauss_quotas.md
  docs/resources/gaussdb_opengauss_quota.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_quotas_test.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_quota_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_quotas.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_quota.go
Labels: size/L, feature, LGTM, approved

#6219 feat(vpc): add new data_source subnet_private_ips
  docs/data-sources/vpc_subnet_private_ips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpc/data_source_huaweicloud_vpc_subnet_private_ips_test.go
  huaweicloud/services/vpc/data_source_huaweicloud_vpc_subnet_private_ips.go
Labels: size/M, feature, LGTM, approved

#6179 feat(cae): add new resource to manage domain name
  docs/resources/cae_domain.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_domain_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_domain.go
Labels: size/L, feature, LGTM, approved

#6198 feat(cae): add new resource to manage timer rule
  docs/resources/cae_timer_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_timer_rule_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_timer_rule.go
Labels: size/L, feature, LGTM, approved

#6207 feat(cae): add new resource to manage certificate
  docs/resources/cae_certificate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_certificate_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_certificate.go
Labels: size/L, feature, LGTM, approved

#6216 feat(secmaster): add resource alert rule simulation
  docs/resources/secmaster_alert_rule_simulation.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/resource_huaweicloud_secmaster_alert_rule_simulation_test.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert_rule_simulation.go
Labels: size/L, feature, LGTM, approved

#6222 fix(lts/steam): ignore eps input if its not set
  huaweicloud/services/lts/resource_huaweicloud_lts_stream.go
Labels: size/XS, bugfix, LGTM, approved

#6223 feat(vpc): add CustomizeDiff in resource private_ip
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet_private_ip.go
Labels: size/XS, feature, LGTM, approved

#6220 feat(swr): add datasource swr domain overviews
  docs/data-sources/swr_domain_overviews.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_domain_overviews_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_domain_overviews.go
Labels: size/M, feature, LGTM, approved

#6227 refactor(cpts): refactor cpts project resource to general code style
  huaweicloud/services/acceptance/cpts/resource_huaweicloud_cpts_project_test.go
  huaweicloud/services/cpts/resource_huaweicloud_cpts_project.go
Labels: size/M, refactor, LGTM, approved

#6181 feat(CodeArts/Deploy): support to deploy app and get deployment records
  docs/data-sources/codearts_deploy_application_deployment_records.md
  docs/resources/codearts_deploy_application_deploy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/codeartsdeploy/data_source_huaweicloud_codearts_deploy_application_deployment_records_test.go
  huaweicloud/services/acceptance/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_deploy_test.go
  huaweicloud/services/codeartsdeploy/data_source_huaweicloud_codearts_deploy_application_deployment_records.go
  huaweicloud/services/codeartsdeploy/resource_hauweicloud_codearts_deploy_application_deploy.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_application_permission.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_environment_permission.go
  huaweicloud/services/codeartsdeploy/resource_huaweicloud_codearts_deploy_group_permission.go
Labels: size/L, feature, LGTM, approved

#6225 feat(GaussDB): add gaussdb opengauss tags
  docs/data-sources/gaussdb_opengauss_predefined_tags.md
  docs/data-sources/gaussdb_opengauss_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_predefined_tags_test.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_tags_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_predefined_tags.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_tags.go
Labels: size/L, feature, LGTM, approved

#6231 refactor(smn): refactor smn publish schema parameter code
  huaweicloud/services/smn/resource_huaweicloud_smn_message_publish.go
Labels: size/XS, refactor, LGTM, approved

#6217 docs(cfw): fix errors in the document of data source CFW ips custom rules
  docs/data-sources/cfw_ips_custom_rules.md
Labels: documentation, size/XS, LGTM, approved

#6229 feat(swr): add datasource swr domain resource reports
  docs/data-sources/swr_domain_resource_reports.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/swr/data_source_huaweicloud_swr_domain_resource_reports_test.go
  huaweicloud/services/swr/data_source_huaweicloud_swr_domain_resource_reports.go
Labels: size/M, feature, LGTM, approved

#6224 refactor(hss/ransomware_protection_policies): refactor ransomware_protection_policies data source code style
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_ransomware_protection_policies_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_ransomware_protection_policies.go
Labels: size/M, refactor, LGTM, approved

#6235 refactor(cpts): refactor cpts task resource to general code style
  huaweicloud/services/acceptance/cpts/resource_huaweicloud_cpts_project_test.go
  huaweicloud/services/acceptance/cpts/resource_huaweicloud_cpts_task_test.go
  huaweicloud/services/cpts/resource_huaweicloud_cpts_task.go
Labels: size/L, refactor, LGTM, approved

#6212 refactor(live): refactor the transcoding resource code style
  docs/resources/live_transcoding.md
  huaweicloud/services/acceptance/live/resource_huaweicloud_live_transcoding_test.go
  huaweicloud/services/live/resource_huaweicloud_live_transcoding.go
Labels: size/L, refactor, LGTM, approved

#6238 feat(GaussDB): add gaussdb opengauss slow logs data source
  docs/data-sources/gaussdb_opengauss_slow_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_slow_logs_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_slow_logs.go
Labels: size/L, feature, LGTM, approved

#6240 feat(cpts): add new datasource to query projects
  docs/data-sources/cpts_projects.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cpts/data_source_huaweicloud_cpts_projects_test.go
  huaweicloud/services/cpts/data_source_huaweicloud_cpts_projects.go
Labels: size/M, feature, LGTM, approved

#6228 refactor(fgs/application): adjust resource function and acceptance test coding
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_application_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_application.go
Labels: size/M, refactor, LGTM, test, approved

#6237 feat(GaussDB): add guassdb opengauss error logs data source
  docs/data-sources/gaussdb_opengauss_error_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_error_logs_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_error_logs.go
Labels: size/M, feature, LGTM, approved

#6233 refactor(fgs/dependency): adjust resource function and acceptance test coding
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_dependency_versions_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_dependency_test.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_dependency_version_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_dependency.go
Labels: size/L, refactor, LGTM, approved

#6242 chore(fgs/function): reorder parameters and supplement the descriptions
  docs/resources/fgs_function.md
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/L, chore, LGTM, approved

#6247 refactor(iotda/amqps): refactor amqps data source code style
  docs/data-sources/iotda_amqps.md
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_amqps.go
Labels: size/M, refactor, LGTM, approved

#6241 docs(cfw): fix errors in the document of resource CFW ips rule mode change
  docs/resources/cfw_ips_rule_mode_change.md
Labels: documentation, size/XS, LGTM, approved

#6249 refactor(iotda): refactor iotda device resource to general code style
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_device_test.go
  huaweicloud/services/iotda/data_source_huaweicloud_iotda_devices.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
Labels: size/L, refactor, LGTM, approved

#6245 feat(GaussDB): add gaussdb opengauss schema resource
  docs/resources/gaussdb_opengauss_schema.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_schema_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_schema.go
Labels: size/L, feature, LGTM, approved

#6189 feat(identitycenter): add identitycenter users attributes
  docs/data-sources/identitycenter_users.md
  huaweicloud/services/acceptance/identitycenter/data_source_huaweicloud_identitycenter_users_test.go
  huaweicloud/services/identitycenter/data_source_huaweicloud_identitycenter_users.go
Labels: size/M, feature, LGTM, approved

#6253 chore(secmaster): add enable force new param
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_alert_rule_simulation.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_approval.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_enable.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_instance_operation.go
  huaweicloud/services/secmaster/resource_huaweicloud_secmaster_playbook_version_action.go
Labels: size/S, chore, LGTM, approved

#6252 feat(GaussDB): add gaussdb opengauss schemas data source
  docs/data-sources/gaussdb_opengauss_schemas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/data_source_huaweicloud_gaussdb_opengauss_schemas_test.go
  huaweicloud/services/gaussdb/data_source_huaweicloud_gaussdb_opengauss_schemas.go
Labels: size/L, feature, LGTM, approved

#6255 feat(GaussDB): add gaussdb opengauss instance upgrade resource
  docs/resources/gaussdb_opengauss_instance_upgrade.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_upgrade_test.go
  huaweicloud/services/gaussdb/resource_huaweicloud_gaussdb_opengauss_instance_upgrade.go
Labels: size/L, feature, LGTM, approved

#6257 refactor(ecs): change hostname to attribute in compute instance
  docs/resources/compute_instance.md
  huaweicloud/services/acceptance/ecs/resource_huaweicloud_compute_instance_test.go
  huaweicloud/services/ecs/resource_huaweicloud_compute_instance.go
Labels: size/S, refactor, LGTM, approved

#6251 refactor(iotda): refactor amqp resource code style
  docs/resources/iotda_amqp.md
  huaweicloud/services/acceptance/iotda/resource_huaweicloud_iotda_amqp_test.go
  huaweicloud/services/iotda/resource_huaweicloud_iotda_amqp.go
Labels: size/M, refactor, feature, LGTM, approved

#6256 fix(iotda): add remove nil operation to device resources
  huaweicloud/services/iotda/resource_huaweicloud_iotda_device.go
Labels: size/XS, bugfix, LGTM, approved
