Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2025-05, with the labels that each got.

#6755 feat(ims/ims_ecs_whole_image): support new attributes
  docs/resources/ims_ecs_whole_image.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_ecs_whole_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_ecs_whole_image.go
Labels: size/L, feature, LGTM, approved

#6739 feat(ims/ims_evs_data_image): support new attributes
  docs/resources/ims_evs_data_image.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_evs_data_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_evs_data_image.go
Labels: size/L, feature, LGTM, approved

#6756 feat(ims/ims_cbr_whole_image): support new attributes
  docs/resources/ims_cbr_whole_image.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_ims_cbr_whole_image_test.go
  huaweicloud/services/ims/resource_huaweicloud_ims_cbr_whole_image.go
Labels: size/L, feature, LGTM, approved

#6760 feat(ims/images_image_copy): support new attributes
  docs/resources/images_image_copy.md
  huaweicloud/services/acceptance/ims/resource_huaweicloud_images_image_copy_test.go
  huaweicloud/services/ims/resource_huaweicloud_images_image_copy.go
Labels: size/L, feature, LGTM, approved

#6763 fix(kafka): change smart connect spec code to optional
  docs/resources/dms_kafka_smart_connect.md
  huaweicloud/services/acceptance/kafka/resource_huaweicloud_dms_kafka_smart_connect_test.go
  huaweicloud/services/kafka/resource_huaweicloud_dms_kafka_smart_connect.go
Labels: size/XS, bugfix, LGTM, approved

#6765 chore(cbh/flavors): modify incorrect API comments of CBH datasourc
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_flavors.go
Labels: size/XS, bugfix, chore, LGTM, approved

#6745 feat(ga): add a new datasource to get list of tags
  docs/data-sources/ga_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ga/data_source_huaweicloud_ga_tags_test.go
  huaweicloud/services/ga/data_source_huaweicloud_ga_tags.go
Labels: size/M, feature, LGTM, approved

#6747 feat(ga): the listener support new attributes
  docs/data-sources/ga_listeners.md
  docs/resources/ga_listener.md
  huaweicloud/services/ga/data_source_huaweicloud_ga_listeners.go
  huaweicloud/services/ga/resource_huaweicloud_ga_listener.go
Labels: size/M, feature, LGTM, approved

#6749 feat(ga): the health check supports new attributes
  docs/data-sources/ga_health_checks.md
  docs/resources/ga_health_check.md
  huaweicloud/services/ga/data_source_huaweicloud_ga_health_checks.go
  huaweicloud/services/ga/resource_huaweicloud_ga_health_check.go
Labels: size/M, feature, LGTM, approved

#6750 feat(ga): the accelerator datasource supports new attributes
  docs/data-sources/ga_accelerators.md
  huaweicloud/services/ga/data_source_huaweicloud_ga_accelerators.go
Labels: size/S, feature, LGTM, approved

#6759 feat(ga): the endpoint group supports new attributes
  docs/data-sources/ga_endpoint_groups.md
  docs/resources/ga_endpoint_group.md
  huaweicloud/services/ga/data_source_huaweicloud_ga_endpoint_groups.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint_group.go
Labels: size/M, feature, LGTM, approved

#6761 feat(ga): the endpoint supports new attributes
  docs/data-sources/ga_endpoints.md
  docs/resources/ga_endpoint.md
  huaweicloud/services/ga/data_source_huaweicloud_ga_endpoints.go
  huaweicloud/services/ga/resource_huaweicloud_ga_endpoint.go
Labels: size/M, feature, LGTM, approved

#6758 feat(cci): add datasource CCI V2 services
  docs/incubating/cciv2_services.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_services_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_services.go
Labels: size/L, feature, LGTM, approved

#6767 fix(sms): fixed sms global endpoint
  huaweicloud/config/endpoints.go
Labels: size/XS, bugfix, LGTM, approved

#6731 feat(lts): add new resource supports log stream index configuration
  docs/resources/lts_stream_index_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_stream_index_configuration_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_stream_index_configuration.go
Labels: size/L, feature, LGTM, approved

#6710 feat(lts/sql_alarm_rule): add new parameters and use 'notification_save_rule' instead of 'notification_rule'
  docs/resources/lts_sql_alarm_rule.md
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_sql_alarm_rule_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_keywords_alarm_rule.go
  huaweicloud/services/lts/resource_huaweicloud_lts_sql_alarm_rule.go
Labels: size/L, feature, LGTM, approved

#6736 feat(lts): add new data source to query keyword alarm rules
  docs/data-sources/lts_keyword_alarm_rules.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_keyword_alarm_rules_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_keyword_alarm_rules.go
Labels: size/L, feature, LGTM, approved

#6742 feat(lts/cce_access): add 'Content-Type' and new parameters and new attributes
  docs/data-sources/lts_cce_accesses.md
  docs/resources/lts_cce_access.md
  huaweicloud/services/acceptance/lts/data_source_huaweicloud_lts_cce_accesses_test.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_cce_access_test.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_cce_accesses.go
  huaweicloud/services/lts/resource_huaweicloud_lts_cce_access.go
Labels: size/XL, feature, LGTM, approved

#6769 feat(cci): add datasource cci v2 secrets
  docs/incubating/cciv2_secrets.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_secrets_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_secrets.go
Labels: size/M, feature, LGTM, approved

#6768 feat(cbh): add data source to query tags
  docs/data-sources/cbh_instance_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbh/data_source_huaweicloud_cbh_instance_tags_test.go
  huaweicloud/services/cbh/data_source_huaweicloud_cbh_instance_tags.go
Labels: size/M, feature, LGTM, approved

#6771 fix(eip): fix the incorrect refresh logic
  huaweicloud/services/eip/resource_huaweicloud_vpc_eip.go
Labels: size/XS, bugfix, LGTM, approved

#6775 feat(cbr): add locked param to vault resource
  docs/resources/cbr_vault.md
  huaweicloud/services/acceptance/cbr/resource_huaweicloud_cbr_vault_test.go
  huaweicloud/services/cbr/resource_huaweicloud_cbr_vault.go
Labels: size/S, bugfix, feature, LGTM, approved

#6773 feat(apig/plugin): add enumeration values for the type parameter
  docs/resources/apig_plugin.md
Labels: size/XS, feature, LGTM, approved

#6784 feat(CNAD): add new datasource to query alarm notifications
  docs/data-sources/cnad_advanced_alarm_notifications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cnad/data_source_huaweicloud_cnad_advanced_alarm_notifications_test.go
  huaweicloud/services/cnad/data_source_huaweicloud_cnad_advanced_alarm_notifications.go
Labels: size/M, feature, LGTM, approved

#6780 feat(CNAD): add new resource to manage alarm notification
  docs/resources/cnad_advanced_alarm_notification.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_alarm_notification_test.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_alarm_notification.go
Labels: size/L, feature, LGTM, approved

#6778 feat(cci): add datasource CCI v2 config maps
  docs/incubating/cciv2_config_maps.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_config_maps_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_config_maps.go
Labels: size/M, feature, LGTM, approved

#6777 chore(golangsdk): upgrade the sdk reference
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/channels/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/flavors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/flavors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/elb/v3/flavors/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/results.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v1/jobs/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v5/cloudvolumes/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v5/cloudvolumes/resullts.go
  vendor/github.com/chnsz/golangsdk/openstack/evs/v5/cloudvolumes/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v1/imagecopy/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v1/imagecopy/results.go
  vendor/github.com/chnsz/golangsdk/openstack/ims/v1/imagecopy/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/dnats/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/dnats/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/dnats/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/snats/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/snats/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v2/snats/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/dnats/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/dnats/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/dnats/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/gateways/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/gateways/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/gateways/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/snats/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/snats/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/snats/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/transitips/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/transitips/results.go
  vendor/github.com/chnsz/golangsdk/openstack/nat/v3/transitips/urls.go
  vendor/modules.txt
Labels: size/XL, chore, dependencies, LGTM, approved

#6508 feat(cci): add datasource cci v2 networks
  docs/incubating/cciv2_networks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_networks_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_networks.go
Labels: size/L, feature, LGTM, approved

#6782 feat(evs/evsv3_snapshot): support `evsv3_snapshot` resource
  docs/resources/evsv3_snapshot.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evsv3_snapshot_test.go
  huaweicloud/services/evs/resource_huaweicloud_evsv3_snapshot.go
Labels: size/L, feature, LGTM, approved

#6791 test(apig): new acceptance tests supported for the plugin resource
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_plugin_test.go
Labels: size/L, LGTM, test, approved

#6786 feat(AAD): add a data source to get list of aad instances
  docs/data-sources/aad_instances.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_instances.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_instances_test.go
  huaweicloud/services/acceptance/acceptance.go
Labels: size/L, feature, LGTM, approved

#6795 feat(AAD): add a data source to get list of aad instances
  docs/data-sources/aad_instances.md
  huaweicloud/services/aad/data_source_huaweicloud_aad_instances.go
Labels: size/XS, feature, LGTM, approved

#6772 feat(apig): add new data source to get availability zones
  docs/data-sources/apig_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_availability_zones_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_availability_zones.go
Labels: size/M, feature, LGTM, approved

#6794 fix(fgs): three params are missing in metadata update logic after function created
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_function_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/XS, bugfix, LGTM, approved

#6781 feat(COC): add coc applications data source
  docs/data-sources/coc_applications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_applications_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_applications.go
Labels: size/L, feature, LGTM, approved

#6790 feat(cbc): add a new resource to unsubscribe prepaid resources
  docs/resources/cbc_resources_unsubscribe.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/cbc/resource_huaweicloud_cbc_resources_unsubscribe_test.go
  huaweicloud/services/cbc/resource_huaweicloud_cbc_resources_unsubscribe.go
Labels: size/L, feature, LGTM, approved

#6798 fix(logger): the content type match rule should be prefix
  huaweicloud/config/logger.go
Labels: size/XS, bugfix, LGTM, approved

#6770 refactor(RDS): fix rds instance api comments
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/XS, refactor, LGTM, approved

#6802 feat(RDS): add rds primary instance dr capability resource
  docs/resources/rds_primary_instance_dr_capability.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_primary_instance_dr_capability_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_primary_instance_dr_capability.go
Labels: size/L, feature, LGTM, approved

#6793 feat(sfsturbo): the data task resource supports new API
  docs/resources/sfs_turbo_data_task.md
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_data_task_test.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_data_task.go
Labels: size/S, feature, LGTM, approved

#6799 feat(AAD): support new resource to manage black white list
  docs/resources/aad_black_white_list.md
  huaweicloud/provider.go
  huaweicloud/services/aad/resource_huaweicloud_aad_black_white_list.go
  huaweicloud/services/acceptance/aad/resource_huaweicloud_aad_black_white_list_test.go
  huaweicloud/services/acceptance/acceptance.go
Labels: size/L, feature, LGTM, approved

#6779 feat(apig): add new data source to query tags of all apis
  docs/data-sources/apig_apis_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_apis_tags_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_apis_tags.go
Labels: size/M, feature, LGTM, approved

#6419 test(dns/line_groups): standardize method names and improve acceptance test
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_line_groups_test.go
Labels: size/M, LGTM, test, approved

#6466 refactor(dns/resolver_rule): adjust the code and acceptance test
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dns_resolver_rule_test.go
  huaweicloud/services/dns/resource_huaweicloud_dns_resolver_rule.go
Labels: size/L, size/M, refactor, LGTM, approved

#6811 feat: add account to owners
  OWNERS
Labels: size/XS, feature, LGTM, approved

#6766 feat(lts): add new one-time resource to operate log collection switch
  docs/resources/lts_log_collection_switch.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_log_collection_switch_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_log_collection_switch.go
Labels: size/M, feature, LGTM, approved

#6812 feat: remove account from owners
  OWNERS
Labels: size/XS, feature, LGTM, approved

#6810 chore(diff): refactor the suppress diff function for the type map
  huaweicloud/utils/diff_suppress_funcs.go
Labels: size/S, chore, LGTM, approved

#6814 docs(README): fix lint issue
  README.md
Labels: documentation, size/XS, LGTM, approved

#6796 feat(sfsturbo): add cold data eviction resource
  docs/resources/sfs_turbo_cold_data_eviction.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/sfsturbo/resource_huaweicloud_sfs_turbo_cold_data_eviction_test.go
  huaweicloud/services/sfsturbo/resource_huaweicloud_sfs_turbo_cold_data_eviction.go
Labels: size/M, feature, LGTM, approved

#6792 feat(COC): add coc scripts data source
  docs/data-sources/coc_scripts.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_scripts_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_scripts.go
Labels: size/L, feature, LGTM, approved

#6807 feat(AAD): support new datasource to query black white lists
  docs/data-sources/aad_black_white_lists.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_black_white_lists.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_black_white_lists_test.go
Labels: size/M, feature, LGTM, approved

#6787 feat(VPN): support to get gateway availability zones
  docs/data-sources/vpnv51_gateway_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpnv51_gateway_availability_zones_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpnv51_gateway_availability_zones.go
Labels: size/M, feature, LGTM, approved

#6789 feat(cci): add datasource CCI v2 deployments
  docs/incubating/cciv2_deployments.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_deployments_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_deployments.go
Labels: size/L, feature, LGTM, approved

#6774 feat(VPN): support server management
  docs/resources/vpn_server.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_server_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_connection.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_customer_gateway.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_server.go
Labels: size/XL, feature, LGTM, approved

#6806 feat(DEW): add a resource to manage kms alias
  docs/resources/kms_alias.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_alias_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_alias.go
Labels: size/L, feature, LGTM, approved

#6823 feat(evs/evsv3_volumes): support `evsv3_volume` data source
  docs/data-sources/evsv3_volumes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evsv3_volumes_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evsv3_volumes.go
Labels: size/L, feature, LGTM, approved

#6808 feat(apig): add a new data source to query apis associated with orchestration rule
  docs/data-sources/apig_orchestration_rule_associated_apis.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_orchestration_rule_associated_apis_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_orchestration_rule_associated_apis.go
Labels: size/L, feature, LGTM, approved

#6816 chore(cci): fixed cci v2 pod markdown and test case
  docs/incubating/cciv2_pod.md
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_pod_test.go
Labels: size/M, chore, LGTM, approved

#6809 feat(sfsturbo): add data source to get the list of SFS Turbo tags
  docs/data-sources/sfs_turbo_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfsturbo/data_source_huaweicloud_sfs_turbo_tags_test.go
  huaweicloud/services/sfsturbo/data_source_huaweicloud_sfs_turbo_tags.go
Labels: size/M, feature, LGTM, approved

#6829 feat(AAD): support new resource to update instance specification
  docs/resources/aad_change_specification.md
  huaweicloud/provider.go
  huaweicloud/services/aad/resource_huaweicloud_aad_change_specification.go
  huaweicloud/services/acceptance/aad/resource_huaweicloud_aad_change_specification_test.go
Labels: size/L, feature, LGTM, approved

#6817 feat(sfsturbo): add data source to get the usage of the directory
  docs/data-sources/sfs_turbo_dir_usage.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfsturbo/data_source_huaweicloud_sfs_turbo_dir_usage_test.go
  huaweicloud/services/sfsturbo/data_source_huaweicloud_sfs_turbo_dir_usage.go
Labels: size/M, feature, LGTM, approved

#6797 feat(VPN): support to get connection logs
  docs/data-sources/vpn_connection_logs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_connection_logs_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_connection_logs.go
Labels: size/L, feature, LGTM, approved

#6831 feat(VPN): support to disconnect P2C gateway connection
  docs/resources/vpn_p2c_gateway_connection_disconnect.md
  docs/resources/vpn_server.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/resource_huaweicloud_vpn_p2c_gateway_connection_disconnect_test.go
  huaweicloud/services/vpn/resource_huaweicloud_vpn_p2c_gateway_connection_disconnect.go
Labels: size/M, feature, LGTM, approved

#6818 feat(COC): add coc script orders data source
  docs/data-sources/coc_script_orders.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_script_orders_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_script_orders.go
Labels: size/L, feature, LGTM, approved

#6821 feat(COC): add coc script order statistics data source
  docs/data-sources/coc_script_order_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_script_order_statistics_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_script_order_statistics.go
Labels: size/M, feature, LGTM, approved

#6832 feat(DEW): add a resource to manage kms alias associate
  docs/resources/kms_alias_associate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dew/resource_huaweicloud_kms_alias_associate_test.go
  huaweicloud/services/dew/resource_huaweicloud_kms_alias_associate.go
Labels: size/L, feature, LGTM, approved

#6825 feat(COC): add coc script order batches data source
  docs/data-sources/coc_script_order_batches.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_script_order_batches_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_script_order_batches.go
Labels: size/M, feature, LGTM, approved

#6835 docs(cci): fixed cci v2 network markdown
  docs/incubating/cciv2_network.md
Labels: documentation, size/XS, LGTM, approved

#6827 feat(cci): add resource cci poolbinding
  docs/incubating/cci_pool_binding.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cci_pool_binding_test.go
  huaweicloud/services/cci/resource_huaweicloud_cci_pool_binding.go
Labels: size/L, feature, LGTM, approved

#6838 docs(drs): fix example usage for job
  docs/resources/drs_job.md
Labels: documentation, size/XS, LGTM, approved

#6833 feat(evs/evsv3_snapshots): support `evsv3_snapshots` data source
  docs/data-sources/evsv3_snapshots.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/data_source_huaweicloud_evsv3_snapshots_test.go
  huaweicloud/services/evs/data_source_huaweicloud_evsv3_snapshots.go
Labels: size/L, feature, LGTM, approved

#6840 feat(AAD): new datasource to query web protection policies
  docs/data-sources/aad_web_protection_policies.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_web_protection_policies.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_web_protection_policies_test.go
  huaweicloud/services/acceptance/acceptance.go
Labels: size/M, feature, LGTM, approved

#6842 feat(mrs/cluster): add auto_renew for cluster and prepaid parameter for node groups
  docs/resources/mapreduce_cluster.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/mrs/resource_huaweicloud_mapreduce_cluster_test.go
  huaweicloud/services/mrs/resource_huaweicloud_mapreduce_cluster.go
  vendor/github.com/chnsz/golangsdk/openstack/mrs/v2/clusters/requests.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#6843 fix(evs/evsv3_volumes): fix the types of some attribute fields
  huaweicloud/services/evs/data_source_huaweicloud_evsv3_volumes.go
Labels: size/XS, bugfix, LGTM, approved

#6845 fix(AAD): add field enable_force_new
  huaweicloud/services/aad/resource_huaweicloud_aad_change_specification.go
Labels: size/XS, bugfix, LGTM, approved

#6844 feat(AAD): new resource to update domain security protection
  docs/resources/aad_domain_security_protection.md
  huaweicloud/provider.go
  huaweicloud/services/aad/resource_huaweicloud_aad_domain_security_protection.go
  huaweicloud/services/acceptance/aad/resource_huaweicloud_aad_domain_security_protection_test.go
  huaweicloud/services/acceptance/acceptance.go
Labels: size/M, feature, LGTM, approved

#6839 feat(dew): add a data source to get list of user quotas.
  docs/data-sources/kms_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kms_quotas_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_quotas.go
Labels: size/M, feature, LGTM, approved

#6849 feat(modelarts): resource pool query result supplement the name attribute
  docs/data-sources/modelartsv2_resource_pools.md
  huaweicloud/services/modelarts/data_source_huaweicloud_modelartsv2_resource_pools.go
Labels: size/XS, feature, LGTM, approved

#6834 feat(RDS): add a data base to query configuration histories
  docs/data-sources/rds_configuration_histories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_configuration_histories_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_configuration_histories.go
Labels: size/L, feature, LGTM, approved

#6851 fix(RDS): fix rds configuration histories resource
  docs/data-sources/rds_configuration_histories.md
  huaweicloud/services/rds/data_source_huaweicloud_rds_configuration_histories.go
Labels: size/XS, bugfix, LGTM, approved

#6841 feat(COC): add coc operation script order resource
  docs/resources/coc_script_order_operation.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_script_order_operation_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_script_order_operation.go
Labels: size/M, feature, LGTM, approved

#6813 feat(cbr): add new datasource to query vaults by tags
  docs/data-sources/cbr_vaults_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cbr/data_source_huaweicloud_cbr_vaults_by_tags_test.go
  huaweicloud/services/cbr/data_source_huaweicloud_cbr_vaults_by_tags.go
Labels: size/XL, feature, LGTM, approved

#6824 feat(aad): add a resource to manage domain
  docs/resources/aad_domain.md
  huaweicloud/provider.go
  huaweicloud/services/aad/resource_huaweicloud_aad_domain.go
  huaweicloud/services/acceptance/aad/resource_huaweicloud_aad_domain_test.go
  huaweicloud/services/acceptance/acceptance.go
Labels: size/L, feature, LGTM, approved

#6805 feat(RDS): add rds dr instance dr capability resource
  docs/resources/rds_dr_instance_dr_capability.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_dr_instance_dr_capability_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_dr_instance_dr_capability.go
Labels: size/L, feature, LGTM, approved

#6850 feat(modelarts): supports new data source to query nodes under specified node pool
  docs/data-sources/modelartsv2_node_pool_nodes.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/modelarts/data_source_huaweicloud_modelartsv2_node_pool_nodes_test.go
  huaweicloud/services/modelarts/data_source_huaweicloud_modelartsv2_node_pool_nodes.go
Labels: size/L, feature, LGTM, approved

#6837 feat(RDS): add rds dr instance to primary resource
  docs/resources/rds_dr_instance_to_primary.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_dr_instance_to_primary_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_dr_instance_to_primary.go
Labels: size/M, feature, LGTM, approved

#6820 feat(apig): add new one tine resource to check api definition
  docs/resources/apig_api_check.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_api_check_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_api_check.go
Labels: size/L, feature, LGTM, approved

#6656 feat(cci): add resource CCI V2 Horizontal Pod Autoscaler
  docs/incubating/cciv2_hpa.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/resource_huaweicloud_cciv2_hpa_test.go
  huaweicloud/services/cci/resource_huaweicloud_cciv2_hpa.go
Labels: size/XL, feature, LGTM, approved

#6856 fix(RDS): fix rds instance parameters histories data source
  docs/data-sources/rds_instance_parameters_histories.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_instance_parameters_histories_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_instance_parameters_histories.go
Labels: size/S, bugfix, LGTM, approved

#6858 feat(SMS): add new data source to get agent configs
  docs/data-sources/sms_configs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sms/data_source_huaweicloud_sms_configs_test.go
  huaweicloud/services/sms/data_source_huaweicloud_sms_configs.go
Labels: size/M, feature, LGTM, approved

#6846 feat(RDS): add a data source to query tasks
  docs/data-sources/rds_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_tasks_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_tasks.go
Labels: size/L, feature, LGTM, approved

#6804 feat(cci): add datasource cci v2 pods
  docs/incubating/cciv2_pods.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cci/data_source_huaweicloud_cciv2_pods_test.go
  huaweicloud/services/cci/data_source_huaweicloud_cciv2_pods.go
Labels: size/XL, feature, LGTM, approved

#6857 feat(dew): add a datasource to get public key.
  docs/data-sources/kms_public_key.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dew/data_source_huaweicloud_kms_public_key_test.go
  huaweicloud/services/dew/data_source_huaweicloud_kms_public_key.go
Labels: size/M, feature, LGTM, approved

#6872 fix(SMS): fix endpoint
  huaweicloud/config/config.go
  huaweicloud/config/endpoints.go
Labels: size/XS, bugfix, LGTM, approved

#6864 fix(SMS): fix some issues of agent configs file names
  docs/data-sources/sms_agent_configs.md
  huaweicloud/services/acceptance/sms/data_source_huaweicloud_sms_agent_configs_test.go
  huaweicloud/services/sms/data_source_huaweicloud_sms_agent_configs.go
Labels: size/XS, bugfix, LGTM, approved

#6863 feat(SMS): add new data source to get migration projects
  docs/data-sources/sms_migration_projects.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sms/data_source_huaweicloud_sms_migration_projects_test.go
  huaweicloud/services/sms/data_source_huaweicloud_sms_migration_projects.go
Labels: size/M, feature, LGTM, approved

#6865 feat(RDS): rds instance support modify az
  docs/resources/rds_instance.md
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_available_flavors_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_backup_files_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_error_log_link_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_instance_parameters_histories_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_accounts_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_databases_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_plugin_parameter_value_range_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_plugins_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_roles_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_tasks_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_backup_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_binlog_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_account_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_database_privilege_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_database_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_hba_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_plugin_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_read_replica_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sqlserver_database_copy_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance.go
Labels: size/M, feature, LGTM, approved

#6852 fix(apig/channel): fix some issues of member_group and member fields
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_channel_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_channel.go
Labels: size/S, bugfix, LGTM, approved

#6882 feat(RDS): add a data source to query diagnosis
  docs/data-sources/rds_diagnosis.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_diagnosis_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_diagnosis.go
Labels: size/M, feature, LGTM, approved

#6886 fix(asm): update resource API URL
  huaweicloud/services/acceptance/asm/resource_huaweicloud_asm_mesh_test.go
  huaweicloud/services/asm/resource_huaweicloud_asm_mesh.go
Labels: size/XS, bugfix, LGTM, approved

#6887 fix(CCE): fix cce cluster and partition
  docs/resources/cce_cluster.md
  docs/resources/cce_partition.md
  huaweicloud/services/cce/resource_huaweicloud_cce_cluster.go
  huaweicloud/services/cce/resource_huaweicloud_cce_partition.go
Labels: size/S, bugfix, LGTM, approved

#6888 fix(SMS): fix SMS client request
  docs/data-sources/sms_migration_projects.md
  huaweicloud/services/acceptance/sms/data_source_huaweicloud_sms_migration_projects_test.go
  huaweicloud/services/sms/data_source_huaweicloud_sms_agent_configs.go
  huaweicloud/services/sms/data_source_huaweicloud_sms_migration_projects.go
Labels: size/XS, bugfix, LGTM, approved

#6885 feat(apig): add new data source to query instance associated ssl certificates
  docs/data-sources/apig_instance_associated_ssl_certificates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/data_source_huaweicloud_apig_instance_associated_ssl_certificates_test.go
  huaweicloud/services/apig/data_source_huaweicloud_apig_instance_associated_ssl_certificates.go
Labels: size/L, feature, LGTM, approved

#6890 Update CHANGELOG for 1.75.0
  CHANGELOG.md
Labels: size/XS, approved

#6881 feat(RDS): add a data source to query diagnosis instances
  docs/data-sources/rds_diagnosis_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_diagnosis_instances_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_diagnosis_instances.go
Labels: size/M, feature, LGTM, approved

#6894 feat(RDS): fix rds lts config resource
  docs/resources/rds_lts_config.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_available_flavors_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_backup_files_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_error_log_link_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_instance_parameters_histories_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_accounts_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_databases_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_plugin_parameter_value_range_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_plugins_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_pg_roles_test.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_tasks_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_backup_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_lts_config_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_mysql_binlog_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_account_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_database_privilege_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_database_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_hba_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_pg_plugin_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_read_replica_instance_test.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_sqlserver_database_copy_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_lts_config.go
Labels: size/M, feature, LGTM, approved

#6896 docs(example): supports new exmaple for APIG plugin
  examples/apig/proxy-cache-plugin/README.md
  examples/apig/proxy-cache-plugin/main.tf
  examples/apig/proxy-cache-plugin/variables.tf
Labels: size/M, documentation, LGTM, approved

#6897 feat(fgs): add new resource to enable LTS log
  docs/resources/fgs_lts_log_enable.md
  huaweicloud/provider.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_lts_log_enable.go
Labels: size/M, feature, LGTM, approved
