Repository huaweicloud/terraform-provider-huaweicloud, pull requests merged in 2025-08, with the labels that each got.

#7392 feat(CodeArts/Pipeline): support to get plugins
  docs/data-sources/codearts_pipeline_plugins.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_plugins_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_plugins.go
Labels: size/L, feature, LGTM, approved

#7412 feat(hss): support `hss_antivirus_create_virus_scan_task` resource
  docs/resources/hss_antivirus_create_virus_scan_task.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_antivirus_create_virus_scan_task_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_antivirus_create_virus_scan_task.go
Labels: size/M, feature, LGTM, approved

#7262 feat(workspace): add one time resource desktop notification
  docs/resources/workspace_desktop_notification.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_desktop_notification_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_desktop_notification.go
Labels: size/L, size/M, feature, LGTM, approved

#7308 feat(workspace): add new data source for query desktop sysprep
  docs/data-sources/workspace_desktop_sysprep.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_desktop_sysprep_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_desktop_sysprep.go
Labels: size/M, feature, LGTM, approved

#7415 docs(example/workspace): add new best practice to manage policy group
  examples/workspace/app/policy_group/README.md
  examples/workspace/app/policy_group/main.tf
  examples/workspace/app/policy_group/providers.tf
  examples/workspace/app/policy_group/terraform.tfvars
  examples/workspace/app/policy_group/variables.tf
Labels: size/M, documentation, LGTM, approved

#7393 refactor(ecs/userdata): refactor best practice for creating instance with userdata
  examples/ecs/instance-with-userdata/README.md
  examples/ecs/instance-with-userdata/main.tf
  examples/ecs/instance-with-userdata/providers.tf
  examples/ecs/instance-with-userdata/terraform.tfvars
  examples/ecs/instance-with-userdata/variables.tf
  examples/ecs/userdata/README.md
  examples/ecs/userdata/main.tf
Labels: size/L, refactor, LGTM, approved

#6737 feat(eps): add new resource to operate enterprise project
  docs/resources/enterprise_project_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eps/resource_huaweicloud_enterprise_project_action_test.go
  huaweicloud/services/eps/resource_huaweicloud_enterprise_project_action.go
Labels: size/M, feature, LGTM, approved

#7421 docs(example/workspace): add new best practice to manage scaling policy
  examples/workspace/app/policy_group_scaling_policy/README.md
  examples/workspace/app/policy_group_scaling_policy/main.tf
  examples/workspace/app/policy_group_scaling_policy/providers.tf
  examples/workspace/app/policy_group_scaling_policy/terraform.tfvars
  examples/workspace/app/policy_group_scaling_policy/variables.tf
Labels: size/L, documentation, LGTM, approved

#7399 feat(workspace/app): add new data source to query HDA latest versions
  docs/data-sources/workspace_app_hda_latest_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_hda_latest_versions_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_hda_latest_versions.go
Labels: size/M, feature, LGTM, approved

#7422 feat(workspace/app): add new resource to manage policy template
  docs/resources/workspace_app_policy_template.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_policy_template_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_policy_template.go
Labels: size/XL, feature, LGTM, approved

#7413 feat(CodeArts/Pipeline): support basic plugin management
  docs/resources/codearts_pipeline_basic_plugin.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_basic_plugin_test.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_basic_plugin.go
Labels: size/L, feature, LGTM, approved

#7424 feat(CodeArts/Pipeline): support to get plugin metrics
  docs/data-sources/codearts_pipeline_plugin_metrics.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_plugin_metrics_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_plugin_metrics.go
Labels: size/M, feature, LGTM, approved

#7391 feat(hss): support `hss_container_kubernetes_cluster_daemonset` resource
  docs/resources/hss_container_kubernetes_cluster_daemonset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_container_kubernetes_cluster_daemonset_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_container_kubernetes_cluster_daemonset.go
Labels: size/L, feature, LGTM, approved

#7430 feat(hss): add resource to switch dynamic port honeypot policy of a server
  docs/resources/hss_switch_honeypot_port_policy.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_switch_honeypot_port_policy_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_switch_honeypot_port_policy.go
Labels: size/M, feature, LGTM, approved

#7431 feat(hss): support `hss_container_sync_cluster_information` resource
  docs/resources/hss_container_sync_cluster_information.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_container_sync_cluster_information_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_container_sync_cluster_information.go
Labels: size/M, feature, LGTM, approved

#7403 feat(EVS): add resource to operate evs v5 snapshot
  docs/resources/evsv5_snapshot.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/evs/resource_huaweicloud_evsv5_snapshot_test.go
  huaweicloud/services/evs/resource_huaweicloud_evsv5_snapshot.go
Labels: size/L, feature, LGTM, approved

#7425 refactor(ecs/associate_eip): adjust best practice for instance associate with eip
  examples/ecs/associated-eip/README.md
  examples/ecs/associated-eip/main.tf
  examples/ecs/instance-associate-eip/README.md
  examples/ecs/instance-associate-eip/main.tf
  examples/ecs/instance-associate-eip/providers.tf
  examples/ecs/instance-associate-eip/terraform.tfvars
  examples/ecs/instance-associate-eip/variables.tf
Labels: size/L, refactor, LGTM, approved

#7428 feat(lts): add hidden parameter cloud_project_id
  huaweicloud/services/acceptance/lts/resource_huaweicloud_lts_transfer_test.go
  huaweicloud/services/lts/resource_huaweicloud_lts_transfer.go
Labels: size/XS, feature, LGTM, safe to test, approved

#7433 feat(CodeArts/Pipeline): support rule management
  docs/data-sources/codearts_pipeline_rules.md
  docs/resources/codearts_pipeline_rule.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_plugins_test.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_rules_test.go
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_rule_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_plugin_metrics.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_rules.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_rule.go
Labels: size/XL, feature, LGTM, approved

#7443 fix(GeminiDB): remove geminidb validation func
  huaweicloud/services/geminidb/resource_huaweicloud_gaussdb_cassandra_instance.go
  huaweicloud/services/geminidb/resource_huaweicloud_gaussdb_influx_instance.go
  huaweicloud/services/geminidb/resource_huaweicloud_gaussdb_mongo_instance.go
  huaweicloud/services/geminidb/resource_huaweicloud_gaussdb_redis_instance.go
Labels: size/XS, bugfix, LGTM, approved

#7435 fix(fgs/function): LTS log switch parameter supports omit feature
  docs/resources/fgs_function.md
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/utils/state_management.go
Labels: size/M, bugfix, feature, LGTM, approved

#7449 feat(lts): add hidden parameter cloud_project_id
  huaweicloud/services/lts/resource_huaweicloud_lts_transfer.go
Labels: size/XS, feature, LGTM, approved

#7457 fix(CSS): fix indentation
  huaweicloud/services/css/resource_huaweicloud_css_cluster.go
Labels: size/XS, bugfix, LGTM, approved

#7458 fix(example): fix the incorrect README file title
  examples/apig/api-custom-authorizer-with-functiongraph/README.md
  examples/apig/proxy-cache-plugin/README.md
  examples/as/configuration-basic/README.md
  examples/coc/script-order-operation/README.md
  examples/coc/script/README.md
  examples/coc/script_execute/README.md
  examples/ecs/basic/README.md
  examples/ecs/instance-associate-eip/README.md
  examples/ecs/instance-with-userdata/README.md
  examples/rds/mysql-instance-associate-eip/README.md
  examples/rds/mysql-single-instance/README.md
  examples/rds/postgresql-ha-instance/README.md
  examples/rds/read-replica-instance/README.md
  examples/rds/sqlserver-single-instance/README.md
  examples/secmaster/playbook/custom-rule-and-trigger-by-event/README.md
  examples/sms/migration-task/README.md
  examples/vpc/basic/README.md
  examples/vpc/peering/README.md
  examples/vpc/security_group/README.md
  examples/vpc/vip/README.md
  examples/waf/dedicated-domain/README.md
  examples/waf/dedicated-instance/README.md
  examples/workspace/app/policy_group/README.md
  examples/workspace/app/policy_group_scaling_policy/README.md
  examples/workspace/app/server_group/README.md
  examples/workspace/desktop/basic/README.md
Labels: size/S, bugfix, LGTM, approved

#7439 feat(hss): support `hss_container_kubernetes_endpoints` and `hss_container_kubernetes_endpoint_detail` data sources
  docs/data-sources/hss_container_kubernetes_endpoint_detail.md
  docs/data-sources/hss_container_kubernetes_endpoints.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_container_kubernetes_endpoint_detail_test.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_container_kubernetes_endpoints_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_container_kubernetes_endpoint_detail.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_container_kubernetes_endpoints.go
Labels: size/L, feature, LGTM, approved

#7434 feat(hss): add new datasource to get the list of honeypot policies
  docs/data-sources/hss_honeypot_port_policies.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_honeypot_port_policies_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_honeypot_port_policies.go
Labels: size/M, feature, LGTM, approved

#7440 feat(hss): add new datasource to get the list of common login IPs
  docs/data-sources/hss_setting_login_common_ips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_setting_login_common_ips_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_setting_login_common_ips.go
Labels: size/M, feature, LGTM, approved

#7451 docs(obs/bucket): supports new best practice for encryption bucket
  examples/obs/bucket-with-encryption/README.md
  examples/obs/bucket-with-encryption/main.tf
  examples/obs/bucket-with-encryption/providers.tf
  examples/obs/bucket-with-encryption/terraform.tfvars
  examples/obs/bucket-with-encryption/variables.tf
Labels: size/M, documentation, LGTM, approved

#7456 feat(hss): add new datasource to get the list of common login locations
  docs/data-sources/hss_setting_login_common_locations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_setting_login_common_locations_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_setting_login_common_locations.go
Labels: size/M, feature, LGTM, approved

#7446 feat(CodeArts/Pipeline): support update and delete service endpoint
  docs/resources/codearts_pipeline_service_endpoint.md
  huaweicloud/services/acceptance/codeartspipeline/resource_huaweicloud_codearts_pipeline_service_endpoint_test.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_micro_service.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline_service_endpoint.go
Labels: size/M, feature, LGTM, approved

#7460 docs(obs/bucket): supports new best practices for object upload
  examples/obs/basic/README.md
  examples/obs/basic/hello.txt
  examples/obs/basic/main.tf
  examples/obs/object-upload-with-content/README.md
  examples/obs/object-upload-with-content/main.tf
  examples/obs/object-upload-with-content/providers.tf
  examples/obs/object-upload-with-content/terraform.tfvars
  examples/obs/object-upload-with-content/variables.tf
  examples/obs/object-upload-with-encryption/README.md
  examples/obs/object-upload-with-encryption/main.tf
  examples/obs/object-upload-with-encryption/providers.tf
  examples/obs/object-upload-with-encryption/terraform.tfvars
  examples/obs/object-upload-with-encryption/variables.tf
  examples/obs/object-upload-with-source/README.md
  examples/obs/object-upload-with-source/main.tf
  examples/obs/object-upload-with-source/providers.tf
  examples/obs/object-upload-with-source/terraform.tfvars
  examples/obs/object-upload-with-source/variables.tf
Labels: size/XL, size/L, documentation, LGTM, approved

#7464 docs(example/obs): refactor the website best practice
  examples/obs/bucket-with-website/README.md
  examples/obs/bucket-with-website/main.tf
  examples/obs/bucket-with-website/providers.tf
  examples/obs/bucket-with-website/terraform.tfvars
  examples/obs/bucket-with-website/variables.tf
  examples/obs/website/README.md
  examples/obs/website/error.html
  examples/obs/website/index.html
  examples/obs/website/main.tf
Labels: size/L, documentation, LGTM, approved

#7454 chore: fix(workspace/app): change read api and fix unable to ignore tags using ignore_changes
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_image_servers_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_image_server_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_image_server.go
Labels: size/M, bugfix, chore, LGTM, approved

#7469 chore: add new ignore word to doc lint
  .github/workflows/doc-lint.yml
Labels: size/XS, chore, LGTM, approved

#7442 feat(sfsturbo): add data source to get shares type and quota
  docs/data-sources/sfs_turbo_share_types.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/sfsturbo/data_source_huaweicloud_sfs_turbo_share_types_test.go
  huaweicloud/services/sfsturbo/data_source_huaweicloud_sfs_turbo_share_types.go
Labels: size/L, feature, LGTM, approved

#7471 docs(example/oms): refactor the migrate task best practice
  examples/oms/migrate-objects-by-task/README.md
  examples/oms/migrate-objects-by-task/main.tf
  examples/oms/migrate-objects-by-task/providers.tf
  examples/oms/migrate-objects-by-task/terraform.tfvars
  examples/oms/migrate-objects-by-task/variables.tf
  examples/oms/migration-object/README.md
  examples/oms/migration-object/main.tf
  examples/oms/migration-object/variables.tf
Labels: size/L, documentation, LGTM, approved

#7467 feat(secmaster): new datasource to query catalogues
  .github/workflows/doc-lint.yml
  .golangci.yml
  docs/data-sources/secmaster_catalogues.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_catalogues_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_catalogues.go
Labels: size/L, feature, LGTM, approved

#7466 feat(vpcep): support policy_document for interface type vpcep
  docs/resources/vpcep_endpoint.md
  go.mod
  go.sum
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v2/alarmrule/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v2/alarmrule/results.go
  vendor/github.com/chnsz/golangsdk/openstack/cloudeyeservice/v2/alarmrule/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/availablezones/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/availablezones/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/availablezones/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/flavors/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/flavors/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/flavors/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/instances/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/maintainwindows/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/maintainwindows/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/maintainwindows/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/tags/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/tags/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/tags/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/whitelists/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/whitelists/results.go
  vendor/github.com/chnsz/golangsdk/openstack/dcs/v2/whitelists/urls.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/results.go
  vendor/modules.txt
Labels: size/XL, size/S, feature, dependencies, LGTM, approved

#7472 feat(sfsturbo): add data source to get turbo mounted IP addresses
  docs/data-sources/sfs_turbo_mounted_ips.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/sfsturbo/data_source_huaweicloud_sfs_turbo_mounted_ips_test.go
  huaweicloud/services/sfsturbo/data_source_huaweicloud_sfs_turbo_mounted_ips.go
Labels: size/M, feature, LGTM, approved

#7477 Update CHANGELOG for 1.77.3
  CHANGELOG.md
Labels: size/XS, approved

#7476 feat(secmaster): support `secmaster_component_templates` data source
  docs/data-sources/secmaster_component_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_component_templates_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_component_templates.go
Labels: size/L, feature, LGTM, approved

#7474 feat(secmaster): new datasource to query vpc endpoint services
  docs/data-sources/secmaster_vpc_endpoint_services.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_vpc_endpoint_services_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_vpc_endpoint_services.go
Labels: size/M, feature, LGTM, approved

#7475 fix(DC): fix dc virtual interface resource
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/M, bugfix, LGTM, approved

#7455 feat(workspace): add new data source for query application catalogs
  docs/data-sources/workspace_application_catalogs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_application_catalogs_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_application_catalogs.go
Labels: size/M, feature, LGTM, approved

#7484 refactor(workspace): replace the history APIs and adjust the acceptance test for APP server
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_server_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_server.go
Labels: size/M, refactor, LGTM, test, approved

#7487 feat(DC): add dc global gateway route table resource
  docs/resources/dc_global_gateway_route_table.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_connect_gateway_test.go
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_global_gateway_route_table_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_global_gateway_route_table.go
Labels: size/L, feature, LGTM, approved

#7448 feat(workspace): add new data source for query workspace user infos
  docs/data-sources/workspace_users.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_users_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_users.go
Labels: size/L, size/XS, feature, LGTM, approved

#7489 feat(workspace/app): add new resource to attach application to image instance
  docs/resources/workspace_app_application_batch_attach.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_application_batch_attach_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_application_batch_attach.go
Labels: size/L, feature, LGTM, approved

#7493 fix(DC): fix dc virtual gateway and interface tags
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_gateway.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/XS, bugfix, LGTM, approved

#7480 feat(secmaster): add new datasource to get list of security reports
  docs/data-sources/secmaster_security_reports.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_security_reports_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_security_reports.go
Labels: size/L, feature, LGTM, approved

#7488 feat(secmaster): add new datasource to get list of workflow instances
  .github/workflows/doc-lint.yml
  .golangci.yml
  docs/data-sources/secmaster_workflow_instances.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_workflow_instances_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_workflow_instances.go
Labels: size/L, feature, LGTM, approved

#7490 feat(secmaster): support `secmaster_soc_components` and `secmaster_soc_component_detail` data sources
  docs/data-sources/secmaster_soc_component_detail.md
  docs/data-sources/secmaster_soc_components.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_soc_component_detail_test.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_soc_components_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_soc_component_detail.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_soc_components.go
Labels: size/L, feature, LGTM, approved

#7499 feat(DNS): support to get tags
  docs/data-sources/dns_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_tags_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_tags.go
Labels: size/M, feature, LGTM, approved

#7495 fix(DC): fix dc virtual interface vgw_id to optional
  docs/resources/dc_virtual_interface.md
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/S, bugfix, LGTM, approved

#7500 fix(GeminiDB): fix gaussdb instance datastore version
  go.mod
  go.sum
  vendor/github.com/chnsz/golangsdk/openstack/geminidb/v3/instances/results.go
  vendor/go.mongodb.org/mongo-driver/bson/bsonrw/extjson_writer.go
  vendor/modules.txt
Labels: size/XS, bugfix, dependencies, LGTM, approved

#7503 chore(hss): deprecated cce protection resource
  huaweicloud/provider.go
  huaweicloud/services/acceptance/deprecated/resource_huaweicloud_hss_cce_protection_test.go
  huaweicloud/services/deprecated/resource_huaweicloud_hss_cce_protection.go
Labels: size/XS, chore, LGTM, approved

#7506 feat(DNS): support tags filter
  docs/data-sources/dns_tags_filter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_tags_filter_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_tags.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_tags_filter.go
Labels: size/L, feature, LGTM, approved

#7507 docs(CodeArts): fix example
  docs/resources/codearts_repository.md
Labels: documentation, size/XS, LGTM, approved

#7504 feat(workspace): add new resource to batch operate servers
  docs/resources/workspace_app_server_batch_action.md
  go.mod
  go.sum
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_server_batch_action_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_server_batch_action.go
  vendor/github.com/chnsz/golangsdk/errors.go
  vendor/github.com/chnsz/golangsdk/provider_client.go
  vendor/modules.txt
Labels: size/L, feature, dependencies, LGTM, approved

#7508 feat(hss): new resource to enable cce protection
  docs/resources/hss_container_kubernetes_cluster_protection_enable.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/resource_huaweicloud_hss_container_kubernetes_cluster_protection_enable_test.go
  huaweicloud/services/hss/resource_huaweicloud_hss_container_kubernetes_cluster_protection_enable.go
Labels: size/L, feature, LGTM, approved

#7501 feat(workspace): add new resource for manage application
  docs/resources/workspace_application.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_publishment_test.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_application_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_application.go
Labels: size/L, feature, LGTM, approved

#7509 feat(hss): new datasource to query cce configs
  docs/data-sources/hss_container_kubernetes_clusters_configs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/hss/data_source_huaweicloud_hss_container_kubernetes_clusters_configs_test.go
  huaweicloud/services/hss/data_source_huaweicloud_hss_container_kubernetes_clusters_configs.go
Labels: size/L, feature, LGTM, approved

#7502 feat(secmaster): add new datasource to get list of alert rule templates
  docs/data-sources/secmasterv2_alert_rule_templates.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmasterv2_alert_rule_templates_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmasterv2_alert_rule_templates.go
Labels: size/L, feature, LGTM, approved

#7526 feat(DC): add dc hosted connects data source
  docs/data-sources/dc_connect_gateway_geips.md
  docs/data-sources/dc_hosted_connects.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dc/data_source_huaweicloud_dc_hosted_connects_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_hosted_connects.go
Labels: size/L, feature, LGTM, approved

#7513 feat(cce): add new data_source cluster_upgrade_info
  docs/data-sources/cce_cluster_upgrade_info.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cce/data_source_huaweicloud_cce_cluster_upgrade_info_test.go
  huaweicloud/services/cce/data_source_huaweicloud_cce_cluster_upgrade_info.go
Labels: size/L, feature, LGTM, approved

#7311 chore(examples/cbh): adjust script and readme of the best practices
  examples/cbh/basic-instance/README.md
  examples/cbh/basic-instance/main.tf
  examples/cbh/basic-instance/providers.tf
  examples/cbh/basic-instance/terraform.tfvars
  examples/cbh/basic-instance/variables.tf
  examples/cbh/basic-instance/varible.tf
  examples/cbh/ha-instance/README.md
  examples/cbh/ha-instance/main.tf
  examples/cbh/ha-instance/providers.tf
  examples/cbh/ha-instance/terraform.tfvars
  examples/cbh/ha-instance/variables.tf
  examples/cbh/ha-instance/varible.tf
Labels: size/L, chore, LGTM, approved

#7522 feat(workspace): add new data source for query applications
  docs/data-sources/workspace_applications.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_applications_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_applications.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_application.go
Labels: size/L, feature, LGTM, approved

#7531 feat(DNS): support to get endpoints
  docs/data-sources/dns_endpoints.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_endpoints_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_endpoints.go
Labels: size/L, feature, LGTM, approved

#7511 feat(secmaster): support `soc_component_actions` and `soc_component_action_detail` data sources
  docs/data-sources/secmaster_soc_component_action_detail.md
  docs/data-sources/secmaster_soc_component_actions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_soc_component_action_detail_test.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_soc_component_actions_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_soc_component_action_detail.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_soc_component_actions.go
Labels: size/L, feature, LGTM, approved

#7533 feat(DNS): support to get endpoint vpcs
  docs/data-sources/dns_endpoint_vpcs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dns_endpoint_vpcs_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dns_endpoint_vpcs.go
Labels: size/M, feature, LGTM, approved

#7519 feat(workspace/app): add new resource to batch disassociate application groups
  docs/resources/workspace_app_server_group_batch_disassociate.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_server_group_batch_disassociate_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_group_batch_disassociate.go
Labels: size/M, feature, LGTM, approved

#7420 feat(CES): add CES one click alarm reset reource
  docs/resources/ces_one_click_alarm_reset.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/ces/resource_huaweicloud_ces_one_click_alarm_reset_test.go
  huaweicloud/services/ces/resource_huaweicloud_ces_one_click_alarm_reset.go
Labels: size/M, feature, LGTM, approved

#7555 feat(DC): add dc resources by tags data source
  docs/data-sources/dc_resources_by_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dc/data_source_huaweicloud_dc_resources_by_tags_test.go
  huaweicloud/services/dc/data_source_huaweicloud_dc_resources_by_tags.go
Labels: size/L, feature, LGTM, approved

#7552 feat(aad): new resource to unblock IP address
  docs/resources/aad_unblock_ip.md
  huaweicloud/provider.go
  huaweicloud/services/aad/resource_huaweicloud_aad_unblock_ip.go
  huaweicloud/services/acceptance/aad/resource_huaweicloud_aad_unblock_ip_test.go
Labels: size/M, feature, LGTM, approved

#7556 feat(cnad): new resource to set tag to protected IP
  docs/resources/cnad_advanced_protected_ip_tag.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_protected_ip_tag_test.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_protected_ip_tag.go
Labels: size/M, feature, LGTM, approved

#7516 feat(COC): add COC public script detail data source
  docs/data-sources/coc_public_script_detail.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_public_script_detail_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_public_script_detail.go
Labels: size/L, feature, LGTM, approved

#7545 refactor(vpcep): refactor policy_statement in resource endpoint
  go.mod
  go.sum
  huaweicloud/services/vpcep/resource_huaweicloud_vpcep_endpoint.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/vpcep/v1/endpoints/results.go
  vendor/modules.txt
Labels: size/S, size/XS, refactor, dependencies, LGTM, approved

#7559 fix(iam): fix response_type and response_mode in identity provider
  huaweicloud/services/acceptance/iam/resource_huaweicloud_identity_provider_test.go
  huaweicloud/services/iam/resource_huaweicloud_identity_provider.go
Labels: size/XS, bugfix, LGTM, approved

#7527 feat(secmaster): add new datasource to get list of workflow versions
  docs/data-sources/secmaster_workflow_versions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_workflow_versions_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_workflow_versions.go
Labels: size/L, feature, LGTM, approved

#7564 docs(DC): fix dc tags doc name
  docs/data-sources/dc_tags.md
Labels: documentation, size/XS, LGTM, approved

#7546 feat(secmaster): add new datasource to query layout wizard detail
  docs/data-sources/secmaster_layout_wizard_detail.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_layout_wizard_detail_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_layout_wizard_detail.go
Labels: size/L, feature, LGTM, approved

#7525 feat(workspace/app): add new resource to batch upgrade HDA versions
  docs/resources/workspace_app_hda_batch_upgrade.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/resource_huaweicloud_workspace_app_hda_batch_upgrade_test.go
  huaweicloud/services/workspace/resource_huaweicloud_workspace_app_hda_batch_upgrade.go
Labels: size/M, feature, LGTM, approved

#7543 feat(workspace/app): add new data source to get server quotas
  docs/data-sources/workspace_app_server_quotas.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/workspace/data_source_huaweicloud_workspace_app_server_quotas_test.go
  huaweicloud/services/workspace/data_source_huaweicloud_workspace_app_server_quotas.go
Labels: size/L, feature, LGTM, approved

#7558 feat(eg): add new data source to query connections
  docs/data-sources/eg_connections.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/eg/data_source_huaweicloud_eg_connections_test.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_connections.go
Labels: size/L, feature, LGTM, approved

#7414 feat(CDN): source support third bucket
  huaweicloud/services/cdn/resource_huaweicloud_cdn_domain.go
Labels: size/S, size/M, feature, LGTM, approved

#7576 feat(DNS): support PTR records management by v2.1 API
  docs/data-sources/dnsv21_ptrrecords.md
  docs/resources/dnsv21_ptrrecord.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/dns/data_source_huaweicloud_dnsv21_ptrrecords_test.go
  huaweicloud/services/acceptance/dns/resource_huaweicloud_dnsv21_ptrrecord_test.go
  huaweicloud/services/dns/data_source_huaweicloud_dnsv21_ptrrecords.go
  huaweicloud/services/dns/resource_huaweicloud_dnsv21_ptrrecord.go
Labels: size/L, feature, LGTM, approved

#7571 feat(fgs): add new data source to query resource tags
  docs/data-sources/fgs_resource_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_resource_tags_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_resource_tags.go
Labels: size/M, feature, LGTM, approved

#7582 feat(antiddos): antiddos basic resource support new API
  huaweicloud/services/antiddos/resource_huaweicloud_antiddos_basic.go
Labels: size/S, feature, LGTM, approved

#7574 feat(antiddos): new datasource to query eip exception events
  docs/data-sources/antiddos_eip_exception_events.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/antiddos/data_source_huaweicloud_antiddos_eip_exception_events_test.go
  huaweicloud/services/antiddos/data_source_huaweicloud_antiddos_eip_exception_events.go
Labels: size/M, feature, LGTM, approved

#7581 feat(Config): add config policy assignment evaluate status data source
  docs/data-sources/rms_policy_assignment_evaluate_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_policy_assignment_evaluate_status_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_policy_assignment_evaluate_status.go
Labels: size/L, size/M, feature, LGTM, approved

#7587 feat(cnad): new bind and unbind resources for policy IP
  docs/resources/cnad_advanced_policy_ip_binding.md
  docs/resources/cnad_advanced_policy_ip_unbinding.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_policy_ip_binding_test.go
  huaweicloud/services/acceptance/cnad/resource_huaweicloud_cnad_advanced_policy_ip_unbinding_test.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_policy_ip_binding.go
  huaweicloud/services/cnad/resource_huaweicloud_cnad_advanced_policy_ip_unbinding.go
Labels: size/L, size/M, feature, LGTM, approved

#7580 feat(aad): support `policy_black_white_lists` and `bandwidth_curve` data sources
  docs/data-sources/aad_bandwidth_curve.md
  docs/data-sources/aad_policy_black_white_lists.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_bandwidth_curve.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_policy_black_white_lists.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_bandwidth_curve_test.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_policy_black_white_lists_test.go
Labels: size/L, size/M, feature, LGTM, approved

#7593 feat(Config): add config policy assignment summary data source
  docs/data-sources/rms_policy_assignment_summary.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_policy_assignment_summary_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_policy_assignment_summary.go
Labels: size/L, feature, LGTM, approved

#7591 feat(aad): new datasource to query cc attack protection qps
  docs/data-sources/aad_cc_attack_protection_qps.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_cc_attack_protection_qps.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_cc_attack_protection_qps_test.go
Labels: size/M, feature, LGTM, approved

#7590 feat(waf): add data source to get list of security report subscriptions
  docs/data-sources/waf_security_report_subscriptions.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_security_report_subscriptions_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_security_report_subscriptions.go
Labels: size/L, feature, LGTM, approved

#7579 feat(waf): add new data source to query user bundle
  docs/data-sources/waf_bundle.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_bundle_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_bundle.go
Labels: size/M, feature, LGTM, approved

#7600 feat(aad): new datasource to query QPS curve
  docs/data-sources/aad_qps_curve.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_qps_curve.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_qps_curve_test.go
Labels: size/M, feature, LGTM, approved

#7603 feat(Config): add config resource policy states data source
  docs/data-sources/rms_resource_policy_states.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_policy_states_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_policy_states.go
Labels: size/L, feature, LGTM, approved

#7602 feat(Config): add config resource policy states summary data source
  docs/data-sources/rms_resource_policy_states_summary.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_policy_states_summary_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_policy_states_summary.go
Labels: size/L, feature, LGTM, approved

#7595 refactor(error): use ErrDefault409 instead of ErrUnexpectedResponseCode
  huaweicloud/services/apig/resource_huaweicloud_apig_instance_feature.go
  huaweicloud/services/ddm/common.go
  huaweicloud/services/ddm/resource_huaweicloud_ddm_schema.go
  huaweicloud/services/deprecated/resource_huaweicloud_csbs_backup_policy_v1.go
  huaweicloud/services/deprecated/resource_huaweicloud_csbs_backup_v1.go
  huaweicloud/services/deprecated/resource_huaweicloud_fw_policy_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_networking_network_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_networking_router_interface_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_networking_subnet_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_vbs_backup_policy_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_vpc_route_v2.go
  huaweicloud/services/deprecated/resource_huaweicloud_vpnaas_ipsec_policy_v2.go
  huaweicloud/services/gaussdb/common.go
  huaweicloud/services/iam/resource_huaweicloud_identity_policy.go
  huaweicloud/services/iec/resource_huaweicloud_iec_security_group.go
  huaweicloud/services/rds/common.go
  huaweicloud/services/taurusdb/common.go
  huaweicloud/services/taurusdb/resource_huaweicloud_gaussdb_mysql_database.go
  huaweicloud/services/vpc/resource_huaweicloud_networking_secgroup.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_peering_connection.go
  huaweicloud/services/vpc/resource_huaweicloud_vpc_subnet.go
Labels: size/M, refactor, LGTM, approved

#7610 fix(Config): remove region from config service
  docs/data-sources/rms_assignment_package_summary.md
  docs/data-sources/rms_policy_assignment_evaluate_status.md
  docs/data-sources/rms_policy_assignment_summary.md
  docs/data-sources/rms_resource_policy_states.md
  docs/data-sources/rms_resource_policy_states_summary.md
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_resource_policy_states_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_assignment_package_summary.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_policy_assignment_evaluate_status.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_policy_assignment_summary.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_policy_states.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_resource_policy_states_summary.go
Labels: size/S, bugfix, LGTM, approved

#7616 docs(cce): fix doc path of data_source cluster_upgrade_info
  docs/data-sources/cce_cluster_upgrade_info.md
Labels: documentation, size/XS, LGTM, approved

#7376 refactor(object/diff): using customize diff to refresh origin values
  huaweicloud/services/evs/resource_huaweicloud_evs_snapshot.go
  huaweicloud/services/evs/resource_huaweicloud_evsv3_snapshot.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
  huaweicloud/utils/resource_diff.go
  huaweicloud/utils/resource_diff_test.go
  huaweicloud/utils/state_management.go
  huaweicloud/utils/state_management_test.go
Labels: size/XL, size/L, size/M, chore, refactor, LGTM, approved

#7578 feat(eg): add new data source to get target catalogs
  docs/data-sources/eg_event_target_catalogs.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/eg/data_source_huaweicloud_eg_event_target_catalogs_test.go
  huaweicloud/services/eg/data_source_huaweicloud_eg_event_target_catalogs.go
Labels: size/L, feature, LGTM, approved

#7572 feat(dli/elastic_resource_pool): the resource supports prepaid mode
  docs/resources/dli_elastic_resource_pool.md
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/dli/resource_huaweicloud_dli_elastic_resource_pool_test.go
  huaweicloud/services/cbc/common.go
  huaweicloud/services/dli/resource_huaweicloud_dli_elastic_resource_pool.go
Labels: size/L, feature, LGTM, approved

#7601 feat(waf): add new data source to query domain running status
  docs/data-sources/waf_domain_status.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_domain_status_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_domain_status.go
Labels: size/M, feature, LGTM, approved

#7628 feat(Config): add config tags data source
  docs/data-sources/rms_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rms/data_source_huaweicloud_rms_tags_test.go
  huaweicloud/services/rms/data_source_huaweicloud_rms_tags.go
Labels: size/M, feature, LGTM, approved

#7606 feat(eg): add new resource for dispatch event to channel
  docs/resources/eg_event_batch_action.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/eg/resource_huaweicloud_eg_custom_event_source_test.go
  huaweicloud/services/acceptance/eg/resource_huaweicloud_eg_event_batch_action_test.go
  huaweicloud/services/eg/resource_huaweicloud_eg_event_batch_action.go
Labels: size/L, feature, LGTM, approved

#7592 feat(rocketmq): the instance resource supports 'tls_mode' field
  docs/resources/dms_rocketmq_instance.md
  huaweicloud/services/acceptance/rocketmq/resource_huaweicloud_dms_rocketmq_instance_test.go
  huaweicloud/services/rocketmq/common.go
  huaweicloud/services/rocketmq/resource_huaweicloud_dms_rocketmq_instance.go
Labels: size/M, feature, LGTM, approved

#7598 feat(rocketmq): add new data source to get azs
  docs/data-sources/dms_rocketmq_availability_zones.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rocketmq/data_source_huaweicloud_dms_rocketmq_availability_zones_test.go
  huaweicloud/services/rocketmq/data_source_huaweicloud_dms_rocketmq_availability_zones.go
Labels: size/M, feature, LGTM, approved

#7619 feat(rocketmq): add one-time resource to send message
  docs/resources/dms_rocketmq_message_send.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rocketmq/resource_huaweicloud_dms_rocketmq_message_send_test.go
  huaweicloud/services/rocketmq/resource_huaweicloud_dms_rocketmq_message_send.go
Labels: size/L, feature, LGTM, approved

#7632 feat(COC): add COC application views data source
  docs/data-sources/coc_application_views.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_application_views_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_application_views.go
Labels: size/L, feature, LGTM, approved

#7586 feat(cts): add new data source to query tags
  huaweicloud/docs/data-sources/cts_tags.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_tags_test.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_tags.go
Labels: size/L, size/M, feature, LGTM, approved

#7623 feat(aad): support `aad_ip_ddos_statistics` and `aad_flow_block` data sources
  docs/data-sources/aad_flow_block.md
  docs/data-sources/aad_ip_ddos_statistics.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_flow_block.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_ip_ddos_statistics.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_flow_block_test.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_ip_ddos_statistics_test.go
Labels: size/L, size/M, feature, LGTM, approved

#7637 feat(aad): support `aad_ddos_attack_protection_info` data source
  docs/data-sources/aad_ddos_attack_protection_info.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_ddos_attack_protection_info.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_ddos_attack_protection_info_test.go
Labels: size/L, feature, LGTM, approved

#7634 feat(COC): add COC application component resource
  docs/resources/coc_component.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_component_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_component.go
Labels: size/L, feature, LGTM, approved

#7596 feat(cts): add new data source to filter resource
  docs/data-sources/cts_resource_tags_filter.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/cts/data_source_huaweicloud_cts_resource_tags_filter_test.go
  huaweicloud/services/cts/data_source_huaweicloud_cts_resource_tags_filter.go
Labels: size/L, feature, LGTM, approved

#7642 feat(VPN): support to get gateway route tables
  docs/data-sources/vpn_gateway_route_tables.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/vpn/data_source_huaweicloud_vpn_gateway_route_tables_test.go
  huaweicloud/services/vpn/data_source_huaweicloud_vpn_gateway_route_tables.go
Labels: size/L, feature, LGTM, approved

#7622 feat(dms): add new resource to restart nodes
  docs/resources/dms_rocketmq_node_batch_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rocketmq/data_source_huaweicloud_dms_rocketmq_node_batch_restart_test.go
  huaweicloud/services/rocketmq/resource_huaweicloud_dms_rocketmq_node_batch_restart.go
Labels: size/M, feature, LGTM, approved

#7605 feat(rocketmq): add new data source to get background tasks
  docs/data-sources/dms_rocketmq_background_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rocketmq/data_source_huaweicloud_dms_rocketmq_background_tasks_test.go
  huaweicloud/services/rocketmq/data_source_huaweicloud_dms_rocketmq_background_tasks.go
Labels: size/L, feature, LGTM, approved

#7650 fix(DNS): fix API comment
  huaweicloud/services/dns/data_source_huaweicloud_dns_tags_filter.go
Labels: size/XS, bugfix, LGTM, approved

#7652 fix(dms): fix update function of enable forcenew
  huaweicloud/services/rocketmq/resource_huaweicloud_dms_rocketmq_node_batch_restart.go
Labels: size/XS, bugfix, feature, LGTM, approved

#7651 fix(DC): change dc virtual interface priorty from attribute to param
  docs/resources/dc_virtual_interface.md
  huaweicloud/services/acceptance/dc/resource_huaweicloud_dc_virtual_interface_test.go
  huaweicloud/services/dc/resource_huaweicloud_dc_virtual_interface.go
Labels: size/S, bugfix, LGTM, approved

#7645 refactor(apig): Application authorization supports partial management
  docs/resources/apig_application_authorization.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/apig/resource_huaweicloud_apig_application_authorization_test.go
  huaweicloud/services/apig/resource_huaweicloud_apig_application_authorization.go
  huaweicloud/utils/resource_diff.go
  huaweicloud/utils/resource_diff_test.go
  huaweicloud/utils/state_management.go
  huaweicloud/utils/state_management_test.go
  huaweicloud/utils/utils.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/appauths/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/appauths/results.go
  vendor/github.com/chnsz/golangsdk/openstack/apigw/dedicated/v2/appauths/urls.go
  vendor/modules.txt
Labels: size/XL, refactor, LGTM, approved

#7636 feat(rocketmq): add new data source to get dead letter messages
  docs/data-sources/dms_rocketmq_dead_letter_messages.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rocketmq/data_source_huaweicloud_dms_rocketmq_dead_letter_messages_test.go
  huaweicloud/services/rocketmq/data_source_huaweicloud_dms_rocketmq_dead_letter_messages.go
Labels: size/L, feature, LGTM, approved

#7643 feat(aad): support `aad_instance_domains` and `aad_attack_events` data sources
  docs/data-sources/aad_attack_events.md
  docs/data-sources/aad_instance_domains.md
  huaweicloud/provider.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_attack_events.go
  huaweicloud/services/aad/data_source_huaweicloud_aad_instance_domains.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_attack_events_test.go
  huaweicloud/services/acceptance/aad/data_source_huaweicloud_aad_instance_domains_test.go
Labels: size/L, size/M, feature, LGTM, approved

#7656 fix(fgs/function): All enable parameters support computed behavior
  huaweicloud/services/fgs/resource_huaweicloud_fgs_function.go
Labels: size/S, bugfix, LGTM, approved

#7660 Revert "Update CHANGELOG for 1.77.6"
  CHANGELOG.md
Labels: size/XS, approved

#7644 feat(COC): add COC group resource
  docs/resources/coc_group.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/resource_huaweicloud_coc_group_test.go
  huaweicloud/services/coc/resource_huaweicloud_coc_group.go
Labels: size/L, feature, LGTM, approved

#7659 feat(Config): add config resource aggregation pending request delete
  docs/resources/rms_resource_aggregation_pending_request_delete.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_resource_aggregation_pending_request_delete_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_resource_aggregation_pending_request_delete.go
Labels: size/M, feature, LGTM, approved

#7436 feat(COC): add COC application next models data source
  docs/data-sources/coc_application_next_models.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_application_next_models_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_application_next_models.go
Labels: size/L, feature, LGTM, approved

#7658 feat(secmaster): add new data source to get list of layout fields
  docs/data-sources/secmaster_layout_fields.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/secmaster/data_source_huaweicloud_secmaster_layout_fields_test.go
  huaweicloud/services/secmaster/data_source_huaweicloud_secmaster_layout_fields.go
Labels: size/L, feature, LGTM, approved

#7639 feat(waf): add new data source to get the list of attack events
  docs/data-sources/waf_events.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/waf/data_source_huaweicloud_waf_events_test.go
  huaweicloud/services/waf/data_source_huaweicloud_waf_events.go
Labels: size/L, feature, LGTM, approved

#7666 feat(Config): add config policy assignment evaluate result update resource
  docs/resources/rms_policy_assignment_evaluate_result_update.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/rms/resource_huaweicloud_rms_policy_assignment_evaluate_result_update_test.go
  huaweicloud/services/rms/resource_huaweicloud_rms_policy_assignment_evaluate_result_update.go
Labels: size/L, feature, LGTM, approved

#7665 feat(COC): add COC groups data source
  docs/data-sources/coc_groups.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/coc/data_source_huaweicloud_coc_groups_test.go
  huaweicloud/services/coc/data_source_huaweicloud_coc_groups.go
  huaweicloud/services/coc/resource_huaweicloud_coc_group.go
Labels: size/L, feature, LGTM, approved

#7669 feat(RDS): add rds business partners data source
  docs/data-sources/rds_business_partners.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_business_partners_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_business_partners.go
Labels: size/M, feature, LGTM, approved

#7577 feat(fgs): add new resource to manage VPC endpoint via FGS side
  docs/resources/fgs_vpc_endpoint.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_vpc_endpoint_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_vpc_endpoint.go
Labels: size/L, feature, LGTM, approved

#7670 feat(RDS): add rds marketplace engine products data source
  docs/data-sources/rds_marketplace_engine_products.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_marketplace_engine_products_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_marketplace_engine_products.go
Labels: size/L, feature, LGTM, approved

#7672 feat(CodeArts/Pipeline): support to get available plugins
  docs/data-sources/codearts_pipeline_available_plugins.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/codeartspipeline/data_source_huaweicloud_codearts_pipeline_available_plugins_test.go
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_available_plugins.go
  huaweicloud/services/codeartspipeline/resource_huaweicloud_codearts_pipeline.go
Labels: size/L, feature, LGTM, approved

#7609 feat(fgs): add new resource that used to manage asynchronous log configuration
  docs/resources/fgs_async_log_configuration.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/resource_huaweicloud_fgs_async_log_configuration_test.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_async_log_configuration.go
  huaweicloud/services/lts/data_source_huaweicloud_lts_transfers.go
  huaweicloud/services/lts/resource_huaweicloud_lts_group.go
  huaweicloud/services/lts/resource_huaweicloud_lts_stream.go
  huaweicloud/services/lts/resource_huaweicloud_lts_transfer.go
Labels: size/L, bugfix, feature, LGTM, approved

#7653 feat(fgs): add new data source to query async invoke configurations
  huaweicloud/docs/data-sources/fgs_async_invoke_configurations.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/fgs/data_source_huaweicloud_fgs_async_invoke_configurations_test.go
  huaweicloud/services/fgs/data_source_huaweicloud_fgs_async_invoke_configurations.go
  huaweicloud/services/fgs/resource_huaweicloud_fgs_async_invoke_configuration.go
Labels: size/L, feature, LGTM, approved

#7662 feat(eg): add new resource for manage event subscription target
  docs/resources/eg_event_subscription_target.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/acceptance.go
  huaweicloud/services/acceptance/eg/resource_huaweicloud_eg_event_subscription_target_test.go
  huaweicloud/services/eg/resource_huaweicloud_eg_event_subscription_target.go
Labels: size/XL, feature, LGTM, approved

#7676 fix(CodeArts/Pipeline): fix available plugins list result
  huaweicloud/services/codeartspipeline/data_source_huaweicloud_codearts_pipeline_available_plugins.go
Labels: size/S, bugfix, LGTM, approved

#7667 feat(antiddos): new datasource to query quota
  docs/data-sources/antiddos_quota.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/antiddos/data_source_huaweicloud_antiddos_quota_test.go
  huaweicloud/services/antiddos/data_source_huaweicloud_antiddos_quota.go
Labels: size/M, feature, LGTM, approved

#7677 feat(RDS): add rds instant tasks data source
  docs/data-sources/rds_instant_tasks.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/data_source_huaweicloud_rds_instant_tasks_test.go
  huaweicloud/services/rds/data_source_huaweicloud_rds_instant_tasks.go
Labels: size/L, feature, LGTM, approved

#7657 feat(provider): support role chain in huaweicloud
  docs/index.md
  huaweicloud/config/auth.go
  huaweicloud/config/config.go
  huaweicloud/provider.go
Labels: size/M, feature, LGTM, approved

#7682 feat(RDS): add rds instance restart resource
  docs/resources/rds_instance_restart.md
  huaweicloud/provider.go
  huaweicloud/services/acceptance/rds/resource_huaweicloud_rds_instance_restart_test.go
  huaweicloud/services/rds/resource_huaweicloud_rds_instance_restart.go
Labels: size/L, feature, LGTM, approved

#7674 feat(cae): add enterprise_project_id parameter for some resources
  docs/resources/cae_certificate.md
  docs/resources/cae_domain.md
  docs/resources/cae_timer_rule.md
  docs/resources/cae_vpc_egress.md
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_certificate_test.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_domain_test.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_timer_rule_test.go
  huaweicloud/services/acceptance/cae/resource_huaweicloud_cae_vpc_egress_test.go
  huaweicloud/services/cae/resource_huaweicloud_cae_certificate.go
  huaweicloud/services/cae/resource_huaweicloud_cae_domain.go
  huaweicloud/services/cae/resource_huaweicloud_cae_timer_rule.go
  huaweicloud/services/cae/resource_huaweicloud_cae_vpc_egress.go
Labels: size/L, feature, LGTM, approved

#7683 feat(oidc): add assume role with oidc support
  docs/index.md
  huaweicloud/config/auth.go
  huaweicloud/config/config.go
  huaweicloud/provider.go
Labels: size/L, feature, LGTM, approved

#7686 chore(kafka/instance): replace creation api and add new field
  docs/resources/dms_kafka_instance.md
  go.mod
  go.sum
  huaweicloud/services/acceptance/kafka/resource_huaweicloud_dms_kafka_instance_test.go
  huaweicloud/services/kafka/resource_huaweicloud_dms_kafka_instance.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/requests.go
  vendor/github.com/chnsz/golangsdk/openstack/dms/v2/kafka/instances/urls.go
  vendor/modules.txt
Labels: size/L, chore, dependencies, LGTM, approved
